﻿@model HRMS.Entities.DrivingLicenseModel


@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/DrivingLicense.js"></script>
<script>

    function ValidateForm() {
    }

    $("#btnCancel").click(function () {
        //   location.href = "/DrivingLicense/Index";
      
       $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        alert(error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            $("#myModal").modal("hide");
            getGridDrivingLicense();

            //else if (data.InitiatorIdentity = "btnSubmitAndNew") {
            //    alert(data.Message);
            //    // $("#myModal").modal("hide");
            //    getGrid();
            //    // timer = setInterval(AddDrivingLicense,1000);
            //}
        }
        else {
            alert(data.Message);
        }

    }

</script>

@using (Ajax.BeginForm("EditDrivingLicense", "DrivingLicense", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditDrivingLicense" }))
{
    <div class="form-group">
        <input type="submit" id="btnSubmit" onclick="ValidateForm();" class="btn btn-primary" value="Update" />
        <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" />
    </div>

    @Html.HiddenFor(x => x.DocDrivingLicenseId)
    <div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                @*<div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">DrivingLicense DETAILS</a>
                    </h4>
                </div>*@
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="doctables" style="width:50%;float:left;">
                            <tr>
                                <td>Document No : </td>
                                <td>
                                    @Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DocumentNo)
                                </td>
                            </tr>
                            <tr>
                                <td>Issue Country : </td>
                                <td>
                                    @Html.DropDownListFor(m => m.IssueCountry, (SelectList)ViewBag.Country, "Select Country", new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(m => m.IssueCountry)
                                </td>
                            </tr>
                            <tr>
                                <td>Issue Place : </td>
                                <td>
                                    @Html.TextBoxFor(m => m.IssuePlace, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IssuePlace)
                                </td>
                            </tr>
                        </table>
                        <table style="width:50%;float:right;">
                            <tr>
                                <td>Issue Date : </td>
                                <td>
                                    @Html.TextBoxFor(m => m.IssueDate, new { @class = "datepicker form-control" })
                                    @Html.ValidationMessageFor(m => m.IssueDate)
                                </td>
                            </tr>
                            <tr>
                                <td>Expiry Date : </td>
                                <td>
                                    @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "datepicker form-control" })
                                    @Html.ValidationMessageFor(m => m.ExpiryDate)
                                </td>
                            </tr>
                            <tr>
                                <td>Note : </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Note)
                                </td>
                            </tr>
                            <tr>
                                <td>Is Primary : </td>
                                <td>
                                    <select id="IsPrimary" class="form-control"><option value="true">True</option><option value="false">False</option></select>
                                    @Html.ValidationMessageFor(m => m.IsPrimary)
                                </td>
                            </tr>
                            <tr>
                                <td>Employee : </td>
                                <td>
                                    @Html.DropDownListFor(m => m.EmployeeId, (SelectList)ViewBag.Employee, "Select Employee", new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(m => m.EmployeeId)
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

