﻿@{
    Layout = null;
}

<div class="row">
    <table id="tbl_PassportList" class="display table table-bordered table-striped" width="100%"></table>
</div>

<input type="hidden" value="@ViewBag.empid.ToString()" id="hidSelectedEMP" name="hidSelectedEMP" />


 