﻿@model HRMS.Entities.DocumentsModel


@{
    Layout = null;
    HRMS.Entities.ViewModel.UserContextViewModel objUserContextViewModel = new HRMS.Entities.ViewModel.UserContextViewModel();
    objUserContextViewModel = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Document Name/No:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.DocNo</label>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Issue Country:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.IssueCountry</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Issue Place::</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.IssuePlace</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Issue Date:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.IssueDate</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Expiry Date:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.ExpiryDate</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Note:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.Note</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Primary:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Html.CheckBoxFor(m => m.IsPrimary, new { @disabled = "disabled" })</label>
                    </div>
                </div>
            </div>

            
            @if ((string)ViewBag.Status == "true")
            {
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Document File:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form"><a href="#" onclick='ViewDocumentById(@Model.DocId.ToString())' id="FileLink">View Doc File</a></label>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>
<div class="panel-footer">
    <input type="submit" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />
</div>



