﻿@model HRMS.Entities.PayCycle
@{ Layout = null;}
<script>

    function Start() {
        $.blockUI();
    }

    function SucessCompany(arg) {
        $.unblockUI();
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        if (arg.responseJSON.result == 'success')
        {
            $("#myModal").modal("hide");
        }        
        getGrid();
    }

    var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;

    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("Save", "PayCycle", new AjaxOptions { OnBegin = "Start", OnComplete = "SucessCompany" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.PayCycleID, new { @class = "hiddenPayCycleId" })

            <div class="form-horizontal col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">                        
                    </div>
                    <div class="col-sm-7">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.PayCycleName_1, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.PayCycleName_1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PayCycleName_1)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.PayCycleName_2, new { @class = "label-form " })
                    </div>
                    <div class="col-sm-7 ">
                        @Html.TextBoxFor(m => m.PayCycleName_2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PayCycleName_2)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.PayCycleName_3, new { @class = "label-form " })
                    </div>
                    <div class="col-sm-7 ">
                        @Html.TextBoxFor(m => m.PayCycleName_3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PayCycleName_3)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.DateFrom, new { @class = "label-form " })
                    </div>
                    <div class="col-sm-7 ">
                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "datepicker form-control" })
                        @Html.ValidationMessageFor(m => m.DateFrom)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.DateTo, new { @class = "label-form " })
                    </div>
                    <div class="col-sm-7 ">
                        @Html.TextBoxFor(m => m.DateTo, new { @class = "datepicker form-control" })
                        @Html.ValidationMessageFor(m => m.DateTo)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.acyear, new { @class = "label-form " })
                    </div>
                    <div class="col-sm-7 ">
                        @Html.DropDownListFor(m => m.acyear, (List<SelectListItem>)ViewBag.AcademicYearList, new { @class = "form-control selectpickerddl" })
                        @Html.ValidationMessageFor(m => m.acyear)
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.active, new { @class = "label-form " })
                    </div>
                    <div class="col-sm-7">
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(m => m.active, new { @onclick = "ValidateCycle(this," + Model.PayCycleID + ")" })</label>
                        </div>
                        @Html.ValidationMessageFor(m => m.active)
                    </div>                 
                </div>
                <div class="form-group col-sm-12 hidden" id="warningMessage">
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong><span id="AlertMessage"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="@(Model.PayCycleID > 0 ?"Update":"Save")" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>

    }
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>


