﻿@model HRMS.Entities.PayrollRequestDetailModel
@{
    Layout = null;
    string AmountFormate = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
<div class="panel panel-default" id="divBankInformation">

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3 "><label class="label-form">Name:</label></div>
                <div class="col-sm-6"><label class="label-form">@Model.EmployeeName</label></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3 "><label class="label-form">@Model.HeaderName:</label></div>
                <div class="col-sm-6"><label class="label-form">@Model.ItemName</label></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3 "><label class="label-form">Action Type:</label></div>
                <div class="col-sm-6"><label class="label-form"><label class="label-form">@Model.ActionType</label></label></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3 "><label class="label-form">Amount:</label></div>
                <div class="col-sm-6">@Model.Amount.ToString(AmountFormate)</div>
            </div>
            <div class="col-sm-12" @(Model.HeaderName == "Sundry" ? "class=hidden" : "")>
                <div class="col-sm-3 "><label class="label-form">Note:</label></div>
                <div class="col-sm-6"><label class="label-form">@Model.Note</label></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3 "><label class="label-form">@Model.DateHeaderName:</label></div>
                <div class="col-sm-6"><label class="label-form">@Model.TrDate</label></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />
    </div>
</div>