﻿@{
    ViewBag.Title = "HRMS - Payroll Verification";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Payroll Verification</li>
    </ul>
}
<div class="row">
    <div class="col-md-12">
        <div id="panel-student" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-ticket"></span>
                    Payroll Verification
                </h3>
                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="LoadPayrollVerification()" title="Payroll Verification Setting" id="btnVerificationSetting" class="btn btn-info btn-rounded btn-condensed btn-sm btn-middleIcon btnVerificationSetting"><i class="fa fa-cog fa-2x"></i> </a>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive panel-default col-sm-12 padding-0" id="divGratuitySetupTable">
                        <table id="tbl_Payrollvarification" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Custom/Payroll/PayrollVarification.js"></script>
}
