﻿@model HRMS.Entities.PayrollRequestDetailModel
@{
    Layout = null;
    string AmountFormate = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
<div class="panel panel-default" id="divBankInformation">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Payroll Request Details</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse">
        <div class="panel-body">
            <div class="row margin_bottom">
                <div class="col-sm-12">
                    <div class="col-sm-3 "><label class="label-form">Name:</label></div>
                    <div class="col-sm-6"><label class="label-form">@Model.EmployeeName</label></div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3 "><label class="label-form">@Model.HeaderName:</label></div>
                    <div class="col-sm-6"><label class="label-form">@Model.ItemName</label></div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3 "><label class="label-form">Action Type:</label></div>
                    <div class="col-sm-6"><label class="label-form">@Model.ActionType</label></div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3 "><label class="label-form">Amount:</label></div>
                    <div class="col-sm-6"><label class="label-form">@Model.Amount.ToString(AmountFormate)</label></div>
                </div>
                @if (Model.HeaderName == "Deduction")
                {
                    <div class="col-sm-12">
                        <div class="col-sm-3 "><label class="label-form">Paid Cycle:</label></div>
                        <div class="col-sm-6"><label class="label-form">@Model.Installments</label></div>
                    </div>
                }
                <div class="col-sm-12" @(Model.HeaderName == "Sundry" ? "class=hidden" : "")>
                    <div class="col-sm-3 "><label class="label-form">Note:</label></div>
                    <div class="col-sm-6"><label class="label-form">@Model.Note</label></div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3 "><label class="label-form">@Model.DateHeaderName:</label></div>
                    <div class="col-sm-6"><label class="label-form">@Model.TrDate</label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @*<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">JOB INFORMATION</a>*@
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Deduction Details</a>
                @*<a href="#collapseTwo">JOB INFORMATION</a>*@
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-12" style="overflow-x:hidden; max-height:300px">
                    <h5></h5>
                    <table class="table table-bordered dataTablei">
                        <thead>
                            <tr>
                                <th>Deduction Date</th>
                                <th>Amount</th>
                                <th>Comments</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<HRMS.Entities.PayDeductionDetailModel>)ViewBag.Details)
                            {
                                <tr>
                                    <td>@item.DeductionDate</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Comments</td>
                                    <td><input type="checkbox" @(item.IsActive ? "checked='checked'" : "") disabled /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />
    </div>
</div>