﻿
@model List<HRMS.Entities.PayrollVerificationSetting>

@{
    Layout = null;
}

<div class="panel panel-default" id="ChangeVerificationSetting">
    <div class="panel-body">

        <div class="">
            <table id="PayrollSettingTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Module Type Name
                        </th>
                        <th>
                            Is Enable
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="cursorPointer" id="rowId_@(item.PayrollVerificationID)">

                            <td>@item.ModuleName</td>
                            <td>
                                @if (item.IsEnabled)
                                {
                                    @Html.CheckBox("chkisEnabled" + item.PayrollVerificationID, true, new { data_id = item.PayrollVerificationID, @class = "checkbox" })
                                }
                                else
                                {
                                    @Html.CheckBox("chkisEnabled" + item.PayrollVerificationID, false, new { data_id = item.PayrollVerificationID, @class = "checkbox" })
                                    @*@Html.CheckBox("chkisEnabled", true, new { id = "chkisEnabled", @checked = "checked" })*@
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">

        <input type="button" value="Save" onclick="SavePayrollVerificationSetting()" class="btn btn-primary pull-right" id="updateFamilyName" />
        <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />

    </div>
</div>
<script>
    $("#PayrollSettingTable").DataTable({
        "paging": false,
        //"ordering": false,
        "searching": false,
        "info": false,
        aaSorting: [[1, 'asc']]
    });
</script>

