﻿@model string

@if (Model.ToString() != "0")
{
    if (ViewBag.IsPermisssion)
    {
        <div class="col-lg-offset-3 col-sm-6 padding-0 cursorPointer" data-Url="/PayRequestConfirmation/Index" style="" id="PayrollwarningMessage">
            <div id="" class="alert alert-info" role="alert">
                <button id="btnpayrollWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>@Model.ToString() new payroll confirmation request has made. Do you want confirm that request?</strong><span id="lblTotalEmployeeNotinPayroll"></span>
            </div>
        </div>
    }   
}
else
{

}