﻿@using System.Web;
@{
    ViewBag.Title = "HRMS - Log in Failure";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <style>
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            right:25%;          
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    </style>
    <script src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var test = '@TempData["message"]';
            if ('@ViewBag.message' != '') {
                ShowStatusMessage('@ViewBag.message');
            }
            else if ('@TempData["message"]' != '') {
                ShowStatusMessage('@TempData["message"]');
            }


        });
        function ShowStatusMessage(text) {            
            $("#divMessage").html(text);
        }
        function BackToLogin() {
            location.href = "/Account/LogOff/";
        }
        // Hide top menu bar

        $('ul.nav.nav-pills').css('display', 'none');
        $('#sidebar').css('display', 'none');

    </script>
    <!-- META SECTION -->
    <title>ICAMPUS HRMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/assets/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->

</head>
<body>
    <div class="login-container">
        <div class="vertical-center">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="alert alert-danger" role="alert">
                        @*<button type="button" id="btnWarningBoxClose" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                       <span id="divMessage"> Sorry! You have no permission to login in HRMS,please contact administration.</span>
                    </div>
                </div>
                <div class="col-md-2"></div>               
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="col-md-8">                          
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-block" onclick="BackToLogin();">Login</button>
                        </div>
                    </div>
                        <div class="col-md-2"></div>
                       
                    </div>
            </div>
        </div>
        </div>
</body>

</html>



