﻿@model HRMS.Entities.ViewModel.LoginViewModel
@using System.Web;
@{
    ViewBag.Title = "Account - Log in";
    Layout = null;
}
@{
    //string HRMSVersion = HRMS.Web.CommonHelper.CommonHelper.GetHRMSVersion();
    var hrSetting = HRMS.Web.CommonHelper.CommonHelper.GetHrSettings();
   
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <style>
        .login-box {
            width: 430px !important;
        }

        .login-title {
            font-size: 16px !important;
        }
    </style>
    <script src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ismicrosoftauth = $("#hdnMicrosoftAuth").val();
            var test = '@TempData["message"]';
            if ('@ViewBag.message' != '') {
                ShowStatusMessage('@ViewBag.message');
            }
            else if ('@TempData["message"]' != '') {
                ShowStatusMessage('@TempData["message"]');
            }
            $("#Username").focus();

            setTimeout(function () {
                $("#permissionError").addClass("hide");
            }, 10000);

            $("#btnWarningBoxClose").click(function (e) {
                $("#permissionError").remove();
            });

        });
        function ShowStatusMessage(text) {
            $("#divMessage").html(text);
        }

        // Hide top menu bar

        $('ul.nav.nav-pills').css('display', 'none');
        $('#sidebar').css('display', 'none');




    </script>
    <!-- META SECTION -->
    <title>ICAMPUS HRMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/assets/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
    <style type="text/css">
        #divMessage {
            padding-bottom: 10px;
        }

        #divMessage, .field-validation-error {
            color: #e04a39;
        }
    </style>
</head>
<body>
    <div class="login-container" id="divLoginContainer">
        @*@{

                //*** Danny- Validating Cookies Enabled or not
                string[] HRMScookie = Request.Cookies.AllKeys;
                if (HRMScookie == null || HRMScookie.Length==0)
                {
                    <div class="margin_bottom col-sm-12"> </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div id="CookiesError" class="alert alert-danger" role="alert">
                                <button type="button" id="btnWarningBoxClose" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <strong>Sorry! </strong>Cookies are not enabled. Please enable the Cookies!
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                }
            }*@
        @if (Convert.ToBoolean(ViewBag.PermissionFailed))
        {


            <div class="margin_bottom col-sm-12"> </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div id="permissionError" class="alert alert-danger" role="alert">
                        <button type="button" id="btnWarningBoxClose" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Sorry! </strong>You have no permission to login in HRMS. Please contact with your administrator.
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>

        }


        <div class="login-box animated fadeInDown">
            <input type="hidden" value="@hrSetting.IsMicrosoftAuthEnabled.ToString()" id="hdnMicrosoftAuth" name="hdnMicrosoftAuth">

            @*<div class="login-logo"></div>*@
            <div class="login-body">
                <div class="login-title"><strong>WELCOME TO ICAMPUS HRMS</strong>, Please login</div>
                <div id="divMessage"></div>

                <form action="/Account/UserLogin" class="form-horizontal" method="post">
                    <input type="hidden" value="@ViewBag.returnUrl" id="returnUrl" name="returnUrl">

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(model => model.Username)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(model => Model.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @*<a href="#" class="btn btn-link btn-block">Forgot your password?</a>*@
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2017-@DateTime.Now.Year.ToString() ICAMPUS HRMS
                </div>
                <div class="pull-right">
                    @if (!string.IsNullOrEmpty(hrSetting.HrVersion))
                    {
                        @("V" + hrSetting.HrVersion)
                    }

                </div>
            </div>
        </div>

    </div>
</body>

</html>
