﻿@model HRMS.Entities.Forms.RecruitR1UnBudgetedViewModel
@{
    ViewBag.Title = "HRMS - Hiring R1 UnBudgeted";

}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Hiring R1 UnBudgeted</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-8 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Hiring R1 UnBudgeted
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 1, requestDate = Model.RecruitR1UnBudgetedModel.CreatedOn, employeeID = Model.RecruitR1UnBudgetedModel.RequesterEmployeeID, isAddMode = false, formProcessId = Model.RecruitR1UnBudgetedModel.FormProcessID }); }
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">

                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Hiring Details:
                            </span>

                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(m => m.RecruitR1UnBudgetedModel.CompanyID, new { @class = "label-form" })
                                    </div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.CompanyName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.AcademicYearID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AcademicYearName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.EmploymentModeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmploymentModeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.RecCategoryID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecCategoryName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.EmployeeJobCategoryID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmployeeJobCategoryName)</span></div>
                                </div>
                                 <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.UserTypeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.UserTypeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.DepartmentID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.DepartmentName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ProjectData, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.ProjectData)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.HMEmployeeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HMEmployeeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.HMDesignation, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.HMDesignation)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.PositionLocation, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.PositionLocation)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.HeadCount, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.HeadCount)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.JobGradeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.JobGradeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ReportingEmployeeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ReportingEmployeeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.MinExpRequired, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.MinExpRequired)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.SourceID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.SourceName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.RecruitFromID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitFromName)</span></div>
                                </div>


                            </div>

                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.PositionID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PositionTitle)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.SalaryRangesID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.SalaryRanges)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ActualBudget, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.ActualBudget)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.VehicleToolTrade, new { @class = "label-form" })</div>

                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.VehicleToolTrade != null && (bool)Model.RecruitR1UnBudgetedModel.VehicleToolTrade)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }

                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ContractStatus, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.ContractStatus)</span></div>
                                </div>
                                @if (Model.RecruitR1UnBudgetedModel.ContractStatus == "Family")
                                {
                                    <div class="form-group col-sm-12 padding-0">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.FamilySpouse, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.FamilySpouse)</span></div>
                                    </div>
                                }

                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.AnnualAirTicket, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.AnnualAirTicket != null && (bool)Model.RecruitR1UnBudgetedModel.AnnualAirTicket)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }

                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.AirfareFrequencyID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareFrequencyName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.AirfareClassID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareClassName)</span></div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.HealthInsurance, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.HealthInsurance != null && (bool)Model.RecruitR1UnBudgetedModel.HealthInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.LifeInsurance, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.LifeInsurance != null && (bool)Model.RecruitR1UnBudgetedModel.LifeInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.SalikTag, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.SalikTag != null && (bool)Model.RecruitR1UnBudgetedModel.SalikTag)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>

                                @if (Model.RecruitR1UnBudgetedModel.SalikTag != null && (bool)Model.RecruitR1UnBudgetedModel.SalikTag)
                                {
                                    <div class="form-group col-sm-12 padding-0">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.SalikAmount, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.SalikAmount)</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.PetrolCard, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.PetrolCard != null && (bool)Model.RecruitR1UnBudgetedModel.PetrolCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.RecruitR1UnBudgetedModel.PetrolCard != null && (bool)Model.RecruitR1UnBudgetedModel.PetrolCard)
                                {
                                    <div class="form-group col-sm-12 padding-0">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.PetrolCardAmount, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.PetrolCardAmount)</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ParkingCard, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1UnBudgetedModel.ParkingCard != null && (bool)Model.RecruitR1UnBudgetedModel.ParkingCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>

                                @if (Model.RecruitR1UnBudgetedModel.ParkingCard != null && (bool)Model.RecruitR1UnBudgetedModel.ParkingCard)
                                {
                                    <div class="form-group col-sm-12 padding-0">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ParkingAreas, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1UnBudgetedModel.ParkingAreas)</span></div>

                                    </div>
                                }
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.DivisionID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.DivisionName)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.JobDescriptionFileID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_JD" href="javascript:void(0);" onclick="OpenFilePreview('HiringRequisitionR1UnBudgetedForm',@Model.RecruitR1UnBudgetedModel.JobDescriptionFileID);">@Model.JobDescriptionFileName</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.OrgChartFileID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_OC" href="javascript:void(0);" onclick="OpenFilePreview('HiringRequisitionR1UnBudgetedForm',@Model.RecruitR1UnBudgetedModel.OrgChartFileID);">@Model.OrgChartFileName</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1UnBudgetedModel.ManPowerFileID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_MP" href="javascript:void(0);" onclick="OpenFilePreview('HiringRequisitionR1UnBudgetedForm',@Model.RecruitR1UnBudgetedModel.ManPowerFileID);">@Model.ManPowerFileName.</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.RecruitR1UnBudgetedModel.FormProcessID }); }
                </div>
                <br />
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    @if (Session["IsR1Release"] != null && ((bool)Session["IsR1Release"]))
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Release List</button>
                    }
                    else
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>