﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Documents</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Employee Documents";
    bool canDownloadDocs = (bool)ViewBag.canDownloadDocs;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-user"></span>&nbsp;&nbsp; <b>@ViewBag.EmployeeName </b> <span style="margin-left:60px">  <b> ID: @ViewBag.EmployeeIDNo</b> </span> <span style="margin-left:60px">  <b>Position: @ViewBag.Positon </b></span><span style="margin-left:60px">  <b>Department: @ViewBag.Department</b> </span> </h3>
                <ul class="panel-controls">
                    @if (canDownloadDocs)
                    {
                        <li class="dropdown open">
                            <a href="javascript:void(0);" id="btnDownloadDocument" title="Download Documents" class="btnadd"><span class="fa fa-download"></span></a>
                        </li>
                    }
                </ul>
                @Html.Hidden("hdnDropDownId")
                @Html.Hidden("hdnDropDownReloadId")
                @Html.Hidden("EmpIDD", new { @value = ViewBag.EmployeeIDNo })
            </div>
            <div class="panel-body">
                <div class="col-md-12" style="height:auto;min-height:790px">
                    <div class="col-sm-8">
                        <div class="bs-example">
                            @{
                                List<HRMS.Entities.General.MenuNavigationModel> objMenuNavigationModelList = new List<HRMS.Entities.General.MenuNavigationModel>();
                                if (Session["AccessibleMenuList"] != null)
                                {
                                    objMenuNavigationModelList = (List<HRMS.Entities.General.MenuNavigationModel>)Session["AccessibleMenuList"];
                                    objMenuNavigationModelList = objMenuNavigationModelList.OrderBy(x => x.MainNavigationSubCategoryId).ToList();
                                }
                                List<HRMS.Entities.DocumentTypeModel> objDocTypeList = (List<HRMS.Entities.DocumentTypeModel>)ViewBag.documentType;
                                bool IsMNCCard = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/Municipality").IsAddOnlyPermission;
                                bool IsLBContDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/LabourContract").IsAddOnlyPermission;
                                bool IsDriveLicDOc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/DrivingLicense").IsAddOnlyPermission;
                                bool IsPassDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/Passport").IsAddOnlyPermission;
                                bool IsHealthDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/Health").IsAddOnlyPermission;
                                bool IsLBCard = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/Labour").IsAddOnlyPermission;
                                bool IsOtherDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/DocOther").IsAddOnlyPermission;
                                bool IsVisaDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/Visa").IsAddOnlyPermission;
                                bool IsNationalDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/Emirates").IsAddOnlyPermission;
                                bool IsPoliceClrDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/PoliceClearance").IsAddOnlyPermission;
                                bool IsJobAprDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/JobApproval").IsAddOnlyPermission;
                                bool IsWorkPerDoc = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/WorkPermit").IsAddOnlyPermission;

                            }
                            <div class="panel-group accordion">
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/municipality").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 7).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 7).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseOne">@objDocTypeList.Where(x => x.docTypeId == 7).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsMNCCard)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddMunicipality();" title="Add Municipality" id="btn_" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseOne" class="panel-body">
                                                    <div id="DivMunicipality" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "Municipality");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }

                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/labourcontract").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 4).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 4).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseTwo">@objDocTypeList.Where(x => x.docTypeId == 4).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsLBContDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddLabourContract();" title="Add Labour Contract" id="btn_addLabourContract" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseTwo" class="panel-body">
                                                    <div id="DivLabourContract" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "LabourContract");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/passport").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 2).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 2).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseThree">@objDocTypeList.Where(x => x.docTypeId == 2).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsPassDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddPassport();" title="Add Passport" id="btn_addPassport" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseThree" class="panel-body">
                                                    <div id="DivPassport" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "Passport");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/labour").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 3).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 3).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseFour">@objDocTypeList.Where(x => x.docTypeId == 3).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsLBCard)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddLabour();" title="Add Labour Card" id="btn_addLabour" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseFour" class="panel-body">
                                                    <div id="DivLabour" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "Labour");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/health").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 6).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 6).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseFive">@objDocTypeList.Where(x => x.docTypeId == 6).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsHealthDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddHealth();" title="Add Health" id="btn_addHealth" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseFive" class="panel-body">
                                                    <div id="DivHealth" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "Health");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/drivinglicense").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 5).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 5).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseSix">@objDocTypeList.Where(x => x.docTypeId == 5).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsDriveLicDOc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddDrivingLicense();" title="Add Driving License" id="btn_addDrivingLicense" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseSix" class="panel-body">
                                                    <div id="DivDrivingLicense" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "DrivingLicense");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/visa").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 1).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 1).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseSeven">@objDocTypeList.Where(x => x.docTypeId == 1).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsVisaDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddVisa();" title="Add Visa" id="btn_addVisa" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseSeven" class="panel-body">
                                                    <div id="DivVisa" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "Visa");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/emirates").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 10).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 10).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseNine">@objDocTypeList.Where(x => x.docTypeId == 10).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsNationalDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" title="Add Emirates Id" id="btn_addEmirates" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseNine" class="panel-body">
                                                    <div id="DivEmirates" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "Emirates");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/policeclearance").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 11).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 11).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseTen">@objDocTypeList.Where(x => x.docTypeId == 11).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsPoliceClrDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddPoliceCleranceCert();" title="Add Police Clearance Cert." id="btn_addPoliceClearence" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseTen" class="panel-body">
                                                    <div id="DivPoliceClearance" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "PoliceClearance");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/jobapproval").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 9).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 9).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseEleven">@objDocTypeList.Where(x => x.docTypeId == 9).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsJobAprDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddJobApproval();" title="Add Job Approval" id="btn_" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseEleven" class="panel-body">
                                                    <div id="DivjobApproval" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "JobApproval");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/docother").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 8).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 8).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseEight">@objDocTypeList.Where(x => x.docTypeId == 8).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsOtherDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddDocOther();" title="Add DocOther" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseEight" class="panel-body">
                                                    <div id="DivDocOther" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "DocOther");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                                @if (objMenuNavigationModelList.Where(a => a.URL.ToLower() == "/workpermit").Count() > 0)
                                {
                                    if (objDocTypeList.Where(x => x.docTypeId == 12).Count() > 0)
                                    {
                                        if (objDocTypeList.Where(x => x.docTypeId == 12).First().IsActive == true)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseThirteen">@objDocTypeList.Where(x => x.docTypeId == 12).First().docTypeName</a>
                                                    </h4>
                                                    <ul class="panel-controls">
                                                        @if (IsWorkPerDoc)
                                                        {
                                                            <li class="dropdown open">
                                                                <a href="javascript:void(0);" onclick="AddWorkPermit();" title="Add Work Permit" id="btn_" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div id="collapseThirteen" class="panel-body">
                                                    <div id="DivDocOther" style="max-height:600px">
                                                        @{Html.RenderAction("Index", "WorkPermit");}
                                                    </div>
                                                </div>
                                            </div>
                                                                    }
                                                                }
                                                            }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl">
                            <div class="panel-heading">
                                <input type="text" placeholder="Employee Name" class="form-control" ng-model="empname" />
                            </div>
                            <div class="panel-body list-group list-group-contacts emplist" ng-cloak>

                                @*angular js start here*@

                                <a href="#" class="list-group-item  emplistcontent" ng-repeat="x in names">

                                    @*<span class="contacts-title contacts-title-emplist">{{x.FullName}}</span>*@
                                    @*<p>{{x.CompanyId}}</p>*@

                                    @*<div class="list-group-controls-emplist">
                                            <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-sm-12 padding-0">
                                            <div class="col-sm-10 padding-0">
                                                <span class="contacts-title contacts-title-emplist">{{x.FullName}}</span>
                                                @*<p>{{x.CompanyId}}</p>*@
                                            </div>
                                            <div class="col-sm-2 padding-0">
                                                <div class="list-group-controls-emplist">
                                                    <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </a>

                                @*angular js End here*@

                            </div>
                            @*//testing here*@
                            <br /><br /><br />
                            <div style="margin-top: 367px; padding-left: 20px; background: #F5F5F5; border-color: #E5E5E5; padding: 10px; ">
                                <label ng-repeat="(list,enabled) in status" style="margin-left:6px">
                                    <input type="checkbox" ng-model="status[list]" ng-change="checkval()"> {{list}}
                                </label>
                                @*<p>colors: {{colors}}</p>*@
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="~/Scripts/Custom/Municipality.js"></script>
    <script src="~/Scripts/Custom/Labour.js"></script>
    <script src="~/Scripts/Custom/LabourContract.js"></script>
    <script src="~/Scripts/Custom/Passport.js"></script>
    <script src="~/Scripts/Custom/Health.js"></script>
    <script src="~/Scripts/Custom/DrivingLicense.js"></script>
    <script src="~/Scripts/Custom/Visa.js"></script>
    <script src="~/Scripts/Custom/Emirates.js"></script>
    <script src="~/Scripts/Custom/DocOther.js"></script>
    <script src="~/Scripts/Custom/PoliceClearanceCert.js"></script>
    <script src="~/Scripts/Custom/JobApproval.js"></script>
    <script src="~/Scripts/Custom/WorkPermit.js"></script>
    <script>
        var app = angular.module('myApp', ['ngCookies']);
        app.controller('customersCtrl', function ($scope, $http, $cookieStore, $window) {

            $scope.status = { 'Include Inactive': false, 'Inactive Only': false };

            var coockievalue = $cookieStore.get('Active');

            if (coockievalue == null) {
                // $scope.ActiveValue = '1';
                $cookieStore.put('Active', '1')

            }
            if ($cookieStore.get('Active').indexOf("1") > -1) {

                if ($cookieStore.get('Active').indexOf("0") > -1) {
                    $scope.status['Include Inactive'] = true;
                }
            }
            else if ($cookieStore.get('Active').indexOf("0") > -1) {

                $scope.status['Inactive Only'] = true;
            }

            var req = {
                method: 'GET',
                url: "@Url.Action("GetAllEmployee", "Employee")",
                headers: {
                    'Content-Type': undefined
                },
                params: { Active: $cookieStore.get('Active') }
            }

            $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            //  $http.get("@Url.Action("GetAllEmployee", "Employee")", { active: "1" })
            //   .success(function (response) { $scope.names = response; });






            @*$scope.hello = function () {
            $http.get("@Url.Action("GetAllEmployee", "Employee")")
        .success(function (response) { $scope.names = response.tt; });
        }*@


            //test here start 1

            //test here end

            //tes second
            $scope.checkval = function () {

                var cookVal = $cookieStore.get('Active');
                var param = '1';
                $cookieStore.put('Active', '1');

                if ($scope.status['Inactive Only'] == true) {

                    param = '0';
                    $cookieStore.put('Active', '0');



                }
                if ($scope.status['Include Inactive'] == true) {

                    param = '1,0';
                    $cookieStore.put('Active', '1,0');


                }
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmployee", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: param }
                }
                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            }
            $scope.$watch(function () {
                return $scope.empname;
            }, function (newValue, oldValue) {
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmpSearch", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: $cookieStore.get('Active'), value: newValue }

                }

                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            });

            //end here
        });
    </script>
    <script>

        $(document).on("click", ".emplistcontent", function () {
            var id = $(this).find('.clickme').attr('id');
            $("hdnEmployee_ID").val(id);
            window.location.href = '/Document/index/' + id;
        });

        $(document).on("dblclick", ".emplistcontent", function () {
            var id = $(this).find('.clickme').attr('id');
            $("#hdnEmployee_ID").val(id);
            window.location.href = '/Document/index/' + id;
        });

        $(document).on("change", "#IssueCountryID", function () {
            var CountryId = $("#IssueCountryID").val();
            if (parseInt(CountryId) > 0) {
                $.ajax({
                    "url": "/Common/FilterCityDropDown",
                    "dataType": "json",
                    "data": { CountryID: CountryId },
                    "success": function (data) {
                        var cityDropDown = $("#IssueCityID");
                        cityDropDown.html("<option value=''>Select Issue City</option>");
                        $.each(data, function (index, item) {
                            cityDropDown.append($("<option></option>").val(item.Value).html(item.Text));
                        });
                        RefreshSelect("#IssueCityID");
                    },
                    "error": function () {

                    }
                });
            }
        });

        function AddCity(title, id, dropdownId) {
            if ($('#IssueCountryID').val() != undefined && $('#IssueCountryID').val() != "" && $('#IssueCountryID').val() != "0") {
                $("#hdnDropDownReloadId").val(dropdownId);
                $("#hdnDropDownId").val(id);
                $("#modal_Loader").load("/Employee/AddNewCityForCountry?CountryID=" + $('#IssueCountryID').val());
                $("#myModal").modal("show");
                $("#modal_heading").text(title);
            }
            else {
                $.MessageBox({
                    buttonDone: "Ok",
                    message: 'Please select Country First',
                });
                return;
            }
        }

        $(document).on("click", "#btnDownloadDocument", function () {
            var EmpIDD = $("#EmpIDD").val();
            $("#modal_Loader").load("/Document/DownloadDocument/", function () {
                $("#modal_heading").text('Download Documents');
                $('#myModal').modal({ backdrop: 'static' });
            });
        });

        function RemoveDocument(id) {
            var filePath = $("#PreviewFile").attr('href');
            if (filePath == '' || filePath == null) {
                $("#btnUploadAdd").hide();
                $("#btnRemove").hide();
                $("#divBrowse").show();
                $("#file_caption_name").hide();
                $("#file_caption_id").html('');
                $("#txtuploadedMsgAdd").text("");
                $("#fuPDFAdd").val("");
                $("#chkFileUpload").val("0");
            }
            else {
                $.ajax({
                    dataType: 'json',
                    type: 'POST',
                    url: '/Document/DeleteDocumentPhysically',
                    data: { filePath: filePath },
                    success: function (data) {
                        $("#btnUploadAdd").hide();
                        $("#btnRemove").hide();
                        $("#divBrowse").show();
                        $("#file_caption_name").hide();
                        $("#file_caption_id").html('');
                        $("#txtuploadedMsgAdd").text("");
                        $("#PreviewFile").hide();
                        $("#fuPDFAdd").val("");
                        $("#chkFileUpload").val("0");
                    },
                    error: function (data) { }
                });
            }
        }

        function ViewDocumentById(DocId) {
            window.location.assign("/Document/GetEmployeeDocument?DocId=" + DocId);
        }

        function submitFormManually(id) {
            var chkFileUpload = $("#chkFileUpload").val();
            if (chkFileUpload == 1) {
                $(id).submit()
            }
            else if (chkFileUpload == 2) {
                $("#txtuploadedMsgAdd").text("Please upload or remove file before save data.");
                $("#divAddInforamtionDialog").hide();
            }
            else {
                $(id).submit()
            }
        }

    </script>

}
