﻿@model List<HRMS.Entities.EmployeeDetails>
@{
    Layout = null;
}
<div  id="Div_Deparrtment_Employee">
    <ul style="height: 200px; list-style-type: none; padding-left: 2px; ">
        @if (Model != null && Model.Count() > 0)
        { 
        foreach (var g in Model)
        {
            <li class="liemployeeindepartment" style="margin-bottom: 5px;">
                <span>@g.FirstName_1 @g.SurName_1</span>
                @*<input type="button" value="Remove" onclick="" style="float:right"/>*@
                @*<a class='btn btn-danger btn-rounded btn-condensed btn-sm' style="float:right;padding:0px 4px 0px 4px" onclick='RemoveDepartmentEmployee(@g.EmployeeID)' title='Delete'><i class='fa fa-times'></i></a>*@
            </li>
        }
        }
    </ul>
    <br />


</div>