﻿
@model List<HRMS.Entities.EmployeeDetails>
@{
    Layout = null;
}
<div id="ULEmployeeNotInDepartment" class="panel-body list-group list-group-contacts emplist" style="min-height:50px; max-height:250px;">
    @if (Model.Any())
    {
        foreach (var g in Model)
        {
            <a href="#" class="list-group-item  emplistcontent list-group-item-condensed liemployeenotindepartment">
                <div class="row">
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-1 text-right">
                            <div class="list-group-controls-emplist" style="padding-top:4px;">
                                <input type="checkbox" onchange="AddEmployeeToDepartment(@g.EmployeeID,this);" data-name="@(g.FullName)" value="@g.EmployeeID" id="Employee_@(g.EmployeeID)" />
                            </div>
                        </div>
                        <div class="col-sm-11 padding-0">
                            <span class="contacts-title contacts-title-emplist employeeName">@g.FullName</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>
<div id="ULEmployeeNotInDepartment" hidden>
    <ul style="height: 200px; list-style-type: none; padding-left: 2px; ">
        @if (Model.Any())
        {
            foreach (var g in Model)
            {
                <li class="liemployeenotindepartment">

                    <label for="@g.FirstName_1 @g.SurName_1" onclick="AddEmployeeToDepartment(@g.EmployeeID);">@g.FullName</label>
                </li>
            }
        }
    </ul>
</div>