﻿@model List<HRMS.Entities.EmployeeDetails>
@{
    Layout = null;
}



<div id="Div_Department_Employee" class="panel-body list-group list-group-contacts emplist" style="min-height:50px; max-height:250px;">
    @if (Model.Any())
    {
        foreach (var g in Model)
        {
            <a href="#" data-EmployeeId="@g.EmployeeID" class="list-group-item  emplistcontent list-group-item-condensed">
                <div class="row">
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-10 padding-0">
                            <span class="contacts-title contacts-title-emplist employeeName">@g.FullName</span>
                        </div>
                        <div class="col-sm-2 padding-0">
                            <div class="list-group-controls-emplist">
                                <button type="button" class='btn btn-danger btn-rounded btn-condensed btn-sm pull-right' style="" onclick="RemoveDepartmentEmployee(@g.EmployeeID,'@g.FullName',this)" title='Remove'><i class='fa fa-times'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <a href="#" data-EmployeeId="NoEmployee" class="list-group-item  emplistcontent list-group-item-condensed">
            <div class="row">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-10 padding-0">
                        <span class="contacts-title contacts-title-emplist employeeName">No employee in selected department.</span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>


<ul style="height: 200px; list-style-type: none; padding-left: 2px; " hidden>
    @if (Model.Any())
    {
        foreach (var g in Model)
        {
            <li class="liemployeeindepartment col-md-12">
                <label class="col-md-10 edit-name">@g.FullName</label>
                <div class="col-md-2">

                </div>

            </li>
        }
    }
</ul>
