﻿@model HRMS.Entities.ViewModel.DepartmentEmployeeViewModel
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<div style="margin:10px;padding:10px;padding-left:0px">
    <div class="col-sm-12 padding-0">
        <div class="form-group col-sm-12 padding-0">
            <div class="col-sm-6 padding-0">
                <label class="col-sm-4 label-form padding-left-0 padding-right-0">Department Leader:</label>
                <div class="col-sm-8" style="padding-right:5px;">
                    <div id="Div_DepartmentList ">
                        @Html.DropDownList("departmentList", (List<SelectListItem>)ViewBag.DeptList, new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6 padding-0">
        <div class="col-sm-12">
            <h5>Employees not in department <span id="nonDepartmentEmployeetotal"></span></h5>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="text" onkeyup="SearchHtml('ULEmployeeNotInDepartment', this, '#ULEmployeeNotInDepartment > a', '.employeeName')" placeholder="Employee Name" class="form-control" />
                </div>
                <div class="" id="GetAllEmployeesNotInDepartment">

                    @Html.Partial("_getAllEmployeesNotInDepartment", Model.DepartmentEmployeeNotInDepartmentList)
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 padding-0">
        <div class="col-sm-12">
            <h5>Employees in department <span id="departmentEmployeetotal"></span></h5>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="text" onkeyup="SearchHtml('Div_Department_Employee', this, '#Div_Department_Employee > a', '.employeeName')" placeholder="Employee Name" class="form-control" />
                </div>
                <div class="" id="DepartmentEmployeesList">

                    @Html.Partial("_getAllDepartmentEmployees", Model.DepartmentEmployeeList)
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //$("#departmentList").val($("#DepartmentHead").val());
        bindSelectpicker('.selectpickerddl');

        calculateCountOfEmployee();
        //ShowMessage("success", $("").length);
    });


</script>
