﻿aMOUNT@model HRMS.Entities.InsuranceModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Insurance</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Insurance";
}
@{
    string AmountFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-user"></span>&nbsp;&nbsp; <b>@ViewBag.EmployeeName </b> <span style="margin-left:60px">  <b> ID: @ViewBag.AlternativeId</b> </span> <span style="margin-left:60px">  <b>Position: @ViewBag.Positon </b></span><span style="margin-left:60px">  <b>Department: @ViewBag.Department</b> </span> </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-8 ">
                        <div class="panel-group accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Insurance Information
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-body panel-body-open" id="collapseOne">
                                    @*<div class="table-responsive">
                                            <table id="tbl_InsuranceList" class="display table table-bordered table-striped"></table>

                                        </div>*@
                                    @*<table style="width:100%;">*@
                                    @using (Ajax.BeginForm("AddInsurance", "Insurance", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccessInsurance" }, new { id = "frmAddInsurance" }))
                                    {
                                        @Html.HiddenFor(x => x.EmployeeID)
                                        @Html.HiddenFor(x => x.InsuranceID)
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">

                                            </div>
                                            <div class="col-sm-8">
                                                <div class="text-right">
                                                    <span class="required-field">*</span>&nbsp;Indicate required fields
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Insurance Type:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-ddl">
                                                    @Html.DropDownListFor(m => m.InsuranceType, (SelectList)ViewBag.InsuranceTypeList, "Select Insurance Type", new { @class = "form-control selectpicker", required = "required" })
                                                    <span class="input-group-addon add-on input-group-span">
                                                        <a href="javascript:void(0)" style="color:#ffffff" title="Add Insurance Type!" onclick="Add('Add Insurance Type',39, '#InsuranceType')">+ </a>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(m => m.InsuranceType)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Policy Number: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.PolicyNumber, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(m => m.PolicyNumber)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Insurance Card Number: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(m => m.CardNumber)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Amount: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control ", required = "required", @Value = Model.TotalAmount.ToString(AmountFormat) })
                                                @Html.ValidationMessageFor(m => m.TotalAmount)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Amount Paid By School: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.TotalAmountBySchool, new { @class = "form-control", required = "required", @Value = Model.TotalAmountBySchool.ToString(AmountFormat) })
                                                @Html.ValidationMessageFor(m => m.TotalAmountBySchool)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"> Deduction Amount: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Deduction, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Deduction)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label for="Deduct" class="label-form">Deduct: </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="checkbox">
                                                    <label>@Html.CheckBoxFor(m => m.Deduct, new { @class = "" })</label>
                                                    @Html.ValidationMessageFor(m => m.Deduct)
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="Returned" class="label-form">Card Returned: </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="checkbox">
                                                    <label>@Html.CheckBoxFor(m => m.Returned, new { @class = "" })</label>
                                                    @Html.ValidationMessageFor(m => m.Returned)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Issue Date: </label>
                                            </div>

                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.IssueDate, new { @class = "form-control datepickerFrom", required = "required" })
                                                @Html.ValidationMessageFor(m => m.IssueDate)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Expiry Date: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control datepickerTo", required = "required" })
                                                @Html.ValidationMessageFor(m => m.ExpiryDate)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form">Cancellation Date: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.CancellationDate, new { @class = "form-control DOB" })
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12">
                                            <div class="col-sm-3">
                                                <label class="label-form">Note: </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control  " })
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-sm-12 ">
                                            <div class="col-sm-3">
                                                <label class="label-form"> </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="submit" onclick="ValidateForm();" class="btn btn-primary col-sm-3" value="Save" />
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Depedency Information
                                        </a>
                                    </h3>
                                    <ul class="panel-controls">
                                        <li class="dropdown open">
                                            <a href="javascript:void(0);" id="btn_addDependencies" title="Add Depedency Information" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="collapseTwo" class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="tbl_InsuranceDependentList" class="display table table-bordered table-striped" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl">
                            <div class="panel-heading">
                                <input type="text" placeholder="Employee Name" class="form-control" ng-model="empname" />
                            </div>
                            <div class="panel-body list-group list-group-contacts emplist" ng-cloak>
                                @*angular js start here*@
                                <a href="#" class="list-group-item  emplistcontent" ng-repeat="x in names">
                                    @*<span class="contacts-title contacts-title-emplist">{{' ('+ x.EmployeeAlternativeID +') '+ '  ' + x.FirstName +' '+ x.LastName}}</span>
                                        <div class="list-group-controls-emplist">
                                            <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-sm-12 padding-0">
                                            <div class="col-sm-10 padding-0">
                                                <span class="contacts-title contacts-title-emplist">{{' ('+ x.EmployeeAlternativeID +') '+ '  ' + x.FirstName +' '+ x.LastName}}</span>
                                            </div>
                                            <div class="col-sm-2 padding-0">
                                                <div class="list-group-controls-emplist">
                                                    <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                @*angular js End here*@
                            </div>
                            <br /><br /><br />
                            <div style="margin-top: 367px; padding-left: 20px; background: #F5F5F5; border-color: #E5E5E5; padding: 10px; ">
                                <label ng-repeat="(list,enabled) in status" style="margin-left:6px">
                                    <input type="checkbox" ng-model="status[list]" ng-change="checkval()"> {{list}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hdnEmployee_ID" />
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        var app = angular.module('myApp', ['ngCookies']);
        app.controller('customersCtrl', function ($scope, $http, $cookieStore, $window) {

            $scope.status = { 'Include Inactive': false, 'Inactive Only': false };

            var coockievalue = $cookieStore.get('Active');

            if (coockievalue == null) {
                // $scope.ActiveValue = '1';
                $cookieStore.put('Active', '1')

            }
            if ($cookieStore.get('Active').indexOf("1") > -1) {

                if ($cookieStore.get('Active').indexOf("0") > -1) {
                    $scope.status['Include Inactive'] = true;
                }
            }
            else if ($cookieStore.get('Active').indexOf("0") > -1) {

                $scope.status['Inactive Only'] = true;
            }

            var req = {
                method: 'GET',
                url: "@Url.Action("GetAllEmployee", "Employee")",
                headers: {
                    'Content-Type': undefined
                },
                params: { Active: $cookieStore.get('Active') }
            }

            $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            //  $http.get("@Url.Action("GetAllEmployee", "Employee")", { active: "1" })
            //   .success(function (response) { $scope.names = response; });






            @*$scope.hello = function () {
            $http.get("@Url.Action("GetAllEmployee", "Employee")")
        .success(function (response) { $scope.names = response.tt; });
        }*@


            //test here start 1

            //test here end

            //tes second
            $scope.checkval = function () {

                var cookVal = $cookieStore.get('Active');
                var param = '1';
                $cookieStore.put('Active', '1');

                if ($scope.status['Inactive Only'] == true) {

                    param = '0';
                    $cookieStore.put('Active', '0');



                }
                if ($scope.status['Include Inactive'] == true) {

                    param = '1,0';
                    $cookieStore.put('Active', '1,0');


                }
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmployee", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: param }
                }
                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            }
            $scope.$watch(function () {
                return $scope.empname;
            }, function (newValue, oldValue) {
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmpSearch", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: $cookieStore.get('Active'), value: newValue }

                }

                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            });

            //end here
        });
    </script>
    <script>
        $(document).ready(function () {

            //validator = $("#frmAddInsurance").customValidation();
            if ($("#EmployeeID").val() != "" && $("#EmployeeID").val() != 0) {

                var id = $("#EmployeeID").val();
                LoadEmployeeDetails(id);
                $("#hdnEmployee_ID").val(id);

                //getGridInsdependence(id);
                //$("#IssueDate").datepicker({ dateFormat: "dd-MM-yyyy" });
                //$("#ExpiryDate").datepicker({ dateFormat: "dd-MM-yyyy" });
                //$("#CancellationDate").datepicker({ dateFormat: "dd-MM-yyyy" });
            }
        });

        $(document).on("click", ".emplistcontent", function () {

            var id = $(this).find('.clickme').attr('id');
            //   var id = $(this).attr('id');
            $("hdnEmployee_ID").val(id);
            window.location.href = '/Insurance/Index/' + id;
        });

        $(document).on("dblclick", ".emplistcontent", function () {


            var id = $(this).find('.clickme').attr('id');
            //   var id = $(this).attr('id');
            $("hdnEmployee_ID").val(id);
            window.location.href = '/Insurance/Index/' + id;



        });


        function Add(title, id, dropdownId) {
            $("div.tooltip").hide();
            $("#hdnDropDownReloadId").val(dropdownId);
            $("#hdnDropDownId").val(id);
            $("#modal_Loader").load("/Employee/AddType/" + id);
            $("#myModal").modal("show");
            $("#modal_heading").text(title);
        }

        function ValidateForm() {

        }


        function onFailure(xhr, status, error) {

            console.log("xhr", xhr);
            console.log("status", status);

            // TODO: make me pretty
            ShowMessage("error", error)
        }

        function onSuccessInsurance(data, status, xhr) {

            console.log("data", data);
            console.log("status", status);
            console.log("xhr", xhr);

            if (data.Success == true) {
                ShowMessage("success", data.Message)
                $('#InsuranceID').val(data.InsertedRowId);
            }
            else {
                ShowMessage("error", data.Message)
            }
        }

    </script>

    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/Insurance.js"></script>

}
