﻿
@model HRMS.Entities.Forms.PublicHolidayLeaveManagerViewModel

<style>
   .dataTables_wrapper
    {
        float:left;
        width:auto !important;
  
    }
  table.dataTable td,  table.dataTable thead th {
  word-break: break-word;
}
  
</style>

<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-control legend-title-font">Leave Dates:</span>
        </legend>
        <div class="table-responsive">
            <table id="" class="table table-striped table-bordered" width="95%">
                <thead>
                    <tr>
                        <th>Holiday Name</th>
                        <th>Holiday Date</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HolidayDateList)
            {
                        <tr>
                            <td class="">@item.HolidayName</td>
                            <td class="">@item.From</td>
                          
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </fieldset>


</div>
<div class="table-responsive">
    <table id="tbl_PublicHolidayLeave" class="table table-striped table-bordered tblCbLeave" width="100%">
        <thead>
            <tr>
                <th>BU Name</th>
                <th>Department</th>
                <th>Employee Name</th>
                <th>Oracle No</th>
                <th>Leave Start Date</th>
                <th>Leave End Date</th>
                <th>WeekEnds</th>
                <th>Total Leave Days</th>
                <th>Expiry Date</th>
                <th>Last Year Deduction</th>
                <th>Current Year Deduction </th>
                <th>Credit Back Days</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PublicHolidayLeaveManagerModelList)
            {
                <tr data-leaverequestid="@item.LeaveRequestID">
                    <td class="">@item.CompanyName</td>
                    <td class="">@item.DepartmentName</td>
                    <td class="">@item.EmployeeName</td>
                    <td class="">@item.EmployeeAlternativeID</td>
                    <td class="">@item.FromDate</td>
                    <td class="">@item.ToDate</td>
                    <td class="">@item.WeekEnds</td>
                    <td class="">@item.TotalLeaveDays</td>
                    <td class="">@item.LapsingDate</td>
                    <td class="">@item.LeaveDaysFromLapsingDays</td>
                    <td class="">@item.LeaveDaysFromAccruedDays</td>
                    <td class=""><input type="text" class="form-control decimalOnly" id="txt_@item.LeaveRequestID" value="@item.CreditBackDays" readonly /></td>
                    <td class="actions">                
                      @if (item.PublicHolidayLeaveCreditBackID == null)
                      {<input type="checkbox" class="" id="chk_@item.LeaveRequestID" /> }
                     

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
