﻿@model HRMS.Entities.Forms.PublicHolidayLeaveManagerModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Public Holiday Leave Manager</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS-Public Holiday Leave Manager";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <h3 class="panel-title"><span class="fa fa-calendar"></span> Public Holiday Leave Manager</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">                           
                            <a href="javascript:void(0);" onclick="SaveAll()" title="Save All" id="btn_saveAll" class="btnadd"><span class="fa fa-floppy-o"></span></a>                            
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Hidden("hdnHolidayID", new { @id = "hdnHolidayID" })
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-4 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, "Select Organization", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Department Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Department, "Select Department Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlDepartment" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                           Public Holiday:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                       @Html.DropDownList("ddlHoliday", (SelectList)ViewBag.Holiday, "Select Public Holiday", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlHoliday" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="LoadPublicHolidayLeave()">
                    </div>
                </div>

            </div>

            <div class="row  form-horizontal">
                @*<div id="EmployeeList" class="hidden">
                        @ViewBag.EmployeeList
                    </div>*@
                <hr>


                <div id="divPublicHolidayLeave" class="col-md-12 innerdiv">
                    @*@Html.Partial("_LeaveBalanceGrid", Model)*@

                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Save" id="btnSave" class="btn btn-rounded btn-primary btnSave" onclick="SaveAll()" ><i class="fa fa-floppy-o"></i> Save</button>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/PublicHolidayLeaveManager.js"></script>



}



