﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.ConfirmationDetailModel
@{
    ViewBag.Title = "HRMS - Employee Confirmation Request";    
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Confirmation Request</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ConfirmationRequestFrom" }))
{
    <div class="row">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.OfferLetterFileID)
        @Html.HiddenFor(m => m.RequesterEmployeeID)
        @Html.HiddenFor(m => m.RequestInitialize)
        @Html.Hidden("hdnCompanyID", (int)ViewBag.CompanyID)
        @Html.Hidden("hdnformProcessID", (int)ViewBag.formProcessID)
        @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })       

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-5 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-user"></span>
                            Employee Confirmation Request
                            <span>(Request ID : @Model.RequestID)</span>
                        </h3>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="pull-right">

                        @if (!Model.RequestInitialize)
                        {
                            <a href="javascript:void(0);" title="Submit" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                        }
                        else if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <a href="javascript:void(0);" title="Re-Submit Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                            <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                        }
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 5, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = (int)ViewBag.formProcessID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 5px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Employee Details:
                                </span>

                            </legend>

                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Employee ID:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.EmployeeID)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Company:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.CompanyName)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Department:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.DepartmentName_1)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Project:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.ProjectName)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Probation Period (Month):</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.ProbationPeriod)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Line Manager:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.LineManagerName)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> Type Of Evaluation:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @if (!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected)
                                            {
                                                @Html.DropDownListFor(m => m.TypeEvaluationID, (List<SelectListItem>)ViewBag.lstEvaluationType, "Select Evaluation Type", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                                @Html.ValidationMessageFor(m => m.TypeEvaluationID)
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.TypeEvaluationID, (List<SelectListItem>)ViewBag.lstEvaluationType, "Select Evaluation Type", new { @class = "form-control selectpickerddl", @data_live_search = "true", @disabled = "disabled" })
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Employee Name:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.EmployeeName)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Position Title:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.PositionTitle)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Email:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.Email)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Grade:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.JobGradeName_1)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">End Date:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.ProbationEndDate)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Line Manager Designation:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="label-form">@Html.DisplayFor(m => m.ManagerDesignation)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 hidden" id="ProbationExtensionId">
                                        <div class="col-sm-4">
                                            <label class="label-form">
                                                <span class="required-field">*</span>
                                                <span style="margin-left:-1px">Probation Extension (Months):</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @if (!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected)
                                            {
                                                @Html.DropDownListFor(m => m.ExtendedProbationPeriod, (List<SelectListItem>)ViewBag.extensionProbation, "Select Probation Extension", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                                @Html.ValidationMessageFor(m => m.ExtendedProbationPeriod)
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.ExtendedProbationPeriod, (List<SelectListItem>)ViewBag.extensionProbation, "Select Probation Extension", new { @class = "form-control selectpickerddl", @data_live_search = "true", @disabled = "disabled" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-top:10px">
                        <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                            <thead>
                                <tr class="info">
                                    <th colspan="3">Rating Scale</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<RatingScaleModel>)ViewBag.lstRatingScaleModel)
                                {
                                    <tr>
                                        <td>@item.RatingScaleCode</td>
                                        <td>@item.RatingScaleName_1</td>
                                        <td>@item.RatingScaleDetail</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                            <thead>
                                <tr class="info">
                                    <th colspan="2">JOB EVALUATION</th>
                                    <th style="text-align:center"><span class="required-field">*</span> Rating Scale</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<ConfirmationJobEvaluationModel>)ViewBag.lstJobEvaluation)
                                {
                                    <tr>
                                        <td>@item.JobEvaluationName_1</td>
                                        <td>@item.JobEvaluationDetail</td>
                                        <td class="text-center ddlRating">
                                            <select class="form-control selectpickerddl jobevalddl" id="JobEvalId_@item.JobEvaluationID" @(!Model.RequestInitialize == true || Model.ReqStatusID == (int)RequestStatus.Rejected ? "" : "disabled")>
                                                <option value="0" data-jobevalid="@item.JobEvaluationID">Select Rating Scale</option>
                                                @foreach (var ratingIds in (List<RatingScaleModel>)ViewBag.lstRatingScaleModel)
                                                {
                                                    <option data-jobevalid="@item.JobEvaluationID" value="@ratingIds.RatingScaleID" @(@item.RatingScaleID == @ratingIds.RatingScaleID ? "selected" : "")>@ratingIds.RatingScaleCode</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                            <thead>
                                <tr class="info">
                                    <th colspan="2">Code Of Conduct</th>
                                    <th style="text-align:center"><span class="required-field">*</span> Rating Scale</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<ConfirmationCodeOfConductModel>)ViewBag.lstCodeOfConduct)
                                {
                                    <tr>
                                        <td>@item.CodeOfConductName_1</td>
                                        <td>@item.CodeOfConductDetail</td>
                                        <td class="text-center ddlRating">
                                            <select class="form-control selectpickerddl codeconductddl" id="CodeConductId_@item.CodeOfConductID" @(!Model.RequestInitialize == true || Model.ReqStatusID == (int)RequestStatus.Rejected? "" : "disabled")>
                                                <option value="0" data-codeconductid="@item.CodeOfConductID">Select Rating Scale</option>
                                                @foreach (var ratingIds in (List<RatingScaleModel>)ViewBag.lstRatingScaleModel)
                                                {
                                                    <option data-codeconductid="@item.CodeOfConductID" value="@ratingIds.RatingScaleID" @(@item.RatingScaleID == @ratingIds.RatingScaleID ? "selected" : "")>@ratingIds.RatingScaleCode</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                            <thead>
                                <tr class="info">
                                    <th colspan="2">Others</th>
                                    <th style="text-align:center"><span class="required-field">*</span> Rating Scale</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<ConfirmationOthersOptionModel>)ViewBag.lstOthersOption)
                                {
                                    <tr>
                                        <td>@item.OthersOptionName_1</td>
                                        <td>@item.OthersOptionDetail</td>
                                        <td class="text-center ddlRating">
                                            <select class="form-control selectpickerddl otheroptionddl" id="OthersOptionId_@item.OthersOptionID" @(!Model.RequestInitialize == true || Model.ReqStatusID == (int)RequestStatus.Rejected ? "" : "disabled")>
                                                <option value="0" data-otheroptionid="@item.OthersOptionID">Select Rating Scale</option>
                                                @foreach (var ratingIds in (List<RatingScaleModel>)ViewBag.lstRatingScaleModel)
                                                {
                                                    <option data-otheroptionid="@item.OthersOptionID" value="@ratingIds.RatingScaleID" @(@item.RatingScaleID == @ratingIds.RatingScaleID ? "selected" : "")>@ratingIds.RatingScaleCode</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                            <thead>
                                <tr class="info">
                                    <th colspan="2">Final Rating</th>
                                    <th style="text-align:center"><span class="required-field">*</span> Rating Scale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Overall Evaluation Of Employee (Final Rating)</td>
                                    <td>Overall Evaluation Of Employee (Final Rating)</td>
                                    <td class="text-center ddlRating">
                                        @if (!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected)
                                        {
                                            @Html.DropDownListFor(m => m.FinalRatingScaleID, (List<SelectListItem>)ViewBag.lstRatingScaleForDdl, "Select Rating Scale", new { @class = "form-control selectpickerddl" })
                                            @Html.ValidationMessageFor(m => m.FinalRatingScaleID)
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.FinalRatingScaleID, (List<SelectListItem>)ViewBag.lstRatingScaleForDdl, "Select Rating Scale", new { @class = "form-control selectpickerddl", @disabled = "disabled" })
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <label class="label-form col-sm-12"><b>PERFORMANCE IMPROVEMENT PLAN/TRAINING:</b></label>
                        <label class="label-form col-sm-12 padding-top-0">Please identify specific measures and corresponding time frames that will improve performance.Please include educational or training opportunities, which could assist in developing work performance.</label>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <label class="label-form col-sm-12"><span class="required-field">*</span> <b>How can this employee improve his/her performance?</b></label>
                        @if (!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            @Html.TextAreaFor(m => m.ImprovePerformanceDetail, new { @class = "col-sm-12 form-control initialValue", initialValue = (Model.ImprovePerformanceDetail) })
                        }
                        else
                        {
                            @Html.TextAreaFor(m => m.ImprovePerformanceDetail, new { @class = "col-sm-12 form-control initialValue", @disabled = "disabled", initialValue = (Model.ImprovePerformanceDetail) })
                        }
                        @Html.ValidationMessageFor(m => m.ImprovePerformanceDetail)
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <label class="label-form col-sm-12"><span class="required-field">*</span> <b>What training or learning experience would help this employee improve his/her performance?</b></label>
                        @if (!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            @Html.TextAreaFor(m => m.TrainingExpDetail, new { @class = "col-sm-12 form-control initialValue", initialValue = (Model.TrainingExpDetail) })
                        }
                        else
                        {
                            @Html.TextAreaFor(m => m.TrainingExpDetail, new { @class = "col-sm-12 form-control initialValue", @disabled = "disabled", initialValue = (Model.TrainingExpDetail) })
                        }
                        @Html.ValidationMessageFor(m => m.TrainingExpDetail)
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <label class="label-form col-sm-12"><span class="required-field">*</span> <b>Any change to salary/designation as per employee contract.If yes attach signed employment offer</b></label>
                        <div class="col-sm-12">
                            <label class="label-text"><input type="radio" name="changeOfferId" id="changeOfferId" value="1" @(Model.OfferLetterFileID > 0 ? "checked= 'checked'" : "") @(!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected ? "" : "disabled") /> Yes</label>
                            <label class="label-text" style="margin-left:10px;"><input type="radio" name="changeOfferId" id="changeOfferId" value="2" @(Model.OfferLetterFileID == 0 ? "checked= 'checked'" : "") @(!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected ? "" : "disabled") /> No</label>
                        </div>
                    </div>

                    @if (!Model.RequestInitialize || Model.ReqStatusID == (int)RequestStatus.Rejected)
                    {
                        <div class="form-group col-sm-10 padding-0 hidden" id="divUploadOfferLetter">
                            <label class="col-sm-2 label-form">Employee Offer Letter:</label>
                            @if (Model.OfferLetterFileID > 0 && Model.OriginalFileName != "")
                            {
                                string OriginalFileName = Model.OriginalFileName.Split('.')[0].Length > 15 ? Model.OriginalFileName.Split('.')[0].Substring(0, 15) : Model.OriginalFileName.Split('.')[0];

                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_OL"></span><div id="file_caption_id_OL">@Model.OriginalFileName</div>
                                        </div>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_OL" onclick="RemoveDocument('OL')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_OL"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_OL"></div>
                                        </div>
                                    </div>
                                    <span id="txtuploadedMsgAdd_OL" class="field-validation-error" style="margin-top: 3px;"> </span>
                                    <div id="divPreview_OL" class="PreviewName">
                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('EmployeeConfirmationRequest',@Model.OfferLetterFileID.ToString());">@Model.OriginalFileName</a>
                                    </div>
                                    <input type="hidden" value="0" id="hdnFileUpload_OL" />
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_OL"></span><div id="file_caption_id_OL"></div>
                                        </div>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_OL" onclick="RemoveDocument('OL')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                            <div class="btn btn-primary btn-file" id="divBrowse_OL"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_OL"></div>
                                        </div>
                                    </div>
                                    <span id="txtuploadedMsgAdd_OL" class="field-validation-error" style="margin-top: 3px;"> </span>
                                    <div id="divPreview_OL" class="PreviewName">
                                    </div>
                                    <input type="hidden" value="0" id="hdnFileUpload_OL" />
                                </div>
                            }

                        </div>
                    }
                    else
                    {

                        <div class="form-group col-sm-10 padding-0 hidden" id="divUploadOfferLetter">
                            <label class="col-sm-2 label-form">Employee Offer Letter:</label>
                            <div class="col-sm-4" style="margin-top: 5px;">

                                <div id="divPreview_OL">
                                    @if (Model.OfferLetterFileID > 0 && Model.OriginalFileName != "")
                                    {
                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('EmployeeConfirmationRequest',@Model.OfferLetterFileID.ToString());">@Model.OriginalFileName</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="form-group col-sm-12 padding-0" style="margin-top: 0px;margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label id="lblComments" class="label-control" style="font-size:12px !important"> Requester/Approver Comments</label>
                                <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = (int)ViewBag.formProcessID }); }
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">
                        @if (!Model.RequestInitialize)
                        {
                            <button type="button" title="Submit Request" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>
                        }
                        else if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <button type="button" title="Re-Submit Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>Re-Submit</button>
                        }
                        else
                        {
                            <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                            <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                        }
                        <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/EmployeeConfirmationRequest.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
}

<style>
    .ddlRating {
        width: 180px;
    }
</style>