﻿@model HRMS.Entities.Forms.LeaveRejoiningModel
@using HRMS.Entities.Forms
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Leave ReJoining</li>
    </ul>
}
@{
    ViewBag.Title = "Employee Leave ReJoining";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Employee Leave ReJoining (Request ID : @ViewBag.RequestID)
                    </h3>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" title="Update Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                    <a href="javascript:void(0);" title="Back To All Requests List" id="btnBackToAllRequests" class="btn btn-info btn-rounded btn-condensed btn-sm btnBackToAllRequest"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 7, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID }); }
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-control legend-title-font">Instruction:</span>
                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-12 form-group">
                                <p class="paragraph-font-13">
                                    <span style="color:red;">  Leave rejoining date should be next working day right after your leave end date.</span>
                                </p>                               
                            </div>
                        </div>
                    </fieldset>
                </div>
                <form id="frmEmployeeLeaveReJoining">
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Rejoining Information:</span>
                            </legend>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RequestDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control DOB", disabled = "disabled" })
                                                @Html.HiddenFor(m => m.ID)
                                                @Html.HiddenFor(m => m.FormProcessID)
                                                @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
                                                @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })                                             
                                                @Html.Hidden("FormId", (object)ViewBag.FormId)
                                                @Html.Hidden("CompanyId", (object)ViewBag.CompanyId)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ReJoiningDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @if (Model.LeaveRequestDetailModelList[0].IsHalfDayLeave)
                                                {
                                                    @Html.TextBoxFor(m => m.ReJoiningDate, new { @class = "form-control DOB", disabled = "disabled", @startDate = Model.LeaveRequestDetailModelList[0].LeaveEndDate })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.ReJoiningDate, new { @class = "form-control DOB", @startDate = Model.LeaveRequestDetailModelList[0].LeaveEndDate })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeavesToAdjust)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeavesToAdjust, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Leave Request Details (Request ID : @Model.LeaveRequestFormRequestID):</span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].VacationTypeID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LeaveRequestDetailModelList[0].VacationTypeID, (SelectList)ViewBag.VacationTypeList, " Select Leave Type", new { @class = "form-control selectpicker", @id = "ddlVacationType", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ToBeLapsed)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].ToBeLapsed, new { @class = "form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.LeaveRequestDetailModelList[0].ToBeLapsed)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ExtendedLapsed)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].ExtendedLapsed, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].IsHalfDayLeave)</label>
                                        <div class="col-sm-8">@Html.CheckBoxFor(m => m.LeaveRequestDetailModelList[0].IsHalfDayLeave, new { @id = "chkHalfday", disabled = "disabled" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].LeaveStartDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].LeaveStartDate, new { @id = "LeaveStartDate", @class = "form-control DOB", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].LeaveEndDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].LeaveEndDate, new { @id = "LeaveEndDate", @class = "form-control DOB", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].TotalDaysLeave)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].TotalDaysLeave, new { @class = "form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.LeaveRequestDetailModelList[0].TotalDaysLeave)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].RemainingLeaveDays)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].RemainingLeaveDays, new { @class = "form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.LeaveRequestDetailModelList[0].RemainingLeaveDays)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].AvailableLeaveDays)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].AvailableLeaveDays, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].LapseDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].LapseDate, new { @class = "form-control  DOB", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].NewExtendedLapseDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].NewExtendedLapseDate, new { @class = "form-control  DOB", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].Location)</label>
                                        <div class="col-sm-8">
                                            <span class="label-text margin-right">
                                                @Html.RadioButtonFor(m => m.LeaveRequestDetailModelList[0].InCountry, Model.LeaveRequestDetailModelList[0].InCountry, new { disabled = "disabled" })
                                                @Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].InCountry)
                                            </span>
                                            <span class="label-text">
                                                @Html.RadioButtonFor(m => m.LeaveRequestDetailModelList[0].OutCountry, Model.LeaveRequestDetailModelList[0].InCountry, new { disabled = "disabled" })
                                                @Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].OutCountry)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].Destination)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LeaveRequestDetailModelList[0].Destination, (SelectList)ViewBag.Country, " Select Destination", new { @class = "form-control selectpicker", @id = "ddlDestination", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_1)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_1, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_2)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_2, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_3)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_3, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group col-sm-12 padding-0">                       
                        @if (!string.IsNullOrEmpty(Convert.ToString(Model.FormProcessID)) && int.Parse(Model.FormProcessID.ToString()) > 0)
                        {
                            <div class="row">
                                @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Update Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>Update</button>
                    <button type="button" title="Back To All Requests List" id="btnBackToAllRequests" class="btn btn-rounded btn-info btnBackToAllRequest"><i class="fa fa-arrow-left"></i> All Requests List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/UpdateDetails/EmployeeLeaveRejoing.js"></script>
}
