﻿@model HRMS.Entities.Forms.LeaveRejoiningModel
@using HRMS.Entities.Forms
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Leave ReJoining</li>
    </ul>
}
@{
    ViewBag.Title = "Employee Leave ReJoining";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Employee Leave ReJoining (Request ID : @ViewBag.RequestID)
                    </h3>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 7, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID }); }
                    </fieldset>
                </div>
                <br />
                <form id="frmEmployeeLeaveReJoining">
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Rejoining Information:</span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12 ">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RequestDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.RequestDate)</span>
                                            @Html.HiddenFor(m => m.ID)
                                            @Html.HiddenFor(m => m.FormProcessID)
                                            @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
                                            @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })
                                            @Html.Hidden("FormId", (object)ViewBag.FormId)
                                            @Html.Hidden("CompanyId", (object)ViewBag.CompanyId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ReJoiningDate)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.ReJoiningDate)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeavesToAdjust)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeavesToAdjust)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    <div class="row">

                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Leave Request Details (Request ID : @Model.LeaveRequestFormRequestID):</span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].VacationTypeID)</label> </div>
                                        <div class="col-sm-8">
                                            @{var VacationTypeList = ((SelectList)ViewBag.VacationTypeList).FirstOrDefault(r => r.Value == Model.LeaveRequestDetailModelList[0].VacationTypeID.ToString());}
                                            @if (VacationTypeList != null)
                                            {
                                                <span class="label-form"> @VacationTypeList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ToBeLapsed)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].ToBeLapsed)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ExtendedLapsed)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].ExtendedLapsed)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].LeaveStartDate)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].LeaveStartDate)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].TotalDaysLeave)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].TotalDaysLeave)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].Location)</label> </div>
                                        <div class="col-sm-8">
                                            @if (Model.LeaveRequestDetailModelList[0].InCountry)
                                            {
                                                <span class="label-form"> @Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].InCountry)</span>
                                            }
                                            else
                                            {
                                                <span class="label-form"> @Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].OutCountry)</span>
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_1)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_1)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_3)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_3)</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].AvailableLeaveDays)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].AvailableLeaveDays)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].LapseDate)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].LapseDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].NewExtendedLapseDate)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].NewExtendedLapseDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].LeaveEndDate)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].LeaveEndDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].RemainingLeaveDays)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].RemainingLeaveDays)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].Destination)</label> </div>
                                        <div class="col-sm-8">
                                            @{var Country = ((SelectList)ViewBag.Country).FirstOrDefault(r => r.Value == Model.LeaveRequestDetailModelList[0].Destination.ToString());}
                                            @if (Country != null)
                                            {
                                                <span class="label-form"> @VacationTypeList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_2)</label> </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LeaveRequestDetailModelList[0].ContactInfo_2)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    <div class="row">
                        @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                    </div>
                    <br />

                </form>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/EmployeeLeaveRejoing.js"></script>
}
