﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Run Leave Accrual</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS-Run Leave Accrual";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <h3 class="panel-title"><span class="fa fa-plus-square"></span> Run Leave Accrual</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" onclick="Save()" title="Submit" id="btn_saveAll" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="panel-body form-horizontal">
                              
                 <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Accrual Date:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("txtAccrualDate", null, new { @class = "form-control datepickerFrom" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                     <div class="form-group col-sm-8">
                     </div>
                     </div>                  
               

            </div>

          
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Submit" id="btnSave" class="btn btn-rounded btn-primary btnSave" onclick="Save()"><i class="fa fa-floppy-o"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/LeaveAccrualPosting.js"></script>



}
