﻿@model List<HRMS.Entities.Forms.SeparationRequestFormModel>
@using HRMS.Entities.Forms;
<table id="tblSeparationList" class="display table table-bordered table-striped table-fixed-width" width="100%">
    <thead>
        <tr>
            <th class="text-wrap">
                Request ID
            </th>
            <th class="text-wrap">
                Employee Name
            </th>
            <th class="text-wrap">
                Request Date
            </th>

            <th class="text-wrap">
                Separation Date
            </th>
            <th class="text-wrap">
                Separation Type
            </th>
            <th class="text-wrap">
                Last Working Day
            </th>
            <th class="text-wrap">
                Exit Interview Status
            </th>
            <th class="text-wrap">
                Exit Interview Request
            </th>
            <th class="text-wrap">
                Final Clearance Form
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var separationRequest in Model)
        {
            <tr>
                <td>@separationRequest.RequestID</td>
                <td>@separationRequest.EmployeeName</td>
                <td>@separationRequest.RequestDate</td>


                <td>@separationRequest.DateOfSeparation</td>
                <td>@separationRequest.SeparationTypeName_1</td>
                <td>@separationRequest.LastWorkingDay</td>
                <td>
                    @if (separationRequest.SeparationTypeID == 1)
                    {
                        <span>
                            Signoff Required
                        </span>
                    }
                    else
                    {
                        <span>
                            Signoff Not Required
                        </span>
                    }
                </td>
                <td class="text-center">
                    @if (separationRequest.SeparationTypeID == 1)
                    {
                        if (separationRequest.ExitInterviewReqStatusID == 4)
                        {
                            <a href="javascript:void(0);" onclick="ShowExitInterviewForm('/ExitInterviewRequest/ViewDetails',@separationRequest.ExitInterviewFormProcessID);">@separationRequest.ExitInterviewRequestID</a>
                        }
                        if (separationRequest.ExitInterviewReqStatusID == 1 && separationRequest.CanOpenRequest)
                        {
                            <a href="javascript:void(0);" onclick="ShowExitInterviewForm('/ExitInterviewRequest/',@separationRequest.ExitInterviewFormProcessID);">@separationRequest.ExitInterviewRequestID</a>
                        }
                    }

                </td>
                <td class="text-center">
                    @if (separationRequest.ClearanceFormProcessID.Value > 0)
                    {
                        if (separationRequest.ClearanceRequestStatus == Convert.ToInt32(RequestStatus.Completed))
                        {
                            <a href="javascript:void(0);" onclick="ShowClearanceForm('/ClearanceRequest/ViewDetails',@separationRequest.ClearanceFormProcessID,false);">@separationRequest.ClearanceRequestID</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="ShowClearanceForm('/ClearanceRequest/Edit',@separationRequest.ClearanceFormProcessID,false);">@separationRequest.ClearanceRequestID</a>
                        }
                    }
                    else
                    {
                        <a href="javascript:void(0);" onclick="ShowClearanceForm('/ClearanceRequest/Create',@separationRequest.EmployeeID,true);">Create</a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
