﻿@model List<HRMS.Entities.Forms.SeparationRequestFormModel>
@{
    ViewBag.Title = "HRMS - Separated Employee List";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Separated Employee List</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>
                        Separated Employee List
                    </h4>
                </div>
                <div class="col-sm-4">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a class="btnadd" id="btnAddRow" onclick="CreateEmployeeSeparationForm()" title="Create Employee Separation Request"><span class="fa fa-plus"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Select Employee:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(m => m[0].EmployeeID, (SelectList)ViewBag.Employee, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Select Separation Type:
                                        </label>
                                    </div>
                                    <div class="col-sm-8 padding-0">
                                        @Html.DropDownListFor(m => m[0].SeparationTypeID, (SelectList)ViewBag.SeparationType, " Select Separation Type", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlSeparationType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                    </div>
                </div>

            </div>
            <div class="row padding-0">
                <hr>
                <div class="form-horizontal ">
                    <div class="col-sm-12 innerdiv" id="EmployeeSeparationGrid">
                        @Html.Partial("_EmployeeSeparationList", Model)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Custom/Forms/SeparationEmployeeList.js"></script>
}
