﻿@model HRMS.Entities.EmergencyContactModel
@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="panel panel-default">
    @using (Ajax.BeginForm("UpdateEmergencyContact", "EmergencyContact", new AjaxOptions { OnSuccess = "Sucess" }, new { @id = "frmEmergencyContact", @class = "" }))
    {
        @Html.HiddenFor(m => m.EmergencyContactId)
        @Html.HiddenFor(m => m.EmployeeID)
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"> </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>  
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;Contact Name:</label> </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @required= "required" })
                        @Html.ValidationMessageFor(m => m.ContactName)
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;Call in Emergency:</label> </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.CallInEmergancy, (SelectList)ViewBag.CallEmergency, "Select", new { @class = "form-control selectpickerddl" })
                        @Html.ValidationMessageFor(m => m.CallInEmergancy)
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;Phone (Res):</label> </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ResPhone, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.ResPhone)
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form">Email:</label> </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;Relation:</label> </div>
                    <div class="col-sm-9">
                        <div class="input-group ">
                            @Html.DropDownListFor(m => m.RelationId, (List<SelectListItem>)ViewBag.PersonRelationList, "Select Relation", new { @class = "form-control selectpickerddl", required = "required" })
                            <span class="input-group-addon add-on">
                                <a href="javascript:addDifferenceType('Add Relationship',32,'#Relationship','/Employee/AddType/32')" data-toggle="tooltip" title="Add Relationship!" style="color:#ffffff">+</a>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.RelationId)
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form">Phone (Work):</label> </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.WorkPhone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.WorkPhone)
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="col-sm-3 padding-0"><label class="label-form">Mobile:</label> </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Mobile)
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="button" value="Cancel" class="btn btn-primary pull-left" onclick="CloseClosetModel('#frmEmergencyContact');" />

                    <input type="submit" @(Model.EmergencyContactId == 0 ? "value=Save" : "value=Update") class="btn btn-primary pull-right" />

                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });

    $('#btn_BackToList').click(function () {
        window.location.href = "/EmergencyContact/Index/" + $('#EmployeeID').val();
    });

    function Sucess(arg) {
        $.unblockUI();
        ShowMessage(arg.result, arg.resultMessage);
        getGrid($('#hiddenEmployeeId').val());
        CloseClosetModel('#frmEmergencyContact');
    }

    function Begin() {
        $.blockUI();
    }
</script>
