﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!! HRMS !!</title>
@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   @*------------------------------------------------------Below are the Scripts Required for Data Table--------------------------*@
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <script src="http://cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.min.js"></script>
        <script src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    @*-----------------------------------------------------------------------------------------------------------------------------*@

    @*-----------------------------------------------------Date Picker JS---------------------------------------------------------------------------*@
    
    <link href="@Url.Content("/Content/css/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/css/responsive.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("/Content/js/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/Custom/LaunchDatepicker.js")"></script>
    <script src="@Url.Content("/Scripts/Custom/Global.js")"></script>
    @*//<link href="~/Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    //<link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    //<script src="~/Content/js/jquery-ui.js" type="text/javascript"></script>
    //<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>*@
    @*-------------------------------------------------------------------------------------------------------------------------------*@
    @*-----------------------------------------------------Loader---------------------------------------------------------------------------*@
    <script src="~/Scripts/Custom/jquery.blockUI.js"></script>
    @*--------------------------------------------------------------------------------------------------------------------------------*@

    
    <script src="@Url.Content("/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.js")"></script>
    
    <link href="@Url.Content("/Content/Custom.css")" rel="stylesheet" />   

    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#5bc0de">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
      <script src="assets/lib/html5shiv/html5shiv.js"></script>
	      <script src="assets/lib/respond/respond.min.js"></script>
	    <![endif]-->

    <!--Modernizr 3.0-->

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/Template/css/mystyle.css" />
    <!-- WRITE YOUR CSS CODE HERE -->

    <script src="/assets/lib/jquery.min.js"></script>





    <!--Dialog box-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/lib/Font-Awesome/css/font-awesome.min.css">

    <!-- Admin layout core stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.min.css">
    @*<link rel="stylesheet" href="/assets/css/theme.css">*@
    <script src="/assets/lib/modernizr-build.min.js"></script>


</head>
<body>

    <div id="wrap">
        <div id="top">

            <!-- .navbar -->
            <nav class="navbar navbar-inverse navbar-static-top">

                <!-- Brand and toggle get grouped for better mobile display -->
                <header class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/images/joinjourney.png" width="90px" height="40px" />
                    </a>
                </header>
@*                @Html.Partial("_LoginPartial")*@
                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <!-- .nav -->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="ViewEmployeeProfile/Index/45">
                                <i class="glyphicon glyphicon-user"></i>&nbsp;Employee Profile
                            </a>
                        </li>
                        <li>
                            <a href="/UserReviews/Index">
                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Goal Management
                            </a>
                        </li>
                        <li>
                            <a href="/Banners/Index">
                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Performance Appraisals
                            </a>
                        </li>
                        <li>
                            <a href="/CMSPage/Index">
                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Attendance Tracking 
                            </a>
                        </li>
                        <li>
                            <a href="/CMSPage/Index">
                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Recruitment
                            </a>
                        </li>
                    </ul>
                    <!-- /.nav -->
                </div>
            </nav>
            <!-- /.navbar -->


        </div>
        <!-- /#top -->
        <div id="left">
            <div class="media user-media">
                <div class="user-media-toggleHover">
                    <span class="fa fa-user"></span>
                </div>
                <div class="user-wrapper">
                    <a href="" class="user-link">
                        <img src="assets/img/user.gif" alt="User Picture" class="media-object img-thumbnail user-img">
                    </a>
                    <div class="media-body">
                            <h5 class="media-heading">Hello</h5>
                        <ul class="list-unstyled user-info">
                            <li><a href="">Administrator</a>  </li>
                            <li>Last Access:
                  <br>
                                <small>
                                    <i class="fa fa-calendar"></i>&nbsp;26 May 16:32</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- #menu -->
            <ul id="menu" class="">
                <li class="nav-divider"></li>
                <li class="">
                    <a href="/User/Index">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="link-title">Employees
                        </span>
                    </a>
                </li>
                <li class="">
                    <a href="/UserReviews/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Dpartments
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Banners/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Salary Grades</span>
                    </a>
                </li>
                <li>
                    <a href="/CMSPage/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Positions</span>
                    </a>
                </li>
                <li>
                    <a href="/CMSPage/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Locations</span>
                    </a>
                </li>
<li>
                    <a href="/CMSPage/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Premium Recommendations</span>
                    </a>
                </li>
<li>
                    <a href="/CMSPage/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Promotions/Penalities</span>
                    </a>
                </li>
<li>
                    <a href="/CMSPage/Index">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="link-title">Company News</span>
                    </a>
                </li>
                <li class="nav-divider"></li>
            </ul>
            <!-- /#menu -->
        </div>
        <!-- /#left -->
        <div id="content">
            <div class="outer">
                <div class="inner">
                    <div class="col-lg-12">

                        @RenderBody()
                    </div>
                </div>

                <!-- end .inner -->
            </div>

            <!-- end .outer -->
        </div>

        <!-- end #content -->
    </div>
    <!-- /#wrap -->
    <div id="footer">
        <p class="text-muted">&copy; @DateTime.Now.Year - Copyright HRMS</p>
    </div>
    <div id="divDialogBox" title="Add Comments">
    </div>
</body>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/lib/screenfull/screenfull.js"></script>
<script src="/assets/js/main.min.js"></script>
@Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</html>
