﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   @*------------------------------------------------------Below are the Scripts Required for Data Table--------------------------*@
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <script src="http://cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.min.js"></script>
        <script src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    @*-----------------------------------------------------------------------------------------------------------------------------*@

    @*-----------------------------------------------------Date Picker JS---------------------------------------------------------------------------*@

    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/js/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    @*-------------------------------------------------------------------------------------------------------------------------------*@

    @*-----------------------------------------------Loader --------------------------------------------------------------------------------*@
    <script src="~/Scripts/Custom/jquery.blockUI.js"></script>

    @*-------------------------------------------------------------------------------------------------------------------------------*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HRMS", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Employee", "ListEmployee", "Employee")</li>
                    <li>@Html.ActionLink("Employee Credential", "Index", "EmployeeCredential")</li>
                    <li>@Html.ActionLink("Company", "Index", "Company")</li>
                    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                    <li>@Html.ActionLink("Department", "Index", "Department")</li>
                    <li>@Html.ActionLink("Department Employee", "Index", "DepartmentEmployee")</li>
                    <li>@Html.ActionLink("Employee Salary", "Index", "HRSalaryGrade")</li>
                    <li>@Html.ActionLink("Employee Position", "Index", "Position")</li>
                    @*<li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>*@
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span id="modal_heading"></span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="panel-body full-width">
                        <div id="modal_Loader"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
  
  

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
