﻿@using HRMS.Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/assets/css/theme-default.css" />
    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/assets/css/CustomCss.css" />
    <style>
        .dataTables_length {
            border-bottom: 0px;
        }


        .modal-open {
            padding-right: 0px !important;
        }

        .DemoBS2 {
            margin: 20px;
        }

        #LiLogo:hover {
            background-color: #e34724;
        }

        .x-navigation.x-navigation-horizontal {
            background: #3A5795;
        }

        .x-navigation {
            background: #3A5795;
        }

        .x-navigation > li.xn-logo > a:first-child {
            background-color: #fff;
        }

        .x-navigation > li.xn-logo > a:first-child {
            color: #3a5795 !important;
        }

        .x-navigation > li.xn-logo > a:first-child:hover {
            background-color: #fff !important;
        }

        .page-content {
            height: auto !important;
        }

        table td, table th {
            /*color: black !important;*/
            color: black;
        }

        body, input[type="text"] {
            color: black !important;
        }

        input[type="button"], input[type="submit"], button.btn {
            /*background-color: #ccc !important;
            color: black !important;
            border: 1px solid black !important;*/
            font-weight: bold !important;
        }

        .nopadding {
            padding: 0 !important;
        }

        .x-navigation > li.xn-logo {
            display: block;
            margin: 0 auto;
        }

        .x-navigation > li.xn-logo > a:first-child {
            /*background: #fff url("../../Content/images/Logo/logo.png") no-repeat scroll center center;*/
            background-size: 165px 50px;
            /*background-position-x: 30px;*/
            /*background-position: center;*/
            -moz-border-radius: 0px 0px 0px 0px;
            -webkit-border-radius: 0px 0px 0px 0px;
            border-radius: 0px 0px 0px 0px;
            padding: 0;
        }

        .x-navigation.x-navigation-minimized > li.xn-logo > a:first-child {
            background-size: 50px 50px;
            /*background-position-x: 30px;*/
            /*padding: 0px;
            width: 50px;*/
            /*background-image: url("../../Content/images/Logo/logosmall.png");*/
        }

        #SpnHome {
            color: white;
            margin-left: 25px;
            margin-right: 10px;
        }

        #SpnHome:hover {
            color: white;
            margin-left: 25px;
            text-decoration: underline;
        }

        .ClsAction {
            min-width: 115px;
        }

        .edit-class {
            margin-bottom: 15px !important;
        }

        #messagebox_overlay {
            z-index: 10000;
        }

        .modal-backdrop {
            position: fixed !important;
        }

        div.datepicker td.today {
            border: 1px #33414e solid;
        } 
       /**Search & Footer Pager datatable**/  
        /*.dataTables_wrapper {
            float: left;
            width: auto;
        }*/

    </style>

</head>
<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container page-navigation-toggled page-container-wide" >

        <!-- START PAGE SIDEBAR -->

        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation x-navigation-minimized x-navigation-hover">
                <li class="xn-logo col-md-12">
                    @*<img class="col-md-2 col-md-offset-5" src="/Content/images/Logo/logo.png" />*@
                    @*<a href="@Url.Action("Index", "HOME")"></a>*@
                    <a href="@Url.Action("Index", "HOME")" style="background-image: url(@Session["App_SmallLogo"]);" id="SmallLogoViewID"></a>
                    <a href="@Url.Action("Index", "HOME")" style="background: #fff url(@Session["App_LargeLogo"]) no-repeat scroll center center;padding-top: 35px;display:none;" id="LargeLogoViewID"></a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                @*</ul>
            <ul class="x-navigation">*@
                @{
                    HRMS.DataAccess.DBHelper objDBHelper = new HRMS.DataAccess.DBHelper();
                    HRMS.Entities.ViewModel.UserContextViewModel userContext = new HRMS.Entities.ViewModel.UserContextViewModel();
                    userContext = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
                    List<HRMS.Entities.General.MenuNavigationModel> objMenuNavigationModelList = new List<HRMS.Entities.General.MenuNavigationModel>();
                    objMenuNavigationModelList = objDBHelper.GetMenuNavigationList().Where(x => userContext.Permisssion.Contains(x.MainNavigationSubCategoryId) == true).Select(x => x).ToList();
                    List<HRMS.Entities.General.MenuNavigationModel> objMenuNavigationModelListTemp = new List<HRMS.Entities.General.MenuNavigationModel>();
                    var profileImgbase64 = Convert.ToBase64String((byte[])Session["ProfileImage"]);
                    var profileImgSrc = String.Format("data:image/gif;base64,{0}", profileImgbase64);
                    HRMS.Entities.PermissionModel objViewEmpPermissionModel = new HRMS.Entities.PermissionModel();
                    objViewEmpPermissionModel = HRMS.Web.CommonHelper.CommonHelper.CheckPermissionForUser("/ViewEmployeeProfile");
                    HRMS.Entities.Employee emp = (HRMS.Entities.Employee)Session["EmpInfo"];
                    HRMS.DataAccess.GeneralDB.CommonDB CommonDB = new HRMS.DataAccess.GeneralDB.CommonDB();
                    List<HRMS.Entities.General.XMLLanguages> XMLLanguages = CommonDB.GetLanguageList(null);

                    <!--Dashboard-->
                    <li>
                        @Html.Raw(objMenuNavigationModelList.Where(x => x.MainNavigationId == 1).Select(x => x).FirstOrDefault().MainNavigationHTMLLink)
                    </li>

                    <!--Other menus-->
                    List<int> MainBarList = new List<int>();
                    MainBarList = objMenuNavigationModelList.Where(x => x.MainNavigationId != 1 && x.IsThirdNavigation == false).GroupBy(x => x.MainNavigationId).Select(x => x.First().MainNavigationId).ToList();

                    foreach (var mainitem in MainBarList)
                    {
                        <li class="xn-openable">
                            @Html.Raw(objMenuNavigationModelList.Where(x => x.MainNavigationId == mainitem).Select(x => x).FirstOrDefault().MainNavigationHTMLLink)

                            <ul class="">
                                @{
                                    objMenuNavigationModelListTemp = new List<HRMS.Entities.General.MenuNavigationModel>();
                                    objMenuNavigationModelListTemp = objMenuNavigationModelList.Where(x => x.MainNavigationId == mainitem).Select(x => x).ToList().OrderBy(x => x.SortingOrder).ThenBy(x => x.MainNavigationSubCategoryName).ToList();
                                    foreach (var inneritem in objMenuNavigationModelListTemp)
                                    {
                                        List<HRMS.Entities.General.MenuNavigationModel> objThirdMenuNavigationList = objMenuNavigationModelList.Where(x => x.MainNavigationId == inneritem.MainNavigationSubCategoryId && x.IsThirdNavigation == true).Select(x => x).ToList().OrderBy(x => x.SortingOrder).ThenBy(x => x.MainNavigationSubCategoryName).ToList();
                                        if (objThirdMenuNavigationList.Count > 0)
                                        {
                                            <li class="xn-openable">
                                                @Html.Raw(inneritem.MainNavigationSubCategoryHTMLLink)
                                                <ul>
                                                    @{
                                                        foreach (var nestedInneritem in objThirdMenuNavigationList)
                                                        {
                                                            <li>
                                                                @Html.Raw(nestedInneritem.MainNavigationSubCategoryHTMLLink)
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                @Html.Raw(inneritem.MainNavigationSubCategoryHTMLLink)
                                                            </li>
                                                            }
                                                        }
                                }
                            </ul>

                        </li>
                                                        }

                }

            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">
            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button" id="LogoId">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent" id="CheckLogoId"></span></a>

                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                @*<li class="xn-search">
            <form role="form">
            <input type="text" name="search" placeholder="Search..." />
            </form>
            </li>*@
                <!-- END SEARCH -->
                <!-- POWER OFF -->
                @*<li class="xn-icon-button pull-right">
                <a style="width:30px;"></a>
            </li>*@
                <li class="xn-icon-button pull-right padding-right-item" id="btnShowProfileInfo">
                    <a href="#" class="padding-0">
                        <img src="@profileImgSrc" ) />
                    </a>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" id="informer" style="z-index:4 !important;width:800%!important">
                        <div class="panel-body" style="height: 875%;">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-3 padding-0">
                                    <img src="@profileImgSrc" class="menuProfilePic" ) />
                                </div>
                                <div class="col-sm-9" style="padding-left: 28px;">
                                    <h4> @emp.FullName</h4>
                                    @if (emp.EmployeeId > 0)
                                    {
                                        <label>@emp.EmailId</label>
                                    }
                                    <h4></h4>
                                    <h4></h4>
                                    @if (emp.EmployeeId == 0)
                                    {
                                        <div class="col-sm-12 padding-0">
                                            <label><a href="/Employee/ListEmployee">Employee List</a></label>
                                        </div>
                                        <div class="col-sm-12 padding-0">
                                            <label><a href="/Reporting/Index">All Reports</a></label>
                                        </div>
                                    }
                                    @*@if (objViewEmpPermissionModel.IsMainNavigationPermission && emp.EmployeeId != 0)
                                    {
                                        <div class="col-sm-9 padding-0">
                                            <a href="#" onclick="ChangePassword(@emp.EmployeeId);" class="btn btn-danger btn-block btn-rounded">Change Password</a>
                                        </div>
                                    }*@
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="line-height:380%;">
                            <div class="col-sm-4 pull-right" style="margin-top: -0.7%;">
                                <a href="@Url.Action("LogOff", "Account")" class="btn btn-primary"><span class="fa fa-sign-out"></span>Sign Out</a>
                            </div>
                            @if (objViewEmpPermissionModel.IsMainNavigationPermission && emp.EmployeeId != 0)
                            {
                                <div class="col-sm-3 pull-left" style="margin-top: -0.7%;">
                                    <a onclick="ViewProfileChannel(@emp.EmployeeId,false)" class="btn btn-primary"><span class="fa fa-user"></span>View Profile</a>
                                </div>
                            }

                        </div>
                    </div>
                    @*<ul class="xn-drop-left animated zoomIn">
                    <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                </ul>*@
                </li>

                <li class="xn-icon-button pull-right padding-right-item hide" id="btnShowLanguage">
                    @*@{
                        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
                        string flg = "flag flag-gb";
                        if (culture == "ar")
                        {
                            flg = "flag flag-ae";
                        }
                    }

                    <a href="#"><span id="lngflag" class="@flg"></span></a>*@

                    @{
                        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
                        string[] flg = culture.Split('-');
                        string flgpth = "gb";
                        if (flg.Length > 0)
                        {
                            flgpth = flg[flg.Length - 1];
                        }
                        flgpth = "flag flag-" + flgpth;

                    }

                    <a href="#"><span id="lngflag" class="@flgpth"></span></a>
                    <ul class="panel panel-primary xn-drop-left xn-drop-white animated zoomIn" style="border-radius:5px;border-top-width: 0px;" id="informerL">

                        @foreach (HRMS.Entities.General.XMLLanguages Lag in XMLLanguages)
                        {

                            <li style="background-color: white;" @(culture.ToLower() == Lag.LanguageCulture.ToLower() ? "class=select" : "")><a href="#" onclick="PDRPLoadLanguage(@Lag.LanguageID)"><span class="@Lag.LanguageFaFlag"></span> @Lag.LanguageName</a></li>
                        }
                        @*<li><a href="#" style="background-color: white;"><span class="flag flag-gb"></span> English</a></li>
                    <li><a href="#" style="background-color: white;"><span class="flag flag-ae"></span> Arabic</a></li>
                    <li><a href="#"style="background-color: white;"><span class="flag flag-cn"></span> Chinese</a></li>*@
                    </ul>


                    @*<ul class="xn-drop-left animated zoomIn">
                    <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                </ul>*@
                </li>

                @*<li class="pull-right " style="margin-top:15px;">
                <h3 style="color:white">
                    <span id="SpnLoginName">
                        @{

                            @Html.Raw(userContext.Name)


                        }
                    </span>
                </h3>
            </li>*@
            </ul>

            <div class="divBreadcrumb" dir="@(CultureHelper.IsRightToLeft() ? "rtl" : "ltr")">
                <div class="pull-left" @(CultureHelper.IsRightToLeft() ? "style=float:right!important;" : "")>
                    @RenderSection("Breadcrumb", required: false)
                </div>
                <div class="pull-right" @(CultureHelper.IsRightToLeft() ? "style=float:left!important;" : "")>
                    @if (!string.IsNullOrEmpty(Session["VesionDate"].ToString()))
                    {
                        @("V" + Session["VesionDate"].ToString());
                    }

                </div>
            </div>
            <!-- END X-NAVIGATION VERTICAL -->
            <div class="page-content-wrap" dir="@(CultureHelper.IsRightToLeft() ? "rtl" : "ltr")">
                @RenderBody()
            </div>

        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if you want to continue work. Press Yes to logout from current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("LogOff", "Account")" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->

    <div class="modal" id="myModal3" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal_heading3"></h4>
                </div>
                <div class="modal-body">
                    <div id="modal_Loader3"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal_heading"></h4>
                </div>
                <div class="modal-body">
                    <div id="modal_Loader"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="addPaySalaryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="addPaySalaryModal_heading"></h4>
                </div>
                <div class="modal-body">
                    <div id="addPaySalaryModal_Loader"></div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="modal" id="myModal2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal_heading2"></h4>
                </div>
                <div class="modal-body">
                    <div id="modal_Loader2"></div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="modal" id="myModal1" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal_heading1"></h4>
                </div>
                <div class="modal-body">
                    <div id="modal_Loader1"></div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
    <a target="_blank" href="#" id="hdnTempLink"></a>
    @*<!-- START PRELOADS -->
        <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->*@
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
   
    <script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*<script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>*@
    <script type="text/javascript" src="~/Content/assets/js/plugins/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/highcharts/exporting.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/highcharts/nodatatodisplay.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/highcharts/drilldown.js"></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='~/Content/assets/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/morris/raphael-min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/morris/morris.min.js"></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <script type='text/javascript' src='~/Content/assets/js/plugins/noty/jquery.noty.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/noty/layouts/topCenter.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/noty/layouts/topLeft.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/noty/layouts/topRight.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/plugins/noty/themes/default.js'></script>

    <!--Currency Convertor Plugin-->
    <script src="~/Content/assets/js/plugins/jquery-currency-converter/currency-converter.js"></script>
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="~/Content/assets/js/settings.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/actions.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/Custom/jquery.blockUI.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Custom/Global.js"></script>

    @*@Scripts.Render("~/bundles/bootstrap")*@

    <link href="~/Content/Messagebox.css" rel="stylesheet" />
    <script src="~/Scripts/messagebox.js"></script>
    <!--MultiSelect DropDown-->
    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var url = window.location.pathname;
            $(".page-sidebar").removeClass("page-sidebar-fixed").removeClass("scroll");
            $("#LogoId .x-navigation-minimize").click(function () {
                if ($("#CheckLogoId").hasClass("fa-dedent")) {
                    $("#SmallLogoViewID").hide();
                    $("#LargeLogoViewID").show();
                }
                else if ($("#CheckLogoId").hasClass("fa-indent")) {
                    $("#LargeLogoViewID").hide();
                    $("#SmallLogoViewID").show();
                }
            });
        });

        function LoadEmployeeDetails(id) {
            if (id != null && id != undefined && id > 0) {
                $.ajax({
                    type: 'POST',
                    url: '/Home/GetEmployeeDetails',
                    data: { Id: id },
                    success: function (data) {
                        $("#lblEmployeeName").text(data.employeeDetailsModel.FirstName_1 + "  " + data.employeeDetailsModel.SurName_1);
                        $("#lblEmployeeIDNo").text(data.employeeDetailsModel.EmployeeAlternativeID);
                        $("#lblPositon").text(data.employmentInformation.PositionName);
                        $("#lblDepartment").text(data.employmentInformation.DepartmentName);

                    },
                    error: function (data) { }
                });
            }
        }

    </script>

    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->

</body>
</html>
