﻿@*<img src="@ViewBag.imagePath" class="img-responsive" id="ImgID" />*@
@{
    ViewBag.Title = "HRMS - Employee Credentials";
}

@{ Layout = null;}
<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Credentials</li>
    </ul>
}

<!-- Content -->
<div class="panel panel-default">
    <div class="panel-body form-horizontal">
        <div class="col-sm-12 ">
            <div class="col-md-6">
                <div class="img-container padding-0">
                    @*<img id="image" src="~/Content/assets/ImageCropper/images/picture.jpg" alt="Picture">*@
                    <img id="image" src="@ViewBag.imagePath" alt="Picture" style="background:white;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 padding-0">
                    <div class="col-md-3" style="padding-left: 30px;">
                        <div class="docs-preview clearfix">
                            <div class="img-preview preview-md"></div>
                        </div>
                    </div>               
                    <div class="col-md-12">                    
                            <div class="col-md-6 form-group docs-data">
                                <div class="input-group">
                                    <div class="input-group-addon">W</div>
                                    <input type="text" class="form-control" name="dataWidth" id="dataWidth" />
                                </div>
                            </div>
                            <div class="col-md-6 form-group docs-data">
                                <div class="input-group">
                                    <div class="input-group-addon">H</div>
                                    <input type="text" class="form-control" name="dataHeight" id="dataHeight" />
                                </div>
                            </div>                       
                    </div>	
                </div>	                         
            </div>
        </div>
        <div class="col-sm-12" style="padding-top: 20px;">
            <div class="col-md-9 docs-buttons">
                <!-- <h3>Toolbar:</h3> -->
                <div class="col-sm-12 padding-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Zoom In">
                                <span class="fa fa-search-plus"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Zoom Out">
                                <span class="fa fa-search-minus"></span>
                            </span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Move Left">
                                <span class="fa fa-arrow-left"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Move Right">
                                <span class="fa fa-arrow-right"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Move Up">
                                <span class="fa fa-arrow-up"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Move Down">
                                <span class="fa fa-arrow-down"></span>
                            </span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Rotate Left">
                                <span class="fa fa-rotate-left"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Rotate Right">
                                <span class="fa fa-rotate-right"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 padding-0" style="margin-top: 8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                            <span class="docs-tooltip" data-toggle="tooltip" title="Crop">
                                <span class="fa fa-check"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                            <span class="docs-tooltip" data-toggle="tooltip" title="Clear">
                                <span class="fa fa-times"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="display:none;">
            <div class="docs-data" style="display:none;">
                <div class="input-group input-group-sm">
                    <span class="input-group-prepend">
                        <label class="input-group-text" for="dataX">X</label>
                    </span>
                    <input type="text" class="form-control" id="dataX" placeholder="x">
                    <span class="input-group-append">
                        <span class="input-group-text">px</span>
                    </span>
                </div>
                <div class="input-group input-group-sm" style="display:none;">
                    <span class="input-group-prepend">
                        <label class="input-group-text" for="dataY">Y</label>
                    </span>
                    <input type="text" class="form-control" id="dataY" placeholder="y">
                    <span class="input-group-append">
                        <span class="input-group-text">px</span>
                    </span>
                </div>
                <div class="input-group input-group-sm" style="display:none;">
                    <span class="input-group-prepend">
                        <label class="input-group-text" for="dataRotate">Rotate</label>
                    </span>
                    <input type="text" class="form-control" id="dataRotate" placeholder="rotate">
                    <span class="input-group-append">
                        <span class="input-group-text">deg</span>
                    </span>
                </div>
                <div class="input-group input-group-sm" style="display:none;">
                    <span class="input-group-prepend">
                        <label class="input-group-text" for="dataScaleX">ScaleX</label>
                    </span>
                    <input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
                </div>
                <div class="input-group input-group-sm" style="display:none;">
                    <span class="input-group-prepend">
                        <label class="input-group-text" for="dataScaleY">ScaleY</label>
                    </span>
                    <input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer" style="height: 50px;">
        @*<input type="submit" class="btn btn-primary pull-right" />*@
        <div class="docs-buttons btn-group btn-group-crop pull-right">
            <button type="button" class="btn btn-primary" style="border-radius:5px;" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                <span class="docs-tooltip" data-toggle="tooltip" data-animation="false">
                    Upload Image
                </span>
            </button>
            <input type="hidden" value="@ViewBag.chkImageFor" id="chkImageForId" />
            <input type="hidden" value="@ViewBag.fileName" id="chkfileNameId" />
        </div>
        <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
    </div>
</div>

<!-- Scripts -->

<link href="~/Content/assets/css/cropper/cropper.css" rel="stylesheet" />
<link href="~/Content/assets/css/cropper/main.css" rel="stylesheet" />

<script src="~/Content/assets/js/plugins/cropper/common.js"></script>
<script src="~/Content/assets/js/plugins/cropper/cropper.js"></script>
<script src="~/Content/assets/js/plugins/cropper/main.js"></script>
