﻿@model HRMS.Entities.Forms.KPIsListModel
@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    string strCh = "";
    int RowNo = 1, TotalWeight = 0;
    int IsEditable = 1;
    if (Model.IsAnnualAppraisalStarted)
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + ", ";
        }
        strCh = strCh + "*"+ PDRPKPIFormResources.GetKPIFromResource("Validation1") + "!.";
        IsEditable = 0;
    }
}
<style>
    .ritrds{
            border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    }
     .lftrds{
            border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    }
</style>
<hr>
@if ((Model.KPIYear !=null || Model.KPIYear =="") && Model.CompanyID>0)
{
    //if (Model.PDRPFormulasList.Count > 0)
    //{

    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "DropIns").ToList().Count== 0) //*** Formula Used in Dropin From
    {
        strCh = "*"+ PDRPKPIFormResources.GetKPIFromResource("Validation2");
        IsEditable = 0;
    }
    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "AppraisalTeachingDropIn").ToList().Count == 0) //*** Formula Used in Annula appraisal From in Dropin Section
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + "\n";
        }
        strCh = strCh+ "*" + PDRPKPIFormResources.GetKPIFromResource("Validation3");
        IsEditable = 0;
    }
    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "Observat").ToList().Count == 0)//*** Formula Used in Observation From
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + "\n";
        }
        strCh = strCh+ "*" + PDRPKPIFormResources.GetKPIFromResource("Validation4");
        IsEditable = 0;
    }
    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "AppraisalTeachingObservation").ToList().Count == 0) //*** Formula Used in Annula appraisal From in Observation Section
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + "\n";
        }
        strCh = strCh + "*" + PDRPKPIFormResources.GetKPIFromResource("Validation5");
        IsEditable = 0;
    }
    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "AppraisalTeachingSingleKPI").ToList().Count == 0) //*** Annual Appraisal (Teaching)'s formula
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + "\n";
        }
        strCh = strCh+ "*" + PDRPKPIFormResources.GetKPIFromResource("Validation6");
        IsEditable = 0;
    }
    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "RatingScale").ToList().Count == 0)
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + "\n";
        }
        strCh = strCh + "*" + PDRPKPIFormResources.GetKPIFromResource("Validation7");
        IsEditable = 0;
    }
    if (Model.PDRPFormulasList.Where(m => m.FormulasType == "WeightingPercentage").ToList().Count == 0)
    {
        if (strCh.Length > 0)
        {
            strCh = strCh + "\n";
        }
        strCh = strCh + "*" + PDRPKPIFormResources.GetKPIFromResource("Validation7");
        IsEditable = 0;
    }
    <div class="col-lg-12 innerdiv center-text-align marginles padding-0 red" style="margin-bottom:0px !important; font-weight:bold;">
        @Html.Raw(strCh.Replace("\n", "<br />").Replace("*", "&#8226; "))
      @* <p> @strCh  11<br/>xddd</p>*@
    </div>
    //}
}
<div class="col-lg-12 innerdiv">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <label id="lblCharsLeft_txtComments" class=" label-form" style="font-size:12px !important">@PDRPKPIFormResources.GetKPIFromResource("KPIs") </label>
        </legend>
        @Html.HiddenFor(m => m.KPIYear)
        @Html.HiddenFor(m => m.CompanyID)
        @Html.Hidden("IsEditable", IsEditable)
        <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
            <tr>
                <th class="col-sm-1 brd c">
                    @Html.DisplayNameFor(m => m.KPIsList[0].KPIOrder)
                   <br />
                </th>
                <th class="col-sm-2 brd c">
                    <span class="required-field">*</span>&nbsp; @Html.DisplayNameFor(m => m.KPIsList[0].KPIAreaEng)
                </th>
                <th class="col-sm-2 brd c">
                    @Html.DisplayNameFor(m => m.KPIsList[0].KPIAreaArab)
                </th>
                <th class="col-sm-3 brd c">
                    @Html.DisplayNameFor(m => m.KPIsList[0].KPIDescriptionEng)
                </th>
               
                <th class="col-sm-3 brd c">
                    @Html.DisplayNameFor(m => m.KPIsList[0].KPIDescriptionArab)
                </th>
                <th class="col-sm-1 brd c" style="min-width: 90px !important;">
                    @Html.DisplayNameFor(m => m.KPIsList[0].KPIWeightage)
                </th>
            </tr>

            @if (Model.KPIsList != null)
            {
                foreach (var app in Model.KPIsList)
                {
                    if (!string.IsNullOrEmpty(app.KPIYear))
                    {
                        <tr>
                            <td class="col-sm-1 brd c">
                                <label class="col-sm-12">@RowNo</label>
                                @Html.Hidden("KPIOrder", RowNo, new { @id = "KPIOrder" })
                            </td>
                            @* <td class="col-sm-3 brd"><div class="col-sm-12">@Html.TextBox("txtKPIName", app.KPIName, new { @class = "form-control", @id = "txtKPIName" })</div></td>*@                           
                            <td class="col-sm-2 brd"><div class="col-sm-12">@Html.TextArea("txtKPIAreaEng", app.KPIAreaEng, IsEditable==1? new { @class = "form-control", @id = "txtKPIAreaEng" }: (object)new { @class = "form-control", @id = "txtKPIAreaEng",@disabled= "disabled" })</div></td>
                            <td class="col-sm-2 brd"><div class="col-sm-12">@Html.TextArea("txtKPIAreaArab", app.KPIAreaArab, IsEditable == 1 ? new { @class = "form-control", @id = "txtKPIAreaArab" }:(object)new { @class = "form-control", @id = "txtKPIAreaArab", @disabled = "disabled" })</div></td>
                            <td class="col-sm-3 brd"><div class="col-sm-12">@Html.TextArea("txtKPIDescriptionEng", app.KPIDescriptionEng, IsEditable == 1 ? new { @class = "form-control", @id = "txtKPIDescriptionEng" }:(object)new { @class = "form-control", @id = "txtKPIDescriptionEng", @disabled = "disabled" })</div></td>
                            <td class="col-sm-3 brd"><div class="col-sm-12">@Html.TextArea("txtKPIDescriptionArab", app.KPIDescriptionArab, IsEditable == 1 ? new { @class = "form-control", @id = "txtKPIDescriptionArab" }: (object)new { @class = "form-control", @id = "txtKPIDescriptionArab", @disabled = "disabled" })</div></td>
                            <td class="col-sm-1 brd" style="min-width: 90px !important;">
                                <div class="col-sm-12 nopad " style="min-width: 90px !important;">
                                    <div class="input-group nopad c" style="min-width: 90px !important;">
                                        @{
                                            string L = "";
                                            string R = "";
                                            if (CultureHelper.IsRightToLeft())
                                            {
                                                L = "lftrds";
                                                R = "ritrds";
                                            }
                                        }
                                        @Html.TextBox("txtKPIWeightage", app.KPIWeightage
                                       , IsEditable == 1 ? new
                                       {
                                           @class = "form-control weightage c "+R,
                                           @id = "txtKPIWeightage",
                                           @type = "number",
                                           @min = "0",
                                           @max = "100",
                                           @step = "1"

                                       } : (object)new
                                       {
                                           @class = "form-control weightage c "+R,
                                           @id = "txtKPIWeightage",
                                           @type = "number",
                                           @min = "0",
                                           @max = "100",
                                           @step = "1",
                                           @disabled = "disabled"

                                       })
                                        <span class="input-group-addon padding-0 add-on @(CultureHelper.IsRightToLeft() ? "lftrds" :"")" style="min-width: 20px;background-color:#33414e5c;border-color:#33414e5c;">
                                            %
                                        </span>
                                    </div>
                                </div>

                            </td>



                        </tr>
                    }
                    RowNo += 1;
                    TotalWeight = TotalWeight + app.KPIWeightage;
                }
            }

        </table>
        <table class="table table-striped table-fixed-width">
            <tr>
                <td class="col-sm-1"><label style="color:#FFF" class="col-sm-12"></label></td>
                @*<td class="col-sm-3"><label style="color:#FFF" class="col-sm-12"></label></td>*@
                <td class="col-sm-10"></td>
                <td class="col-sm-1"><label class="col-sm-12"> @PDRPKPIFormResources.GetKPIFromResource("TotalWeight")</label></td>
                <td class="col-sm-1" style="padding-top:5px">
                    <div class="col-sm-12 nopad">
                        <div class="input-group nopad c">
                            @Html.TextBox("txtTotalWeightage", @TotalWeight, (CultureHelper.IsRightToLeft() ? new { @class = "form-control Weightage_Sum ritrds", @id = "txtTotalWeightage" }
                                    : (object)new { @class = "form-control Weightage_Sum", @id = "txtTotalWeightage" }))
                            <span class="input-group-addon padding-0 add-on @(CultureHelper.IsRightToLeft() ? "lftrds" :"")" style="min-width: 20px;background-color: #33414e5c; border-color: #33414e5c;">
                                %
                            </span>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </fieldset>
</div>



