﻿@using HRMS.Web.CommonHelper
@model HRMS.Entities.Forms.KPIsListModel


@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    ViewBag.Title = "HRMS – " + PDRPKPIFormResources.GetKPIFromResource("Title");
    bool ishrTeam = false;
    bool isReinitialized = false;
    bool bPastDate = true;
    if (ViewBag.isHrTeam != null)
    {
        ishrTeam = ViewBag.isHrTeam;
    }
    if (ViewBag.isReinitialized != null)
    {
        isReinitialized = ViewBag.isReinitialized;
    }
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" />
<style>
    .brd {
        border: 1px solid silver !important;
        vertical-align: middle;
    }

    .c {
        text-align: center;
    }

    .nopad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }  
</style>


@section Breadcrumb
{

    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        <li class="active"> @PDRPKPIFormResources.GetKPIFromResource("Title")</li>
    </ul>
}

<div class="row">
    @using (Ajax.BeginForm("KPISave", "PDRP", new AjaxOptions { OnBegin = "Start", OnComplete = "UpdateKPIs" }, new { id = "frmKPIs" }))
    {
        @Html.Hidden("culture", culture)
        <div class="col-sm-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <h3 class="panel-title @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <span class="fa fa-cubes"></span> @PDRPKPIFormResources.GetKPIFromResource("Title")
                        </h3>
                    </div>
                    <div class="col-md-4 text-center @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-2 @(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">
                        <ul class="panel-controls  @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">
                            <li class="dropdown open">
                                <a href="javascript:void(0);" title="@PDRPCommonXMLResources.GetCommonPDRPResource("Submit")" id="btn_saveAll" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body form-horizontal">
                    <div class="row">
                        <div class="col-sm-11 padding-1">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-4 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                    <div class="col-sm-12 padding-0">
                                        <div class="col-sm-1 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                            @Html.LabelFor(m => m.KPIYears, new { @class = "label-form" })

                                        </div>
                                        <div class="col-sm-11 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">


                                            @Html.DropDownList("ddlKPIYear", (SelectList)ViewBag.KPIYears, PDRPKPIFormResources.GetKPIFromResource("SetYear"), new { @class = "selectpicker", @data_live_search = "true", @id = "ddlKPIYear" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                    <div class="col-sm-12 padding-0">
                                        <div class="col-sm-3 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                            <label class="label-form"> @PDRPKPIFormResources.GetKPIFromResource("Organization")</label>
                                        </div>
                                        <div class="col-sm-9 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">

                                            @Html.DropDownList("ddlKPICompany", (SelectList)ViewBag.Company, PDRPKPIFormResources.GetKPIFromResource("SelectOrganization"), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlKPICompany", @dir = "rtl" })


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 padding-0">

                        </div>
                    </div>
                </div>


                <div id="divYearlyKPIs" class="row form-horizontal">


                    @Html.Partial("_YearlyKPIs", Model)


                </div>
                <div class="panel-footer">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.Hidden("IsEditable")

                            <button type="submit" title="@PDRPCommonXMLResources.GetCommonPDRPResource("Submit")" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Submit")</button>

                            @*<button type="submit" title="Submit" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                                <button type="submit" title="btnSubmit" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>

                                <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i> Cancel</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
</div>
<script>



    function Start() {
        pageLoaderFrame();
    }
    function UpdateKPIs(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        hideLoaderFrame();
    }





</script>

@section Scripts
{

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/PDRP/KPI.js"></script>

}