﻿@model HRMS.Entities.Forms.RequestFormsTaskListViewModel
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="col-sm-4">
                <h4 class="panel-title">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                    My Task List
                </h4>
            </div>

        </div>
        <div class="panel-body form-horizontal">
            <div class="row">

                <div class="col-sm-12 push-down-5">
                    <div class="panel panel-default push-down-0">
                        <div class="panel-heading TasksListCollapse" data-collapseid=true>
                            <div class="col-sm-8 padding-0">
                                <h3 class="panel-title">
                                    <i class="fa fa-edit"></i>
                                    My Requests
                                </h3>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2 pull-right"></div>
                        </div>
                        <div class="panel-body IsMyRequest">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">

                                        <div class="page-content-wrap viewProfile">
                                            <ul class="nav nav-tabs ">
                                                <li class="active"><a data-toggle="tab" href="#divStatus">Status</a></li>
                                                <li><a data-toggle="tab" href="#divHistory">History</a></li>
                                            </ul>

                                            <div class="tab-content">

                                                <div id="divStatus" class="tab-pane fade in active panel-body active">
                                                    <div class="panel-group accordion">
                                                        @if (Model.FormsUniqueKeyModelList != null)
                                                        {


                                                            int lstApprovedCount = 0;
                                                            foreach (var frm in Model.FormsUniqueKeyModelList)
                                                            {
                                                                // ***  F2 Danny Removing Annual Appraisal Task View for Employee
                                                                //// *** F3 Danny 18/12/2019 on Request again this hiding.  so removing following code in Non Teachning form now then in Teaching also need to do
                                                                //if (frm.ParentFormID == 34 || frm.ParentFormID == 35)
                                                                //if (frm.ParentFormID == 34)
                                                                //{
                                                                //    //*** No Code Need
                                                                //}
                                                                //else
                                                                //{


                                                                var lstApproved = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 2 && x.ParentFormID == frm.ParentFormID && x.RequesterEmployeeID == (int)ViewBag.UserId);

                                                                //*** F5 Get Year List
                                                                var lstApproved_withYer = lstApproved.GroupBy(x => x.PDRP_AcademicYearID, (key, group) => new { PDRP_AcademicYearID = key, PDRP_AcademicYearName = group });

                                                                foreach (var req_Yer in lstApproved_withYer) //*** Get each Year
                                                                {
                                                                    var req_YerTxt = req_Yer.PDRP_AcademicYearName.ToList(); //*** Get Records in current Year


                                                                    if (req_Yer != null) //*** F5
                                                                    {
                                                                        //*** Naresh 2020-03-08 Process Name wise grouping
                                                                        var yearWiseText = (req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "");
                                                                        //*** F14
                                                                        var processNameWiseRequests = req_YerTxt.GroupBy(x => x.PDRP_ProcessName, (key, group) => new { PDRP_ProcessName = (string.IsNullOrEmpty(key) || key == "0") ? yearWiseText : string.Concat(key, " - ", yearWiseText), PDRP_ProcessItems = group });

                                                                        foreach (var req_ProcessName in processNameWiseRequests) //*** Get each Year & process name wise
                                                                        {
                                                                            var req_ProcessItems = req_ProcessName.PDRP_ProcessItems.ToList(); //*** Get Records in Year & process name wise
                                                                            var sectionId = string.Concat("Status_", frm.ParentFormID, req_Yer.PDRP_AcademicYearID);
                                                                            //*** F14
                                                                            var strHead = (req_ProcessItems[0].PDRP_ProcessName.Trim() == "0" || req_ProcessItems[0].PDRP_ProcessName.Trim() == "") ? string.Concat(frm.FormName, " - ", yearWiseText) : req_ProcessName.PDRP_ProcessName;
                                                                            if (req_ProcessItems.Any())
                                                                            {
                                                                                sectionId = sectionId + "_" + req_ProcessItems.First().RequestID.ToString();
                                                                            }
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <h4 class="panel-title">
                                                                                            @{
                                                                                                var lstApprovedLst = lstApproved.ToList();
                                                                                                string strPDRP = "";
                                                                                                if (frm.FormID == 31)
                                                                                                {
                                                                                                    strPDRP = lstApprovedLst[0].EmployeeCompanyName;
                                                                                                }
                                                                                            }
                                                                                            @*<a href="#Status_@frm.ParentFormID@req_Yer.PDRP_AcademicYearID">@frm.FormName (@req_YerTxt.Count()) @(req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "")</a>*@
                                                                                            @*<a href="#@sectionId">@frm.FormName (@req_ProcessItems.Count()) @req_ProcessName.PDRP_ProcessName</a>*@
                                                                                            @**** F14*@
                                                                                            <a href="#@sectionId">@strHead (@req_ProcessItems.Count())</a>
                                                                                        </h4>
                                                                                        <ul class="panel-controls"></ul>
                                                                                    </div>
                                                                                    <div id="@sectionId" class="panel-body">
                                                                                        <table class="table table-bordered table-striped tblRequest">

                                                                                            @{
                                                                                                //*** F4 All teaching forms grid last column should be Employee Name for whom request is generated instead of requester.
                                                                                                string HeadingRequester = "Requester";
                                                                                                string HeadingRequesterCompany = "Requester Company";
                                                                                                if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 34 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                {
                                                                                                    HeadingRequester = "Employee Name";
                                                                                                    HeadingRequesterCompany = "Employee Company";

                                                                                                }
                                                                                            }
                                                                                            <thead>
                                                                                                <tr><th>Request ID</th><th>Status</th><th>Submitted Date</th><th>@HeadingRequester</th><th>@HeadingRequesterCompany</th></tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                @*@foreach (var req in lstApproved.Where(x => x.PDRP_AcademicYearID == req_Yer.PDRP_AcademicYearID)) //*** F5*@
                                                                                                @foreach (var req in req_ProcessItems) //*** F16 To solve duplicate task in 2 tabs
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td><a href="javascript:void(0);" onclick="ShowRequestForm('@frm.ControllerName',@req.FormProcessID,@req.ReqStatusID);">@req.RequestID</a></td>
                                                                                                        <td>@req.GroupName</td>
                                                                                                        <td>@req.CreatedOn.ToString(@App.HRMSDateFormat)</td>
                                                                                                        @if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                        {
                                                                                                            <td>@req.PDRP_EmployeeName</td>
                                                                                                            <td>@req.PDRP_EmployeeCompanyName</td>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td>@req.RequesterEmployeeName</td>
                                                                                                            <td>@req.RequesterCompanyName</td>
                                                                                                        }
                                                                                                    </tr>
                                                                                                }
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                                                            }
                                                                                                            lstApprovedCount++;
                                                                                                        }
                                                                                                    }
                                                                                                    //}
                                                                                                }

                                                                                                if (lstApprovedCount == 0)
                                                                                                {
                                                                                                    <fieldset class="fieldset-Section padding-up-item">
                                                                                                        <div class="form-group col-sm-12">
                                                                                                            <label class="label-form col-sm-12">
                                                                                                                Status not found.
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </fieldset>
                                                                                                    }
                                                                                                }
                                                    </div>

                                                </div>

                                                <div id="divHistory" class="tab-pane fade panel-body">
                                                    <div class="panel-group accordion">
                                                        @if (Model.FormsUniqueKeyModelList != null)
                                                        {
                                                            int lstRejectedCount = 0;
                                                            foreach (var frm in Model.FormsUniqueKeyModelList)
                                                            {

                                                                //// *** F3 Danny 18/12/2019 on Request again this hiding.  so removing following code in Non Teachning form now then in Teaching also need to do
                                                                //if (frm.ParentFormID == 34 || frm.ParentFormID == 35)
                                                                //if (frm.ParentFormID == 34) // *** Danny Removing PDRP Request if RequesterID is Employee
                                                                //{
                                                                //    //*** No Code Need
                                                                //}
                                                                //else
                                                                //{
                                                                int[] statusIds = { 3, 4 };
                                                                var lstRejected = Model.FormsTaskViewModelList.Where(x => statusIds.Contains(x.ReqStatusID) && x.ParentFormID == frm.ParentFormID && x.RequesterEmployeeID == (int)ViewBag.UserId);

                                                                //*** F5 Get Year List
                                                                var lstRejected_withYer = lstRejected.GroupBy(x => x.PDRP_AcademicYearID, (key, group) => new { PDRP_AcademicYearID = key, PDRP_AcademicYearName = group });

                                                                foreach (var req_Yer in lstRejected_withYer) //*** Get each Year
                                                                {
                                                                    var req_YerTxt = req_Yer.PDRP_AcademicYearName.ToList(); //*** Get Records in current Year
                                                                    if (req_Yer != null) //*** F5
                                                                    {
                                                                        //*** Naresh 2020-03-08 Process Name wise grouping
                                                                        var yearWiseText = (req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "");
                                                                        //*** F14
                                                                        var processNameWiseRequests = req_YerTxt.GroupBy(x => x.PDRP_ProcessName, (key, group) => new { PDRP_ProcessName = (string.IsNullOrEmpty(key) || key == "0") ? yearWiseText : string.Concat(key, " - ", yearWiseText), PDRP_ProcessItems = group });

                                                                        foreach (var req_ProcessName in processNameWiseRequests) //*** Get each Year & process name wise
                                                                        {
                                                                            var req_ProcessItems = req_ProcessName.PDRP_ProcessItems.ToList(); //*** Get Records in Year & process name wise
                                                                            var sectionId = string.Concat("History_", frm.ParentFormID, req_Yer.PDRP_AcademicYearID);
                                                                            //*** F14
                                                                            var strHead = (req_ProcessItems[0].PDRP_ProcessName.Trim() == "0" || req_ProcessItems[0].PDRP_ProcessName.Trim() == "") ? string.Concat(frm.FormName, " - ", yearWiseText) : req_ProcessName.PDRP_ProcessName;
                                                                            if (req_ProcessItems.Any())
                                                                            {
                                                                                sectionId = sectionId + "_" + req_ProcessItems.First().RequestID.ToString();
                                                                            }

                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <h4 class="panel-title">
                                                                                            @*<a href="#History_@frm.ParentFormID@req_Yer.PDRP_AcademicYearID">@frm.FormName (@req_YerTxt.Count()) @(req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "")</a>*@
                                                                                            @*<a href="#@sectionId">@frm.FormName (@req_ProcessItems.Count()) @req_ProcessName.PDRP_ProcessName</a>*@
                                                                                            @**** F14*@
                                                                                            <a href="#@sectionId">@strHead (@req_ProcessItems.Count())</a>
                                                                                        </h4>
                                                                                        <ul class="panel-controls"></ul>
                                                                                    </div>
                                                                                    <div id="@sectionId" class="panel-body">
                                                                                        <table class="table  table-bordered table-striped tblRequest">
                                                                                            @{
                                                                                                //*** F4 All teaching forms grid last column should be Employee Name for whom request is generated instead of requester.
                                                                                                string HeadingRequester = "Requester";
                                                                                                string HeadingRequesterCompany = "Requester Company";
                                                                                                if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 34 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                {
                                                                                                    HeadingRequester = "Employee Name";
                                                                                                    HeadingRequesterCompany = "Employee Company";

                                                                                                }
                                                                                            }
                                                                                            <thead>
                                                                                                <tr><th>Request ID</th><th>Submitted Date</th><th>Status</th><th>Rejected By</th><th>@HeadingRequester</th></tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                @*@foreach (var req in lstRejected.Where(x => x.PDRP_AcademicYearID == req_Yer.PDRP_AcademicYearID)) //*** F5*@
                                                                                                @foreach (var req in req_ProcessItems) //*** F16 To solve duplicate task in 2 tabs
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td><a href="javascript:void(0);" onclick="ShowRequestForm('@frm.ControllerName',@req.FormProcessID,@req.ReqStatusID);">@req.RequestID</a></td>
                                                                                                        <td>@req.CreatedOn.ToString(@App.HRMSDateFormat)</td>
                                                                                                        <td>@req.CompletedRejectedStatus</td>
                                                                                                        <td>@req.ModifiedEmployeeName</td>
                                                                                                        @if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                        {
                                                                                                            <td>@req.PDRP_EmployeeName</td>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td>@req.RequesterEmployeeName</td>

                                                                                                        }

                                                                                                    </tr>
                                                                                                }
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                                                            }
                                                                                                            lstRejectedCount++;
                                                                                                        }

                                                                                                    }
                                                                                                    //}
                                                                                                }
                                                                                                if (lstRejectedCount == 0)
                                                                                                {
                                                                                                    <fieldset class="fieldset-Section padding-up-item">
                                                                                                        <div class="form-group col-sm-12">
                                                                                                            <label class="label-form col-sm-12">
                                                                                                                History not found.
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </fieldset>
                                                                                                    }
                                                                                                }
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading TasksListCollapse" data-collapseid=false>
                            <div class="col-sm-8 padding-0">
                                <h3 class="panel-title">
                                    <span class="fa fa-edit"></span>
                                    <span id="taskListLabel"> My Tasks</span>
                                </h3>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2 pull-right"></div>
                        </div>
                        <div class="panel-body IsMyTaskList hidden">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">

                                        <div class="page-content-wrap viewProfile">


                                            <ul class="nav nav-tabs ">
                                                <li class="active"><a data-toggle="tab" href="#divPending">Pending</a></li>
                                                <li><a data-toggle="tab" href="#divApproved">Approved</a></li>
                                                <li><a data-toggle="tab" href="#divRejected">Rejected</a></li>
                                                <li><a data-toggle="tab" href="#divCompleted">Completed</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="divPending" class="tab-pane fade in active panel-body active">
                                                    <div class="panel-group accordion">
                                                        @if (Model.FormsUniqueKeyModelList != null)
                                                        {
                                                            int lstPendingCount = 0;
                                                            foreach (var frm in Model.FormsUniqueKeyModelList)
                                                            {

                                                                var lstPending = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 1 && x.ParentFormID == frm.ParentFormID);
                                                                //*** F5 Get Year List
                                                                var lstPending_withYer = lstPending.GroupBy(x => x.PDRP_AcademicYearID, (key, group) => new { PDRP_AcademicYearID = key, PDRP_AcademicYearName = group });

                                                                foreach (var req_Yer in lstPending_withYer) //*** Get each Year
                                                                {
                                                                    var req_YerTxt = req_Yer.PDRP_AcademicYearName.ToList(); //*** Get Records in current Year


                                                                    if (req_Yer != null) //*** F5
                                                                    {
                                                                        //*** Naresh 2020-03-08 Process Name wise grouping
                                                                        var yearWiseText = (req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "");
                                                                        //*** F14
                                                                        var processNameWiseRequests = req_YerTxt.GroupBy(x => x.PDRP_ProcessName, (key, group) => new { PDRP_ProcessName = (string.IsNullOrEmpty(key) || key == "0") ? yearWiseText : string.Concat(key, " - ", yearWiseText), PDRP_ProcessItems = group });
                                                                        //if (lstPending != null && lstPending.Count() > 0)

                                                                        foreach (var req_ProcessName in processNameWiseRequests) //*** Get each Year & process name wise
                                                                        {
                                                                            var req_ProcessItems = req_ProcessName.PDRP_ProcessItems.ToList(); //*** Get Records in Year & process name wise
                                                                            var sectionId = string.Concat("pending_", frm.ParentFormID, req_Yer.PDRP_AcademicYearID);
                                                                            //*** F14
                                                                            var strHead = (req_ProcessItems[0].PDRP_ProcessName.Trim() == "0" || req_ProcessItems[0].PDRP_ProcessName.Trim() == "") ? string.Concat(frm.FormName, " - ", yearWiseText) : req_ProcessName.PDRP_ProcessName;
                                                                            if (req_ProcessItems.Any())
                                                                            {
                                                                                sectionId = sectionId + "_" + req_ProcessItems.First().RequestID.ToString();
                                                                            }
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        @*<a href="#pending_@frm.ParentFormID">@frm.FormName (@Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 1 && x.ParentFormID == frm.ParentFormID).Count())</a>*@
                                                                                        @*<a href="#pending_@frm.ParentFormID@req_Yer.PDRP_AcademicYearID">@frm.FormName (@req_ProcessItems.Count()) @(req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "")</a>*@
                                                                                        @*<a href="#@sectionId">@frm.FormName (@req_ProcessItems.Count()) @req_ProcessName.PDRP_ProcessName</a>*@
                                                                                        @**** F14*@
                                                                                        <a href="#@sectionId">@strHead (@req_ProcessItems.Count())</a>
                                                                                    </h4>
                                                                                    <ul class="panel-controls"></ul>
                                                                                </div>
                                                                                <div id="@sectionId" class="panel-body">
                                                                                    <table class="table table-bordered table-striped tblRequest">
                                                                                        <thead>

                                                                                            @{
                                                                                                //*** F4 All teaching forms grid last column should be Employee Name for whom request is generated instead of requester.
                                                                                                string HeadingRequester = "Requester";
                                                                                                string HeadingRequesterCompany = "Requester Company";
                                                                                                if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 34 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                {
                                                                                                    HeadingRequester = "Employee Name";
                                                                                                    HeadingRequesterCompany = "Employee Company";

                                                                                                }
                                                                                            }
                                                                                            <tr><th>Request ID</th><th>Status</th><th>Submitted On</th><th>@HeadingRequester</th></tr>
                                                                                        </thead>
                                                                                        <tbody>

                                                                                            @foreach (var req in req_ProcessItems/*lstPending.Where(x => x.PDRP_AcademicYearID == req_Yer.PDRP_AcademicYearID)*/) //*** F5
                                                                                            {

                                                                                                <tr>
                                                                                                    <td><a href="javascript:void(0);" onclick="ShowRequestForm('@frm.ControllerName',@req.FormProcessID,@req.ReqStatusID);">@req.RequestID</a></td>
                                                                                                    <td>Pending</td>
                                                                                                    <td>@req.CreatedOn.ToString(@App.HRMSDateFormat)</td>
                                                                                                    @if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                    {
                                                                                                        <td>@req.PDRP_EmployeeName</td>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <td>@req.RequesterEmployeeName</td>
                                                                                                    }
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                                                            }
                                                                                                            lstPendingCount++;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                                if (lstPendingCount == 0)
                                                                                                {
                                                                                                    <fieldset class="fieldset-Section padding-up-item">
                                                                                                        <div class="form-group col-sm-12">
                                                                                                            <label class="label-form col-sm-12">
                                                                                                                No pending request.
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </fieldset>
                                                                                                    }
                                                                                                }
                                                    </div>
                                                </div>
                                                <div id="divApproved" class="tab-pane fade panel-body">
                                                    <div class="panel-group accordion">
                                                        @if (Model.FormsUniqueKeyModelList != null)
                                                        {
                                                            int lstApprovedCount = 0;
                                                            foreach (var frm in Model.FormsUniqueKeyModelList)
                                                            {
                                                                //*** F1 var lstApproved = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 2 && x.ParentFormID == frm.ParentFormID && x.RequesterEmployeeID != (int)ViewBag.UserId);

                                                                //*** F2
                                                                //*** Naresh 2020-02-26 The request submited by user was being displayed to him self for form 35, so added condition to hide it
                                                                var lstApproved = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 2 && x.ParentFormID == frm.ParentFormID && (x.FormID != 35 || (x.FormID == 35 && x.RequesterEmployeeID != (int)ViewBag.UserId)));

                                                                //if (frm.ParentFormID == 34 || frm.ParentFormID == 35)
                                                                //{
                                                                //    //*** No Code Need
                                                                //}
                                                                //else
                                                                //{
                                                                //*** F23 Hiding Task for all PDRP
                                                                if (frm.ParentFormID == 34 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47) //*** Hide task for All PDRP forms
                                                                {
                                                                    lstApproved = lstApproved.Where(x => x.RequesterEmployeeID != (int)ViewBag.UserId);
                                                                }
                                                                //}
                                                                //*** F5 Get Year List
                                                                var lstApproved_withYer = lstApproved.GroupBy(x => x.PDRP_AcademicYearID, (key, group) => new { PDRP_AcademicYearID = key, PDRP_AcademicYearName = group });

                                                                foreach (var req_Yer in lstApproved_withYer) //*** Get each Year
                                                                {
                                                                    var req_YerTxt = req_Yer.PDRP_AcademicYearName.ToList(); //*** Get Records in current Year


                                                                    if (req_Yer != null) //*** F5
                                                                                         //if (lstApproved != null && lstApproved.Count() > 0)
                                                                    {
                                                                        //*** Naresh 2020-03-08 Process Name wise grouping
                                                                        var yearWiseText = (req_Yer.PDRP_AcademicYearID != 0 ? "[" + req_YerTxt[0].PDRP_AcademicYearName + "]" : "");
                                                                        //*** F14
                                                                        var processNameWiseRequests = req_YerTxt.GroupBy(x => x.PDRP_ProcessName, (key, group) => new { PDRP_ProcessName = (string.IsNullOrEmpty(key) || key == "0") ? yearWiseText : string.Concat(key, " - ", yearWiseText), PDRP_ProcessItems = group });

                                                                        foreach (var req_ProcessName in processNameWiseRequests) //*** Get each Year & process name wise
                                                                        {
                                                                            var req_ProcessItems = req_ProcessName.PDRP_ProcessItems.ToList(); //*** Get Records in Year & process name wise
                                                                            var sectionId = string.Concat("approved_", frm.ParentFormID, req_Yer.PDRP_AcademicYearID);
                                                                            //*** F14
                                                                            var strHead = (req_ProcessItems[0].PDRP_ProcessName.Trim() == "0" || req_ProcessItems[0].PDRP_ProcessName.Trim() == "") ? string.Concat(frm.FormName, " - ", yearWiseText) : req_ProcessName.PDRP_ProcessName;
                                                                            if (req_ProcessItems.Any())
                                                                            {
                                                                                sectionId = sectionId + "_" + req_ProcessItems.First().RequestID.ToString();
                                                                            }
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        @*<a href="#approved_@frm.ParentFormID@req_Yer.PDRP_AcademicYearID">@frm.FormName (@req_YerTxt.Count()) @(req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "")</a>*@
                                                                                        @*<a href="#@sectionId">@frm.FormName (@req_ProcessItems.Count()) @req_ProcessName.PDRP_ProcessName</a>*@
                                                                                        @**** F14*@
                                                                                        <a href="#@sectionId">@strHead (@req_ProcessItems.Count())</a>
                                                                                    </h4>
                                                                                    <ul class="panel-controls"></ul>
                                                                                </div>
                                                                                <div id="@sectionId" class="panel-body">
                                                                                    <table class="table table-bordered table-striped tblRequest">
                                                                                        <thead>

                                                                                            @{
                                                                                                //*** F4 All teaching forms grid last column should be Employee Name for whom request is generated instead of requester.
                                                                                                string HeadingRequester = "Requester";
                                                                                                string HeadingRequesterCompany = "Requester Company";
                                                                                                if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 34 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                {
                                                                                                    HeadingRequester = "Employee Name";
                                                                                                    HeadingRequesterCompany = "Employee Company";

                                                                                                }
                                                                                            }


                                                                                            <tr><th>Request ID</th><th>Status</th><th>Submitted Date</th><th>@HeadingRequester</th><th>@HeadingRequesterCompany</th></tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @*@foreach (var req in lstApproved.Where(x => x.PDRP_AcademicYearID == req_Yer.PDRP_AcademicYearID)) //*** F5*@
                                                                                            @foreach (var req in req_ProcessItems) //*** F16 To solve duplicate task in 2 tabs
                                                                                            {
                                                                                                <tr>
                                                                                                    @*<td><a href="HiringRequisitionR1BudgetedForm/Edit/@req.FormProcessID">@req.RequestFormsProcessModel.RequestID</a></td>*@
                                                                                                    <td><a href="javascript:void(0);" onclick="ShowRequestForm('@frm.ControllerName',@req.FormProcessID,@req.ReqStatusID);">@req.RequestID</a></td>
                                                                                                    <td>@req.GroupName</td>
                                                                                                    <td>@req.CreatedOn.ToString(@App.HRMSDateFormat)</td>
                                                                                                    @if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                    {
                                                                                                        <td>@req.PDRP_EmployeeName</td>
                                                                                                        <td>@req.PDRP_EmployeeCompanyName</td>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <td>@req.RequesterEmployeeName</td>
                                                                                                        <td>@req.RequesterCompanyName</td>
                                                                                                    }
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                                                            }
                                                                                                            lstApprovedCount++;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                                if (lstApprovedCount == 0)
                                                                                                {
                                                                                                    <fieldset class="fieldset-Section padding-up-item">
                                                                                                        <div class="form-group col-sm-12">
                                                                                                            <label class="label-form col-sm-12">
                                                                                                                No approved request.
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </fieldset>
                                                                                                    }
                                                                                                }
                                                    </div>

                                                </div>
                                                <div id="divRejected" class="tab-pane fade panel-body">
                                                    <div class="panel-group accordion">
                                                        @if (Model.FormsUniqueKeyModelList != null)
                                                        {
                                                            int lstRejectedCount = 0;
                                                            foreach (var frm in Model.FormsUniqueKeyModelList)
                                                            {

                                                                //*** F1 var lstRejected = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 3 && x.ParentFormID == frm.ParentFormID && x.RequesterEmployeeID != (int)ViewBag.UserId);

                                                                //*** F2
                                                                var lstRejected = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 3 && x.ParentFormID == frm.ParentFormID);
                                                                //if (frm.ParentFormID == 34)
                                                                //{
                                                                //    //*** No Code Need
                                                                //}
                                                                //else
                                                                //{
                                                                //*** F23 Hiding Task for all PDRP
                                                                if (frm.ParentFormID == 34 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47) //*** Hide task for All PDRP forms
                                                                {
                                                                    lstRejected = lstRejected.Where(x => x.RequesterEmployeeID != (int)ViewBag.UserId);
                                                                }
                                                                //}
                                                                //*** F5 Get Year List
                                                                var lstRejected_withYer = lstRejected.GroupBy(x => x.PDRP_AcademicYearID, (key, group) => new { PDRP_AcademicYearID = key, PDRP_AcademicYearName = group });

                                                                foreach (var req_Yer in lstRejected_withYer) //*** Get each Year
                                                                {
                                                                    var req_YerTxt = req_Yer.PDRP_AcademicYearName.ToList(); //*** Get Records in current Year


                                                                    if (req_Yer != null) //*** F5
                                                                                         //if (lstRejected != null && lstRejected.Count() > 0)
                                                                    {
                                                                        //*** Naresh 2020-03-08 Process Name wise grouping
                                                                        var yearWiseText = (req_Yer.PDRP_AcademicYearID != 0 ? "[" + req_YerTxt[0].PDRP_AcademicYearName + "]" : "");
                                                                        //*** F14
                                                                        var processNameWiseRequests = req_YerTxt.GroupBy(x => x.PDRP_ProcessName, (key, group) => new { PDRP_ProcessName = (string.IsNullOrEmpty(key) || key == "0") ? yearWiseText : string.Concat(key, " - ", yearWiseText), PDRP_ProcessItems = group });

                                                                        foreach (var req_ProcessName in processNameWiseRequests) //*** Get each Year & process name wise
                                                                        {
                                                                            var req_ProcessItems = req_ProcessName.PDRP_ProcessItems.ToList(); //*** Get Records in Year & process name wise
                                                                            var sectionId = string.Concat("rejected_", frm.ParentFormID, req_Yer.PDRP_AcademicYearID);
                                                                            //*** F14
                                                                            var strHead = (req_ProcessItems[0].PDRP_ProcessName.Trim() == "0" || req_ProcessItems[0].PDRP_ProcessName.Trim() == "") ? string.Concat(frm.FormName, " - ", yearWiseText) : req_ProcessName.PDRP_ProcessName;
                                                                            if (req_ProcessItems.Any())
                                                                            {
                                                                                sectionId = sectionId + "_" + req_ProcessItems.First().RequestID.ToString();
                                                                            }

                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        @*<a href="#rejected_@frm.ParentFormID@req_Yer.PDRP_AcademicYearID">@frm.FormName (@req_YerTxt.Count()) @(req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "")</a>*@
                                                                                        @*<a href="#@sectionId">@frm.FormName (@req_ProcessItems.Count()) @req_ProcessName.PDRP_ProcessName</a>*@
                                                                                        @**** F14*@
                                                                                        <a href="#@sectionId">@strHead (@req_ProcessItems.Count())</a>
                                                                                    </h4>
                                                                                    <ul class="panel-controls"></ul>
                                                                                </div>
                                                                                <div id="@sectionId" class="panel-body">
                                                                                    <table class="table  table-bordered table-striped tblRequest">
                                                                                        @{
                                                                                            //*** F4 All teaching forms grid last column should be Employee Name for whom request is generated instead of requester.
                                                                                            string HeadingRequester = "Requester";
                                                                                            string HeadingRequesterCompany = "Requester Company";
                                                                                            if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 34 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                            {
                                                                                                HeadingRequester = "Employee Name";
                                                                                                HeadingRequesterCompany = "Employee Company";

                                                                                            }
                                                                                        }
                                                                                        <thead>
                                                                                            <tr><th>Request ID</th><th>Submitted Date</th><th>Rejected By</th><th>@HeadingRequester</th></tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @*@foreach (var req in lstRejected.Where(x => x.PDRP_AcademicYearID == req_Yer.PDRP_AcademicYearID)) //*** F5*@
                                                                                            @foreach (var req in req_ProcessItems) //*** F16 To solve duplicate task in 2 tabs
                                                                                            {
                                                                                                <tr>
                                                                                                    <td><a href="javascript:void(0);" onclick="ShowRequestForm('@frm.ControllerName',@req.FormProcessID,@req.ReqStatusID);">@req.RequestID</a></td>
                                                                                                    <td>@req.CreatedOn.ToString(@App.HRMSDateFormat)</td>
                                                                                                    <td>@req.ModifiedEmployeeName</td>
                                                                                                    @if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                    {
                                                                                                        <td>@req.PDRP_EmployeeName</td>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <td>@req.RequesterEmployeeName</td>
                                                                                                    }
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                                                            }
                                                                                                            lstRejectedCount++;
                                                                                                        }
                                                                                                    }
                                                                                                
                                                                                            }
                                                                                            if (lstRejectedCount == 0)
                                                                                            {
                                                                                                <fieldset class="fieldset-Section padding-up-item">
                                                                                                    <div class="form-group col-sm-12">
                                                                                                        <label class="label-form col-sm-12">
                                                                                                            No rejected request.
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </fieldset>
                                                                                                }
                                                                                            }
                                                    </div>
                                                </div>
                                                <div id="divCompleted" class="tab-pane fade panel-body">
                                                    <div class="panel-group accordion">
                                                        @if (Model.FormsUniqueKeyModelList != null)
                                                        {
                                                            int lstCompletedCount = 0;
                                                            foreach (var frm in Model.FormsUniqueKeyModelList)
                                                            {
                                                                //*** F2 Danny 25/11/2019
                                                                // ***OLD var lstCompleted = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 4 && x.ParentFormID == frm.ParentFormID &&
                                                                //        ((x.ParentFormID != 34 && x.RequesterEmployeeID != (int)ViewBag.UserId) || (x.ParentFormID == 34))
                                                                //        );
                                                                var lstCompleted = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 4 && x.ParentFormID == frm.ParentFormID);
                                                                //*** F12
                                                                // if (frm.ParentFormID == 34 || frm.ParentFormID == 35)
                                                                //{
                                                                //*** No Code Need
                                                                //lstCompleted = lstCompleted.Where(x => x.RequesterEmployeeID != (int)ViewBag.UserId);
                                                                //}
                                                                // else
                                                                //{
                                                                //*** F23 Hiding Task for all PDRP
                                                                if (frm.ParentFormID == 34 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47) //*** Hide task for All PDRP forms
                                                                {
                                                                    lstCompleted = lstCompleted.Where(x => x.RequesterEmployeeID != (int)ViewBag.UserId);
                                                                }
                                                                // }
                                                                //*** F5 Get Year List
                                                                var lstCompleted_withYer = lstCompleted.GroupBy(x => x.PDRP_AcademicYearID, (key, group) => new { PDRP_AcademicYearID = key, PDRP_AcademicYearName = group });

                                                                foreach (var req_Yer in lstCompleted_withYer) //*** Get each Year
                                                                {
                                                                    var req_YerTxt = req_Yer.PDRP_AcademicYearName.ToList(); //*** Get Records in current Year



                                                                    //((x.ParentFormID != 34 && x.RequesterEmployeeID != (int)ViewBag.UserId) || (x.ParentFormID == 34 && x.RequesterEmployeeID == (int)ViewBag.UserId))
                                                                    // *** F1 var lstCompleted = Model.FormsTaskViewModelList.Where(x => x.ReqStatusID == 4 && x.ParentFormID == frm.ParentFormID && x.RequesterEmployeeID != (int)ViewBag.UserId);
                                                                    if (req_Yer != null) //*** F5
                                                                                         //if (lstCompleted != null && lstCompleted.Count() > 0)
                                                                    {

                                                                        //*** Naresh 2020-03-08 Process Name wise grouping
                                                                        var yearWiseText = (req_Yer.PDRP_AcademicYearID != 0 ? "[" + req_YerTxt[0].PDRP_AcademicYearName + "]" : "");
                                                                        //*** F14
                                                                        var processNameWiseRequests = req_YerTxt.GroupBy(x => x.PDRP_ProcessName, (key, group) => new { PDRP_ProcessName = (string.IsNullOrEmpty(key) || key == "0") ? yearWiseText : string.Concat(key, " - ", yearWiseText), PDRP_ProcessItems = group });

                                                                        foreach (var req_ProcessName in processNameWiseRequests) //*** Get each Year & process name wise
                                                                        {
                                                                            var req_ProcessItems = req_ProcessName.PDRP_ProcessItems.ToList(); //*** Get Records in Year & process name wise
                                                                            var sectionId = string.Concat("completed_", frm.ParentFormID, req_Yer.PDRP_AcademicYearID);
                                                                            //*** F14
                                                                            var strHead = (req_ProcessItems[0].PDRP_ProcessName.Trim() == "0" || req_ProcessItems[0].PDRP_ProcessName.Trim() == "") ? string.Concat(frm.FormName, " - ", yearWiseText) : req_ProcessName.PDRP_ProcessName;
                                                                            if (req_ProcessItems.Any())
                                                                            {
                                                                                sectionId = sectionId + "_" + req_ProcessItems.First().RequestID.ToString();
                                                                            }

                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        @*<a href="#completed_@frm.ParentFormID@req_Yer.PDRP_AcademicYearID">@frm.FormName (@req_YerTxt.Count()) @(req_Yer.PDRP_AcademicYearID != 0 ? "[" + @req_YerTxt[0].PDRP_AcademicYearName + "]" : "")</a>*@
                                                                                        @*<a href="#@sectionId">@frm.FormName (@req_ProcessItems.Count()) @req_ProcessName.PDRP_ProcessName</a>*@
                                                                                        @**** F14*@
                                                                                        <a href="#@sectionId">@strHead (@req_ProcessItems.Count())</a>
                                                                                    </h4>
                                                                                    <ul class="panel-controls"></ul>
                                                                                </div>
                                                                                <div id="@sectionId" class="panel-body">
                                                                                    <table class="table  table-bordered table-striped tblRequest">
                                                                                        @{
                                                                                            //*** F4 All teaching forms grid last column should be Employee Name for whom request is generated instead of requester.
                                                                                            string HeadingRequester = "Requester";
                                                                                            string HeadingRequesterCompany = "Requester Company";
                                                                                            if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 34 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                            {
                                                                                                HeadingRequester = "Employee Name";
                                                                                                HeadingRequesterCompany = "Employee Company";

                                                                                            }
                                                                                        }
                                                                                        <thead>
                                                                                            <tr><th>Request ID</th><th>Submitted Date</th><th>@HeadingRequester</th></tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @*@foreach (var req in lstCompleted.Where(x => x.PDRP_AcademicYearID == req_Yer.PDRP_AcademicYearID)) //*** F5*@
                                                                                            @foreach (var req in req_ProcessItems) //*** F16 To solve duplicate task in 2 tabs
                                                                                            {
                                                                                                <tr>
                                                                                                    <td><a href="javascript:void(0);" onclick="ShowRequestForm('@frm.ControllerName',@req.FormProcessID,@req.ReqStatusID);">@req.RequestID</a></td>
                                                                                                    <td>@req.CreatedOn.ToString(@App.HRMSDateFormat)</td>
                                                                                                    @if (frm.ParentFormID == 31 || frm.ParentFormID == 32 || frm.ParentFormID == 33 || frm.ParentFormID == 48 || frm.ParentFormID == 35 || frm.ParentFormID == 40 || frm.ParentFormID == 42 || frm.ParentFormID == 46 || frm.ParentFormID == 47)
                                                                                                    {
                                                                                                        <td>@req.PDRP_EmployeeName</td>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <td>@req.RequesterEmployeeName</td>
                                                                                                    }
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>

                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        lstCompletedCount++;
                                                                    }
                                                                }
                                                            }
                                                            if (lstCompletedCount == 0)
                                                            {
                                                                                               <fieldset class="fieldset-Section padding-up-item">
                                                                                                    <div class="form-group col-sm-12">
                                                                                                        <label class="label-form col-sm-12">
                                                                                                            No completed request.
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </fieldset>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
