﻿
@model HRMS.Entities.Forms.RequestFormsTaskListViewModel
@{
    ViewBag.Title = "HRMS - My Task List";
}
@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">My Task List</li>
    </ul>
}
<div class="row">
    @Html.Partial("~/Views/FormsTaskList/_TaskList.cshtml", Model)
</div>


@section Scripts
{
    <script src="~/Scripts/Custom/Forms/FormsTaskList.js"></script>
}


