﻿
@{
    ViewBag.Title = "HRMS - Forms Workflow";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Forms Workflow</li>
    </ul>
}

<div class="row">
    <div id="divGroup" class="hidden">
        @ViewBag.Group
    </div>
    <div id="divPriority" class="hidden">
        @ViewBag.Priority
    </div>
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>

                        Forms Workflow
                    </h4>
                </div>
                <div class="col-sm-5">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-sm-3 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" onclick="EditAll();" title="Edit All" id="btnEditAll" class="btnadd"><span class="fa fa-pencil"></span></a>
                            <a href="javascript:void(0);" onclick="SaveAll(this)" title="Save All" id="btnSaveAll" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            <a href="javascript:void(0);" onclick="RefreshAll()" title="Refresh All" id="btnRefreshAll" class="btnadd"><span class="fa fa-refresh"></span></a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Select Organization:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, "Select Organization", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Select Form:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlForm", (SelectList)ViewBag.FormList, "All Forms", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="GetData(1)">
                    </div>
                </div>

            </div>
            <div class="row form-horizontal">
                <hr>

                <div class="col-sm-12 innerdiv" id="divContent">
                    <table id="tblWorkflowList" class="display table table-bordered table-striped" width="100%"></table>
                </div>

            </div>
        </div>
    </div>

</div>


@section Scripts
{
    <script src="~/Scripts/Custom/Forms/FormsWorkflow.js"></script>
}
