﻿
@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal3").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divAddPaerformanceRating">
    <div class="panel-body">
        
        <div class="form-horizontal col-lg-12 col-md-12">
            <div class="form-group col-md-12 padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form">Add Deduction Date:</label>
                </div>
                <div class="col-sm-6">
                    @Html.TextBox("DeductionDate",DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group"></div>
        <div class="col-md-12 form-group padding-0">
            <div class="table-responsive">
                <table id="EmpGeneralDeductions-table" class="table table-striped table-bordered table-fixed-width">
                    <thead>
                        <tr>
                            <th class="hidden">
                                Index
                            </th>
                            <th class="hidden">
                                EmployeeID
                            </th>
                            <th class="col-md-3">
                                Employee
                            </th>
                            <th class="col-md-4">
                                Deduction Type
                            </th>
                            <th class="col-md-2 center-text-align">
                               Amount
                            </th>
                            <th class="col-md-3 center-text-align">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="rowId_0" class="edit0">
                            <td class="hidden">0</td>
                            <td class="hidden"></td>
                            <td class="col-md-3">                                
                                @Html.DropDownList("ddlEmployee_0", (IEnumerable<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control selectpickerddl" ,@data_container = "body", @OnChange = "CalculateAmount(this)", @data_live_search = "true", required = "required" })                                
                            </td>
                            <td class="col-md-4">
                                @Html.DropDownList("ddlDeductionTypeList_0", (IEnumerable<SelectListItem>)ViewBag.DeductionTypeList, new { @class = "form-control selectpickerddl select", @data_container = "body",@OnChange= "CalculateAmount(this)", @data_live_search = "true", required = "required" })                     
                            </td>
                            <td class="col-md-2 center-text-align">                                                                
                                <label id="txtAmount_0" class="control-label"></label>
                            </td>                            
                            <td class="center-text-align col-md-3">
                                <div class="center-text-align">
                                    <button type="button" id="btnRowSave" class="tableButton" onclick="SaveRow(this)">
                                        <img style="width:16px;" src="/Content/images/tick.ico" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <input type="button" onclick="return saveEmployeeDeductions();" id="btnSubmit" class="btn btn-primary pull-right" disabled value="Save" />
        <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
    </div>

</div>
<script src="~/Scripts/Custom/General Deductions/GeneralDeduction.js"></script>


