﻿@model HRMS.Entities.EmployeeGeneralDeduction
@{
    string DecimalFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal3").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal3").modal("hide");

        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
@using (Ajax.BeginForm("UpdateGeneralDeduction", "GeneralDeductions", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmGeneralDeduction" }))
{
    <div class="panel panel-default" id="divAddPaerformanceRating">
        <div class="panel-body">
            @Html.HiddenFor(model=>model.EmployeeGeneralDeductionID)
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Employee Name:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Html.DisplayFor(model => model.EmployeeName, new { @class = "label-form" })</label>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Add Deduction Date:</label>
                    </div>
                    <div class="col-sm-6">                        
                        @Html.TextBoxFor(model => model.DeductionDate, new { @class = "form-control datepicker", @required = "required" })
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Deduction Type:</label>
                    </div>
                    <div class="col-sm-6">                        
                        @Html.DropDownListFor(model => model.DeductionRuleId, (IEnumerable<SelectListItem>)ViewBag.DeductionTypeList, new { @class = "form-control selectpickerddl select", @data_container = "body", @OnChange = "CalculateAmountForEditForm("+Model.EmployeeId+")", @data_live_search = "true", required = "required" })
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Deduction Amount:</label>
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.DeductionAmount, new { @class = "form-control", required = "required" , @disabled = "disabled" })
                    </div>
                </div>
               
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit"  id="btnSubmit" class="btn btn-primary pull-right" disabled value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>

    </div>
}

<script src="~/Scripts/Custom/General Deductions/GeneralDeduction.js"></script>



