﻿@{
    ViewBag.Title = "General Deductions";
}

@{
    ViewBag.Title = "HRMS - General Deductions";
    var i = 0;
    var mode = (Session["GetAllList"] != null ? ("All") : ("Empty"));
    Session["GetAllList"] = null;
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">General Deductions</li>
    </ul>
}
<div class="col-md-12">
    <div id="DeductionTypeList" class="hidden">@ViewBag.DeductionTypes</div>
   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-sort-numeric-asc"></span> General Deductions</h4>
            <ul class="panel-controls">
                <li class="dropdown open">
                    <a href="javascript:void(0);" class="btnadd" id="btn_addGeneralDeductions"><span class="fa fa-plus fa-1x"></span></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="fa fa-filter"></span> Filter</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-4">
                                    <label class="label-form pull-left col-sm-3">Select Employee:</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddl_EmployeeName", (IEnumerable<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control space align-dropdown selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 ">
                                    <label class="label-form pull-left col-sm-1">From:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("FromDate",(string)ViewBag.FromDate, new { @class = "form-control datepickerFrom" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="label-form pull-left col-sm-1">To:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("ToDate",DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control datepickerTo" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-4">
                                    <label class="label-form pull-left col-sm-3">Deduction Type:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddl_DeductionType", (IEnumerable<SelectListItem>)ViewBag.DeductionTypeList, "Select Deduction Type", new { @class = "form-control space align-dropdown selectpicker",  @data_live_search = "true" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="label-form pull-left col-sm-6" for="chkGetConfirmed">Already Generate Deductions:</label>
                                    <div class="col-sm-1" style="margin-top:6px;">
                                        <input id="chkGetConfirmed" type="checkbox" value="" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="label-form col-sm-1"></label>
                                    <div class="col-sm-8">
                                        <input type="button" value="Preview" onclick="GetGrid()" class="btn btn-primary" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-sm-12" style="padding-left: 0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-xs-4">
                            <h4 class="panel-title">Deduction Details</h4>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div id="ListingDiv" style="overflow-y:auto; height:425px;">
                            <table id="tblGeneralDeductions" class="display table table-bordered table-striped" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading" style="">
                        <h3 class="panel-title" style=""> <span class="fa fa-adn"></span> Generate General Deductions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="col-sm-2" style="margin-top:6px;">
                                    @Html.CheckBox("IsGenerated", new { @class = "" })
                                </div>
                                <div class="col-sm-10">
                                    <label class="label-form" for="IsGenerated">Generate</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form" style="">Generate Date:</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBox("GenerateDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control CurrentDate", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-3">
                                    <label class="label-form" style="">Cycle: </label>
                                </div>
                                <div class="col-sm-9">
                                    @Html.DropDownList("Cycle", (List<SelectListItem>)ViewBag.CycleList, "Select Cycle", new { @class = "form-control col-sm-6 selectpicker", @data_live_search = "true", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" value="Confirm" id="btnConfirm" class="btn btn-primary" onclick="ConfirmEmployeeDeductionStatus()" style="margin-left:10px" />
                            </div>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>
</div>

@section scripts{  
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Custom/General Deductions/Index.js"></script>
}