﻿
@{
    Layout = null;
}
<style>
    .modal-dialog {
        width: 750px;
    }
</style>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divAddPaerformanceRating">
    <div class="panel-body">
        <div id="EmployeeList"></div>
        <div class="form-horizontal col-lg-12 col-md-12">
            <div class="form-group col-md-12 padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form">Academic Year:</label>
                </div>
                <div class="col-sm-9">
                    @Html.DropDownList("ddl_AcademicYears", (IEnumerable<SelectListItem>)ViewBag.AcademicYear, new { @class = "form-control selectpickerddl", required = "required" })
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group"></div>
        <div class="col-md-12 form-group padding-0">
            <div id="AllowanceTable">
                <table id="EmpRating-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="hidden">
                                EmployeeId
                            </th>
                            <th class="col-md-4">
                                Employee
                            </th>
                            <th class="col-md-2">
                                Rate
                            </th>
                            <th  class="col-md-3">
                                Note
                            </th>
                            <th class="col-md-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="rowId_0" class="edit0">
                            <td class="col-md-1 hidden"></td>
                            <td class="col-md-4">
                                @Html.DropDownList("ddlEmployee", (IEnumerable<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control selectpickerddl", @data_live_search = "true", required = "required" })
                            </td>
                            <td class="col-md-1"><div class="input-group"><input class="form-control bindMaxAndMinSelector" data-Max="10" data-Min="1" id="txtRate" /></div></td>
                            <td class="col-md-3" style="width:32%"> 
                                <textarea id="txtNote" class="form-control"></textarea>
                            </td>
                            <td class="center-text-align col-md-4">
                                <div class="center-text-align">
                                    <button type="button" id="btnRowSave" class="tableButton" onclick="saveRow(this)">
                                        <img style="width:16px;" src="/Content/images/tick.ico" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <input type="button" onclick="return savePerformanceRate();" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
        <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
    </div>

</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/bootstrap-multiselect-collapsible-groups.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/PerformanceRating/PerformanceRating.js"></script>

