﻿
@{
    ViewBag.Title = "HRMS - Performance Rating";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active"> Performance Rating</li>
    </ul>
}
<div class="col-md-12">
    <div id="ddlAcademicYears" class="hidden">
        @ViewBag.AcademicYears
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-filter"></span> Filter</h4>
        </div>
        <div class="panel-body">
            <div class="row padding-bottom-0">
                <div class="col-md-12 padding-bottom-0">
                    <div class="col-md-2">
                        <div class="col-md-12">
                            <label class="label-form padding-left-0 padding-right-0">
                                Active Employee Only:
                                @Html.CheckBox("chkShowActiveEmployeeOnly", new { @style = "margin-top:0px;margin-left:14px;" })
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12">
                            <label class="label-form padding-left-0 padding-right-0">
                                All Employees:
                                @Html.CheckBox("chkShowAllEmployee", new { @style = "margin-top:0px;margin-left:14px;" })
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-4">
                            <label class="label-form">Academic Year:</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("ddl_AcYears", (IEnumerable<SelectListItem>)ViewBag.AcademicYear, new { @class = "form-control space align-dropdown selectpicker", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type="button" value="Preview" id="btn_Filter" class="btn btn-primary pull-left" onclick="getGrid()" />
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Performance Rating</h4>
            <ul class="panel-controls">
                <li class="dropdown open">
                    <a href="javascript:void(0);" class="btnadd" id="btn_addPerformanceRating"><span class="fa fa-plus fa-1x"></span></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 padding-0">
                    <table id="tblPerformanceRating" class="display table table-bordered table-striped" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Custom/PerformanceRating/Index.js"></script>
}