﻿@model HRMS.Entities.PastEmploymentModel
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@*<div class="row" style="margin:5px">
        <div class="col-sm-12 margin_bottom">

            <input type="button" value="Add" id="btn_add" class="btn btn-primary" />

            <input type="button" value="Back To Profile" id="btn_BackProfile" class="btn btn-primary" />
        </div>
    </div>*@

@*@Html.Hidden("EmployeeID", (int)ViewBag.EmployeeID, new { @ID = "Empid" })*@

@*<style type="text/css">
    h2 {
        padding: 10px 0 0 10px !important;
    }
</style>*@

<div class="panel panel-default">
    @using (Ajax.BeginForm("UpdatePastEmplymentDetails", "PastEmployment", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccessPastEmployment" }, new { id = "frmAddEmploymentPast" }))
    {
        @Html.HiddenFor(m => m.PastEmploymentID)
        @Html.HiddenFor(m => m.EmployeeID)
        <div class="panel-body @*form-group-separated*@">
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">                    
                </div>
                <div class="col-sm-8">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>                    
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Company Name:</label>
                </div>
                <div class="col-sm-8">                    
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(m => m.CompanyName)
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Start Date:</label>
                </div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "DOB datepicker form-control" })
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </div>
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;End Date:</label>
                </div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "DOB datepicker form-control" })
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form">Department:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form">Position:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form">Role:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Role, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-4 padding-0">
                    <label class="label-form">References:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.EmpReferences, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" value="Cancel" class="btn btn-primary pull-left" onclick="CloseClosetModel('#frmAddEmploymentPast');" />
            <input type="submit" value="Save" class="btn btn-primary pull-right" @*onclick="ValidateForm();"*@ />
        </div>
    }

</div>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $('#collapseOne').toggleClass('collapse', 'in');
    });

    function onSuccessPastEmployment(data) {
        if (data.result == "success") {
            ShowMessage("success", data.resultMessage);
            location.reload();
            //CloseClosetModel('#frmAddEmploymentPast');
            //getPastEmploymentGrid($('#EmployeeID').val());
        } else {
            ShowMessage("error", data.resultMessage);
        }
    }

</script>

