﻿@model HRMS.Entities.PastEmploymentModel

<script>
    function SucessPastEmploymentDetails(arg) {
        $.unblockUI();
        $('#PastEmploymentID').val(arg.PastEmploymentID);
        ShowMessage(arg.result, arg.resultMessage);
        window.location.href = "/PastEmployment/Index/" + $('#EmployeeID').val();
    }

    function BeginPastEmploymentDetails() {
        //$.unblockUI();
        $.blockUI();
    }
</script>


@using (Ajax.BeginForm("UpdatePastEmplymentDetails", "PastEmployment", new AjaxOptions { OnSuccess = "SucessPastEmploymentDetails", OnBegin = "BeginPastEmploymentDetails" }))
{
    @*@Html.HiddenFor(m => m.LocationID, new { @class="LocidforLocationDetails" })*@
    @Html.HiddenFor(m => m.PastEmploymentID, new { @class = "hiddenEmploymentID" })
    @Html.HiddenFor(m => m.EmployeeID, new { @class = "hiddenEmployeeID" })

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2">@Html.LabelFor(m => m.CompanyName, new { @class = "" })</div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" }) 
                 @Html.ValidationMessageFor(m => m.CompanyName)</div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">@Html.LabelFor(m => m.StartDate)</div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.StartDate, new { @class = "datepicker form-control" })
                @Html.ValidationMessageFor(m => m.StartDate)</div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">@Html.LabelFor(m => m.EndDate)</div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.EndDate, new { @class = "datepicker form-control" })</div> @*,@value = @Model.StartDate.Value.ToShortDateString()*@
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
            <div class="col-md-12">
                <div class="col-md-2">@Html.LabelFor(m => m.Department)</div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.Department, new { @class = "form-control" })</div><td>@Html.ValidationMessageFor(m => m.Department)</td>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Position)
                </div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.Position, new { @class = "form-control" })</div><td>@Html.ValidationMessageFor(m => m.Position)</td>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">@Html.LabelFor(m => m.Role)</div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.Role, new { @class = "form-control" })</div><td>@Html.ValidationMessageFor(m => m.Role)</td>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">@Html.LabelFor(m => m.EmpReferences)</div><div class="col-md-5">@Html.TextAreaFor(m => m.EmpReferences, new { @class = "form-control", @rows = 3 })</div>
                <div class="col-md-5">Character Limit: 255</div>
                @Html.ValidationMessageFor(m => m.EmpReferences)
            </div>
            @*<div class="col-md-12"><td>@Html.LabelFor(m => m.Comments)<td>@Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @rows = 3 })</td><td>Character Limit: 255</td><td>@Html.ValidationMessageFor(m => m.Comments)</td></div>*@

        </div>
    </div>
        <div class="form-group col-md-6">
            <div class="pull-right">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>


        @*<script>


                $('.startdate').datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '-100:+0',
                    buttonImage: "../../../Content/images/calender-icon.png",
                    showOn: "both",
                    buttonImageOnly: true,
                    //maxDate: new Date()
                    maxDate: -1,
                    buttonImageText: "Calendar"
                    //onSelect: function (selected) {
                    //    var dt = new Date(selected);
                    //    dt.setDate(dt.getDate() + 1);
                    //    $("#enddate").datepicker("option", "minDate", dt);
                    //}
                    });




                $('.enddate').datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '-100:+0',
                    buttonImage: "../../../Content/images/calender-icon.png",
                    showOn: "both",
                    buttonImageOnly: true,
                    //maxDate: new Date()
                    maxDate: -1,
                    buttonImageText: "Calendar"
                    //onSelect: function (selected) {
                    //    var dt = new Date(selected);
                    //    dt.setDate(dt.getDate() - 1);
                    //    $("#startdate").datepicker("option", "maxDate", dt);
                    //}
                });

            </script>*@



}

