﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/Employee/ListEmployee">Employee List</a></li>
        <li><a href="/ViewEmployeeProfile/Index/@ViewBag.EmployeeID">Employee Profile</a></li>
        <li class="active">Other Address</li>
    </ul>
}

@{
    ViewBag.Title = "HRMS - Employee > Other Address";
}

@Html.Hidden("hiddenEmployeeId", (int)ViewBag.EmployeeId)
 
<input type="hidden" name="hdnDropDownReloadId" id="hdnDropDownReloadId" />

<div class="row">
    <div class="col-md-12 margin_bottom">         
        <input type="button" value="Back To Profile" id="btn_BackProfile" class="btn btn-primary" />
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span> Other Address List</h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" title="Add Other Address" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="exportIcon" class="col-sm-12 padding-0 margin_bottom">
                    </div>
                    <table id="tbl_OtherAddressList" class="display table table-bordered table-striped" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
        <script src="~/Scripts/Custom/OtherAddress.js"></script>
}