﻿@model HRMS.Entities.Forms.EmployeeProfileCreationFormModel
@using HRMS.Entities.Forms
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Profile Creation</li>
    </ul>
}
@{
    ViewBag.Title = "Employee Profile Creation";
    bool isDisabled = Model.ReqStatusID == (int)RequestStatus.Rejected ? true : false;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Employee Profile Creation (Request ID : @Model.EmployeeCreationRequestId)
                        @Html.Hidden("hdnRequestStatusID", Model.ReqStatusID)
                        @Html.Hidden("hdnGroupId", (int)ViewBag.GroupId)
                    </h3>
                </div>
                <div class="pull-right">
                    @if (ViewBag.IsITGroup || Model.ReqStatusID == (int)RequestStatus.Rejected || (int)ViewBag.GroupId == 11)
                    {
                        <a href="javascript:void(0);" title="Save Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                    }
                    @*  && !ViewBag.IsEditRequestFromAllRequests*@
                    @if (Model.ReqStatusID == (int)RequestStatus.Pending)
                    {
                        <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                        <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                    }
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>

            <div class="panel-body form-horizontal ">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = Model.FormId, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                    </fieldset>
                </div>
                <br />
                <form id="frmEmployeeProfileCreation">
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Employee Detail:</span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RequestID)</label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(m => m.ID)
                                            @Html.HiddenFor(m => m.FormProcessID)
                                            @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
                                            @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })
                                            @Html.TextBoxFor(m => m.RequestID, new { @class = "form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.RequestID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CompanyName)</label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(m => m.CompanyID)
                                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.CompanyName)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RecCategoryID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.RecCategoryID, (SelectList)ViewBag.RecCategoryList, " Select Category", isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlRecCategory" } :
                                           (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlRecCategory", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.RecCategoryID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.EmployeeJobCategoryID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.EmployeeJobCategoryID, (SelectList)ViewBag.JobCategoryList, " Select Job Category",
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlJobCategoryID" } : (object)new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlJobCategoryID", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.EmployeeJobCategoryID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.UserTypeID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.UserTypeID, (SelectList)ViewBag.CategoryList, " Select User Type", isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlUserType" } :
                                           (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlUserType", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.UserTypeID)
                                        </div>
                                    </div>

                                    <div class="form-group  col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.DepartmentID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.DepartmentID, (SelectList)ViewBag.Department, " Select Department",
                                            isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlDepartment" } : (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlDepartment", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.DepartmentID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.ProjectData)</label>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ProjectData, isDisabled ? new { @class = "form-control", @id = "txtProjectData" } : (object)new { @class = "form-control", @id = "txtProjectData", disabled = "disabled" })</div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PositionTitle)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.PositionID, (SelectList)ViewBag.PositionTitle, " Select Position Title",
                                                                   isDisabled ? new { @class = "form-control selectpicker", @id = "ddlPositionID" } :
                                                                                (object)new { @class = "form-control selectpicker", @id = "ddlPositionID", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.PositionID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.JobGradeID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.JobGradeID, (SelectList)ViewBag.JobGrade, " Select Job Grade",
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlJobGrade" } :
                                           (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlJobGrade", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.JobGradeID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ContractStatus)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ContractStatus, new List<SelectListItem>
                                             {
                                              new SelectListItem{Text="Single", Value="Single" },
                                              new SelectListItem{Text="Family", Value="Family"},
                                             }, " Select Contract Status",
                                             isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlContractStatus" } :
                                              (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlContractStatus", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.ContractStatus)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" id="divSpouse">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.FamilySpouse)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.FamilySpouse, new List<SelectListItem>
                                             {
                                              new SelectListItem{Text="Self & Spouse", Value="Self & Spouse" },
                                              new SelectListItem{Text="Self & Spouse+1  ", Value="Self & Spouse+1"},
                                              new SelectListItem{Text="Self & Spouse+2", Value="Self & Spouse+2"},
                                              new SelectListItem{Text="Self & Spouse+3 ", Value="Self & Spouse+3"},
                                              new SelectListItem{Text="Self & Spouse+4", Value="Self & Spouse+4"},
                                              new SelectListItem{Text="Self+1", Value="Self+1"},
                                              new SelectListItem{Text="Self+2", Value="Self+2"},
                                              new SelectListItem{Text="Self+3", Value="Self+3"},
                                              new SelectListItem{Text="Self+4", Value="Self+4"},
                                             }, " Select Family Spouse",
                                             isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlFamilySpouse" } :
                                              (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlFamilySpouse", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    @if (ViewBag.IsHrGroup)
                                    {
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-4 label-form">
                                                <span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.EmployeeAlternativeID)
                                            </label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.EmployeeAlternativeID, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EmployeeAlternativeID)
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group col-sm-12" id="divPdrpForm">
                                        <label class="col-sm-4 label-form">
                                            <span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PDRPFormID)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.PDRPFormID, (SelectList)ViewBag.PDRPFormsList, "Select PDRP Form", 
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlForm" } :
                                              (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlForm", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.PDRPFormID)
                                        </div>
                                    </div>
                                    

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AnnualAirTicket)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.AnnualAirTicket, new List<SelectListItem>
                                              {
                                               new SelectListItem{Text="Yes", Value="true" },
                                               new SelectListItem{Text="No", Value="false"},
                                              }, " Select Annual Ticket",
                                              isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAnnualAirTicket" } :
                                              (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAnnualAirTicket", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.AnnualAirTicket)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AirfareFrequencyID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.AirfareFrequencyID, (SelectList)ViewBag.EmployeeAirfareFrequencyList, " Select Air Ticket Frequency",
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAirfareFrequency" } :
                                           (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAirfareFrequency", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.AirfareFrequencyID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AirfareClassID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.AirfareClassID, (SelectList)ViewBag.EmployeeAirfareClassesList, " Select Air Fare Class",
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAirfareClass" } :
                                            (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAirfareClass", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.AirfareClassID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.HealthInsurance)</label>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.HealthInsurance, new List<SelectListItem>
                                             {
                                              new SelectListItem{Text="Yes", Value="true" },
                                              new SelectListItem{Text="No", Value="false"},
                                             }, " Select Health Insurance",
                                             isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlHealthInsurance" } :
                                             (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlHealthInsurance", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.HealthInsurance)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" id="insuranceCategory">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.InsuranceCategory)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("ddlInsuranceCategory", (SelectList)ViewBag.InsuranceCategory, " Select Insurance Category",
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlInsuranceCategory" } :
                                             (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlInsuranceCategory",disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.InsuranceCategory)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" id="insuranceEligibility">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.InsuranceEligibility)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("ddlInsuranceEligibility", (SelectList)ViewBag.InsuranceEligibility, " Select Insurance Eligibility", 
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlInsuranceEligibility" } :
                                             (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlInsuranceEligibility", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.InsuranceEligibility)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.LifeInsurance)</label>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LifeInsurance, new List<SelectListItem>
                                             {
                                              new SelectListItem{Text="Yes", Value="true" },
                                              new SelectListItem{Text="No", Value="false"},
                                             }, " Select Life Insurance",
                                             isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlLifeInsurance" } :
                                             (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlLifeInsurance", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.LifeInsurance)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.DivisionID)</label>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.DivisionID, (SelectList)ViewBag.DivisionList, " Select Division",
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl" } :
                                            (object)new { @class = "form-control selectpicker selectpickerddl", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.DivisionID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.Accommodation)</label>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.Accommodation, new List<SelectListItem>
                                             {
                                              new SelectListItem{Text="Yes", Value="true" },
                                              new SelectListItem{Text="No", Value="false"},
                                             }, " Select Accommodation", 
                                             isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAccommodation" } :
                                             (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAccommodation", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.Accommodation)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" id="accommodationType">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AccommodationType)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("ddlAccommodationType", (SelectList)ViewBag.AccommodationTypeList, " Select Accommodation Type", 
                                           isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAccommodationType" } :
                                             (object)new { @class = "form-control selectpicker selectpickerddl", @id = "ddlAccommodationType", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.AccommodationType)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Other Details:</span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.FirstName)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control charsOnly" })
                                            @Html.ValidationMessageFor(m => m.FirstName)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.MiddleName)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control charsOnly" })
                                            @Html.ValidationMessageFor(m => m.MiddleName)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SurName)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.SurName, new { @class = "form-control charsOnly" })
                                            @Html.ValidationMessageFor(m => m.SurName)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">
                                            <span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.NoticedPeriod)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.NoticedPeriod,
                                            new List<SelectListItem>
                                            {
                                             new SelectListItem{Text="1", Value="1"},
                                             new SelectListItem{Text="2", Value="2"},
                                             new SelectListItem{Text="3", Value="3"}
                                            }, " Select Notice Period", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlNoticePeriod" })

                                            @Html.ValidationMessageFor(m => m.NoticedPeriod)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.JoiningDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.JoiningDate, new { @class = "DOB form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.JoiningDate)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SalaryBasisID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SalaryBasisID, (SelectList)ViewBag.SalaryBasisFrequencyList, " Select Salary Basis", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlSalaryBasis" })
                                            @Html.ValidationMessageFor(m => m.SalaryBasisID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.JobStatusID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.JobStatusID, (SelectList)ViewBag.JobStatusList, " Select Job Status", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlJobStatus" })
                                            @Html.ValidationMessageFor(m => m.JobStatusID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.CostCenter)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.CostCenter, new { @class = "form-control", @id = "txtCostCenter" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.CostCenterCode)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.CostCenterCode, new { @class = "form-control", @id = "txtCostCenterCode" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LocationCode)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LocationCode, new { @class = "form-control", @id = "txtLocationCode" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.OfficeLocation)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.OfficeLocation, new { @class = "form-control", @id = "txtOfficeLocation" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ProbationPeriod)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ProbationPeriod, new List<SelectListItem>
                                             {
                                              new SelectListItem{Text="1", Value="1"},
                                              new SelectListItem{Text="2", Value="2"},
                                              new SelectListItem{Text="3", Value="3"},
                                              new SelectListItem{Text="4", Value="4"},
                                              new SelectListItem{Text="5", Value="5"},
                                              new SelectListItem{Text="6", Value="6"}
                                             }, " Select Probation Period", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlProbationPeriod" })
                                            @Html.ValidationMessageFor(m => m.ProbationPeriod)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SupervisorID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SupervisorID, (SelectList)ViewBag.SupervisorList, " Select supervisor", new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlSupervisor" })
                                            @Html.ValidationMessageFor(m => m.SupervisorID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CountryID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, " Select Country", new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlDestCountry" })
                                            @Html.ValidationMessageFor(m => m.CountryID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CityID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CityID, (SelectList)ViewBag.CityList, new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlDestCity" })
                                            @Html.ValidationMessageFor(m => m.CityID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AirportListID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.AirportListID, (SelectList)ViewBag.AirPortList, new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlAirportList" })
                                            @Html.ValidationMessageFor(m => m.AirportListID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.LeaveEntitleDaysID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LeaveEntitleDaysID, (SelectList)ViewBag.LeaveEntitlementList, " Select Leave Entitlement", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlLeaveEntitle" })
                                            @Html.ValidationMessageFor(m => m.LeaveEntitleDaysID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.LeaveEntitleTypeID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LeaveEntitleTypeID, (SelectList)ViewBag.LeaveEntitlementTypeList, " Select Leave Entitlement", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlLeaveEntitleType" })
                                            @Html.ValidationMessageFor(m => m.LeaveEntitleTypeID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.NationalityID)</label>
                                        <div class="col-sm-8">
                                            @Html.Hidden("NationalityIds", Model.NationalityID)
                                            <div class="multi-Select multiddl multiEmployee">
                                                @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                                                {
                                                    <select multiple="multiple" id="ddlNationality" name="NationalityID" class="form-control">
                                                        @foreach (var item in (List<SelectListItem>)ViewBag.NationalityList)
                                                        {
                                                            if (item.Selected)
                                                            {
                                                                <option selected value="@item.Value">@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select multiple="multiple" id="ddlNationality" name="NationalityID" class="form-control" disabled="disabled">
                                                        @foreach (var item in (List<SelectListItem>)ViewBag.NationalityList)
                                                        {
                                                            if (item.Selected)
                                                            {
                                                                <option selected value="@item.Value">@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                            </div>
                                            @Html.ValidationMessageFor(m => m.NationalityID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.DefaultNationalityID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.DefaultNationalityID, (SelectList)ViewBag.DefaultNationalityList, " Select Default Nationality", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlDefaultNationality" })
                                            @Html.ValidationMessageFor(m => m.DefaultNationalityID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PassportNo)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.PassportNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.PassportNo)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PassportIssueDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.PassportIssueDate, new { @class = "DOB form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(m => m.PassportIssueDate)

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PassportExpiryDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.PassportExpiryDate, new { @class = "DOB form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(m => m.PassportExpiryDate)

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.DOB)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.DOB, new { @class = "DOB form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.BirthCountryID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.BirthCountryID, (SelectList)ViewBag.Country, " Select Country", new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlBirthCountry" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.BirthCountryID)
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.BirthCityID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.BirthCityID, (SelectList)ViewBag.BirthCityList, new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlBirthCity" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.BirthCityID)
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.GenderID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.GenderID, (SelectList)ViewBag.GenderList, " Select Gender", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlGender" })
                                            @Html.ValidationMessageFor(m => m.GenderID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.ReligionID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ReligionID, (SelectList)ViewBag.ReligionList, " Select Religion", new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlReligion" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LanguageID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LanguageID, (SelectList)ViewBag.LanguageList, " Select Language", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlLanguage" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.MotherName)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control charsOnly" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.FatherName)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control charsOnly" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.MobileNumber)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.LandlinePhone)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LandlinePhone, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.MaritalStatusID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.MaritalStatusID, (SelectList)ViewBag.MaritalStatusList, " Select Marital Status", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlMaritalStatus" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.MaritalStatusID)
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form">@Html.DisplayNameFor(m => m.Extension)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Extension, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.InterviewFileID)</label>
                                        @{
                                            var InterviewFile = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.InterviewFileID);
                                            if (InterviewFile != null && InterviewFile.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_InterviewFile"> @InterviewFile.FileName</span><div id="file_caption_id_InterviewFile">

                                                            </div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_InterviewFile" onclick="RemoveDocument('InterviewFile', 'InterviewFileID')" disabled="disabled"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_InterviewFile"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_InterviewFile"></div>
                                                        </div>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_InterviewFile" style="margin-top: 3px;display:none;"> </span>
                                                    <div id="divPreview_InterviewFile" class="PreviewName">
                                                        <a id="PreviewFile" href="#" onclick="OpenFilePreview('EmployeeProfileCreationForm',@Model.InterviewFileID);">@InterviewFile.FileName</a>
                                                    </div>
                                                    <input type="hidden" value="@Model.InterviewFileID" id="hdnFileUpload_InterviewFile" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_InterviewFile"></span><div id="file_caption_id_InterviewFile"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_InterviewFile" onclick="RemoveDocument('InterviewFile', 'InterviewFileID')" disabled="disabled"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_InterviewFile">
                                                                <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="fu_InterviewFile" id="fu_InterviewFile">
                                                                @Html.ValidationMessage("fu_InterviewFile")
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_InterviewFile" style="margin-top: 3px;display:none;"> </span>
                                                    <div id="divPreview_InterviewFile" class="PreviewName">
                                                    </div>
                                                    <input type="hidden" value="0" id="hdnFileUpload_InterviewFile" />
                                                </div>

                                            }
                                        }
                                    </div>
                                    @if (!ViewBag.IsITGroup)
                                    {
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.OfferLetterFileID)</label>
                                            @{
                                                var offerLetterFile = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.OfferLetterFileID);
                                                if (offerLetterFile != null && offerLetterFile.FileName != null)
                                                {
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_OfferLetter"> @offerLetterFile.FileName</span><div id="file_caption_id_offerLetterFile">

                                                                </div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_OfferLetter" onclick="RemoveDocument('OfferLetter', 'OfferLetterFileID')" disabled="disabled"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_OfferLetter"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="fu_OfferLetter" id="fu_OfferLetter"></div>
                                                            </div>
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_OfferLetter" style="margin-top: 3px;display:none;"> </span>
                                                        <div id="divPreview_OfferLetter" class="PreviewName">
                                                            <a id="PreviewFile" href="#" onclick="OpenFilePreview('EmployeeProfileCreationForm',@Model.OfferLetterFileID);">@offerLetterFile.FileName</a>
                                                        </div>
                                                        <input type="hidden" value="@Model.OfferLetterFileID" id="hdnFileUpload_OfferLetter" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_OfferLetter"></span><div id="file_caption_id_OfferLetter"></div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_OfferLetter" onclick="RemoveDocument('OfferLetter', 'OfferLetterFileID')" disabled="disabled"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" id="divBrowse_OfferLetter">
                                                                    <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="fu_OfferLetter" id="fu_OfferLetter">
                                                                    @Html.ValidationMessage("fu_OfferLetter")
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_OfferLetter" style="margin-top: 3px;display:none;"> </span>
                                                        <div id="divPreview_OfferLetter" class="PreviewName">
                                                        </div>
                                                        <input type="hidden" value="0" id="hdnFileUpload_OfferLetter" />
                                                    </div>

                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="hidden" value="@Model.OfferLetterFileID" id="hdnFileUpload_OfferLetter" />
                                    }
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.WorkEmailID)</label>
                                        <div class="col-sm-8">
                                            @if (ViewBag.IsITGroup)
                                            {
                                                <input type="hidden" id="hdnIsITGroup" value="1" />
                                                @Html.TextBoxFor(m => m.WorkEmailID, new { @class = "form-control", @placeholder = "To be filled by IT" })
                                                @Html.ValidationMessageFor(m => m.WorkEmailID)
                                            }
                                            else
                                            {
                                                <input type="hidden" id="hdnIsITGroup" value="0" />
                                                { Html.EnableClientValidation(false); }
                                                @Html.TextBoxFor(m => m.WorkEmailID, new { @class = "form-control", @placeholder = "To be filled by IT", disabled = "disabled" })
                                                { Html.EnableClientValidation(true); }
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.HRContractTypeID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.HRContractTypeID, (SelectList)ViewBag.contractList, " Select Contract Type", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlHRContractType" })
                                            @Html.ValidationMessageFor(m => m.HRContractTypeID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <br />
                    <div class="row">
                        @Html.Partial("_AssetsDetail", Model.ProfileAssignAssetsModelList)
                    </div>

                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label id="lblComments" class="label-form" style="font-size:12px !important"> @Html.DisplayNameFor(m => m.Comments) </label>
                                <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                    </div>

                    @if (Model.FormProcessID > 0)
                    {
                        <div class="form-group col-sm-12 padding-0">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                        </div>
                    }
                </form>
            </div>

            <div class="panel-footer">
                <div class="form-group pull-left">
                    @if (ViewBag.IsITGroup || Model.ReqStatusID == (int)RequestStatus.Rejected || isDisabled || (int)ViewBag.GroupId == 11)
                    {
                        <button type="button" title="Save Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i> Save</button>
                    }
                    @if (Model.ReqStatusID == (int)RequestStatus.Pending)
                    {
                        <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                        <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                    }
                    <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/EmployeeProfileCreationForm.js"></script>
}
