﻿@model HRMS.Entities.Forms.EmployeeProfileCreationFormModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Profile Creation</li>
    </ul>
}
@{
    ViewBag.Title = "Employee Profile Creation";
}
<div class="row">
    <div class="col-md-12">      
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>

                        Employee Profile Creation
                    </h3>
                </div>

                <div class="pull-right">
                    <button href="javascript:void(0);" title="Submit Request" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></button>
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 4, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = Model.IsAddMode, formProcessId = 0 }); }
                    </fieldset>
                </div>
                <form id="frmEmployeeProfileCreation">

                    <div id="employeeRequestDetails">
                        @Html.Partial("_Create", Model)
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Submit Request" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>
                    <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/EmployeeProfileCreationForm.js"></script>
}

