﻿@model HRMS.Entities.Forms.EmployeeProfileCreationFormModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Profile Creation</li>
    </ul>
}
@{
    ViewBag.Title = "Employee Profile Creation";
}
<style>
    .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
        display: block;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Employee Profile Creation (Request ID : @Model.EmployeeCreationRequestId)
                    </h3>
                </div>

                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <form id="frmEmployeeProfileCreation">

                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>
                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 4, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Employee Detail:</span>
                            </legend>


                            <div class="row form-group">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"> <label class="" label-form">@Html.DisplayNameFor(m => m.RequestID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(m => m.ID)
                                            @Html.HiddenFor(m => m.FormProcessID)
                                            <span class="label-form">   @Html.DisplayFor(m => m.RequestID)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"> <label class="" label-form">@Html.DisplayNameFor(m => m.PDRPFormID)</label></div>
                                        <div class="col-sm-8">
                                            @{var PDRPForm = ViewBag.PDRPFormsList != null ? ((SelectList)ViewBag.PDRPFormsList).FirstOrDefault(r => r.Value == Model.PDRPFormID.ToString()) : null;}
                                            @if (PDRPForm != null)
                                            {
                                                <span class="label-form"> @PDRPForm.Text</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.CompanyName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(m => m.CompanyID)
                                            <span class="label-form"> @Html.DisplayFor(m => m.CompanyName)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.EmploymentModeId)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var EmploymentTypeList = ViewBag.EmploymentTypeList != null ? ((SelectList)ViewBag.EmploymentTypeList).FirstOrDefault(r => r.Value == Model.EmploymentModeId.ToString()) : null;}
                                            @if (EmploymentTypeList != null)
                                            {
                                                <span class="label-form"> @EmploymentTypeList.Text</span>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.RecCategoryID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var RecCategoryList = ViewBag.RecCategoryList != null ? ((SelectList)ViewBag.RecCategoryList).FirstOrDefault(r => r.Value == Model.RecCategoryID.ToString()) : null;}
                                            <span class="label-form">@(RecCategoryList != null ? RecCategoryList.Text : "") </span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.EmployeeJobCategoryID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var JobCategoryList = ((SelectList)ViewBag.JobCategoryList).FirstOrDefault(r => r.Value == Model.EmployeeJobCategoryID.ToString());}
                                            <span class="label-form"> @JobCategoryList.Text</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.UserTypeID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var CategoryList = ViewBag.CategoryList != null ? ((SelectList)ViewBag.CategoryList).FirstOrDefault(r => r.Value == Model.UserTypeID.ToString()) : null;}
                                            <span class="label-form">@(CategoryList != null ? CategoryList.Text : "") </span>
                                        </div>
                                    </div>

                                    <div class="form-group  col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.DepartmentID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var Department = ((SelectList)ViewBag.Department).FirstOrDefault(r => r.Value == Model.DepartmentID.ToString());}
                                            <span class="label-form"> @Department.Text</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.ProjectData)</label>
                                        </div>
                                        <div class="col-sm-8">@Html.DisplayFor(m => m.ProjectData, new { @class = "label-form" })</div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.PositionTitle)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.PositionTitle)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.JobGradeID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var JobGrade = ((SelectList)ViewBag.JobGrade).FirstOrDefault(r => r.Value == Model.JobGradeID.ToString());}
                                            <span class="label-form"> @JobGrade.Text</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.ContractStatus)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.ContractStatus)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.FamilySpouse)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.FamilySpouse)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 alternatecolor">
                                    
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.AnnualAirTicket)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @if (Model.AnnualAirTicket)
                                            {
                                                <span class="label-form">Yes</span>
                                            }
                                            else
                                            {
                                                <span class="label-form">No</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.AirfareFrequencyID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var EmployeeAirfareFrequencyList = ((SelectList)ViewBag.EmployeeAirfareFrequencyList).FirstOrDefault(r => r.Value == Model.AirfareFrequencyID.ToString());}
                                            @if (EmployeeAirfareFrequencyList != null)
                                            {
                                                <span class="label-form"> @EmployeeAirfareFrequencyList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.AirfareClassID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var EmployeeAirfareClassesList = ((SelectList)ViewBag.EmployeeAirfareClassesList).FirstOrDefault(r => r.Value == Model.AirfareClassID.ToString());}
                                            @if (EmployeeAirfareClassesList != null)
                                            {
                                                <span class="label-form"> @EmployeeAirfareClassesList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.HealthInsurance)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @if (Model.HealthInsurance)
                                            {
                                                <span class="label-form">Yes</span>
                                            }
                                            else
                                            {
                                                <span class="label-form">No</span>
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.InsuranceCategory)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @{var InsuranceCategory = ((SelectList)ViewBag.InsuranceCategory).FirstOrDefault(r => r.Value == Model.InsuranceCategory.ToString());}
                                            <span class="label-form"> @InsuranceCategory.Text</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.InsuranceEligibility)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @{var InsuranceEligibility = ((SelectList)ViewBag.InsuranceEligibility).FirstOrDefault(r => r.Value == Model.InsuranceEligibility.ToString()) ?? new SelectListItem();}
                                            <span class="label-form"> @InsuranceEligibility.Text</span>

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.LifeInsurance)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @if (Model.LifeInsurance)
                                            {
                                                <span class="label-form">Yes</span>
                                            }
                                            else
                                            {
                                                <span class="label-form">No</span>
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.DivisionID)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @{var DivisionList = ((SelectList)ViewBag.DivisionList).FirstOrDefault(r => r.Value == Model.DivisionID.ToString());}
                                            @if (DivisionList != null)
                                            {
                                                <span class="label-form"> @DivisionList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.Accommodation)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @if (Model.Accommodation)
                                            {
                                                <span class="label-form">Yes</span>
                                            }
                                            else
                                            {
                                                <span class="label-form">No</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.AccommodationType)</label>
                                        </div>

                                        <div class="col-sm-8">
                                            @{var AccommodationType = ((SelectList)ViewBag.AccommodationTypeList).FirstOrDefault(r => r.Value == Model.AccommodationType.ToString());}
                                            <span class="label-form"> @AccommodationType.Text</span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>
                    </div>


                    <div class="row">

                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Other Details:</span>
                            </legend>

                            <div class="row">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.FirstName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.FirstName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.MiddleName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">    @Html.DisplayFor(m => m.MiddleName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.SurName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.SurName)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">
                                                @Html.DisplayNameFor(m => m.NoticedPeriod)
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.NoticedPeriod)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.JoiningDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.JoiningDate)</span>
                                        </div>
                                    </div>





                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.SalaryBasisID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var SalaryBasisFrequencyList = ((SelectList)ViewBag.SalaryBasisFrequencyList).FirstOrDefault(r => r.Value == Model.SalaryBasisID.ToString());}
                                            @if (SalaryBasisFrequencyList != null)
                                            {
                                                <span class="label-form"> @SalaryBasisFrequencyList.Text</span>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.JobStatusID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var JobStatusList = ViewBag.JobStatusList != null ? ((SelectList)ViewBag.JobStatusList).FirstOrDefault(r => r.Value == Model.JobStatusID.ToString()) : null;}
                                            <span class="label-form">@(JobStatusList != null ? JobStatusList.Text : "") </span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.CostCenter)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">   @Html.DisplayFor(m => m.CostCenter)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.CostCenterCode)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.CostCenterCode)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.LocationCode)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.LocationCode)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.OfficeLocation)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.OfficeLocation)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.ProbationPeriod)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.ProbationPeriod)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.SupervisorID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var SupervisorList = ((SelectList)ViewBag.SupervisorList).FirstOrDefault(r => r.Value == Model.SupervisorID.ToString());}
                                            @if (SupervisorList != null)
                                            {
                                                <span class="label-form"> @SupervisorList.Text</span>
                                            }

                                        </div>
                                    </div>


                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.CountryID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var Country = ((SelectList)ViewBag.Country).FirstOrDefault(r => r.Value == Model.CountryID.ToString());}
                                            @if (Country != null)
                                            {
                                                <span class="label-form"> @Country.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.CityID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var CityList = ((SelectList)ViewBag.CityList).FirstOrDefault(r => r.Value == Model.CityID.ToString());}
                                            @if (CityList != null)
                                            {
                                                <span class="label-form"> @CityList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.AirportListID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var AirPortList = ((SelectList)ViewBag.AirPortList).FirstOrDefault(r => r.Value == Model.AirportListID.ToString());}
                                            @if (AirPortList != null)
                                            {
                                                <span class="label-form"> @AirPortList.Text</span>
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.LeaveEntitleDaysID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var LeaveEntitlementList = ((SelectList)ViewBag.LeaveEntitlementList).FirstOrDefault(r => r.Value == Model.LeaveEntitleDaysID.ToString());}
                                            @if (LeaveEntitlementList != null)
                                            {
                                                <span class="label-form"> @LeaveEntitlementList.Text</span>
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.LeaveEntitleTypeID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var LeaveEntitlementTypeList = ((SelectList)ViewBag.LeaveEntitlementTypeList).FirstOrDefault(r => r.Value == Model.LeaveEntitleTypeID.ToString());}
                                            @if (LeaveEntitlementTypeList != null)
                                            {
                                                <span class="label-form"> @LeaveEntitlementTypeList.Text</span>
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.NationalityID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @foreach (var item in ((List<SelectListItem>)ViewBag.NationalityList).Where(s => s.Selected == true))
                                            {
                                                <span class="label-form">
                                                    @item.Text
                                                </span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.DefaultNationalityID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var DefaultNationalityList = ((SelectList)ViewBag.DefaultNationalityList).FirstOrDefault(r => r.Value == Model.DefaultNationalityID.ToString());}
                                            @if (DefaultNationalityList != null)
                                            {
                                                <span class="label-form"> @DefaultNationalityList.Text</span>
                                            }
                                        </div>
                                    </div>


                                </div>

                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.PassportNo)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.PassportNo)</span>
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.PassportIssueDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.PassportIssueDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.PassportExpiryDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.PassportExpiryDate)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.DOB)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.DOB)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.BirthCountryID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var BirthCountryList = ((SelectList)ViewBag.Country).FirstOrDefault(r => r.Value == Model.BirthCountryID.ToString());}
                                            @if (BirthCountryList != null)
                                            {
                                                <span class="label-form"> @BirthCountryList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.BirthCityID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var BirthCityList = ((SelectList)ViewBag.BirthCityList).FirstOrDefault(r => r.Value == Model.BirthCityID.ToString());}
                                            @if (BirthCityList != null)
                                            {
                                                <span class="label-form"> @BirthCityList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.GenderID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var GenderList = ((SelectList)ViewBag.GenderList).FirstOrDefault(r => r.Value == Model.GenderID.ToString());}
                                            @if (GenderList != null)
                                            {
                                                <span class="label-form"> @GenderList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.ReligionID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var ReligionList = ((SelectList)ViewBag.ReligionList).FirstOrDefault(r => r.Value == Model.ReligionID.ToString());}
                                            @if (ReligionList != null)
                                            {
                                                <span class="label-form"> @ReligionList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.LanguageID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var LanguageList = ((SelectList)ViewBag.LanguageList).FirstOrDefault(r => r.Value == Model.LanguageID.ToString());}
                                            @if (LanguageList != null)
                                            {
                                                <span class="label-form"> @LanguageList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.MotherName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.MotherName)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.FatherName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.FatherName)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.MobileNumber)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form"> @Html.DisplayFor(m => m.MobileNumber)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.LandlinePhone)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">   @Html.DisplayFor(m => m.LandlinePhone)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.MaritalStatusID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var MaritalStatusList = ((SelectList)ViewBag.MaritalStatusList).FirstOrDefault(r => r.Value == Model.MaritalStatusID.ToString());}
                                            @if (MaritalStatusList != null)
                                            {
                                                <span class="label-form"> @MaritalStatusList.Text</span>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.Extension)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">    @Html.DisplayFor(m => m.Extension)</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.InterviewFileID)</label>
                                        </div>
                                        @{
                                            var InterviewFile = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.InterviewFileID);
                                            if (InterviewFile != null && InterviewFile.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <label id="txtuploadedMsgAdd_InterviewFile" style="margin-top: 3px;"> </label>
                                                    <span class="label-form">
                                                        <a id="PreviewFile" href="#" onclick="OpenFilePreview('EmployeeProfileCreationForm',@Model.InterviewFileID);">@InterviewFile.FileName</a>
                                                    </span>
                                                    <input type="hidden" value="@Model.InterviewFileID" id="hdnFileUpload_InterviewFile" />
                                                </div>
                                            }

                                        }
                                    </div>
                                    @if (!ViewBag.IsShowOfferLetter)
                                    {
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">  @Html.DisplayNameFor(m => m.OfferLetterFileID)</label>
                                            </div>
                                            @{
                                                var offerLetterFile = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.OfferLetterFileID);
                                                if (offerLetterFile != null && offerLetterFile.FileName != null)
                                                {
                                                    <div class="col-sm-8">
                                                        <label id="txtuploadedMsgAdd_OfferLetter" style="margin-top: 3px;"> </label>
                                                        <span class="label-form">
                                                            <a id="PreviewFile" href="#" onclick="OpenFilePreview('EmployeeProfileCreationForm',@Model.OfferLetterFileID);">@offerLetterFile.FileName</a>
                                                        </span>
                                                        <input type="hidden" value="@offerLetterFile.FileID" id="hdnFileUpload_offerLetterFile" />
                                                    </div>
                                                }

                                            }
                                        </div>
                                                }

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.WorkEmailID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">  @Html.DisplayFor(m => m.WorkEmailID)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">  @Html.DisplayNameFor(m => m.HRContractTypeID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var contractList = ((SelectList)ViewBag.contractList).FirstOrDefault(r => r.Value == Model.HRContractTypeID.ToString());}
                                            @if (contractList != null)
                                            {
                                                <span class="label-form"> @contractList.Text</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                    </div>
                    <br />

                    <div class="row">

                        @Html.Partial("_AssetsDetail", Model.ProfileAssignAssetsModelList)

                    </div>

                    <div class="row">
                        @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                    </div>
                    <br />
                    @if (Model.IsReleased)
                    {
                        <div class="row">
                            <fieldset class="fieldset-Section">
                                <legend class="legend-border">
                                    <span class="label-control legend-title-font">Request Release Detail:</span>
                                </legend>
                                <div class="row">
                                    <div class="col-sm-6 alternatecolor">
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">  @Html.DisplayNameFor(m => m.R1ReleasedOn)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form"> @Html.DisplayFor(m => m.R1ReleasedOn)</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">  @Html.DisplayNameFor(m => m.CompanyName)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form"> @Html.DisplayFor(m => m.R1ReleaserCompanyName)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 alternatecolor">
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">  @Html.DisplayNameFor(m => m.R1ReleasedByName)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form"> @Html.DisplayFor(m => m.R1ReleasedByName)</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">  @Html.DisplayNameFor(m => m.R1ReleaseComments)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form"> @Html.DisplayFor(m => m.R1ReleaseComments)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                         
                            
                        </div>
                        <br />
                    }
                </form>
            </div>

            <div class="panel-footer">
                <div class="form-group pull-left">
                    @if (Session["IsR1Release"] != null && ((bool)Session["IsR1Release"]))
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Release List</button>
                    }
                    else
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/EmployeeProfileCreationForm.js"></script>
}
