﻿@model HRMS.Entities.UserGroupModel

@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
        $("#btnCancel").click(function () {
            $("#myModal").modal("hide");
        });

        $("#btnSubmit").click(function () {
            var atLeastOneIsChecked = $('.chklist input[type=checkbox]:checked').length > 0;
            if (!atLeastOneIsChecked) {
                $.MessageBox({
                    buttonDone: "Ok",
                    message: "Please check atleast one Role",
                });
                return false;
            }



        });

    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        $.MessageBox({
            buttonDone: "Ok",
            message: error,
        });
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getGridUserGroup();
        }
        else {
            ShowMessage("warning", data.Message);
        }
    }
</script>
<div class="panel panel-default">
    @using (Ajax.BeginForm("UpdateUserGroup", "UserGroup", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddUserGroup" }))
    {
        @Html.HiddenFor(m => m.UserGroupId)
        <div class="panel-body col-sm-12">
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Group Name: </label>
                </div>

                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.UserGroupName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.UserGroupName)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label class="label-form">Description: </label>
                </div>

                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label class="label-form">
                        <span class="required-field">*</span>
                        Organization(s):
                    </label>
                </div>

                <div class="col-sm-8">
                    <div class="multi-Select multiddl multiCompany" id="divCompany">
                        <select multiple="multiple" id="ddlCompanyList" class="form-control" name="CompanyList">
                            @foreach (var item in (SelectList)ViewBag.CompanyList)
                            {
                                if (((IList<int>)ViewBag.CompanyIdList).Contains(Convert.ToInt32(item.Value)))
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value"> @item.Text </option>
                                }
                            }
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label class="label-form">
                        <span class="required-field">*</span>Employee Lists Access:
                    </label>
                </div>

                <div class="col-sm-8">
                    @*@Html.DropDownList("EmployeeListddl", (SelectList)ViewBag.EmployeeList, "All Employee", new { @class = "form-control", @multiple = "multiple", required = "required" })*@
                    @Html.DropDownListFor(m => m.UserListAccessID, (List<SelectListItem>)ViewBag.userGroupListAccess, "Select Group List Access", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                    @Html.ValidationMessageFor(model => model.UserListAccessID)

                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label class="label-form">Assign User Role(s):</label>
                </div>

                <div class="col-sm-8">
                    @*<ul class="chklist" style="padding-left: 0; list-style-type: none;">
                        @foreach (var role in ViewBag.UserRoleList)
                        {
                            <li>
                                <input type="checkbox" value="@role.UserRoleId" id="@role.UserRoleId" name="UserRoleList"
                                       @{if (Model.RoleIds.Contains(@role.UserRoleId.ToString())) { <text> checked='checked' </text>  if (@role.EmployeeJobCategoryID > 0) { <text> class="disabled" onclick="return false;" </text>  } } } />
                                <label for="@role.UserRoleId">&nbsp;@role.UserRoleName</label>
                            </li>
                        }
                    </ul>*@
                    <div class="multi-Select multiddl multiCompany" id="divUserRole">
                        <select multiple="multiple" id="ddlUserRoleList" class="form-control" name="UserRoleList">
                            @foreach (var item in  ViewBag.UserRoleList)
                            {
                                if (ViewBag.UserRoleIDList.Contains(Convert.ToInt32(item.UserRoleId)))
                                {
                                    <option selected="selected" value="@item.UserRoleId">@item.UserRoleName</option>
                                }
                                else
                                {
                                    <option value="@item.UserRoleId"> @item.UserRoleName </option>
                                }
                            }
                        </select>

                    </div>
                    @Html.ValidationMessageFor(model => model.RoleIds)
                </div>
            </div>

        </div>
          

            <div class="panel-footer">

                <input type="submit" value="Update" class="btn btn-primary pull-right" />
                <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
            </div>
                                    }
</div>


<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlCompanyList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
        $jquery('#ddlUserRoleList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });
</script>

@section Scripts
{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}