﻿@model IEnumerable<HRMS.Entities.UserGroupModel>
@{
    ViewBag.Title = "HRMS - User Group";
}



@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">User Group</li>
    </ul>
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-8" style="padding-left:0px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-university"></span> User Group</h3>
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" onclick="AddUserGroup();" title="Add User Group" id="btn_addUserRole" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <table id="tbl_UserGroupList" class="display table table-bordered table-striped" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" id="divGrpEmpList" style="display:none">
                @{Html.RenderPartial("_GroupEmployeeList");}
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            getGridUserGroup();
            $("#btn_ExportToExcel").click(function () { ExportToExcel(); });
            $("#btn_ExportToPdf").click(function () { ExportToPdf(); });

            $(document).on('keyup', '#txtSearch', function () {

                var searchText = $(this).val().toLowerCase();

                $('.empchklist > li').each(function () {

                    var currentLiText = $(this).find('label').text().toLowerCase(),
                        showCurrentLi = currentLiText.indexOf(searchText) !== -1;

                    $(this).toggle(showCurrentLi);

                });
            });

            $("#btn_addUserGroup").click(function () { AddUserGroup(); });
            $(document).on('change', '#txtSearch', function () {
                if ($("#txtSearch").val() == "") {

                    AssignEmployees($("#UserGroupId").val());
                }
            });

            $(document).on('click', '.btnSelect', function () {
                $('.btnSelect').removeClass('btn-info');
                $('.btnSelect').addClass('btn-default');
                $(this).removeClass('btn-default');
                $(this).addClass('btn-info');
            });
        });
    </script>

    <script>
        function onEmpFailure(xhr, status, error) {
            console.log("xhr", xhr);
            console.log("status", status);
            ShowMessage("warning", error);
        }

        function onEmpSuccess(data, status, xhr) {

            console.log("data", data);
            console.log("status", status);
            console.log("xhr", xhr);

            if (data.Success == true) {
                ShowMessage("success", data.Message);
            }
            else {
                ShowMessage("warning", data.Message);
            }
        }

        function SearchEmployee() {
            var val = $("#txtSearch").val();
            if (val != "") {
                $.ajax({
                    url: "/UserGroup/SearchEmployees",
                    type: "GET",
                    data: { "id": $("#UserGroupId").val(), "searchval": val },
                    success: function (data) {
                        var text = '';
                        var EmployeeIdsArray = "";
                        if ($("#EmployeeIds").val() != null) {
                            EmployeeIdsArray = $("#EmployeeIds").val().split(',');
                        }
                        $('.empchklist').html("");
                        $.each(data, function (index, itemData) {
                            text += "  <li> <input type='checkbox' value='" + itemData.EmployeeId + "' id='" + itemData.EmployeeId + "' name='EmployeeList'";
                            if (jQuery.inArray(itemData.EmployeeId.toString(), EmployeeIdsArray) != -1) {
                                text += " checked='checked' ";
                            }
                            text += " /> <label>&nbsp;" + itemData.FullName + "</label></li>";
                        });
                        $('.empchklist').html(text);
                    },
                    error: function () {
                        ShowMessage("warning", "Some error occured.");
                    }
                });
            }
            else {
                AssignEmployees($("#UserGroupId").val());
            }
        }
    </script>

    <script src="~/Scripts/Custom/UserGroup.js"></script>
}