.rtlaln{
        float:right !important;
    }
    .lftaln{
        float:left !important;
    }
        .ritrds {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .lftrds {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }
    .leftborder{
        border-left: 2px solid #fff;
    }