﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    //int rowno = 0;
    bool sreadonly = false;
    if (Model.FormMode == 2)
    {
        sreadonly = true;
    }
    int ReqStatusID = Model.ObservationsEmployeeModel.ReqStatusID;
    int RatingScaleNo = 0;
    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        Model.FormMode = 2;

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        Model.FormMode = 2;
    }
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}


<style>
    /*.row [class^='col-xs-'], .row [class^='col-sm-'], .row [class^='col-md-'], .row [class^='col-lg-'] {
        padding-left: 20px;
        padding-right: 20px;
    }*/
    ul.panel-controls > li.label-control .label, .label-form {
            margin-top: 2px;
    }
    .rowhttwo {
        height: 65px;
        margin-bottom: 0px !important;
        padding-top: 20px !important;
    }

    .rowhone {
        height: 26px;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }


    .formcontrol {
        /*margin-top: 3px;*/
        height: 24px;
        font-size: 12px;
        line-height: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        border: 1px solid #D5D5D5;
        background: #F9F9F9;
    }

    .cal {
        padding: 0px 0px;
        margin-top: 3px;
        font-size: 10px;
        line-height: 20px;
    }
</style>
<fieldset class="fieldset-Section">
    <legend class="legend-border">
        <span class="label-form legend-title-font">

            @PDRPObservationsXMLResources.GetResource("EmployeeDetails")
        </span>

    </legend>
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.RequestID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.RequesterID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.CompanyID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ReqStatusID, new { @id = "ReqStatusID" })
    <div class="col-lg-12">
        <div class="col-sm-6 alternatecolor">

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("RequestDate"), new { @class = "label-form" })</div>
                <div class="col-sm-8"><span class="label-form" dir="ltr">@Html.DisplayFor(m => m.ObservationsEmployeeModel.RequestDate, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("EmployeeName"), new { @class = "label-form", @id = "TeacherName", @data_requestername = Model.ObservationsEmployeeModel.TeacherName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.TeacherName, new { @class = "form-control", @id = "TeacherName" })
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.TeacherID)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Department"), new { @class = "label-form" })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ObservationsEmployeeModel.DepartmentName, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Designation"), new { @class = "label-form", @id = "PositionTitle", @data_positiontitle = Model.ObservationsEmployeeModel.PositionTitle })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ObservationsEmployeeModel.PositionTitle, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("LineManager"), new { @class = "label-form", @id = "SuperviserName", @data_supervisername = Model.ObservationsEmployeeModel.SuperviserName })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ObservationsEmployeeModel.SuperviserName, new { @class = "form-control" })</span></div>
            </div>
            @*@if (Model.FormMode == 1)
                {*@
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Subject"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.Subject
                                        , Model.FormMode == 2 || ReqStatusID == 4 ? new
                                        {
                                            @class = "form-control formcontrol",
                                            @disabled = "disabled"
                                        } : (object)new
                                        {
                                            @class = "form-control formcontrol",

                                        })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.Subject)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("LessonTopic"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.LessonTopic
                                    , Model.FormMode == 2 || ReqStatusID == 4 ? new
                                    {
                                        @class = "form-control formcontrol",
                                        @disabled = "disabled"

                                    } : (object)new
                                    {
                                        @class = "form-control formcontrol",

                                    })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.LessonTopic)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">
                    <div>@Html.Label(@PDRPObservationsXMLResources.GetResource("NoofstudentsonRoll"), new { @class = "label-form", @id = "LessonTopic" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln " : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsOnRollMale
                                , Model.FormMode == 2 || ReqStatusID == 4 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"

                                } :(object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1",

                                })

                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln " : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsOnRollFemale
                                , Model.FormMode == 2 || ReqStatusID == 4 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",

                                    @step = "1",
                                    @disabled = "disabled"

                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    //@min = "1",
                                    //@max = "100",
                                    @step = "1",

                                })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsOnRollMale)

                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsOnRollFemale)
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("LearningSupport"), new { @class = "label-form" })</div>
                <div class="col-sm-8">

                    <div class="divGender col-sm-5 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        @Html.RadioButtonFor(i => i.ObservationsEmployeeModel.LearningSupport, "0"
                                            , ReqStatusID == 4 ? new
                                            {
                                                id = "radioYes",
                                                @value = 0,
                                                @disabled = "disabled"
                                            } : Model.FormMode == 2 ? (object)new
                                            {
                                                id = "radioYes",
                                                @value = 0,
                                                @disabled = "disabled"
                                            } : (object)new
                                            {
                                                id = "radioYes",
                                                @value = 0
                                            })
                        &nbsp;@Html.Label(@PDRPCommonXMLResources.GetCommonPDRPResource("Yes"), new { @for = "radioYes" })

                        @Html.RadioButtonFor(i => i.ObservationsEmployeeModel.LearningSupport, "1"
                                                , ReqStatusID == 4 ? new
                                                {
                                                    id = "radioNo",
                                                    @value = 1,
                                                    @disabled = "disabled"
                                                } : Model.FormMode == 2 ? (object)new
                                                {
                                                    id = "radioNo",
                                                    @value = 1,
                                                    @disabled = "disabled"
                                                } : (object)new
                                                {
                                                    id = "radioNo",
                                                    @value = 1
                                                })
                        &nbsp;@Html.Label(@PDRPCommonXMLResources.GetCommonPDRPResource("No"), new { @for = "radioNo" })


                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.LearningSupport)


                    </div>
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.YearPlan)
                    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsYearID, new { @class = "ObservationsYearID" })
                    @Html.HiddenFor(m => m.ObservationsEmployeeModel.VisitDATE, new { @class = "ObservationsYearID" })
                    @*@Html.HiddenFor(m => m.ObservationsEmployeeModel.YearPlan, new { @class = "YearPlan" })*@
                </div>
            </div>

        </div>
        <div class="col-sm-6 alternatecolor">

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("EmployeeID"), new { @class = "label-form", @id = "TeacherID", @data_companyname = Model.ObservationsEmployeeModel.TeacherID })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.TeacherID)
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.TeacherAlternateID, new { @class = "form-control" })
                        @*@Html.DisplayFor(m => m.ObservationsEmployeeModel.TeacherID, new { @class = "form-control" })*@
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("School"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ObservationsEmployeeModel.CompanyName, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Branch"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.Branch, Model.FormMode == 2 || ReqStatusID == 4 ? new
               {
                   @class = "form-control formcontrol",
                   @disabled = "disabled"

               } : (object)new
               {
                   @class = "form-control formcontrol",

               })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.Branch)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("GradeYear"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.GradeYear, Model.FormMode == 2 || ReqStatusID == 4 ? new
               {
                   @class = "form-control formcontrol",
                   @disabled = "disabled"

               } : (object)new
               {
                   @class = "form-control formcontrol",

               })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.GradeYear)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("GroupSection"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.GroupSection, Model.FormMode == 2 || ReqStatusID == 4 ? new
               {
                   @class = "form-control formcontrol",
                   @disabled = "disabled"

               } : (object)new
               {
                   @class = "form-control formcontrol",

               })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.GroupSection)
                </div>
            </div>

            @*@if (Model.FormMode == 1)
                {*@
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Period"), new { @class = "label-form", @id = "Period" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.Period, Model.FormMode == 2 || ReqStatusID == 4 ? new
               {
                   @class = "form-control formcontrol",
                   @disabled = "disabled"

               } : (object)new
               {
                   @class = "form-control formcontrol",

               })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.Period)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("ObserverName"), new { @class = "label-form", @id = "WorkEmail" })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ObservationsEmployeeModel.SuperviserName, new { @class = "form-control" })</span></div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">
                    <div>@Html.Label(@PDRPObservationsXMLResources.GetResource("Noofstudentspresent"), new { @class = "label-form", @id = "LessonTopic" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln " : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsPresentMale
                                , Model.FormMode == 2 || ReqStatusID == 4 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"

                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1",

                                })

                            </div>
                        </div>
                        <div class="form-group col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln " : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsPresentFemale
                                , Model.FormMode == 2 || ReqStatusID == 4 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                  
                                    @step = "1",
                                    @disabled = "disabled"

                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                  
                                    @step = "1"

                                })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsPresentMale)
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsPresentFemale)
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">
                    <div><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("NoofSENStudents"), new { @class = "label-form", @id = "SENStudentsMale" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln " : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9">


                                @*@if (Model.FormMode == 2)
                                    {*@
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.SENStudentsMale
                                             , ReqStatusID == 4 ? new
                                             {
                                                 @class = "form-control formcontrol",
                                                 @type = "number",
                                                
                                                 @step = "1",
                                                 @disabled = "disabled"
                                             } : Model.FormMode == 2 ? new
                                             {
                                                 @class = "form-control formcontrol",
                                                 @type = "number",
                                                 
                                                 @step = "1",
                                                 @disabled = "disabled"
                                             } : (object)new
                                             {
                                                 @class = "form-control formcontrol",
                                                 @type = "number",
                                                
                                                 @step = "1",

                                             })
                                @*}
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.ObservationsEmployeeModel.SENStudentsMale
                                                 , new
                                                 {
                                                     @class = "form-control formcontrol",
                                                     @type = "number",
                                                     @min = "1",
                                                     @max = "100",
                                                     @step = "1",

                                                 })
                                    }*@
                            </div>
                        </div>
                        <div class="form-group col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln " : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @*@if (Model.FormMode == 2)
                                    {*@
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.SENStudentsFemale
                                         , ReqStatusID == 4 ? new
                                         {
                                             @class = "form-control formcontrol",
                                             @type = "number",
                                           
                                             @step = "1",
                                             @disabled = "disabled"
                                         } : Model.FormMode == 2 ? new
                                         {
                                             @class = "form-control formcontrol",
                                             @type = "number",
                                            
                                             @step = "1",
                                             @disabled = "disabled"
                                         } : (object)new
                                         {
                                             @class = "form-control formcontrol",
                                             @type = "number",
                                            
                                             @step = "1",

                                         })
                                @*}
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.ObservationsEmployeeModel.SENStudentsFemale
                                             , new
                                             {
                                                 @class = "form-control formcontrol",
                                                 @type = "number",
                                                 @min = "1",
                                                 @max = "100",
                                                 @step = "1",

                                             })
                                    }*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.SENStudentsMale)
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.SENStudentsFemale)
                    </div>
                </div>
            </div>


        </div>
    </div>
</fieldset>

<fieldset class="fieldset-Section borderless">
    <legend class="legend-border">
        <span class="label-form legend-title-font">

            @PDRPObservationsXMLResources.GetResource("Structureto")
        </span>
    </legend>
    <div class="col-lg-12">
        <div class="col-lg-3 center-text-align">
                @Html.CheckBoxFor(m => m.ObservationsEmployeeModel.Starter, ReqStatusID == 4 ? new { @class = "form-group", @disabled = "disabled" } : Model.FormMode == 2 ? new { @class = "form-group", @disabled = "disabled" }: (object)new { @class = "form-group" })
            &nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("Starter"), new { @for = "ObservationsEmployeeModel_Starter", @class = "form-group" })
        </div>
        <div class="col-lg-3 center-text-align" >
                @Html.CheckBoxFor(m => m.ObservationsEmployeeModel.TeacherInput, ReqStatusID == 4 ? new { @class = "form-group", @disabled = "disabled" } : Model.FormMode == 2 ? new { @class = "form-group", @disabled = "disabled" } : (object)new { @class = "form-group" } )            
            &nbsp; @Html.Label(@PDRPObservationsXMLResources.GetResource("Teacher"), new { @for = "ObservationsEmployeeModel_TeacherInput", @class = "form-group" })
        </div>
        <div class="col-lg-3 center-text-align" >
                @Html.CheckBoxFor(m => m.ObservationsEmployeeModel.MainActivity, ReqStatusID == 4 ? new { @class = "form-group", @disabled = "disabled" } : Model.FormMode == 2 ? new { @class = "form-group", @disabled = "disabled" } : (object)new { @class = "form-group" } )
            &nbsp; @Html.Label(@PDRPObservationsXMLResources.GetResource("MainActivity"), new { @for = "ObservationsEmployeeModel_MainActivity", @class = "form-group" })
        </div>
        <div class="col-lg-3 center-text-align" ">
                @Html.CheckBoxFor(m => m.ObservationsEmployeeModel.Plenary, ReqStatusID == 4 ? new { @class = "form-group", @disabled = "disabled" } : Model.FormMode == 2 ? new { @class = "form-group", @disabled = "disabled" } : (object)new { @class = "form-group" } )
            &nbsp; @Html.Label(@PDRPObservationsXMLResources.GetResource("Plenary"), new { @for = "ObservationsEmployeeModel_Plenary", @class = "form-group" })
        </div>

       
    </div>
</fieldset>
    <fieldset class="fieldset-Section padding-0 marginles" style="border: none !important; ">
        <div class="col-sm-12 padding-0">
            


                <table id="tblKPIs" class="table table-striped marginles table-bordered">
                    <tr>
                        <th class="col-sm-3 center-text-align" colspan="5">
                           @PDRPObservationsXMLResources.GetResource("RatingScaleWeightageDetails") 
                        </th>
                    </tr>
                    <tr>
                        <th class="col-sm-3 center-text-align" colspan="2">
                            @PDRPObservationsXMLResources.GetResource("RatingScale")
                        </th>
                        <th class="col-sm-2 center-text-align">
                            @PDRPObservationsXMLResources.GetResource("FinalScoreSlab")
                        </th>

                        <th class="col-sm-7  center-text-align borderless" colspan="2">
                            @PDRPObservationsXMLResources.GetResource("Definition")
                        </th>

                    </tr>

                    @if (Model.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails != null)
            {
                foreach (var app in Model.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails)
                {
                    if (!string.IsNullOrEmpty(app.DefinitionName))
                    {
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].RatingScaleCharacter)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].RatingScaleNumber)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].FinalScoreSlabMIN)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].FinalScoreSlabMAX)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].DefinitionName)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].DefinitionDetails)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].DefinitionName2)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsRatingScaleWeightageDetails[RatingScaleNo].DefinitionDetails2)
                                <tr>
                                    <td class="col-sm-2 center-text-align">@app.RatingScaleCharacter</td>
                                    <td class="col-sm-1  center-text-align">@app.RatingScaleNumber.ToString()</td>
                                    @if (app.FinalScoreSlabMIN == 0)
                                    {
                                        <td class="col-sm-2  center-text-align">
                                            Bellow   @app.FinalScoreSlabMAX
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="col-sm-2  center-text-align">
                                            @app.FinalScoreSlabMIN - @app.FinalScoreSlabMAX
                                        </td>
                                    }
                                    <td class="col-sm-2 ">
                                        @if (culture == "ar")
                                        {
                                            @app.DefinitionName2
                                        }
                                        else
                                        {
                                            @app.DefinitionName
                                        }
                                       
                                    </td>
                                    <td class="col-sm-5 ">
                                        @if (culture == "ar")
                                        {
                                            @app.DefinitionDetails2.ToString()
                                        }
                                        else
                                        {
                                            @app.DefinitionDetails.ToString()
                                        }
                                        
                                    </td>
                                </tr>
                            }
                            RatingScaleNo++;
                        }
                    }

                </table>


            
        </div>
        
    </fieldset>







