﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;
@{

    int rowno = 0;
    bool sreadonly = false;
    if (Model.FormMode == 2)
    {
        sreadonly = true;
    }
    int ReqStatusID = Model.ObservationsEmployeeModel.ReqStatusID;

    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == @PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        Model.FormMode = 2;

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        Model.FormMode = 2;
    }
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<style>
    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
    {
        width:100%;
    }
</style>
<div class="col-lg-12 padding-0">

    <table id="tblObservationsProficiencyLevel" class="table  table-bordered alternatecolor marginles">

        <tr>
            <th class="col-sm-12 center-text-align">
                @PDRPObservationsXMLResources.GetResource("ProficiencyLevels20ofoverallscore")
            </th>



        </tr>
    </table>
    <table id="tblObservationsProficiencyLevel" class="table  table-bordered">
        <tr>
            <td class="col-sm-2 line-height-1 ">
                @PDRPObservationsXMLResources.GetResource("Element")
            </td>
            <td class="col-sm-1 line-height-1 ">
                5
            </td>
            <td class="col-sm-1 line-height-1 ">
                4
            </td>
            <td class="col-sm-1 line-height-1 ">
                3
            </td>
            <td class="col-sm-1 line-height-1 ">
                2
            </td>
            <td class="col-sm-1 line-height-1 ">
                1
            </td>
            <td class="col-sm-1 line-height-1 ">@PDRPObservationsXMLResources.GetResource("Rating")</td>
            <td class="col-sm-4 line-height-1 ">@PDRPCommonXMLResources.GetCommonPDRPResource("Comments")</td>
        </tr>
        @foreach (var ProficiencyLevel in Model.ObservationsProficiencyLevel)
        {

        <tr>
            <td class="col-sm-2  ">
                <label class="col-sm-12 left padding-0 marginles">
                    @if (culture == "ar")
                    {
                        @ProficiencyLevel.Element_2
                    }
                    else
                    {
                        @ProficiencyLevel.Element
                    }
                </label>
                @Html.HiddenFor(m => m.ObservationsProficiencyLevel[rowno].ProficiencyLevelID)
                @Html.HiddenFor(m => m.ObservationsProficiencyLevel[rowno].ProficiencyMasterID)
            </td>
            <td class="col-sm-1">
                <label class="col-sm-12 left padding-0 marginles">
                    @if (culture == "ar")
                    {
                        @ProficiencyLevel.Element5_2
                    }
                    else
                    {
                        @ProficiencyLevel.Element5
                    }
                </label>
            </td>
            <td class="col-sm-1  ">
                <label class="col-sm-12 left padding-0 marginles">
                    @if (culture == "ar")
                    {
                        @ProficiencyLevel.Element4_2
                    }
                    else
                    {
                       @ProficiencyLevel.Element4
                    }
                </label>
            </td>
            <td class="col-sm-1 ">
                <label class="col-sm-12 left padding-0 marginles">
                    @if (culture == "ar")
                    {
                        @ProficiencyLevel.Element3_2
                    }
                    else
                    {
                        @ProficiencyLevel.Element3
                    }
                </label>
            </td>
            <td class="col-sm-1 ">
                <label class="col-sm-12 left padding-0 marginles">
                    @if (culture == "ar")
                    {
                        @ProficiencyLevel.Element2_2
                    }
                    else
                    {
                        @ProficiencyLevel.Element2
                    }
                </label>
            </td>
            <td class="col-sm-1 ">
                <label class="col-sm-12 left padding-0 marginles">
                    @if (culture == "ar")
                    {
                        @ProficiencyLevel.Element1_2
                    }
                    else
                    {
                        @ProficiencyLevel.Element1
                    }
                </label>
            </td>
            <td class="col-sm-1 center-text-align">
                @*@if (Model.FormMode == 2)
                    {*@
                    @Html.DropDownListFor(m => m.ObservationsProficiencyLevel[rowno].ProficiencyScore
                                                             , new SelectList(ViewBag.ObservationsRatingScaleWeightages, "Value", "Text", Model.ObservationsProficiencyLevel[rowno].ProficiencyScore)
                                                             , @PDRPObservationsXMLResources.GetResource("SelectRating")
                                                             , ReqStatusID == 4 ? new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "ProficiencyScore",

                                                                 @disabled = "disabled"

                                                             }: Model.FormMode == 2 ? new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "ProficiencyScore",

                                                                 @disabled= "disabled"

                                                             }: (object)new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "ProficiencyScore",



                                                             })
                <br />
                <div class="col-sm-12 padding-0">
                    @Html.ValidationMessageFor(m => m.ObservationsProficiencyLevel[rowno].ProficiencyScore)
                </div>
                    @*}
                    else
                    {
                    @Html.DropDownListFor(m => m.ObservationsProficiencyLevel[rowno].ProficiencyScore
                                                             , new SelectList(ViewBag.ObservationsRatingScaleWeightages, "Value", "Text", Model.ObservationsProficiencyLevel[rowno].ProficiencyScore)
                                                             , new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "ProficiencyScore",
                                                                 @type = "number",


                                                             })
                    }*@
            </td>

            <td class="col-sm-4 padding-0">
                @*@if (Model.FormMode == 2)
                    {*@
                    @Html.TextAreaFor(m => m.ObservationsProficiencyLevel[rowno].Comments
                                                 , ReqStatusID == 4 ? new
                                                 {
                                                     @class = "form-control",
                                                     @readonly = "readonly"
                                                 }: Model.FormMode == 2 ? new
                                                 {
                                                     @class = "form-control",
                                                     @readonly = "readonly"
                                                 }: (object)new
                                                 {
                                                     @class = "form-control"
                                                 })
            @Html.ValidationMessageFor(m => m.ObservationsProficiencyLevel[rowno].Comments)
                    @*}
                    else
                    {
                    @Html.TextAreaFor(m => m.ObservationsProficiencyLevel[rowno].Comments
                                                 , new
                                                 {
                                                     @class = "form-control"
                                                 })
                    }*@
            </td>

        </tr>
            rowno++;
        }
        <tr>
            <td class="line-height-1" colspan="6">
                <label class="col-sm-12 right padding-0 marginles">@PDRPObservationsXMLResources.GetResource("Total")</label>
            </td>
            <td class="line-height-1" colspan="2">
                @Html.HiddenFor(m => m.ProficiencyScoreTotal)
                @Html.HiddenFor(m => m.ProficiencyScoreFormula)
                <div id="divProficiencyScoreTotal">
                    @Model.ProficiencyScoreTotal
                </div>
            </td>
        </tr>
        <tr>
            <td class="line-height-1 right" colspan="6">
                <label class="col-sm-12 right padding-0 marginles">@PDRPObservationsXMLResources.GetResource("OverallScore")</label>
            </td>
            <td class="line-height-1" colspan="2">
                @Html.HiddenFor(m => m.ProficiencyScoreOverall)
                <div id="divProficiencyScoreOverall">
                    @Model.ProficiencyScoreOverall
                </div>
            </td>
        </tr>


    </table>


</div>
<div class="col-lg-12 padding-0" style="padding-bottom:20px;">
    <label class="col-sm-12 padding-0 marginles">
        <span class="required-field">*</span>&nbsp;@PDRPCommonXMLResources.GetCommonPDRPResource("Comments")  @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.OBComments)
    </label>
    @*@if (Model.FormMode == 2)
    {*@
        @Html.TextAreaFor(m => m.ObservationsEmployeeModel.OBComments
                            , ReqStatusID == 4 ? new
                            {
                                @class = "col-sm-12 padding-0 margin_bottom",
                                @readonly = "readonly"
                            }: Model.FormMode == 2 ? new
                            {
                                @class = "col-sm-12 padding-0 margin_bottom",
                                @readonly = "readonly"
                            } : (object)new
                            {
                                @class = "col-sm-12 padding-0 margin_bottom",

                            } )
    @*}
    else
    {
        @Html.TextAreaFor(m => m.ObservationsEmployeeModel.OBComments
                            , new
                            {
                                @class = "col-sm-12 padding-0 margin_bottom",

                            })
    }*@
</div>
<div class="col-lg-12 padding-0" style="padding-bottom:20px;">
    <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("Student") @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.ProgressEvidence)</label>

    @*@if (Model.FormMode == 2)
    {*@
    @Html.TextAreaFor(m => m.ObservationsEmployeeModel.ProgressEvidence
                    , ReqStatusID == 4 ? new
                    {
                        @class = "col-sm-12 padding-0 margin_bottom",
                        @readonly = "readonly"
                    }:Model.FormMode == 2 ? new
                    {
                        @class = "col-sm-12 padding-0 margin_bottom",
                        @readonly = "readonly"
                    } : (object)new
                    {
                        @class = "col-sm-12 padding-0 margin_bottom",

                    } )
    @*}
    else
    {
    @Html.TextAreaFor(m => m.ObservationsEmployeeModel.ProgressEvidence
                    , new
                    {
                        @class = "col-sm-12 padding-0 margin_bottom",

                    })
    }*@
</div>




