﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;
@{
    int rowno = 0;

}
@{
    int IsEditable = 1;
    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == @PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        Model.isAddMode = "100";

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        Model.isAddMode = "100";
    }
}

<style>
    .wid180 {
        width: 100px !important;
    }
</style>


    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">

                @PDRPObservationsXMLResources.GetResource("Followingthe")
            </span>

        </legend>
        <div class="row">


            <div class="col-lg-12" style="padding-top:5px">
                <label class="col-lg-12 padding-0">@PDRPObservationsXMLResources.GetResource("Whatdid") @Html.ValidationMessageFor(m => m.ParticularlyWellLesson)</label>
                @Html.TextAreaFor(m => m.ParticularlyWellLesson, Model.isAddMode == "100" ? new { @class = "col-sm-12 form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 form-control" })
            </div>
            <div class="col-lg-12" style="padding-top:15px">
                <label class="col-lg-12 padding-0">@PDRPObservationsXMLResources.GetResource("Whatareas") @Html.ValidationMessageFor(m => m.FurtherImprovementLesson)</label>
                @Html.TextAreaFor(m => m.FurtherImprovementLesson, Model.isAddMode == "100" ? new { @class = "col-sm-12 form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 form-control" })
            </div>
            <div class="col-lg-12" style="padding-top:15px">
                <label class="col-lg-12  padding-0">@PDRPObservationsXMLResources.GetResource("Howareyou")</label>
                <table border="1" class="display table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="center-text-align">
                                <label for="Status">
                                    @PDRPObservationsXMLResources.GetResource("AccountStatus")
                                </label>
                                @Html.ValidationMessageFor(m => m.ChildrensHighAbility)
                            </td>
                            <td class="center-text-align">
                                <label for="Status">
                                    @PDRPObservationsXMLResources.GetResource("AverageAbility")
                                </label>
                                @Html.ValidationMessageFor(m => m.ChildrensAverageAbility)
                            </td>
                            <td class="center-text-align ">
                                <label for="Status">
                                   @PDRPObservationsXMLResources.GetResource("BelowAverage") 
                                </label>
                                @Html.ValidationMessageFor(m => m.ChildrensBelowAverageAbility)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.TextAreaFor(m => m.ChildrensHighAbility, Model.isAddMode == "100" ? new { @class = "col-sm-12 form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 form-control" })
                            </td>
                            <td>
                                @Html.TextAreaFor(m => m.ChildrensAverageAbility, Model.isAddMode == "100" ? new { @class = "col-sm-12 form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 form-control" })
                            </td>
                            <td>
                                @Html.TextAreaFor(m => m.ChildrensBelowAverageAbility, Model.isAddMode == "100" ? new { @class = "col-sm-12 form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 form-control" })
                            </td>
                        </tr>
                    </tbody>
                </table>
               
                    
            </div>

           

        </div>
    </fieldset>
@*}*@


        

