﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;


@{
    int rowno = 0;

}
<style>
    .wid180 {
        width: 100px !important;
    }
</style>
@{

    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == @PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        Model.isAddMode = "100";

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        Model.isAddMode = "100";
    }
}

@*@if (Model.FormMode == 1)
{*@
    <div class="row padding-0">
        <div class="col-lg-12 padding-0">
            <table class="table table-striped table-fixed-width">
                <tr>
                    <td class="col-sm-4 padding-0"><label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("Areyou")</label></td>
                    <td class="col-sm-4">
                        <div class="divGender col-sm-5">
                            @Html.RadioButtonFor(i => i.IsOnTrackYearlyPlans, "0", Model.isAddMode == "100" ? new { id = "radioYes", @value = 0, @disabled = "disabled" } : (object)new { id = "radioYes", @value = 0 })
                            @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("Yes"), new { @for = "radioYes" })

                            @Html.RadioButtonFor(i => i.IsOnTrackYearlyPlans, "1", Model.isAddMode == "100" ? new { id = "radioNo", @value = 1, @disabled = "disabled" } : (object)new { id = "radioNo", @value = 1 })
                            @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("No"), new { @for = "radioNo" })


                            @Html.ValidationMessageFor(m => m.IsOnTrackYearlyPlans)


                        </div>
                    </td>
                    <td class="col-sm-2" style="padding-top:5px"></td>
                </tr>
            </table>


        </div>

        <div class="col-lg-12 padding-0" style="padding-top:5px">
            <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("IfNo") @Html.ValidationMessageFor(m => m.IsOnTrackYearlyPlansNo)</label>
            @Html.TextAreaFor(m => m.IsOnTrackYearlyPlansNo, Model.isAddMode == "100" ? new { @class = "col-sm-12 padding-0 margin_bottom form-control IsOnTrackYearlyPlansNo", @disabled = "disabled" } : (object)new { @class = "col-sm-12 padding-0 margin_bottom form-control IsOnTrackYearlyPlansNo" })
        </div>
        <div class="col-lg-12 padding-0" style="padding-top:15px">
            <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("ListtheObjectives") @Html.ValidationMessageFor(m => m.ObjectivesList)</label>
            @Html.TextAreaFor(m => m.ObjectivesList, Model.isAddMode == "100" ? new { @class = "col-sm-12 padding-0 margin_bottom form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 padding-0 margin_bottom form-control" })
        </div>
        <div class="col-lg-12 padding-0" style="padding-top:15px">
            <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("Lessontobe") @Html.ValidationMessageFor(m => m.ObservationDayLesson)</label>
            @Html.TextAreaFor(m => m.ObservationDayLesson, Model.isAddMode == "100" ? new { @class = "col-sm-12 padding-0 margin_bottom form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 padding-0  margin_bottom form-control" })
        </div>

        <div class="col-lg-12 padding-0" style="margin-top:25px">
             <table class="table table-striped table-fixed-width">
                <tr>
                    <td class="col-sm-4 padding-0"><label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("Hasthis")</label></td>
                    <td class="col-sm-4">
                        <div class="divGender col-sm-5">
                            @Html.RadioButtonFor(i => i.IsTaughtToThisClass, "0", Model.isAddMode == "100" ? new { id = "radioYes1", @value = 0, @disabled = "disabled" } : (object)new { id = "radioYes1", @value = 0 })
                            @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("Yes"), new { @for = "radioYes1" })

                            @Html.RadioButtonFor(i => i.IsTaughtToThisClass, "1", Model.isAddMode == "100" ? new { id = "radioNo1", @value = 1, @disabled = "disabled" } : (object)new { id = "radioNo1", @value = 1 })
                            @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("No"), new { @for = "radioNo1" })


                            @Html.ValidationMessageFor(m => m.IsTaughtToThisClass)


                        </div>
                    </td>
                    <td class="col-sm-2" style="padding-top:5px"></td>
                </tr>
            </table>


        </div>
        <div class="col-lg-12  padding-0"style="padding-top:15px">
            <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("Listany") @Html.ValidationMessageFor(m => m.SpecificItemsToWatch)</label>
            @Html.TextAreaFor(m => m.SpecificItemsToWatch, Model.isAddMode == "100" ? new { @class = "col-sm-12 padding-0 margin_bottom form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 padding-0 margin_bottom form-control" })
        </div>
        <div class="col-lg-12  padding-down-item  padding-0"style="padding-top:15px">
            <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPObservationsXMLResources.GetResource("Listanyitems") @Html.ValidationMessageFor(m => m.ItemsToBeAware)</label>
            @Html.TextAreaFor(m => m.ItemsToBeAware, Model.isAddMode == "100" ? new { @class = "col-sm-12 padding-0 margin_bottom form-control", @disabled = "disabled" } : (object)new { @class = "col-sm-12 padding-0 margin_bottom form-control" })
        </div>


    </div>



        

