﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;
@using HRMS.Entities;


@{
    string Caption = PDRPObservationsXMLResources.GetResource("EmployeeDetails");


}
@{
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }
    //var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@{

    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        Model.isAddMode = "100";

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        Model.isAddMode = "100";
    }
}

<style>
    /*.row [class^='col-xs-'], .row [class^='col-sm-'], .row [class^='col-md-'], .row [class^='col-lg-']
    {
        padding-left: 20px;    
        padding-right: 20px;
    }*/
    ul.panel-controls > li.label-control .label, .label-form {
            margin-top: 2px;
    }
    .rowhttwo {
        height: 65px;
        margin-bottom: 0px !important;
        padding-top: 20px !important;
    }

    .rowhone {
        height: 26px;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }


    .formcontrol {
        /*margin-top: 3px;*/
        height: 24px;
        font-size: 12px;
        line-height: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        border: 1px solid #D5D5D5;
        background: #F9F9F9;
    }

    .cal {
        padding: 0px 0px;
        margin-top: 3px;
        font-size: 10px;
        line-height: 20px;
    }
</style>
<fieldset class="fieldset-Section">
    <legend class="legend-border">
        <span class="label-form legend-title-font">

            @Caption
        </span>

    </legend>
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.RequestID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.RequesterID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.CompanyID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ID)
    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ReqStatusID, new { @id = "ReqStatusID" })
    <div class="col-lg-12">
        <div class="col-sm-6 alternatecolor @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("RequestDate"), new { @class = "label-form" })</div>
                <div class="col-sm-8"><span class="label-form" dir="ltr">@Html.DisplayFor(m => m.ObservationsEmployeeModel.RequestDate, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("EmployeeName"), new { @class = "label-form", @id = "TeacherName", @data_requestername = Model.ObservationsEmployeeModel.TeacherName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.TeacherName, new { @class = "form-control", @id = "TeacherName" })
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.TeacherID)
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.TeacherName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Department"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.DepartmentName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.DepartmentName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Designation"), new { @class = "label-form", @id = "PositionTitle", @data_positiontitle = Model.ObservationsEmployeeModel.PositionTitle })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.PositionTitle, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.PositionTitle)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("LineManager"), new { @class = "label-form", @id = "SuperviserName", @data_supervisername = Model.ObservationsEmployeeModel.SuperviserName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.SuperviserName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.SuperviserName)
                    </span>
                </div>
            </div>
            @*@if (Model.FormMode == 1)
                {*@
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("Subject"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.Subject, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.Subject)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("LessonTopic"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.LessonTopic, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.LessonTopic)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">
                    <div><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("NoofstudentsonRoll"), new { @class = "label-form", @id = "LessonTopic" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsOnRollMale
                                , Model.isAddMode == "100" ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1"
                                })

                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsOnRollFemale
                                , Model.isAddMode == "100" ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1",
                                    @disabled = "disabled"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1"
                                })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsOnRollMale)

                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsOnRollFemale)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(PDRPObservationsXMLResources.GetResource("VisitDate"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.ObservationsEmployeeModel.VisitDATE, ModelHelpers.HRMSDateStringFormat
                                    , Model.isAddMode == "100" ? new
                                    {
                                        @class = "form-control formcontrol" + L,
                                        @readonly = "readonly",
                                        @dir = "ltr"
                                    } : (object)new
                                    {
                                        @class = "form-control formcontrol" + L,
                                        @readonly = "readonly",
                                        @dir = "ltr"
                                    })

                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.VisitDATE)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(PDRPObservationsXMLResources.GetResource("YearlyPlanWeekNumber"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.YearPlan
                                , Model.isAddMode == "100" ? new
                                {
                                    @class = "form-control formcontrol",
                                    //@type = "number",

                                    //@step = "1",
                                    @disabled = "disabled"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol"
                                    //,
                                    //@type = "number",

                                    //@step = "1"
                                })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.YearPlan)
                    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ObservationsYearID, new { @class = "ObservationsYearID" })
                    @*@Html.HiddenFor(m => m.ObservationsEmployeeModel.YearPlan, new { @class = "YearPlan" })*@
                </div>
            </div>



        </div>
        <div class="col-sm-6 alternatecolor">

            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("EmployeeID"), new { @class = "label-form", @id = "TeacherID", @data_companyname = Model.ObservationsEmployeeModel.TeacherID })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.TeacherID)
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.TeacherAlternateID, new { @class = "form-control" })
                        @*@Html.DisplayFor(m => m.ObservationsEmployeeModel.TeacherID, new { @class = "form-control" })*@
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("School"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.ObservationsEmployeeModel.CompanyName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.ObservationsEmployeeModel.CompanyName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("Branch"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.Branch, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.Branch)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("GradeYear"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.GradeYear, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.GradeYear)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("GroupSection"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.GroupSection, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.GroupSection)
                </div>
            </div>

            @*@if (Model.FormMode == 1)
                {*@
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("Period"), new { @class = "label-form", @id = "Period" })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.Period, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.Period)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("ObserverName"), new { @class = "label-form", @id = "WorkEmail" })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ObservationsEmployeeModel.SuperviserName, new { @class = "form-control" })</span></div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">
                    <div><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("Noofstudentspresent"), new { @class = "label-form", @id = "LessonTopic" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsPresentMale
                                , Model.isAddMode == "100" ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1"
                                })

                            </div>
                        </div>
                        <div class="form-group col-sm-6 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(@PDRPObservationsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ObservationsEmployeeModel.StudentsPresentFemale
                                , Model.isAddMode == "100" ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1"
                                })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsPresentMale)
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.StudentsPresentFemale)
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("VisitTime"), new { @class = "label-form", @id = "VisitTime", @data_workemail = Model.ObservationsEmployeeModel.VisitTime })</div>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.VisitTime
                    , Model.isAddMode == "100" ? new
                    {
                        @class = "form-control formcontrol",
                        @readonly = "readonly"
                    } : (object)new
                    {
                        @class = "form-control timePicker12 formcontrol",
                        @readonly = "readonly"
                    })

                </div>
                @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.VisitTime)
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPObservationsXMLResources.GetResource("UnitThemeLessonTopic"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.ObservationsEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ObservationsEmployeeModel.UnitThemeLessonTopic, Model.isAddMode == "100" ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.ObservationsEmployeeModel.UnitThemeLessonTopic)
                </div>
            </div>


        </div>
    </div>
</fieldset>










