﻿@model HRMS.Entities.PDRP.DropInsModel


@{
    ViewBag.Title = "HRMS - Employee List > Employee Profile";
    //HRMS.Entities.PermissionModel permissionModel = (HRMS.Entities.PermissionModel)Session["BankPermission"];
    //bool PersonalIdentityPermission = (bool)Session["PersonalIdentityPermission"];
    //HRMS.Entities.PermissionModel ObjEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["EmployeePermission"];
    //bool IsEmployeePageRequest = (bool)Session["IsEmployeePageRequest"];
    //HRMS.Entities.PermissionModel objViewEmpPermissionModel = new HRMS.Entities.PermissionModel();
    //objViewEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["ViewEmployeeProfilePermission"];
}

@Html.HiddenFor(m => m.DropInEmployeeModel.RequesterID)


@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/Employee/ListEmployee">Employee List</a></li>
        <li class="active">Employee Profile</li>
    </ul>
}

@*<input type="checkbox" class="hidden" id="isWithEmpPermission" @(IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission == true && !(objViewEmpPermissionModel.IsViewOnlyPermission) ? "checked" : "") />*@
@*@using (Html.BeginForm("DropInFormSave" , "DropIns", FormMethod.Post, new { id = "DropInsForm" }))*@
@using (Ajax.BeginForm("DropInFormSave", "DropIns", new AjaxOptions { OnBegin = "Start", OnComplete = "UpdateKPIs" }, new { id = "DropInsForm" }))
{
    <div class="page-content-wrap viewProfile">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-sm-5 padding-0">
                            <h3 class="panel-title">
                                <span class="fa fa-user"></span>
                                Drop In Form
                            </h3>
                        </div>
                        <div class="col-sm-5"></div>
                        <div class="pull-right">
                          
                            <a href="javascript:void(0);" title="Save Request" id="tbtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                            <a href="javascript:void(0);" title="Submit Request" id="tbtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit"><i class="fa fa-check"></i></a>
                            
                            <a href="javascript:void(0);" title="Back To Task List" onclick="BackToTaskList()" id="tbtnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        
                                @{ Html.RenderAction("GetDropInsEmployeeInformation", new { formID = 38, DropInsModel = Model }); }
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="panel panel-default">                    
                        <div class="panel-body  form-group">
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    @*<h3 class="center-text-align" style="background-color:blue;">Rating Scale & Weightage Details</h3>*@
                                    @*@{ Html.RenderAction("GetPDRPEmployeeInformation", new { formID = 31, requestDate = Model.CreatedOn, employeeID = Model.EmployeeId }); }*@
                                    @*@{ Html.RenderAction("GetPDRPRatingScaleWeightageDetails", new { formID = 31, requestDate = Model.CreatedOn, employeeID = Model.EmployeeId }); }*@
                                     @*@{ Html.RenderPartial("_ViewAccountDetails", Model.employeeAccountInfoModel);}*@

                                    @{ Html.RenderAction("GetDropInsProficiencyLevel", new { formID = 31, DropInsModel = Model }); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}










<script>



    function Start() {
        pageLoaderFrame();
        //$("#btnSave").hide(500);
    }
    function UpdateKPIs(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        hideLoaderFrame();
        var isAddMode = $("#isAddMode").val();      
        if (isAddMode == 3) {

            $("#isAddMode").val("2");
        }

        if (arg.responseJSON.result == "success")
        {
            setTimeout(function () { location.href = "/PDRP/DropIns/DropInManage/" }, 500);
        }
        
    }

    




</script>


@section scripts
{
<script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    @*<script src="~/Scripts/Custom/Employee.js"></script>*@
<script src="~/Scripts/Custom/PDRP/DropIns.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.timePicker12').timepicker({
                showMeridian: true,
                showInputs: true,
                minuteStep: 5
            });
            //$('#DropInEmployeeModel.VisitDATE').datepicker();
            //$('#DropInEmployeeModel.VisitDATE').datepicker('setValue', today);
            

            
        });
    </script>
}



