﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;
@using HRMS.Entities;

@{
    ViewBag.Title = "HRMS - " + PDRPObservationsXMLResources.GetResource("ObsEvlTitle");
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
@Html.HiddenFor(m => m.ObservationsEmployeeModel.RequesterID)


@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        <li class="active">@PDRPObservationsXMLResources.GetResource("ObsEvlTitle")</li>
    </ul>
}
@{
    string ErrMessage = "";
    int IsEditable = 1;
    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        IsEditable = 0;

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        IsEditable = 0;
        ErrMessage = PDRPObservationsXMLResources.GetResource("Validation4");
    }
}

@Html.Hidden("culture", culture)
@*<input type="checkbox" class="hidden" id="isWithEmpPermission" @(IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission == true && !(objViewEmpPermissionModel.IsViewOnlyPermission) ? "checked" : "") />*@
@*@using (Html.BeginForm("DropInFormSave" , "DropIns", FormMethod.Post, new { id = "DropInsForm" }))*@
@using (Ajax.BeginForm("ObservationFormSave", "Observations", new AjaxOptions { OnBegin = "Start", OnComplete = "UpdateKPIs" }, new { id = "ObservationForm" }))
{
    <div class="page-content-wrap viewProfile">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-sm-4 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <h3 class="panel-title @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <span class="fa fa-user"></span>
                                @PDRPObservationsXMLResources.GetResource("ObsEvlTitle") [@PDRPCommonXMLResources.GetCommonPDRPResource("RequestID") - @Model.ObservationsEmployeeModel.RequestID]
                            </h3>
                        </div>
                        <div class="col-sm-6 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">

                        </div>
                        <div class="@(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">

                            @if (Model.ObservationsEmployeeModel.ReqStatusID < 4 || Model.PostObservationsReqStatusID != 1)
                            {
                                if (Model.PostObservationsReqStatusID != 1 && IsEditable == 1)
                                {
                                    if (Model.FormMode == 0) //*** Create
                                    {

                                        <a href="javascript:void(0);" title="Initiate Post-Observation" id="tOBEvlbtnInitiate" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit OBEvlbtnInitiate"><i class="fa fa-clock-o"></i></a>
                                    }
                                    if (Model.FormMode != 2) //*** Create
                                    {
                                        <a href="javascript:void(0);" title="Save" id="tOBEvlbtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave OBEvlbtnSave"><i class="fa fa-floppy-o"></i></a>
                                    }

                                    if (Model.FormMode == 1 || Model.FormMode == 10) //*** Modify
                                    {

                                        <a href="javascript:void(0);" title="Submit" id="tOBEvlbtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit OBEvlbtnSubmit"><i class="fa fa-check"></i></a>
                                    }
                                    if (Model.FormMode == 2) //*** Create
                                    {
                                        if (Model.FormMode == 2 && Model.ObservationsEmployeeModel.RequesterID != ViewBag.UserID && Model.ObservationsEmployeeModel.TeacherID == ViewBag.UserID)
                                        {
                                            <a href="javascript:void(0);" title="Sign Off" id="tOBEvlbtnsignoff" class="btn btn-primary btn-rounded btn-condensed btn-sm"><i class="fa fa-sign-out"></i></a>
                                        }
                                        else
                                        {
                                            if (ViewBag.SignOffMode == 1)
                                            {
                                                <a href="javascript:void(0);" title="Sign Off" id="tOBEvlbtnsignoff" class="btn btn-primary btn-rounded btn-condensed btn-sm"><i class="fa fa-sign-out"></i></a>
                                            }
                                        }
                                    }
                                }
                            }
                            else
                            {
                                if (Model.FormMode == 2 && IsEditable == 1) //*** Create
                                {

                                    <a href="javascript:void(0);" title="Sign Off" id="tOBEvlbtnsignoff" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit OBEvlbtnsignoff"><i class="fa fa-sign-out"></i></a>
                                }
                            }



                            <a href="javascript:void(0);" title="Back To Task List" onclick="BackToTaskList()" id="tbtnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    @if (Model.ObservationsEmployeeModel.RequesterID == ViewBag.UserID)
                    {
                        <div class="panel-body right-text-align padding-top-0 padding-bottom-0" padding-0">
                            <div class="row right-text-align">

                                @if (Model.PerObservationID != 0)
                                {

                                    <a href="javascript:void(0);" title="View Employee's Pre-Observation Details" onclick="ViewPreObservation(@Model.PerObservationID)" id="tbtnBack">@PDRPObservationsXMLResources.GetResource("ViewPre")</a>
                                }

                            </div>
                        </div>
                    }
                    @if (Model.ObservationsEmployeeModel.RequesterID == ViewBag.UserID)
                    {
                        <div class="panel-body right-text-align padding-top-0 padding-bottom-0">
                            <div class="row right-text-align">

                                @if (Model.PostObservationID != 0 && Model.PostObservationsReqStatusID == 4)
                                {

                                    <a href="javascript:void(0);" title="View Employee's Post-Observation Detailst" onclick="ViewPostObservation(@Model.PostObservationID)" id="tbtnBack">@PDRPObservationsXMLResources.GetResource("ViewPost")</a>
                                }

                            </div>
                        </div>
                    }

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
                                <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI">@ErrMessage</label>
                            </div>
                            @{ Html.RenderAction("GetPreObservationsEmployeeInformation", new { formID = 32, ObservationsModel = Model }); }

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            @{ Html.RenderAction("GetObservationsEvlProficiencyLevel", new { formID = 32, ObservationsModel = Model }); }

                        </div>
                    </div>
                    @if (Model.ObservationsEmployeeModel.ReqStatusID < 4 || Model.PostObservationsReqStatusID != 1)
                    {
                        if (Model.PostObservationsReqStatusID != 1 && IsEditable == 1 && Model.FormMode < 2)
                        {
                            <div class="panel-body">
                                <div class="row">
                                    <fieldset class="fieldset-Section">
                                        <legend class="legend-border">

                                            <label class="label-form" style="font-size:12px !important">
                                                @PDRPCommonXMLResources.GetCommonPDRPResource("Comments")
                                            </label>
                                            <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                                        </legend>
                                        <div class="form-group">
                                            <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        }
                    }


                                <div class="form-group col-sm-12" style="margin-top: -10px !important;">
                                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID });
                                    }
                                </div>
                                <div class="panel-footer">

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.HiddenFor(m => m.isAddMode)
                                            @Html.HiddenFor(m => m.FormMode)
                                            @Html.HiddenFor(m => m.ObservationsEmployeeModel.ReqStatusID)
                                            @if (Model.ObservationsEmployeeModel.ReqStatusID < 4 || Model.PostObservationsReqStatusID != 1)
                                            {
                                                if (Model.PostObservationsReqStatusID != 1 && IsEditable == 1)
                                                {
                                                    if (Model.FormMode == 0) //*** Create
                                                    {
                                                        <button type="submit" title="Initiate Post-Observation" id="OBEvlbtnInitiate" class="btn btn-rounded btn-primary btnSave OBEvlbtnInitiate @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-clock-o"></i>&nbsp;@PDRPCommonXMLResources.GetCommonPDRPResource("InitiatePost")</button>
                                                    }
                                                    if (Model.FormMode != 2) //*** Create
                                                    {
                                                        <button type="submit" title="Submit" id="OBEvlbtnSave" class="btn btn-rounded btn-primary btnSave OBEvlbtnSave @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Save")</button>
                                                    }

                                                    if (Model.FormMode == 1 || Model.FormMode == 10) //*** Modify
                                                    {
                                                        <button title="Submit" id="OBEvlbtnSubmit" class="btn btn-rounded btn-primary btnSave OBEvlbtnSubmit @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-check"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Submit") </button>
                                                    }
                                                    if (Model.FormMode == 2) //*** Create
                                                    {
                                                        if (Model.FormMode == 2 && Model.ObservationsEmployeeModel.RequesterID != ViewBag.UserID && Model.ObservationsEmployeeModel.TeacherID == ViewBag.UserID)
                                                        {
                                                            <button title="Sign Off" id="OBEvlbtnsignoff" class="btn btn-rounded btn-primary OBEvlbtnsignoff @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-sign-out"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Signoff")</button>
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.SignOffMode == 1)
                                                            {
                                                                <button title="Sign Off" id="OBEvlbtnsignoff" class="btn btn-rounded btn-primary OBEvlbtnsignoff @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-sign-out"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Signoff")</button>
                                                            }

                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                if (Model.FormMode == 2 && IsEditable == 1) //*** Create
                                                {
                                                    <button title="Sign Off" id="OBEvlbtnsignoff" class="btn btn-rounded btn-primary OBEvlbtnsignoff @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-sign-out"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Signoff") Sign off</button>
                                                }
                                            }
                                            <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-arrow-left"></i>&nbsp; @PDRPCommonXMLResources.GetCommonPDRPResource("Cancel") </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body  form-group">
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        @{ Html.RenderAction("GetObservationsEvlProficiencyLevel", new { formID = 32, ObservationsModel = Model }); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>

}










<script>



    function Start() {
        pageLoaderFrame();
        //$("#btnSave").hide(500);
    }
    function UpdateKPIs(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        hideLoaderFrame();
        //var isAddMode = $("#isAddMode").val();
        //if (isAddMode == 3) {

        //    $("#isAddMode").val("2");
        //}
        if (arg.responseJSON.result == "success") {
            if (arg.responseJSON.AddMode == "105")
                location.reload();
            else
                setTimeout(function () { location.href = "/FormsTaskList/Index" }, 500);
        }

    }






</script>


@section scripts
{
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    @*<script src="~/Scripts/Custom/Employee.js"></script>*@
    <script src="~/Scripts/Custom/PDRP/ObservationProcess.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.timePicker12').timepicker({
                showMeridian: true,
                showInputs: true,
                minuteStep: 5
            });

        });
    </script>
}



