﻿@model HRMS.Entities.Forms.KPIsListModel
@using HRMS.Entities.Common;
@using HRMS.Entities;

@{
    ViewBag.Title = "HRMS - " + PDRPObservationsXMLResources.GetResource("Title");
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        <li class="active">@PDRPObservationsXMLResources.GetResource("Title")</li>
    </ul>
}
<style>
    .pointer {
        cursor: pointer !important;
    }

    .nocur {
        cursor: default !important;
    }
</style>
@{
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }

}
@Html.Hidden("culture", culture)
<!-- END BREADCRUMB -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <h3 class="panel-title @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <span class="fa fa-cubes"></span>@PDRPObservationsXMLResources.GetResource("Title")
                    </h3>
                </div>
                <div class="col-md-4 text-center @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-4 @(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")t">
                    <div class="pull-right">
                        <a href="javascript:void(0);" title="Submit" id="tbtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row ">
                    <div class="col-sm-4 pull-left padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <label class="label-form">@PDRPObservationsXMLResources.GetResource("KPIYears")</label>
                            </div>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.KPIYears, (SelectList)ViewBag.PDRPYears, PDRPObservationsXMLResources.GetResource("SetYear"), new { @class = "selectpicker", @data_live_search = "true", @id = "ddlPDRPYears" })
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel-body">
                <div class="row ">

                    <div class="col-sm-4 pull-left padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">

                        <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <label class="label-form">@PDRPObservationsXMLResources.GetResource("VisitDate")</label>
                        </div>
                        <div class="col-sm-9 input-group">
                            <span class='input-group-addon add-on cal @R'><span class='fa fa-calendar'></span></span>
                           <!-- <input type="text" data-date-format="dd/M/yyyy" id="txtVisitDate" class="form-control @L" autocomplete="off" />-->
                            <input type="text"  id="txtVisitDate" class="form-control @L" autocomplete="off" />                           
                        </div>

                    </div>
                    <div class="col-sm-4  padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <label class="label-form">@PDRPObservationsXMLResources.GetResource("VisitTime") </label>
                        </div>
                        <div class="col-sm-9 input-group">
                            <span class='input-group-addon add-on cal @R'><span class='fa fa-calendar'></span></span>
                            <input type="text" id="txtVisitTime" class="form-control timepicker" value="11:00 AM" />
                        </div>
                    </div>
                    <div class="col-sm-2  padding-0 @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">
                        <div class="col-sm-12 ">
                            <button id="btnDateApply" class="btn btn-rounded btn-primary " onclick="ApplytoallSelections()">@PDRPObservationsXMLResources.GetResource("ApplytoallSelections")</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" id="divDropIns">
                <hr />
                <div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
                    <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI"></label>
                </div>
                <div class="col-lg-12 innerdiv">
                    <div class="col-sm-12 margin_bottom padding-0">

                        <table id="tbl_employee" class="table table-bordered table-striped" style="" width="100%"></table>
                    </div>

                </div>
            </div>
            <div class="panel-footer ">
                <div class="col-md-12 form-group ">
                    <button type="submit" title="Submit" id="btnSave" class="btn btn-rounded btn-primary btnSave  @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Save")</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts
{

    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>


    <script src="~/Scripts/Custom/PDRP/ObservationProcess.js"></script>

    <script>
        $(document).ready(function () {
            $(".btnSave").on('click', function () {
                SetObservationVisitDate();
            });

            getEmployeeGrid();

        });

    </script>


}


