﻿@model HRMS.Entities.PDRP.ObservationsModel
@using HRMS.Entities.Common;
@using HRMS.Entities;

@{
    ViewBag.Title = "HRMS - " + PDRPObservationsXMLResources.GetResource("PostTitle");
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
@Html.HiddenFor(m => m.ObservationsEmployeeModel.RequesterID)


@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        <li>@PDRPObservationsXMLResources.GetResource("Observations")</li>
        <li class="active">@PDRPObservationsXMLResources.GetResource("PostTitle")</li>
    </ul>
}
@{

    //*** F4
    string ErrMessage = "";
    if (ViewBag.ValidatingAnnualAppraisal == PDRPObservationsXMLResources.GetResource("Validation1"))
    {
        Model.isAddMode = "100";

    }
    if (Model.EmpCurrentCompanyID != Model.ObservationsEmployeeModel.CompanyID)
    {
        Model.isAddMode = "100";
        ErrMessage = PDRPObservationsXMLResources.GetResource("Validation4");
    }
}
@Html.Hidden("culture", culture)
@*<input type="checkbox" class="hidden" id="isWithEmpPermission" @(IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission == true && !(objViewEmpPermissionModel.IsViewOnlyPermission) ? "checked" : "") />*@
@*@using (Html.BeginForm("ObservationsFormSave" , "Observations", FormMethod.Post, new { id = "ObservationsForm" }))*@
@using (Ajax.BeginForm("PostObservationsFormSave", "Observations", new AjaxOptions { OnBegin = "Start", OnComplete = "UpdateKPIs" }, new { id = "PostObservationsForm" }))
{
    <div class="page-content-wrap viewProfile">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-5 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
            <h3 class="panel-title @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                <span class="fa fa-user"></span>
                @PDRPObservationsXMLResources.GetResource("PostTitle") [@PDRPCommonXMLResources.GetCommonPDRPResource("RequestID")  - @Model.ObservationsEmployeeModel.RequestID]
            </h3>
        </div>
        <div class="col-sm-5 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"></div>
        <div class="@(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">
            @if (Model.isAddMode != "100")
            {
                <a href="javascript:void(0);" title="Save " id="tpostbtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                                <a href="javascript:void(0);" title="Submit " id="tpostbtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit"><i class="fa fa-check"></i></a>

                                <a href="javascript:void(0);" title="Back to Teacher Staff List" onclick="BackToTaskList()" id="tbtnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
            }
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
                <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI">@ErrMessage</label>
            </div>
            @{ Html.RenderAction("GetPreObservationsEmployeeInformation", new { formID = 33, ObservationsModel = Model }); }

        </div>
    </div>
    <div class="panel-body">
        <div class="row">

            @{ Html.RenderAction("GetPostObservationsDetails", new { formID = 33, ObservationsModel = Model }); }

        </div>
    </div>
    @if (Model.isAddMode != "100")
    {
        if (Model.ObservationsEmployeeModel.ReqStatusID < 4)
        {
            <div class="panel-body">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">

                            <label class="label-form" style="font-size:12px !important">
                                @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("Comments"))
                            </label>
                            <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                        </legend>
                        <div class="form-group">
                            <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    }

                    <div class="form-group col-sm-12" style="margin-top: -10px !important;">
                        @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID });
                        }
                    </div>

                    <div class="panel-footer" style="margin-top:25px">

                        <div class="col-lg-4">
                            <div class="form-group @(CultureHelper.IsRightToLeft() ? "lftaln" : "") ">
                                @Html.HiddenFor(m => m.isAddMode)
                                @Html.HiddenFor(m => m.ObservationsEmployeeModel.ReqStatusID)
                                @Html.HiddenFor(m => m.FormMode)
                                @if (Model.isAddMode != "100")
                                {
                                    if (Model.ObservationsEmployeeModel.ReqStatusID < 4)
                                    {

                                        <button type="submit" title="Submit" id="postbtnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Save")</button>

                                        <button title="Submit" id="postbtnSubmit" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-check"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Submit") </button>

                                    }
                                }
                                <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i>&nbsp;@PDRPCommonXMLResources.GetCommonPDRPResource("Cancel")  </a>

                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body  form-group">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">

                                        @{ Html.RenderAction("GetPostObservationsDetails", new { formID = 33, ObservationsModel = Model }); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>
}










<script>



    function Start() {
        pageLoaderFrame();
        //$("#btnSave").hide(500);
    }
    function UpdateKPIs(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        hideLoaderFrame();
        var isAddMode = $("#isAddMode").val();
        if (isAddMode == 3) {

            $("#isAddMode").val("2");
        }

        if (arg.responseJSON.result == "success") {
            if (arg.responseJSON.AddMode == "1")
                location.reload();
            else
                setTimeout(function () { location.href = "/FormsTaskList/Index" }, 500);

        }

    }






</script>


@section scripts
{
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    @*<script src="~/Scripts/Custom/Employee.js"></script>*@
    <script src="~/Scripts/Custom/PDRP/ObservationProcess.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.timePicker12').timepicker({
                showMeridian: true,
                showInputs: true,
                minuteStep: 5
            });

        });
    </script>
}



