﻿@using HRMS.Entities;
@model List<VacationModel>
@{
    bool isShowUnpaidLeaveDetails = (bool)ViewBag.ShowUnPaidLeaveDetails;
}
<div class="table-responsive" style="height: 396px;overflow-y:auto;">
    <div class="">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Emp ID</th>
                    <th class="col-md-3">Employee Name</th>
                    <th class="col-md-3">Leave Type</th>
                    <th class="col-md-2">From Date</th>
                    <th class="col-md-2">To Date</th>
                </tr>
            </thead>
            <tbody>
            @if (isShowUnpaidLeaveDetails)
            {
                if (Model.Count > 0)
                {
                    foreach (var vacation in Model)
                    {
                            <tr>
                                <td> @vacation.employeeAlternativeId</td>
                                <td> @vacation.employeeName</td>
                                <td> @vacation.vacationType</td>
                                <td> @vacation.fromDate</td>
                                <td> @vacation.toDate</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="center-text-align">No records available.</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="center-text-align">You don't have permission for employee leave, Please contact school administration.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>