﻿@using HRMS.Entities;
@{
    ViewBag.Title = "Home";
}

@using HRMS.Entities.Forms;
@using HRMS.Entities.ViewModel;
@using HRMS.DataAccess;
@using HRMS.DataAccess.FormsDB;
<style>
    .attstatushome{
        height:20px;
        padding:5px;
       color:white;
    }
    .attstatus_0 {
        background-color: #1B0E60;
    }

    .attstatus_1 {
        background-color: #00FF01;
    }

    .attstatus_2 {
        background-color: #FE0000;
    }

    .attstatus_3 {
        background-color: #5bc0de;
    }

    .attstatus_4 {
        background-color: #f0ad4e;
    }

    .attstatus_5 {
        background-color: #d9534f;
    }

    .attstatus_6 {
        background-color: #0E4BB4;
    }

    .attstatus_7 {
        background-color: #428E39;
    }

    .attstatus_8 {
        background-color: #520D4E;
    }

    .attstatus_9 {
        background-color: #2ca2b5;
    }

    .attstatus_10 {
        background-color: #F137A0;
    }

    .attstatus_11 {
        background-color: #E63D01;
    }

    .attstatus_12 {
        background-color: #ad4a93;
    }
</style>
@section Breadcrumb
{
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
    </ul>
    <!-- END BREADCRUMB -->
}

<!-- START RESPONSIVE TABLES -->
<div class="page-content-wrap">
    <div class="row">
        <div id="payrollConformationWarningDiv">

        </div>
    </div>
    <div class="row">
        <div id="portalLeaveRequestWarningDiv">

        </div>
    </div>
</div>
<!-- START WIDGETS -->
<div class="row">
    @{
        UserContextViewModel objUserContextViewModel = new UserContextViewModel();
        objUserContextViewModel = (UserContextViewModel)Session["userContext"];
        List<FormsUniqueKeyModel> formsUniqueKeyModelList = new List<FormsUniqueKeyModel>();
        formsUniqueKeyModelList = new FormsUniqueKeyDB().GetAllFormsUniqueKeyByUser(objUserContextViewModel.UserId);
        List<FormsTaskListViewModel> requestFormsApproveModelList = new FormsTaskListDB().GetAllRequestFormsApprovalsByUser(objUserContextViewModel.UserId);
        RequestFormsTaskListViewModel requestFormsTaskListViewModel = new RequestFormsTaskListViewModel();
        requestFormsTaskListViewModel.FormsUniqueKeyModelList = formsUniqueKeyModelList;
        requestFormsTaskListViewModel.FormsTaskViewModelList = requestFormsApproveModelList;
        ViewBag.UserId = objUserContextViewModel.UserId;
        List<DailyAttendanceViewModel> objDailyAttendanceViewModelList = new List<DailyAttendanceViewModel>();
        objDailyAttendanceViewModelList = new DailyAttendanceViewDB().GetDailyAttendanceViewList(DateTime.Now.AddDays(-6).Date.ToString("yyyy-MM-dd"), DateTime.Now.Date.ToString("yyyy-MM-dd"), objUserContextViewModel.UserId, null, null, null, null, null, null, null);
        //  GetDailyAttendanceViewList(DateTime.Now.AddDays(-7).Date.ToString("yyyy-MM-dd"), DateTime.Now.Date.ToString("yyyy-MM-dd"), objUserContextViewModel.UserId, 1, null, 1,
        //null, null, null, 0).ToList();


    }
    <!--Short Leave Request Notification-->
    <div class="col-lg-offset-3 col-sm-6 padding-0 cursorPointer" style="display:none" id="warningMessage">
        <div id="ShortLeaveRequestWarningBox" class="alert alert-danger" role="alert">
            <button id="btnShortLeaveRequestWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span id="lblShortLeaveRequestNotification"></span>
        </div>
    </div>
    <!--End Short Leave Request Notification-->
    <div class="col-md-4">
        <!-- START WIDGET SLIDER -->
        @*<div class="widget widget-default widget-carousel" style="padding-top:10px;">
                <div class="owl-carousel" id="owl-example">
                    <div>
                        <div class="widget-int">
                            <span id="lnkDoc" class="widget-doc-type">
                                Document Expiry
                            </span>
                        </div>
                        <div class="widget-title">
                            <div class="margin_bottom">
                                <span style="text-transform:none; text-decoration:none;font-weight:400">

                                </span>
                                <a id="" href="#" onclick="loadDocumentList(2,0)" style="text-transform:none; text-decoration:none">
                                    Already Expired: @(noofExpiredDoc)
                                </a>
                            </div>
                            <div>
                                <span style="text-transform:none;text-decoration:none;font-weight:400">

                                </span>
                                <a id="" href="#" onclick="loadDocumentList(1,0)" style="text-transform:none; text-decoration:none;font-style:normal">
                                    About To Expire: @(noOfExpiringDoc)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-md-4">
        @*<div class="widget widget-default widget-item-icon">
                <a onclick="checkUrlPermission('/Employee/ListEmployee', 'Url','You do not have permission for employee page')" href="#">
                    <div class="widget-item-left">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">@ViewBag.ActiveEmployeesCount</div>
                        <div class="widget-title"> Active Employees </div>
                        <div class="widget-subtitle">On System</div>
                    </div>
                </a>
            </div>*@
    </div>
    <div class="col-md-4">
        @*<!-- START WIDGET CLOCK -->
            <div id="timeWidget" class="widget widget-danger widget-padding-sm">
                <div class="widget-big-int plugin-clock">00:00</div>
                <div class="widget-subtitle plugin-date">Loading...</div>
            </div>
            <!-- END WIDGET CLOCK -->*@
    </div>
</div>
<!-- END WIDGETS -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-7">
                    <h3 class="panel-title"><span class="fa fa-columns"></span> Attendance</h3>
                </div>
                <div class="col-sm-5">
                    <div class="form-group pull-right">
                        <button type="button" title="Team Attendance" id="btnExport" class="btn btn-rounded btn-primary btnExport" onclick="ExportToExcelTeamAttendance()"><i class="fa fa-download"></i> Team Attendance </button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tblAttendance" class="table table-striped table-bordered">
                        <thead>
                            <tr><th>Date</th> <th> In time </th> <th> Out time </th><th> Status </th> </tr>
                        </thead>
                        <tbody>
                            @foreach (DailyAttendanceViewModel obj in objDailyAttendanceViewModelList)
                            {
                                <tr>
                                    <td>@obj.AttDate </td>
                                    <td>@obj.InTime</td>
                                    <td>@obj.OutTime</td>
                                           <td>
                                               @*<div class="attstatus_@obj.StatusID attstatushome"><span style="color: white">@obj.Status</span> </div>*@
                                             
                                               <span style="color: white" class="attstatus_@obj.StatusID attstatushome">@obj.Status</span>
                                           
                                           </td>
                                    </tr>
                            }

                            @*<tr>
                                    <td>31/03/2020 </td>
                                    <td>11.30 AM</td>
                                    <td>5.30 PM</td>
                                    <td>Late In</td>
                                </tr>
                                <tr>
                                    <td>30/03/2020 </td>
                                    <td>9.30 AM</td>
                                    <td>5.00 PM</td>
                                    <td>Early Out</td>
                                </tr>
                                <tr>
                                    <td>29/03/2020 </td>
                                    <td>9.30 AM</td>
                                    <td>5.30 PM</td>
                                    <td>On time</td>
                                </tr>
                                <tr>
                                    <td>28/03/2020 </td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>Off Day</td>
                                </tr>
                                <tr>
                                    <td>27/04/2020 </td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>Off Day</td>
                                </tr>
                                <tr>
                                    <td>26/03/2020 </td>
                                    <td>9.30 AM</td>
                                    <td>5.30 PM</td>
                                    <td>On time</td>
                                </tr>*@


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-3">
            <!-- START WIDGET CLOCK -->
            <div id="timeWidget" class="widget widget-danger widget-padding-sm">
                <div class="widget-big-int plugin-clock">00:00</div>
                <div class="widget-subtitle plugin-date">Loading...</div>
            </div>
            <!-- END WIDGET CLOCK -->

        </div>*@
</div>
<div class="row">
    @Html.Partial("~/Views/FormsTaskList/_TaskList.cshtml", requestFormsTaskListViewModel)
</div>
@*<div class="row">
        <div class="col-md-9">
            <!-- START SALES BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Nationality Map</h3>
                    <ul class="panel-controls">
                        <li>
                            <a onclick="MapFullScreen(this)" href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a>
                            <input type="hidden" id="hdnFullScreenFlag" />
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div class="col-md-4">
                            <div class="panel panel-default" style="margin-bottom: 0 !important;">
                                <div id="EmpNationalities" class="panel-heading">
                                    <h1 class="panel-title">Employee Count by Nationality</h1>
                                </div>
                                <div id="divEmpNatData" class="panel-body" style="max-height: 240px;overflow-y:auto;">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nationality </th>
                                                    <th class="center-text-align">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var country in ((List<DashBoardModel>)ViewBag.CountryLocation).OrderBy(x => x.CountryName))
                                                {
                                                    <tr>
                                                        <td> @country.CountryName  </td>
                                                        <td class="center-text-align"> @country.TotalEmployee  </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="dashboard-map-seles" style="width: 100%; height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SALES BLOCK -->
        </div>
        <div class="col-md-3">
            <!-- START PROJECTS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Today's Attendance</h3>
                </div>
                @*-- 0: Didn't Arrive
                    -- 1: Present
                    -- 2: Absent
                    -- 3: Late
                    -- 4: Early
                    -- 5: Holday
                    -- 6: Vactation
                    -- 7: OFF DAY
                    -- 8: Late&Early
                    -- 9: Did't Checkout
                    -- 10: Extra Day
                    11:Didnt SignIn
                <div class="panel-body" style="height: 330px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table id="tblAttendance" class="table">
                            <thead>
                                <tr><th>Status</th> <th> Total </th> </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>  Didn't Arrive </b> </td>
                                    <td> <label id="Lblstatus0">0</label>  </td>
                                </tr>
                                <tr>
                                    <td><b> Present </b> </td>
                                    <td> <label id="Lblstatus1">0</label>  </td>
                                </tr>
                                <tr>
                                    <td> <b>Absent </b>  </td>
                                    <td><label id="Lblstatus2">0</label></td>
                                </tr>
                                <tr>
                                    <td><b> Late In </b>  </td>
                                    <td> <label id="Lblstatus3">0</label> </td>
                                </tr>
                                <tr>
                                    <td><b> Early Out </b>  </td>
                                    <td><label id="Lblstatus4">0</label>   </td>
                                </tr>
                                <tr>
                                    <td><b> Holiday </b> </td>
                                    <td> <label id="Lblstatus5">0</label>  </td>
                                </tr>
                                <tr>
                                    <td> <b>Vacation </b>  </td>
                                    <td><label id="Lblstatus6">0</label></td>
                                </tr>
                                <tr>
                                    <td><b> Off Day </b>  </td>
                                    <td> <label id="Lblstatus7">0</label> </td>
                                </tr>
                                <tr>
                                    <td><b> Late&Early </b>  </td>
                                    <td><label id="Lblstatus8">0</label>   </td>
                                </tr>
                                <tr>
                                    <td> <b>Didn't Checkout </b>  </td>
                                    <td><label id="Lblstatus9">0</label></td>
                                </tr>
                                <tr>
                                    <td><b> Extra Day </b>  </td>
                                    <td> <label id="Lblstatus10">0</label> </td>
                                </tr>
                                <tr>
                                    <td><b> Didn't Sign In </b>  </td>
                                    <td><label id="Lblstatus11">0</label>   </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PROJECTS BLOCK -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Employee Distribution by Department (%)</h3>
                </div>
                <div class="panel-body">
                    <div id="PieChartContainer" style="min-width: 310px; height: 400px;  margin: 0 auto"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            @*Moved code for Employee Distribution by Section to Employee Count by Department
            <div class="panel panel-default">
                <div class="panel-heading" id="RefreshingID">
                    <h3 class="panel-title font-Bold">Employee Leaves (<span id="IsPaidText"></span>)</h3>
                    <ul class="panel-controls panel-controls-title">
                        <li>
                            <div id="reportrange" class="dtrange">
                                <span id="AllDateId"></span><b class="caret"></b>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle rounded" data-toggle="dropdown"><span class="fa fa-filter"></span></a>
                            <ul class="dropdown-menu stay-open pull-right">
                                <li id="EmpPaidLeaveID" class="cursorPointer"><a onclick="GetEmpUnpaidLeave(1)"><span class="fa"></span> Paid Leaves</a></li>
                                <li id="EmpUnpaidLeaveID" class="cursorPointer"><a onclick="GetEmpUnpaidLeave(0)"><span class="fa"></span> Unpaid Leaves</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body" >
                    <div id="EmpUnpaidLeaveDiv"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Employees With No Labour Card List</h3>
                </div>
                <div class="panel-body" style="height:180px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-3">EmployeeID </th>
                                    <th class="col-md-9"> Employee Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in ViewBag.EmployeeWithNoLabourCardList)
                                {
                                <tr>
                                    <td> @employee.EmployeeID  </td>
                                    <td> @employee.EmployeeName</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Employee Distribution by Section</h3>
                </div>
                <div class="panel-body" style="height:180px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Section </th>
                                    <th class="center-text-align"> Total </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in ViewBag.SectionEmployeeList)
                                {
                                <tr>
                                    <td> @employee.SectionName  </td>
                                    <td class="center-text-align"> @employee.TotalEmployee  </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*Removed code for Employee Count by Department
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Employee Count by Status</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" style="height: 120px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Employee Status </th>
                                    <th> Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in ViewBag.EmployeeStatusList)
                                {
                                <tr>
                                    <td> @employee.isActive  </td>
                                    <td> @employee.Strength  </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Employee Count by Gender</h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive" style="height: 120px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Gender</th>
                                    <th> Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in ViewBag.EmployeeGender)
                                {
                                <tr>
                                    <td> @employee.GenderName</td>
                                    <td> @employee.Strength</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Expired Documents @*(Past @ViewBag.DocumentsExpiredDays Days)</h3>
                </div>
                <div class="panel-body" style="height: 200px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Document Type</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{count = 0;}
                                @foreach (var item in noOfExpiredDocList.GroupBy(x => x.DocType))
                                {
                                <tr>
                                    <td> @(++count) </td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="loadDocumentList(2,@item.FirstOrDefault().DocTypeId)" style="text-decoration:none">@item.FirstOrDefault().DocType</a>
                                    </td>
                                    <td> @(item.Count())</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-Bold">Expiring Documents@*(Coming @ViewBag.DocumentAbouttoExpireDays Days)</h3>
                </div>
                <div class="panel-body" style="height: 200px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Document Type</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{count = 0;}
                                @foreach (var item in noOfExpiringDocList.GroupBy(x => x.DocType))
                                {
                                <tr>
                                    <td> @(++count) </td>
                                    <td><a href="javascript:void(0)" onclick="loadDocumentList(1,@item.FirstOrDefault().DocTypeId)" style="text-decoration:none">@item.FirstOrDefault().DocType</a></td>
                                    <td> @(item.Count())</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




@*<script src="~/Scripts/Custom/HighCharts.js"></script>*@

<script>

    $(document).ready(function () {
        var approverRequestsCount = '@(ViewBag.ShortLeaveRequestPendingCountForApprover)';
        var hrRequestsCount = '@(ViewBag.ShortLeaveRequestPendingCountForHR)';

        if (parseInt(approverRequestsCount) > 0) {
            var Message = "<a style='color:white' class='alert-link' href='/ShortLeaveRequest/Index'>You have new short leave requests [" + approverRequestsCount + "] are pending.</a>"
            $('#warningMessage').show();
            $('#lblShortLeaveRequestNotification').html(Message);
        }
        if (parseInt(hrRequestsCount) > 0) {
            var Message = "<a style='color:white' class='alert-link' href='/ShortLeaveRequest/Index'>You have new short leave requests [" + hrRequestsCount + "] are pending to complete.</a>"
            $('#warningMessage').show();
            $('#lblShortLeaveRequestNotification').html(Message);
        }

        $("#btnShortLeaveRequestWarningBoxClose").click(function (e) {
            e.stopPropagation();
            $("#ShortLeaveRequestWarningBox").remove();
        });
       
        //GetCountryLocation
        //$.ajax({
        //    dataType: 'json',
        //    type: 'POST',
        //    url: '/Home/GetCountryLocation',
        //    success: function (data) {

        //        var jvm_wm = new jvm.WorldMap({
        //            container: $('#dashboard-map-seles'),
        //            map: 'world_mill_en',
        //            backgroundColor: '#FFFFFF',
        //            regionsSelectable: true,
        //            regionStyle: {
        //                selected: { fill: '#B64645' },
        //                initial: { fill: '#33414E' }
        //            },
        //            markerStyle: {
        //                initial: {
        //                    fill: '#3FBAE4',
        //                    stroke: '#3FBAE4'
        //                }
        //            },
        //            markers: data.aaData

        //        });
        //    },
        //    error: function (data) { }
        //});

        @*if ('@(ViewBag.PayrollRequestSetting)' == "True") {
                $.ajax({
                    type: 'GET',
                    url: '/Home/PayRequestConfirmationAlert',
                    success: function (data) {
                        $("#payrollConformationWarningDiv").html(data);
                    },
                    error: function (data) { }
                });
            }*@

        //GetAttendanceCount
        //StartPanelLoader("#tblAttendance");
        //setTimeout(function () {
        //    $.ajax({
        //        dataType: 'json',
        //        type: 'POST',
        //        url: '/LongOperations/GetAttendanceCountNew',
        //        success: function (data) {
        //            var s = data;
        //            for (var i = 0; i <= 12; i++) {
        //                $("#Lblstatus" + i).text(data[i]);
        //            }
        //            StopPanelLoader("#tblAttendance");
        //        },
        //        error: function (data) { }
        //    });
        //}, 1000);

        //GetPiePoints
        //$.ajax({
        //    dataType: 'json',
        //    type: 'POST',
        //    url: '/Home/GetPiePoints',
        //    success: function (data) {
        //        $('#PieChartContainer').highcharts({
        //            chart: {
        //                plotBackgroundColor: null,
        //                plotBorderWidth: null,
        //                plotShadow: false,
        //                type: 'pie'
        //            },
        //            title: {
        //                text: ''
        //            },
        //            tooltip: {
        //                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        //            },
        //            plotOptions: {
        //                pie: {
        //                    allowPointSelect: true,
        //                    cursor: 'pointer',
        //                    dataLabels: {
        //                        enabled: true,
        //                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        //                        style: {
        //                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        //                        }
        //                    }
        //                }
        //            },
        //            series: [{
        //                name: "Strength",
        //                colorByPoint: true,
        //                data: data.aaData

        //            }], credits: {
        //                enabled: false
        //            }
        //        });
        //    },
        //    error: function (data) { }
        //});

        //$("#hdnFullScreenFlag").val(0);

        //$(".panel-fullscreen").click(function () {
        //    var fullScreenFlag = $("#hdnFullScreenFlag").val();

        //    if (fullScreenFlag == 0) {
        //        fullScreenFlag = 1;
        //        $("html,body").css("overflow-y", "hidden");
        //    }
        //    else {
        //        fullScreenFlag = 0;
        //        $("html,body").css("overflow-y", "scroll");
        //    }

        //    $("#hdnFullScreenFlag").val(fullScreenFlag);
        //});

        //$(document).on('click', '#PayrollwarningMessage', function () {
        //    var url = $(this).attr("data-Url");
        //    newTabWindow(url);
        //});

        //$(document).on('click', '#PoratlLeavewarningMessage', function () {
        //    var url = $(this).attr("data-Url");
        //    newTabWindow(url);
        //});

        //$(document).on('click', '#btnpayrollWarningBoxClose', function () {
        //    e.stopPropagation();
        //    $("#PayrollwarningMessage").remove();
        //})
        //showPortalLeaveRequestMessage();

    });
    function ExportToExcelTeamAttendance() {
        pageLoaderFrame();
        window.location.assign("/Home/ExportToExcelTeamAttendance");
        hideLoaderFrame();

    }
    //function showPortalLeaveRequestMessage() {
    //    $.ajax({
    //        type: 'GET',
    //        url: '/home/PortalLeaveRequestConfirmation',
    //        success: function (data) {
    //            $("#portalLeaveRequestWarningDiv").html(data);
    //        },
    //        error: function (data) { }
    //    });
    //}

    //function MapFullScreen(e) {
    //    var h = (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - 145);
    //    if ($(e).find('.fa-expand').length)
    //        $("#divEmpNatData").css({
    //            'max-height': h + 'px'
    //        });
    //    else
    //        $("#divEmpNatData").css({
    //            'max-height': '260px'
    //        })
    //};

    //function loadDocumentList(mode, docTypeId) {
    //    var url = "/Document/DocumentExpiry?docTypeId=" + docTypeId + "&mode=" + mode;
    //    checkPermission("/Document/DocumentExpiry", "Url", function (retdata) {
    //        if (retdata)
    //            window.location.href = url;
    //        else
    //            ShowMessage("error", "You do not have permission for document expiry page");
    //    });
    //}


</script>
<script>

        //$(document).ready(function () {
        //    //Code for datepicker for unpaid leave
        //    if ($("#reportrange").length > 0) {
        //        $("#reportrange").daterangepicker({
        //            ranges: {
        //                'Today': [moment(), moment()],
        //                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        //                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        //                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        //                'This Month': [moment().startOf('month'), moment().endOf('month')],
        //                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        //            },
        //            opens: 'left',
        //            buttonClasses: ['btn btn-default'],
        //            applyClass: 'btn-small btn-primary',
        //            cancelClass: 'btn-small',
        //            format: 'DD/MM/YYYY',
        //            separator: ' to ',
        //            startDate: moment().subtract('days', 6),
        //            endDate: moment()
        //        }, function (start, end) {
        //            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        //            GetEmpUnpaidLeave(0);
        //        });

        //        $("#reportrange span").html(moment().subtract('days', 6).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        //        GetEmpUnpaidLeave(0);
        //    }
        //    //EOF Datepicker
        //});

        //function GetEmpUnpaidLeave(IsPaid) {

        //    if (IsPaid == 0)
        //    {
        //        $("#IsPaidText").text("Unpaid");
        //        $("#EmpUnpaidLeaveID").addClass("active");
        //        $("#EmpPaidLeaveID").removeClass("active");
        //    }
        //    if (IsPaid == 1) {
        //        $("#IsPaidText").text("Paid");
        //        $("#EmpPaidLeaveID").addClass("active");
        //        $("#EmpUnpaidLeaveID").removeClass("active");
        //    }
        //    StartPanelLoader("#EmpUnpaidLeaveDiv");
        //    var startDate = $("#reportrange").data('daterangepicker').startDate.format('DD/MM/YYYY');
        //    var endDate = $("#reportrange").data('daterangepicker').endDate.format('DD/MM/YYYY');
        //    var url = "/Home/GetEmpUnpaidLeaveGrid?FromDate=" + startDate + "&ToDate=" + endDate + "&IsPaid=" + IsPaid;

        //    $("#EmpUnpaidLeaveDiv").load(url, function (responseTxt, statusTxt, xhr) {
        //        if (statusTxt == "success") {
        //            StopPanelLoader("#EmpUnpaidLeaveDiv");
        //        }
        //    });
        //}

        //function panel_refresh(panel, action, callback) {
        //    if (!panel.hasClass("panel-refreshing")) {
        //        panel.append('<div class="panel-refresh-layer"> <img src="../Content/assets/img/loaders/default.gif" /></div>');
        //        panel.find(".panel-refresh-layer").width(panel.width()).height(panel.height());
        //        panel.addClass("panel-refreshing");

        //        if (action && action === "shown" && typeof callback === "function")
        //            callback();
        //    } else {
        //        panel.find(".panel-refresh-layer").remove();
        //        panel.removeClass("panel-refreshing");

        //        if (action && action === "hidden" && typeof callback === "function")
        //            callback();
        //    }
        //    onload();
        //}

</script>

@section Scripts
{
    <script src="~/Scripts/Custom/Forms/FormsTaskList.js"></script>
}


