﻿@model HRMS.Entities.PDRP.GoalSettingModel

@{

    var count = Model.PerformanceGroupId == 1? Model.FormABusinessTargetsModelList.Count(): Model.PerformanceGroupId == 2? Model.FormBKPIModelList.Count(): Model.FormCKPIModelList.Count();
    var remainingCount = 5 - count;
    var no = 1;
    double totalWeight = 0;
    double totalWeightPercentage = 0.0;
}

<div class="col-lg-12 form-group">
    <table id="tblBusinessTargets" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-md-1">Sr No.</td>
                <td class="col-md-9">Business Targets</td>
                <td class="col-md-2">Weight</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model.PerformanceGroupId == 1)
                {
                    foreach (var item in Model.FormABusinessTargetsModelList)
                    {

                        <tr class="businesstargetandweightsection" data-businesstargetid=@item.BusinessTargetId>
                            <td>@no</td>
                            <td>
                                @item.BusinessTargetDetails
                            </td>
                            <td>
                                @item.Weight
                            </td>
                        </tr>
                        {
                            no++;
                            totalWeight = totalWeight + item.Weight;
                        }
                    }
                }
                else if (Model.PerformanceGroupId == 2)
                {
                    foreach (var item in Model.FormBKPIModelList)
                    {

                        <tr class="businesstargetandweightsection" data-businesstargetid=@item.KPIId>
                            <td>@no</td>
                            <td>
                                @item.BusinessTargetDetails
                            </td>
                            <td>
                                @item.Weight
                            </td>
                        </tr>
                        {
                            no++;
                            totalWeight = totalWeight + item.Weight;
                        }
                    }
                }
                else if (Model.PerformanceGroupId == 3)
                {
                    foreach (var item in Model.FormCKPIModelList)
                    {

                        <tr class="businesstargetandweightsection" data-businesstargetid=@item.KPIId>
                            <td>@no</td>
                            <td>
                                @item.BusinessTargetDetails
                            </td>
                            <td>
                                @item.Weight
                            </td>
                        </tr>
                        {
                            no++;
                            totalWeight = totalWeight + item.Weight;
                        }
                    }
                }

                for (int i = remainingCount; i > 0; i--)
                {
                    <tr class="businesstargetandweightsection" data-businesstargetid=0>
                        <td>@no</td>
                        <td></td>
                        <td></td>
                    </tr>
                    { no++; }
                }

            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2">
                    @{totalWeightPercentage = (totalWeight / 100) * 100;}
                    <span class="pull-right"> Total Kpi @totalWeightPercentage %</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="form-group col-sm-12 padding-0">
    <div class="col-sm-2">
        <label class="label-form">Comments If Applicable : </label>
    </div>
    <div class="col-sm-8">
        @if (Model.PerformanceGroupId == 1)
        {<span class="label-form">@Model.FormABusinessTargetsModel.BusinesstargetComments</span>}
        else if (Model.PerformanceGroupId == 2)
        {<span class="label-form">@Model.FormBKPIModel.KPIsComments</span> }
        else
        { <span class="label-form">@Model.FormCKPIModel.KPIsComments</span>}
    </div>
</div>

