﻿@model HRMS.Entities.PDRP.GoalSettingModel
@using HRMS.Entities.PDRP;
    @{ 
        int isEditable = 1;
        if (Model.FormMode >= 1)//*** In Normal, Only Employee will have Edit option all A1 to other will be dissabled
        {
            if (Model.EmployeeBasedGroup == false)
            {
                if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                {
                    isEditable = 0;
                }
            }

        }
        if (Model.IsSignOffForm) //*** At Final State with Employee
        {
            isEditable = 0;
        }
        if (Model.IsAddMode == false)
        {
            isEditable = 0;
        }
        int Rowno = 1;
    }
<div class="col-lg-12 form-group">

    <table id="tblProfessionalCompetenciesFormB" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-md-1 center-text-align">Sr No.</td>
                <td class="col-md-11">Professional Competencies</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ProfessionalCompetencies item in Model.ProfessionalCompetencies.Where(x => x.CompetencyTypeID == 2))
            {
                <tr>
                    <td class="center-text-align">@Rowno</td>
                    <td>
                        <b>@item.CompetencyName_1</b>
                        <span>
                            <i>
                                @item.CompetencyDescription_1
                            </i>
                        </span>
                    </td>
                </tr>
                {
                    Rowno++;
                }
            }

        </tbody>
    </table>


    <table id="tblBehavioralCompetenciesFormB" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-md-1 center-text-align">Sr No.</td>
                <td class="col-md-11">Behavioral Competencies</td>
            </tr>
        </thead>
        <tbody>
            @{
                Rowno = 1;
            }
            @foreach (BehavioralCompetencies item in Model.BehavioralCompetencies.Where(x => x.CompetencyTypeID == 3))
            {
                <tr>
                    <td class="center-text-align">@Rowno</td>
                    <td>
                        <b>@item.CompetencyName_1</b>
                        <span>
                            <i>
                                @item.CompetencyDescription_1
                            </i>
                        </span>
                    </td>
                </tr>
                {
                    Rowno++;
                }
            }

        </tbody>
    </table>
</div>

@*@if ((bool)ViewBag.IsViewDetails)
{
    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-2">
            <label class="label-form">Comments If Applicable : </label>
        </div>
        <div class="col-sm-8">
            <span class="label-form">@Model.FormBKPIModel.CompetenciesComments</span>
        </div>
    </div>
}
else
{*@
    <div class="form-group">
        <div class="col-sm-12">
            <div class="col-sm-12 padding-0">
                <label class="label-form">Comments if applicable</label>
            </div>
            <div class="col-sm-12 padding-0">
                @Html.TextAreaFor(x => x.FormBKPIModel.CompetenciesComments, @*Model.IsSignOffForm*@ ( isEditable == 1) ? new { @class = "form-control", @id = "CompetenciesComments", @rows = 3 } : (object)new { @class = "form-control", @id = "CompetenciesComments", @rows = 3, @disabled = true })
            </div>
        </div>
    </div>
@*}*@

