﻿@model IList<HRMS.Entities.PDRP.GoalSettingModel>


<div class="col-lg-12 form-group padding-0">

    <table id="tblGoalSettingGrid" class="table table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="center-text-align sorting_disabled"><input type=checkbox id=chkSelevctAll onclick=SelectAll()></td>
                @*checkboxes, BU Name, Emp ID, Employee Name, Goal Submitted?, Year, Performance Group, start date and end date*@
                <td>Emp ID</td>
                <td>Employee Name</td>
                <td>Goals Submitted ?</td>
                <td>Year</td>
                <td>Performance Group</td>
                <td>Setting Goals Start Date</td>
                <td>Setting Goals Due Date</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr data-employeeid="@item.EmployeeID">
                <td style="text-align:center">
                    <div class="checkbox">
                        @*<label><input class="YNClass" type="checkbox" @(item.ID > 0 ? "disabled":"") @(!item.IsGoalSubmitted ? "" : "checked" ) data-employeeid="@item.EmployeeID" data-companyid="@item.CompanyId"/></label>*@
                        <label><input class="YNClass" id="chkEmployeeId" type="checkbox" @((item.ID > 0 || item.PerformanceGroupId==0) ? "disabled" : "") @(item.ID > 0 ? "checked" : "") data-employeeid="@item.EmployeeID" data-companyid="@item.CompanyId" /></label>
                    </div>
                </td>
                <td>@item.EmployeeAlternativeID</td>
                <td>@item.EmployeeName</td>
                <td>@(item.IsGoalSubmitted ? "Yes" : "No")</td>
                <td>@item.Year</td>
                <td>
                    @Html.DropDownListFor(x => item.PerformanceGroupId
                                        , new SelectList(ViewBag.PerformanceGroup, "Value", "Text", item.PerformanceGroupId)
                                        , new
                                        {
                                            @class = "form-control selectpicker selectpickerddl performcacegroup",
                                            @data_live_search = "true",
                                            @id = "PerformanceGroupId",
                                            @data_employeeid = item.EmployeeID,
                                            @disabled = "true"
                                        })
                </td>
                <td>
                    <div class="input-group" data-date-format="dd/mm/yyyy">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(x => item.SettingGoalsStartDate, (item.ID > 0 || item.IsGoalSubmitted) ? new { @class = "form-control datepicker settingGolasStartDate", @disabled = true, @autocomplete = "off" } : (object)new { @class = "form-control datepicker settingGolasStartDate", @autocomplete = "off" })
                        @*<input type="text" multiple id="SettingGoalsStartDate" data-date-format="dd/mm/yyyy" value="@item.SettingGoalsStartDate" class="@(item.ID > 0 || item.IsGoalSubmitted) ? form-control datepicker settingGolasStartDate disabled : form-control datepicker settingGolasStartDate" autocomplete = "off"/>*@
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(x => item.SettingGoalsDueDate, (item.ID > 0 || item.IsGoalSubmitted) ? new { @class = "form-control datepicker settingGolasDueDate", @disabled = true, @autocomplete = "off" } : (object)new { @class = "form-control datepicker  settingGolasDueDate", @autocomplete = "off" })
                        @Html.HiddenFor(X => item.ProcessName, new { @id = "ProcessName", @class = "ProcessName" })
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>

    </table>


</div>



<br />






