﻿@model HRMS.Entities.PDRP.GoalSettingModel

@{
    var count = Model.FormBKPIModelList.Count();
    var remainingCount = 5 - count;
    var no = 1;
    double? TotalWeight = 0;
    //double totalWeightPercentage = 0.0;
    var businessTargetDetailsCount = Model.FormBKPIModelList.Count();
    bool isSaved = businessTargetDetailsCount > 0 ? true : false;

    int isEditable = 1;
    if (Model.FormMode >= 1)//*** In Normal, Only Employee will have Edit option all A1 to other will be dissabled
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                isEditable = 0;
            }
        }

    }
    if (Model.IsSignOffForm) //*** At Final State with Employee
    {
        isEditable = 0;
    }
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }

}

<div id="divKPIFormB" class="col-lg-12 form-group">
    @Html.Hidden("isSaved", isSaved)
    <table id="tblKPIFormB" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-md-1 center-text-align">Sr No.</td>
                <td class="col-md-9">KPI's</td>
                <td class="col-md-2 center-text-align">Weight</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.FormBKPIModelList)
                {

                    <tr class="businesstargetandweightsection" data-kpiid=@item.KPIId>
                        <td  class="center-text-align">@no</td>
                        <td>
                            @Html.TextAreaFor(x => item.BusinessTargetDetails, @*Model.IsSignOffForm *@( isEditable == 1) ? new { @class = "col-sm-12 form-control kpibusinesstarget", @rows = 3 } : (object)new { @class = "col-sm-12 form-control kpibusinesstarget", @rows = 3, @disabled = true })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => item.Weight, @*Model.IsSignOffForm*@ ( isEditable == 1) ? new { @class = "col-sm-12 form-control weight", @type = "number" } : (object)new { @class = "col-sm-12 form-control weight", @type = "number", @disabled = true })
                        </td>
                    </tr>
                    {
                        no++;
                        if (item.Weight != null)
                        {
                            TotalWeight = TotalWeight + item.Weight;
                        }
                    }
                }

                for (int i = remainingCount; i > 0; i--)
                {
                    <tr class="businesstargetandweightsection" data-kpiid=0>
                        <td class="center-text-align">@no</td>
                        <td>
                            @Html.TextArea("Busineestarget", null, ( isEditable == 1) ? new { @class = "col-sm-12 form-control kpibusinesstarget", @rows = 3 } : (object)new { @class = "col-sm-12 form-control kpibusinesstarget", @rows = 3, @disabled = true })
                            @*@Html.TextArea("Busineestarget", null, Model.IsSignOffForm ? new { @class = "col-sm-12 form-control kpibusinesstarget", @rows = 3, @disabled = true } : (object)new { @class = "col-sm-12 form-control kpibusinesstarget", @rows = 3 })*@
                        </td>
                        <td>
                            @Html.TextBox("Weight", null
                          //, Model.IsSignOffForm ? new
                          , ( isEditable == 1) ? new
                          {
                              @class = "col-sm-12 form-control weight",
                              @type = "number",
                              @min = "0",
                              @max = "100",
                              @step = "1"
                          } : (object)new
                          {
                              @class = "col-sm-12 form-control weight",
                              @type = "number",
                              @min = "0",
                              @max = "100",
                              @step = "1",
                              @disabled = true

                          })
                        </td>
                    </tr>
                    { no++; }
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="right-text-align">Total 	KPI</td>
                <td>
                    <div class="col-sm-12 nopad">
                        <div class="input-group nopad c">
                            @*Naresh 2020-02-26 Disable the weight edit*@
                            @Html.TextBox("txtTotalWeightage", @TotalWeight, new { @class = "form-control Weightage_Sum", @id = "txtTotalWeightage", @disabled = true })
                            <span class="input-group-addon padding-0 add-on" style="min-width: 20px;background-color: #33414e5c; border-color: #33414e5c;">
                                %
                            </span>
                        </div>
                    </div>


                    @Html.HiddenFor(m => m.TotalBusinessTarget)

                    @*@{totalWeightPercentage = (totalWeight/100) * 100;}
                <span class="pull-right">  @totalWeightPercentage %</span>*@
                </td>
            </tr>
            
        </tfoot>
    </table>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <div class="col-sm-12 padding-0">
            <label class="label-form">Comments if applicable</label>
        </div>
        <div class="col-sm-12 padding-0">
            @Html.TextAreaFor(x => x.FormBKPIModel.KPIsComments, @*Model.IsSignOffForm*@ ( isEditable == 1) ? new { @class = "form-control", @id = "kpiComments", @rows = 3 } : (object)new { @class = "form-control", @id = "kpiComments", @rows = 3, @disabled = true })
        </div>
    </div>
</div>
