﻿
@{
    ViewBag.Title = "HRMS - Goal Setting Initialization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset.scheduler-border {
        border: solid 3px #DDD !important;
        padding: 0 10px 10px 10px;
        border-bottom: none;
    }

    legend.legendGoalSetting {
        width: auto;
        border-bottom: none;
    }
</style>

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">PDRP - Goal Setting Initialization</li>
    </ul>
}
<div class="panel-body form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-4 padding-0">
                        <h4 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Goals Setting Initialization Form
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="div-center">

                            <a class="profile-control-left filter-icon">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-2 pull-right">
                        <ul class="panel-controls">
                            <li class="dropdown open">@*--Naresh 2020-02-26 Icon changed*@ 
                                <a href="javascript:void(0);" title="Submit" id="btnSubmit" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            </li>                           
                        </ul>
                    </div>
                    <div class="col-sm-4 pull-right">
                    </div>
                </div>
                <div class="panel-body form-horizontal">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Employees
                            </span>

                        </legend>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <span class="required-field">*</span>&nbsp; <label class="label-form">
                                            Year:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.DropDownList("ddlKPIYear", (SelectList)ViewBag.KPIYears, "Select Year", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlKPIYear" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <span class="required-field">*</span>&nbsp; <label class="label-form">
                                            Setting Goals Start Date:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("SettingGoalsStartDate", null, new { @class = "form-control datepickerFrom", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <span class="required-field">*</span>&nbsp; <label class="label-form">
                                            Setting Goals Due Date:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("SettingGoalsDueDate", null, new { @class = "form-control datepickerTo", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <label class="label-form">
                                            Process Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.TextBox("ProcessName", null, new { @class = "form-control", @id = "txtProcessName" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 pull-right">
                                <input type="button" id="btnApplyToAll" class="btn btn-primary" style="width:165px;" value="Apply to all selections">
                            </div>
                        </div>



                    </fieldset>
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Filter By
                            </span>

                        </legend>

                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <label class="label-form">
                                            Company :@*--*** Danny 22/09/2019*@
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Company", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 pull-right">
                                <input type="button" id="btnSearch" class="btn btn-primary" style="width:165px;" value="Preview">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">

                    <hr>
                    <div class="row col-sm-12 form-horizontal">
                        <div id="divGoalSettings">

                        </div>

                    </div>

                </div>
                <div class="panel-footer">
                    <div class="pull-left">                        
                        <div class="col-sm-5">@*Naresh 2020-02-26 Class added for design*@
                            <button type="button" title="Submit" id="btnSubmit" class="btn btn-rounded btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>

<script src="~/Scripts/Custom/PDRP/GoalSetting.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
