﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.FormsEmployeeJoiningModel
@{
    ViewBag.Title = "Employee Joining Form";
    //  List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;
    //  bool isEditFormRequest = otherPermissions.Where(x => x.OtherPermissionId == 42).Count() > 0 ? true : false;
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Joining Form</li>
    </ul>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmployeeJoiningForm" }))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                @Html.Hidden("hdnReqStatusID", Model.ReqStatusID)
                @Html.Hidden("hdnFormProcessID", (object)ViewBag.FormProcessID, new { @id = "hdnFormProcessID" })
                @Html.Hidden("hdnEmployeeJoiningID", (object)ViewBag.EmployeeJoiningID, new { @id = "hdnEmployeeJoiningID" })
                @Html.Hidden("hdnEmployeeID", (object)ViewBag.EmployeeId, new { @id = "hdnEmployeeID" })
                @Html.Hidden("hdnCompanyId", (int)ViewBag.CompanyId)
                @Html.Hidden("FormId", (int)ViewBag.FormId)
                @*@Html.Hidden("hdnEditCompletedFormRequest", isEditFormRequest)
                    @Html.Hidden("IsEditRequestFromAllRequests", (object)ViewBag.IsEditRequestFromAllRequests != null ? (object)ViewBag.IsEditRequestFromAllRequests : false)*@
                <div class="panel-heading">

                    <div class="col-sm-8 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-cubes"></span>

                            Employee Joining Form
                            @if (ViewBag.RequestID != null && ViewBag.RequestID != '0')
                            {
                                <span>(Request ID : @ViewBag.RequestID)</span>
                            }

                        </h3>
                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="pull-right">
                        @*@if (Model.ReqStatusID == (int)RequestStatus.Rejected || (Model.ReqStatusID == (int)RequestStatus.Completed && isEditFormRequest && ViewBag.IsEditRequestFromAllRequests) || (Model.ReqStatusID == (int)RequestStatus.Pending && isEditFormRequest && ViewBag.IsEditRequestFromAllRequests))
                            {
                                <a href="javascript:void(0);" title=@(isEditFormRequest && ViewBag.IsEditRequestFromAllRequests?"Update Request":"Save Request") id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                            }*@
                        @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <a href="javascript:void(0);" title="Save Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                            <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                        }
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>
                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 18, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID }); }
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Instructions:</span>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.Label("txtInstructions", "The BU HR is responsible and is required to confirm the below details.", new { @class = "label-form" })</div>
                                <div class="col-sm-12">@Html.Label("txtInstruction", "This form is required to be completed for all new joiners not later than 2 working days after joining. Any delays will affect the processing of the employees salary.", new { @class = "label-form" })</div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row ">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Employee Joining Details:
                                </span>
                            </legend>
                            @*@if (Model.ReqStatusID == (int)RequestStatus.Rejected || (Model.ReqStatusID == (int)RequestStatus.Completed && isEditFormRequest && ViewBag.IsEditRequestFromAllRequests) || (Model.ReqStatusID == (int)RequestStatus.Pending && isEditFormRequest && ViewBag.IsEditRequestFromAllRequests))*@
                            @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                            {
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2"><label class="label-form">@Html.DisplayNameFor(m => m.EmployeeId)</label></div>
                                        <div class="col-sm-4">
                                            <span class="label-form">
                                                @Html.DisplayFor(m => m.EmployeeAlternativeID)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2"><label class="label-form">@Html.DisplayNameFor(m => m.EmployeeName)</label></div>
                                        <div class="col-sm-4">
                                            <span class="label-form">
                                                @Html.DisplayFor(m => m.EmployeeName)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-2"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.JoiningDate)</label></div>
                                        <div class="col-sm-3">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.JoiningDate, new { @class = "DOB form-control", @id = "txtJoiningDate" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.JoiningDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div id="divUploadFileAdd">

                                            <div class="col-sm-2"><label class="label-form">@Html.DisplayNameFor(m => m.OfferLetterFileID)</label></div>
                                            @{
                                                var itemOL = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.OfferLetterFileID);
                                                if (itemOL != null && itemOL.FileName != null)
                                                {
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_OL">
                                                                    @if (@itemOL.FileName.Length > 15)
                                                                    {
                                                                        @itemOL.FileName.Substring(0, 15)
                                                                    }
                                                                    else
                                                                    {
                                                                        @itemOL.FileName
                                                                    }
                                                                    <input type="hidden" value="@Model.OfferLetterFileID" id="hdnFileUpload_OL" />
                                                                </span><div id="file_caption_id_OL">

                                                                </div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_OL" onclick="RemoveDocument('OL', 'OfferLetterFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                @*<button type="button" class="btn btn-primary kv-fileinput-upload UploadButton" style="display:none;" id="btnUploadAdd_JD"><i class="glyphicon glyphicon-upload"></i> Upload</button>*@
                                                                <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_OL"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_OL"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_OL" class="PreviewName">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('EmployeeJoiningForm',@Model.OfferLetterFileID);">
                                                                @if (@itemOL.FileName.Length > 15)
                                                                {
                                                                    @itemOL.FileName.Substring(0, 10)
                                                                }
                                                                else
                                                                {
                                                                    @itemOL.FileName
                                                                }
                                                            </a>
                                                            @*@itemOL.FileName.Length>10?@itemOL.FileName.Substring(0, 10):@itemOL.FileName</a>*@
                                                        </div>
                                                        <label id="txtuploadedMsgAdd_OL" style="margin-top: 3px;"> </label>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_OL" />
                                                        <input type="hidden" value="@Model.OfferLetterFileID" id="hdnFileUpload_OL" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_OL"></span><div id="file_caption_id_OL"></div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_OL" onclick="RemoveDocument('OL', 'OfferLetterFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                @*<button type="button" class="btn btn-primary kv-fileinput-upload UploadButton" style="display:none;" id="btnUploadAdd_JD"><i class="glyphicon glyphicon-upload"></i> Upload</button>*@
                                                                <div class="btn btn-primary btn-file" id="divBrowse_OL"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_OL"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_OL" class="PreviewName">
                                                        </div>
                                                        <label id="txtuploadedMsgAdd_OL" style="margin-top: 3px;"> </label>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_OL" />
                                                        <input type="hidden" value="0" id="hdnFileUpload_OL" />
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-6">
                                    <div class="col-sm-12 alternatecolor">
                                        <div class="form-group col-sm-12 ">
                                            <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.EmployeeId)</label></div>
                                            <div class="col-sm-8">
                                                <span class="label-form">
                                                    @Html.DisplayFor(m => m.EmployeeAlternativeID, new { @class = "form-control", @id = "txtEmployyeid" })
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.EmployeeName)</label></div>
                                            <div class="col-sm-8">
                                                <span class="label-form">
                                                    @Html.DisplayFor(m => m.EmployeeName, new { @class = "form-control" })
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.JoiningDate)</label></div>
                                            <div class="col-sm-8">
                                                <span class="label-form">
                                                    @Html.DisplayFor(m => m.JoiningDate, new { @class = "form-control" })
                                                </span>
                                            </div>
                                        </div>
                                        <div id="divUploadFileAdd" class="form-group col-sm-12">

                                            <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.OfferLetterFileID)</label></div>
                                            @{
                                                var itemOL = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.OfferLetterFileID);
                                                if (itemOL != null && itemOL.FileName != null)
                                                {

                                                    <div id="divPreview_OL" class="col-sm-8">
                                                        <span class="label-form">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('EmployeeJoiningForm',@Model.OfferLetterFileID);">
                                                                @itemOL.FileName
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_OL" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_OL" />
                                                    <input type="hidden" value="@Model.OfferLetterFileID" id="hdnFileUpload_OL" />
                                                }

                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control" style="font-size:12px !important">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </span>
                                @*<label id="lblComments" class="label-control" style="font-size:12px !important"> Comments (max 2000 characters) </label>*@
                                <label id="lblCharsLeft_txtComments" class="label-control" style="font-size:12px !important"> </label>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                        <div class="row">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = (object)ViewBag.formProcessID }); }
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="form-group pull-left">
                        @*@if (Model.ReqStatusID == (int)RequestStatus.Rejected || (Model.ReqStatusID == (int)RequestStatus.Completed && isEditFormRequest && ViewBag.IsEditRequestFromAllRequests) || (Model.ReqStatusID == (int)RequestStatus.Pending && isEditFormRequest && ViewBag.IsEditRequestFromAllRequests))
                            {
                                <button type="button" title=@(isEditFormRequest && ViewBag.IsEditRequestFromAllRequests?"Update Request":"Save Request") id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>@(isEditFormRequest && ViewBag.IsEditRequestFromAllRequests ? "Update" : "Save")</button>
                            }*@
                        @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <button type="button" title="Save Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>Save</button>
                        }
                        else
                        {
                            <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                            <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                        }
                        <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
}
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
    });
    $jquery('.NumberOnly').keypress(function (event) {
        return IsNumber(event, this)
    });
    $jquery("#fu_OL").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_OL").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_OL").text("");
                $jquery("#divBrowse_OL").hide();
                //$jquery("#btnUploadAdd_JD").show();
                $jquery("#btnRemove_OL").show();
                $jquery("#file_caption_name_OL").show();
                $jquery("#file_caption_id_OL").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_OL").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_OL').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
            }
            else {
                $jquery("#txtuploadedMsgAdd_OL").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_OL").hide();
                $jquery("#divAddInforamtionDialog_OL").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_OL").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_OL").hide();
            $jquery("#divAddInforamtionDialog_OL").hide();
        }
    });

</script>

@section Scripts
{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/EmployeeJoiningForm.js"></script>

}





