﻿@model HRMS.Entities.Forms.FormsEmployeeJoiningModel
@{
    ViewBag.Title = "Employee Joining Form";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Joining Form</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-8 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Employee Joining Form
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>

            </div>

            <div class="panel-body">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 18, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID }); }
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Employee Joining Details:
                            </span>
                        </legend>
                        <div class="col-sm-6">
                            <div class="col-sm-12 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.EmployeeId)</label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.EmployeeId, new { @class = "form-control", @id = "txtEmployyeid" })
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.EmployeeName)</label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.EmployeeName, new { @class = "form-control" })
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.JoiningDate)</label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.JoiningDate, new { @class = "form-control " })
                                        </span>

                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 "><label class="label-form">@Html.DisplayNameFor(m => m.OfferLetterFileID)</label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_OL" href="javascript:void(0);" onclick="OpenFilePreview('EmployeeJoiningForm',@Model.OfferLetterFileID);">@Model.OfferletterFileName</a>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 "><label class="label-form">@Html.DisplayNameFor(m => m.RequesterEmployeeID)</label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.RequesterEmployeeName, new { @class = "form-control" })
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="row">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>


