﻿@model HRMS.Entities.EmploymentInformation

@using (Ajax.BeginForm("UpdateEmployeeLeaveReason", "Employee", new AjaxOptions { OnFailure = "onEmployeeLeaveReasonFailure", OnSuccess = "onEmployeeLeaveReasonSuccess" }, new { id = "frmLeaveReason" }))
{
    @Html.HiddenFor(m => m.EmployeeID)
   @Html.HiddenFor(m=>m.EmployeeStatus)
    <div class="form-group col-md-12">
        @Html.Label("Leave Reason")
        <div class="input-group">
            @*@Html.TextBoxFor(m => m.LeftReason, new { @class = "form-control" })*@
            @Html.DropDownListFor(m => m.LeftReasonID,(SelectList)ViewBag.LeaveReasonList,"Select Leave Reason", new { @class = "form-control", required = true })
            <span class="input-group-addon add-on">
                <a href="javascript:Add('LeaveReason',47,'#LeftReasonID')" data-toggle="tooltip" title="Add Leave Reason!" style="color:#ffffff">+</a>
            </span>           
        </div>
        @Html.ValidationMessageFor(m => m.LeftReasonID)
    </div>
    <div class="form-group col-md-12">
      @Html.Label("Leave Date")     
            @Html.TextBoxFor(m => m.LeftDate, new { @class = "datepicker form-control",required = true })
            @Html.ValidationMessageFor(m => m.LeftDate)     
    </div>          

    <div class="form-group col-md-12">
        <input type="submit" value="Save" class="btn btn-primary" />
        @*<input type="button" value="Cancel" class="btn btn-danger" onclick="cancelAddUpdateBankInfo();" />*@
    </div>

}

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>