﻿@model HRMS.Entities.EmployeeBasicDetails

<div class="col-md-12 margin_bottom">
    <h3 class="panel-title"><span class="fa fa-user"></span>&nbsp;&nbsp; <b>@Model.Name </b> <span style="margin-left:60px">  <b> ID: @Model.AlternativeId</b> </span> <span style="margin-left:60px">  <b>Position: @Model.Position </b></span><span style="margin-left:60px">  <b>Department: @Model.Department</b> </span> </h3>
</div>