﻿@model HRMS.Entities.EmploymentInformation

@using (Ajax.BeginForm("UpdateRejoingDateAndStatus", "Employee", new AjaxOptions { OnFailure = "onUpdateRejoiningFailure", OnSuccess = "onUpdateRejoiningSuccess" }, new { id = "frmUpdateLeaveReson" }))
{
    @Html.HiddenFor(m => m.EmployeeID)
    
    <div class="form-group col-md-12">
        <div class="col-md-3 label-form">
            @Html.Label("Rejoining Date:")
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.HireDate, new { @class = "datepicker form-control col-md-9", required = true })
            @Html.ValidationMessageFor(m => m.HireDate)
        </div>                
    </div> 
    <div class="form-group col-md-12">
        <input type="submit" value="Save" class="btn btn-primary" />
        @*<input type="button" value="Cancel" class="btn btn-danger" onclick="cancelAddUpdateBankInfo();" />*@
    </div>

}

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
