﻿@model HRMS.Entities.InternalEmploymentModel
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<div class="panel panel-default">
    @using (Ajax.BeginForm("UpdateInternalEmploymentDetails", "Employee", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccessInternalEmployment" }, new { id = "frmAddEmploymentInternal" }))
    {
        @Html.HiddenFor(m => m.InternalEmploymentID)
        @Html.HiddenFor(m => m.EmployeeID)
        @Html.HiddenFor(m=>m.LocationID,0)
        <div class="panel-body @*form-group-separated*@">
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-2 padding-0">
                    
                </div>
                <div class="col-sm-10 ">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>  
                </div>
            </div>
            <div class="col-sm-12 margin_bottom hidden">
                <div class="col-sm-2 padding-0">
                    <label class="label-form">Location:</label>
                </div>
                <div class="col-sm-10 ">
                    <div class="input-group dropdownHide">
                        @*@Html.DropDownListFor(m => m.LocationID, (SelectList)Model.LocationList, "Select location", new { @class = "form-control selectpickerddl" })*@

                        <span class="input-group-addon add-on">
                            <a href="javascript:Add('Add Location',38,'#LocationID')" data-toggle="tooltip" style="color:#ffffff" title="Add New  Location!">+</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-2 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Department:</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group dropdownHide">
                        @Html.DropDownListFor(m => m.DepartmentID, (SelectList)Model.DepartmentList, "Select Department", new { @class = "form-control selectpickerddl", @required = "required" })
                        <span class="input-group-addon add-on">
                            <a href="javascript:Add('Add Department',37,'#DepartmentID')" data-toggle="tooltip" style="color:#ffffff" title="Add New  Department!">+</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.DepartmentID)
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-2 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Position:</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group dropdownHide">
                        @Html.DropDownListFor(m => m.PositionID, (SelectList)Model.PositionList, "Select position", new { @class = "form-control selectpickerddl", @required = "required", @data_live_search = "true" })
                        <span class="input-group-addon add-on">
                            <a href="javascript:Add('Add Position',23,'#PositionID')" data-toggle="tooltip" style="color:#ffffff" title="Add New  Position!">+</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.PositionID)
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-2 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Start Date:</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "DOB datepicker form-control" })
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-2 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;End Date:</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "DOB datepicker form-control" })
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>
                </div>
            </div>


            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-2 padding-0">
                    <label class="label-form">Comments:</label>
                </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Comments)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" value="Cancel" class="btn btn-primary pull-left" onclick="CloseClosetModel('#frmAddEmploymentInternal');" />
            <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="ValidateForm();" />
        </div>
    }

</div>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<script type="text/javascript">


    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });
    function Add(title, id, dropdownId) {
        $("div.tooltip").hide();
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader1").html("");
        $("#modal_Loader1").load("/Employee/AddType/" + id);
        $("#myModal1").modal("show");
        $("#modal_heading1").text(title);
    }
    function onSuccessInternalEmployment(data) {
        if (data.result == "success") {
            ShowMessage("success", data.resultMessage);
            CloseClosetModel('#frmAddEmploymentInternal');
            getInternalEmploymentGrid($('#EmployeeID').val());
        } else {
            ShowMessage("error", data.resultMessage);
        }
    }

</script>

