﻿@model HRMS.Entities.EmployeeDependantModel


@{
    Layout = null;
    var type = ViewBag.PageType;
    var relationShips = ViewBag.Relationship as List<SelectListItem>;
    var Countries = ViewBag.Countries as SelectList;
    var Cities = ViewBag.Cities as List<SelectListItem>;
    var relationship = relationShips != null && Model.Relationship != null && relationShips.FirstOrDefault(c => c.Value == Model.Relationship.ToString()) != null ? relationShips.FirstOrDefault(c => c.Value == Model.Relationship.ToString()).Text : "";
    var country = Countries != null && Model.Country != null && Countries.FirstOrDefault(c => c.Value == Model.Country.ToString()) != null ? Countries.FirstOrDefault(c => c.Value == Model.Country.ToString()).Text : "";
    var city = Cities != null && Model.City != null && Countries.FirstOrDefault(c => c.Value == Model.City.ToString()) != null ? Countries.FirstOrDefault(c => c.Value == Model.City.ToString()).Text : "";

}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/Position.js"></script>
<script>

    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });

    function ValidateForm() {

        $("#collapseOne").attr("class", "in");
        if ($("#frmAddEmployeeDependent").valid()) {

        }
    }
    function Add(title, id, dropdownId) {
        $("div.tooltip").hide();
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader1").html("");
        $("#modal_Loader1").load("/Employee/AddType/" + id);
        $("#myModal1").modal("show");
        $("#modal_heading1").text(title);
    }
    function CloseEmployeeDependentForm() {
        $("#myModal2").modal("hide");
    }
    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);
        $.MessageBox({
            buttonDone: "Ok",
            message: error,
        });
    }
    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage('success',data.Message);
            $("#myModal2").modal("hide");
            window.location.reload();
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: data.Message,
            });
        }

    }
    function OnRelationshipChange(elm) {
        $('#hdnRelationship').val($(elm).val());
    }
    function OnCityChange(elm) {
        $('#hdnCity').val($(elm).val());
    }
</script>


<div class="panel panel-default">
    @if (type == "Edit" || type == "Add")
    {
        using (Ajax.BeginForm("AddEmployeeDependent", "Employee", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEmployeeDependent" }))
        {
            @Html.HiddenFor(m => m.DependantId)
            @Html.HiddenFor(m => m.Relationship, new { @id = "hdnRelationship" })
            @Html.HiddenFor(m => m.City, new { @id = "hdnCity" })
            @Html.HiddenFor(m => m.EmployeeId, new { @class = "hiddenEmployeeID" })
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"></div>
                        <div class="col-sm-8">
                            <div class="text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;First Name:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form">Middle Name:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MiddleName)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;Last Name:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form"><span class="required-field">*</span>&nbsp;Relationship:</label> </div>
                        <div class="col-sm-8">
                            @*@Html.DropDownListFor(m => m.Relationship, (List<SelectListItem>)ViewBag.Relationship, "Select Relationship", new { @class = "form-control selectpickerddl", required = "required" })*@
                            @Html.DropDownList("ddlRelationship", (List<SelectListItem>)ViewBag.Relationship, "Select Relationship", new { @class = "form-control selectpickerddl", required = "required", @onchange = "OnRelationshipChange(this);" })

                            @*<span class="input-group-addon add-on">
                                    <a href="javascript:Add('Add Relationship',32,'#Relationship')" data-toggle="tooltip" title="Add Relationship!" style="color:#ffffff">+</a>
                                </span>*@
                            @Html.ValidationMessageFor(m => m.Relationship)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0">
                            <label class="label-form">
                                <span class="required-field">*</span>&nbsp;Country:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.Country, (SelectList)Countries, "Select Country", new { @class = "form-control selectpickerddl", @data_live_search = "true", required = "required", @onchange = "FilterCityDropDown('#Country','#City','Select City',true)" })

                            @Html.ValidationMessageFor(m => m.Country)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form">City:</label> </div>
                        <div class="col-sm-8">
                            @Html.DropDownList("ddlCity", (List<SelectListItem>)ViewBag.Cities, "Select city", new { @class = "form-control selectpickerddl", required = "required", @onchange = "OnCityChange(this);" })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                    </div>
                    <div class="col-md-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form">Address 1:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address1)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form">Address 2:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address2)
                        </div>
                    </div>
                    @*<tr>
                            <td>City/Town </td>
                            <td>
                                @Html.TextBoxFor(m => m.City_Town, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.City_Town)
                            </td>
                        </tr>*@
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form">Phone 1:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone1)
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-4 padding-0"><label class="label-form">Phone 2:</label> </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone2)
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="button" value="Cancel" class="btn btn-primary pull-left" onclick="CloseEmployeeDependentForm();" />
                <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="ValidateForm();" />
            </div>
        }
    }
    else
    {
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">First Name:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.FirstName</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Middle Name:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.MiddleName</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Last Name:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.LastName</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Relationship:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@relationship</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Country</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="label-form">@country</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">City:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@city</label>
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Address 1:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.Address1</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Address 2:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.Address2</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Phone 1:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.Phone1</label>
                    </div>
                </div>
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-4 padding-0"><label class="label-form">Phone 2:</label> </div>
                    <div class="col-sm-8">
                        <label class="label-form">@Model.Phone2</label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
