﻿@{
    ViewBag.Title = "View2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}


<ul class="breadcrumb">
    <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="/ViewEmployeeProfile/Index/@ViewBag.EmployeeID">Employee Profile</a></li>
    <li><a href="/Employee/InternalEmploymentList/@ViewBag.EmployeeID">Internal Employment</a></li>
    <li class="active">Internal Past Employment</li>
</ul>

<h2>Internal Employment</h2>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#collapseOne">Internal Employment Details</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-body">

            @{  Html.RenderPartial("InternalEmploymentDetails");    }

        </div>
    </div>
    <div class="panel panel-default" style="display:none">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#collapseTwo">Attacthments</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-body">

            <div id="Contact">
                <div id="InternalemployeeDocs">
                </div>
            </div>

        </div>

    </div>
</div>


@*<script type="text/javascript">


        $(document).ready(function () {
            $('#collapseOne').toggleClass('collapse', 'in');
        });

        $('.collapseOne').click(function () {
            $('#collapseOne').toggleClass('collapse', 'in');
        });

        $('.collapseTwo').click(function () {
            if ($("#InternalEmploymentID").val() != "0")
                $('#collapseTwo').toggleClass('collapse', 'in');
            else {
                $('#collapseOne').toggleClass('collapse', 'in');
                //alert('Please fill Personal Information First.');
                ShowMessage("warning", "Please fill internal employment details First.")
            }

        });

    </script>*@


@*<script src="~/Scripts/Custom/PastEmploymentDocs.js"></script>*@
<script src="~/Scripts/Custom/InternalEmploymentDocs.js"></script>
