﻿@{
    Layout = null;
}
@*<div class="form-horizontal">
    <div class="form-group col-md-12">
        <label class="col-md-3">IM Contact</label>
        <div class="col-md-9">@Html.TextBox("OtherIMContact",null, new { @class = "form-control" })</div>
    </div>
    <div class="form-group col-md-12">
        <label class="col-md-3">IM Contact Type</label>
        <div class="col-md-9">@Html.DropDownList("ddlIMContactType", (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @class = "form-control" })</div>
    </div>
    <div class="form-group col-md-12">
       
            <input type="button" value="Add IM Contact" class="btn btn-primary pull-right" onclick="SaveIMContactType();" id="btnSaveIMContactType" name="btnSaveIMContactType" />
       
    </div>
</div>*@

<div class="panel panel-default"  >

    
        <div class="panel-body">
         

            <div class="form-group col-md-12" style="padding-left: 0px;">
                <label class="col-md-3">IM Contact</label>
                <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                  @Html.TextBox("OtherIMContact", null, new { @class = "form-control" })
                </div>
                
            </div>
            <div class="form-group col-md-12" style="padding-left: 0px;">
                <label class="col-md-3">IM Contact Type</label>
                <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                    @Html.DropDownList("ddlIMContactType", (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @class = "form-control" })
                </div>

            </div>

        </div>
        <div class="panel-footer">

            <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="SaveIMContactType();" id="btnSaveIMContactType" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />

        </div>

     



</div>


<script>
    function SaveIMContactType() {
        var ContactType = $("#ddlIMContactType").val();
        var Contact = $("#OtherIMContact").val();
        if (Contact != "") {
            $("#hidMultipleIMContact").val($("#hidMultipleIMContact").val() + Contact + "," + ContactType + "#");
            $("#myModal").modal("hide");
            $("#IMContact").val("");
            $("#modal_heading").text("");
        }
    }
</script>