﻿@model HRMS.Entities.Types

@{Layout = null;}

<script>
    function Sucess(arg) {
        $.unblockUI();

        //$("#myModal").modal("hide");
        //$("#myModal1").modal("hide");
        //$("#myModal2").modal("hide");

        var modelType = $('#frmAddtypediv').closest('.modal');
        $(modelType).modal("hide");

        var DropDownId = $("#hdnDropDownId").val();
        var DropDownReloadId = $("#hdnDropDownReloadId").val();

        //console.log(DropDownReloadId);

        if (arg == "Listbox") {
            // Append Values to Nationality Listbox
            $("#hdnDropDownId").val('');
            $("#hdnDropDownReloadId").val('');

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadNationality",
                dataType: "json",
                success: function (data) {                    
                    var count = $('.enableScroll.NationalityID').find('input').length + 1;
                    var result = "";
                    result = $.map(data, function (item, a) {
                        return "<input type='checkbox' value=" + item.Value + " id='SelectedValues" + count + "' name='SelectedValues'><label for='SelectedValues" + count + "'>" + item.Text + "</label><br>";
                    });
                    $('.enableScroll.NationalityID').append(result);
                },

            });
        }
        else if (arg == "LoadAreas") {

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadAreasByCityId/" + $('#hiddenForCity').val(),
                dataType: "json",
                success: function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $(DropDownReloadId).html(data.join("")); //converts array into the string
                    RefreshSelect(DropDownReloadId);
                },

            });
        }

        else if (arg == "Position") {

            DropDownReLoad(23, DropDownReloadId)
        }
        else if (arg == "Country") {

            DropDownReLoad(18, "#CountryID");
            DropDownReLoad(18, "#Country");
        }
        else if (arg == "JobFamily") {

            DropDownReLoad(45, "#JobFamilyID")
        }
        else if (arg == "InsuranceType") {

            DropDownReLoad(39, "#InsuranceType")
        }
        else if (arg == "BloodType") {

            DropDownReLoad(40, "#Blood")
        }
        else if (arg == "VaccinationType") {
            DropDownReLoad(41, "#Vaccination")
        }
        else if (arg == "CarType") {

            DropDownReLoad(42, "#transportationModel_CarTypeID")
        }
        else if (arg == "InsuranceEligibility") {

            DropDownReLoad(53, "#InsuranceEligibility")
        }
        else if (arg == "Department") {
            DropDownReLoad(37, "#DepartmentID")
        }
        else if (arg == "Location") {

            DropDownReLoad(38, "#LocationID")
        }
        else if (arg == "LoadState") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadStateByCountryID/" + $('#hiddenForCountry').val(),
                dataType: "json",
                success: function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $(DropDownReloadId).html(data.join("")); //converts array into the string
                    RefreshSelect(DropDownReloadId);
                },

            });
        }
        else if (arg == "LoadBirthPlace") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadBirthPlaceForCountry/" + $('#hiddenForBirthCountry').val(),
                dataType: "json",
                success: function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $(DropDownReloadId).html(data.join("")); //converts array into the string
                    RefreshSelect(DropDownReloadId);
                },

            });
        }
        else if (arg == "LoadCity") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadCityByStateID/" + $('#hiddenForState').val(),
                dataType: "json",
                success: function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $(DropDownReloadId).html(data.join("")); //converts array into the string
                    RefreshSelect(DropDownReloadId);
                },

            });
        }
        else if (arg == "LoadCityByCountry") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadCityByCountryID/" + $('#hiddenForCountry').val(),
                dataType: "json",
                success: function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $(DropDownReloadId).html(data.join("")); //converts array into the string
                    RefreshSelect(DropDownReloadId);
                },

            });
        }
        else if (arg == "LoadNewCityByCountry") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadCityByCountryID/" + $('#hiddenForCountry').val(),
                dataType: "json",
                success: function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $(DropDownReloadId).html(data.join("")); //converts array into the string
                    RefreshSelect(DropDownReloadId);
                },

            });
        }
        else if (arg == "DynamicEmail") {
            $("#hdnDropDownId").val('');
            $("#hdnDropDownReloadId").val('');
            DropDownReLoad(1, DropDownReloadId);
        }
        else if (arg == "DynamicIM") {
            $("#hdnDropDownId").val('');
            $("#hdnDropDownReloadId").val('');

            DropDownReLoad(2, DropDownReloadId);
        }
        else if (arg == "DynamicMobile") {
            $("#hdnDropDownId").val('');
            $("#hdnDropDownReloadId").val('');
            DropDownReLoad(4, DropDownReloadId);
        }
        else if (arg == "Company") {
            DropDownReLoad(9, DropDownReloadId)
        }
        else if (arg == "Relation") {

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadRelation",
                dataType: "json",
                success: function (data) {
                    try {
                        $("#Relationship").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                        RefreshSelect("#Relationship");
                    } catch (e) { }
                    try {
                        $("#RelationId").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                        RefreshSelect("#RelationId");
                    } catch (e) { }
                },

            });


        }
        else if (arg == "EmployeeSection") {
            LoadEmployeeSectionByDepartment();
            //$.ajax({
            //    type: "POST",
            //    contentType: "application/json; charset=utf-8",
            //    url: "/Employee/LoadSection",
            //    dataType: "json",
            //    success: function (data) {
            //        $(DropDownReloadId).append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
            //        RefreshSelect(DropDownReloadId);
            //    },

            //});


        }
        else if (arg == "JobCategory") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadJobCategory",
                dataType: "json",
                success: function (data) {
                    $("#employmentInformation_EmployeeJobCategoryID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#employmentInformation_EmployeeJobCategoryID");
                },

            });
        }
        else if (arg == "DutyShift") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadDutyShift",
                dataType: "json",
                success: function (data) {
                    $("#ShiftID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#ShiftID");
                },

            });
        }
        else if (arg == "ShiftGroup") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadDutyShiftGroup",
                dataType: "json",
                success: function (data) {
                    $("#GroupNameID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#GroupNameID");
                },

            });
        }
        else if (arg == "IssuePlace") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadIssuePlace",
                dataType: "json",
                success: function (data) {
                    $(DropDownReloadId).append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect(DropDownReloadId);
                },

            });
        }
        else if (arg == "LeaveReason") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadLeaveReason",
                dataType: "json",
                success: function (data) {
                    $("#employmentInformation_LeftReasonID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#employmentInformation_LeftReasonID");
                },

            });
        }
        else if (arg == "BankName") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadBankName",
                dataType: "json",
                success: function (data) {
                    $("#payDirectDepositModel_BankID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#payDirectDepositModel_BankID");
                },

            });
        }
        else if (arg == "BranchName") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadBranchName",
                dataType: "json",
                success: function (data) {
                    $("#payDirectDepositModel_BranchID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#payDirectDepositModel_BranchID");
                },

            });
        }
        else if (arg == "PayCategoryName") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadCategory",
                dataType: "json",
                success: function (data) {
                    $("#payDirectDepositModel_CategoryID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#payDirectDepositModel_CategoryID");
                },

            });
        }
        else if (arg == "PayAccountTypesName") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadAccountType",
                dataType: "json",
                success: function (data) {
                    $("#payDirectDepositModel_AccountTypeID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    RefreshSelect("#payDirectDepositModel_AccountTypeID");
                },

            });
        }
        else if (arg == "AddRole") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/UpdateRole",
                dataType: "json",
                success: function (data) {

                    //$("#GroupNameID").append("<option value=" + data[0].Value + ">" + data[0].Text + "</option>")
                    $(".enableScroll").empty();
                    for (var i = 0; i < data.length; i++) {
                        $(".enableScroll").append("<input type='checkbox' name='SelectedValues id='SelectedValues'" + i + "' value='" + data[i].AccessRoleId + "'><label for='SelectedValues'" + i + "'>" + data[i].RoleName + "</label><br>");
                    }

                },

            });
        }
        else if (arg == "AddDropNationalities") {            
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadNationality",
                dataType: "json",
                success: function (dataResult) {
                    var parsed = dataResult;
                    $(".dropNationality").append("<option value='" + parsed[0].Value + "'>" + parsed[0].Text + "</option>");
                    $(".dropNationality").parents('.ColNationality').find('ul').append('<li class="" style="display: list-item;"><a tabindex="0"><label class="checkbox"><input type="checkbox" value=' + parsed[0].Value + '>' + parsed[0].Text + '</label></a></li>');

                    $(".dropNationality").multiselect('rebuild');
                },
                error: function (dataResult) {
                    $.MessageBox({
                        buttonDone: "Ok",
                        message: 'error',
                    });
                }
            });
        }
        else if (arg == "AddDropLanguage") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadLanguage",
                dataType: "json",
                success: function (dataResult) {
                    var parsed = dataResult;
                    $(".dropSpokenLanguage").append("<optgroup label='" + parsed[0].Text + "'>" +
                    "<option value='Speak-" + parsed[0].Value + "'>Speak</option>" +
                    "<option value='Read-" + parsed[0].Value + "'>Read</option>" +
                    "<option value='Write-" + parsed[0].Value + "'>Write</option>" +
                    "<option value='Native-" + parsed[0].Value + "'>Native</option>" +
                    "</optgroup>");

                    $(".dropSpokenLanguage").parents('.ColLanguage').find('ul').append("<li class='multiselect-item multiselect-group'><label>" + parsed[0].Text + "</label></li>" +
                        "<li><a tabindex='0'><label class='checkbox'><input type='checkbox' value='Speak-" + parsed[0].Value + "'>Speak</label></a></li>" +
                    "<li><a tabindex='0'><label class='checkbox'><input type='checkbox' value='Read-" + parsed[0].Value + "'> Read</label></a></li>" +
                    "<li><a tabindex='0'><label class='checkbox'><input type='checkbox' value='Write-" + parsed[0].Value + "'> Write</label></a></li>" +
                    "<li><a tabindex='0'><label class='checkbox'><input type='checkbox' value='Native-" + parsed[0].Value + "'> Native</label></a></li>");

                    $(".dropSpokenLanguage").multiselect('rebuild');
                },
                error: function (dataResult) {
                    $.MessageBox({
                        buttonDone: "Ok",
                        message: 'error',
                    });
                }
            });
        }
        else if (arg == "DynamicQualification") {

            DropDownReLoad(48, "#employmentInformation_Qualification")
        }
        else if (arg == "DynamicAccomodation") {
            DropDownReLoad(49, DropDownReloadId)
        }
        else if (arg == "DynamicRegType") {
            DropDownReLoad(50, DropDownReloadId)
        }
        else if (arg == "MOLTitle") {
            DropDownReLoad(26, DropDownReloadId)
        }
        else if (arg == "Religion") {
            DropDownReLoad(15, DropDownReloadId)
        }
        else if (arg == "MaritalStatus") {
            DropDownReLoad(16, DropDownReloadId)
        }
        else if (arg == "AddressType") {
            DropDownReLoad(17, DropDownReloadId)
        }
        else if (arg == "AddSchoolHouse") {
            DropDownReLoad(51, DropDownReloadId)
        }
        else {
            if (DropDownId != "" && DropDownReloadId != "") {
                DropDownReLoad(DropDownId, DropDownReloadId);
            }
        }


    }

    function DropDownReLoad(DropDownId, DropDownReloadId) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Employee/LoadType/" + DropDownId,
            dataType: "json",
            success: function (data) {
                data = $.map(data, function (item, a) {
                    return "<option value=" + item.Value + ">" + item.Text + "</option>";
                });

                $(DropDownReloadId).html(data.join("")); //converts array into the string
                RefreshSelect(DropDownReloadId);
            },
        });
    }

    $(document).ready(function () {
        bindSelectpicker(".selectpickerddl");
    });

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="panel panel-default" id="divBankInformation">

    @using (Ajax.BeginForm((string)ViewBag.PostAddress, "Employee", null, new AjaxOptions { OnSuccess = "Sucess" }, new { @id = "frmAddtypediv" }))
    {
        <div class="panel-body">
            @Html.Hidden("hiddenForCity", (string)ViewBag.AddCityId)
            @Html.Hidden("hiddenForCountry", (string)ViewBag.AddCountryId)
            @Html.Hidden("hiddenForState", (string)ViewBag.AddStateId)
            @Html.Hidden("hiddenForBirthCountry", (string)ViewBag.AddBirthCountryId)
            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                </div>
                <div class="form-group col-lg-6 col-sm-6">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="padding-top:10px;">                
            </div>
            @if (ViewBag.PostAddress == "AddPosition")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Position Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Position Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Position Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddQualification")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-1">
                        <label class="label-form">Qualification Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-1">
                        <label class="label-form">Qualification Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-1">
                        <label class="label-form">Qualification Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddSchoolHouse")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">School House (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">School House (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">School House (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddMOLTitle")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">MOL Title (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">MOL Title (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">MOL Title (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddMOETitle")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">MOE Title (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">MOE Title (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">MOE Title (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddBirthPlaceforBirthCountry")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Birth Place (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Birth Place (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Birth Place (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddReligion")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Religion Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Religion Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Religion Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddMaritalStatus")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label class="label-form">Marital Status Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label class="label-form">Marital Status Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label class="label-form">Marital Status Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddDropLanguage")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Language Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Language Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Language Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddCityForState")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">City Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">City Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">City Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddAreaForCity")
            {
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Area Name (EN):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Area Name (AR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                        @Html.ValidationMessageFor(m => m.TextArabic)
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Area Name (FR):</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                        @Html.ValidationMessageFor(m => m.TextFrench)
                    </div>
                </div>
            }
            else if (ViewBag.PostAddress == "AddEmployeeSection")
            {

                <div class="col-md-12 margin_bottom">
                    @{Html.EnableClientValidation(false);}
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="label-form">Department Name:</label>
                    </div>
                    <div class="col-md-5">

                        @Html.DropDownListFor(m => m.DepartmentId, (SelectList)ViewBag.Department, "Select Department", new { @class = "form-control selectpickerddl", })
                    </div>
                    @{Html.EnableClientValidation(true);}
                </div>

                    <div class="col-md-12 margin_bottom">
                        <div class="col-sm-4 col-sm-offset-2">
                            <label class="label-form">Section Name (EN):</label>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                            @Html.ValidationMessageFor(m => m.Text)
                        </div>
                    </div>
                        <div class="col-md-12 margin_bottom">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label class="label-form">Section Name (AR):</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                @Html.ValidationMessageFor(m => m.TextArabic)
                            </div>
                        </div>
                        <div class="col-md-12 margin_bottom">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label class="label-form">Section Name (FR):</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                @Html.ValidationMessageFor(m => m.TextFrench)
                            </div>
                        </div>
                        }
                        else if (ViewBag.PostAddress == "AddEmploymentMode")
                        {
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-5 col-sm-offset-2">
                                    <label class="label-form">Employeement Mode (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-5 col-sm-offset-2">
                                    <label class="label-form">Employeement Mode (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-5 col-sm-offset-2">
                                    <label class="label-form">Employeement Mode (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }
                        else if (ViewBag.PostAddress == "AddJobCategory")
                        {
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Job Category Name (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Job Category Name (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Job Category Name (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }
                        else if (ViewBag.PostAddress == "AddBankName")
                        {
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form"><span class="required-field">*</span> Bank Name (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Bank Name (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Bank Name (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }
                        else if (ViewBag.PostAddress == "AddBranchName")
                        {
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Branch Name (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Branch Name (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Branch Name (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }

                        else if (ViewBag.PostAddress == "AddAccountType")
                        {
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Account Type Name (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Account Type Name (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Account Type Name (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }
                        else if (ViewBag.PostAddress == "AddJobTitle")
                        {
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Job Title (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Job Title (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">Job Title (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }
                        else if (ViewBag.PostAddress == "AddCityForCountry")
                        {
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12 text-right">
                                    <span class="required-field">*</span>&nbsp;Indicate required fields
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form"><span class="required-field">*</span> City Name (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "City Name (English)" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">City Name (AR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "City Name (Arabic)" })
                                    @Html.ValidationMessageFor(m => m.TextArabic)
                                </div>
                            </div>
                            <div class="col-md-12 margin_bottom">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <label class="label-form">City Name (FR):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "City Name (French)" })
                                    @Html.ValidationMessageFor(m => m.TextFrench)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12" style="padding-left: 0px;">

                                <div class="col-sm-5 text-right">
                                    <label class="label-form">@ViewBag.titleName (EN):</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Text)
                                </div>
                            </div>
                        }

        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
                        }
</div>
