﻿
@model HRMS.Entities.EmployeeMultiplePhoneNumberHome
@{
    Layout = null;
}

@*<style>
    .ddDynamicMobileType {
        margin-right: 10px;
    }
</style>*@




@*<tr>
    <td></td>
    <td>*@
        @*<input type="text" name="txtDynamicPhone" value="@Model.Contact" />*@

        @*@Html.DropDownList("ddDynamicMobileType", (List<SelectListItem>)ViewBag.MobileNumberList, new { @name = "ddDynamicMobileType", @class = "ddDynamicMobileType" + Model.EmpContactId + "" })*@

        @*<a class="RemoveDynamic" href="javascript:void(0);">- Remove</a>*@
    @*</td>
</tr>*@
<div class="form-group col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <input type="text"  name="txtDynamicPhone"  class="form-control" value="@Model.Contact" style="margin-right:10px" />
    </div>

    <div class="col-sm-1" style="">

        <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
    </div>
</div> 


<script>
    // Remove Dynamically Added Fields
    $('.RemoveDynamic').click(function () {
        $(this).parent().parent().remove();
    });
  
    @*$('.ddDynamicMobileType' +@Model.EmpContactId).val('@Model.ContactType');*@
</script>
