﻿@model HRMS.Entities.EmployeeMultiplePersonalEmails
@{
    Layout = null;
}
@*<link rel="stylesheet" type="text/css" id="theme" href="~/Content/assets/css/bootstrap/bootstrap.min.csss" />*@

<style>
    /*.ddDynamicEmailType {
    margin-right:10px;

    }*/
</style>

<div class="form-group col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <input type="text" name="txtDynamicPersonalEmail" class="form-control" value="@Model.EmailName" style="margin-right:10px" />
    </div>

    <div class="col-sm-1">

        @*<a class="btn btn-danger btn-rounded btn-condensed btn-sm RemoveDynamic" title="Delete"><i class="fa fa-times"></i> </a>*@
        <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
    </div>
</div>


<script>
    // Remove Dynamically Added Fields
    $('.RemoveDynamic').click(function () {
        $(this).parent().parent().remove();
    });

    $(document).ready(function () {

    })


    @*$('.ddDynamicEmailType' +@Model.EmpEmailId).val('@Model.EmailType');*@
</script>