﻿
@model HRMS.Entities.EmployeeMultipleContacts
@{
    Layout = null;
}

@*<style>
    .ddDynamicMobileType {
        margin-right: 10px;
    }
</style>*@




@*<tr>
    <td></td>
    <td>
        <input type="text" name="txtDynamicMobile" value="@Model.Contact" />

        @Html.DropDownList("ddDynamicMobileType", (List<SelectListItem>)ViewBag.MobileNumberList, new { @name = "ddDynamicMobileType", @class = "ddDynamicMobileType" + Model.EmpContactId + "" })

        <a class="RemoveDynamic" href="javascript:void(0);">- Remove</a>
    </td>
</tr>*@

<div class="form-group col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
        <input type="text" class="form-control" value="@Model.Contact" name="txtDynamicMobile" />
    </div>
    <div class="col-sm-4">
        <div class="input-group dropdownHide input-group-ddl">
            @Html.DropDownList("ddDynamicMobileType", (List<SelectListItem>)ViewBag.MobileNumberList, new { @name = "ddDynamicMobileType", @class = "form-control ddDynamicMobileType" + Model.EmpContactId + " selectpickerddl" })
            <span class="input-group-addon add-on input-group-span">
                <a href="javascript:Add('Add Mobile Type',4,'#ddDynamicMobileType')" data-toggle="tooltip" title="Add New Mobile Type!" style="color:#ffffff" id="">+</a>
            </span>
        </div>
    </div>
    <div class="col-sm-1" style="padding-left:10px;">
        <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
    </div>
</div>

<script>
    // Remove Dynamically Added Fields
    $('.RemoveDynamic').click(function () {
        $(this).parent().parent().remove();
    });
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });
    $('.ddDynamicMobileType' +@Model.EmpContactId).val('@Model.ContactType');
</script>
