﻿@model HRMS.Entities.EmployeeMultipleIMs
@{
    Layout = null;
}



@*<tr>
    <td></td>
    <td>
        <input type="text" name="txtDynamicIM" value="@Model.IMName" />

        @Html.DropDownList("ddDynamicIMType", (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @name = "ddDynamicIMType", @class = " form-control ddDynamicIMType" + Model.EmpIMId + "" })

        <a class="RemoveDynamic" href="javascript:void(0);">- Remove</a>
    </td>
</tr>*@
<div class="form-group col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
        <input type="text" value="@Model.IMName" class="form-control" name="txtDynamicIM" />
    </div>
    <div class="col-sm-4">
        <div class="input-group dropdownHide input-group-ddl">
            @Html.DropDownList("ddDynamicIMType", (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @name = "ddDynamicIMType", @class = "form-control ddDynamicIMType" + Model.EmpIMId + " selectpickerddl" })
            <span class="input-group-addon add-on input-group-span">
                <a href="javascript:Add('Add IM Address Type',2,'#IMAddressType')" style="color:#ffffff">+</a>
            </span>
        </div>
        @*@Html.DropDownList("ddDynamicIMType", (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @name = "ddDynamicIMType", @class = "form-control ddDynamicIMType" + Model.EmpIMId + " selectpickerddl" })*@
    </div>
    <div class="col-sm-1">
        <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
    </div>
</div>


<script>
    // Remove Dynamically Added Fields
    $('.RemoveDynamic').click(function () {
        $(this).parent().parent().remove();
    });

    $('.ddDynamicIMType' +@Model.EmpIMId).val('@Model.IMType');
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });
</script>
