﻿@model HRMS.Entities.InternalEmploymentModel
           @*@if(Model.InternalEmploymentID>0)
           {*@
               <table class="display table table-bordered table-striped" width="100%"  data-toggle="table" data-cache="false" data-height="299">

    <thead>
        <tr>
            <th>FileName</th>
            <th>Description</th>
            <th>Size</th>
            <th>Type</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>
        @foreach (HRMS.Entities.InternalEmploymentModel internalEmploymentmodel in Model.objInternalEmploymentList)
        {
            <tr>
                <td>@Html.ActionLink(internalEmploymentmodel.FileName, "DownloadInternalEmploymentDocs", "Employee", new { filename = internalEmploymentmodel.FileName }, null)</td>
                <td> @internalEmploymentmodel.Description </td>
                <td> @internalEmploymentmodel.FileSize</td>
                <td>@internalEmploymentmodel.FileType</td>
                <td><a href="#" onclick="RemoveDocs(@internalEmploymentmodel.AttatchmentId)">Remove</a></td>
            </tr>
        }
    </tbody>
</table>

               
           @*}*@


@Html.HiddenFor(m => m.InternalEmploymentID, new { @class = "hiddenEmploymentID" })
<br />


@*<tr>
        <td>@Html.LabelFor(m => m.CompanyName)</td>
        <td>@Html.TextBoxFor(m => m.CompanyName)</td>
        <td>@Html.ValidationMessageFor(m => m.CompanyName)</td>
    </tr>*@
<table>

    <tr>
        <td>@Html.LabelFor(m => m.Description)</td>
        <td>@Html.TextBoxFor(m => m.Description)</td>
        <td>@Html.ValidationMessageFor(m => m.Description)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.FileType)</td>
        <td>@Html.TextBoxFor(m => m.FileType)</td>
        <td>@Html.ValidationMessageFor(m => m.FileType)</td>
    </tr>

    <tr>
        <td>
            <label>Upload File:    </label>
        </td>
        <td>
            <input type="file" id="file" name="file" data-val="true" data-val-required="File is required" />
        </td>
        <td></td>
    </tr>


</table>
<input type="submit" value="Save" onclick="SubmitButtonOnclick()">




<script>

    function SubmitButtonOnclick() {
        //alert('in');
        //If function returns with no validation error then submit the form
        //alert($('#PastEmploymentID').val());
        if (validateInput() == true) {
            if($('#InternalEmploymentID').val()!='0')
            {
                var formData = new FormData();
                var coverfile = document.getElementById("file").files[0];
                //alert($('#InternalEmploymentID').val());

                formData.append("file", coverfile);
                formData.append("EmploymentID", $('#InternalEmploymentID').val());
                formData.append("Description", $('#Description').val());
                formData.append("FileType", $('#FileType').val());
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/Employee/UploadInternalEmploymentDocs", true);
                xhr.addEventListener("load", function (evt, result) { UploadComplete(evt, result); }, false);
                xhr.addEventListener("error", function (evt) { UploadFailed(evt); }, false);
                xhr.send(formData);
            }
            else
            {
                ShowMessage("warning","Please fill Internalemployment details first.")                
            }
        }
        else
        {
            ShowMessage("warning","Please fill all the details in attatchments.")           

        }
    }


    function validateInput()
    {
        //alert($('#Description').val());
        //alert($('#FileType').val());
        if($('#Description').val()=="" || $('#FileType').val()=="" || document.getElementById("file").files[0]==null)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    function UploadComplete(evt, result) {

        if (evt.target.status == 200) {
            //alert("File uploaded successfully.");
            var data = null;
            var url = window.location + " #grid";
            //$('#grid').load(url, data);

            GetInternalEmployment();
            ShowMessage("success","File uploaded successfully.");
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: evt.target.statusText,
            });
        }
    }

    function UploadFailed(evt) {
        ShowMessage("error","File uploaded successfully.");
    }


    function RemoveDocs(id) {       
            
        $.MessageBox({ buttonDone: "Yes", buttonFail: "No", message: "Are you sure you want to delete?" }).done(function () {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                data: { Id: id },
                url: '/Employee/RemoveInternalEmploymentDocs',
                success: function (data) {
                    GetInternalEmployment();                   
                    ShowMessage(data.result,data.resultMessage)
                },
                error: function (data) { }
            });
        });

    }



</script>
