﻿@{
    ViewBag.Title = "HRMS - Employee List";
}

<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee List</li>
    </ul>
}
<!-- END BREADCRUMB -->
@{
    List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;
    bool changeStatusPermission = otherPermissions.Where(x => x.OtherPermissionId == 22).Count() > 0 ? true : false;
    bool canAddEmployee = otherPermissions.Where(x => x.OtherPermissionId == 23).Count() > 0 ? true : false;
    bool canExportEmployee = otherPermissions.Where(x => x.OtherPermissionId == 26).Count() > 0 ? true : false;
    bool showEmpActiveInActiveddl = otherPermissions.Where(x => x.OtherPermissionId == 27).Count() > 0 ? true : false;
}

<input type="checkbox" class="hidden" id="hdnchangeStatusPermission" @(changeStatusPermission == true ? "checked" : "") />

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <h3 class="panel-title"><span class="fa fa-user"></span> Employee List</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            @{
                                if (canAddEmployee)
                                {
                                    <a href="javascript:void(0);" title="Add New Employee" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 padding-0">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            @if (showEmpActiveInActiveddl)
                            {
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12 padding-0">
                                        <div class="col-sm-5 padding-0">
                                            <label class="label-form">
                                                Select Employee Active/InActive:
                                            </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <select id="employeeStatusddl" class="form-control selectpicker">
                                                <option value="1">Only Active</option>
                                                <option value="0">Only InActive</option>
                                                <option value="0,1">All (Active/InActive)</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                            }
                        </div>
                    </div>
                    <div class="col-sm-2 padding-1">
                        <div class="col-sm12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="getGrid()">
                            </div>
                            <div id="exportIcon" class="col-sm-7 padding-0 margin_bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-sm-12 innerdiv">
                    <table id="tbl_employee" class="table table-bordered table-striped" style="" width="100%"></table>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts
{
    <link href="~/Content/Messagebox.css" rel="stylesheet" />
    <script src="~/Scripts/messagebox.js"></script>
    <script>
        $(document).ready(function () {
            $("#exportIcon").html(getExportIcon("1", "ExportToExcel()", "ExportToPdf()"));

            $("#btnTextClear").click(function () {
                $('#txtSearch').val("");
                getGrid();
            });
            $("#btnTextSearch").click(function () {

                getGrid();
            });
        });
    </script>

    <script src="~/Scripts/Custom/Employee.js"></script>

}

