﻿@model string
@{
    Layout = null;
    var k =(int)Session["ImCounter"];
    Session["ImCounter"] =(int) k+1;
}

@if (Model == "Email" && ViewBag.EmailTypeList != null)
{
    <div class="form-group col-sm-12">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="txtDynamicEmails" />
        </div>
        <div class="col-sm-4 padding-left-0">
            <div class="input-group dropdownHide input-group-ddl">
                @Html.DropDownList("ddDynamicEmailType", (List<SelectListItem>)ViewBag.EmailTypeList, new { @name = "ddDynamicEmailType", @class = "form-control selectpickerddl" })
                <span class="input-group-addon add-on input-group-span">
                    <a href="javascript:Add('Add Email Type',1,'#ddDynamicEmailType')" data-toggle="tooltip" title="Add New Email Type!" style="color:#ffffff" id="">+</a>
                </span>
            </div>
        </div>
        <div class="col-sm-1" style="padding-left:10px;">

            <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
        </div>
    </div>

}
else if (Model == "IM" && ViewBag.IMAddressTypeList != null)
{
    var DynamicIM = "javascript:Add('Add IM Address Type',2,'#ddDynamicIMType" + k + "')";

    <div class="form-group col-sm-12">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="txtDynamicIM" />
        </div>

        <div class="col-sm-4">
            <div class="input-group dropdownHide input-group-ddl">
                @Html.DropDownList("ddDynamicIMType" + k + "", (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @name = "ddDynamicIMType", @class = "form-control selectpickerddl" })
                
                <span class="input-group-addon add-on input-group-span">
                    <a href='@DynamicIM' style="color:#ffffff">+</a>
                </span>
            </div>
        </div>
        <div class="col-sm-1" style="padding-left:8px;">
            <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
        </div>

    </div>

}
else if (Model == "Mobile" && ViewBag.MobileNumberList != null)
{
    <div class="form-group col-sm-12">
        <div class="col-sm-3"></div>

        <div class="col-sm-4">
            <input type="text" class="form-control" name="txtDynamicMobile" />
        </div>
        <div class="col-sm-4 padding-0">
            <div class="col-sm-12 input-group dropdownHide input-group-ddl">
                @Html.DropDownList("ddDynamicMobileType", (List<SelectListItem>)ViewBag.MobileNumberList, new { @name = "ddDynamicMobileType", @class = "form-control selectpickerddl" })
                <span class="input-group-addon add-on input-group-span">
                    <a href="javascript:Add('Add Mobile Type',4,'#ddDynamicMobileType')" data-toggle="tooltip" title="Add New Mobile Type!" style="color:#ffffff" id="">+</a>
                </span>
            </div>
        </div>
        <div class="col-sm-1" style="padding-left:10px;">

            <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
        </div>
    </div>
}

else if (Model == "Phone")
{
    <div class="form-group col-sm-12">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <input type="text" name="txtDynamicPhone" class="form-control" />
        </div>
            <div class="col-sm-1">
            <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
        </div>
    </div>
}

else if (Model == "PersonalEmail")
{
    <div class="form-group col-sm-12">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <input type="text" name="txtDynamicPersonalEmail" class="form-control" />
        </div>

        <div class="col-sm-1">

            @*<a class="btn btn-danger btn-rounded btn-condensed btn-sm RemoveDynamic" title="Delete"><i class="fa fa-times"></i> </a>*@
            <a class="RemoveDynamic" title="Delete"><i class="fa fa-minus-circle fa-2x red alinMiddle"></i> </a>
        </div>
    </div>
}

<script>
    // Remove Dynamically Added Fields
    $('.RemoveDynamic').click(function () {
        $(this).parent().parent().remove();
    });
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });

</script>
