﻿@model HRMS.Entities.EmployeeAddressInfoModel
@{
    Layout = null;
    Session["ImCounter"] = (int)0;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/Employee/Employee_AddEdit.js"></script>
<script>

    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });


    function ValidateForm() {
        $("#collapseOne").attr("class", "in");
        if ($("#frmUpdateEmployeeAddress").valid()) {

        }
    }

    function Add(title, id, dropdownId) {
        $("div.tooltip").hide();
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader1").html("");
        $("#modal_Loader1").load("/Employee/AddType/" + id);
        $("#myModal1").modal("show");
        $("#modal_heading1").text(title);
    }

    function CloaseEmployeeAddressPopup() {
        $("#myModal2").modal("hide");
    }


    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);
        $.MessageBox({
            buttonDone: "Ok",
            message: error,
        });
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage('success','Record is save successfully.');
            $("#myModal2").modal("hide");
            window.location.reload();
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: data.Message,
            });
        }

    }
</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("UpdateAddressInformation", "Employee", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmUpdateEmployeeAddress" }))
    {
        @Html.HiddenFor(m => m.EmployeeID, new { @class = "hiddenEmployeeID" })

        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-2 padding-0"></div>
                    <div class="col-sm-10">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.ApartmentNo, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ApartmentNo, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AddressLine, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AddressLine, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AddressLine1_2, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AddressLine1_2, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AddressLine1_3, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AddressLine1_3, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AddressLine2, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AddressLine2_2, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AddressLine2_2, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AddressLine2_3, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AddressLine2_3, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.Street, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.PoBox, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.PoBox, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.CountryID, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8 dropdownHide">
                            @Html.DropDownListFor(m => m.CountryID, (List<SelectListItem>)ViewBag.CountryList, "Select Country", new { @class = "form-control selectpickerddl", @data_live_search = "true", onchange = "CountryIDchange(this)" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.StateID, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8 input-group dropdownHide">
                            @Html.DropDownListFor(m => m.StateID, (List<SelectListItem>)ViewBag.StateList, new { @class = "form-control  selectpickerddl", @data_live_search = "true", onchange = "StateIDchange(this)",@id="employeeAddressInfoModel_StateID" })
                            <span class="input-group-addon add-on">
                                <a href="javascript:AddState('Add State',19,'#employeeAddressInfoModel_StateID')" data-toggle="tooltip" title="Add New  State!" style="color:#ffffff">+</a>
                            </span>

                        </div>

                    </div>
                    
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.CityID, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8 input-group dropdownHide">

                            @Html.DropDownListFor(m => m.CityID, (List<SelectListItem>)ViewBag.CityList, "Select City", new { @class = "form-control  selectpickerddl", @data_live_search = "true", onchange = "CityIDchange(this)",@id="employeeAddressInfoModel_CityID" })
                            <span class="input-group-addon add-on">
                                <a href="javascript:AddCity('Add City',20,'#employeeAddressInfoModel_CityID')" data-toggle="tooltip" title="Add New  City!" style="color:#ffffff">+</a>
                            </span>

                        </div>

                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.AreaId, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8 input-group dropdownHide">
                            @Html.DropDownListFor(m => m.AreaId, (List<SelectListItem>)ViewBag.AreaList, new { @class = "form-control  selectpickerddl", @data_live_search = "true",@id="employeeAddressInfoModel_AreaId" })
                            <span class="input-group-addon add-on">
                                <a href="javascript:AddArea('Add Area',8,'#employeeAddressInfoModel_AreaId')" data-toggle="tooltip" title="Add New  Area!" style="color:#ffffff">+</a>
                            </span>

                        </div>

                    </div>

                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.PostCode, new { @class = "col-sm-4 label-form" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                @*<input type="hidden" id="hidMultipleIMContact" name="hidMultipleIMContact" />*@

            </div>
        </div>
        <div class="panel-footer">
            <input type="button" value="Cancel" class="btn btn-primary pull-left" onclick="CloaseEmployeeAddressPopup();" />
            <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="ValidateForm();" />
        </div>
    }
</div>


