﻿@model HRMS.Entities.EmployeeContactModel
@{
    Layout = null;
    Session["ImCounter"] = (int)0;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/Employee/Employee_AddEdit.js"></script>
<script>

    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
    });


    function ValidateForm() {
        $("#collapseOne").attr("class", "in");
        if ($("#frmUpdateEmployeeContact").valid()) {

        }
    }

    function Add(title, id, dropdownId) {
        $("div.tooltip").hide();
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader1").html("");
        $("#modal_Loader1").load("/Employee/AddType/" + id);
        $("#myModal1").modal("show");
        $("#modal_heading1").text(title);
    }

    function CloaseEmployeeContactPopup() {
        $("#myModal2").modal("hide");
    }


    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);
        $.MessageBox({
            buttonDone: "Ok",
            message: error,
        });
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage(data.Message);
            $("#myModal2").modal("hide");
            window.location.reload();
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: data.Message,
            });
        }

    }
</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("UpdateContactInformation", "Employee", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmUpdateEmployeeContact" }))
    {
        @Html.HiddenFor(m => m.EmployeeID, new { @class = "hiddenEmployeeID" })

        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12 margin_bottom">
                    <div class="col-sm-2 padding-0"></div>
                    <div class="col-sm-10">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            @Html.LabelFor(m => m.PersonalEmail, new { @class = " label-form" })
                        </div>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-0">
                                @Html.TextBoxFor(m => m.PersonalEmail, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-11 ">
                                @Html.ValidationMessageFor(m => m.PersonalEmail)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            @Html.LabelFor(m => m.IMContact, new { @class = "label-form" })
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.IMContact, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group input-group-ddl">
                                @Html.DropDownListFor(m => m.IMContactType, (List<SelectListItem>)ViewBag.IMAddressTypeList, new { @class = "form-control IMAddressType selectpickerddl", required = "required" })
                            </div>
                            @Html.ValidationMessageFor(m => m.IMContact)
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            @Html.LabelFor(m => m.MobileNumberHome, new { @class = "label-form" })
                        </div>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-0">
                                @Html.TextBoxFor(m => m.MobileNumberHome, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-11">
                                @Html.ValidationMessageFor(m => m.MobileNumberHome)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        @Html.LabelFor(m => m.MobileNumberWork, new { @class = "col-sm-3 label-form" })
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-0">
                                @Html.TextBoxFor(m => m.MobileNumberWork, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-11">
                                @Html.ValidationMessageFor(m => m.MobileNumberWork)
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <input type="button" value="Cancel" class="btn btn-primary pull-left" onclick="CloaseEmployeeContactPopup();" />
            <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="ValidateForm();" />
        </div>
    }
</div>

