﻿@using HRMS.Entities.Forms
@using HRMS.Entities.Common;

@model IEnumerable<HRMS.Entities.Forms.RequestFormsApproveModel>
<fieldset class="fieldset-Section">
    <legend class="legend-border"><span id="lblComments" class="label-control legend-title-font" data-last-comment="@ViewBag.LastComment"> @PDRPCommonXMLResources.GetCommonPDRPResource("ApprovalHistory") </span></legend>
    <div class="col-sm-12 marginlr10px">
        <table class="table table-bordered alternatecolor">
            <thead>
                <tr>
                    <th class="col-sm-2">
                        @PDRPCommonXMLResources.GetCommonPDRPResource("ApproverGroup")
                    </th>
                    <th class="col-sm-2">@PDRPCommonXMLResources.GetCommonPDRPResource("ApproverName")</th>
                    <th class="col - sm - 2">@PDRPCommonXMLResources.GetCommonPDRPResource("ApprovalDate")</th>
                    <th class="col - sm - 3">@PDRPCommonXMLResources.GetCommonPDRPResource("Comments")</th>
                    <th class="col - sm - 3">@PDRPCommonXMLResources.GetCommonPDRPResource("ActionTaken")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var req in Model)
                {
                    <tr>
                        <td class="col-sm-2">@req.GroupName</td>
                        <td class="col-sm-2">@req.ApproverEmployeeName</td>
                        <td class="col-sm-2" dir="ltr">
                            @if (req.ReqStatusID != (short)RequestStatus.Pending)
                            {
                                <span> @req.ModifiedOn.ToString(@App.HRMSDateFormat)</span>
                            }

                        </td>
                        <td class="col-sm-3">@req.Comments</td>
                        <td class="col-sm-3">
                            @{
                                if (req.ReqStatusID == (short)RequestStatus.Pending)
                                {
                                    <span>@RequestStatus.Pending</span>
                                }
                                else if (req.ReqStatusID == (short)RequestStatus.Approved)
                                {
                                    if (req.GroupID == 0) //Requester record
                                    {
                                        <span>Intialized</span>
                                    }
                                    else if (req.GroupID == 1) //Employee group only comes for re intialized requests
                                    {
                                        <span>Reintialized</span>
                                    }
                                    else
                                    {
                                        <span>@RequestStatus.Approved</span>
                                    }
                                }
                                else if (req.ReqStatusID == (short)RequestStatus.Rejected)
                                {
                                    <span>@RequestStatus.Rejected</span>
                                }
                                else if (req.ReqStatusID == (short)RequestStatus.Completed)
                                {
                                    <span>@RequestStatus.Completed</span>
                                }
                                else
                                {
                                    <span> N/A </span>
                                }
                            }

                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</fieldset>