﻿@model HRMS.Entities.Forms.RequesterInfoViewModel
<div class="col-sm-12">
    <div class="col-sm-6 alternatecolor">
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Requester ID:", new { @class = "label-form" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RequesterAlternativeID, new { @class = "form-control" })</span></div>
           
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Request Date:", new { @class = "label-form" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RequestDate, new { @class = "form-control"})</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Department:", new { @class = "label-form" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.DepartmentName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Project:", new { @class = "label-form" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ProjectData, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Job Grade:", new { @class = "label-form" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.JobGrade, new { @class = "form-control" })</span></div>
        </div>
@if (Model.FormID == 11 || Model.FormID == 12)
{
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Nationality:", new { @class = "label-form" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.NationalityName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Passport No:", new { @class = "label-form"})</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PassportNo, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Passport Issue Date:", new { @class = "label-form"})</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PassportIssueDate, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Passport Expiry Date:", new { @class = "label-form"})</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PassportExpireDate, new { @class = "form-control" })</span></div>
        </div>
     
       
}
    </div>
    <div class="col-sm-6 alternatecolor">
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Requester Name:", new { @class = "label-form", @id = "RequesterName", @data_requestername = Model.RequesterName })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RequesterName, new { @class = "form-control", @id = "RequesterName"})</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Organization:", new { @class = "label-form", @id = "CompanyName", @data_companyname = Model.CompanyName })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.CompanyName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Designation:", new { @class = "label-form", @id = "PositionTitle", @data_positiontitle = Model.PositionTitle })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PositionTitle, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Requester Email:", new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.WorkEmail })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.WorkEmail, new { @class = "form-control"})</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Line Manager:", new { @class = "label-form", @id = "SuperviserName", @data_supervisername = Model.SuperviserName })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.SuperviserName, new { @class = "form-control"})</span></div>
        </div>
@if (Model.FormID == 11 || Model.FormID == 12)
{
    <div class="form-group col-sm-12">
        <div class="col-sm-4">@Html.Label("Date Of Birth:", new { @class = "label-form", @id = "BirthDate", @data_birthdate = Model.BirthDate })</div>
        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.BirthDate, new { @class = "form-control"})</span></div>
    </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Date Of Joining:", new { @class = "label-form", @id = "HireDate", @data_hiredate = Model.HireDate })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HireDate, new { @class = "form-control"})</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Visa No:", new { @class = "label-form", @id = "VisaNo", @data_visaNo = Model.VisaNo })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.VisaNo, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Visa ExpiryDate:", new { @class = "label-form", @id = "VisaExpireDate", @data_visaexpiredate = Model.VisaExpireDate })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.VisaExpireDate, new { @class = "form-control"})</span></div>
        </div>


}
@if(Session["IsR1Release"]!=null && ((bool)Session["IsR1Release"]))
    {
    <input type="hidden" id="hdnIsR1Release" value="1" />
}
else

{
    <input type="hidden" id="hdnIsR1Release" value="0" />
}
    </div>
</div>
