﻿@model HRMS.Entities.Types

@{Layout = null;}

<script>
   
    function Sucess(arg) {         
        var modelType = $('#frmAddtypediv').closest('.modal');
        $(modelType).modal("hide");                    
        if (arg == "BankName") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Employee/LoadBankName",
                dataType: "json",
                success: function (dataResult) {
                    var parsed = dataResult;
                    $(".dropBankList").append("<option value='" + parsed[0].Value + "'>" + parsed[0].Text + "</option>");
                    $(".dropBankList").parents('.ddlBankList').find('ul').append('<li class="active"><a tabindex="0"><label class="checkbox"><input type="checkbox" value=' + parsed[0].Value + '>' + parsed[0].Text + '</label></a></li>');                    
                    $jquery(".dropBankList").multiselect('selectAll', false);
                    $jquery(".dropBankList").multiselect('rebuild');
                },
                error: function (dataResult) {
                    $.MessageBox({ buttonDone: "Ok", message: 'error', });
                }
            });

        }
    }

    $(document).ready(function () {
        bindSelectpicker(".selectpickerddl");
    });

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="panel panel-default" id="divBankInformation">

    @using (Ajax.BeginForm("AddBankName", "Employee", null, new AjaxOptions { OnSuccess = "Sucess" }, new { @id = "frmAddtypediv" }))
    {
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group col-sm-5">
                </div>
                <div class="form-group col-sm-6">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="padding-top:10px;">
            </div>
            <div class="col-md-12 margin_bottom">
                <div class="col-sm-4 col-sm-offset-2">
                    <label class="label-form"><span class="required-field">*</span> Bank Name (EN):</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @placeholder = "English" })
                    @Html.ValidationMessageFor(m => m.Text)
                </div>
            </div>
            <div class="col-md-12 margin_bottom">
                <div class="col-sm-4 col-sm-offset-2">
                    <label class="label-form">Bank Name (AR):</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.TextArabic, new { @class = "form-control", @placeholder = "Arabic" })
                    @Html.ValidationMessageFor(m => m.TextArabic)
                </div>
            </div>
            <div class="col-md-12 margin_bottom">
                <div class="col-sm-4 col-sm-offset-2">
                    <label class="label-form">Bank Name (FR):</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.TextFrench, new { @class = "form-control", @placeholder = "French" })
                    @Html.ValidationMessageFor(m => m.TextFrench)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>
