﻿@model HRMS.Entities.HR_PaySundriesModel
@{
    Layout = null;
}
<script>

    function ValidateForm() {
    }

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    $("#AcYear").change(function () {
        GetAllPayBatch($(this).val(), "PayBatchID");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("warning", data.Message);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            if (data.CssClass == "Request") {
                ShowMessage("information", data.Message);
            } else {
                ShowMessage("success", data.Message);
            }
            getGrid();
            $("#myModal").modal("hide");
        }
        else {
            ShowMessage("error", data.Message);
        }
    }

    $(function (ind, item) {
        sundriesJson = [];
        $('form#frmAddHR_PaySundries').submit(function () {
            if (sundriesJson.length) {
                $('#hidPaySundriesList').val(JSON.stringify(sundriesJson));
                return true;
            } else {
                ShowMessage("error", "Please fill data");
                return false;
            }
        })
    });

</script>

<div class="panel panel-default" id="divPaySundries">

    @using (Ajax.BeginForm("AddHR_PaySundries", "PaySundries", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddHR_PaySundries", @class = "form-horizontal" }))
    {
        @Html.Hidden("hidPaySundriesList")
        <div class="panel-body">
            <div class="form-group">

                <div class="row">
                    <div class="col-sm-12 padding-0 margin_bottom">
                        <div class="col-sm-4 padding-0">

                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4 padding-0">
                            <div class="text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-0 margin_bottom">
                        <div class="col-sm-4 padding-0">
                            <label class="label-text"><span class="required-field">*</span>&nbsp;Sundry:</label>
                            @Html.DropDownListFor(m => m.HRSundryID, (SelectList)ViewBag.HRSundry, "Select Sundry", new { @class = "form-control selectpickerddl", required = "required" })
                            @Html.ValidationMessageFor(m => m.HRSundryID)
                        </div>
                        <div class="col-sm-4">
                            <label class="label-text"><span class="required-field">*</span>&nbsp;Academic Year:</label>
                            @Html.DropDownListFor(m => m.AcYear, (SelectList)ViewBag.AcademicYear, "Select Academic Year", new { @class = "form-control selectpickerddl", required = "required" })
                            @Html.ValidationMessageFor(m => m.AcYear)
                        </div>
                        <div class="col-sm-4 padding-0">
                            <label class="label-text"><span class="required-field">*</span>&nbsp;Pay Batch:</label>
                            @Html.DropDownListFor(m => m.PayBatchID, (List<SelectListItem>)ViewBag.PayBatch, "Select Pay Batch", new { @class = "form-control selectpickerddl", required = "required" })
                            @Html.ValidationMessageFor(m => m.PayBatchID)
                        </div>
                    </div>

                    <div class="col-md-12 padding-0 margin_bottom">
                        <table id="tblSundries" class="table table-condensed table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-md-4 text-center">
                                        Employee Name
                                    </th>
                                    <th class="col-md-3 text-center">
                                        Pay Sundries Date
                                    </th>
                                    <th class="col-md-3 text-center">
                                        Amount
                                    </th>
                                    <th class="col-md-2 text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="oldTr">
                                    <td>
                                        @Html.DropDownList("ddlEmployeeID", (SelectList)ViewBag.Employee, "Select Employee", new { @class = "form-control selectpickerddl",@data_live_search = "true" })
                                        @Html.ValidationMessageFor(m => m.EmployeeID)
                                    </td>
                                    <td>
                                        @Html.TextBox("txtPaySundriesDate", "", new { @class = "datepicker form-control" })
                                        @Html.ValidationMessageFor(m => m.PaySundriesDate)
                                    </td>
                                    <td>
                                        @Html.TextBox("txtAmount", "", new { @class = "form-control", @type = "number" })
                                        @Html.ValidationMessageFor(m => m.Amount)
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-info btn-rounded btn-condensed btn-sm btn-middleIcon" onclick="AddSundries(this)" title="Add"><i class="fa fa-plus"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label class="col-md-4 control-label">
                    Generate:
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.generate, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.generate)
                </div>
            </div>

        </div>

        <div class="panel-footer">
            <input type="submit" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    }
</div>

<script>

    $(function () {
        //$('#myModal > .modal-dialog').addClass("modal-lg");
        $("#Amount").val(0);
        $("#generate").val(0);
        bindSelectpicker(".selectpickerddl");
    });
</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>