﻿
@model List<HRMS.Entities.DataImportAccommodation>
@using HRMS.DataAccess
@using HRMS.Entities
@using System.Globalization
@{

    List<EmployeeDetailsModel> EmployeeDetailsList = ViewBag.EmployeeDetailsList as List<EmployeeDetailsModel>;
    List<CountryModel> Countries = ViewBag.Country as List<CountryModel>;
    List<CityModel> Cities = ViewBag.City as List<CityModel>;
    List<PickList> accommodationTypes = ViewBag.AccommodationTypeList as List<PickList>;
    bool IsValidData = true;
}
<hr />
<table id="tblAccommodationImportExcel" class="display table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Type</th>
            <th>Apartment No</th>
            <th>Building</th>
            <th>Floor</th>
            <th>Street</th>
            <th>Country</th>
            <th>City</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int EmployeeId;
            DateTime dateValue;
            bool IsValidType = accommodationTypes.Any(s => s.text.ToLower() == item.Type.ToLower());
            bool IsValidCountry = Countries.Any(s => s.CountryName.ToLower() == item.Country.ToLower());
            bool IsValidCity = Cities.Any(s => s.CityName.ToLower() == item.City.ToLower());
            bool IsValidAlternativeId = int.TryParse(item.EmployeeID, out EmployeeId) ? EmployeeDetailsList.Any(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)) : false;
            if (!IsValidType || !IsValidCountry || !IsValidAlternativeId || !IsValidCity)
            {
                IsValidData = false;
            }
            var employeeID = IsValidAlternativeId ? EmployeeDetailsList.Where(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)).Select(r => r.EmployeeID).FirstOrDefault() : 0;
            var type = accommodationTypes.FirstOrDefault(t => t.text.ToLower() == item.Type.ToLower()) ?? new PickList();
            var Country = Countries.FirstOrDefault(t => t.CountryName.ToLower() == item.Country.ToLower()) ?? new CountryModel();
            var city = Cities.FirstOrDefault(t => t.CityName.ToLower() == item.City.ToLower()) ?? new CityModel();
            <tr EmployeeId="@employeeID"
                type="@type.id"
                ApartmentNo="@item.ApartmentNo" Building="@item.Building" Floor="@item.Floor"
                Street="@item.Street" Country="@Country.CountryId" City="@city.CityId">

                <td class="@(IsValidAlternativeId?"":"highlightCell-danger")">
                    @item.EmployeeID
                </td>

                <td class="@(IsValidType ? "":"highlightCell-danger")">
                    @item.Type
                </td>
                <td class="@(item.ApartmentNo != null ? "":"highlightCell-danger")">
                    @item.ApartmentNo
                </td>
                <td class="@(item.Building != null ?"":"highlightCell-danger")">
                    @item.Building
                </td>
                <td class="@(item.Building != null ?"":"highlightCell-danger")">
                    @item.Floor
                </td>
                <td class="@(item.Building != null ?"":"highlightCell-danger")">
                    @item.Street
                </td>
                <td class="@(IsValidCountry?"":"highlightCell-danger")">
                    @item.Country
                </td>
                <td class="@(IsValidCity?"":"highlightCell-danger")">
                    @item.City
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="row col-sm-10">
    <div class="col-sm-1">
        <span class="highlightCell-danger" style="padding:9px; float:left; width:17%; margin-top:6px;"></span>
    </div>
    <div class="col-sm-11 padding-0">
        <label class="label-form">The highlighted data is in incorrect format, Please re-upload file after correct the data format.</label>
    </div>
</div>
@Html.Hidden("IsValidData", IsValidData)
@Html.Hidden("DataImportId", (int)ViewBag.DataImportId)

