﻿@model List<HRMS.Entities.DataImportAirfare>
@using HRMS.DataAccess
@using HRMS.Entities
@using System.Globalization
@{

    List<EmployeeDetailsModel> EmployeeDetailsList = ViewBag.EmployeeDetailsList as List<EmployeeDetailsModel>;
    List<CountryModel> Countries = ViewBag.Country as List<CountryModel>;
    List<CityModel> Cities = ViewBag.City as List<CityModel>;
    List<AirFareClasses> TicketClasses = ViewBag.TicketClasses as List<AirFareClasses>;
    List<PickList> EmployeeAirfareFrequencyList = ViewBag.EmployeeAirfareFrequencyList as List<PickList>;
    List<PickList> AirPortList = ViewBag.AirPortList as List<PickList>;

    bool IsValidData = true;
}
<hr />
<table id="tblAirfareImportExcel" class="display table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Air Ticket Country</th>
            <th>Air Ticket City</th>
            <th>Airport</th>
            <th>Air Ticket Amount</th>
            <th>Air Ticket Frequency</th>
            <th>Air Ticket Class</th>
            <th>No. Of Tickets For Dependants</th>
            <th>Air Ticket Amount For Dependants</th>
            <th>Ticket Class For Dependants</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int EmployeeId;
            bool IsValidCountry = Countries.Any(s => s.CountryName.ToLower() == item.AirTicketCountry.ToLower());
            bool IsValidCity = Cities.Any(s => s.CityName.ToLower() == item.AirTicketCity.ToLower());
            bool IsValidClasses = TicketClasses.Any(s => s.AirFareClassName.ToLower() == item.AirTicketClass.ToLower());
            bool IsValidFrequency = EmployeeAirfareFrequencyList.Any(s => s.text.ToLower() == item.AirfareFrequency.ToLower());
            bool IsValidAirport = AirPortList.Any(s => s.text.ToLower() == item.Airport.ToLower());
            bool IsValidAlternativeId = int.TryParse(item.EmployeeID, out EmployeeId) ? EmployeeDetailsList.Any(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)) : false;
            if (!IsValidCountry || !IsValidCity || !IsValidAlternativeId || !IsValidClasses || !IsValidFrequency)
            {
                IsValidData = false;
            }
            double Amount;
            bool IsValidAmount = double.TryParse(item.AirTicketAmount, out Amount);
            bool IsvalidAmountforDependants = double.TryParse(item.AirTicketAmountDependannt, out Amount);
            var Country = Countries.FirstOrDefault(t => t.CountryName.ToLower() == item.AirTicketCountry.ToLower()) ?? new CountryModel();
            var city = Cities.FirstOrDefault(t => t.CityName.ToLower() == item.AirTicketCity.ToLower()) ?? new CityModel();
            var ticketClass = TicketClasses.FirstOrDefault(t => t.AirFareClassName.ToLower() == item.AirTicketClass.ToLower()) ?? new AirFareClasses();
            var frequency = EmployeeAirfareFrequencyList.FirstOrDefault(t => t.text.ToLower() == item.AirfareFrequency.ToLower()) ?? new PickList();
            var airport = AirPortList.FirstOrDefault(t => t.text.ToLower() == item.Airport.ToLower()) ?? new PickList();
            var classofdependent = TicketClasses.FirstOrDefault(t => t.AirFareClassName.ToLower() == item.TicketClassForDependant.ToLower()) ?? new AirFareClasses();
            var employeeID = IsValidAlternativeId ? EmployeeDetailsList.Where(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)).Select(r => r.EmployeeID).FirstOrDefault() : 0;
            <tr EmployeeId="@employeeID" AirTicketCountry="@Country.CountryId" AirTicketCity="@city.CityId" Airport="@airport.id"
                AirTicketAmount="@item.AirTicketAmount" AirfareFrequency="@frequency.id" AirTicketClass="@ticketClass.AirFareClassId"
                NoOfDependencies="@item.NoOfDependencies" AirTicketAmountDependannt="@item.AirTicketAmountDependannt" TicketClassForDependant="@classofdependent.AirFareClassId">

                <td class="@(IsValidAlternativeId?"":"highlightCell-danger")">
                    @item.EmployeeID
                </td>
                <td class="@(IsValidCountry ? "":"highlightCell-danger")">
                    @item.AirTicketCountry
                </td>
                <td class="@(IsValidCity ? "":"highlightCell-danger")">
                    @item.AirTicketCity
                </td>
                <td class="@(IsValidAirport ?"":"highlightCell-danger")">
                    @item.Airport
                </td>
                <td class="@(IsValidAmount?"":"highlightCell-danger")">
                    @item.AirTicketAmount
                </td>
                <td class="@(IsValidFrequency ?"":"highlightCell-danger")">
                    @item.AirfareFrequency
                </td>
                <td class="@(IsValidClasses ?"":"highlightCell-danger")">
                    @item.AirTicketClass
                </td>
                <td>
                    @item.NoOfDependencies
                </td>
                <td>
                    @item.AirTicketAmountDependannt
                </td>
                <td>
                    @item.TicketClassForDependant
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row col-sm-10">
    <div class="col-sm-1">
        <span class="highlightCell-danger" style="padding:9px; float:left; width:17%; margin-top:6px;"></span>
    </div>
    <div class="col-sm-11 padding-0">
        <label class="label-form">The highlighted data is in incorrect format, Please re-upload file after correct the data format.</label>
    </div>
</div>
@Html.Hidden("IsValidData", IsValidData)
@Html.Hidden("DataImportId", (int)ViewBag.DataImportId)


