﻿@model List<HRMS.Entities.DataImportInsurance>
@using HRMS.DataAccess
@using HRMS.Entities
@using System.Globalization
@{

    List<EmployeeDetailsModel> EmployeeDetailsList = ViewBag.EmployeeDetailsList as List<EmployeeDetailsModel>;
    List<PickList> InsuranceCategories = ViewBag.InsuranceCategories as List<PickList>;
    List<PickList> InsuranceEligibility = ViewBag.InsuranceEligibility as List<PickList>;
    bool IsValidData = true;
}
<hr />
<table id="tblInsuranceImportExcel" class="display table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Insurance Category</th>
            <th>Insurance Eligibility</th>
            <th>Card Number</th>
            <th>Policy Number</th>
            <th>Insurance Amount</th>
            <th>Amount Paid By School</th>
            <th>Expiry Date</th>
            <th>Issue Date</th>
            <th>Cancellation Date</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int EmployeeId;
            DateTime dateValue;
            bool IsValidCategory = InsuranceCategories.Any(s => s.text.ToLower() == item.InsuranceCategory.ToLower());
            bool IsValidEligibility = InsuranceEligibility.Any(s => s.text.ToLower() == item.InsuranceEligibility.ToLower());
            bool IsValidAlternativeId = int.TryParse(item.EmployeeID, out EmployeeId) ? EmployeeDetailsList.Any(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)) : false;
            bool IsValidExpiryDate = DateTime.TryParseExact(item.FormattedExpiryDate, "dd/MM/yyyy", null, DateTimeStyles.None, out dateValue);
            bool IsValidIssueDate = DateTime.TryParseExact(item.FormattedIssueDate, "dd/MM/yyyy", null, DateTimeStyles.None, out dateValue);
            if (!IsValidCategory || !IsValidEligibility || !IsValidAlternativeId || !IsValidExpiryDate || !IsValidIssueDate)
            {
                IsValidData = false;
            }
            double Amount;
            bool IsValidAmount = double.TryParse(item.InsuranceAmount, out Amount);
            bool IsValidSchoolAmount = double.TryParse(item.AmountPaidBySchool, out Amount);
            var insuranceCategory = InsuranceCategories.FirstOrDefault(ic => ic.text == item.InsuranceCategory) ?? new PickList();
            var insuranceEligibility = InsuranceEligibility.FirstOrDefault(ic => ic.text == item.InsuranceEligibility) ?? new PickList();
            var employeeID = IsValidAlternativeId ? EmployeeDetailsList.Where(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)).Select(r => r.EmployeeID).FirstOrDefault() : 0;
            <tr EmployeeId="@employeeID"
                insuranceCategoryId="@insuranceCategory.id"
                insuranceEligibiltyId="@insuranceEligibility.id" cardNumber="@item.CardNumber" policyNumber="@item.PolicyNumber"
                expiryDate="@item.ExpiryDate" issueDate="@item.IssueDate" cancellationDate="@item.CancellationDate"
                insuranceAmount="@item.InsuranceAmount" amountpaidBySchool="@item.AmountPaidBySchool" note="@item.Note">

                <td class="@(IsValidAlternativeId?"":"highlightCell-danger")">
                    @item.EmployeeID
                </td>
                <td class="@(IsValidCategory ? "":"highlightCell-danger")">
                    @item.InsuranceCategory
                </td>
                <td class="@(IsValidEligibility ? "":"highlightCell-danger")">
                    @item.InsuranceEligibility
                </td>
                <td class="@(item.CardNumber != null ?"":"highlightCell-danger")">
                    @item.CardNumber
                </td>
                <td class="@(item.PolicyNumber != null ?"":"highlightCell-danger")">
                    @item.PolicyNumber
                </td>
                <td class="@(IsValidAmount ?"":"highlightCell-danger")">
                    @item.InsuranceAmount
                </td>
                <td class="@(IsValidSchoolAmount ?"":"highlightCell-danger")">
                    @item.AmountPaidBySchool
                </td>
                <td class="@(IsValidExpiryDate?"":"highlightCell-danger")">
                    @item.FormattedExpiryDate
                </td>
                <td class="@(IsValidIssueDate?"":"highlightCell-danger")">
                    @item.FormattedIssueDate
                </td>
                <td>
                    @item.FormattedCancellationDate
                </td>
                <td>
                    @item.Note
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row col-sm-10">
    <div class="col-sm-1">
        <span class="highlightCell-danger" style="padding:9px; float:left; width:17%; margin-top:6px;"></span>
    </div>
    <div class="col-sm-11 padding-0">
        <label class="label-form">The highlighted data is in incorrect format, Please re-upload file after correct the data format.</label>
    </div>
</div>
@Html.Hidden("IsValidData", IsValidData)
@Html.Hidden("DataImportId", (int)ViewBag.DataImportId)

