﻿@model List<HRMS.Entities.DataImportPayAddition>
@using HRMS.DataAccess
@using HRMS.Entities
@using System.Globalization
@{
    List<PaySalaryAllowance> PaySalaryAllowanceList = new AdditionPaidCycleDB().GetAllPaySalaryAllowance();
    var EmployeeAlternativeIdList = Model.Select(s => s.EmployeeID).Distinct().ToList();


    string EmployeeAlternativeIds = string.Join(",", EmployeeAlternativeIdList);
    List<EmployeeDetailsModel> EmployeeDetailsList = new DataImportDB().GetEmployeeIdsRelatedAlternativeIds(EmployeeAlternativeIds);
    bool IsValidData = true;
}
<hr />
<table id="tblPayAdditionImportExcel" class="display table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Pay Salary Allowance Name (EN)</th>
            <th>Addition Date</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int EmployeeId;
            DateTime dateValue;
            bool IsValidPaySalAllow = PaySalaryAllowanceList.Any(s => s.PaySalaryAllowanceName_1.ToLower() == item.PaySalaryAllowanceName.ToLower());
            bool IsValidAlternativeId = int.TryParse(item.EmployeeID, out EmployeeId) ? EmployeeDetailsList.Any(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)) : false;
            bool IsValidAdditionDate = DateTime.TryParseExact(item.FormattedAdditionDate, "dd/MM/yyyy", null, DateTimeStyles.None, out dateValue);       
            if (!IsValidPaySalAllow || !IsValidAlternativeId || !IsValidAdditionDate)
            {
                IsValidData = false;
            }
            double Amount;
            bool IsValidAmount = double.TryParse(item.Amount, out Amount);
            <tr EmployeeId="@(IsValidAlternativeId?EmployeeDetailsList.Where(s => Convert.ToInt32(s.EmployeeAlternativeID) == Convert.ToInt32(item.EmployeeID)).Select(r=>r.EmployeeID).FirstOrDefault():0)"
                PaySalaryAllowanceId="@PaySalaryAllowanceList.Where(s => s.PaySalaryAllowanceName_1.ToLower() == item.PaySalaryAllowanceName.ToLower()).Select(r=>r.PaySalaryAllowanceID).FirstOrDefault()"
                AdditionDate="@item.AdditionDate" Amount="@item.Amount" Description="@item.Description">

                <td class="@(IsValidAlternativeId?"":"highlightCell-danger")">
                    @item.EmployeeID
                </td>
                <td class="@(IsValidPaySalAllow?"":"highlightCell-danger")">
                    @item.PaySalaryAllowanceName
                </td>
                <td class="@(IsValidAdditionDate?"":"highlightCell-danger")">
                    @item.FormattedAdditionDate
                </td>
                <td class="@(IsValidAmount?"":"highlightCell-danger")">
                    @item.Amount
                </td>
                <td>
                    @item.Description
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row col-sm-10">
    <div class="col-sm-1">
        <span class="highlightCell-danger" style="padding:9px; float:left; width:17%; margin-top:6px;"></span>
    </div>
    <div class="col-sm-11 padding-0">
        <label class="label-form">The highlighted data is in incorrect format, Please re-upload file after correct the data format.</label>
    </div>
</div>
@Html.Hidden("IsValidData", IsValidData)
@Html.Hidden("DataImportId",(int) ViewBag.DataImportId)
