﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.SeparationRequestFormModel
@{
    ViewBag.Title = "Employee Separation Request";    
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Separation Request</li>
    </ul>
}
<style>
    .margintop10 {
        margin-top: 10px !important;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSeparationRequestForm" }))
{
    <div class="row">
        <div class="col-sm-12">           
            <div class="panel panel-default">
                @Html.Hidden("hdnFormProcessID", (object)ViewBag.FormProcessID, new { @id = "hdnFormProcessID" })
                @Html.Hidden("hdnSeparationRequestFormID", (object)ViewBag.SeparationRequestFormID, new { @id = "hdnSeparationRequestFormID" })
                @Html.Hidden("hdnEmployeeID", (object)ViewBag.EmployeeId, new { @id = "hdnEmployeeID" })
                @Html.Hidden("hdnCompanyID", (object)ViewBag.CompanyID, new { @id = "hdnCompanyID" })
                @Html.Hidden("hdnFormID", (object)ViewBag.FormID, new { @id = "hdnFormID" })
                @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })              
                <div class="panel-heading">
                    <div class="col-sm-8 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-cubes"></span>
                            Employee Separation Request
                            @if (ViewBag.RequestID != null && ViewBag.RequestID != '0')
                            {
                                <span>(Request ID : @ViewBag.RequestID)</span>
                            }

                        </h3>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="pull-right">
                        @if ((ViewBag.FormProcessID == null && string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID))) || Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {                            
                            <a href="javascript:void(0);" title=@((ViewBag.FormProcessID == null && string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID))) ? "Submit" : "Re-Submit")  id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                        }
                        else if (ViewBag.FormProcessID != null && !string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID)) && int.Parse(ViewBag.FormProcessID.ToString()) > 0)
                        {
                            <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                            <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                        }
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 13, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = Model.IsAddMode, formProcessId = (object)ViewBag.FormProcessID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Employee Details: </span>
                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.EmployeeID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.EmployeeID, (SelectList)ViewBag.Employee, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployeeID" })
                                            @Html.ValidationMessageFor(m => m.EmployeeID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.Nationality)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control", @readonly = "readonly", @id = "txtNationality" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.DOJ)</label></div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.DOJ, new { @class = "form-control", @readonly = "readonly", @id = "txtDOJ" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.MobileNumber)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @readonly = "readonly", @id = "txtMobileNumber" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.Project)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly", @id = "txtProject" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.JobGrade)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.JobGrade, new { @class = "form-control", @readonly = "readonly", @id = "txtJobGrade" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.Company)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @readonly = "readonly", @id = "txtCompany" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.Department)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Department, new { @class = "form-control", @readonly = "readonly", @id = "txtDepartment" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.Designation)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", @readonly = "readonly", @id = "txtDesignation" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LineManager)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LineManager, new { @class = "form-control", @readonly = "readonly", @id = "txtLineManager" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.LineManagerID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.LineManagerID, new { @class = "form-control", @readonly = "readonly", @id = "txtLineManagerID" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Other Details:
                                </span>

                            </legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SeparationTypeID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SeparationTypeID, (List<SelectListItem>)ViewBag.SeparationType, new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlSeparationTypeID" })
                                            @Html.ValidationMessageFor(m => m.SeparationTypeID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SupportingDocFileID)</label></div>
                                        @{
                                            var itemSD = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.SupportingDocFileID);
                                            if (itemSD != null && itemSD.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemSD.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_SD">@itemSD.FileName.Substring(0, 15)</span><div id="file_caption_id_SD"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_SD">@itemSD.FileName.ToString()</span><div id="file_caption_id_SD"></div>
                                                            }


                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_SD" onclick="RemoveDocument('SD', 'SupportingDocFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_SD"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_SD"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_SD" class="PreviewName">
                                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('SeparationRequestForm',@Model.SupportingDocFileID);">@itemSD.FileName</a>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_SD" style="margin-top: 3px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_SD" />
                                                    <input type="hidden" value="@Model.SupportingDocFileID" id="hdnFileUpload_SD" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_SD"></span><div id="file_caption_id_SD"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_SD" onclick="RemoveDocument('SD', 'SupportingDocFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_SD"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_SD"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_SD" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_SD" style="margin-top: 3px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_SD" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_SD" />
                                                </div>

                                            }
                                        }
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label for="chkInitiateHiringReplacement" class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.InitiateHiringReplacement)</label>
                                        </div>
                                        <div class="col-sm-8">@Html.CheckBoxFor(m => m.InitiateHiringReplacement, new { @id = "chkInitiateHiringReplacement", @class = "margintop10" })</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.DateOfSeparation)</label> </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBox("txtDateOfSeparation", Model.DateOfSeparation, new { @class = "DOB form-control calculatenoticed" , @autocomplete = "off" })
                                            </div>
                                            <span id="lblValidateDateOfSeparation" class="field-validation-error"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.LastWorkingDay)</label> </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBox("txtLastWorkingDay", Model.LastWorkingDay, new { @class = "DOB form-control calculatenoticed", @autocomplete = "off" })
                                            </div>
                                            <span id="lblValidateLastWorkingDay" class="field-validation-error"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.NoticedPeriodDays)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.NoticedPeriodDays, new { @class = "form-control", @readonly = "readonly", @id = "txtNoticedPeriodDays" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    @Html.DisplayNameFor(m => m.ReasonForSeparation)
                                </span>
                                <span id="lblCharsLeft_txtReasonForSeparation" class="legend-title-font"> </span>
                            </legend>

                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.ReasonForSeparation, new { @class = "form-control calculatecharsleft", @maxlength = 3000, @id = "txtReasonForSeparation" })</div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label class="label-form" style="font-size:12px !important">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </label>
                                <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                        @if (ViewBag.FormProcessID != null && !string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID)) && int.Parse(ViewBag.FormProcessID.ToString()) > 0)
                        {
                            <div class="row">
                                @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = ViewBag.FormProcessID }); }
                            </div>
                        }
                    </div>

                </div>

                <div class="panel-footer">
                    <div class="form-group pull-left">
                        @if ((ViewBag.FormProcessID == null && string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID))) || Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <button type="button" title=@((ViewBag.FormProcessID == null && string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID))) ? "Submit" : "Re-Submit") id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> @((ViewBag.FormProcessID == null && string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID))) ? "Submit" : "Re-Submit")</button>
                        }
                        else if (ViewBag.FormProcessID != null && !string.IsNullOrEmpty(Convert.ToString(ViewBag.FormProcessID)) && int.Parse(ViewBag.FormProcessID.ToString()) > 0)
                        {
                            <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                            <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                        }
                        <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                            }
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
    });
    $jquery("#fu_SD").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_SD").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_SD").text("");
                $jquery("#divBrowse_SD").hide();
                //$jquery("#btnUploadAdd_JD").show();
                $jquery("#btnRemove_SD").show();
                $jquery("#file_caption_name_SD").show();
                $jquery("#file_caption_id_SD").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_SD").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_SD').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_SD").val('0');
            }
            else {
                $jquery("#txtuploadedMsgAdd_SD").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_SD").hide();
                $jquery("#divAddInforamtionDialog_SD").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_SD").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_SD").hide();
            $jquery("#divAddInforamtionDialog_SD").hide();
        }
    });

</script>

@section Scripts
{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/SeparationRequestForm.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
}



