﻿
@model HRMS.Entities.ShortLeaveSettingsModel

@{
    /**/

    Layout = null;
}

@using (Ajax.BeginForm("AddEditShortLeaveSettings", "GeneralControl", new AjaxOptions { OnFailure = "onShortLeaveSettingsFailure", OnSuccess = "onShortLeaveSettingsSuccess" }, new { id = "frmShortLeaveSettings" }))
{
    @Html.HiddenFor(m => m.ShortLeaveSettingId)
    @Html.HiddenFor(x => x.EmployeeIdsToNotifyUponApproval)
    <div class="panel-body form-horizontal col-lg-12 col-md-12">
        <div class="form-group col-md-12">
            <div class="col-sm-4">
                <label class="label-form">Select Approver :</label>
            </div>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.ApproverMasterId, (SelectList)ViewBag.ApproverTypeList, "Select Approver", new { @class = "form-control selectpickerddl" })
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-sm-4">
                <label class="label-form">Select Employees to notify upon approval/HR:</label>
            </div>
            <div class="col-sm-8">
                <div class="multi-Select multiddl multiEmployee">
                    <select multiple="multiple" id="EmployeeListddl" name="EmployeeListddl" class="form-control">
                        @{
                            if (!string.IsNullOrEmpty(Model.EmployeeIdsToNotifyUponApproval))
                            {
                                var empIds = Model.EmployeeIdsToNotifyUponApproval.Split(',');
                                foreach (var item in (SelectList)ViewBag.EmployeeIdsToNotifyList)
                                {
                                    <option value="@item.Value" @(empIds.Contains(item.Value) ? "selected=true" : "")>@item.Text</option>
                                }
                            }
                            else
                            {
                                foreach (var item in (SelectList)ViewBag.EmployeeIdsToNotifyList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" onclick="SaveShortLeaveSettings()" class="btn btn-primary pull-right" value="Submit" />
    </div>
}


<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/bootstrap-multiselect-collapsible-groups.js"></script>

<script type='text/javascript' src='~/Content/assets/js/plugins/noty/jquery.noty.js'></script>
<script type='text/javascript' src='~/Content/assets/js/plugins/noty/layouts/topCenter.js'></script>
<script type='text/javascript' src='~/Content/assets/js/plugins/noty/layouts/topLeft.js'></script>
<script type='text/javascript' src='~/Content/assets/js/plugins/noty/layouts/topRight.js'></script>
<script type='text/javascript' src='~/Content/assets/js/plugins/noty/themes/default.js'></script>