﻿@model HRMS.Entities.General.PayCategoriesModel
@{
    Layout = null;
    int i = 0;
}
@{
    bool IsCostCenterValidated = (bool)ViewBag.IsCostCenterValidated;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getPayCategories();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divPayCatagory">
    @using (Ajax.BeginForm("AddEditPayCatagory", "GeneralControl", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditPayCategory" }))
    {
        @Html.HiddenFor(x => x.CategoryID)
        <input type="hidden" id="isCostCenterValid" value="@IsCostCenterValidated.ToString()" />
        
        <input type="hidden" id="CostCenters" name="CostCenters" />
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Pay Category Name (EN):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.CategoryName_1, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.CategoryName_1)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Pay Category Name (AR):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.CategoryName_2, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Pay Category Name (FR):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.CategoryName_3, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Pay Category Sequence:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.seq, new { @class = "form-control" })

                    </div>
                </div>
                @if (IsCostCenterValidated)
                {

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default col-md-12 padding-0">
                            <div class="panel-heading">

                                <h3 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Cost Center</a>
                                </h3>
                            </div>
                            <div id="collapseOne" aria-expanded="true" class="collapse in panel-body">
                                <div class="table-responsive col-sm-12" style="max-height:360px;">
                                    <table id="tbl_CostCenterDetails" class="table table-bordered table-striped" >
                                        <thead>
                                            <tr>
                                                <td class="col-sm-5">Cost Center</td>
                                                <td class="col-sm-4">Percentage</td>
                                                <td class="col-sm-3">Actions</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.lstCostCenters)
                                                    {
                                                    <tr id="rowId_@item.DimensionValueID" data-rowId="@item.DimensionValueID">
                                                        <td class="col-sm-5">@item.DimensionName-@item.DimensionValueName</td>
                                                        <td class="col-sm-4">@item.Percentage.ToString("0.00")%</td>
                                                        <td class="col-sm-3"><a class='btn btn-success btn-rounded btn-condensed btn-sm' data-id='@i' onclick='EditCostCenterPercentage(this)' title='Edit'><i class='fa fa-pencil'></i> </a></td>
                                                        @{
                                                                i++;
                                                        }

                                                    </tr>
                                                                }
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>




                                                            }

            </div>
        </div>
        <div class="panel-footer">
            <input type="button" onclick="SavePayCategoryDetails()" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
                                                            }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/GeneralControl/CostCenters.js"></script>

