﻿@model HRMS.Entities.General.DocumentRemindersModel
@using HRMS.Entities.Common;
@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", "Records saved successfully.");
            ShowGeneralControlType(22);
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divAcademic">
    @using (Ajax.BeginForm("AddEditDocumentReminder", "GeneralControl", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditQualifications" }))
    {
        @Html.HiddenFor(x => x.DocReminderID)
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Select Reminder Type:</label>
                    </div>
                    <div class="col-sm-9 padding-0">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                @Html.CheckBoxFor(m => m.AboutToExpire, new { @id = "chkAboutToExpire", @onchange = "AboutToExpireChanged()", @class = "check-form" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.LabelFor(m => m.AboutToExpire, new { @for = "chkAboutToExpire", @class = "label-form" })
                            </div>
                            <div class="col-sm-8 padding-0" id="expiringOptions">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0 ">
                                        <label class="label-form"> Enter Number of Days:</label>
                                    </div>
                                    <div class="col-sm-2 padding-0">
                                        @Html.TextBoxFor(m => m.ExpiringNumberOfDays, new { @class = "form-control positiveOnly margin-top-number label-form" })
                                    </div>
                                    <div class="col-sm-5">
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.ExpiringNumberOfDays)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">

                    </div>
                    <div class="col-sm-9 padding-0">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                @Html.CheckBoxFor(m => m.AlreadyExpire, new { @id = "chkAlreadyExpire", @onchange = "AlreadyExpireChanged()", @class = "check-form" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.LabelFor(m => m.AlreadyExpire, new { @for = "chkAlreadyExpire", @class = "label-form" })
                            </div>
                            <div class="col-sm-8 padding-0" id="expiredOptions">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <label class="label-form"> Enter Number of Days:</label>
                                    </div>
                                    <div class="col-sm-2 padding-0">
                                        @Html.TextBoxFor(m => m.ExpiredNumberOfDays, new { @class = "form-control positiveOnly margin-top-number label-form" })
                                    </div>
                                    <div class="col-sm-5">
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.ExpiredNumberOfDays)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Select Frequency:</label>
                    </div>
                    <div class="col-sm-6 padding-0">
                        @Html.DropDownListFor(m => m.FrequencyType, new SelectList(new List<Object>{
                                        new { value = "" , text = "Select"  },
                                        new { value = "Daily" , text = "Daily" },
                                        new { value = "Weekly" , text = "Weekly"},
                                        new { value = "Monthly" , text = "Monthly"}
                                    },
                                    "value",
                                    "text",
                    0), new
                    {
                        @id = "ddlFrequencyType",
                        @class = "form-control selectpickerddl",
                        @onchange = "FrequencyChanged(this)",
                        @data_daily_reminder_msg = ViewBag.DailyReminderMsg,
                        @data_weekly_reminder_msg = ViewBag.WeeklyReminderMsg,
                        @data_monthly_reminder_msg = ViewBag.MonthlyReminderMsg
                    })
                        @Html.ValidationMessageFor(m => m.FrequencyType)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0" id="frequencyMsg">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Schedule:</label>
                    </div>
                    <div class="col-sm-6 padding-0 frequency-msg">
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Select Email Receiver(s):</label>&nbsp;<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Select receiver(s) who will get document reminder." class="information-icon fa fa-info-circle"></span>
                    </div>
                    <div class="col-sm-6 padding-0 multi-Select multiddl ddlEmployee">
                        <select multiple="multiple" id="ddlEmployeeList" class="form-control" name="EmployeeList">
                            @foreach (var item in (SelectList)ViewBag.EmployeeList)
                            {
                                if (((List<int>)ViewBag.SelectedEmployeeList).Contains(Convert.ToInt32(item.Value)))
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-4">
                <div class="form-group " style="float: inherit;">
                    <button type="submit" title="Save Data" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Save")</button>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    //
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '200', includeSelectAllOption: true });
        AboutToExpireChanged();
        AlreadyExpireChanged();
        FrequencyChanged($('#ddlFrequencyType'));
    });
</script>

