﻿@model HRMS.Entities.General.AttendanceRemindersModel
@using HRMS.Entities.Common;
@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", "Records saved successfully.");
            ShowGeneralControlType(22);
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divAcademic">
    @using (Ajax.BeginForm("AddEditAttendanceReminder", "GeneralControl", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditAttendanceReminder" }))
    {
        @Html.HiddenFor(x => x.AttReminderID)
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Enable Reminder:</label>
                    </div>
                    <div class="col-sm-6 padding-0">
                        @Html.CheckBoxFor(m => m.EnableReminder, new { @class = "reminder-chk-margin" })
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Attendance Status:</label>
                    </div>
                    <div class="col-sm-6 padding-0 multi-Select multiddl ddlAttendanceStatus">
                        <select multiple="multiple" id="ddlAttendanceStatusList" class="form-control" name="AttendanceStatusList">
                            @foreach (var item in (SelectList)ViewBag.AbsentStatusList)
                            {
                                if (((List<int>)ViewBag.SelectedAbsentStatusList).Contains(Convert.ToInt32(item.Value)))
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Select Employee(s):</label>&nbsp;<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Select employee(s) who will get attendance reminder." class="information-icon fa fa-info-circle"></span>
                    </div>
                    <div class="col-sm-6 padding-0 multi-Select multiddl ddlAttEmployee">
                        <select multiple="multiple" id="ddlAttEmployeeList" class="form-control" name="AttEmployeeList">
                            @foreach (var item in (SelectList)ViewBag.EmployeeList)
                            {
                                if (((List<int>)ViewBag.SelectedEmployeeList).Contains(Convert.ToInt32(item.Value)))
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-4">
                <div class="form-group " style="float: inherit;">
                    <button type="submit" title="Save Data" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Save")</button>
                </div>
            </div>
            @*<input type="submit" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />*@
            @*<input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />*@
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    //
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlAttendanceStatusList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '200', includeSelectAllOption: false });
        $jquery('#ddlAttEmployeeList').multiselect({ selectAllText: 'Select All Employees', enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '200', includeSelectAllOption: true });
    });
</script>

