﻿
@model HRMS.Entities.AbsentTypeModel

@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });
    $(document).ready(function () {

        var isDeductionChecked = $("#ISDeductable").is(":checked");
        if (isDeductionChecked) {
            $("#DeductionSetting").removeClass("hidden");
        }
        else {
            $("#DeductionSetting").addClass("hidden");
        }
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getGridAbsentTypes();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }

    $("#ISDeductable").click(function () {
        showOtherDeductionSetting();
    })

    function showOtherDeductionSetting() {
        var isChecked = $("#ISDeductable").is(":checked");
        if (isChecked) {
            $("#DeductionSetting").removeClass("hidden");
        }
        else {
            $("#DeductionSetting").addClass("hidden");
            $("#DeductAdjacentOffdays").prop('checked', false);
            $("#DeductEnClosedOffdays").prop('checked', false);
            $("#DeductAdjAcentHoliday").prop('checked', false);
        }
    }
</script>
<div class="panel panel-default" id="divAcademic">
    @using (Ajax.BeginForm("AddEditAbsentType", "GeneralControl", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditAbsentType" }))
    {
        @Html.HiddenFor(x => x.PayAbsentTypeID)
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Absent Type Name (EN):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PayAbsentTypeName_1, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.PayAbsentTypeName_1)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Absent Type Name (AR):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PayAbsentTypeName_2, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Absent Type Name (FR):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PayAbsentTypeName_3, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Select Paid Type:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.PaidType, (SelectList)ViewBag.PaidTypes, new { @class = "form-control selectpickerddl" })
                        @Html.ValidationMessageFor(m => m.PaidType)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label for="AnnualLeave">Is Annual:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.CheckBoxFor(m => m.AnnualLeave)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0 margin_bottom">
                    <div class="col-sm-4 padding-0">
                        <label for="ISDeductable">Is Deductable:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.CheckBoxFor(m => m.ISDeductable)
                    </div>
                </div>
                <div id="DeductionSetting" class="hidden">
                    <div class="form-group col-md-12 padding-0 margin_bottom">
                        <div class="col-sm-4 padding-0">
                            <label for="DeductAdjacentOffdays">
                                Deduct adjacent offdays:&nbsp;
                            </label>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="If absence occures right before or after offday, then offdays will be deducted." class="information-icon fa fa-info-circle cursorPointer" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-8">
                            @Html.CheckBoxFor(m => m.DeductAdjacentOffdays)
                        </div>
                    </div>
                    <div class="form-group col-md-12 padding-0 margin_bottom">
                        <div class="col-sm-4 padding-0">
                            <label for="DeductEnClosedOffdays">Deduct enclosed offdays:&nbsp;</label>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="If absence occures before and after offday, then offdays will be deducted." class="information-icon fa fa-info-circle cursorPointer" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-8">
                            @Html.CheckBoxFor(m => m.DeductEnClosedOffdays)
                        </div>
                    </div>
                    <div class="form-group col-md-12 padding-0 margin_bottom">
                        <div class="col-sm-4 padding-0">
                            <label for="DeductAdjAcentHoliday">Deduct adjacent holiday:&nbsp;</label>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="If absence occures before or after holidays, then holidays will be deducted." class="information-icon fa fa-info-circle cursorPointer" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-8">
                            @Html.CheckBoxFor(m => m.DeductAdjAcentHoliday)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
