﻿@model HRMS.Entities.General.HRQualificationModel

@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getQualificationSubject();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divAcademic">
    @using (Ajax.BeginForm("AddEditQualificationSubject", "GeneralControl", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditQualificationSubject" }))
    {
        @Html.HiddenFor(x => x.HRQualificationID)
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Subject Name (EN):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.HRQualificationName_1, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.HRQualificationName_1)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Subject Name (AR):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.HRQualificationName_2, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Subject Name (FR):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.HRQualificationName_3, new { @class = "form-control" })

                    </div>
                </div>             
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form" for="IsActive">Is Active:</label>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(m => m.IsActive)</label>
                        </div>
                    </div>
                </div>
          
               
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

