﻿@model HRMS.Entities.General.TrainingCompetencyDetailModel

@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getTrainingCompetencies();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
    function OnBegin() {
        pageLoadingFrame("show");
    }
    function OnComplete(arg) {
        pageLoadingFrame("hide");
    }
</script>
<div class="panel panel-default" id="divAcademic">
    @using (Ajax.BeginForm("AddEditTrainingCompetency", "GeneralControl", new AjaxOptions { OnBegin = "OnBegin", OnComplete = "OnComplete", OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditTrainingCompetency" }))
    {
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Training:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.TrainingID, (SelectList)ViewBag.TrainingCompetencies, "Select Training", new { @class = "form-control selectpicker selectpickerddl", @name = "ddlTrainingCompetencies",@onchange= "GetSelectedCompetencies();" })
                        @Html.ValidationMessageFor(m => m.TrainingID)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span> Competencies:</label>
                    </div>
                    <div class="col-sm-9 multi-Select multiddl ddlCompetencies">
                        <select multiple="multiple" id="ddlCompetenciesList" class="form-control" name="CompetenciesList">
                            @foreach (var item in (SelectList)ViewBag.Competencies)
                            {
                                if (((List<int>)ViewBag.SelectedCompetencyList).Contains(Convert.ToInt32(item.Value)))
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>
                    </div>
                </div>



            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    //
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlCompetenciesList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '200', includeSelectAllOption: true });
    });
</script>