﻿@model HRMS.Entities.General.PayBanksModel

@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getGridBankDetails();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divAcademic">
    @using (Ajax.BeginForm("AddEditBankDetails", "GeneralControl", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEditBankdetails" }))
    {
        @Html.HiddenFor(x => x.BankID)
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Name of Bank (EN):</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.BankName_1, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.BankName_1)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Name of Bank (AR):</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.BankName_2, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Name of Bank (FR):</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.BankName_3, new { @class = "form-control" })

                    </div>
                </div>
                @*<div class="form-group col-md-12 padding-0">
                        <div class="col-sm-3 padding-0">
                            <label class="label-form">Tr Date:</label>
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.tr_Date, new { @class = "form-control datepicker" })

                        </div>
                    </div>*@
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Bank Group:</label>
                    </div>
                    <div class="col-sm-9">
                        @*@Html.TextBoxFor(m => m.acc_code, new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.BankGroupID, (List<SelectListItem>)ViewBag.BankGroupList,new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                        
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Salary Payable Account Code:</label>
                    </div>
                    <div class="col-sm-9">
                        @*@Html.TextBoxFor(m => m.acc_code, new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.acc_code, (List<SelectListItem>)ViewBag.lstAccountCode, "Select account code", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                        @Html.ValidationMessageFor(m => m.acc_code)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Pay Mode:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.PayBanksModeID, (List<SelectListItem>)ViewBag.PayBankModeList, new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Rtn/Routing Code:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.RtnCode, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.RtnCode)
                    </div>
                </div>               
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;SwiftCode:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.SwiftCode, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.SwiftCode)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form" for="CashBank">Cash Bank:</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(m => m.CashBank)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnSubmit" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
