﻿@using HRMS.Entities;
@model HRMS.Entities.InsuranceCategoryAmount

@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<div class="panel panel-default" id="divAddAmountDiv">
    <div class="panel-body">
        <div class="col-sm-12 form-group padding-0">
            <div class="col-sm-1">
            </div>
            <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Academic Year:</label>
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.ACYearID, (SelectList)ViewBag.AcademicYear, "Select Academic Year", new { @class = "form-control selectpickerddl", required = "required" })
                @Html.ValidationMessageFor(m => m.ACYearID)
            </div>
        </div>
        <div class="col-md-12 form-group phie ek heladding-0">
            <div id="insuranceCategoryAmountTable">
                <table id="categoryAmount-table" class="table table-striped table-bordered table-fixed-width">
                    <thead>
                        <tr>
                            <th class="hidden">
                                HRInsuranceTypeID
                            </th>
                            <th>
                                <span class="required-field">*</span>Insurance Category
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="rowId_0" class="edit0">
                            <td>
                                <div>
                                    @Html.DropDownListFor(m => m.HRInsuranceTypeID, (SelectList)ViewBag.InsuranceType, "Select Insurance Type", new { @class = "form-control selectpickerddl", @data_live_search = "true", required = "required" })
                                    @Html.ValidationMessageFor(m => m.HRInsuranceTypeID)
                                </div>
                            </td>
                            <td>
                                <div>
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control txtInput txtAmount" })
                                    @*<input class="form-control txtInput txtAmount" id="txtAmount" type="number" />*@
                                </div>
                            </td>
                            <td class="center-text-align padding-0">
                                <div class="center-text-align">
                                    <button type="button" id="btnRowSave" class="tableButton" onclick="saveAmountRow(this)">
                                        <img style="width:16px;" src="/Content/images/tick.ico" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnsave" class="btn btn-primary pull-right" value="Save" onclick="SaveInsuranceCategoryAmountList()" />
        <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" aria-label="Close" />
    </div>
</div>