﻿
@{
    ViewBag.Title = "HRMS - General Control";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">General Control</li>
    </ul>
}
<style>
    a, a label {
        cursor: pointer;
    }

    .controldiv {
        min-height: 50px;
        max-height: 350px;
        overflow-y: scroll;
    }

    .paddingleft1 {
        padding-left: 1px;
    }

    .paddingtop3px {
        padding-top: 3px;
    }

    .frequency-msg {
        font-size: small;
        color: #2d78d6;
    }

    .margin-top-number {
        margin-top: -1px;
        padding-left: 12px;
    }

    .check-form {
        vertical-align: middle !important;
    }

    .reminder-chk-margin {
        margin-top: 7px !important;
    }
    /*Set the width of container same as ddl*/
    .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
        word-break: break-all;
        white-space: normal;
    }
</style>
@Html.Hidden("IsAdmin", (int)ViewBag.IsAdmin)
<div class="row">

    <input type="hidden" id="hdnSelCtrlId" value="" />
    <input type="hidden" id="hdnControlId" value="" />
    <div class="row paddingleft1">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        General Control
                    </h3>
                    <ul class="panel-controls"></ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12"><label class="label-form">Select Control:</label> </div>
                        <div class="col-md-12 panel-heading">
                            <input type="text" onkeyup="SearchHtml('divControlList', this, '#divControlList > a', '.controlName')" id="txtSearch1" class="form-control" placeholder="Search Control" style="" />
                        </div>
                        <div id="divControlList" class="panel-body list-group list-group-contacts controllist controldiv">
                            @* panel-body list-group list-group-contacts emplist *@
                            @*@Html.DropDownList("ddl_ControlList", (SelectList)ViewBag.ControlList, new { @class = "form-control selectpicker", @data_live_search = "true" })*@
                            @foreach (SelectListItem itm in ((SelectList)ViewBag.ControlList).Items)
                            {
                                <a href="#" class="list-group-item list-group-item-condensed padding-0">
                                    <div class="row" onclick="ShowGeneralControlType(@(itm.Value));">
                                        @*<div class="col-sm-12">*@
                                        <div class="padding-left-item padding-right-item pull-left paddingtop3px">
                                            <div class="list-group-controls-controllist">
                                                <label for="Control_@(itm.Value)" onclick="ShowGeneralControlType(@(itm.Value));" class="contacts-title contacts-title-controllist controlName">
                                                    <span class="contacts-title contacts-title-controllist controlName">@itm.Text</span>
                                                </label>

                                            </div>
                                        </div>

                                        @*</div>*@
                                    </div>
                                </a>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-9" style="padding-left:0px; padding-right:0px;">
            <div class="row">
                <div class="row hiddenDiv" id="ApplicationLogos">
                    <div class="col-md-12">
                        <div class="panel panel-default paddingright5">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Application Logos Settings
                                </h3>
                            </div>
                            <div class="panel-body">
                                @*<div class="panel panel-default" style="margin-bottom: 0.3%;margin-top: 0.5%;width: 70%;margin-left: 15%;">
                                    <div class="panel-body" style="margin-bottom: -15px;margin-top: 5px;">*@
                                <div class="panel panel-default" style="">
                                    <div class="panel-body" style="">
                                        <div class="col-md-12 form-group">
                                            <div>
                                                <table id="" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-5">
                                                                Logo Name
                                                            </th>
                                                            <th class="col-md-5">
                                                                Logo Preview
                                                            </th>
                                                            <th class="col-md-2">
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="" class="actionRow">
                                                            <td class="col-md-4">
                                                                <label class="label-form">
                                                                    School Large Logo: <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Actual adjustable size for logo: 165 x 50." class="information-icon fa fa-info-circle"></span>
                                                                </label>
                                                            </td>
                                                            <td class="col-md-4">
                                                                <div id="PreviewLargeID" hidden>
                                                                    <div class="preview-frame-1">
                                                                        <img src="" id="GetLogoLarge" class="preview-image-1">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="col-md-4">
                                                                <a class='btn btn-success btn-rounded btn-condensed btn-sm' onclick="ApplicationLogoModal('modalL')" title='Edit'><i class='fa fa-pencil'></i> </a>
                                                            </td>
                                                        </tr>
                                                        <tr id="" class="actionRow">
                                                            <td class="col-md-4">
                                                                <label class="label-form">
                                                                    School Small Logo: <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Actual adjustable size for logo:    50 x 50." class="information-icon fa fa-info-circle"></span>
                                                                </label>
                                                            </td>
                                                            <td class="col-md-4">
                                                                <div id="PreviewSmallID" hidden>
                                                                    <div class="preview-frame-2">
                                                                        <img src="" id="GetSmallLarge" class="preview-image-2">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="col-md-4">
                                                                <a class='btn btn-success btn-rounded btn-condensed btn-sm' onclick="ApplicationLogoModal('modalS')" title='Edit'><i class='fa fa-pencil'></i> </a>
                                                            </td>
                                                        </tr>
                                                        <tr id="" class="actionRow">
                                                            <td class="col-md-5">
                                                                <label class="label-form">
                                                                    School Logo For Reports: <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Actual adjustable size for logo: 125 x 125." class="information-icon fa fa-info-circle"></span>
                                                                </label>
                                                            </td>
                                                            <td class="col-md-5">
                                                                <div id="PreviewReportID" hidden>
                                                                    <div class="preview-frame-3">
                                                                        <img src="" id="GetReportLogo" class="preview-image-3">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="col-md-2">
                                                                <a class='btn btn-success btn-rounded btn-condensed btn-sm' onclick="ApplicationLogoModal('modalR')" title='Edit'><i class='fa fa-pencil'></i> </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="QualificationSubject">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Subject Details
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Qualification Subject" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_QualificationSubject" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="TrainingCompetencies">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Training Competencies
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Training Competency" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_TrainingCompetencies" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="QualificationId">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Qualification Details
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Qualification" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_Qualification" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="AcademicInstitutes">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Academic Institutes
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Academic Institute" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_AcademicInstitutes" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="BankDetails">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Pay Banks
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Pay Bank" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_BankDetails" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="BankGroupDetails">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Pay Bank Groups
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Pay Bank Group" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_BankGroupDetails" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="EmployeeSection">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Employee Section
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Employee Section" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_EmployeeSectionDetails" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="EmployeeIDSetting">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Employee ID Setting
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    @*<div class="col-sm-2"></div>*@
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_EmployeeIDSetting" class="display table table-bordered table-striped" width="100%">
                                            <thead>
                                                <tr>

                                                    <th class="col-md-4">
                                                        Employee ID Prefix
                                                    </th>
                                                    <th class="col-md-3">
                                                        Employee ID Start From
                                                    </th>
                                                    <th class="col-md-4 center-text-align">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="rowId_0" class="edit0">
                                                    <td class="col-md-4">
                                                        <div class="input-group"><input class="form-control" id="txtPrefix" /></div>
                                                    </td>
                                                    <td class="col-md-3"><div class="input-group"><input class="form-control" id="txtIDStartFrom" /></div></td>
                                                    <td class="center-text-align col-md-4">
                                                        <div class="center-text-align">
                                                            <button type="button" id="btnRowSave" class="tableButton" onclick="saveEmployeeAlternativeSettings(this)">
                                                                <img style="width:16px;" src="/Content/images/tick.ico" />
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="EmployeeWorkEmail">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Generate Work Email
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Generate Employee Work Emails" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    @*<div class="col-sm-2"></div>*@
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_EmployeeWorkEmail" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="DocumentSetting">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Document Days Setting
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    @*<div class="col-sm-2"></div>*@
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_DocumentSetting" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="AbsentType">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Absent Type
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Absent Type" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_PayAbsentType" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="ValidationSetting">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Validation Setting
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8 padding-0">
                                        <table id="tblValidationSetting" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="MOLTitleDetails">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    MOL Title
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Pay Bank" id="btn_addGeneralControl" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_MOLTitle" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="SMTPConfig">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    SMTP/Email Configuration
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_SMTPSetting" class="display table table-bordered table-striped" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        From Email Address
                                                    </th>
                                                    <th>
                                                        From Display Name
                                                    </th>
                                                    <th>
                                                        Reply Mail
                                                    </th>
                                                    <th>
                                                        SMTP Server
                                                    </th>
                                                    <th>
                                                        Port Number
                                                    </th>
                                                    @*<th>
                                                            Secure Connection
                                                        </th>*@
                                                    @*<th>
                                                            Username
                                                        </th>*@
                                                    @*<th>
                                                            Password
                                                        </th>*@
                                                    <th class="center-text-align">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="rowId_0" class="edit0">
                                                    <td><div class="input-group"><input class="form-control" id="txtFromEmailAddress" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtFromDisplayName" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtReplyEmail" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtSMTPServer" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtPortNumber" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtSecureConnection" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtUserName" /></div></td>
                                                    <td><div class="input-group"><input class="form-control" id="txtPassword" type="password" /></div></td>
                                                    <td class="center-text-align">
                                                        <div class="center-text-align">
                                                            <button type="button" id="btnRowSave" class="tableButton" onclick="saveEmployeeAlternativeSettings(this)">
                                                                <img style="width:16px;" src="/Content/images/tick.ico" />
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="OpeningBalanceDetails">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Accrual Leave Balance
                                </h3>
                                <div class="pull-right">
                                    <a class="btn btn-info btn-rounded btn-condensed btn-sm btn-middleIcon" onclick="GetEmployeeOpeningBalance()" title="Refresh"><i class="fa fa-refresh"></i> </a>
                                    <a class="btn btn-info btn-rounded btn-condensed btn-sm btn-middleIcon" onclick="PostOpeningBalance()" title="Save"><i class="fa fa-floppy-o"></i> </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_LeaveOpeningBalance" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="EmployeeSponsor">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Employee Sponsor
                                </h3>
                                <div class="pull-right">
                                    <a class="btn btn-info btn-rounded btn-condensed btn-sm btn-middleIcon" onclick="AddEditSponsor(0)" title="Add Sponsor"><i class="fa fa-plus fa-1x"></i> </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    @*<div class="col-sm-1"></div>*@
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_EmployeeSponsor" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                    @*<div class="col-sm-1"></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="PayCategoryControl">
                    <div class="col-lg-offset-3 col-sm-6 padding-0 cursorPointer" style="display:none" id="warningMessage">
                        <div id="PayCategoryWarning" class="alert alert-danger" role="alert">
                            <button id="btnpayrollWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <strong>Warning! </strong><span id="lblTotalEmployeeNotinPayroll"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Pay Category
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Pay Category" id="btn_addGeneralControl" cat-id="-1" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12padding-0">
                                        <table id="tbl_PayCategory" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="PaySundryControl">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Pay Sundry Type
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Pay Sundry Type" id="btn_addGeneralControl" cat-id="-1" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12padding-0">
                                        <table id="tbl_SundryCategory" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hiddenDiv" id="ReminderSetupControl">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Reminders Setup
                                </h3>
                                <div class="pull-right">
                                    <a href="javascript:void(0);" title="Push/Save Data" id="btnSaveReminderSetup" class="btn btn-primary btn-rounded btn-condensed btn-sm"><i class="fa fa-floppy-o"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="panel panel-default tabs">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active" data-mode="Document"><a href="#tab-first" role="tab" data-toggle="tab" aria-expanded="true">Document Reminder</a></li>
                                            <li class="" data-mode="Attendance"><a href="#tab-second" role="tab" data-toggle="tab" aria-expanded="false">Attendance Reminder</a></li>
                                        </ul>
                                        <div class="panel-body tab-content">
                                            <div class="tab-pane active" id="tab-first">
                                                <div id="documentReminders"></div>

                                            </div>
                                            <div class="tab-pane" id="tab-second">
                                                <div id="attendanceReminders"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hiddenDiv" id="DataImportControl">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Data Import
                                </h3>

                                <div class="pull-right">
                                    <a href="javascript:void(0);" title="Download Data Template" id="btnDownloadTemplate" class="btn btn-primary btn-rounded btn-condensed btn-sm"><i class="fa fa-download"></i></a>
                                    <a href="javascript:void(0);" title="Push/Save Data" id="btnSaveImportExcel" class="btn btn-primary btn-rounded btn-condensed btn-sm"><i class="fa fa-floppy-o"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <span class="label-form">
                                            <span class="required-field">*</span>&nbsp;Data Import Type:
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("ImportType", (SelectList)ViewBag.ImportTypeList, " Select Data Import Type", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlImportType" })
                                    </div>
                                    <div class="col-md-2">
                                        <span id="lblfileName"></span>
                                        <span id="lblfilePath" class="hidden"></span>
                                    </div>
                                </div>
                                <div class="row form-group">

                                    <div class="col-sm-4">
                                        <span class="label-form">
                                            <span class="required-field">*</span>&nbsp;Select File:
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_ExcelFile"></span><div id="file_caption_id_ExcelFile"></div>
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_ExcelFile" onclick="RemoveDocument()"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                <div class="btn btn-primary btn-file" id="divBrowse_ExcelFile">
                                                    <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="fu_ExcelFile" id="fu_ExcelFile">
                                                    @Html.ValidationMessage("fu_ExcelFile")
                                                </div>
                                            </div>
                                        </div>
                                        <span id="txtuploadedMsgAdd_ExcelFile" style="margin-top: 3px;display:none;"> </span>
                                        <div id="divPreview_ExcelFile" class="PreviewName">
                                        </div>
                                        <input type="hidden" value="0" id="hdnFileUpload_ExcelFile" />
                                    </div>

                                </div>
                                <div id="DataImport">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="ShortLeaveControl">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Short Leave Settings
                                </h3>
                            </div>
                            <div id="divShortLeaveSettings">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hiddenDiv" id="InsuranceAmountSection">
                    <div id="ddlPreInsuranceType" class="hidden">
                        @ViewBag.InsuranceType
                    </div>
                    <div id="ddlPreAcademicYear" class="hidden">
                        @ViewBag.AcademicYearList
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Insurance Category Amount
                                </h3>
                                <ul class="panel-controls">
                                    <li class="dropdown open">
                                        <a href="javascript:void(0);" title="Add Employee Section" onclick="AddMultipleInsuranceAmount(0);" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 padding-0">
                                        <table id="tbl_InsuranceCategoryAmount" class="display table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/Custom/GeneralControl/GeneralControl.js"></script>
    <script src="~/Scripts/Custom/DataImport.js"></script>
}
