﻿
@model HRMS.Entities.EmployeeSectionModel

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

</script>


<div class="panel panel-default" id="divAcademic">
    <div class="panel-body">
        <div class="col-md-12">

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Section Name (EN): </label>
                <div class="col-md-4">@Html.DisplayFor(m => m.EmployeeSectionName_1, new { @class = "form-control" })</div>
            </div>

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Section Name (AR):</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.EmployeeSectionName_2, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Section Name (FR):</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.EmployeeSectionName_3, new { @class = "form-control" })</div>
            </div>
            @*<div class="form-group col-md-12">
                    <label class="col-md-4 control-label">Tr Date: </label>
                    <div class="col-md-4">@Html.DisplayFor(m => m.tr_Date, new { @class = "form-control" })</div>
                </div>*@
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Head:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.HeadName, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Assistant 1:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.AssistantName_1, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Assistant 2:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.AssistantName_2, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Assistant 3:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.AssistantName_3, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Shift:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.ShiftName, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Department:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.DepartmentName, new { @class = "form-control" })</div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnCancel" class="btn btn-primary pull-right" value="Close" />
    </div>
</div>


