﻿@model HRMS.Entities.General.PayCategoriesModel

@{
    Layout = null;
}
@{
    bool IsCostCenterValidated = (bool)ViewBag.IsCostCenterValidated;
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

</script>


<div class="panel panel-default" id="divAcademic">
    <div class="panel-body">
        <div class="col-md-12">

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Pay Category Name (EN): </label>
                <div class="col-md-7">@Html.DisplayFor(m => m.CategoryName_1, new { @class = "form-control" })</div>
            </div>

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Pay Category Name (AR): </label>
                <div class="col-md-7">@Html.DisplayFor(m => m.CategoryName_2, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Pay Category Name (FR):</label>
                <div class="col-md-7">@Html.DisplayFor(m => m.CategoryName_3, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Pay Category Sequence (FR):</label>
                <div class="col-md-7">@Html.DisplayFor(m => m.seq, new { @class = "form-control" })</div>
            </div>

            @if (IsCostCenterValidated)
            {
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default col-md-12 padding-0">
                        <div class="panel-heading">

                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Cost Center</a>
                            </h3>
                        </div>
                        <div id="collapseOne" aria-expanded="true" class="collapse in panel-body">
                            <div class="table-responsive col-sm-12" style="max-height:360px;">
                                <table id="tbl_CostCenterDetails" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td class="col-sm-6">Cost Center</td>
                                            <td class="col-sm-4">Percentage</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.lstCostCenters)
                                        {
                                            <tr id="rowId_@item.DimensionValueID" data-rowId="@item.DimensionValueID">
                                                <td class="col-sm-5">@item.DimensionName-@item.DimensionValueName</td>
                                                <td class="col-sm-4">@item.Percentage.ToString("0.00")%</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnCancel" class="btn btn-primary pull-right" value="Close" />
    </div>
</div>

