﻿@model HRMS.Entities.General.PayBankGroup

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

</script>


<div class="panel panel-default" id="divAcademic">
    <div class="panel-body">
        <div class="col-md-12">

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Name of Bank Group (EN): </label>
                <div class="col-md-7">@Html.DisplayFor(m => m.BankGroupName_1, new { @class = "form-control" })</div>
            </div>

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Name of Bank Group (AR): </label>
                <div class="col-md-7">@Html.DisplayFor(m => m.BankGroupName_2, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Name of Bank Group (FR):</label>
                <div class="col-md-7">@Html.DisplayFor(m => m.BankGroupName_3, new { @class = "form-control" })</div>
            </div>
            
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Salary Payable Account Code:</label>
                <div class="col-md-7">@Html.DisplayFor(m => m.SalaryPayableAccountCode, new { @class = "form-control" })</div>
            </div>            
            <div class="form-group col-md-12 padding-0">
                <div class="col-sm-5">
                    <label class="label-form">Is Active:</label>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(m => m.IsActive, new { @Disabled = "Disabled" })</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnCancel" class="btn btn-primary pull-right" value="Close" />
    </div>
</div>

