﻿
@model HRMS.Entities.SMTPConfig

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

</script>


<div class="panel panel-default" id="divAcademic">
    <div class="panel-body">
        <div class="col-md-12">

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">From Email Address:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.FromEmailAddress, new { @class = "form-control" })</div>
            </div>

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">From Display Name: </label>
                <div class="col-md-4">@Html.DisplayFor(m => m.FromDisplayName, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">Reply Email:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.ReplyEmail, new { @class = "form-control" })</div>
            </div>
            @*<div class="form-group col-md-12">
                    <label class="col-md-4 control-label">Tr Date: </label>
                    <div class="col-md-4">@Html.DisplayFor(m => m.tr_Date, new { @class = "form-control" })</div>
                </div>*@

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">SMTP Server:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.SMTPServer, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">Port Number:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.PortNumber, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">Secure Connection (SSL):</label>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.SecureConnection, new { @disabled = "disabled" })  </div>
            </div>
            <div class="text-left">
                <h4>SMTP Authentication</h4>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">Username:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.Username, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-6 control-label">Password:</label>
                <div class="col-md-4">@Html.DisplayFor(m => m.Password, new { @class = "form-control" })</div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnCancel" class="btn btn-primary pull-right" value="Close" />
    </div>
</div>



