﻿
@model HRMS.Entities.InsuranceCategoryAmount

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

</script>
<div class="panel panel-default" id="divInsuraceCategoryAmount">
    <div class="panel-body">
        <div class="col-md-12">

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Insurance Type Name : </label>
                <div class="col-md-4">@Html.DisplayFor(m => m.InsuranceTypeName, new { @class = "form-control" })</div>
            </div>

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Academic Year : </label>
                <div class="col-md-4">@Html.DisplayFor(m => m.AcademicYear, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-4 control-label">Amount : </label>
                <div class="col-md-4">@Html.DisplayFor(m => m.Amount, new { @class = "form-control" })</div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnCancel" class="btn btn-primary pull-right" value="Close" />
    </div>
</div>


