﻿@model HRMS.Entities.General.HRQualificationModel

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

</script>


<div class="panel panel-default" id="divAcademic">
    <div class="panel-body">
        <div class="col-md-12">

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Qualification Name (EN): </label>
                <div class="col-md-7">@Html.DisplayFor(m => m.HRQualificationName_1, new { @class = "form-control" })</div>
            </div>

            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Qualification Name (AR): </label>
                <div class="col-md-7">@Html.DisplayFor(m => m.HRQualificationName_2, new { @class = "form-control" })</div>
            </div>
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Qualification Name (FR):</label>
                <div class="col-md-7">@Html.DisplayFor(m => m.HRQualificationName_3, new { @class = "form-control" })</div>
            </div>                               
            <div class="form-group col-md-12 padding-0">
                <label class="col-md-5 control-label">Is Active:</label>             
                <div class="col-sm-7" style="padding-top:2px;">                   
                        @Html.CheckBoxFor(m => m.IsActive, new { @Disabled = "Disabled" })                  
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" id="btnCancel" class="btn btn-primary pull-right" value="Close" />
    </div>
</div>

