﻿@model HRMS.Entities.EmployeeGratuityModel
@{
    ViewBag.Title = "Gratuity & Final Settlement";

    HRMS.DataAccess.DBHelper objDBHelper = new HRMS.DataAccess.DBHelper();
    HRMS.Entities.ViewModel.UserContextViewModel userContext = new HRMS.Entities.ViewModel.UserContextViewModel();
    userContext = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
    List<HRMS.Entities.General.MenuNavigationModel> objMenuNavigationModelList = new List<HRMS.Entities.General.MenuNavigationModel>();
    objMenuNavigationModelList = objDBHelper.GetMenuNavigationList().Where(x => userContext.Permisssion.Contains(x.MainNavigationSubCategoryId) == true).Select(x => x).ToList();
    int MainNavigationIDForGratuity = 0;
    if (objMenuNavigationModelList.Where(x => x.MainNavigationSubCategoryName.ToLower() == "gratuity & final settlement reports").Count() > 0)
    {
        MainNavigationIDForGratuity= objMenuNavigationModelList.Where(x => x.MainNavigationSubCategoryName.ToLower() == "gratuity & final settlement reports").FirstOrDefault().MainNavigationSubCategoryId;
    }

    List<HRMS.Entities.General.MenuNavigationModel> reportList = new List<HRMS.Entities.General.MenuNavigationModel>();
    if (objMenuNavigationModelList.Where(x => x.MainNavigationId == MainNavigationIDForGratuity).Count() > 0)
    {
        reportList= objMenuNavigationModelList.Where(x => x.MainNavigationId == MainNavigationIDForGratuity).OrderBy(x => x.SortingOrder).ThenBy(x => x.MainNavigationSubCategoryName).ToList();
    }

}

@section Breadcrumb
{
<ul class="breadcrumb">
    <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
    <li class="active">Gratuity & Final Settlement</li>
</ul>
}
<a target="_blank" href="#" id="templink"></a>
<div class="col-sm-12">   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-ticket"></span>
                Gratuity & Final Settlement
            </h3>
            <ul class="panel-controls">
                <li class="dropdown open">                    
                    <a href="javascript:void(0);" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            @*<div class="col-sm-12 margin_bottom">
                <input type="button" value="Add" id="btn_add" class="btn btn-primary col-md-1" />
            </div>*@
            <div class="col-sm-12">                
                    <div class="col-sm-12 padding-0">
                        <table id="tbl_GratuityList" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-ticket"></span>
                Gratuity & Final Settlement Reports
            </h3>          
        </div>
        <div class="panel-body">
            <h3><span class="fa fa-list"></span> Reports</h3>
            <div class="col-sm-4 padding-0" id="jsTreeMainDiv">
                
                    @foreach (var parentNav in reportList)
                    {
                        var parentlink = parentNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");
                        if (objMenuNavigationModelList.Where(x => x.MainNavigationId == parentNav.MainNavigationSubCategoryId).Count() > 0)
                        {                            
                                <ul class="" style="list-style:none">
                                    @foreach (var childNav in objMenuNavigationModelList.Where(x => x.MainNavigationId == parentNav.MainNavigationSubCategoryId))
                                    {
                                        var childlink = childNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");
                                        if (childlink.Contains("fa fa-info-circle"))
                                        {
                                            childlink = childlink.Replace("fa fa-info-circle", "");
                                        }

                                        <li class="" style="padding:2px 0;"><span class="fa fa-file-text"></span>
                                           @Html.Raw(childlink.Trim())
                                       </li>
                                        
                                    }
                                </ul>
                        }
                        else
                        {
                            if (parentlink.Contains("fa fa-info-circle"))
                            {
                                parentlink = parentlink.Replace("fa fa-info-circle", "");
                            }
                            <ul class="" style="list-style:none">
                                <li><span class="fa fa-file-text"></span>
                                    @Html.Raw(parentlink.Trim())
                                </li>
                            </ul>
                            
                        }
                    }
                
            </div>
        </div>

    </div>
</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/bootstrap-multiselect-collapsible-groups.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/GratuitySetup/CalcGratuity.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
   


