﻿@{
    Layout = null;
}
 

<div>
    <table id="tbl_VisaList" class="display table table-bordered table-striped" style="width:100%;"></table>
    <input type="hidden" value="@ViewBag.empid.ToString()" id="hidSelectedEMP" name="hidSelectedEMP" />
</div>

