﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Location</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Location";
}
    <div class="row">
    <div class="col-md-12">

        <input type="button" value="Add" id="btn_add" class="btn btn-primary" />
        <input type="button" value="Export To Excel" id="btn_ExportToExcel" class="btn btn-primary" />
        <input type="button" value="Export To Pdf" id="btn_ExportToPdf" class="btn btn-primary" />

    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Location</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tbl_location" class="display table table-bordered table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</div>
 

@section Scripts
{
  


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/Custom/Location.js"></script>

<style>
    .dataTable {
        width: 100% !important;
    }

    .page-content {
        height: auto !important;
    }
</style>

}

