﻿@{ 
    Layout = null;
}
<div class="col-sm-12 padding-0">
    <div class="col-sm-4 label-form">
        <label class="label-control">Department:</label>
    </div>
    <div class="col-sm-8">
        @Html.DropDownList("ddl_DeptList", (SelectList)ViewBag.DeptList, "Select All Department", new { style = "", @class = "form-control selectpicker", @data_live_search = "true" })
    </div>
    
</div>
<script>
    $(document).ready(function () {
        $("#ddl_DeptList").change(function () {
            if ($("#ddl_SectionList").length > 0)
            {   
                $.ajax({
                    type: "POST",                  
                    url: "/Filter/LoadSectionByDeptID",
                    data: { deptID: $("#ddl_DeptList").val() },
                    success: function (data) {
                        data = $.map(data, function (item, a) {
                            return "<option value=" + item.Value + ">" + item.Text + "</option>";
                        });
                        $("#ddl_SectionList").html(data.join("")); //converts array into the string
                        RefreshSelect("#ddl_SectionList");
                    },
                });
            }
        })
    });
</script>