﻿@{
    Layout = null;
}

<div class="col-sm-12 padding-0">
    <div class="col-sm-4 label-form">
        <label class="label-control">Section:</label>
    </div>
    <div class="col-sm-8">
        @Html.DropDownList("ddl_SectionList", (SelectList)ViewBag.SectionList, "Select Section", new { style = "", @class = "form-control selectpicker", @data_live_search = "true" })
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#ddl_SectionList").change(function () {
            if ($("#ddl_EmployeeList").length > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Filter/LoadEmployeeBySectionID",
                    data: { sectionID: $("#ddl_SectionList").val() },
                    success: function (data) {
                        data = $.map(data, function (item, a) {
                            return "<option value=" + item.Value + ">" + item.Text + "</option>";
                        });
                        $("#ddl_EmployeeList").html(data.join("")); //converts array into the string
                        RefreshSelect("#ddl_EmployeeList");
                    },
                });
            }
        })
    });
</script>
