﻿@model HRMS.Entities.AbsentLateInEarlyOutModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<script>
    //$(document).ready(function () {
    //    $("#PayEmployeeLateDate").datepicker('setDate', new Date());
    //});
    $(function () {
        bindSelectpicker('.selectpickerddl');
    });

    function ValidateForm() {

    }
    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        // TODO: make me pretty
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            getGridAbsentLateInEarlyOut($("#EmployeeID").val());
        }
        else {
            ShowMessage("error", data.Message)
        }
    }

    function AddLateAndEarly() {
        CheckEmployeeInAbsent(function (data) {
            if (data) {
                $.MessageBox({
                    buttonDone: "OK",
                    buttonFail: "Cancel",
                    message: "Employee is already absent on selected date, Do you want to remove and add new attendance?.",
                }).done(function (data) {
                    submitLateAndEarlyForm();
                });
            } else {
                submitLateAndEarlyForm();
            }
        });
    }

    function submitLateAndEarlyForm() {
        $("#EarlyMinutes").removeAttr("disabled");
        $("#LateMinutes").removeAttr("disabled");
        $("#frmAddAbsentLateInEarlyOut").submit();
    };
</script>

<div class="panel panel-default" id="AddAbsentLate">
    @using (Ajax.BeginForm("AddAbsentLateInEarlyOut", "AbsentLateInEarlyOut", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddAbsentLateInEarlyOut" }))
    {
        @Html.HiddenFor(x => x.EmployeeID)
        @Html.HiddenFor(x => x.PayLateTypeID)
        <div class="panel-body">
            @*<table style="width:100%;">*@
            <div class="form-group col-sm-12">
                <div class="col-sm-11">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Employee:</label>
                <div class="col-sm-8">
                    <label class="label-form padding-left-0">
                        @ViewBag.Employee
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Late Date:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.PayEmployeeLateDate, new { @class = "form-control CurrentDate", required = "required" })
                    @Html.ValidationMessageFor(m => m.PayEmployeeLateDate)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;In Time:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.InTime, new { @class = "form-control timePicker12", @onchange = "GetLateAndEarlyMinutes()", type = "text", required = "required" })
                    @Html.ValidationMessageFor(m => m.InTime)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Out Time:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.OutTime, new { @class = "form-control timePicker12", @onchange = "GetLateAndEarlyMinutes()", type = "text", required = "required" })
                    @Html.ValidationMessageFor(m => m.OutTime)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Late Minutes:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LateMinutes, new { @class = "form-control", @Disabled = "Disabled", required = "required", Value = "0" })
                    @Html.ValidationMessageFor(m => m.LateMinutes)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Early Out Minutes:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.EarlyMinutes, new { @class = "form-control", @Disabled = "Disabled", required = "required", Value = "0" })
                    @Html.ValidationMessageFor(m => m.EarlyMinutes)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Late/Early Reason</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LateReason, new { @class = "form-control" })                    
                </div>
            </div>
            <div class="form-group col-sm-12 hidden">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Excused:</label>
                <div class="col-sm-8">
                    @Html.CheckBoxFor(m => m.IsExcused, new { @class = "" })
                    @Html.ValidationMessageFor(m => m.IsExcused)
                </div>
            </div>
            <div class="form-group col-sm-12 hidden">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Deducted: </label>
                <div class="col-sm-8">
                    @Html.CheckBoxFor(m => m.IsDeducted, new { @class = "" })
                    @Html.ValidationMessageFor(m => m.IsDeducted)
                </div>
            </div>

        </div>

        <div class="panel-footer form-group">
            <input type="button" id="btnCancel" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
            <input type="button" onclick="AddLateAndEarly()" class="btn btn-primary pull-right" value="Save" />
        </div>
    }
</div>