﻿@model HRMS.Entities.LateDeduction

<script>
  
    $(document).ready(function () {
        $("#IsSelectLate").change(function () {
            if (this.checked) {
                $("#FromDate").attr('disabled', 'disabled');
                $("#ToDate").attr('disabled', 'disabled');
            }
            else {
                $("#FromDate").removeAttr('disabled');
                $("#ToDate").removeAttr('disabled');
            }
        });

        $('#ToDate').change(function () {
            //alert('Chnaged');
        });
    });
</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<div class="panel panel-default">
    <h4>&nbsp;&nbsp;&nbsp;Select Late @Html.CheckBox("IsSelectLate")</h4>
    
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <table style="width:50%;float:left;">
                <tr><td>Start: </td><td>@Html.TextBox("FromDate", null, new { @class = "DOB" })</td></tr>
            </table>
            <table style="width:50%;float:right;">                
                <tr><td>To: </td><td>@Html.TextBox("ToDate",null, new { @class = "DOB" })</td></tr>                
            </table>
        </div>
    </div>
</div>


<div class="panel panel-default">   

    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <table style="width:70%;float:left;">
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
            <table style="width:30%;float:right;">
                <tr><td colspan="2"><h4>Setup</h4></td></tr>
                <tr><td>@Html.LabelFor(m => m.LateMinutes)</td><td>@Html.TextBoxFor(m => m.LateMinutes, new { @class = "form-control" })</td></tr>
                <tr><td>@Html.LabelFor(m => m.DeductionPercent)</td><td>@Html.TextBoxFor(m => m.DeductionPercent, new { @class = "form-control" })</td></tr>
            </table>
            <table style="width:70%;float:none;">
                <tr>
                    <td>
                        Generate @Html.CheckBox("Generate")
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <input type="submit" value="Confirm" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>