﻿@{
    ViewBag.Title = "HRMS - HR Salary Grade";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">HR Salary Grade</li>
    </ul>
}



<div class="row">
    <div class="col-md-12">
        <input type="button" value="Add" id="btn_add" class="btn btn-primary" />
        <input type="button" value="Export To Excel" id="btn_ExportToExcel" class="btn btn-primary" />
        <input type="button" value="Export To Pdf" id="btn_ExportToPdf" class="btn btn-primary" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">HR Salary Grade</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tbl_HRSalaryGrade" class="display table table-bordered table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/Custom/HRSalaryGrade.js"></script>
    <script>
    $(document).ready(function () {

    //alert("IN");
    getGrid();
    $("#btn_add").click(function () {
        EditSalaryGrade(0);
    });
    $("#btn_ExportToExcel").click(function () { ExportToExcel(); });
    $("#btn_ExportToPdf").click(function () { ExportToPdf(); });
    //EditChannel(1);
});
    </script>
}