﻿@model HRMS.Entities.Forms.LeaveRequestModel
@using HRMS.Entities
@{
    ViewBag.Title = "HRMS - Employee Leave Request";
    //List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;
    //bool isEditCompletedFormRequest = otherPermissions.Where(x => x.OtherPermissionId == 42).Count() > 0 ? true : false;
   }
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Leave Request</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmployeeLeaveRequestForm" }))
{
    @Html.Hidden("hdnFormProcessID", (object)ViewBag.FormProcessID, new { @id = "hdnFormProcessID" })
    @Html.Hidden("hdnCompanyID", Model.CompanyID, new { @id = "hdnCompanyID" })
    @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })
    @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
    @Html.Hidden("hdnVacationTypeID", Model.VacationTypeID, new { @id = "hdnVacationTypeID" })
    @Html.Hidden("hdnVTCategoryID", new { @id = "hdnVTCategoryID" })
    @Html.Hidden("hdnBalanceDays", new { @id = "hdnBalanceDays" })
    @Html.Hidden("hdnRequestedDays", Model.RequestedDays, new { @id = "hdnRequestedDays" })
    @*@Html.Hidden("hdnEditCompletedFormRequest", isEditCompletedFormRequest)
    @Html.Hidden("hdnIsEditRequestFromAllRequests", (bool)ViewBag.IsEditRequestFromAllRequests)*@
    <div class="row">
        <div class="col-sm-12">
            <div class="col-lg-offset-3 col-sm-6 padding-0 cursorPointer" style="display:none" id="warningMessage">
                <div id="EmployeeLeaveReequestWarningBox" class="alert alert-danger" role="alert">
                    <button id="btnEmployeeLeaveRequestWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span id="lblEmployeeLeaveRequestNotification"></span>
                </div>
            </div>
            <div class="panel panel-default" id="" style="">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-suitcase"></span>
                        Employee Leave Request
                    </h3>
                    <div class="pull-right">
                        <button href="javascript:void(0);" title="Submit" id="btnSave" type="button" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></button>
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack"  class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 6, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = Model.IsAddMode, formProcessId = 0 }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom:0;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Leave Request Details:</span>
                            </legend>
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-6 padding-0">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.VacationTypeID)</div>
                                        <div class="col-sm-8">
                                            <input type="hidden" value="@Model.ID" id="hdn_JD" />
                                            @Html.DropDownListFor(m => m.VacationTypeID, (SelectList)ViewBag.LeaveType, " Select Leave Type", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlLeaveType" })
                                            @Html.ValidationMessageFor(m => m.VacationTypeID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Last Year Carried Forward Days: </div>
                                       @* <div class="col-sm-8">@Html.TextBox("txtLastYearCarriedDays", null, new { @class = "form-control", @readonly = "readonly" })</div>*@
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.LapsingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtLastYearCarriedDays" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Extended Lapsed Days: </div>
                                        @*<div class="col-sm-8">@Html.TextBox("txtExtendedLapsedDays", null, new { @class = "form-control", @readonly = "readonly" })</div>*@
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ExtendedLapsingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtExtendedLapsedDays" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Half Day Leave: </div>
                                        <div class="col-sm-8">@Html.CheckBoxFor(m => m.HalfDayLeave, new { @id = "chkHalfday" })</div>
                                    </div>
                                    <div class="form-group col-sm-12" style="margin-bottom:0px!important">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.FromDate)        
                                           
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBox("txtFromDate", DateTime.Now.ToString(ModelHelpers.HRMSDateFormat), new { @class = "DOB form-control  leave-dates", @id = "txtFromDate", @autocomplete = "off" })
                                              
                                            </div>
                                            <label id="txtFromDatelbel" style="margin-top: 3px;"> </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" style="margin-bottom:0px!important">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ToDate)</div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBox("txtToDate", DateTime.Now.ToString(ModelHelpers.HRMSDateFormat), new { @class = "DOB form-control leave-dates", @required = "required",@id = "txtToDate", @autocomplete = "off" })
                                               
                                            </div>
                                            <label id="txtToDatelbel" style="margin-top: 3px;"> </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Requested Days: </div>
                                        @*<div class="col-sm-8">@Html.TextBox("txtRequestedDays", null, new { @class = "form-control", @readonly = "readonly" })</div>*@
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.RequestedDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtRequestedDays" })
                                        </div>
                                        </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Remaining Days: </div>
                                        <div class="col-sm-8">
                                            @*@Html.TextBox("txtRemainingDays", null, new { @class = "form-control", @readonly = "readonly" })*@
                                            @Html.TextBoxFor(m => m.RemainingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtRemainingDays" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 padding-0">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Total Available Leaves: </div>
                                        @*<div class="col-sm-8">@Html.TextBox("txtTotalAvailLeaves", null, new { @class = "form-control", @readonly = "readonly" })</div>*@
                                        <div class="col-sm-8">
                                            @*@Html.TextBoxFor(m => m.LapsingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtLastYearCarriedDays" })*@
                                            @Html.TextBoxFor(m => m.AvailableLeaveDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtTotalAvailLeaves" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Last Year Forward Lapse Date:</div>
                                        @*<div class="col-sm-8">@Html.TextBox("txtLastYearForwardLapseDate", null, new { @class = "form-control datepicker", @disabled = "disabled" })</div>*@
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.LapsingDate, ModelHelpers.HRMSDateStringFormat, new { @class = "form-control", @readonly = "readonly", @id = "txtLastYearForwardLapseDate" })
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Extended Lapse Date: </div>
                                        @*<div class="col-sm-8">@Html.TextBox("txtExtendedLapsedate", null, new { @class = "form-control datepicker", @disabled = "disabled" })</div>*@
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.ExtendedLapsingDate, ModelHelpers.HRMSDateStringFormat, new { @class = "form-control", @readonly = "readonly", @id = "txtExtendedLapsedate" })
                                             

                                            </div>
                                        </div>
                                        </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Location:</label>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="col-sm-5 padding-0">
                                                <label class="label-text radio-label">
                                                    In Country&nbsp;
                                                    <input type="radio" id="rdoInCountry" checked="checked" class="annual-leaves" name="InCountryRadios" value="@(Model.InCountry) ">
                                                </label>
                                            </div>

                                            <div class="col-sm-5 padding-0">
                                                <label class="label-text radio-label">
                                                    Out Country&nbsp;
                                                    <input type="radio" id="rdoOutCountry" class="annual-leaves" name="OutCountryRadios" value="@(Model.OutCountry)">
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" id="divDesignation" style="display: none;">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CountryID)</div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, " Select Country", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCountry" })
                                            @Html.ValidationMessageFor(m => m.CountryID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ContactInfo1) </div>
                                        <div class="col-sm-8">
                                            @*@Html.TextBoxFor(m => m.LapsingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtLastYearCarriedDays" })*@
                                            @Html.TextBoxFor(m => m.ContactInfo1, new { @class = "form-control NumberOnly", @id = "txtContactInfo1" })
                                            @Html.ValidationMessageFor(m => m.ContactInfo1)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Contact Info 2: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ContactInfo2, new { @class = "form-control NumberOnly", @id = "txtContactInfo2" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Contact Info 3: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ContactInfo3, new { @class = "form-control NumberOnly", @id = "txtContactInfo3" })</div>
                                    </div>
                                    <div id="divUploadFileAdd" class="form-group col-sm-12">
                                        <div class="col-sm-4">Medical / Other Certificate:</div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                    <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_MC"></span><div id="file_caption_id_MC"></div>
                                                </div>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_MC" onclick="RemoveDocument('MC')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                    <div class="btn btn-primary btn-file" id="divBrowse_MC"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_MC"></div>
                                                </div>
                                            </div>
                                            <label id="txtuploadedMsgAdd_MC" style="margin-top: 3px;"> </label>
                                            <div id="divPreview_MC"></div>
                                            <input type="hidden" value="0" id="hdnFileUpload_MC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom:0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Task HandOver Details:</span>
                            </legend>
                            <div class="col-sm-12 padding-0">
                              
                                    <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        Employee:
                                    </div>
                                    <div class="col-sm-8">
                                        Task List:
                                    </div>
                                </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            @Html.DropDownList("ddlEmployee1", (SelectList)ViewBag.Employee1, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBox("txtTaskDetail1", null, new { @class = "form-control", @id = "txtTaskDetail1", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            @Html.DropDownList("ddlEmployee2", (SelectList)ViewBag.Employee2, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBox("txtTaskDetail2", null, new { @class = "form-control", @id = "txtTaskDetail2", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            @Html.DropDownList("ddlEmployee3", (SelectList)ViewBag.Employee3, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBox("txtTaskDetail3", null, new { @class = "form-control", @id = "txtTaskDetail3", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            @Html.DropDownList("ddlEmployee4", (SelectList)ViewBag.Employee4, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBox("txtTaskDetail4", null, new { @class = "form-control", @id = "txtTaskDetail4", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            @Html.DropDownList("ddlEmployee5", (SelectList)ViewBag.Employee5, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBox("txtTaskDetail5", null, new { @class = "form-control", @id = "txtTaskDetail5", @readonly = "true" })
                                        </div>
                                    </div>
                             
                                
                                </div>
                      
                          
                        </fieldset>
                    </div>

                    <div class="col-sm-12 form-group padding-0" style="margin-top:0px !important">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </span>
                                <span id="lblCharsLeft_txtComments" class="label-form legend-title-font"> </span>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">
                        <button type="button" title="Submit" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>
                        <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>

@section Scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/LeaveRequest.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
}
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);

    $jquery("#fu_MC").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_MC").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), DocumentvalidExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_MC").text("");
                $jquery("#divBrowse_MC").hide();
                $jquery("#btnRemove_MC").show();
                $jquery("#file_caption_name_MC").show();
                $jquery("#file_caption_id_MC").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_MC").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_MC').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
            }
            else {
                $jquery("#txtuploadedMsgAdd_MC").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_MC").hide();
                $jquery("#divAddInforamtionDialog_MC").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_MC").text("Only JPG,JPEG,PNG,GIF,PDF,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_MC").hide();
            $jquery("#divAddInforamtionDialog_MC").hide();
        }
    });

</script>



