﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.LeaveRequestModel
@{
    ViewBag.Title = "HRMS - Employee Leave Request";
    List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;    
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Leave Request</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmployeeLeaveRequestForm" }))
{
    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("hdnFormProcessID", (object)ViewBag.FormProcessID, new { @id = "hdnFormProcessID" })
    @Html.HiddenFor(m => m.VacationTypeID)
    @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })
    @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
    @Html.Hidden("hdnVacationTypeID", Model.VacationTypeID, new { @id = "hdnVacationTypeID" })
    @Html.Hidden("hdnVTCategoryID", new { @id = "hdnVTCategoryID" })
    @Html.Hidden("hdnBalanceDays", new { @id = "hdnBalanceDays" })
    @Html.Hidden("hdnRequestedDays", Model.RequestedDays, new { @id = "hdnRequestedDays" })
 
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" id="" style="">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-suitcase"></span>
                        Employee Leave Request
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                    <div class="pull-right">                       
                        @*@if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {                      
                            <a href="javascript:void(0);" title="Submit" id="btnUpdate" class="btn btn-success btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                        }
                        else*@
                        
                            <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                            <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                        
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body" id="divReuest">

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 6, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddmode = false, formProcessId = (object)ViewBag.FormProcessID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom:0;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Leave Request Details:</span>
                            </legend>
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-6 padding-0">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.VacationTypeID)</div>
                                        <input type="hidden" id="ddlLeaveType" value="@Model.VacationTypeID" />
                                        <div class="col-sm-8">
                                            <input type="hidden" value="@Model.ID" id="hdn_JD" />
                                            @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Last Year Carried Forward Days: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.LapsingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtLastYearCarriedDays" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Extended Lapsed Days: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ExtendedLapsingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtExtendedLapsedDays" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Half Day Leave: </div>
                                        <div class="col-sm-8">@Html.CheckBoxFor(m => m.HalfDayLeave, new { @id = "chkHalfday" })</div>
                                    </div>
                                    <div class="form-group col-sm-12" style="margin-bottom:0px!important">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.FromDate) </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "DOB form-control", id = "txtFromDate" })
                                            </div>
                                            <label id="txtFromDatelbel" style="margin-top: 3px;"> </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" style="margin-bottom:0px!important">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ToDate) </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "DOB form-control", @required = "required", id = "txtToDate" })
                                            </div>
                                            <label id="txtToDatelbel" style="margin-top: 3px;"> </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Requested Days: </div>
                                        @*<div class="col-sm-8">@Html.TextBox("txtRequestedDays", null, new { @class = "form-control", @readonly = "readonly" })</div>*@
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.RequestedDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtRequestedDays" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Remaining Days: </div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.RemainingDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtRemainingDays" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 padding-0">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Total Available Leaves: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.AvailableLeaveDays, null, new { @class = "form-control", @readonly = "readonly", @id = "txtTotalAvailLeaves" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Last Year Forward Lapse Date: </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.LapsingDate, "{0:dd/MM/yyyy}", new { @class = "DOB form-control", @disabled = "disabled", @id = "txtLastYearForwardLapseDate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Extended Lapse Date: </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.ExtendedLapsingDate, "{0:dd/MM/yyyy}", new { @class = "DOB form-control", @disabled = "disabled", @id = "txtExtendedLapsedate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">Location:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-5 padding-0">
                                                <label class="label-text radio-label">
                                                    In Country&nbsp;
                                                    <input type="radio" id="rdoInCountry" class="annual-leaves" name="InCountryRadios" value="@(Model.InCountry)" @(Model.InCountry == true ? "checked" : "")>
                                                </label>
                                            </div>
                                            <div class="col-sm-5 padding-0">
                                                <label class="label-text radio-label">
                                                    Out Country&nbsp;
                                                    <input type="radio" id="rdoOutCountry" class="annual-leaves" name="OutCountryRadios" value="@(Model.OutCountry)" @(Model.OutCountry == true ? "checked" : "")>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" style="@(Model.OutCountry? "display:block" : "display:none")" id="divDesignation">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CountryID)</div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, " Select Country", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCountry" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ContactInfo1) </div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ContactInfo1, new { @class = "form-control NumberOnly", @id = "txtContactInfo1" })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Contact Info 2: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ContactInfo2, new { @class = "form-control NumberOnly", @id = "txtContactInfo2" })</div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">Contact Info 3: </div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ContactInfo3, new { @class = "form-control NumberOnly", @id = "txtContactInfo3" })</div>
                                    </div>

                                    <div id="divUploadFileAdd" class="form-group col-sm-12">
                                        <div class="col-sm-4">Medical / Other Certificate:</div>
                                        @{
                                            var itemMC = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.MadicalCerFileID);
                                            if (itemMC != null && itemMC.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemMC.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_MC">@itemMC.FileName.Substring(0, 15)</span><div id="file_caption_id_MC"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_MC">@itemMC.FileName.ToString()</span><div id="file_caption_id_MC"></div>
                                                            }


                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_MC" onclick="RemoveDocument('MC', 'MadicalCerFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_MC"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_MC"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_MC" class="PreviewName">
                                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview(@Model.MadicalCerFileID);">@itemMC.FileName</a>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_MC" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_MC" />
                                                    <input type="hidden" value="@Model.MadicalCerFileID" id="hdnFileUpload_MC" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_MC"></span><div id="file_caption_id_MC"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_MC" onclick="RemoveDocument('MC', 'MadicalCerFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_MC"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_MC"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_MC" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_MC" class="field-validation-error" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_MC" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_MC" />
                                                </div>
                                            }
                                        }


                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group col-sm-12 padding-0" style="margin-bottom:0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Task HandOver Details:</span>
                            </legend>

                            <div class="col-sm-12 padding-0">

                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4" >
                                        Employee:
                                    </div>
                                    <div class="col-sm-8">
                                        Task List:
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlEmployee1", (SelectList)ViewBag.Employee1, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                    </div>
                                    <div class="col-sm-8">
                                        @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 0)
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[0].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail1" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBox("txtTaskDetail1", null, new { @class = "form-control", @id = "txtTaskDetail1" })
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlEmployee2", (SelectList)ViewBag.Employee2, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                    </div>
                                    <div class="col-sm-8">
                                        @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 1)
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[1].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail2" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBox("txtTaskDetail2", null, new { @class = "form-control", @id = "txtTaskDetail2" })
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlEmployee3", (SelectList)ViewBag.Employee3, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                    </div>
                                    <div class="col-sm-8">
                                        @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 2)
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[2].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail3" })
                                            </div>
                                        }
                                        else

                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBox("txtTaskDetail3", null, new { @class = "form-control", @id = "txtTaskDetail3" })
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlEmployee4", (SelectList)ViewBag.Employee4, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                    </div>
                                    <div class="col-sm-8">
                                        @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 3)
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[3].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail4" })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBox("txtTaskDetail4", null, new { @class = "form-control", @id = "txtTaskDetail4" })
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlEmployee5", (SelectList)ViewBag.Employee5, " Select Employee", new { @class = "form-control selectpicker tasklistemployee", @data_live_search = "true" })
                                    </div>
                                    <div class="col-sm-8">
                                        @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 4)
                                        {
                                            <div class="form-group col-sm-12">
                                                @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[4].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail5" })
                                            </div>
                                        }
                                        else
                                        { <div class="form-group col-sm-12">
                                            @Html.TextBox("txtTaskDetail5", null, new { @class = "form-control" , @id = "txtTaskDetail5" })
                                        </div>
                                        }
                                    </div>
                                </div>


                            </div>
                            @*<div class="col-sm-12 padding-0">
                                <div class="col-sm-4">
                                    <div class="form-group col-sm-12">
                                        Employee:
                                    </div>
                                    <div class="form-group col-sm-12">
                                        @Html.DropDownList("ddlEmployee1", (SelectList)ViewBag.Employee1, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true" })

                                    </div>
                                    <div class="form-group col-sm-12">
                                        @Html.DropDownList("ddlEmployee2", (SelectList)ViewBag.Employee2, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true" })

                                    </div>
                                    <div class="form-group col-sm-12">
                                        @Html.DropDownList("ddlEmployee3", (SelectList)ViewBag.Employee3, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true" })

                                    </div>
                                    <div class="form-group col-sm-12">
                                        @Html.DropDownList("ddlEmployee4", (SelectList)ViewBag.Employee4, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true" })

                                    </div>
                                    <div class="form-group col-sm-12">
                                        @Html.DropDownList("ddlEmployee5", (SelectList)ViewBag.Employee5, " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group col-sm-12">
                                        Task List:
                                    </div>
                                    @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 0)
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[0].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail1" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBox("txtTaskDetail1", null, new { @class = "form-control" })
                                        </div>
                                    }
                                    @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 1)
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[1].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail2" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBox("txtTaskDetail2", null, new { @class = "form-control" })
                                        </div>
                                    }
                                    @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 2)
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[2].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail3" })
                                        </div>
                                    }
                                    else

                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBox("txtTaskDetail3", null, new { @class = "form-control" })
                                        </div>
                                    }
                                    @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 3)
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[3].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail4" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBox("txtTaskDetail4", null, new { @class = "form-control" })
                                        </div>
                                    }
                                    @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count > 4)
                                    {
                                        <div class="form-group col-sm-12">
                                            @Html.TextBoxFor(m => m.EmployeeTaskHandoverList[4].TaskDetail, null, new { @class = "form-control", @id = "txtTaskDetail5" })
                                        </div>
                                    }
                                    else
                                    { <div class="form-group col-sm-12">
                                        @Html.TextBox("txtTaskDetail5", null, new { @class = "form-control" })
                                    </div>
                                    }
                                </div>
                            </div>*@
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </span>
                                <span id="lblCharsLeft_txtComments" class="label-form legend-title-font"> </span>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                        <div class="row">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = (object)ViewBag.FormProcessID }); }
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">                      
                        @*@if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <button type="button" title="Submit" id="btnUpdate" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>
                        }
                        else*@
                        
                            <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                            <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                        
                        <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
                                }

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>

@section Scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/LeaveRequest.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
}

<script type="text/javascript">
    $jquery = jQuery.noConflict(true);

    $jquery("#fu_MC").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_MC").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), DocumentvalidExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_MC").text("");
                $jquery("#divBrowse_MC").hide();
                $jquery("#btnRemove_MC").show();
                $jquery("#file_caption_name_MC").show();
                $jquery("#file_caption_id_MC").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_MC").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_MC').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
            }
            else {
                $jquery("#txtuploadedMsgAdd_MC").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_MC").hide();
                $jquery("#divAddInforamtionDialog_MC").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_MC").text("Only JPG,JPEG,PNG,GIF,PDF,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_MC").hide();
            $jquery("#divAddInforamtionDialog_MC").hide();
        }
    });

</script>





