﻿@model HRMS.Entities.Forms.FormLeaverequestviewModel
@using HRMS.Entities
@{
    ViewBag.Title = "HRMS - Employee Leave Request";
}
<style>
    .colorred{
        color:red;
    }
</style>

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Leave Request</li>
    </ul>
}
<div class="row">
    @Html.Hidden("hdnFormProcessID", Model.FormProcessID)
    <div class="col-sm-12">
        <div class="panel panel-default" id="" style="">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-suitcase"></span>
                    Employee Leave Request
                    <span>(Request ID : @Model.RequestID)</span>
                </h3>
                <div class="pull-right">
                    @*@if (Model.ReqStatusID == (short)RequestStatus.Completed && !Model.CancelLeaveRequest && isShowLeaveRequestCancellation)
                    {
                    <a href="javascript:void(0);" title="Cancel Request" id="btnCancelRequest" class="btn btn-danger btn-rounded btn-condensed btn-sm btnCancelRequest"><i class="fa fa-times"></i></a>
                    }*@                  
                    <a href="javascript:void(0);" title="Back To Separation List" id="btnBack" onclick="BackToTaskList();" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body" id="divReuest">
                @if (Model.CancelLeaveRequest)
                {
                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Leave Cancellation Details:
                                </span>

                            </legend>
                            <div class="col-sm-12">
                                <div class="col-sm-12 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <label class="label-form colorred"><b>This leave request cancelled by @Model.EmployeeName  on @Model.ModifiedOn.ToString(ModelHelpers.HRMSDateFormat)</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }

                <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 6, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0" style="margin-bottom:0;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-control legend-title-font"> Leave Request Details:</span>
                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.Name)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.Name)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Last Year Carried Forward Days:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.LapsingDays)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Extended Lapsed Days:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.ExtendedLapsingDays)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.HalfDayLeave)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.HalfDayLeave)</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.FromDate) </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.FromDate)</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.ToDate)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.ToDate)</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.RequestedDays)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.RequestedDays)</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.RemainingDays)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.RemainingDays)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.TotalAvailableLeaves)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.AvailableLeaveDays)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Last Year Forward Lapse Date:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.LapsingDate)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Extended Lapse Date:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.ExtendedLapsingDate)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Location:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <span class="margin-right">
                                                In Country&nbsp;
                                                <input type="radio" id="rdoInCountry" class="annual-leaves" name="InCountryRadios" value="@(Model.InCountry)" @(Model.InCountry == true ? "checked" : "") disabled>
                                            </span>
                                            <span>
                                                Out Country&nbsp;
                                                <input type="radio" id="rdoOutCountry" class="annual-leaves" name="OutCountryRadios" value="@(Model.OutCountry)" @(Model.OutCountry == true ? "checked" : "") disabled>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                @if (Model.OutCountry)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.CountryName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.CountryName)</span>
                                        </div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.ContactInfo1)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.ContactInfo1)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.ContactInfo2)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.ContactInfo2)</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.LabelFor(m => m.ContactInfo3)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.ContactInfo3)</span>
                                    </div>
                                </div>
                                @if (Model.AllFormsFilesModelList != null && Model.MadicalCerFileID > 0)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.MadicalCerFileID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">
                                                <a id="PreviewFile_OL" href="javascript:void(0);" onclick="OpenFilePreview('EmployeeLeaveRequest',@Model.MadicalCerFileID);">@Model.AllFormsFilesModelList[0].FileName</a>
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0" style="margin-bottom:0px;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-control legend-title-font"> Task HandOver Details:</span>
                        </legend>
                        <div class="col-sm-12">

                            <table class="display table table-bordered alternatecolor" width="100%" data-toggle="table" data-cache="false" data-height="299">
                                <thead>
                                    <tr>
                                        <th style="width:30%">Employee</th>
                                        <th>Task List</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.EmployeeTaskHandoverList != null && Model.EmployeeTaskHandoverList.Count>0)
                                    {
                                        foreach (var item in Model.EmployeeTaskHandoverList)
                                        {
                                            <tr>
                                                <td>@item.FullName</td>
                                                <td>@item.TaskDetail</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2" class="colorred">No task to handover.</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                </div>

          

            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                 
                    <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{  
    <script src="~/Scripts/Custom/Forms/LeaveRequest.js"></script>
}