﻿@model HRMS.Entities.PDRP.AppraisalTeachingModel
@using HRMS.Entities.Common;
@using HRMS.Entities;
@{

    int RowNo = 1, TotalWeight = 0;
    int Stat = 0;
    if (Model.ApproverEmployeeID != Model.LoginID)
    {
        Stat = 1;
    }
    //if (Model.FormMode >= 2)
    //{
    //    Stat = 1;
    //}
    if (Model.EmpCurrentCompanyID != Model.AppraisalTeachingEmployeeModel.CompanyID)
    {
        Stat = 1;

    }
    if (Model.EmployeeBasedGroup == false)
    {
        Stat = 1;
    }

    int InViewMode = Model.InViewMode;

    if (InViewMode == 1)
    {

        Stat = 1;
    }
    if (Model.FormMode == 3)
    {
        Stat = 1;
    }
}
<style>
    .wid1801 {
        width: 180px !important;
    }

    .selectpicker {
        width: 180px !important;
    }

    .vertical-Top {
        vertical-align: top !important;
    }

    .wid1801 > .btn {
        width: 180px !important;
    }
</style>
@**** DropIns*@
<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONB")
            </span>
        </legend>
        @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.KPIYear)*@
        <div class="col-lg-12">
            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Sr")
                    </th>

                    <th class="col-sm-5 center-text-align">
                        KPI
                    </th>
                    <th class="col-sm-1 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Weight")
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPCommonXMLResources.GetCommonPDRPResource("Comments")
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Rating")
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Score")
                    </th>
                </tr>


                <tr>
                    <td class="col-sm-1"><label class="col-sm-12">1</label></td>
                    <td class="col-sm-5 ">
                        <a href="javascript:void(0);" title="View Dropins" id="btnBack" onclick="ViewDeductionDetails(@Model.AppraisalTeachingEmployeeModel.TeacherID , '@Model.AppraisalTeachingEmployeeModel.TeacherName', '@Model.AppraisalTeachingEmployeeModel.AppraisalTeachingYearID' ,'@Model.AppraisalTeachingEmployeeModel.AppraisalTeachingYear')" class="btn-rounded btn-condensed btn-sm custom-margin">
                            @PDRPAnnualAppraisalXMLResources.GetResource("DropInsEvaluation")
                        </a>

                    </td>
                    <td class="col-sm-1">

                        <label>
                            30%
                        </label>



                    </td>
                    <th class="col-sm-2">
                        @Html.TextAreaFor(m => m.DropInComment, Stat == 1 ? new { @class = "form-control",@disabled = "disabled" } : (object)new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DropInComment)
                    </th>
                    <th class="col-sm-2">
                        <div class="col-lg-12">
                            @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].ProficiencyID)*@
                            @Html.HiddenFor(m => m.DropInRating)
                            @Html.HiddenFor(m => m.DropInScoreOverall)
                            @Html.HiddenFor(m => m.FormulasDropin)


                            @Html.DropDownListFor(m => m.DropInRating
                                                             , new SelectList(ViewBag.AppraisalKPIYears, "Value", "Text", Model.DropInRating)

                                                             , new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "DropInRating",
                                                                 @type = "number",
                                                                 @disabled = "disabled",
                                                             })
                        </div>

                    </th>
                    <th class="col-sm-2">
                        @Html.TextBoxFor(m => m.DropInScoreOverall
                                                    , new
                                                    {
                                                        @class = "form-control formcontrol",
                                                        @disabled = "disabled",

                                                    })
                    </th>
                </tr>



            </table>

        </div>
    </fieldset>
</div>
@*Observations*@
<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONC")

            </span>

        </legend>
        @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.KPIYear)*@
        <div class="col-lg-12">
            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Sr")
                    </th>

                    <th class="col-sm-5 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Observations")
                    </th>
                    <th class="col-sm-1 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Weight")
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPCommonXMLResources.GetCommonPDRPResource("Comments")
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Rating")
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Score")
                    </th>
                </tr>


                <tr>
                    <td class="col-sm-1"><label class="col-sm-12">1</label></td>
                    <td class="col-sm-5 ">
                        <a href="javascript:void(0);" title="View Observation" id="btnBack" onclick="ViewObservation(@Model.ObservEvlID)" class="btn-rounded btn-condensed btn-sm custom-margin">
                            @PDRPAnnualAppraisalXMLResources.GetResource("LessonObservationEvaluation")
                        </a>

                    </td>
                    <td class="col-sm-1">

                        <label>
                            20%
                        </label>



                    </td>
                    <th class="col-sm-2">
                        @Html.TextAreaFor(m => m.ObservEvlComment, Stat == 1 ? new { @class = "form-control", @disabled = "disabled" } : (object)new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ObservEvlComment)
                    </th>
                    <th class="col-sm-2">
                        <div class="col-lg-12">
                            @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].ProficiencyID)*@
                            @Html.HiddenFor(m => m.ObservEvlRating)
                            @Html.HiddenFor(m => m.ObservEvlScoreOverall)
                            @Html.HiddenFor(m => m.FormulasObservation)
                            @Html.DropDownListFor(m => m.ObservEvlRating
                                                             , new SelectList(ViewBag.AppraisalKPIYears, "Value", "Text", Model.ObservEvlRating)
                                                             , new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "ObservEvlRating",
                                                                 @type = "number",
                                                                 @disabled = "disabled",

                                                             })
                        </div>

                    </th>
                    <th class="col-sm-2">
                        @Html.TextBoxFor(m => m.ObservEvlScoreOverall
                                                    , new
                                                    {
                                                        @class = "form-control formcontrol",
                                                        @disabled = "disabled",

                                                    })
                    </th>
                </tr>



            </table>

        </div>
    </fieldset>

</div>
@**** Section D*@
<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("SECTIOND")
            </span>

        </legend>

        @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.KPIYear)*@
        <div class="col-lg-12">
            <label id="lblCharsLeft_DevelopmentPlan" class=" label-form" style="font-size:12px !important">@PDRPAnnualAppraisalXMLResources.GetResource("DevelopmentPlan") @Html.ValidationMessageFor(m => m.DevelopmentPlan)</label>

            @Html.TextAreaFor(m => m.DevelopmentPlan
                                                    , Stat == 1 ? new { @class = "form-control formcontrol",
                                                        @disabled = "disabled"
                                                    } : (object)new
                                                    {
                                                        @class = "form-control formcontrol",


                                                    })
        </div>
    </fieldset>

</div>

@**** Section E*@
<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE")
            </span>
        </legend>

        @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.KPIYear)*@
        <div class="col-lg-12">
            <label id="" class="label-form" style="font-size:12px !important">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T")</label>
            @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T1")
            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align" colspan="2">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T2")
                    </th>
                </tr>


                <tr>
                    <td class="col-sm-8">
                        <label class="col-sm-12">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T3")</label>
                        <label class="col-sm-12 red">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T4")</label>
                    </td>
                    <td class="col-sm-4 ">
                        @Html.ValidationMessageFor(m => m.PromotionPotantial)
                        <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.PromotionPotantial, "1", Stat == 1 ? new { id = "radio0", @value = 0, @disabled = "disabled" } : (object)new { id = "radio0", @value = 0 })
                                    @Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T5"), new { @for = "radio0" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.PromotionPotantial, "2", Stat == 1 ? new { id = "radio1", @value = 1, @disabled = "disabled" } : (object)new { id = "radio1", @value = 1 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T6"), new { @for = "radio1" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.PromotionPotantial, "3", Stat == 1 ? new {id = "radio2", @value = 2, @disabled = "disabled" } : (object)new { id = "radio2", @value = 2 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T7"), new { @for = "radio2" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.PromotionPotantial, "4", Stat == 1 ? new { id = "radio3", @value = 3, @disabled = "disabled" } : (object)new { id = "radio3", @value = 3 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T8"), new { @for = "radio3" })


                                    @*</div>*@

                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td class="col-sm-12" colspan="2">
                        @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("Justifications"))@Html.ValidationMessageFor(m => m.PromotionPotantialComment)
                        @Html.TextAreaFor(m => m.PromotionPotantialComment
                                                    , Stat == 1 ? new { @class = "form-control formcontrol",
                                                        @disabled = "disabled"
                                                    } : (object)new
                                                    {
                                                        @class = "form-control formcontrol",


                                                    })
                    </td>
                </tr>


            </table>
        </div>

        <div class="col-lg-12">

            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align" colspan="2">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T9")
                    </th>
                </tr>


                <tr>
                    <td class="col-sm-8">
                        <label class="col-sm-12">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T10")</label>
                        <label class="col-sm-12 red">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T11")</label>
                    </td>
                    <td class="col-sm-4 ">
                        @Html.ValidationMessageFor(m => m.NextPromotion)
                        <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.NextPromotion, "1", Stat == 1 ? new { id = "radio10", @value = 0, @disabled = "disabled" } : (object)new { id = "radio10", @value = 0 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T12"), new { @for = "radio10" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.NextPromotion, "2", Stat == 1 ? new { id = "radio11", @value = 1, @disabled = "disabled" } : (object)new { id = "radio11", @value = 1 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T13"), new { @for = "radio11" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.NextPromotion, "3", Stat == 1 ? new { id = "radio12", @value = 2, @disabled = "disabled" } : (object)new { id = "radio12", @value = 2 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T14"), new { @for = "radio12" })


                                    @*</div>*@

                                </td>
                            </tr>

                        </table>
                    </td>

                </tr>
                <tr>
                    <td class="col-sm-12" colspan="2">
                        @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("Justifications"))@Html.ValidationMessageFor(m => m.NextPromotionComment)
                        @Html.TextAreaFor(m => m.NextPromotionComment
                                                    , Stat == 1 ? new
                                                    {
                                                        @class = "form-control formcontrol",
                                                        @disabled = "disabled"
                                                    } : (object)new
                                                    {
                                                        @class = "form-control formcontrol",


                                                    })
                    </td>
                </tr>


            </table>
        </div>

        <div class="col-lg-12">

            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align" colspan="2">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T15")
                    </th>
                </tr>


                <tr>
                    <td class="col-sm-8">
                        <label class="col-sm-12">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T16")</label>
                        <label class="col-sm-12 red">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T17")</label>
                    </td>
                    <td class="col-sm-4 ">
                        @Html.ValidationMessageFor(m => m.LeavingRisk)
                        <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingRisk, "1", Stat == 1 ? new { id = "radio20", @value = 0, @disabled = "disabled" } : (object)new { id = "radio20", @value = 0 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T18"), new { @for = "radio20" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingRisk, "2", Stat == 1 ? new { id = "radio21", @value = 1, @disabled = "disabled" } : (object)new { id = "radio21", @value = 1 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T19"), new { @for = "radio21" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingRisk, "3", Stat == 1 ? new { id = "radio22", @value = 2, @disabled = "disabled" } : (object)new { id = "radio22", @value = 2 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T20"), new { @for = "radio22" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingRisk, "4", Stat == 1 ? new { id = "radio23", @value = 3, @disabled = "disabled" } : (object)new { id = "radio23", @value = 3 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T21"), new { @for = "radio23" })


                                    @*</div>*@

                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td class="col-sm-12" colspan="2">
                        @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("Justifications"))@Html.ValidationMessageFor(m => m.LeavingRiskComment)
                        @Html.TextAreaFor(m => m.LeavingRiskComment
                                                    , Stat == 1 ? new
                                                    {
                                                        @class = "form-control formcontrol",
                                                        @disabled = "disabled"
                                                    } : (object)new
                                                    {
                                                        @class = "form-control formcontrol",


                                                    })
                    </td>
                </tr>


            </table>
        </div>

        <div class="col-lg-12">

            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align" colspan="2">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T22")
                    </th>
                </tr>


                <tr>
                    <td class="col-sm-8">
                        <label class="col-sm-12">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T23")</label>
                        <label class="col-sm-12 red">@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T24")</label>
                    </td>
                    <td class="col-sm-4 ">
                        @Html.ValidationMessageFor(m => m.LeavingReason)
                        <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingReason, "1", Stat == 1 ? new { id = "radio30", @value = 0, @disabled = "disabled" } : (object)new { id = "radio30", @value = 0 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T25"), new { @for = "radio30" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingReason, "2", Stat == 1 ? new { id = "radio31", @value = 1, @disabled = "disabled" } : (object)new { id = "radio31", @value = 1 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T26"), new { @for = "radio31" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingReason, "3", Stat == 1 ? new { id = "radio32", @value = 2, @disabled = "disabled" } : (object)new { id = "radio32", @value = 2 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T27"), new { @for = "radio32" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingReason, "4", Stat == 1 ? new { id = "radio33", @value = 3, @disabled = "disabled" } : (object)new { id = "radio33", @value = 3 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T28"), new { @for = "radio33" })


                                    @*</div>*@

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<div class="divGender col-sm-5">*@
                                    @Html.RadioButtonFor(i => i.LeavingReason, "5", Stat == 1 ? new { id = "radio34", @value = 4, @disabled = "disabled" } : (object)new { id = "radio34", @value = 4 })
                                    @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("SECTIONE_T29"), new { @for = "radio34" })


                                    @*</div>*@

                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td class="col-sm-12" colspan="2">
                        @Html.Label(@PDRPAnnualAppraisalXMLResources.GetResource("Justifications")) @Html.ValidationMessageFor(m => m.LeavingReasonComment)
                        @Html.TextAreaFor(m => m.LeavingReasonComment
                                                    , Stat == 1 ? new
                                                    {
                                                        @class = "form-control formcontrol",
                                                        @disabled = "disabled"
                                                    } : (object)new
                                                    {
                                                        @class = "form-control formcontrol",


                                                    })
                    </td>
                </tr>


            </table>
        </div>

    </fieldset>

</div>

<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("OverallPerformanceScore")
            </span>
        </legend>
        <div class="col-lg-12">
            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 ">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTION_A")
                    </th>

                    <th class="col-sm-5 ">
                        KPIs
                    </th>
                    <th class="col-sm-3 ">
                        @Html.TextBoxFor(m => m.AppraisalKPIsListModel.TotalKPIScore, new { @class = "form-control", id = "tTotalKPIScore", @disabled = "disabled" })
                    </th>
                    <th class="col-sm-3 ">

                    </th>
                </tr>
                <tr>
                    <th class="col-sm-1">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTION_B")
                    </th>

                    <th class="col-sm-5">
                        @PDRPAnnualAppraisalXMLResources.GetResource("DropInsEvaluation")
                    </th>
                    <th class="col-sm-3">
                        @Html.TextBoxFor(m => m.DropInScoreOverall
                                                    , new
                                                    {
                                                        @class = "form-control formcontrol",

                                                        @disabled = "disabled",
                                                        id = "DropInScoreOverall"
                                                    })
                    </th>
                    <th class="col-sm-3">

                    </th>
                </tr>
                <tr>
                    <th class="col-sm-1">
                        @PDRPAnnualAppraisalXMLResources.GetResource("SECTION_C")
                    </th>

                    <th class="col-sm-5">
                        @PDRPAnnualAppraisalXMLResources.GetResource("LessonObservationEvaluation")
                    </th>
                    <th class="col-sm-3">
                        @Html.TextBoxFor(m => m.ObservEvlScoreOverall
                                                    , new
                                                    {
                                                        @class = "form-control formcontrol",

                                                        @disabled = "disabled",
                                                        @id = "ObservEvlScoreOverall"
                                                    })
                    </th>
                    <th class="col-sm-3">

                    </th>
                </tr>
                <tr>
                    <th class="col-sm-5" colspan="2">
                        @PDRPAnnualAppraisalXMLResources.GetResource("TotalPerformanceScore")
                    </th>
                    <th class="col-sm-3">
                        @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScore, Stat == 1 ? new
                                           {
                                               @class = "form-control",
                                               @disabled = "disabled"
                                           } : (object)new { @class = "form-control read", @id = "ThisYearScore" })
                        @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScore)
                    </th>
                    <th class="col-sm-3">
                        @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScoreDescription, new
                                           {
                                               @class = "form-control",
                                               @disabled = "disabled"
                                           })
                        @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScoreDescription)
                    </th>
                </tr>
            </table>

        </div>

    </fieldset>
</div>

<div class="row">
    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("TalentArea")
            </span>
        </legend>
        <div class="col-lg-12">
            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-6 line-height-30">
                        <div class="col-sm-12 img-circle mx-auto d-block" id="imageHolder">
                            @{
                                string IMGPath = "";
                            @*if (Model.TalentAreaImage.Length>0 && Convert.ToInt32(Model.TalentAreaImage) > 0)
                                {
                                    IMGPath = "/Areas/PDRP/images/" + Model.TalentAreaImage + ".jpg";
                                    <img class="block-full-width" src=@IMGPath />
                                }*@
                            IMGPath = "/Areas/PDRP/images/1.jpg";
                            <img class="block-full-width" src=@IMGPath />
                            }

                        </div>
                    </th>

                    <th class="col-sm-6 vertical-Top">
                        <div class="col-lg-12 padding-15">
                            @PDRPAnnualAppraisalXMLResources.GetResource("Pleasestate")
                        </div>
                        <div class="col-lg-12">
                            @Html.DropDownListFor(m => m.TalentAreaImage
                                                                 , new SelectList(new List<SelectListItem>
                                                                    {
                                                                     new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("SelectTalent"), Value = "0" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("TopTalent"), Value = "1" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("Promotable"), Value = "2" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("ValuedPro"), Value = "3" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("Expandable"), Value = "4" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("SolidCitizen"), Value = "5" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("SuitablyPlaced"), Value = "6" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("ProveYourself"), Value = "7" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("WatchthisSpace"), Value = "8" },
                                                                        new SelectListItem{ Text=@PDRPAnnualAppraisalXMLResources.GetResource("PoorJob"), Value = "9" },
                                                                     }, "Value", "Text", Model.TalentAreaImage)
                                                                 , Stat == 1 ? new
                                                                 {
                                                                     @class = "selectpicker wid1801",
                                                                     @data_live_search = "true",
                                                                     @id = "TalentAreaImage",
                                                                     @type = "number",
                                                                     @disabled = "disabled"

                                                                 } : (object)new
                                                                 {
                                                                     @class = "selectpicker wid1801",
                                                                     @data_live_search = "true",
                                                                     @id = "TalentAreaImage",
                                                                     @type = "number"

                                                                 })
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="col-sm-12" colspan="2">
                        @PDRPCommonXMLResources.GetCommonPDRPResource("Comments") @Html.ValidationMessageFor(m => m.AppraisalComment)
                        @Html.TextAreaFor(m => m.AppraisalComment, Stat == 1 ? new
                    {
                        @class = "form-control",
                        @maxlength = 2000,
                        @disabled = "disabled"
                    } : (object)new { @class = "form-control", @maxlength = 2000 })
                    </td>
                </tr>
            </table>

        </div>

    </fieldset>
</div>


