﻿@model HRMS.Entities.PDRP.AppraisalTeachingModel

@using HRMS.Entities.Common;
@using HRMS.Entities;

@{
    string Caption = PDRPAnnualAppraisalXMLResources.GetResource("EmployeeDetails");
    //Caption = Model.FormMode == 2 ? "Requester Details" :
    //    (Model.FormMode == 1 ? "Employee Details:" : "Employee Details:");
    int Stat = 0;
    if (Model.ApproverEmployeeID != Model.LoginID)
    {
        Stat = 1;
    }
    //if (Model.FormMode == 2)
    //{
    //    Model.isAddMode = "5";
    //}
    //if (Model.FormMode >= 2)
    //{
    //    Stat = 1;
    //}
    int RatingScaleNo = 0;

    if (Model.EmpCurrentCompanyID != Model.AppraisalTeachingEmployeeModel.CompanyID)
    {
        Stat = 1;
    }

    if (Model.EmployeeBasedGroup == false)
    {
        Stat = 1;
    }

    int InViewMode = Model.InViewMode;

    if (InViewMode == 1)
    {

        Stat = 1;
    }

    if (Model.FormMode == 3)
    {
        Stat = 1;
    }
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@

<style>
    /*.row [class^='col-xs-'], .row [class^='col-sm-'], .row [class^='col-md-'], .row [class^='col-lg-'] {
        padding-left: 20px;
        padding-right: 20px;
    }*/
    ul.panel-controls > li.label-control .label, .label-form {
        margin-top: 2px;
    }

    .rowhttwo {
        height: 65px;
        margin-bottom: 0px !important;
        padding-top: 20px !important;
    }

    .rowhone {
        height: 26px;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }


    .formcontrol {
        /*margin-top: 3px;*/
        height: 24px;
        font-size: 12px;
        line-height: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        border: 1px solid #D5D5D5;
        background: #F9F9F9;
    }

    .cal {
        padding: 0px 0px;
        margin-top: 3px;
        font-size: 10px;
        line-height: 20px;
    }
</style>
<fieldset class="fieldset-Section">
    <legend class="legend-border">
        <span class="label-form legend-title-font">
            @Caption
        </span>

    </legend>
    <div class="col-lg-12">
        <div class="col-sm-6 alternatecolor">
            @*@Html.HiddenFor(m => m.isAddMode)*@
            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.RequestID)
            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.RequesterID)
            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.CompanyID)
            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.ID)
            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingYearID)
            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.ReqStatusID, new { @id = "ReqStatusID" })
            
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("RequestDate"), new { @class = "label-form" })</div>
                <div class="col-sm-8"><span class="label-form" dir="ltr">@Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.RequestDate, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("EmployeeName"), new { @class = "label-form", @id = "TeacherName", @data_requestername = Model.AppraisalTeachingEmployeeModel.TeacherName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.TeacherName, new { @class = "form-control", @id = "TeacherName" })
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.TeacherID)
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.TeacherName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("Department"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.DepartmentName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.DepartmentName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("Designation"), new { @class = "label-form", @id = "PositionTitle", @data_positiontitle = Model.AppraisalTeachingEmployeeModel.PositionTitle })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.PositionTitle, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.PositionTitle)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("LineManager"), new { @class = "label-form", @id = "SuperviserName", @data_supervisername = Model.AppraisalTeachingEmployeeModel.SuperviserName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.SuperviserName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.SuperviserName)
                    </span>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("LastYearScore"), new { @class = "label-form", @id = "SuperviserName", @data_supervisername = Model.AppraisalTeachingEmployeeModel.LastYearScore })</div>
                <div class="col-sm-8">

                    @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.LastYearScore, new { @class = "form-control formcontrol", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.LastYearScore)

                </div>
            </div>



        </div>
        <div class="col-sm-6 alternatecolor">

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("EmployeeID"), new { @class = "label-form", @id = "TeacherID", @data_companyname = Model.AppraisalTeachingEmployeeModel.TeacherID })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.TeacherID)
                        @Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.TeacherAlternateID, new { @class = "form-control" })
                        @*@Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.TeacherID, new { @class = "form-control" })*@
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("School"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.AppraisalTeachingEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.AppraisalTeachingEmployeeModel.CompanyName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.CompanyName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("Branch"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.AppraisalTeachingEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.Branch, Stat == 1 ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.Branch)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("GradeYear"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.AppraisalTeachingEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.GradeYear, Stat == 1 ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.GradeYear)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("GroupSection"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.AppraisalTeachingEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.GroupSection, Stat == 1 ? new { @class = "form-control formcontrol", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol" })
                    @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.GroupSection)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln leftborder" : "")">@Html.Label(PDRPAnnualAppraisalXMLResources.GetResource("ThisYearScore"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.AppraisalTeachingEmployeeModel.ThisYearScore })</div>
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    @Html.TextBox("TopThisYearScore", Model.AppraisalTeachingEmployeeModel.ThisYearScore, new { @class = "form-control formcontrol", @disabled = "disabled", @id = "TopThisYearScore" })
                    @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScore)
                </div>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScoreDescription, Stat == 1 ? new { @class = "form-control formcontrol", @id = "ThisYearScoreDescription", @disabled = "disabled" } : (object)new { @class = "form-control formcontrol", @id = "ThisYearScoreDescription" })*@
                    @Html.TextBoxFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScoreDescription, new { @class = "form-control formcontrol", @id = "ThisYearScoreDescription", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.AppraisalTeachingEmployeeModel.ThisYearScoreDescription)
                </div>
            </div>



        </div>
    </div>
</fieldset>

<fieldset class="fieldset-Section padding-0" style="border: none !important;">
    <div class="col-sm-12 padding-0">
        <div class="col-lg-12 padding-0">


            <table id="tblKPIs" class="table table-striped  table-bordered padding-0">
                <tr>
                    <th class="col-sm-3 center-text-align" colspan="5">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("RatingScaleWeightageDetails"))
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-3 center-text-align" colspan="2">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("RatingScale"))
                    </th>
                    <th class="col-sm-2 center-text-align" ">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("FinalScoreSlab"))
                    </th>

                    <th class="col-sm-7  center-text-align" borderless" colspan="2">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("Definition"))
                    </th>

                </tr>

                @if (Model.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails != null)
            {
                foreach (var app in Model.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails)
                {
                    if (!string.IsNullOrEmpty(app.DefinitionName))
                    {
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].RatingScaleCharacter)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].RatingScaleNumber)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].FinalScoreSlabMIN)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].FinalScoreSlabMAX)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].DefinitionName)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].DefinitionDetails)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].DefinitionName2)
                            @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalTeachingRatingScaleWeightageDetails[RatingScaleNo].DefinitionDetails2)
                            <tr>
                                <td class="col-sm-2  center-text-align">@app.RatingScaleCharacter</td>
                                <td class="col-sm-1 center-text-align">@app.RatingScaleNumber.ToString()</td>

                                @if (app.FinalScoreSlabMIN == 0)
                                {
                                    <td class="col-sm-2  center-text-align">
                                        Bellow   @app.FinalScoreSlabMAX
                                    </td>
                                }
                                else
                                {
                                    <td class="col-sm-2  center-text-align">
                                        @app.FinalScoreSlabMIN - @app.FinalScoreSlabMAX
                                    </td>
                                }

                                <td class="col-sm-2 ">
                                    @if (culture == "ar")
                                    {
                                        @app.DefinitionName2
                                    }
                                    else
                                    {
                                        @app.DefinitionName
                                    }
                                </td>
                                <td class="col-sm-5">
                                    @if (culture == "ar")
                                    {
                                        @app.DefinitionDetails2.ToString()
                                    }
                                    else
                                    {
                                        @app.DefinitionDetails.ToString()
                                    }
                                </td>
                            </tr>
                        }
                        RatingScaleNo++;
                    }
                }

            </table>


        </div>
    </div>

</fieldset>
<fieldset class="fieldset-Section padding-0" style="border: none !important; margin-bottom:0px !important;">
    <div class="col-sm-12  padding-0" ">
        <div class="col-lg-12  padding-0" ">


            <table id="tblKPIs" class="table table-striped  table-bordered marginles">
                <tr>
                    <th class="col-sm-3 center-text-align" colspan="3">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("WeightingPercentages"))
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-9 center-text-align" colspan="2">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("Sections"))
                    </th>
                    <th class="col-sm-3 center-text-align">
                        @Html.DisplayName(PDRPAnnualAppraisalXMLResources.GetResource("Weightage"))
                    </th>

                </tr>
                @if (Model.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel != null)
                {
                    {RatingScaleNo = 0;}
                            foreach (var app in Model.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel)
                            {
                                @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel[RatingScaleNo].Section)
                                @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel[RatingScaleNo].SectionDescriptiopn)
                                @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel[RatingScaleNo].Section2)
                                @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel[RatingScaleNo].SectionDescriptiopn2)
                                @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.AppraisalWeightagePercentageModel[RatingScaleNo].Weightag)                               
                        <tr>
                            <td class="col-sm-3 center-text-align">
                                @if (culture == "ar")
                                {
                                    @app.Section2.ToString()
                                }
                                else
                                {
                                    @app.Section.ToString()
                                }
                            </td>
                            <td class="col-sm-6">
                                @if (culture == "ar")
                                {
                                    @app.SectionDescriptiopn2.ToString()
                                }
                                else
                                {
                                    @app.SectionDescriptiopn.ToString()
                                }
                            </td>
                            <td class="col-sm-3 ">@app.Weightag</td>
                        </tr>
                        RatingScaleNo++;
                    }
                }

                @*<tr>
                    <td class="col-sm-3 center-text-align">SECTION A</td>
                    <td class="col-sm-6">KPIs</td>
                    <td class="col-sm-3 ">50%</td>
                </tr>
                <tr>
                    <td class="col-sm-3 center-text-align" ">SECTION B</td>
                    <td class="col-sm-6 ">Drop In Evaluation</td>
                    <td class="col-sm-3 ">30%</td>
                </tr>
                <tr>
                    <td class="col-sm-3 center-text-align" ">SECTION C</td>
                    <td class="col-sm-6 ">Lesson Observation Evaluation</td>
                    <td class="col-sm-3 ">20%</td>
                </tr>
                <tr>
                    <td class="col-sm-3 center-text-align" ">SECTION D</td>
                    <td class="col-sm-6 ">Overall Performance Score</td>
                    <td class="col-sm-3 ">100%</td>
                </tr>
                <tr>
                    <td class="col-sm-3 center-text-align" ">SECTION E</td>
                    <td class="col-sm-6 ">Succession Planning</td>
                    <td class="col-sm-3 ">Not Applicable</td>
                </tr>*@



            </table>


        </div>
    </div>

</fieldset>

















