﻿@model HRMS.Entities.PDRP.AppraisalTeachingModel
@using HRMS.Entities.Common;
@using HRMS.Entities;
@{

    int RowNo = 1, TotalWeight = 0;
    int Stat = 0;
    if (Model.ApproverEmployeeID != Model.LoginID)
    {
        Stat = 1;
    }
    //if (Model.FormMode >= 2)
    //{
    //    Stat = 1;
    //}
    string strKPI = "";
    if (Model.EmpCurrentCompanyID != Model.AppraisalTeachingEmployeeModel.CompanyID)
    {
        Stat = 1;
    }

    if (Model.EmployeeBasedGroup == false)
    {
        Stat = 1;
    }

    int InViewMode = Model.InViewMode;

    if (InViewMode == 1)
    {

        Stat = 1;
    }
    if (Model.FormMode == 3)
    {
        Stat = 1;
    }
}
<style>
    .bootstrap-select > .btn {
        width:80px !important;
    }
    .brword{
        word-wrap: break-word
    }
 
    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 80px;
}

</style>

    <fieldset class="fieldset-Section">
        <legend class="legend-border">
            <span class="label-form legend-title-font">
                @PDRPAnnualAppraisalXMLResources.GetResource("SECTIONA")
            </span>           
        </legend>
        @Html.HiddenFor(m => m.AppraisalKPIsListModel.KPIYear)
        <div class="col-lg-12">
            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                <tr>
                    <th class="col-sm-1 center-text-align">
                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIOrder)
                    </th>

                    <th class="col-sm-1 brd c">
                        <span class="required-field">*</span>&nbsp; @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIAreaEng)
                    </th>
                    <th class="col-sm-1 brd c">
                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIAreaArab)
                    </th>
                    <th class="col-sm-2 brd c">
                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIDescriptionEng)
                    </th>

                    <th class="col-sm-2 brd c">
                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIDescriptionArab)
                    </th>
                    <th class="col-sm-1 center-text-align">
                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIWeightage) %
                    </th>
                    <th class="col-sm-2 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Accomplishments")
                    </th>
                    <th class="col-sm-1 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Rating")
                    </th>
                    <th class="col-sm-1 center-text-align">
                        @PDRPAnnualAppraisalXMLResources.GetResource("Score")
                    </th>
                </tr>

                @if (Model.AppraisalKPIsListModel.AppraisalKPIsModel != null)
                {
                    foreach (var app in Model.AppraisalKPIsListModel.AppraisalKPIsModel)
                    {
                        if (!string.IsNullOrEmpty(app.KPIYear))
                        {
                            //{
                            //    if (app.KPIWeightage == 0) //** To show only non zero KPIs
                            //    {
                            //        strKPI = "hide";
                            //    }
                            //    else
                            //    {
                            //        strKPI = "";
                            //    }
                            //}
                            <tr class=@strKPI>
                                <td class="col-sm-1">
                                    <label class="col-sm-12">
                                        @RowNo
                                        @Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].KPIId)
                                    </label>
                                </td>
                                <td class="col-sm-1 brd">
                                    <label class="brword">
                                        @app.KPIAreaEng
                                        @Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].KPIAreaEng)
                                    </label>

                                </td>
                                <td class="col-sm-1 brd">
                                    <label class="brword">
                                        @app.KPIAreaArab
                                        @Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].KPIAreaArab)
                                    </label>

                                </td>
                                <td class="col-sm-2 brd">
                                    <label class="brword">
                                        @app.KPIDescriptionEng
                                        @Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].KPIDescriptionEng)
                                    </label>

                                </td>
                                <td class="col-sm-2 brd">
                                    <label class="brword">
                                        @app.KPIDescriptionArab
                                        @Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].KPIDescriptionArab)
                                    </label>

                                </td>


                                <td class="col-sm-1">

                                    <label class="brword">
                                        @app.KPIWeightage
                                        @Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].KPIWeightage, new { @id = "KPIWeightage" })
                                    </label>



                                </td>
                                <th class="col-sm-2">
                                    @Html.TextAreaFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].Accomplishments, Stat == 1 ? new { @class = "form-control", @disabled = "disabled" } : (object)new { @class = "form-control" })
                                </th>
                                <th class="col-sm-1 padding-0">
                                    <div class="col-lg-12">
                                        @*@Html.HiddenFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].ProficiencyID)*@
                                        
                                        @Html.DropDownListFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].Ratings
                                                             , new SelectList(ViewBag.AppraisalKPIYears, "Value", "Text", Model.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].Ratings)
                                                             , @PDRPAnnualAppraisalXMLResources.GetResource("SelectRating")
                                                             , Stat == 1 ? new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "KPIRatings",

                                                                 @disabled = "disabled"

                                                             } : (object)new
                                                             {
                                                                 @class = "selectpicker wid180",
                                                                 @data_live_search = "true",
                                                                 @id = "KPIRatings",


                                                             })
                                        <br />
                                        <div class="col-sm-12 padding-0">
                                            @Html.ValidationMessageFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].Ratings)
                                        </div>
                                    </div>

                                </th>
                                <th class="col-sm-2">
                                    @Html.TextBoxFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[RowNo - 1].Score
                                                    , new
                                                    {
                                                        @class = "form-control formcontrol KPIScoreT",                                                        
                                                        @id = "KPIScore" + @RowNo,

                                                    })
                                    @Html.HiddenFor(m => m.KPIFormula)
                                </th>
                            </tr>
                        }
                        RowNo += 1;
                        TotalWeight = TotalWeight + app.KPIWeightage;
                    }
                    <tr>
                        <td class="col-sm-1"></td>
                        <td class="col-sm-5" colspan="4"><label class="col-sm-12">@PDRPAnnualAppraisalXMLResources.GetResource("TotalKPI")</label></td>
                        <td class="col-sm-1">100%</td>
                        <td class="col-sm-2 right-text-align" colspan="2">@PDRPAnnualAppraisalXMLResources.GetResource("SetKPIFinalScore")</td>
                        @*<td class="col-sm-2"></td>*@
                        <td class="col-sm-2">
                            <div id="divTotalKPIScore">
                                @Html.DisplayFor(m => m.AppraisalKPIsListModel.TotalKPIScore)
                            </div>

                            @Html.HiddenFor(m => m.AppraisalKPIsListModel.TotalKPIScore, new { @id = "TotalKPIScore" })
                            @Html.ValidationMessageFor(m => m.AppraisalKPIsListModel.TotalKPIScore)
                        </td>
                    </tr>
                }

            </table>


            
        </div>
</fieldset>
