﻿@model HRMS.Entities.Forms.KPIsListModel
@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    ViewBag.Title = "HRMS - " + PDRPAnnualAppraisalXMLResources.GetResource("Title");
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant(); 
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
@{
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }

}
@Html.Hidden("culture", culture)
<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        <li class="active">@PDRPAnnualAppraisalXMLResources.GetResource("Title")</li>
    </ul>
}
<!-- END BREADCRUMB -->
<style>
   
    .pointer
    {
        cursor:pointer !important;
    }

</style>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <h3 class="panel-title @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <span class="fa fa-cubes"></span>@PDRPAnnualAppraisalXMLResources.GetResource("Title")
                        </h3>
                    </div>
                    <div class="col-md-4 text-center @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="col-md-2 @(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">
                        <div class="pull-right" id="ldivSave">
                           
                            <button type="submit" title="Submit" id="lbtnSave" class="btn btn-rounded btn-primary btnSave btn-condensed btn-sm "><i class="fa fa-check"></i></button>

                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row ">
                        <div class="col-sm-4 pull-left padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                    <label class="label-form @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">@PDRPAnnualAppraisalXMLResources.GetResource("KPIYears")</label>
                                </div>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.KPIYears, (SelectList)ViewBag.PDRPYears, @PDRPAnnualAppraisalXMLResources.GetResource("SetYear"), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlPDRPYears" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-4  padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <div class="col-sm-4 right-text-align @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <label class="label-form @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">@PDRPAnnualAppraisalXMLResources.GetResource("Organization") </label>
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, @PDRPAnnualAppraisalXMLResources.GetResource("SelectOrganization"), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlKPICompany" })

                                @Html.ValidationMessageFor(m => m.CompanyID)
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="panel-body">
                    <div class="row ">
                        <div class="col-sm-4 pull-left padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <div class="col-sm-12 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <div class="col-sm-3 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                    <label class="label-form @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"> @PDRPAnnualAppraisalXMLResources.GetResource("EvaluationDate")</label>
                                </div>
                                <div class="col-sm-9 input-group">
                                    <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                                    <input type="text" id="txtVisitDate"  class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4  padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <div class="col-sm-4 right-text-align @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <label class="label-form @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">@PDRPAnnualAppraisalXMLResources.GetResource("EvaluationDueDate")</label>
                            </div>
                            <div class="col-sm-8 input-group @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                                <input type="text" id="txtVisitTime" data-date-format="dd/mm/yyyy" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-2  padding-0 @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">
                            <div class="col-sm-12 ">
                                <button id="btnDateApply" class="btn btn-rounded btn-primary " onclick="ApplytoallSelections()">@PDRPAnnualAppraisalXMLResources.GetResource("ApplytoallSelections")</button>
                            </div>
                        </div>

                    </div>

                </div>
                
                <div class="row " id="divDropIns">
                    <hr />
                    <div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
                        <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI"></label>
                    </div>
                    <div class="col-lg-12 innerdiv">
                        <div class="col-sm-12 margin_bottom padding-0">

                            <table id="tbl_employee" class="table table-bordered table-striped"  style="" width="100%"></table>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-12 form-group" id="divSave">
                        <button type="submit" title="Submit" id="abtnSave" class="btn btn-rounded btn-primary btnSave @(CultureHelper.IsRightToLeft() ? "lftaln" : "")"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Submit")</button>
                    </div>
                </div>
            </div>
        </div>
   
    </div>


@section scripts
{

    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>


    <script src="~/Scripts/Custom/PDRP/AppraisalTeaching.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnShowLanguage').addClass("hide");
            $(".btnSave").on('click', function () {

                var vKPICount = $(".KPICount").text();
                //alert(vKPICount);
                if (vKPICount != "") {
                    //*** Removed On Request
                    //if (vKPICount == 0) {
                    //    ShowMessage("error", "KPI is not Set for the current year.</br> You cannot process Appraisal for this year");

                    //    $("#lblKPI").text("KPI is not Set for the current year. You cannot process Appraisal for this year");


                    //}
                    //else {

                        $("#lblKPI").text("");
                        SetObservationVisitDate();
                    //}
                }
                else
                {
                    SetObservationVisitDate();
                }
                
            });

            getEmployeeGrid();

        });

    </script>
   

}
