﻿@model HRMS.Entities.PDRP.AppraisalTeachingModel

@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    ViewBag.Title = "HRMS - " + PDRPAnnualAppraisalXMLResources.GetResource("Title2");
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
@{
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }

}
@{
    string ErrMessage = "";
    int Stat = 0; //*** For all Controles



    if (Model.ApproverEmployeeID != Model.LoginID)
    {
        Stat = 1;
    }
    if (Model.FormMode == 2)
    {
        Model.isAddMode = "5";
    }
    //if (Model.FormMode >= 2)
    //{
    //    Stat = 1;
    //}
    //int RatingScaleNo = 0;

    int IsEditable = 1; //*** For Button on the form
    if (Model.EmpCurrentCompanyID != Model.AppraisalTeachingEmployeeModel.CompanyID)
    {
        IsEditable = 0;
        ErrMessage = @PDRPAnnualAppraisalXMLResources.GetResource("Validation4");
    }
    if (Model.EmployeeBasedGroup == false)
    {
        Stat = 1;
    }
    int InViewMode = Model.InViewMode; //*** Edit or View Mode from My Task Screen

    if (InViewMode == 1)
    {
        IsEditable = 0;
        Stat = 1;
    }

}
@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        @*<li><a href="/Employee/ListEmployee">Annual Appraisal</a></li>*@
        <li class="active">@PDRPAnnualAppraisalXMLResources.GetResource("Title2")</li>
    </ul>
}

@*<input type="checkbox" class="hidden" id="isWithEmpPermission" @(IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission == true && !(objViewEmpPermissionModel.IsViewOnlyPermission) ? "checked" : "") />*@
@*@using (Html.BeginForm("ObservationsFormSave" , "Observations", FormMethod.Post, new { id = "ObservationsForm" }))*@
@using (Ajax.BeginForm("AppraisalTeachingFormSave", "AppraisalTeaching", new AjaxOptions { OnBegin = "Start", OnComplete = "UpdateKPIs" }, new { id = "AppraisalTeachingForm" }))
{
    @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.RequesterID)
    @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.RequestID)
    @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.FormID)
    @Html.HiddenFor(m => m.ApproverEmployeeID)
    @Html.Hidden("culture", culture)
    @Html.HiddenFor(m => m.FormProcessID, new { id = "hdnformProcessID" })
    @Html.HiddenFor(m => m.AppraisalTeachingEmployeeModel.CompanyID, new { id = "hdnCompanyID" })
    <div class="page-content-wrap viewProfile">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-sm-5 padding-0  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <h3 class="panel-title  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <span class="fa fa-user"></span>
                                @PDRPAnnualAppraisalXMLResources.GetResource("Title3")  [@PDRPCommonXMLResources.GetCommonPDRPResource("RequestID") - @Model.AppraisalTeachingEmployeeModel.RequestID]
                            </h3>
                        </div>
                        <div class="col-sm-5  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"></div>
                        <div class="@(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">
                            @if (Model.ApproverEmployeeID == Model.LoginID)
                            {
                                if (IsEditable == 1)
                                {
                                    if (Model.FormMode == 3)
                                    {
                                        <a href="javascript:void(0);" title="Sign Off" id="tbtnSignOff" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit"><i class="fa fa-sign-out"></i></a>
                                    }
                                    else
                                    {
                                        if (Stat == 0)
                                        {
                                            <a href="javascript:void(0);" title="Save" id="tbtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                                        }
                                        if (Model.AppraisalTeachingEmployeeModel.ReqStatusID == 3)
                                        {
                                            <a href="javascript:void(0);" title="Re-Submit" id="tbtnReSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnReSubmit"><i class="fa fa-repeat"></i></a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" title="Submit" id="tbtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit"><i class="fa fa-check"></i></a>
                                        }
                                        //Nithin 12-02-2020 , commented, condition not required
                                        //if (ViewBag.A1User != Model.ApproverEmployeeID)
                                        //{
                                            <a href="javascript:void(0);" title="Reject Request" id="tbtnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                                        //}
                                    }
                                }
                            }
                            <a href="javascript:void(0);" title="Back to Teacher Staff List" onclick="BackToTaskList()" id="tbtnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
                                <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI">@ErrMessage</label>
                            </div>
                            @{ Html.RenderAction("GetAppraisalTeachingEmployeeInformation", new { formID = 34, AppraisalTeachingModel = Model }); }

                        </div>
                    </div>
                    <div class="panel-body ">
                        <div id="idrow" class="row">

                            @*<h3 class="center-text-align" style="background-color:blue;">Rating Scale & Weightage Details</h3>*@
                            @{ Html.RenderAction("GetAppraisalTeachingKPIs", new { formID = 34, AppraisalTeachingModel = Model }); }
                            @{ Html.RenderAction("GetAppraisalSections", new { formID = 34, AppraisalTeachingModel = Model }); }

                        </div>
                    </div>

                    @if (Model.ApproverEmployeeID == Model.LoginID)
                    {

                        if (IsEditable == 1 && Model.FormMode < 3)
                        {
                            <div class="panel-body">
                                <div class="row">
                                    <fieldset class="fieldset-Section">
                                        <legend class="legend-border">
                                            <label class="label-form" style="font-size:12px !important">
                                                @PDRPCommonXMLResources.GetCommonPDRPResource("RequesterApproverComments")
                                            </label>
                                            <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                                        </legend>
                                        <div class="form-group">
                                            <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>


                        }
                    }




                    <div class="form-group col-sm-12" style="margin-top: -10px !important;">
                        @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                    </div>
                    <div class="panel-footer" style="margin-top:25px">

                        <div class="col-lg-4">
                            <div class="form-group @(CultureHelper.IsRightToLeft() ? "lftaln" : "")">
                                @Html.HiddenFor(m => m.FormMode, new { @id = "FormMode" })
                                @Html.HiddenFor(m => m.FormMode, new { @id = "FormMode1" })

                                @*    @Html.HiddenFor(m => m.ObservationsEmployeeModel.ReqStatusID)
                                    @if (Model.ObservationsEmployeeModel.ReqStatusID < 4)
                                    {*@
                                @if (Model.ApproverEmployeeID == Model.LoginID)
                                {

                                    if (IsEditable == 1)
                                    {
                                        if (Model.FormMode == 3)
                                        {
                                            <button title="Submit" id="btnSignOff" class="btn btn-rounded btn-primary btnSubmit"><i class="fa fa-sign-out"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Signoff")</button>
                                        }
                                        else
                                        {
                                            if (Stat == 0)
                                            {
                                                <button type="submit" title="Submit" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Save") </button>
                                            }
                                            else
                                            {
                                                Model.isAddMode = "7"; //*** To avoid Save
                                            }
                                            if (Model.AppraisalTeachingEmployeeModel.ReqStatusID == 3)
                                            {
                                                <button type="button" title="Re-Submit Request" id="prebtnReSubmit" class="btn btn-rounded btn-primary btnReSubmit"><i class="fa fa-repeat"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("ReSubmit")</button>
                                            }
                                            else
                                            {
                                                <button title="Submit" id="btnSubmit" class="btn btn-rounded btn-primary btnSubmit"><i class="fa fa-check"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Submit") </button>
                                            }
                                            //Nithin 12-02-2020 , commented, condition not required
                                            //if (ViewBag.A1User != Model.ApproverEmployeeID)
                                           // {
                                                <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Reject")</button>
                                            //}
                                        }
                                    }
                                }
                                <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i>&nbsp;@PDRPCommonXMLResources.GetCommonPDRPResource("TaskList")</a>
                                @Html.HiddenFor(m => m.isAddMode)
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>

                </div>
            </div>

        </div>




    </div>


                            }










<script>



    function Start() {
        pageLoaderFrame();
        //$("#btnSave").hide(500);
    }
    function UpdateKPIs(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        hideLoaderFrame();
        var isAddMode = $("#isAddMode").val();
        if (isAddMode == 3) {

            $("#isAddMode").val("2");
        }

        if (arg.responseJSON.result == "success") {           
            if (arg.responseJSON.resultFormMode == "1")
                setTimeout(function () { location.href = "/PDRP/AppraisalTeaching/TeacherOverAllAppraisal/" }, 500);
            else
                setTimeout(function () { location.href = "/FormsTaskList/Index" }, 500);
        }

    }






</script>


@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    @*<script src="~/Scripts/Custom/Employee.js"></script>*@
    <script src="~/Scripts/Custom/PDRP/AppraisalTeaching.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.timePicker12').timepicker({
                showMeridian: true,
                showInputs: true,
                minuteStep: 5
            });

        });
    </script>
}



