﻿@model HRMS.Entities.WorkexperienceModel

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script>

    function ValidateForm() {
    }
    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            getGridWorkexperience();
        }
        else {
            //alert(data.Message);
            ShowMessage("error", data.Message)
        }
    }

</script>

@using (Ajax.BeginForm("AddWorkexperience", "Workexperience", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddWorkexperience" }))
{

    <div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="acrdPositionDetails" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">WORK EXPERIENCE DETAILS</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table style="width:100%;">
                            <tr>
                                <td>Employee:</td>
                                <td>
                                    @Html.DropDownListFor(m => m.EmployeeID, (SelectList)ViewBag.Employee, "Select Employee", new { @class = "form-control", required = "required" })
                            </td>
                        </tr>
                        <tr>
                            <td>Employer Name: </td>
                            <td>
                                @Html.TextBoxFor(m => m.EmployerName_1, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.EmployerName_1)
                            </td>
                        </tr>
                        <tr>
                            <td>Work Start Date: </td>
                            <td>
                                @Html.TextBoxFor(m => m.WorkStartDate, new { @class = "datepicker", required = "required" })
                                @Html.ValidationMessageFor(m => m.WorkStartDate)
                            </td>
                        </tr>
                        <tr>
                            <td>Work End Date: </td>
                            <td>
                                @Html.TextBoxFor(m => m.WorkEndDate, new { @class = "datepicker", required = "required" })
                                @Html.ValidationMessageFor(m => m.WorkEndDate)
                            </td>
                        </tr>
                        <tr>
                            <td>Experience Position:</td>
                            <td>
                                @Html.DropDownListFor(m => m.HRExperiencePositionID, (SelectList)ViewBag.ExperiencePosition, "Select ExperiencePosition Type", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.HRExperiencePositionID)
                            </td>
                        </tr>
                        <tr>
                            <td>Work Address: </td>
                            <td>
                                @Html.TextBoxFor(m => m.WorkAddress, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.WorkAddress)
                            </td>
                        </tr>
                        <tr>
                            <td>Experience Months: </td>
                            <td>
                                @Html.TextBoxFor(m => m.ExperienceMonths, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.ExperienceMonths)
                            </td>
                        </tr>
                        <tr>
                            <td>Country:</td>
                            <td>
                                @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, "Select Country", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.CountryID)
                            </td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td>
                                @Html.DropDownListFor(m => m.CityID, (List<SelectListItem>)ViewBag.CityList, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.CityID)
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
    <div class="panel-footer form-group">
        <input type="submit" id="btnSubmit" onclick="ValidateForm();" class="btn btn-primary pull-right" value="Save" />
        <a href="javascript:void(0)" id="btnCancel" class="btn btn-primary pull-left">Cancel</a>
    </div>
}
<script>
    $(function () {
        $("#CountryID").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#CityID");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Employee/GetCityByCountryId",
                data: { "countryId": selectedItem },
                success: function (data) {
                    ddlStates.html('');
                    ddlStates.append($('<option></option>').val("0").html("Select"));
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.MessageBox({
                        buttonDone: "Ok",
                        message: 'Failed to retrieve cities.',
                    });
                    statesProgress.hide();
                }
            });
        });
    });

</script>