﻿
@model HRMS.Entities.EmployeeSectionModel

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    function onSuccessType(data) {
        ShowMessage(data.result, data.resultMessage);
        if (data.result == "success") {
            var Id = data.Id;
            var value = data.Value
            $("#modal_Loader").html("");
            $("#myModal").modal("hide");
            getGrid();
        }
    }

    function onFailureType(data) {
        ShowMessage("error", "Error Occured");
    }

</script>



@using (Ajax.BeginForm("AddEmployeeSection", "EmployeeSection", new AjaxOptions { OnFailure = "onFailureType", OnSuccess = "onSuccessType" }, new { id = "frmEmployeeSection" }))
{
    @Html.HiddenFor(m => m.EmployeeSectionID)
    @Html.ValidationSummary(true) 
    <div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                <div class="panel-body">
                    <table style="width:70%;float:left;">
                        <tr><td>Section Name(EN): </td><td>@Html.TextBoxFor(m => m.EmployeeSectionName_1, new { @class = "form-control" })</td><td> @Html.ValidationMessageFor(m => m.EmployeeSectionName_1) </td></tr>
                        <tr>
                            <td>Section Name(AR): </td>
                            <td>
                                @Html.TextBoxFor(m => m.EmployeeSectionName_2, new { @class = "form-control" })
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Section Name(FR): </td>
                            <td>
                                @Html.TextBoxFor(m => m.EmployeeSectionName_3, new { @class = "form-control" })
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Head: </td>
                            <td>
                                @Html.TextBoxFor(m => m.Head, new { @class = "form-control" })
                            </td>
                            <td> @Html.ValidationMessageFor(m => m.Head) </td>
                        </tr>

                        <tr>
                            <td>Assistant(1): </td>
                            <td>
                                @Html.TextBoxFor(m => m.Assistant_1, new { @class = "form-control" })
                            </td>
                            <td> @Html.ValidationMessageFor(m => m.Assistant_1) </td>
                        </tr>

                        <tr>
                            <td>Assistant(2): </td>
                            <td>
                                @Html.TextBoxFor(m => m.Assistant_2, new { @class = "form-control" })
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Assistant(3): </td>
                            <td>
                                @Html.TextBoxFor(m => m.Assistant_3, new { @class = "form-control" })
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Department: </td>
                            <td>
                                @Html.TextBoxFor(m => m.DepartmentID, new { @class = "form-control" })
                            </td>
                          <td></td>
                        </tr>

                        <tr>
                            <td>Shift: </td>
                            <td>
                                @Html.TextBoxFor(m => m.shiftid, new { @class = "form-control" })
                            </td>
                         <td></td>
                        </tr>                        
                    </table>

                </div>

            </div>

        </div>
    </div>

    <div>
        <input type="submit" id="btnsave" class="btn btn-primary" value="Save" />
        <a href="javascript:void(0)" id="btnEditCancel" class="btn btn-primary">Cancel</a>
    </div>
}