﻿@model List<HRMS.Entities.EmployeeSectionModel>
@{
    ViewBag.Title = "Employee Section";
}

<input type="button" value="Add" id="btn_add" class="btn btn-primary" style=" margin-top: 35px; margin-bottom: 25px;" />

<h2>Index</h2>

<table id="tbl_PayDeductionTypes" class="display table table-bordered table-striped" style="width:100%;"></table>

<script src="~/Scripts/Custom/EmployeeSection.js"></script>