﻿@model IList<HRMS.Entities.PDRP.GoalSettingOverAllRatingScalesModel>

<div class="col-lg-12 form-group">

    <table id="tblOverAllRatingScale" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td>Rating</td>
                <td>Score Slab</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RatingScaleNumber</td>
                        <td>@item.ScoreSlab</td>
                        <td>@item.DefinitionDetails</td>                      
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
