﻿
@{
    ViewBag.Title = "HRMS - Portal Leave Request";
}

<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Portal Leave Request</li>
    </ul>
}
<!-- END BREADCRUMB -->
<div class="row">
    <div class="col-sm-12">
        <div class="row">

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-folder-close"></i> Portal Leave Request
                </h3>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="form-group col-sm-12">

                    </div>
                    <div class="form-group col-sm-12">
                        <table id="tblPortalLeaveRequest" class="table table-bordered" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Custom/Vacation/Vaction.js"></script>
    <script>
    var oPortalReqTable;
    $(document).ready(function () {
        GetPortalLeaveRequest();
    })
    </script>
}
