﻿
@using HRMS.Entities;
@model HRMS.Entities.VacationModel

<div class="panel panel-default">

    @using (Ajax.BeginForm("RejectRequestPost", "PortalLeaveRequest", new AjaxOptions { OnFailure = "onRejectFailure", OnSuccess = "onRejectSuccess",OnBegin="beginRejectRequest" }, new { id = "frmRejectRequest" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.id)
            @Html.HiddenFor(x => x.employeeId)


            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="label-form col-sm-3">Name:</label>
                    <label class="col-sm-9 label-form">@Model.employeeName</label>
                </div>
                <div class="form-group col-sm-12">
                    <label class="label-form col-sm-3"><span class="required-field">*</span>&nbsp;Reject Reason:</label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(m => m.RejectReason, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RejectReason)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="label-form col-sm-3">Comments:</label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(x => x.Comments, new { @class = "form-control col-sm-9" })
                    </div>
                </div>



            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Update" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

