﻿@model List<HRMS.Entities.ShiftModel>
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        StopPanelLoader("#shiftListView");
        var ShiftID = sessionStorage.getItem("SelectedShift");
        $("#ancShift_" + parseInt(ShiftID)).addClass('active');
        $("#chkSelectShift_" + ShiftID).attr("disabled", true);
    })
</script>

<div id="Div_Shift" class="list-group list-group-contacts" style="max-height: 430px; overflow: auto;">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var g in Model)
        {
            if (Convert.ToBoolean(ViewBag.IsDeleteEnable) == false)
            {
                <a href="javascript:void(0)"  class="list-group-item list-group-item-condensed shiftList" id="ancShift_@g.ShiftID">
                    <div class="row">
                        <div class="col-sm-12 padding-0" style="border-left: 1px solid #E5E5E5 !important">
                            <div class="col-sm-11 padding-0">
                                @*<div class="col-sm-2 chkShiftBorder" style="border-right:none;border-left:none;">
                                    <div class="checkbox chkSelectShift">
                                        <label>@Html.CheckBox("chkSelect", new { @id = "chkSelectShift_" + @g.ShiftID + "", @onclick = "SetSpecialShiftIds(" + @g.ShiftID + ",'" + @g.ShiftName + "')", @class = "chkSelectShift" })</label>
                                    </div>
                                </div>*@
                                <div class="col-sm-10" onclick="GetShiftDetails('@g.ShiftID')" style="cursor:pointer !important; border-left: 1px solid #E5E5E5 !important; min-height:35px">
                                    <label style="margin: 4px 0 0 0;cursor:pointer !important;" class="contacts-title contacts-title-emplist" >
                                        <span class="employeeName">@g.ShiftName</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="#" class="list-group-item list-group-item-condensed shiftList" id="ancShift_@g.ShiftID">
                    <div class="row" style="cursor:pointer !important;">
                        <div class="col-sm-12 padding-0" style="border-left: 1px solid #E5E5E5 !important" >
                            @*<div class="col-sm-2 chkShiftBorder" style="border-right:none;border-left:none;" >
                                <div class="checkbox chkSelectShift">
                                    <label>@Html.CheckBox("chkSelect", new { @id = "chkSelectShift_" + @g.ShiftID + "", @onclick = "SetShiftIdToChange(" + @g.ShiftID + ",'" + @g.ShiftName + "')", @class = "chkSelectShift" })</label>
                                </div>
                            </div>*@
                            <div class="col-sm-8" onclick="GetShiftDetails('@g.ShiftID')" style="border-left: 1px solid #E5E5E5 !important; min-height:35px" >
                                <div class="">
                                    <label class="contacts-title contacts-title-emplist" style="margin: 4px 0 0 0; cursor:pointer !important;">
                                        <span class="employeeName">@g.ShiftName</span>
                                    </label>
                                </div>
                            </div>
                            @*<div class="col-sm-1 padding-0">
                                <div class="btn btn-danger btn-rounded btn-condensed btn-sm" onclick="DeleteShiftID ('@g.ShiftID')" style="margin: 5px 0 0px 6px; padding: 1px 5px;">
                                    <i class="fa fa-times"></i>
                                </div>
                                <span style="display:none">@g.ShiftID</span>
                            </div>*@

                        </div>
                    </div>
                </a>
            }

        }
    }
    else
    {
        <a href="#" data-EmployeeId="NoEmployee" class="list-group-item  emplistcontent list-group-item-condensed">
            <div class="row">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-10 padding-0">
                        <span class="contacts-title contacts-title-emplist employeeName">No shifts.</span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>

