﻿@model List<HRMS.Entities.Employee>

<table class="table table-bordered table-stripped" id="tblEmployeesInShift">
    <thead>
        <tr>
            @*<th class="dt-body-center">
                <input type="checkbox" name="select_all" id="tblEmployeesInShift-select-all" class="checkAll checkbox-inline" onclick="SelectAllToRemove(this)" />                
            </th>*@
            <th>
              Employee Name
            </th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        <input type="checkbox"  class="checkbox-inline chkSelectEmployeeToRemove" data-EmpID=@item.EmployeeId id="chkSelectEmployeeToRemove_@item.EmployeeId" onclick="RemoveEmployeeFromShift(@item.EmployeeId)" />
                    </td>*@
                    <td>@item.FullName</td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        EmployeeIdsToTransfer = [];
        EmployeeIdsToRemoveFromShift = [];
        $("#tblEmployeesInShift").dataTable({
            // "bFilter": false        
            "sDom":"tipr"
        });      
        StopPanelLoader("#ShiftEmployeesList");
    })
</script>