﻿
@model List<HRMS.Entities.EmployeeSectionModel>

<table class="table table-bordered table-stripped" id="tblSectionNotInShift">
    <thead>
        <tr>
            <th class="dt-body-center">
                <input type="checkbox" name="select_all"  id="tblSectionNotInShift_Select_All" class="checkAll checkbox-inline" onclick="SelectAllSectionToAdd(this)" />
            </th>
            <th>
                Section Name
            </th>
            <th>
                Shift Name
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox-inline chkSelectSectionToAdd" data-SectionID=@item.EmployeeSectionID id="chkSelectSectionToAdd_@item.EmployeeSectionID" onclick="CreateSectionIdJson(@item.EmployeeSectionID)" />
                    </td>
                    <td>@item.EmployeeSectionName_1</td>
                    <td>@item.ShiftName</td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblSectionNotInShift").dataTable({
            // "bFilter": false
            "sDom":"tipr"
        });
        StopPanelLoader("#SectionNotInShiftList");
    })
</script>
