﻿@model List<HRMS.Entities.Employee>

<table class="table table-bordered table-stripped" id="tblEmployeesNotInShift">
    <thead>
        <tr>
            @*<th class="dt-body-center">
                <input type="checkbox" name="select_all" id="tblEmployeesNotInShift-select-all" class="checkAll checkbox-inline" onclick="SelectAllToAdd(this)" />
            </th>*@
            <th>
                Employee Name
            </th>
            <th>
                Shift Name
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        <input type="checkbox" class="checkbox-inline chkSelectEmployeeToAdd" data-EmpID=@item.EmployeeId id="chkSelectEmployeeToAdd_@item.EmployeeId" onclick="AddEmployeeIdToShift(@item.EmployeeId)" />
                    </td>*@
                    <td>@item.FullName</td>
                    <td>@item.ShiftName</td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblEmployeesNotInShift").dataTable({
            //"bFilter": false     
            "sDom":"tipr"
        });
        StopPanelLoader("#ShiftNonEmployeesList");
        
    })
</script>