﻿@model List<HRMS.Entities.Employee>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-stripped" id="tblEmployeesInSelectedShift">
            <thead>
                <tr>
                    <th>
                        Employee Name
                    </th>
                    <th>
                        Section Name
                    </th>
                    <th>
                        Shift Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
            {
                foreach (var item in Model)
                {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.employmentInformation.EmployeeSectionName</td>
                            <td>@item.ShiftName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary pull-left" onclick="CloseModal()">Cancel</button>

    </div>

</div>

<script>
    $(document).ready(function () {
        $("#tblEmployeesInSelectedShift").dataTable({
           
        });
        $(".close").addClass('hidden');
    })
    function CloseModal()
    {
        $("#messagebox_overlay").css("z-index", "1000");
        $("#myModal").modal("hide");
    }
</script>