﻿@model HRMS.Entities.ShiftModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "HRMS - Special Shift";
}
<style type="text/css">
    .txtTime {
        width: 75px;
    }

    .gracein, .graceout, .breakhours {
        width: 90px;
    }
</style>

@section Breadcrumb
{
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Special Shift</li>
    </ul>
    <!-- END BREADCRUMB -->
}

@*<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />*@

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ObjShiftModelList_0__StartDate").val(getCurrentDateDDMMYYY());
            $("#ObjShiftModelList_0__EndDate").val(getCurrentDateDDMMYYY());
        })
    </script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/jquery.timepicker.js"></script>
    <script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
    <script src="~/Scripts/Custom/Shift/SpecialShift.js"></script>">
}
<!-- START RESPONSIVE TABLES -->
<!-- START WIDGETS -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Special Shift</h3>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("AddSpecialShiftDetails", "Shift", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddShift" }))
                {
                    <input type="hidden" id="hdnOldModel" value="" />
                    <input type="hidden" id="hdnShiftChange" name="hdnShiftChange" />
                    <input type="hidden" id="hdnisSpecial" name="hdnisSpecial" />
                    <input type="hidden" id="hdnisIncludeInAttendance" name="hdnisIncludeInAttendance" />
                    @Html.HiddenFor(m => m.ShiftID, new { @class = "hiddenShiftID", @id = "ShiftID" })
                    <input type="hidden" id="hdnSelectedShift" name="hdnSelectedShift" />
                    @*<div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <input type="button" id="btnSubmit" onclick="SaveShiftDetails();" class="btn btn-primary" value="Save" />
                                <input type="button" id="btnCancel" onclick="location.reload();" class="btn btn-primary" value="Cancel" />
                                <input type="button" id="btnCopyShift" onclick="CopyShift();" class="btn btn-primary" value="Copy Day" />
                                <input type="button" id="btnBacktoShift" onclick="document.location.href = '/Shift/Index';" class="btn btn-primary" value="Back To Shift" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>*@
                    @*<div class="row margin_bottom">
                            <div class="col-md-12"></div>
                        </div>*@
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Shift List</h3>
                                @*<label class="label-form pull-right">
                                        Select All
                                        @Html.CheckBox("chkSelectAll", false, new { @style = "margin-top:0px;margin-left:7px;" })
                                    </label>*@
                            </div>
                            <div class="panel-body" style="height: 508px" id="shiftListView">
                                <div class="col-sm-12 margin_bottom">
                                    <input type="text" onkeyup="SearchHtml('ShiftList', this, '#Div_Shift > a', '.liShiftNames')" placeholder="Shift Name" class="form-control" />
                                </div>
                                <div id="ShiftList" class="col-md-12 padding-0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-9 padding-0 padding-left-item" style="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Shift Details</h3>
                                <div class="pull-right">
                                    <a href="javascript:void(0);" id="btnBacktoShift" onclick="document.location.href = '/Shift/Index';" value="Back To Shift" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12 padding-0 divOverFlow">
                                    <div class="col-sm-6 padding-0 hidden">
                                        <div class="col-sm-3">
                                            <label class="label-form"><span class="required-field">*</span>&nbsp;Shift Name:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.ObjShiftModelList[0].ShiftName, new { @id = "ShiftNameTxt", @class = "form-control shiftname font-Bold" })
                                            <label> @Html.ValidationMessageFor(m => m.ObjShiftModelList[0].ShiftName) </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-sm-2 padding-0">
                                            <label class="font-Bold">Selected Shift: </label>
                                        </div>
                                        <div class="col-sm-10 padding-0">
                                            <label class="font-Bold" id="ShiftName"></label>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-12 form-group">
                                            <div class="col-sm-2 padding-0">
                                                <label class="font-Bold">Shift Name (s):</label>
                                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Selected shift data will over write with these shift (s)." class="information-icon fa fa-info-circle"></span>
                                            </div>
                                            <div class="col-sm-10 padding-0">
                                                <label class="font-Bold" id="SelectedShift"></label>
                                            </div>
                                        </div>*@
                                    <div class="col-sm-12 form-group padding-0">
                                        <div class="col-sm-6 padding-0">
                                            <label class="col-sm-4 label-form"><span class="font-Bold">From Date:</span> </label>
                                            <div class="input-group col-sm-8">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.ObjShiftModelList[0].StartDate, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control datepickerFrom", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-sm-4 label-form"><span class="font-Bold">To Date:</span></label>
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.ObjShiftModelList[0].EndDate, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control datepickerTo", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group"></div>
                                    <table class="table" id="shift-table">
                                        <tr>
                                            <td> </td>
                                            <td class="text-center font-Bold"> In </td>
                                            <td class="text-center font-Bold"> Out </td>
                                            <td class="text-center font-Bold"> Grace In (min)</td>
                                            <td class="text-center font-Bold"> Grace Out (min)</td>
                                            <td class="text-center font-Bold"> Break Hour (Min)</td>
                                            <td class="text-center font-Bold"> Off Day</td>
                                            <td class="text-center font-Bold"> Start Deduction <br /> Time</td>
                                        </tr>

                                        <tr data-shiftday="6">
                                            <td class="font-Bold">
                                                Sunday @Html.HiddenFor(m => m.ObjShiftModelList[6].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[6].ShiftDay, new { @Value = "6" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[6].ShiftStart, new { @id = "ShiftStart_7", @class = " form-control timepicker txtTime", @readonly = "readonly" }) </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[6].ShiftEnd, new { @id = "ShiftEnd_7", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[6].ShiftGraceIn, new { @id = "ShiftGraceIn_7", @class = "form-control  txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[6].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[6].ShiftGraceOut, new { @id = "ShiftGraceOut_7", @class = "form-control  txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[6].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[6].ShiftBreakHours, new { @id = "ShiftBreakHours_7", @class = "form-control  txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[6].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[6].IsWeekend, new { @id = "IsWeekend_7", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[6].CutOffTime, new { @id = "CutOffTime_7", @class = "form-control timepicker  txtTime", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[6].CutOffTime)</td>
                                        </tr>

                                        <tr data-shiftday="7">
                                            <td class="font-Bold">
                                                Monday

                                                @Html.HiddenFor(m => m.ObjShiftModelList[0].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[0].ShiftDay, new { @Value = "7" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[0].ShiftStart, new { @id = "ShiftStart_1", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[0].ShiftEnd, new { @id = "ShiftEnd_1", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[0].ShiftGraceIn, new { @id = "ShiftGraceIn_1", @class = "form-control  txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[0].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[0].ShiftGraceOut, new { @id = "ShiftGraceOut_1", @class = "form-control  txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[0].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[0].ShiftBreakHours, new { @id = "ShiftBreakHours_1", @class = "form-control  txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[0].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[0].IsWeekend, new { @id = "IsWeekend_1", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[0].CutOffTime, new { @id = "CutOffTime_1", @class = "form-control timepicker txtTime", @readonly = "readonly" })   @Html.ValidationMessageFor(m => m.ObjShiftModelList[0].CutOffTime)</td>
                                            @Html.HiddenFor(m => m.ObjShiftModelList[0].ShiftID, new { @class = "hiddenShiftID", @id = "ShiftID_1" })
                                            @Html.CheckBoxFor(m => m.ObjShiftModelList[0].isSpecialShift, new { @class = "hiddenisSpecialShift hidden" })
                                            @Html.HiddenFor(m => m.ObjShiftModelList[0].ShiftName, new { @class = "hiddenShiftName", @id = "ShiftName" })
                                            @Html.CheckBoxFor(m => m.ObjShiftModelList[0].IncludeInAttendance, new { @class = "hidden", @id = "IncludeInAttendance" })
                                        </tr>

                                        <tr data-shiftday="1">

                                            <td class="font-Bold">
                                                Tuesday @Html.HiddenFor(m => m.ObjShiftModelList[1].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[1].ShiftDay, new { @Value = "1" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[1].ShiftStart, new { @id = "ShiftStart_2", @class = "form-control timepicker txtTime", @readonly = "readonly" }) </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[1].ShiftEnd, new { @id = "ShiftEnd_2", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[1].ShiftGraceIn, new { @id = "ShiftGraceIn_2", @class = "form-control  txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" })   @Html.ValidationMessageFor(m => m.ObjShiftModelList[1].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[1].ShiftGraceOut, new { @id = "ShiftGraceOut_2", @class = " form-control txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" })      @Html.ValidationMessageFor(m => m.ObjShiftModelList[1].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[1].ShiftBreakHours, new { @id = "ShiftBreakHours_2", @class = "form-control txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[1].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[1].IsWeekend, new { @id = "IsWeekend_2", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[1].CutOffTime, new { @id = "CutOffTime_2", @class = "form-control timepicker  txtTime", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[1].CutOffTime)</td>
                                        </tr>

                                        <tr data-shiftday="2">
                                            <td class="font-Bold">
                                                Wednesday @Html.HiddenFor(m => m.ObjShiftModelList[2].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[2].ShiftDay, new { @Value = "2" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[2].ShiftStart, new { @id = "ShiftStart_3", @class = "form-control timepicker txtTime", @readonly = "readonly" }) </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[2].ShiftEnd, new { @id = "ShiftEnd_3", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[2].ShiftGraceIn, new { @id = "ShiftGraceIn_3", @class = "form-control  txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[2].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[2].ShiftGraceOut, new { @id = "ShiftGraceOut_3", @class = "form-control  txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[2].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[2].ShiftBreakHours, new { @id = "ShiftBreakHours_3", @class = " form-control txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[2].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[2].IsWeekend, new { @id = "IsWeekend_3", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[2].CutOffTime, new { @id = "CutOffTime_3", @class = "form-control timepicker  txtTime", @readonly = "readonly" })  @Html.ValidationMessageFor(m => m.ObjShiftModelList[2].CutOffTime)</td>
                                        </tr>

                                        <tr data-shiftday="3">
                                            <td class="font-Bold">
                                                Thursday @Html.HiddenFor(m => m.ObjShiftModelList[3].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[3].ShiftDay, new { @Value = "3" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[3].ShiftStart, new { @id = "ShiftStart_4", @class = "form-control timepicker txtTime", @readonly = "readonly" }) </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[3].ShiftEnd, new { @id = "ShiftEnd_4", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[3].ShiftGraceIn, new { @id = "ShiftGraceIn_4", @class = " form-control txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[3].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[3].ShiftGraceOut, new { @id = "ShiftGraceOut_4", @class = " form-control txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[3].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[3].ShiftBreakHours, new { @id = "ShiftBreakHours_4", @class = " form-control txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[3].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[3].IsWeekend, new { @id = "IsWeekend_4", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[3].CutOffTime, new { @id = "CutOffTime_4", @class = "form-control timepicker  txtTime", @readonly = "readonly" })  @Html.ValidationMessageFor(m => m.ObjShiftModelList[3].CutOffTime)</td>
                                        </tr>

                                        <tr data-shiftday="4">
                                            <td class="font-Bold">
                                                Friday @Html.HiddenFor(m => m.ObjShiftModelList[4].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[4].ShiftDay, new { @Value = "4" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[4].ShiftStart, new { @id = "ShiftStart_5", @class = "form-control timepicker txtTime", @readonly = "readonly" }) </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[4].ShiftEnd, new { @id = "ShiftEnd_5", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[4].ShiftGraceIn, new { @id = "ShiftGraceIn_5", @class = "form-control  txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[4].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[4].ShiftGraceOut, new { @id = "ShiftGraceOut_5", @class = "form-control  txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[4].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[4].ShiftBreakHours, new { @id = "ShiftBreakHours_5", @class = " form-control txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[4].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[4].IsWeekend, new { @id = "IsWeekend_5", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[4].CutOffTime, new { @id = "CutOffTime_5", @class = "form-control timepicker  txtTime", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[4].CutOffTime)</td>
                                        </tr>

                                        <tr data-shiftday="5">
                                            <td class="font-Bold">
                                                Saturday @Html.HiddenFor(m => m.ObjShiftModelList[5].ShiftDetailsId)
                                                @Html.HiddenFor(m => m.ObjShiftModelList[5].ShiftDay, new { @Value = "5" })
                                            </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[5].ShiftStart, new { @id = "ShiftStart_6", @class = "form-control timepicker txtTime", @readonly = "readonly" }) </td>
                                            <td>@Html.TextBoxFor(m => m.ObjShiftModelList[5].ShiftEnd, new { @id = "ShiftEnd_6", @class = "form-control timepicker txtTime", @readonly = "readonly" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[5].ShiftGraceIn, new { @id = "ShiftGraceIn_6", @class = "form-control  txtTime gracein", @onblur = "createModificationJson(this)", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.ObjShiftModelList[5].ShiftGraceIn)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[5].ShiftGraceOut, new { @id = "ShiftGraceOut_6", @class = "form-control  txtTime graceout", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[5].ShiftGraceOut)</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[5].ShiftBreakHours, new { @id = "ShiftBreakHours_6", @class = "form-control  txtTime breakhours", @onblur = "createModificationJson(this)", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[5].ShiftBreakHours)</td>
                                            <td class="tdweekend text-center"> @Html.CheckBoxFor(m => m.ObjShiftModelList[5].IsWeekend, new { @id = "IsWeekend_6", @class = "weekend text-center", @onclick = "createModificationJson(this)", disabled = "disabled" })</td>
                                            <td> @Html.TextBoxFor(m => m.ObjShiftModelList[5].CutOffTime, new { @id = "CutOffTime_6", @class = "form-control timepicker  txtTime", @readonly = "readonly" })@Html.ValidationMessageFor(m => m.ObjShiftModelList[5].CutOffTime)</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group pull-left">
                                    <button type="button" title="Back To Shift" id="btnBacktoShift" onclick="document.location.href = '/Shift/Index';" class="btn btn-rounded btn-info btnBack">
                                        <i class="fa fa-arrow-left"></i> Back To Shift
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>


    </div>

</div>
