﻿@model HRMS.Entities.ShiftModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb
{
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">User Shift</li>
    </ul>
    <!-- END BREADCRUMB -->
}
@{
    ViewBag.Title = "HRMS - User Shift";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Filters
                </h3>
                
            </div>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-sm-11 padding-0">
                        <div class="col-md-12 padding-0">
                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Employee Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">
                                        Date From:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBox("txtFromDate", DateTime.Now.AddDays(1).ToString("dd/MM/yyyy"), new { @class = "form-control required datepickerFrom" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">
                                        Date To:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBox("txtToDate", DateTime.Now.AddDays(1).ToString("dd/MM/yyyy"), new { @class = "form-control required datepickerTo" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <input type="button" onclick="GetData(1)" class="btn btn-primary" value="Preview" />
                        </div>
                    </div>
                  
                </div>          
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    User Shift Record
                </h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" onclick="CopyData();" title="Copy & Save For Selected Full Shift" id="btn_addHoliday" class="btnadd"><span class="fa fa-files-o"></span></a>
                        <a href="javascript:void(0);" onclick="saveAllUserShift()" title="Save All" id="btn_addHoliday" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body form-horizontal">
                <table id="tblUserList" class="display table table-bordered table-striped" width="100%"></table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Custom/UserShift.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/jquery.timepicker.js"></script>
}