﻿@model HRMS.Entities.Forms.RecruitR1BudgetedViewModel
@{
    ViewBag.Title = "HRMS - Hiring R1 Budgeted";

}
@*<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>*@

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Hiring R1 Budgeted</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-8 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Hiring R1 Budgeted
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 1, requestDate = Model.RecruitR1BudgetedModel.CreatedOn, employeeID = Model.RecruitR1BudgetedModel.RequesterEmployeeID, isAddMode = false, formProcessId = Model.RecruitR1BudgetedModel.FormProcessID }); }
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">

                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Hiring Details:
                            </span>

                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(m => m.RecruitR1BudgetedModel.CompanyID, new { @class = "label-form" })
                                    </div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.CompanyName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.AcademicYearID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AcademicYearName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.EmploymentModeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmploymentModeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.RecCategoryID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecCategoryName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.EmployeeJobCategoryID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmployeeJobCategoryName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.UserTypeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.UserTypeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.DepartmentID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.DepartmentName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ProjectData, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.ProjectData)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.HMEmployeeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HMEmployeeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.HMDesignation, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.HMDesignation)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.PositionLocation, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.PositionLocation)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.HeadCount, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.HeadCount)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.JobGradeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.JobGradeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ReportingEmployeeID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ReportingEmployeeName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.MinExpRequired, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.MinExpRequired)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.SourceID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.SourceName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.RecruitFromID)</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitFromName)</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.PositionID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PositionTitle)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.SalaryRanges, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.SalaryRanges)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ActualBudget, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.ActualBudget)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.VehicleToolTrade, new { @class = "label-form" })</div>

                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.VehicleToolTrade != null && (bool)Model.RecruitR1BudgetedModel.VehicleToolTrade)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }

                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ContractStatus, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.ContractStatus)</span></div>
                                </div>
                                @if (Model.RecruitR1BudgetedModel.ContractStatus == "Family")
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.FamilySpouse, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.FamilySpouse)</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.AnnualAirTicket, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.AnnualAirTicket != null && (bool)Model.RecruitR1BudgetedModel.AnnualAirTicket)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.AirfareFrequencyID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareFrequencyName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.AirfareClassID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareClassName)</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.HealthInsurance, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.HealthInsurance != null && (bool)Model.RecruitR1BudgetedModel.HealthInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.LifeInsurance, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.LifeInsurance != null && (bool)Model.RecruitR1BudgetedModel.LifeInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.SalikTag, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.SalikTag != null && (bool)Model.RecruitR1BudgetedModel.SalikTag)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.RecruitR1BudgetedModel.SalikTag != null && (bool)Model.RecruitR1BudgetedModel.SalikTag)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.SalikAmount, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.SalikAmount)</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.PetrolCard, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.PetrolCard != null && (bool)Model.RecruitR1BudgetedModel.PetrolCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.RecruitR1BudgetedModel.PetrolCard != null && (bool)Model.RecruitR1BudgetedModel.PetrolCard)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.PetrolCardAmount, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.PetrolCardAmount)</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ParkingCard, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        @if (Model.RecruitR1BudgetedModel.ParkingCard != null && (bool)Model.RecruitR1BudgetedModel.ParkingCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.RecruitR1BudgetedModel.ParkingCard != null && (bool)Model.RecruitR1BudgetedModel.ParkingCard)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ParkingAreas, new { @class = "label-form" })</div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitR1BudgetedModel.ParkingAreas)</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.DivisionID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.DivisionName)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.JobDescriptionFileID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_JD" href="javascript:void(0);" onclick="OpenFilePreview('HiringRequisitionR1UnBudgetedForm',@Model.RecruitR1BudgetedModel.JobDescriptionFileID);">@Model.JobDescriptionFileName</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.OrgChartFileID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_OC" href="javascript:void(0);" onclick="OpenFilePreview('HiringRequisitionR1UnBudgetedForm',@Model.RecruitR1BudgetedModel.OrgChartFileID);">@Model.OrgChartFileName</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4 ">@Html.LabelFor(m => m.RecruitR1BudgetedModel.ManPowerFileID, new { @class = "label-form" })</div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_MP" href="javascript:void(0);" onclick="OpenFilePreview('HiringRequisitionR1UnBudgetedForm',@Model.RecruitR1BudgetedModel.ManPowerFileID);">@Model.ManPowerFileName.</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.RecruitR1BudgetedModel.FormProcessID }); }
                </div>
                <br />
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    @if (Session["IsR1Release"] != null && ((bool)Session["IsR1Release"]))
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Release List</button>
                    }
                    else
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    }
                  
                </div>
            </div>
        </div>
    </div>
</div>
