﻿@model List<HRMS.Entities.EmployeeDetails>

<div id="Div_Department_Employee" class="panel-body list-group list-group-contacts emplist" style="min-height:50px; max-height:200px;">
    @if (Model.Any())
            {
                foreach (var g in Model)
                {
            <a href="#" onclick="SelectEmployee(@g.EmployeeID)" class="list-group-item  emplistcontent list-group-item-condensed liemployeenotindepartment">
                <div class="row">
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-11 padding-0">
                            <span class="contacts-title contacts-title-emplist employeeName">@g.FullName</span>
                        </div>
                    </div>
                </div>
            </a>
        }

    }
    else
    {
        <a href="#" class="list-group-item  emplistcontent list-group-item-condensed liemployeenotindepartment">
            <div class="row">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-11 padding-0">
                        <span class="contacts-title contacts-title-emplist employeeName">No employees in selected department.</span>
                    </div>
                </div>
            </div>
        </a>

    }
</div>

