﻿
<input type="button" value="Add" id="btn_add" class="btn btn-primary" style=" margin-top: 35px; margin-bottom: 25px;" />
@*<input type="button" value="ExportToExcel" id="btn_ExportToExcel" class="btn btn-primary" style=" margin-top: 35px; margin-bottom: 25px;" />
    <input type="button" value="ExportToPdf" id="btn_ExportToPdf" class="btn btn-primary" style=" margin-top: 35px; margin-bottom: 25px;" />*@

<table id="tbl_LeaveType" class="display table table-bordered table-striped" width="100%"></table>




<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Add Leave Type
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="panel-body full-width">
                    <div id="div_LeaveType"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Content/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
@*<script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="http://cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>*@

<script src="~/Scripts/Custom/LeaveType.js"></script>


