﻿@model HRMS.Entities.LeaveBalanceManagerViewModel
@using HRMS.Entities
@{
    //, x.DepartmentName,
    var empList = Model.LeaveBalanceManagerModelList.Select(x => new { x.EmployeeID,x.EmployeeAlternativeID, x.EmployeeName,x.DepartmentName_1,x.CompanyName,x.HireDate,x.LapsingDays,x.LapseDate,x.ExtendedLapsingDays,x.ExtendedLapseDate,x.AnnualVacationTypeID }).Distinct().ToList();
}
<style>
    .dataTables_wrapper {
        float: left;
        width: auto !important;
    }
</style>
<div class="table-responsive">
    <table id="tbl_leavebalance" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Employee Name</th>
                <th>BU Name</th>
                <th>Department</th> 
                <th>Hire Date</th>
                <th>Annual Leave</th>
                @*@foreach (var vactype in @Model.VacationTypeModellList.Where(x => x.VTCategoryID == 1 && x.AccumulativeVacationID>0))
                {
                    <th>@vactype.Name</th>
                }*@
                <th>Lapsing Days</th>
                <th>Lapsing Expiry Date</th>
                <th>Ext. Lapsing Days</th>
                <th>Ext. Lapsing Date</th>
                @*<th>Department</th>*@
                @foreach (var vactype in @Model.VacationTypeModellList.Where(x=>x.VTCategoryID!=1 || x.AccumulativeVacationID == 0))
                {
                    <th>@vactype.Name</th>
                }
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in empList)
            {
                <tr data-employeeid="@item.EmployeeID"  data-extendedlapsingdays="@item.ExtendedLapsingDays"  data-lapsingdays="@item.LapsingDays" data-extendedlapsingdate="@item.ExtendedLapseDate" data-annualvacationtypeid="@item.AnnualVacationTypeID" data-lapsingdate="@item.LapseDate" >
                    <td>
                        @item.EmployeeAlternativeID
                    </td>
                    <td>
                        @item.EmployeeName
                    </td>
                    <td>
                        @item.CompanyName
                    </td>
                    <td>
                        @item.DepartmentName_1
                    </td>
                    <td>
                        @(item.HireDate!=null? string.Format(ModelHelpers.HRMSDateStringFormat, item.HireDate) : null)
                    </td>
                    @*@foreach (var vactype in Model.VacationTypeModellList.Where(x => x.VTCategoryID == 1 && x.AccumulativeVacationID > 0))
                    {
                        var vacemp = Model.LeaveBalanceManagerModelList.Where(x => x.EmployeeID == item.EmployeeID && x.VacationTypeID == vactype.VacationTypeId).Select(r =>
                        new
                        {
                            r.BalanceLeaveDays,
                            r.EmployeeID,
                            r.IsActive,
                            r.IsAccumulatedLeave,
                            r.VTCategoryID
        //,
        //r.ManagerID
    }).FirstOrDefault();
                        <td class="leavetype" data-employeeid="@(vacemp == null ? "" : vacemp.EmployeeID.ToString())" data-vacationtypeid="@vactype.VacationTypeId" data-isaccumulated="@vacemp.IsAccumulatedLeave" data-vtcategoryid="@vactype.VTCategoryID" > 
                            @(vacemp == null ? "" : vacemp.IsActive ? vacemp.BalanceLeaveDays.ToString() : "--")

                        </td>
                    }*@
                    @{ 
                        var vacannual = Model.LeaveBalanceManagerModelList.Where(x => x.EmployeeID == item.EmployeeID && x.VacationTypeID == x.AnnualVacationTypeID && x.IsAccumulatedLeave == true && x.VTCategoryID == 1).Select(r =>
                        new
                        {
                            r.BalanceLeaveDays,
                            r.EmployeeID,
                            r.IsActive,
                            r.IsAccumulatedLeave,
                            r.VTCategoryID,
                            r.VacationTypeID

                                //,
                                //r.ManagerID
                            }).FirstOrDefault();
                        <td class="leavetype" data-employeeid="@(vacannual == null ? "" : vacannual.EmployeeID.ToString())" data-vacationtypeid="@(vacannual == null ? "" : vacannual.VacationTypeID.ToString())" data-isaccumulated="@(vacannual == null ? "" : vacannual.IsAccumulatedLeave.ToString())" data-vtcategoryid="1">
                            @(vacannual == null ? "--" : vacannual.IsActive ? vacannual.BalanceLeaveDays.ToString() : "--")
                        </td>                        
                        <td class="lapsingdays" data-isactive="@(vacannual == null ? "False" : vacannual.IsActive.ToString())">
                            @(vacannual == null ? "--" : vacannual.IsActive ? item.LapsingDays.ToString() : "--")                           
                        </td>
                        <td class="lapsedate">
                            @(vacannual == null ? "--" : vacannual.IsActive ? string.Format(ModelHelpers.HRMSDateStringFormat, item.LapseDate) : "--")
                        </td>
                        <td class="extendedlapsingdays">
                            @(vacannual == null ? "--" : vacannual.IsActive ? item.ExtendedLapsingDays.ToString() : "--")
                        </td>
                        <td  class="extendedlapsedate">
                             @(vacannual == null ? "--" : vacannual.IsActive ? string.Format(ModelHelpers.HRMSDateStringFormat, item.ExtendedLapseDate) : "--")
                        </td>
                    }
                    @*<td class="lapsingdays">
                        @item.LapsingDays
                    </td>*@
                    @*<td>
                        @(string.Format("{0:dd/MM/yyyy}", item.LapseDate))
                    </td>*@
                    @*<td class="extendedlapsingdays">
                        @item.ExtendedLapsingDays
                    </td>*@
                    @*<td  class="extendedlapsedate">
                        @(string.Format("{0:dd/MM/yyyy}", item.ExtendedLapseDate))
                    </td>*@
                    @foreach (var vactype in Model.VacationTypeModellList.Where(x => x.VTCategoryID != 1 || x.AccumulativeVacationID == 0))
                    {
                        var vacemp = Model.LeaveBalanceManagerModelList.Where(x => x.EmployeeID == item.EmployeeID && x.VacationTypeID == vactype.VacationTypeId).Select(r =>
                        new
                        {
                            r.BalanceLeaveDays,
                            r.EmployeeID,
                            r.IsActive,
                            r.IsAccumulatedLeave,
                            r.VTCategoryID
                            //,
                            //r.ManagerID
                        }).FirstOrDefault();
                        <td class="leavetype" data-employeeid="@(vacemp==null?"": vacemp.EmployeeID.ToString())" data-vacationtypeid="@vactype.VacationTypeId" data-isaccumulated="@(vacemp==null?"": @vacemp.IsAccumulatedLeave.ToString())"  data-vtcategoryid="@vactype.VTCategoryID">
                            @(vacemp == null ? "" : vacemp.IsActive? vacemp.BalanceLeaveDays.ToString():"--")

                        </td>
                    }
                    <td class="action text-nowrap">
                        @*onclick='EditHeirarchy(this,@item.EmployeeID )'*@
                        <a class='btn btn-success btn-rounded btn-condensed btn-sm'  title='Edit'  onclick='EditLeaveBalance(this)'><i class='fa fa-pencil'></i> </a>
                        @*<a class='btn btn-danger btn-rounded btn-condensed btn-sm' onclick='DeleteEmployeeHierachy(this, @item.EmployeeID)' title='Delete'><i class='fa fa-times'></i> </a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
