﻿@model HRMS.Entities.LeaveBalanceManagerViewModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Leave Balance Manager</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS-Leave Balance Manager";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <h3 class="panel-title"><span class="fa fa-calendar"></span> Leave Balance Manager</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" onclick="EditAll();" title="Edit All" id="btn_editAll" class="btnadd"><span class="fa fa-pencil"></span></a>
                            <a href="javascript:void(0);" onclick="SaveAllLeaveBalance()" title="Save All" id="btn_saveAll" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            <a href="javascript:void(0);" onclick="RefreshAll()" title="Refresh All" id="btn_refreshAll" class="btnadd"><span class="fa fa-refresh"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
             @*@Html.Hidden("hdnCountVacationType", "")*@
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-4 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, "Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany", @onchange= "CompanyIDChange(this)" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Department Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Department, "Select Department Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlDepartment" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Employee Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.Employee, "Select Employee Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="LoadLeaveBalance()">
                    </div>
                </div>

            </div>

            <div class="row  form-horizontal">
                @*<div id="EmployeeList" class="hidden">
                    @ViewBag.EmployeeList
                </div>*@
                <hr>


                <div id="divLeaveBalance" class="col-md-12 innerdiv">
                    @*@Html.Partial("_LeaveBalanceGrid", Model)*@

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/LeaveBalanceManager.js"></script>



}



