﻿@model IList<HRMS.Entities.PDRP.GoalSettingOverAllRatingScalesModel>

<div class="col-lg-12 form-group">

    <table id="tblOverAllRatingScale" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-lg-2 center-text-align font-Bold">Rating</td>
                <td class="col-lg-2 center-text-align font-Bold">Score Slab</td>
                <td class="col-lg-2 center-text-align font-Bold">Equal To</td>
                <td class="col-lg-6 font-Bold">Description</td>
            </tr>
        </thead>
        <tbody>
            @{
                int RatingScaleNo = 0;
            }
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    //*** F2
                    <tr class="RatingScales" data-RatingScaleCharacter="@item.RatingScaleCharacter" data-RatingScaleNumber="@item.RatingScaleNumber" data-FinalScoreSlabMIN="@item.FinalScoreSlabMIN"
                                            data-FinalScoreSlabMAX="@item.FinalScoreSlabMAX" data-DefinitionName="@item.DefinitionName" data-DefinitionDetails="@item.DefinitionDetails">
                        <td class="center-text-align">@item.RatingScaleNumber</td>
                        
                        <td class="center-text-align">@item.ScoreSlab</td>
                        <td class="center-text-align">@item.RatingScaleCharacter</td>
                        <td>@item.DefinitionDetails</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
