﻿@model HRMS.Entities.PDRP.GoalSettingModel
<style>
    .rowhone {
        height: 26px;
        margin-bottom: 0px !important;        
        /*padding-top: 0px !important;*/
    }
    ul.panel-controls > li.label-control .label, .label-form {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

@{



    string FormState = "";
    if (Model.FormABusinessTargetsModel.FormState != null)
    {
        FormState = Model.FormABusinessTargetsModel.FormState;
    }
    if (Model.FormBKPIModel.FormState != null)
    {
        FormState = Model.FormBKPIModel.FormState;
    }

    if (FormState == "Mid Year LMS")
    {
        FormState = FormState + " EM";
    }


    int isEditable = 1;
    if (Model.FormMode >= 1)//*** In Normal, Only Employee will have Edit option all A1 to other will be dissabled
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                isEditable = 0;
            }
        }

    }
    if ((ViewBag.CurrPeriod==1 && Model.IsSignOffForm) || (ViewBag.CurrPeriod==2 && Model.IsMidSignOffForm) || (ViewBag.CurrPeriod==3 && Model.IsFullSignOffForm)) //*** At Final State with Employee
    {
        isEditable = 0;
    }
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }

    if (Model.MidFormMode <= 1)
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                {
                    isEditable = 0;
                }
            }
        }
    }


    ////***Naresh 2020 - 03 - 02 Display the page in edit mode when the A1 user logged in
    //if (ViewBag.A1User == ViewBag.UserID)
    //{
    //    isEditable = 1;
    //}
    //else 
    if (Model.IsMidSignOffForm) //*** Dissable Goal & Mid values at Full yer
    {
        isEditable = 0;
    }

}

<div class="col-sm-12 padding-0">
    <div class="col-sm-6 alternatecolor">
        @*<div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Request Number:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.RequestID, new { @class = "form-control" })</span></div>

        </div>*@
        @*//*** F2*@
        @Html.HiddenFor(m=>m.ApprovalRequesterInfo.RequesterName,new { @id= "EmployeeName" })
        @Html.HiddenFor(m => m.ApprovalRequesterInfo.CompanyName, new { @id = "Company" })
        @Html.HiddenFor(m => m.ApprovalRequesterInfo.PositionTitle, new { @id = "Designation" })
        @Html.HiddenFor(m => m.ApprovalRequesterInfo.WorkEmail, new { @id = "RequestEmail" })
        @Html.HiddenFor(m => m.ApprovalRequesterInfo.HireDate, new { @id = "DOJ" })
        @Html.HiddenFor(m => m.ApprovalRequesterInfo.SuperviserName, new { @id = "LineManager" })
        @Html.HiddenFor(m => m.ApprovalRequesterInfo.DepartmentName, new { @id = "Department" })

        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Employee:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.RequesterName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Company:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.CompanyName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Designation:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.PositionTitle, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Emp ID:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.RequesterAlternativeID, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4"><span class="required-field">*</span>&nbsp;@Html.Label("Grade:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8">
                <span class="label-form padding-0" style="margin:0;">
                    @*F2*@
                    @Html.TextBoxFor(m => m.ApprovalRequesterInfo.JobGrade, (isEditable == 1) ? new { @data_val = false,@class = "form-control rowhone", @id = "txtGrade" } : (object)new { @data_val = false,@class = "form-control rowhone", @readonly = "true", @id = "txtGrade" })

                    @* F1 @Html.TextBoxFor(m => m.ApprovalRequesterInfo.JobGrade,
                        FormState == "Full Year EP SIGN" ? new { @class = "form-control rowhone padding-0", @readonly = "true", @id = "txtGrade" } : FormState =="Mid Year EM" ?
                            new { @class = "form-control rowhone padding-0", @id = "txtGrade" }
                            :FormState.Contains("Mid Year") ?
                                      FormState.Contains("EM") ?
                                                (object)new { @class = "form-control rowhone padding-0", @readonly = "true", @id = "txtGrade" }
                                                : new { @class = "form-control rowhone padding-0", @id = "txtGrade" }
                                       : Model.IsSignOffForm == true ? new { @class = "form-control rowhone padding-0", @readonly = "true", @id = "txtGrade" } : (object)new { @class = "form-control rowhone padding-0", @id = "txtGrade" })*@
                    @Html.ValidationMessageFor(m => m.ApprovalRequesterInfo.JobGrade)
                </span>
                <span id="txtGrade-validationMsg" style="margin-top: 3px;display:none;"> </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 alternatecolor">
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Request Date:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.RequestDate, new { @class = "form-control", @id = "RequesterName" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Request Email:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.WorkEmail, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Department:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.DepartmentName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Line Manager:", new { @class = "label-form", @id = "TeacherName" })</div>

            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.SuperviserName, new { @class = "form-control" })</span></div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("DOJ:", new { @class = "label-form", @id = "TeacherName" })</div>
            <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ApprovalRequesterInfo.HireDate, new { @class = "form-control" })</span></div>
        </div>


        <div class="form-group col-sm-12">
            <div class="col-sm-4">@Html.Label("Review Year:", new { @class = "label-form", @id = "TeacherName" })</div>
            <div class="col-sm-8">
                <span class="label-form">
                    @Html.DisplayFor(m => m.ApprovalRequesterInfo.AcademicYearName, new { @class = "form-control", @id = "TeacherName" })
                </span>
            </div>
        </div>
    </div>
</div>

