﻿@model HRMS.Entities.PDRP.DropInsModel
@using HRMS.Entities.Common;
@using HRMS.Entities;

<style>
    ul.panel-controls > li.label-control .label, .label-form {
        margin-top: 2px;
    }

    .rowhttwo {
        height: 65px;
        margin-bottom: 0px !important;
        padding-top: 20px !important;
    }

    .rowhone {
        height: 26px;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }


    .formcontrol {
        /*margin-top: 3px;*/
        height: 24px;
        font-size: 12px;
        line-height: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        border: 1px solid #D5D5D5;
        background: #F9F9F9;
    }

    .cal {
        padding: 0px 0px;
        margin-top: 3px;
        font-size: 10px;
        line-height: 20px;
    }
</style>

@{
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@{

    int readoly = 0;
    //*** Naresh 2020-03-17 Allow to create dropins
    if (Model.DropInEmployeeModel.RequesterID != Model.DropInEmployeeModel.SuperviserID && !ViewBag.AllowCreateDropIns)
    {
        readoly = 1;
    }
    if (Model.DropInEmployeeModel.ReqStatusID == 4)
    {
        readoly = 1;
    }
    int RatingScaleNo = 0;

    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal == @PDRPDropInsXMLResources.GetResource("Validation1") )
    {
        readoly = 1;
    }
    string ErrMessage = "";
    if (Model.EmpCurrentCompanyID != 0 && Model.EmpCurrentCompanyID != Model.DropInEmployeeModel.CompanyID)
    {
        readoly = 1;
        ErrMessage = @PDRPDropInsXMLResources.GetResource("Validation4");
    }

}
<div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
    <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI">@ErrMessage</label>
</div>
<fieldset class="fieldset-Section">


    <legend class="legend-border">
        <span class="label-form legend-title-font">
            @PDRPDropInsXMLResources.GetResource("EmployeeDetails")
        </span>

    </legend>
    @Html.HiddenFor(m => m.DropInEmployeeModel.RequestID, new { @class = "form-control" })
    @Html.HiddenFor(m => m.DropInEmployeeModel.RequesterID)
    @Html.HiddenFor(m => m.DropInEmployeeModel.CompanyID)
    @Html.HiddenFor(m => m.DropInEmployeeModel.ID)
    @Html.HiddenFor(m => m.DropInEmployeeModel.ReqStatusID, new { @id = "ReqStatusID" })
    <div class="col-lg-12">
        <div class="col-sm-6 alternatecolor @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">


            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("EmployeeName"), new { @class = "label-form", @id = "TeacherName", @data_requestername = Model.DropInEmployeeModel.TeacherName })</div>
                <div class="col-sm-8 @(CultureHelper.IsRightToLeft() ? "ltraln" : "")">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.DropInEmployeeModel.TeacherName, new { @class = "form-control", @id = "TeacherName" })
                        @Html.HiddenFor(m => m.DropInEmployeeModel.TeacherID)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.TeacherName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("Department"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.DropInEmployeeModel.DepartmentName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DepartmentName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("Designation"), new { @class = "label-form", @id = "PositionTitle", @data_positiontitle = Model.DropInEmployeeModel.PositionTitle })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.DropInEmployeeModel.PositionTitle, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.DropInEmployeeModel.PositionTitle)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("LineManager"), new { @class = "label-form", @id = "SuperviserName", @data_supervisername = Model.DropInEmployeeModel.SuperviserName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.DropInEmployeeModel.SuperviserName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.DropInEmployeeModel.SuperviserName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("LessonTopic"), new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    
                    @Html.TextBoxFor(m => m.DropInEmployeeModel.LessonTopic, readoly == 0 ? new { @class = "form-control  formcontrol", @maxlength = 50 } : (Object)new { @class = "form-control formcontrol", @maxlength = 50, @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.DropInEmployeeModel.LessonTopic)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <div><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("NoofstudentsonRoll"), new { @class = "label-form", @id = "LessonTopic" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-2  padding-0  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9  padding-0">
                                @Html.TextBoxFor(m => m.DropInEmployeeModel.StudentsOnRollMale
                                , readoly == 0 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1",
                                    @disabled = "disabled"
                                })

                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-2 padding-0  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.DropInEmployeeModel.StudentsOnRollFemale
                                , readoly == 0 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"
                                })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.DropInEmployeeModel.StudentsOnRollMale)

                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.DropInEmployeeModel.StudentsOnRollFemale)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <div class="col-sm-4 rowhone  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"><span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.DropInEmployeeModel.VisitDATE, new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                        @*@Html.HiddenFor(m => m.DropInEmployeeModel.VisitDATE, new { @id = "hdVisitDATE" })*@
                        @*@Html.TextBoxFor(m => m.DropInEmployeeModel.VisitDATE, "{0:dd/MM/yyyy}"*@
                        @Html.TextBoxFor(m => m.DropInEmployeeModel.VisitDATE, ModelHelpers.HRMSDateStringFormat
                                    , readoly == 0 ? new
                                    {
                                        @class = "form-control  formcontrol " + L,
                                        @autocomplete = "off",
                                        @dir="ltr"

                                    } : (object)new
                                    {
                                        @class = "form-control  formcontrol " + L,
                                        @disabled = "disabled",
                                        autocomplete = "off",
                                        @dir = "ltr"
                                    })


                    </div>
                    @Html.ValidationMessageFor(m => m.DropInEmployeeModel.VisitDATE)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.LabelFor(m => m.DropInEmployeeModel.DropinYear, new { @class = "label-form" })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.DropInEmployeeModel.DropinYear, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropinYearID, new { @class = "DropinYearID" })
                    </span>
                  
                </div>
            </div>
        </div>
        <div class="col-sm-6 alternatecolor  @(CultureHelper.IsRightToLeft() ? "ltraln" : "")">
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("RequestDate"), new { @class = "label-form" })</div>
                <div class="col-sm-8"><span class="label-form" dir="ltr">@Html.DisplayFor(m => m.DropInEmployeeModel.RequestDate, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("EmployeeID"), new { @class = "label-form", @id = "TeacherID", @data_companyname = Model.DropInEmployeeModel.TeacherID })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.HiddenFor(m => m.DropInEmployeeModel.TeacherID)
                        @Html.DisplayFor(m => m.DropInEmployeeModel.TeacherAlternateID, new { @class = "form-control" })
                        @*@Html.DisplayFor(m => m.DropInEmployeeModel.TeacherID, new { @class = "form-control" })*@
                    </span>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("ObserverName"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.DropInEmployeeModel.SuperviserName })</div>
                <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.DropInEmployeeModel.SuperviserName, new { @class = "form-control" })</span></div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("School"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.DropInEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    <span class="label-form">
                        @Html.DisplayFor(m => m.DropInEmployeeModel.CompanyName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.DropInEmployeeModel.CompanyName)
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("Branch"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.DropInEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DropInEmployeeModel.Branch, readoly == 0 ? new { @class = "form-control formcontrol", @maxlength = 50 } : (object)new { @class = "form-control formcontrol", @maxlength = 50, @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.DropInEmployeeModel.Branch)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("GradeYear"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.DropInEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DropInEmployeeModel.GradeYear, readoly == 0 ? new { @class = "form-control formcontrol", @maxlength = 50 } : (object)new { @class = "form-control formcontrol", @maxlength = 50, @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.DropInEmployeeModel.GradeYear)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("GroupSection"), new { @class = "label-form", @id = "WorkEmail", @data_workemail = Model.DropInEmployeeModel.CompanyName })</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DropInEmployeeModel.GroupSection, readoly == 0 ? new { @class = "form-control formcontrol", @maxlength = 50 } : (object)new { @class = "form-control formcontrol", @maxlength = 50, @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.DropInEmployeeModel.GroupSection)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <div><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("Noofstudentspresent"), new { @class = "label-form", @id = "LessonTopic" })</div>
                </div>
                <div class="form-group col-sm-8 padding-0">
                    <div class="col-sm-12">
                        <div class="col-sm-6 padding-0">
                            <div class="col-sm-2 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("Male"), new { @class = "label-form", })</div>
                            <div class="col-sm-9 padding-0 ">
                                @Html.TextBoxFor(m => m.DropInEmployeeModel.StudentsPresentMale
                                , readoly == 0 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1",
                                    @disabled = "disabled"
                                })

                            </div>
                        </div>
                        <div class="form-group col-sm-6 padding-0">
                            <div class="col-sm-2 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@Html.Label(@PDRPDropInsXMLResources.GetResource("Female"), new { @class = "label-form" })</div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.DropInEmployeeModel.StudentsPresentFemale
                                , readoly == 0 ? new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                   
                                    @step = "1"
                                } : (object)new
                                {
                                    @class = "form-control formcontrol",
                                    @type = "number",
                                    
                                    @step = "1",
                                    @disabled = "disabled"
                                })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.DropInEmployeeModel.StudentsPresentMale)
                    </div>
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(m => m.DropInEmployeeModel.StudentsPresentFemale)
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4 rowhone @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")"><span class="required-field">*</span>&nbsp;@Html.Label(@PDRPDropInsXMLResources.GetResource("VisitTime"), new { @class = "label-form", @id = "VisitTime", @data_workemail = Model.DropInEmployeeModel.VisitTime })</div>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                    @*@Html.HiddenFor(m => m.DropInEmployeeModel.VisitTime, new { @id = "hdVisitTime" })*@
                    @Html.TextBoxFor(m => m.DropInEmployeeModel.VisitTime
                    , readoly == 0 ? new
                    {
                        @class = "form-control timePicker12 formcontrol",

                    } : (object)new
                    {
                        @class = "form-control timePicker12 formcontrol",
                        @disabled = "disabled"

                    })

                </div>
                @Html.ValidationMessageFor(m => m.DropInEmployeeModel.VisitTime)
            </div>


        </div>
    </div>
</fieldset>

<fieldset class="fieldset-Section borderless padding-0" style="border:none !important;">
    <div class="col-lg-12 padding-0">

        @*@Html.HiddenFor(m => m.DropInEmployeeModel.KPIYear)*@
        <table id="tblKPIs" class="table table-striped  table-bordered">
            <tr><th class="col-sm-3 center-text-align" colspan="5">@PDRPDropInsXMLResources.GetResource("RatingScaleWeightageDetails")</th></tr>
            <tr><th class="col-sm-3 center-text-align" colspan="2">@PDRPDropInsXMLResources.GetResource("RatingScale")</th>
                <th class="col-sm-2 center-text-align">@PDRPDropInsXMLResources.GetResource("FinalScoreSlab")</th>
                <th class="col-sm-7  borderless center-text-align" colspan="2">@PDRPDropInsXMLResources.GetResource("Definition")</th>
            </tr>

            @if (Model.DropInEmployeeModel.DropInsRatingScaleWeightageDetails != null)
            {
                
                foreach (var app in Model.DropInEmployeeModel.DropInsRatingScaleWeightageDetails)
                {
                    if (!string.IsNullOrEmpty(app.DefinitionName))
                    {
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].RatingScaleCharacter)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].RatingScaleNumber)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].FinalScoreSlabMIN)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].FinalScoreSlabMAX)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].DefinitionName)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].DefinitionDetails)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].DefinitionName2)
                        @Html.HiddenFor(m => m.DropInEmployeeModel.DropInsRatingScaleWeightageDetails[RatingScaleNo].DefinitionDetails2)
                        <tr>
                            <td class="col-sm-2  center-text-align">@app.RatingScaleCharacter</td>
                            <td class="col-sm-1 center-text-align">@app.RatingScaleNumber.ToString()</td>

                            @if (app.FinalScoreSlabMIN == 0)
                            {
                                <td class="col-sm-2  center-text-align">
                                    Bellow   @app.FinalScoreSlabMAX
                                </td>
                            }
                            else
                            {
                                <td class="col-sm-2 center-text-align">
                                    @app.FinalScoreSlabMIN - @app.FinalScoreSlabMAX
                                </td>
                            }

                            <td class="col-sm-2  center-text-align">
                                @if (culture == "ar")
                                {
                                    @app.DefinitionName2
                                }
                                else
                                {
                                    @app.DefinitionName
                                }
                            </td>
                            <td class="col-sm-5 ">
                                @if (culture == "ar")
                                {
                                    @app.DefinitionDetails2.ToString()
                                }
                                else
                                {
                                    @app.DefinitionDetails.ToString()
                                }
                               
                            </td>
                        </tr>
                    }
                    RatingScaleNo++;
                }
            }

        </table>


    </div>
</fieldset>






