﻿@{
    Layout = null;
}

<div class="panel panel-default" id="divPayAddition">
    @using (Ajax.BeginForm("SaveMultipleDeduction", "Deduction", new AjaxOptions {  OnSuccess = "onSuccessDeduction" }, new { id = "frmAddMultipleDeduction", @class = "form-horizontal" }))
    {
        <div class="panel-body">
            <input type="hidden" name="hdnPayAdditionList" id="hdnPayAdditionList" />
            <div id="frmAdd" class="form-horizontal col-lg-12 col-md-12 nopadding">
                <div class="row">
                    <div class="col-sm-12 padding-0">
                        <div class="form-group col-sm-6 padding-left-0">
                           
                        </div>
                        <div class="form-group col-sm-6 padding-right-0">
                            <div class="text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-0">
                        <div class="form-group col-sm-6 padding-left-0">
                            <label><span class="required-field">*</span>&nbsp;Deduction Type</label>
                            @Html.DropDownList("deductionDdl", (SelectList)ViewBag.DeductionTypeDdl, "Select Deduction", new { @class = "form-control selectpickerddl" , @required = "required" })
                            @Html.ValidationMessage("deductionDdl")
                        </div>
                        <div class="form-group col-sm-6 padding-right-0">
                            <label><span class="required-field">*</span>&nbsp;Effective Date</label>
                            @Html.TextBox("effectiveDatetxt", "", new { @class = "form-control datepicker" ,@required = "required" })
                            @Html.ValidationMessage("effectiveDatetxt")
                        </div>
                    </div>
                    <div class="col-sm-12 padding-0">
                        <div class="form-group col-sm-6 padding-left-0">
                            <label><span class="required-field">*</span>&nbsp;Ref No</label>
                            @Html.TextBox("refNotxt", "", new { @class = "form-control" , @required = "required" })
                            @Html.ValidationMessage("refNotxt")
                        </div>
                        <div class="form-group col-sm-6 padding-right-0">
                            <label><span class="required-field">*</span>&nbsp;Description</label>
                            @Html.TextBox("descriptiontxt", "", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessage("descriptiontxt")
                        </div>
                    </div>

                    <div class="col-md-12 form-group padding-0">
                        <div>
                            <table id="Deductiontbl" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="hidden">
                                            EmployeeId
                                        </th>
                                        <th class="col-md-3">
                                            Employee
                                        </th>
                                        <th class="col-md-3">
                                            Cycle
                                        </th>
                                        <th class="col-md-3">
                                            Total Amount
                                        </th>
                                        <th class="col-md-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="rowId_0" class="actionRow">
                                        <td class="hidden"></td>
                                        <td class="col-md-3">
                                            @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.employeeDdl, "Select Employee", new { @class = "form-control selectpickerddl ddlEmployee", @data_live_search = "true" })
                                        </td>
                                        <td class="col-md-3">
                                            <input class="form-control positiveOnly txtCycle" value="1" />
                                        </td>
                                        <td class="col-md-3">
                                            <input class="form-control positiveOnly txtAmount" value="0" />
                                        </td>
                                        <td class="center-text-align col-md-3">
                                            <div class="center-text-align">
                                                <button type="button" id="btnRowSave" class="btn btn-success btn-rounded btn-condensed btn-sm btn-space" onclick="addDeductionDetails(this)">
                                                    <i class='fa fa-check'></i>
                                                </button>
                                                <button type="button" id="btnRowRemove" style="display:none;" class="btn btn-danger btn-rounded btn-condensed btn-sm btn-space removeActionrow" onclick="hideActionRow(this)">
                                                    <i class='fa fa-times'></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" id="btnsave" class="btn btn-primary pull-right" value="Save" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" aria-label="Close" />
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $('form#frmAddMultipleDeduction').submit(function () {
            CreateJson();
            if ($('#hdnPayAdditionList').val() != "")
                return true;
            else
                return false;
        });
    });
   
</script>