﻿
@{
    ViewBag.Title = "HRMS - Deduction Type List";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Deduction Type List</li>
    </ul>
} 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">            
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-credit-card"></span> Deduction Type List</h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" title="Add Deduction Type" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">                    
                    <div class="col-md-12 padding-0">
                        <table id="tbl_PayDeductionTypes" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/Custom/PayDeduction/DeductionType.js"></script>
   
}
