﻿@model List<HRMS.Entities.StudentFOSTBDetails>
@{
    Layout = null;
}
@{
    string DecimalFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
    int IsExistUnregStud = (int)ViewBag.IsExistUnregStud;
}
<div class="col-sm-12">
    @Html.Hidden("NoOfDecimalPlaces", (int)ViewBag.NoOfDecimalPlaces)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Installment Per Student</h3>
        </div>
        <div class="panel-body" id="StudDetailId">
            <div class="col-sm-12">
                <div class="form-group  col-sm-12">
                    <label class="col-sm-5"> Amount Per Month:</label>
                    <label class="col-sm-5" id="AmountPerMonthId">@ViewBag.AmtPerStud</label>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-12" style="text-align: center !important;font-size: 15px!important;">Student Details</label>
                </div>
                <div class="form-group col-sm-12 label-text">
                    <label style="font-size:15px;color:#434a54;">Registered Students</label>
                </div>
                <div class="form-group col-sm-12">
                    @foreach (var item in Model)
                    {
                        if (item.IsRegistered)
                        {
                            <div class="form-group col-sm-5">
                                <label class="label-text">@item.StudentFullName:</label>
                            </div>
                            <div class="form-group col-sm-5">
                                @Html.TextBox("StudId_" + item.DeductionStdID, item.Amount.ToString(DecimalFormat), new { @class = "form-control" })
                            </div>
                        }
                    }
                </div>

                @if (IsExistUnregStud > 0)
                {
                    <div class="form-group col-sm-12" style="margin-left: -24px!important;">
                        <fieldset class="fieldset-Section" id="fieldsetId">
                            <legend class="legend-border padding-0">
                                <a class="form-group label-text" id="UnRegStud" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <label style="font-size:15px;color:#434a54;">&nbsp;<i class="fa fa-minus-circle fa-x green"></i> Unregistered Students&nbsp;</label>
                                </a>
                            </legend>
                            <div id="collapseOne" aria-expanded="true" class="collapse in form-group col-sm-12">
                                @foreach (var item in Model)
                                {
                                    if (!item.IsRegistered)
                                    {
                                        <div class="form-group col-sm-5">
                                            <label class="label-text">@item.StudentFullName:</label>
                                        </div>
                                        <div class="form-group col-sm-5" style="margin-left: 20px;width: 47%;">
                                            @Html.TextBox("StudId_" + item.DeductionStdID, item.Amount.ToString(DecimalFormat), new { @class = "form-control" })
                                        </div>
                                    }
                                }
                            </div>
                        </fieldset>
                    </div>
                }

                <div class="form-group  col-sm-12">
                    <label class="col-sm-5">
                        Balance:
                        <i data-toggle="tooltip" data-placement="top" title="" data-original-title="Amount per month = Total amount of all students" class="information-icon fa fa-info-circle"></i>
                    </label>
                    <label class="col-sm-5" id="TotalBalance">0.00</label>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" onclick="UpdateFamilyOSTBDetails()" class="btn btn-primary pull-right" value="Save">
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    </div>
</div>

<style>
    .fieldset-Section {
        margin-bottom: 0px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#StudDetailId input[type="text"]').on('input', function () {
            CalculateAllStudentTotal();
        });
        $("#UnRegStud").on("click", function () {
            if ($("#UnRegStud>label>i.fa").hasClass("fa-plus-circle")) {
                $("#UnRegStud>label>i.fa").removeClass("fa-plus-circle");
                $("#UnRegStud>label>i.fa").addClass("fa-minus-circle");
                $("#fieldsetId").addClass("fieldset-Section");
                $("#fieldsetId").removeClass("fieldsetstd");
            }
            else {
                $("#UnRegStud>label>i.fa").removeClass("fa-minus-circle");
                $("#UnRegStud>label>i.fa").addClass("fa-plus-circle");
                $("#fieldsetId").removeClass("fieldset-Section");
                $("#fieldsetId").addClass("fieldsetstd");
            }
        });
    });

    function CalculateAllStudentTotal() {
        var NoOfDecimalPlaces = $("#NoOfDecimalPlaces").val();
        var TotalOfAllStud = 0.00;
        var AmountPerMonth = $("#AmountPerMonthId").html();
        var data = $('#StudDetailId input[type="text"]');
        $.each(data, function (key, value) {
            var PerStudBal = parseFloat($('#' + value.id).val());
            if (isNaN(PerStudBal)) {
                PerStudBal = 0;
            }
            TotalOfAllStud = TotalOfAllStud + PerStudBal;
        });

        TotalOfAllStud = TotalOfAllStud.toFixed(NoOfDecimalPlaces);
        var TotalBal = AmountPerMonth - parseFloat(TotalOfAllStud);
        TotalBal = TotalBal.toFixed(NoOfDecimalPlaces);
        $("#TotalBalance").html(TotalBal);
    }

    function UpdateFamilyOSTBDetails() {
        var AmountPerMonth = parseFloat($("#AmountPerMonthId").html());
        var data = $('#StudDetailId input[type="text"]');
        var StudentDetails = [];       
        $.each(data, function (key, value) {
            var PerStudBal = parseFloat($('#' + value.id).val());
            if (isNaN(PerStudBal)) {
                PerStudBal = 0;
            }           
            StudentDetails.push({
                DeductionStdID: (value.id).replace('StudId_', ''),
                Amount: $('#' + value.id).val()
            });
        });
        var TotalBal = parseFloat($("#TotalBalance").html());     
        if (TotalBal > 0 || TotalBal < 0) {
            ShowMessage("error", "Sum of student payments doesn’t equal to the monthly payment.");
        }
        else {
            console.log(StudentDetails);
            $.ajax({
                url: "/Deduction/EditFOSTBalanceDetails/",
                type: "POST",
                data: {
                    studentDetails: JSON.stringify(StudentDetails)
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    ShowMessage("success", "Deduction per student updated successfully.");
                },
                error: function () {
                    $.MessageBox({
                        buttonDone: "Ok",
                        message: "Some error occured.",
                    });
                }
            });
        }
    }
</script>