﻿@model List<HRMS.Entities.PayDeductionDetailModel>
@{
    Layout = null;
    int i = 0;
    string AmountFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
    string firstRecord = "IsFirstRecord";
}
@Html.Hidden("NoOfDecimalPlaces", (int)ViewBag.NoOfDecimalPlaces)
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Installment Details</div>
        <ul class="panel-controls">
            <li class="dropdown open">
                <a href="javascript:void(0);" class="btnadd toggle" data-toggle="exportTable" title="Download Installment Details" id="tblExportToPdf"><span class="fa fa-download"></span></a>
            </li>
            <li class="dropdown open">
                <a href="javascript:void(0);" id="btn_add" onclick="EditAll('@Model.FirstOrDefault().PayDeductionID')" title="Edit All" class="btnadd"><span class="fa fa-pencil"></span></a>
            </li>
            <li class="dropdown open">
                <a href="javascript:void(0);" id="btn_add" onclick="RefreshGrid()" title="Refresh" class="btnadd"><span class="fa fa-refresh"></span></a>
            </li>


        </ul>
    </div>
    <div class="panel-body hidden" id="exportTbl">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <div class="list-group border-bottom">
                    <a href="#" class="list-group-item" onClick="ExportDeductionDetailToPdf('@Model.FirstOrDefault().PayDeductionID')"><img src='~/Content/assets/img/icons/pdf.png' width="24" /> Export Deduction Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" id="EmpUnpaidLeaveDiv">
        @Html.Hidden("hdnPayDeductionID", (Model.FirstOrDefault().PayDeductionID))
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tbl_EditPayDeductionDetails1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Deduction Date</td>
                            <td>Amount</td>
                            <td>Comments</td>
                            <td>IsActive</td>
                            <td>IsWaived</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="rowId_@item.PayDeductionDetailID" data-rowId="@item.PayDeductionDetailID" class=@firstRecord>
                                <td>@item.DeductionDate</td>
                                <td>@item.Amount.ToString(AmountFormat)</td>
                                <td>@item.Comments</td>
                                <td>@Html.CheckBox("chkActive_" + item.PayDeductionDetailID, item.IsActive, new { @disabled = "disabled", @onclick = "UpdateStatus(" + item.PayDeductionDetailID + ")" })  </td>
                                @if (item.IsProcessed)
                                {
                                    <td>@Html.CheckBox("chkWaived_" + item.PayDeductionDetailID, item.IsWaived, new { @disabled = "disabled", @onclick = "UpdateWaiveStatus(this)" }) </td>
                                }
                                else
                                {
                                    <td>@Html.CheckBox("chkWaived_" + item.PayDeductionDetailID, item.IsWaived, new { @onclick = "UpdateWaiveStatus(this)" }) </td>
                                }
                                @if (i != 0)
                                {
                                    if (item.IsProcessed)
                                    {
                                        <td><a disabled class='btn btn-success btn-rounded btn-condensed btn-sm' data-id='@item.PayDeductionDetailID' onclick='EditDeductionDetail(@item.PayDeductionDetailID)' title='Edit'><i class='fa fa-pencil'></i> </a><a disabled class='btn btn-danger btn-rounded btn-condensed btn-sm custom-margin' onclick='DeleteDeductionDetail(this)' title='Delete'><i class='fa fa-times'></i> </a></td>
                                    }
                                    else
                                    {
                                        <td><a class='btn btn-success btn-rounded btn-condensed btn-sm' data-id='@item.PayDeductionDetailID' onclick='EditDeductionDetail(this)' title='Edit'><i class='fa fa-pencil'></i> </a><a class='btn btn-danger btn-rounded btn-condensed btn-sm custom-margin' onclick='DeleteDeductionDetail(this)' title='Delete'><i class='fa fa-times'></i> </a></td>
                                    }
                                }
                                else
                                {
                                    if (item.IsProcessed)
                                    {
                                        <td><a disabled class='btn btn-success btn-rounded btn-condensed btn-sm' data-id='@item.PayDeductionDetailID' onclick='EditDeductionDetail(@item.PayDeductionDetailID)' title='Edit'><i class='fa fa-pencil'></i> </a></td>
                                    }
                                    else
                                    {
                                        <td><a class='btn btn-success btn-rounded btn-condensed btn-sm' data-id='@item.PayDeductionDetailID' onclick='EditDeductionDetail(this)' title='Edit'><i class='fa fa-pencil'></i> </a></td>
                                    }
                                }
                                @{
                                    i++;
                                    firstRecord = "NoIsFirstRecord";
                                }

                            </tr>
                                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-sm-12"></div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body padding-bottom-0">
                    <div class="col-sm-12">
                        <h4 class="text-danger"><label>Total Deduction Amount:</label> <label id="TotalInsAmount" style="word-spacing:30px;">@ViewBag.Amount</label> </h4>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-danger"><label>Total Installment Amount:</label> <label id="TotalInstDedAmount">@ViewBag.Amount</label> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary pull-left" onclick="CloseModal()">Cancel</button>
        <button type="button" class="btn btn-primary pull-right" onclick="SaveInstallments()">Save</button>
    </div>
</div>

<script src="~/Scripts/Custom/PayDeduction/DeductionInstallments.js"></script>