﻿@using HRMS.Entities;
@{
    ViewBag.Title = "HRMS - Pay Deductions";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Pay Deductions</li>
    </ul>
}
@*site employee list using anjular js*@
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
@*End here*@
@Html.Hidden("Empid")
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-user"></span>&nbsp;&nbsp; <b>@ViewBag.EmployeeName </b> <span style="margin-left:60px">  <b> ID: @ViewBag.AlternativeId</b> </span> <span style="margin-left:60px">  <b>Position: @ViewBag.Positon </b></span><span style="margin-left:60px">  <b>Department: @ViewBag.Department</b> </span> </h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" id="btn_add" onclick="AddPayDeduction1(0)" title="Add Deduction" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                    <li class="dropdown open">
                        <a href="javascript:void(0);" id="btn_addMultiple" onclick="AddMultipleDeduction()" title="Add Multiple Deduction" class="btnadd"><span class="fa fa-plus-circle fa-1x"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="col-md-12 nopadding">
                    <div class="col-md-12">
                        <div class="col-sm-8 padding-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="col-md-12 padding-0">
                                        <div class="col-md-6 padding-0">
                                            <h3 class="panel-title font-Bold"><span class="fa fa-sort-numeric-asc"></span> Pay Deductions</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="divPayroll" class="table-responsive">
                                        <div id="exportIcon" class="col-sm-12 padding-0 margin_bottom">
                                        </div>
                                        <table id="tbl_PayDeduction" class="table table-bordered table-striped" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl">
                                <div class="panel-heading">
                                    <input type="text" placeholder="Employee Name" class="form-control" ng-model="empname" />
                                </div>
                                <div class="panel-body list-group list-group-contacts emplist" ng-cloak>
                                    @*angular js start here*@
                                    <a href="#" class="list-group-item  emplistcontent" ng-repeat="x in names">
                                        <div class="row">
                                            <div class="col-sm-12 padding-0">
                                                <div class="col-sm-10 padding-0">
                                                    <span class="contacts-title contacts-title-emplist">{{' ('+ x.EmployeeAlternativeID +') '+ '  ' + x.FirstName +' '+ x.LastName}}</span>
                                                </div>
                                                <div class="col-sm-2 padding-0">
                                                    <div class="list-group-controls-emplist">
                                                        <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    @*angular js End here*@
                                </div>
                                @*//testing here*@
                                <br /><br /><br />
                                <div style="margin-top: 367px; padding-left: 20px; background: #F5F5F5; border-color: #E5E5E5; padding: 10px; ">
                                    <label ng-repeat="(list,enabled) in status" style="margin-left:6px">
                                        <input type="checkbox" ng-model="status[list]" ng-change="checkval()"> {{list}}
                                    </label>
                                    @*<p>colors: {{colors}}</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="EditDeductionDetailsModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="height:100%" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EditModal_headingDeduction"></h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Installment Details</div>
                        <ul class="panel-controls">
                            <li class="dropdown open">
                                <a href="javascript:void(0);" class="btnadd toggle" data-toggle="exportTable" title="Download Installment Details"><span class="fa fa-download"></span></a>
                            </li>
                            <li class="dropdown open">
                                <a href="javascript:void(0);" id="btn_add" onclick="EditAll()" title="Edit All" class="btnadd"><span class="fa fa-pencil"></span></a>
                            </li>
                          

                        </ul>
                    </div>
                    <div class="panel-body" id="exportTable" style="display: none;">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-5">
                                <div class="list-group border-bottom">
                                    <a href="#" class="list-group-item" onClick="ExportDeductionDetailToPdf()"><img src='~/Content/assets/img/icons/pdf.png' width="24" /> Export Deduction Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="EditDeductionDetailsModal_Loader" class="col-md-12">
                            <div class="table-responsive">
                                <table id="tbl_EditPayDeductionDetails" class="table table-bordered table-striped"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', ['ngCookies']);
    app.controller('customersCtrl', function ($scope, $http, $cookieStore, $window) {
        $scope.status = { 'Include Inactive': false, 'Inactive Only': false };
        var coockievalue = $cookieStore.get('Active');
        if (coockievalue == null) {
            // $scope.ActiveValue = '1';
            $cookieStore.put('Active', '1')
        }
        if ($cookieStore.get('Active').indexOf("1") > -1) {
            if ($cookieStore.get('Active').indexOf("0") > -1) {
                $scope.status['Include Inactive'] = true;
            }
        }
        else if ($cookieStore.get('Active').indexOf("0") > -1) {
            $scope.status['Inactive Only'] = true;
        }
        var req = {
            method: 'GET',
            url: "@Url.Action("GetAllEmployee", "Employee")",
            headers: {
                'Content-Type': undefined
            },
            params: { Active: $cookieStore.get('Active') }
        }

        $http(req).success(function (response) { $scope.names = response; }).error(function () { });

        $scope.checkval = function () {
            var cookVal = $cookieStore.get('Active');
            var param = '1';
            $cookieStore.put('Active', '1');
            if ($scope.status['Inactive Only'] == true) {
                param = '0';
                $cookieStore.put('Active', '0');
            }
            if ($scope.status['Include Inactive'] == true) {
                param = '1,0';
                $cookieStore.put('Active', '1,0');
            }
            var req = {
                method: 'GET',
                url: "@Url.Action("GetAllEmployee", "Employee")",
                headers: {
                    'Content-Type': undefined
                },
                params: { Active: param }
            }
            $http(req).success(function (response) { $scope.names = response; }).error(function () { });
        }
        $scope.$watch(function () {
            return $scope.empname;
        }, function (newValue, oldValue) {
            var req = {
                method: 'GET',
                url: "@Url.Action("GetAllEmpSearch", "Employee")",
                headers: {
                    'Content-Type': undefined
                },
                params: { Active: $cookieStore.get('Active'), value: newValue }
            }
            $http(req).success(function (response) { $scope.names = response; }).error(function () { });
        });
        //end here
    });

    function updateInstallmentStatus(PayDeductionID) {
        var isActive;
        if ($("#" + PayDeductionID).is(':checked')) {
            isActive = $('#' + PayDeductionID).prop("checked");

        } else {
            isActive = $('#' + PayDeductionID).prop("checked");
        }
        var msg = "";
        if ($("#" + PayDeductionID).is(':checked')) {
            msg = "Are You Sure You Want to Activate?";
        }
        else {
            msg = "Are You Sure You Want to Deactivate?";
        }

        $.MessageBox({ buttonDone: "Yes", buttonFail: "No", message: msg }).done(function () {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                data: { "Id": PayDeductionID, "status": isActive },
                url: '/Deduction/updateInstallmentStatus',
                success: function (data) {

                    ShowMessage(data.result, data.resultMessage);
                    getGrid($('#Empid').val());
                },
                error: function (data) { }
            });
        });
    }

    function AddPayDeduction1(id) {
        var empid = $("#Empid").val();
        var type = id > 0 ? "Edit" : "Add";
        var buttonName = id > 0 ? "Update" : "Save";
        if (empid != undefined && parseInt(empid) > 0) {
            $("#modal_Loader").load("/Deduction/EditPayDeduction?Id=" + id + "&EmployeeId=" + empid, function () {
                $("#modal_heading").text(type + ' Pay Deduction');
                $('#myModal').modal({ backdrop: 'static' })
                $("#frmAddPayDeduction").find('input[type="submit"]').val(buttonName);
                bindSelectpicker('.selectpickerddl');
            });
        }
        else {
            ShowMessage("error", "Please select Employee first");
        }
    }
</script>

@section Scripts
{
    <script src="~/Scripts/Custom/PayDeduction/index.js"></script>
    <script src="~/Content/assets/js/plugins/InlineEditor/table.inlineEditor.min.js"></script>
    <script src="~/Content/assets/js/Common/DynamicGrid.js"></script>
    <script>
        $(document).on("click", ".clickme", function () {
            var id = $(this).attr('id');
            $("#Empid").val(id);
            window.location.href = '/Deduction/index/' + id;
        });
        $(document).on("dblclick", ".emplistcontent", function () {
            var id = $(this).find('.clickme').attr('id');
            $("#Empid").val(id);
            window.location.href = '/Deduction/index/' + id;
        });
        $(document).on("click", ".emplistcontent", function () {
            var id = $(this).find('.clickme').attr('id');
            $("#Empid").val(id);
            window.location.href = '/Deduction/index/' + id;
        });
        $(document).ready(function () {
            var id = '@ViewBag.EmployeeIDNo';
            $("#Empid").val(id);
            $("#exportIcon").html(getExportIcon("3", "", "ExportDeductionDetailToPdf(0)"));
            getPayDuduction(id, 1);
        });
    </script>
}

