﻿@model HRMS.Entities.General.HolidayModel
@using HRMS.Entities;
@{
    Layout = null;
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }
}

<script>
    function ValidateForm() {
    }

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("warning", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getGridHoliday();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }

</script>



<div class="panel panel-default">
    @using (Ajax.BeginForm("AddHoliday", "Holiday", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddHoliday" }))
    {
        <div class="panel-body">

            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">

                </div>
                <div class="col-sm-9">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Organization: </label>
                </div>
                <div class="col-sm-9">
                    <div class="multi-Select multiddl multiCompany" id="divCompany">
                        <select multiple="multiple" id="ddlCompanyList" class="form-control" name="CompanyList">
                            @foreach (var item in (SelectList)ViewBag.CompanyList)
                            {
                                <option value="@item.Value">@item.Text</option>

                            }
                        </select>

                    </div>

                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Holiday Name (En): </label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.HolidayName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.HolidayName)
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form">Holiday Name (Ar):</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.HolidayName_2, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form">Holiday Name (Fr):</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.HolidayName_3, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;From:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.From, new { @class = "form-control datepickerFrom", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(m => m.From)
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;To:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.to, new { @class = "form-control datepickerTo", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(m => m.to)
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" onclick="ValidateForm();" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlCompanyList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });
</script>
@section Scripts
{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
