﻿@model HRMS.Entities.General.HolidayModel


@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/Holiday.js"></script>
<script>

    function ValidateForm() {
    }
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
        $("#btnCancel").click(function () {
            // location.href = "/Holiday/Index";
            $("#myModal").modal("hide");
        });

    });
    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("warning", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getGridHoliday();

            //else if (data.InitiatorIdentity = "btnSubmitAndNew") {
            //    alert(data.Message);
            //    // $("#myModal").modal("hide");
            //    getGrid();
            //    // timer = setInterval(AddPosition,1000);
            //}
        }
        else {
            ShowMessage("error", data.Message);
        }

    }

</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("EditHoliday", "Holiday", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditHoliday" }))
    {
        @Html.HiddenFor(x => x.HolidayID)
        <div class="panel-body">
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">

                </div>
                <div class="col-sm-9">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Organization: </label>
                </div>
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.CompanyId, (SelectList)ViewBag.CompanyList, new { @class = "form-control selectpickerddl", @id = "ddlCompany" })
                    @Html.ValidationMessageFor(m => m.CompanyId)
                </div>
            </div>
         
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Holiday Name (En): </label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.HolidayName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.HolidayName)
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form">Holiday Name (Ar):</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.HolidayName_2, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form">Holiday Name (Fr):</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.HolidayName_3, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;From:</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.From, new { @class = "form-control datepickerFrom", required = "required" })
                    @Html.ValidationMessageFor(m => m.From)
                </div>
            </div>
            <div class="col-sm-12 form-group padding-0">
                <div class="col-sm-3 padding-0">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;To:</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.to, new { @class = "form-control datepickerTo", required = "required" })
                    @Html.ValidationMessageFor(m => m.to)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Update" class="btn btn-primary pull-right" onclick="ValidateForm();" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>
