﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Public Holidays</li>
    </ul>
}


@{
    ViewBag.Title = "HRMS - Public Holidays";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-plane" aria-hidden="true"></i>
                        Public Holidays
                    </h4>
                </div>
                <div class="col-sm-5">
                    <div class="div-center">
                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" title="Add Public Holiday" id="btn_addHoliday" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Select Organization:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, "Select Organization", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Select Holiday:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlHoliday", (SelectList)ViewBag.Holiday, "Select Public Holiday", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlHoliday" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                    </div>
                </div>

            </div>
            <div class="row form-horizontal">
                <hr>

                <div class="col-sm-12 innerdiv" id="divContent">
                    <table id="tbl_HolidayList" class="display table table-bordered table-striped" width="100%"></table>
                </div>

            </div>
        </div>
    </div>

</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-plane"></span> Public Holidays</h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" title="Add Public Holiday" id="btn_addHoliday" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                   
                    <div class="col-md-12 padding-0">
                        <table id="tbl_HolidayList" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts
{
    <script src="~/Scripts/Custom/Holiday.js"></script>
}