﻿@{
    ViewBag.Title = "Late Deductions";
    bool ShowCycleWarning = Convert.ToBoolean(ViewBag.ShowCycleWarning);
    bool ShowAcYearWarning = Convert.ToBoolean(ViewBag.ShowAcYearWarning);
}
@model HRMS.Entities.LateDeductionModel
@{
    ViewBag.Title = "HRMS - Late Deductions";
    var i = 0;
    var mode = (Session["GetAllList"] != null ? ("All") : ("Empty"));
    Session["GetAllList"] = null;

    List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;

    bool MarkingExcused = otherPermissions.Where(x => x.OtherPermissionId == 16).Count() > 0 ? true : false;
    bool MarkingDeduct = otherPermissions.Where(x => x.OtherPermissionId == 17).Count() > 0 ? true : false;
    bool GenerateLateDeductions = otherPermissions.Where(x => x.OtherPermissionId == 18).Count() > 0 ? true : false;
    bool ShowAmountColumn = otherPermissions.Where(x => x.OtherPermissionId == 19).Count() > 0 ? true : false;
   
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Late Deductions</li>
    </ul>
}

<script>
    function Reload() {
        window.location.href = "/LateDeduction/GetAll";
    }
    function StartSetup() {

    }
    function SucessSetup(arg) {
        //$("#myModal").modal("hide");
        //getGrid();
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage)
        //FilterLateDeduction()
    }
</script>
@Html.CheckBox("isMarkingExcused", MarkingExcused, new { @class = "hidden" })
@Html.CheckBox("isMarkingDeduct", MarkingDeduct, new { @class = "hidden" })
@Html.CheckBox("isShowAmountColumn", ShowAmountColumn, new { @class = "hidden" })
@if (!Convert.ToBoolean(ViewBag.IsDeductibleAllowancePresent))
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="permissionError" class="alert alert-danger" role="alert">
                <button type="button" id="btnWarningBoxClose" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Please update salary allowances to dedutable then you can see deduction records.
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
}
@if (ShowAcYearWarning)
{
    <div class="col-lg-offset-3 col-sm-6 padding-0 hidden" style="" id="AcWarningMessage">
        <div id="deductionWaring" class="alert alert-warning" role="alert">
            <button id="btnpayrollWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Warning!</strong><span id="lblAcYearWarnong"></span><span></span>
        </div>
    </div>
}
@if (ShowCycleWarning)
{
    <div class="col-lg-offset-3 col-sm-6 padding-0 hidden" style="" id="warningMessageCycle">
        <div id="deductionWaring" class="alert alert-warning" role="alert">
            <button id="btnpayrollWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Warning!</strong> Amount will not get calculated if cycle is not generated for particular date <span id="lblTotalEmployeeNotinPayroll"></span>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="page-title"><span class="fa fa-star-half-o"></span> Late Deductions</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12" style="padding-left: 0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><span class="fa fa-filter"></span> Filter</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group col-sm-3">
                                            <label class="label-form pull-left col-sm-2">From:</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control datepickerFrom", @value = DateTime.Now.ToString("dd/MM/yyyy") })
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label class="label-form pull-left col-sm-2">TO:</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control datepickerTo" })
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label class="label-form pull-left col-sm-5">Deduction Type:</label>
                                            <div class="col-sm-7">
                                                @Html.DropDownList("ddl_DeductionType", (IEnumerable<SelectListItem>)ViewBag.DeductionType, new { @class = "form-control space align-dropdown selectpicker", required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <label class="label-form pull-left col-sm-4">Excused:</label>
                                            <div class="col-sm-6" style="margin-top:6px;">
                                                <input id="chkGetExcused" type="checkbox" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-1">
                                            <div class="pull-right">
                                                <input type="button" value="Filter List" onclick="FilterLateDeduction()" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="form-group" style="display:none">
                                        <div class="col-sm-10" style="margin-top:5px;margin-bottom:5px;font-weight:bold">
                                            @Html.CheckBoxFor(model => model.MinimumSetup)
                                            Show only the records that have greater than minimum setup minutes
                                        </div>
                                    </div>*@

                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12" style="padding-left: 0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-xs-4">
                                    <h4 class="panel-title">Late Employee</h4>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div id="ListingDiv" style="overflow-y:auto; height:425px;">
                                    <table id="tbl_LateDeduction" class="display table table-bordered table-striped" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                @if (GenerateLateDeductions)
                {
                    <div class="row">
                        @Html.CheckBox("isDeductionRulesEnable", (Boolean)ViewBag.isDeductionRulesEnable, new { @class = "hidden" })

                        <div class="panel panel-default">
                            <div class="panel-heading" style="">
                                <h3 class="panel-title" style=""> <span class="fa fa-adn"></span> Generate Late Deductions</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-sm-12"></div>
                                    <div class="col-sm-12 padding-0">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            <div class="col-sm-2" style="margin-top:6px;">
                                                @Html.CheckBoxFor(model => model.IsGenerated, new { @class = "" })
                                            </div>
                                            <div class="col-sm-10">
                                                <label class="label-form" for="Generate">Generate</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="col-sm-4">
                                                <label class="label-form" style="">Generate Date:</label>
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(model => model.GenerateDate, new { @class = "CurrentDate form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="col-sm-3">
                                                <label class="label-form" style="">Cycle: </label>
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("Cycle", (List<SelectListItem>)ViewBag.CycleList, "Select Cycle", new { @class = "form-control col-sm-6 selectpicker", @data_live_search = "true", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="submit" value="Confirm" id="btnConfirm" class="btn btn-primary" onclick="ConfirmEmployeeDeductionStatus()" style="margin-left:10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").val(getCurrentDateDDMMYYY());
            $("#ToDate").val(getCurrentDateDDMMYYY());
        })
    </script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/LateDeduction/index.js"></script>

}
<script>
    var tMode = '@(mode)';

    function FilterLateDeduction() {
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        if (FromDate != "" && ToDate != "") {
            // $("#ListingDiv").load("/LateDeduction/FilteredLateDeductionList?FromDate=" + FromDate + "&ToDate=" + ToDate, function () {
            GetGrid();
            //  });
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: "Either From Date or To Date or both of them are invalid!",
            });
        }
    }
</script>