﻿@model HRMS.Entities.DocumentsModel

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script>
    function Add(title, id, dropdownId) {
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader").load("/Employee/AddType/" + id);
        $("#myModal").modal("show");
        $("#modal_heading").text(title);
    }
    $(document).ready(function () {
        $("#PreviewFile").hide();
        bindSelectpicker('.selectpickerddl');
    });

    function ValidateForm() {
    }
    $("#btnCancel").click(function () {
        $("#myModal3").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        $.MessageBox({
            buttonDone: "Ok",
            message: error,
        });
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            $("#myModal3").modal("hide");
            ShowMessage("success", data.Message);
            getGridPoliceClearance();
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: data.Message,
            });
        }
    }
    function closeform() {
        $("#myModal3").modal("hide");
    }
</script>
<div class="panel panel-default">
    <div class="panel-body">
        @using (Ajax.BeginForm("AddPoliceClearanceCert", "PoliceClearanceController", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddEmirates" }))
        {
            @Html.Hidden("hdnDropDownReloadId", new { @id = "hdnDropDownReloadId" });
            <div class="form-group col-sm-12 padding-0">
                <div class="col-sm-6 padding-0"><h4>General Information</h4> </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Document Name/No: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.DocNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DocNo)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Issue Country: </label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.IssueCountryID, (SelectList)ViewBag.Country, "Select Country", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                    @Html.ValidationMessageFor(m => m.IssueCountryID)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Issue City: </label>
                <div class="col-sm-9">
                    <div class="input-group input-group-ddl">
                        @Html.DropDownListFor(m => m.IssueCityID, (SelectList)ViewBag.cityList, "Select City", new { @class = "form-control selectpickerddl" })
                        <span class="input-group-addon add-on input-group-span">
                            <a href="javascript:void(0)" style="color:#ffffff" title="Add New Course!" onclick="AddCity('Add Issue City', 20, '#IssueCityID')">+</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.IssueCityID)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Issue Date: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.IssueDate, new { @class = "form-control datepickerFrom" })
                    @Html.ValidationMessageFor(m => m.IssueDate)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Expiry Date: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control datepickerTo" })
                    @*@Html.ValidationMessageFor(m => m.ExpiryDate)*@
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Note: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Is Primary: </label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsPrimary,new { @onclick = "CheckPrimary(this,11,0)" })
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 hidden" id="warningMessage">
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong><span id="lblTotalEmployeeNotinPayroll"> Primary document is already exists, If you save record then other document will remove from primary.</span>
                </div>
            </div>

            <input type="hidden" name="sessionVariable" id="sessionVariable" />
        }

        <div id="divUploadFileAdd" class="margin_bottom col-sm-12">
            <form enctype="multipart/form-data" action="/Document/UploadFile" id="frmUplaodFileAdd" method="post">
                <div class="col-sm-3 padding-left-0">
                    <label class="label-form">
                        Select File:
                    </label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name"></span><div id="file_caption_id"></div>
                        </div>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove" onclick="RemoveDocument('Municipallity')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                            <button type="button" class="btn btn-primary kv-fileinput-upload UploadButton" style="display:none;" id="btnUploadAdd"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                            <div class="btn btn-primary btn-file" id="divBrowse"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fuPDFAdd"></div>
                        </div>
                    </div>
                    <label id="txtuploadedMsgAdd" style="margin-top: 3px;"> </label>
                    <a id="uploadedFile" href="" style="display:none"></a>
                    <a id="PreviewFile" href="" target="_blank">Preview</a>
                    <input type="hidden" value="0" id="chkFileUpload" />
                </div>
            </form>
        </div>

    </div>    
    <div class="panel-footer">
        <input type="button" value="Save" class="btn btn-primary pull-right" onclick="submitFormManually('#frmAddEmirates')" />
        <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
    </div>
</div>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>

<script>

    $("#fuPDFAdd").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $("#txtuploadedMsgAdd").css("color", "red");
        if ($.inArray(fileNameExt.toLowerCase(), DocumentvalidExtensions) != -1) {
            if (size <= 2097152) {
                $("#txtuploadedMsgAdd").text("");
                $("#divBrowse").hide();
                $("#btnUploadAdd").show();
                $("#btnRemove").show();
                $("#file_caption_name").show();
                $("#file_caption_id").html(fileName.substring(0, 15));
                $("#chkFileUpload").val("2");
            }
            else {
                $("#txtuploadedMsgAdd").text("Maximum 2MB file size is allowed to upload.");
                $("#btnUploadAdd").hide();
                $("#divAddInforamtionDialog").hide();
            }
        }
        else {
            $("#txtuploadedMsgAdd").text("Only JPG,JPEG,PNG,GIF,PDF,DOC and DOCX extension files are allowed to upload.");
            $("#btnUploadAdd").hide();
            $("#divAddInforamtionDialog").hide();
        }
    });

    $("#btnUploadAdd").click(function () {

        var formData = new FormData($('#frmUplaodFileAdd')[0]);
        var sessionVariable = makeid();
        $("#sessionVariable").val(sessionVariable);
        formData.append("sessionVariable", sessionVariable)
        $.ajax({
            url: '/Document/UploadFile',  //Server script to process data
            type: 'POST',
            xhr: function (data) {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) { // Check if upload property exists
                    myXhr.upload.addEventListener('progress',
                    progressHandlingFunction, false); // For handling the progress of the upload
                }
                return myXhr;

            },
            success: function (data) {
                if (data != "") {
                    $("#txtuploadedMsgAdd").text("File uploaded successfully");
                    $("#txtuploadedMsgAdd").css("color", "green");
                    $("#PreviewFile").attr('href', data);
                    $("#chkFileUpload").val("1");
                }
                else {
                    $("#txtuploadedMsgAdd").text("Please select a file.");
                }
            },
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        });
    });

    //If file is successfully uploaded, label is updated with message
    function progressHandlingFunction(e) {

        if (e.lengthComputable && typeof fileName != 'undefined') {
            $("#divAddInforamtionDialog").show();
        }
    }

    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }

</script>