﻿
@{
    Layout = null;
}

<div>
    <table id="tbl_PoliceClearanceList" class="display table table-bordered table-striped"></table>
</div>

<input type="hidden" value="@ViewBag.empid.ToString()" id="hidSelectedEMP" name="hidSelectedEMP" />






