﻿@model HRMS.Entities.ShiftGRoupModel

@{
    Layout = null;
    string btnName = Model.GroupNameAr;
}



<div class="panel panel-default">
    @using (Ajax.BeginForm("Save", "ShiftGroup", new AjaxOptions { OnBegin = "Start", OnComplete = "Sucess" }, new { @id = "ShiftGroupForm" }))
    {
        @Html.HiddenFor(m => m.GroupNameID, new { @id = "hdnGroupNameID" })

        <div class="panel-body">
            <div class="form-horizontal col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">GroupName(En):</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.GroupNameEn, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.GroupNameEn)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">GroupName(Ar):</label>
                    </div>
                    <div class="col-sm-9">@Html.TextBoxFor(m => m.GroupNameAr, new { @class = "form-control" })</div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">GroupName(Fr):</label>
                    </div>
                    <div class="col-sm-9">@Html.TextBoxFor(m => m.GroupNameFr, new { @class = "form-control" })</div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Head:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Head, (SelectList)ViewBag.Employee, "Select Head", new { @class = "form-control selectpickerddl", @Data_live_search = "true", required = "required" })
                        @Html.ValidationMessageFor(m => m.Head)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Section:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Section, (List<SelectListItem>)ViewBag.SectionList, "Select Section", new { @class = "form-control selectpickerddl", required = "required" })
                        @Html.ValidationMessageFor(m => m.Section)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Shift:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Shift, (SelectList)ViewBag.ShiftList, "Select Shift", new { @class = "form-control selectpickerddl", @Data_live_search = "true", required = "required" })
                        @Html.ValidationMessageFor(m => m.Shift)
                    </div>
                </div>
                @{ Html.EnableClientValidation(false); }
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Assistant 1:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Assistant1, (SelectList)ViewBag.Employee, "Select Assistant 1", new { @class = "form-control selectpickerddl", @Data_live_search = "true"})
                        
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Assistant 2:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Assistant2, (SelectList)ViewBag.Employee, "Select Assistant 2", new { @class = "form-control selectpickerddl", @Data_live_search = "true"})
                        
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Assistant 3:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.Assistant3, (SelectList)ViewBag.Employee, "Select Assistant 3", new { @class = "form-control selectpickerddl", @Data_live_search = "true"})
                       
                    </div>
                </div>
                @{ Html.EnableClientValidation(true); }
                
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="@(Model.GroupNameID > -1 ?"Update":"Save")" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>