﻿@model HRMS.Entities.ShiftGRoupModel


@{Layout = null;

}

@*@Html.HiddenFor(m => m.GroupNameID)
    @Html.HiddenFor(m => m.CompanyId)*@

<div class="panel panel-default" id="addeditform">
    <div class="panel-body">
        <div class="form-horizontal col-sm-12">

            <div class="form-group col-sm-12">
                <label class="col-sm-3 ">GroupName(En):</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.GroupNameEn, Model.GroupNameEn, new { @classs = "form-control" })
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3 ">GroupName(Ar):</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.GroupNameAr, Model.GroupNameAr, new { @classs = "form-control" })

                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3 ">GroupName(Fr):</label>
                <div class="col-sm-9 col-xs-12">
                    @Html.DisplayFor(m => m.GroupNameFr, Model.GroupNameFr, new { @classs = "form-control" })
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3">Head:</label>
                <div class="col-sm-9 col-xs-12">
                    @Html.DisplayFor(m => m.HeadName, new { @classs = "form-control" })
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3">Section:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.Section, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3">Shift:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.ShiftName, new { @class = "form-control", required = "required" })

                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3">Assistant 1:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.Assistant1Name, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3">Assistant 2:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.Assistant2Name, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3">Assistant 3:</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.Assistant3Name, new { @class = "form-control", required = "required" })
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">

        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />

    </div>

</div>

