﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">User Accounts</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - User Accounts";
}
 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-unlock-alt"> </span> User Accounts</h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" title="Add User Account" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="exportIcon" class="col-sm-12 padding-0 margin_bottom">

                    </div>
                    <div class="col-md-12 padding-0">
                        <table id="tbl_employeecredential" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/EmployeeCredential.js"></script>
}