﻿@using HRMS.Entities;
@model HRMS.Entities.VacationTypeModel
@{
    Layout = null;
    List<HRMS.Entities.PickList> pickList = (List<HRMS.Entities.PickList>)ViewBag.BoolType;

    var RepeatedFor = Model.RepeatedFor > 0 ? Model.RepeatedFor : 1;

}
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />

<div id="vacationTypeAddEditPannel" class="panel panel-default">
    @using (Ajax.BeginForm("AddVacationType", "VacationType", new AjaxOptions { OnSuccess = "SucessLeaveType" }, new { id = "frmEditVactionType" }))
    {
        @Html.HiddenFor(m => m.VacationTypeId)
        @Html.HiddenFor(m => m.AnnualLeave)
        @Html.HiddenFor(m => m.PerServiceVacation)
        @Html.HiddenFor(m => m.AccumulativeVacationID)
        @Html.Hidden("hdnVTCategoryID", Model.VTCategoryID, new { @id = "hdnVTCategoryID" })
        @Html.Hidden("hdnShowVTCategoryField", (bool)ViewBag.ShowVTCategoryField, new { @id = "hdnShowVTCategoryField" })
        <div class="panel-body">
            <div class="form-horizontal col-sm-12 margin_bottom">
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal col-sm-6">
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Leave Type:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Term:</label>
                    </div>
                    <div class="col-sm-8">

                        <div class="col-sm-5 padding-0">
                            <label class="label-text radio-label">
                                Per Annum:&nbsp;
                                <input type="radio" id="rdoAnnualLeave" class="annual-leaves" name="annualRadios" value="@(Model.AnnualLeave)" @(Model.AnnualLeave == 1 ? "checked" : "")>
                            </label>
                        </div>

                        <div class="col-sm-5 padding-0">
                            <label class="label-text radio-label">
                                Per Service:&nbsp;
                                <input type="radio" id="rdoServiceLeave" class="annual-leaves" name="annualRadios" value="@(Model.PerServiceVacation)" @(Model.PerServiceVacation == 1 ? "checked" : "")>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form" for="isAnualLeave">Annual Leave:</label>
                    </div>
                    <div class="col-sm-8 label-form">
                        @Html.CheckBoxFor(m => m.isAnualLeave, new { @style = "margin-top:2px;margin-left:14px;" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Full Paid Days:</label>
                    </div>
                    <div class="col-sm-8">
                        @*@Html.TextBoxFor(m => m.NoOfDays, new { @class = "form-control numberOnly", @required = "required" })
                            @Html.ValidationMessageFor(m => m.NoOfDays)*@
                        @Html.TextBoxFor(m => m.FullPaidDays, new { @class = "form-control numberOnly", @required = "required", @id = "txtFullPaidDays" })
                        @Html.ValidationMessageFor(m => m.FullPaidDays)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Half Paid Days:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.HalfPaidDays, new { @class = "form-control numberOnly", @required = "required", @id = "txtHalfPaidDays" })
                        @Html.ValidationMessageFor(m => m.HalfPaidDays)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Un Paid Days:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.UnPaidDays, new { @class = "form-control numberOnly", @required = "required", @id = "txtUnPaidDays" })
                        @Html.ValidationMessageFor(m => m.UnPaidDays)
                    </div>
                </div>
                <div class="form-group col-sm-12 hidden" id="divRepeatPerService">
                    <div class="col-sm-4">
                        <label class="label-form">Repeat Per Service:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.RepeatedFor, new { @class = "form-control numberOnly", @required = "required", @Value = RepeatedFor })
                        @Html.ValidationMessageFor(m => m.RepeatedFor)
                    </div>
                </div>

                <div class="form-group col-sm-12" id="divContinuous">
                    <div class="col-sm-4">
                        <label class="label-form">Continuous:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => x.MonthlySplit, (SelectList)ViewBag.boolTypeDDl, new { @class = "form-control selectpickerddl" })
                        @Html.ValidationMessageFor(m => m.MonthlySplit)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Available After:</label>
                    </div>
                    <div class="col-sm-8 main-class padding-0">
                        <div class="col-sm-6 padding-right-item">
                            @Html.TextBoxFor(m => m.ApplicableAfterDigits, new { @class = "form-control numberOnly", @required = "required" })
                            @Html.ValidationMessageFor(m => m.ApplicableAfterDigits)
                        </div>
                        <div class="col-sm-6 padding-left-item">
                            @Html.DropDownListFor(x => x.ApplicableAfterTypeID, (SelectList)ViewBag.ApplicableType, new { @class = "form-control selectpickerddl", @required = "required" })
                        </div>
                        <div class="col-sm-12">

                        </div>

                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form" for="isAccumulatedLeave">Accrual Leave:</label>
                    </div>
                    <div class="col-sm-8 label-form">
                        @Html.CheckBoxFor(m => m.isAccumulatedLeave, new { @style = "margin-top:2px;margin-left:14px;" })
                    </div>
                </div>

            </div>
            <div class="form-horizontal col-sm-6">
                @if ((bool)ViewBag.ShowVTCategoryField)
                {
                    <div class="form-group col-sm-12">


                        <div class="col-sm-4">
                            <label class="label-form">Leave Category:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.VTCategoryID, (SelectList)ViewBag.vtCategoryList, new { @class = "form-control selectpickerddl", @id = "ddlVTCategory" })
                        </div>
                    </div>
                    Html.EnableClientValidation(false);
                }

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Gender:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.GenderID, (SelectList)ViewBag.GenderList, new { @class = "form-control selectpickerddl" })
                    </div>
                </div>
                @{Html.EnableClientValidation(true);}
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Nationality:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.NationalityID, (SelectList)ViewBag.NationalityList, new { @class = "form-control selectpickerddl", @required = "required" })
                        @Html.ValidationMessageFor(m => m.NationalityID)
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Religion:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.ReligionID, (SelectList)ViewBag.ReligionList, new { @class = "form-control selectpickerddl", @required = "required" })
                        @Html.ValidationMessageFor(m => m.ReligionID)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Marital Status:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.MaritalStatusId, (SelectList)ViewBag.MaritialStatusList, new { @class = "form-control selectpickerddl", @required = "required" })
                        @Html.ValidationMessageFor(m => m.MaritalStatusId)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Department:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group multi-Select multiddl department" style="width:100%">
                            <select multiple="multiple" name="selectedDepartment" class="positionType form-control">
                                @{
                                    foreach (DepartmentModel item in (List<DepartmentModel>)ViewBag.departmentList)
                                    {
                                        <option value="@item.DepartmentId" @(Model.departmentList.Exists(x => x.departmentId == item.DepartmentId) ? "selected=true" : "")>@item.DepartmentName_1</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Job Category:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group multi-Select multiddl jobcategory" style="width:100%">
                            <select multiple="multiple" name="selectedJobCategory" class="positionType form-control">
                                @{
                                    foreach (JobCategoryModel item in (List<JobCategoryModel>)ViewBag.jobCategoryList)
                                    {
                                        <option value="@item.EmployeeJobCategoryID" @(Model.jobCategoryList.Exists(x => x.jobCategoryId == item.EmployeeJobCategoryID) ? "selected=true" : "")>@item.EmployeeJobCategoryName_1</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Position:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group multi-Select multiddl position" style="width:100%">
                            <select multiple="multiple" name="selectedPosition" class="positionType form-control">
                                @{
                                    foreach (PositionModel item in (List<PositionModel>)ViewBag.positionList)
                                    {
                                        <option value="@item.PositionID" @(Model.positionList.Exists(x => x.positionId == item.PositionID) ? "selected=true" : "")>@item.PositionTitle</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Job Title:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group multi-Select multiddl jobtitle" style="width:100%">
                            <select multiple="multiple" name="selectedJobTitle" class="positionType form-control">
                                @{
                                    foreach (JobTitle item in (List<JobTitle>)ViewBag.jobTitleList)
                                    {
                                        <option value="@item.JobTitleID" @(Model.jobTitleList.Exists(x => x.jobTitleId == item.JobTitleID) ? "selected=true" : "")>@item.JobTitleName_1</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group col-sm-12 padding-0"></div>
            <div id="AccumulateDetails" class="form-group col-sm-12 padding-0">
                <div class="form-horizontal col-sm-12">
                    @if (!(bool)ViewBag.BeamHideFields)
                    {
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Maximum Number of Days to Carry Forward:</label>
                            </div>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.MaxNoOfDaystocarryForword, new { @class = "form-control numberOnly", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Maximum Number of Days to Accrued:</label>
                            </div>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.AccMaxNumberOfDays, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Accrues Every:</label>
                            </div>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.AccumulatePeriodNumber, new { @class = "form-control", @required = "required" })
                            </div>
                            <div class="col-sm-2 padding-left-item">
                                @Html.DropDownListFor(x => x.AccumulateTimeSpanId, (SelectList)ViewBag.Timespan, new { @class = "form-control selectpickerddl", @required = "required" })
                            </div>
                            <div class="col-sm-1">
                                <label class="label-form">by</label>
                            </div>
                            <div class="col-sm-1 padding-0">
                                @Html.TextBoxFor(x => x.AccumulateNumber, new { @class = "form-control", @required = "required", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-1">
                                <label class="label-form">Days</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Accruing Starts After:</label>
                            </div>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.AccumulateAfter, new { @class = "form-control", @required = "required" })
                            </div>
                            <div class="col-sm-2 padding-left-item">
                                @Html.DropDownListFor(x => x.AccumulateAfterPeriod, (SelectList)ViewBag.Timespan, new { @class = "form-control selectpickerddl", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Rounding:</label>
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.AccumulateRoundingTypeId, (SelectList)ViewBag.RoundingTypes, new { @class = "form-control selectpickerddl", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Displaye Balance:</label>
                            </div>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.DisplayLeaveBalanceTypeId, (SelectList)ViewBag.DisplayLeaveBalanceType, new { @class = "form-control selectpickerddl", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-3">
                                <label class="label-form">Accrues Start From:</label>
                            </div>
                            <div class="col-sm-8">

                                <div class="col-sm-3 padding-0">
                                    <label class="label-text radio-label">
                                        Hire Day:&nbsp;

                                        @Html.RadioButtonFor(i => i.AccumulationStart, "1", new { @id = "rdoHireDate", @class = "AccumulateStartDate" })

                                    </label>
                                </div>

                                <div class="col-sm-3 padding-0">
                                    <label class="label-text radio-label">
                                        Specific Date:&nbsp;

                                        @Html.RadioButtonFor(i => i.AccumulationStart, "2", new { @id = "rdoStartFromDate", @class = "AccumulateStartDate" })

                                    </label>
                                </div>
                                <div class="col-sm-4 padding-0">
                                    <label class="label-text radio-label">
                                        Opening Balance Date:&nbsp;
                                        @Html.RadioButtonFor(i => i.AccumulationStart, "3", new { @id = "rdoOpeningBalanceDate", @class = "AccumulateStartDate" })
                                    </label>
                                </div>


                            </div>
                        </div>
                        <div class="form-group col-sm-12 divAccumulationStartFrom">
                            <div class="col-sm-3">
                                <label class="label-form">Accrues Start Date:</label>
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.AccumulationStartFrom, new { @class = "form-control datepicker", required = "required", @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.AccumulationStartFrom)
                            </div>
                        </div>

                    }
                    else
                    {
                        @Html.HiddenFor(x => x.MaxNoOfDaystocarryForword)
                        @Html.HiddenFor(x => x.AccMaxNumberOfDays)
                    }
                   

                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="button" value="Save" onclick="return Saveall();" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
                                    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/bootstrap-multiselect-collapsible-groups.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {

        showAccumulateddetails();
        isAnualorPerService();
        var edit = "@ViewBag.Edit";
        if (edit == "1") {
            $("#GenderID").val(@ViewBag.SelectedGender);
            $("#NationalityID").val(@ViewBag.SelectedNationality);
            $("#ReligionID").val(@ViewBag.SelectedReligionId);
            $("#MaritalStatusId").val(@ViewBag.SelectedMaritalId);
            $("#isCompensate").val(@ViewBag.SelectedIsCompensate);
            $("#AnnualVacation").val(@ViewBag.SelectedAnnualLeave);
            $("#LifetimeVacation").val(@ViewBag.SelectedLifetimeLeave);
            $("#MonthlySplit").val(@ViewBag.SelectedMonthlySplit);
            $("#ApplicableAfterTypeID").val(@ViewBag.ApplicableAfterType);
        }
        if (parseInt($("#VacationTypeId").val()) == 0) {
            $("#rdoAnnualLeave").prop('checked', true);
            $("#AnnualLeave").val(1);
            $("#PerServiceVacation").val(0);
        } else {
            if (parseInt($("#AnnualLeave").val()) > 0) {
                $("#rdoAnnualLeave").prop('checked', true)
                $("#PerServiceVacation").val(0);
            } else {
                if (parseInt($("#PerServiceVacation").val()) > 0) {
                    $("#rdoServiceLeave").prop('checked', true)
                    $("#AnnualLeave").val(0);
                } else {
                    $("#rdoAnnualLeave").prop('checked', true)
                    $("#AnnualLeave").val(1);
                }
            }
        }
        $('.positionType').multiselect({
            enableFiltering: false,
            enableCaseInsensitiveFiltering: true,
            includeSelectAllOption: true,
            maxHeight: '250',
            dropUp: true
        });

        $("#AnnualLeave").change(function () {
            if ($("#AnnualVacation").val() == 1) {
                $("#NoOfDays").val("30");
                $("#RepeatedFor").val("1");
            }
        });

        $(".annual-leaves").click(function () {
            if ($("#rdoAnnualLeave").is(":checked"))
                $("#AnnualLeave").val("1");
            else
                $("#AnnualLeave").val("0");

            if ($("#rdoServiceLeave").is(":checked"))
                $("#PerServiceVacation").val("1");
            else
                $("#PerServiceVacation").val("0");
        });
        $("#isAccumulatedLeave").click(function () {
            var validmessage = "";
            //var positionmsg = "Positi";
            showAccumulateddetails();
            if ($("#isAccumulatedLeave").is(":checked")) {
                var PositionIds = getSelectedIds('.position').join(',');
                var Jobtitleids = getSelectedIds('.jobtitle').join(',');
                var Deparmentids = getSelectedIds('.department').join(',');
                var Jobcategoryids = getSelectedIds('.jobcategory').join(',');
                if (PositionIds == '' && Jobtitleids == '' && Deparmentids == '' && Jobcategoryids == '') {
                    customShowMessage("error", "Accrual leave can not be saved without selecting atleast one Position , Job Title , Department or  Job Category.", 3000, "center");
                }

            }
        })
        bindIntgerOnly("#AccMaxNumberOfDays");
        bindIntgerOnly("#AccumulatePeriodNumber");
        bindPositiveOnly("#AccumulateNumber");
        bindPositiveOnly("#AccumulateAfter");
        bindPositiveOnly(".numberOnly");
        $("#rdoAnnualLeave").click(function () {
            isAnualorPerService();
        })
        $("#rdoServiceLeave").click(function () {
            isAnualorPerService();
        })
        $("#AccumulatePeriodNumber").change(function () {
            CalcByDays();
        })
        $("#NoOfDays").change(function () {
            CalcByDays();
        })
        $("#AccumulateTimeSpanId").change(function () {
            CalcByDays();
        })
        //$("#isAnualLeave").click(function () {
        //    var isChecked = $("#isAnualLeave").is(":checked");
        //    if (isChecked) {
        //        var VacationTypeID = $("#VacationTypeId").val();
        //        $.ajax({
        //            type: 'POST',
        //            data: { VacationTypeId: VacationTypeID},
        //            url: '/VacationType/CheckISAnyVacationTypeGratuityAnual/',
        //            success: function (data) {
        //                if (data.result)
        //                {
        //                    customShowMessage("warning", "LeavetypeName is already marked as annual. While saving this leave type other will not be annual leave.", 30000, "left");
        //                }
        //            },
        //            error: function (data) { }
        //        });

        $(".AccumulateStartDate").click(function () {
            isStartDateSpecified();
        })

        //    }
        //});
        isStartDateSpecified();
        $("#txtHalfPaidDays").attr("readonly", true);
        $("#txtUnPaidDays").attr("readonly", true);
        $("#txtFullPaidDays").attr("readonly", true);       
        var vtcategoryid = $("#hdnVTCategoryID").val();
        var showvtcategoryid = $("#hdnShowVTCategoryField").val();
        //if vt category dropdwon is shown
        if (showvtcategoryid == 'True' || showvtcategoryid == "True") {
            if (vtcategoryid === null || vtcategoryid === '' || vtcategoryid === "" || vtcategoryid === undefined)
                vtcategoryid = 0;
            if (vtcategoryid == 2) {
                $("#txtFullPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", false);
                $("#txtUnPaidDays").attr("readonly", false);
            }
            else if (vtcategoryid == 8) {
                $("#txtHalfPaidDays").attr("readonly", true);
                $("#txtFullPaidDays").attr("readonly", true);
                $("#txtUnPaidDays").attr("readonly", false);
            }
                //Hajj Leave
            else if (vtcategoryid == 7) {
                $("#txtHalfPaidDays").val(0);
                $("#txtUnPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", true);
                $("#txtFullPaidDays").attr("readonly", false);
            }
            else {
                $("#txtFullPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", true);
                $("#txtUnPaidDays").attr("readonly", true);
            }
        }
        else
        {
            $("#txtHalfPaidDays").attr("readonly", false);
            $("#txtFullPaidDays").attr("readonly", false);
            $("#txtUnPaidDays").attr("readonly", false);
        }
        $("#ddlVTCategory").on("change", function () {
            var vtcategoryid = $("#ddlVTCategory").val();
            //halfpaid and unpaid days enabled for Sick leave only
            if (vtcategoryid == 2) {
                $("#txtFullPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", false);
                $("#txtUnPaidDays").attr("readonly", false);
            }
                //unpaid
            else if (vtcategoryid == 8) {
                $("#txtFullPaidDays").val(0);
                $("#txtHalfPaidDays").val(0);
                $("#txtUnPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", true);
                $("#txtFullPaidDays").attr("readonly", true);

            }
                //Hajj Leave
            else if (vtcategoryid == 7) {
                $("#txtHalfPaidDays").val(0);
                $("#txtUnPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", true);
                $("#txtFullPaidDays").attr("readonly", false);
            }
            else {
                $("#txtHalfPaidDays").val(0);
                $("#txtUnPaidDays").val(0);
                $("#txtFullPaidDays").attr("readonly", false);
                $("#txtHalfPaidDays").attr("readonly", true);
                $("#txtUnPaidDays").attr("readonly", true);

            }


        });
    });
    function showAccumulateddetails() {
        var isChecked = $("#isAccumulatedLeave").is(":checked");
        if (isChecked) {
            $("#AccumulateDetails").removeClass("hidden");
            var vacationTypeID = $("#VacationTypeId").val();
            var PositionIds = getSelectedIds('.position').join(',');
            if (PositionIds != '') {
                $.ajax({
                    type: 'POST',
                    url: '/VacationType/GetExistingPositionInAccrual/',
                    data: { PositionIds: PositionIds, VacationTypeID: vacationTypeID },
                    success: function (data) {
                        if (data != "") {
                            customShowMessage("error", 'Following positions ' + data + ' are already assigned to another accural leave.', 30000, "left");
                        }
                    },
                    error: function (data) { }
                });
            }

        }
        else {
            $("#AccumulateDetails").addClass("hidden");
        }
    }
    function isAnualorPerService() {
        var isanualLeave = $("#rdoAnnualLeave").is(":checked");
        if (isanualLeave) {
            $("#divRepeatPerService").addClass("hidden");
            $("#divContinuous").removeClass("hidden");
        }
        else {
            $("#divRepeatPerService").removeClass("hidden");
            $("#divContinuous").addClass("hidden");
        }
    }
    function CalcByDays() {
        // var noOfDays = $("#NoOfDays").val();
        var noOfDays = $("#FullPaidDays").val();
        var accumulatesEveryDays = $("#AccumulatePeriodNumber").val();
        var period = $("#AccumulateTimeSpanId").val();
        $.ajax({
            type: 'POST',
            data: { noOfDays: noOfDays, accumulatesEveryDays: accumulatesEveryDays, period: period },
            url: '/VacationType/CalculateAccumulatesBy/',
            success: function (data) {
                $("#AccumulateNumber").val(data.result);
            },
            error: function (data) { }
        });
    }
    function isStartDateSpecified() {
        var isStartFromHireDay = $("#rdoStartFromDate").is(":checked");
        if (!isStartFromHireDay) {
            $(".divAccumulationStartFrom").addClass("hidden");
            $("#AccumulationStartFrom").attr("disabled", "disabled");
        }
        else {
            $(".divAccumulationStartFrom").removeClass("hidden");
            $("#AccumulationStartFrom").removeAttr("disabled");
        }
    }


</script>
