﻿@{
    ViewBag.Title = "HRMS - Leave Types";
}



@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Leave Types</li>
    </ul>
}
 @{
     HRMS.Entities.PermissionModel permissionModel = (HRMS.Entities.PermissionModel)Session["VacationType"];
}
<div class="row">
    @Html.Hidden("hdnIsViewPermission",permissionModel.IsViewOnlyPermission)
    @Html.Hidden("hdnIsUpdatePermission", permissionModel.IsUpdateOnlyPermission)
    @Html.Hidden("hdnIsDeletePermission", permissionModel.IsDeleteOnlyPermission)
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-sitemap"></span> Leave Types</h3>
                @{
                    if (permissionModel.IsAddOnlyPermission)
                    {
                        <ul class="panel-controls">
                            <li class="dropdown open">
                                <a href="javascript:void(0);" title="Add Leave Type" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                            </li>
                        </ul>
                    }
                }
              
            </div>
            <div class="panel-body">
                <div class="row">
                     
                    <div class="col-md-12 padding-0">
                        <table id="tbl_VactionType" class="table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/VacationType.js"></script>
}








