﻿@using HRMS.Entities
@model HRMS.Entities.PositionModel
@{ 
    Layout = null;
    bool isAccrual = Convert.ToBoolean(ViewBag.isAccrual);
}
<div class="panel panel-default" id="divAcademic">
    <div class="panel-body">
        <div class="row">
            @Html.HiddenFor(m=>m.PositionID)
            @Html.Hidden("hdnIsAccrual", isAccrual)
            <div class="form-group col-sm-12 remove-AllPadding">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>

            @if (!isAccrual)
        {
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form">Position:</label>
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", @required = "required", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Leave Type:</label>
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownList("ddlVacationType", (SelectList)ViewBag.vactionddl, new { @class = "form-control selectpickerddl" })
                    </div>
                </div>
        }
            <div class="form-group col-md-12">
                <div class="col-sm-4">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Carry forward accrual balance:</label>
                </div>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label>@Html.CheckBox("isApproved", true)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" value="Save" onclick="return UpdatePositionLeaveType();" class="btn btn-primary pull-right" />
        <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
    </div>
</div>

    <script type="text/javascript">
        function UpdatePositionLeaveType() {
            localStorage.setItem('isAccrualPosition', $("#hdnIsAccrual").val());
            localStorage.setItem('isApproved', $("#isApproved").val());
            localStorage.setItem('LinkedAccrualLeave', $("#ddlVacationType").val());
            localStorage.setItem('ChangedEmployeePosition', $("#PositionID").val());
            $("#myModal3").modal("hide");
        }
    </script>
