﻿@model HRMS.Entities.VacationTypeModel

@{
    Layout = null;
    HRMS.DataAccess.GeneralDB.ReligionDB objReligionDB = new HRMS.DataAccess.GeneralDB.ReligionDB();
    HRMS.DataAccess.GeneralDB.GenderDB objGenderDB = new HRMS.DataAccess.GeneralDB.GenderDB();
    HRMS.DataAccess.GeneralDB.NationalityDB objNationalityDB = new HRMS.DataAccess.GeneralDB.NationalityDB();
    List<HRMS.Entities.PickList> pickList = (List<HRMS.Entities.PickList>)ViewBag.BoolType;
    string positionName = String.Join(", ", Model.positionList.Select(x => x.positionName).ToArray());
    string departmentName = String.Join(", ", Model.departmentList.Select(x => x.departmentName).ToArray());
    string jobCategories = String.Join(", ", Model.jobCategoryList.Select(x => x.jobCategoryName).ToArray());
    string jobTitles = String.Join(", ", Model.jobTitleList.Select(x => x.jobTitleName).ToArray());
}

@Html.HiddenFor(m => m.VacationTypeId)
@*@Html.HiddenFor(m => m.CompanyId)*@

<div class="panel panel-default" id="addeditform">
    <div class="panel-body">
        <div class="form-horizontal col-sm-6 padding-0">
            <div class="form-group col-sm-12 padding-0 padding-0">
                <label class="col-sm-6 padding-0">Leave Type: </label>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Repeat Per Service: </label>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => m.RepeatedFor, new { @class = "form-control col-sm-2" })
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Gender: </label>
                <div class="col-sm-6">
                    @if ((int)Model.GenderID == -1)
                    {
                        @Html.Raw("All Gender")
                    }
                    else
                    {
                       @objGenderDB.GetGenderByID((int)Model.GenderID).GenderName_1
                    }                    
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Nationality: </label>
                <div class="col-sm-6">
                    @if ((int)Model.GenderID==0)
                    {
                        @Html.Raw("All Nationalities")
                    }
                    else
                    {
                        @objNationalityDB.GetNationalityByID((int)Model.NationalityID).NationalityName_1
                    }
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Annual Leave: </label>
                <div class="col-sm-6">
                    @(pickList.FirstOrDefault(x => x.id == Model.AnnualLeave).text)
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0 hidden">
                <label class="col-sm-6 padding-0">Service Vacation Limit:</label>
                <div class="col-sm-6">
                    @(pickList.FirstOrDefault(x => x.id == Model.PerServiceVacation).text)
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Continuous: </label>
                <div class="col-sm-6">
                    @(pickList.FirstOrDefault(x => x.id == Model.MonthlySplit).text)
                </div>
            </div>
            <span id="result" style="display:none"></span>
            @*<div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Paid: </label>
                <div class="col-sm-6">
                    @(pickList.FirstOrDefault(x => x.id == Model.isCompensate).text)
                </div>
            </div>*@
        </div>
        <div class="form-horizontal col-sm-6 padding-0">
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Full Paid Days: </label>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => m.FullPaidDays, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Half Paid Days: </label>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => m.HalfPaidDays, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Un Paid Days: </label>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => m.UnPaidDays, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Applicable After: </label>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => m.ApplicableAfterDigits, new { @class = "form-control col-sm-2" })
                    @foreach (var item in (List<HRMS.Entities.PickList>)ViewBag.ApplicableType)
                    {
                        if (item.id == Model.ApplicableAfterTypeID)
                        {
                            @item.text
                        }
                    }
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Religion: </label>
                <div class="col-sm-6">
                    @if (Model.ReligionID == 0)
                    {
                        @Html.Raw("All Religions")
                    }
                    else
                    {
                        @objReligionDB.GetAllReligion().Where(x => x.ReligionID == Model.ReligionID).Select(X => X.ReligionName_1).SingleOrDefault()
                    }                  
                </div>
            </div>
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-6 padding-0">Marital Status: </label>
                <div class="col-sm-6">
                    @foreach (var item in (List<HRMS.Entities.General.MaritialStausModel>)ViewBag.MaritialStatus)
                    {
                        if (item.MaritalStatusID == Model.MaritalStatusId)
                        {
                            if (Model.MaritalStatusId == 0)
                            {
                                @Html.Raw("All Marital Status")
                            }
                            else
                            {
                                @item.MaritalStatusName_1
                            }
                        }
                    }
                </div>
            </div>
          

        </div>
        <div class="form-group col-sm-12 padding-0">
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-3 padding-0">Position: </label>
                <div class="col-sm-9">
                    @(positionName)
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12 padding-0">
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-3 padding-0">Department: </label>
                <div class="col-sm-9">
                    @(departmentName)
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12 padding-0">
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-3 padding-0">Job Title: </label>
                <div class="col-sm-9">
                    @(jobTitles)
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12 padding-0">
            <div class="form-group col-sm-12 padding-0">
                <label class="col-sm-3 padding-0">Job Category: </label>
                <div class="col-sm-9">
                    @(jobCategories)
                </div>
            </div>
        </div>
@if (!(bool)ViewBag.BeamHideFields)
{
        <div id="AccumulateDetails" class="col-sm-12 padding-0">
            @if (Model.isAccumulatedLeave)
            {
                <div class="form-group col-sm-12 padding-0">
                    <label class="col-sm-3 padding-0">Accrual Leave:</label>
                    <div class="col-sm-2">
                        Yes
                    </div>
                </div>
                <div class="form-horizontal col-sm-6 padding-0">
                    <div class="form-group col-sm-12 padding-0">
                        <label class="col-sm-6 padding-0">Maximum Number of Days to Carry Forward:</label>
                        <div class="col-sm-6">
                            @Html.DisplayFor(x => x.MaxNoOfDaystocarryForword)
                        </div>
                    </div>
                    <div class="form-group col-sm-12 padding-0">
                        <label class="col-sm-6 padding-0">Accrues Every:</label>
                        <div class="col-sm-6">
                            @Html.DisplayFor(x => x.AccumulatePeriodNumber, new { @class = "form-control", @required = "required" })
                            @foreach (var item in (List<HRMS.Entities.PickList>)ViewBag.Timespan)
                            {
                                if (item.id == Model.AccumulateTimeSpanId)
                                {
                                    @item.text
                                }
                            }
                            by
                            @Html.DisplayFor(x => x.AccumulateNumber, new { @class = "form-control" })
                            Days
                        </div>
                    </div>
                    <div class="form-group col-sm-12 padding-0">
                        <label class="col-sm-6 padding-0">Leave Balance Rounding :</label>
                        <div class="col-sm-6">
                            @foreach (var item in (List<HRMS.Entities.PickList>)ViewBag.RoundingTypes)
                            {
                                if (item.id == Model.AccumulateRoundingTypeId)
                                {
                                    @item.text
                                }
                            }
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.AccumulationStartFrom))
                    {
                        <div class="form-group col-sm-12 padding-0">
                            
                                <label class="col-sm-6 padding-0">Accrues Start Date:</label>
                            
                            <div class="col-sm-6">
                                @Html.DisplayFor(x => x.AccumulationStartFrom, new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="form-horizontal col-sm-6 padding-0">
                    <div class="form-group col-sm-12 padding-0">
                        <label class="col-sm-6 padding-0">Maximum number of days to be Accrued:</label>
                        <div class="col-sm-6">
                            @Html.DisplayFor(x => x.AccMaxNumberOfDays, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-sm-12 padding-0">
                        <label class="col-sm-6 padding-0">Accruing start after :</label>
                        <div class="col-sm-6">
                            @Html.DisplayFor(x => x.AccumulateAfter, new { @class = "form-control", @required = "required" })
                            @foreach (var item in (List<HRMS.Entities.PickList>)ViewBag.Timespan)
                            {
                                if (item.id == Model.AccumulateAfterPeriod)
                                {
                                    @item.text
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group col-sm-12 padding-0">
                        <label class="col-sm-6 padding-0">Displaye Balance: :</label>
                        <div class="col-sm-6">
                            @foreach (var item in (List<HRMS.Entities.PickList>)ViewBag.DisplayLeaveBalanceType)
                            {
                                if (item.id == Model.DisplayLeaveBalanceTypeId)
                                {
                                    @item.text
                                }
                            }

                        </div>
                    </div>
               
                </div>





            }
            else
            {
                <div class="form-group col-sm-12 padding-0">
                    <label class="col-sm-3 padding-0">Accrual Leave:</label>
                    <div class="col-sm-4">
                        No
                    </div>
                </div>
            }


        </div>
}

    </div>
    <div class="panel-footer">
        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />
    </div>
</div>