﻿@model HRMS.Entities.General.HRQualificationModel

@{
    Layout = null;
}

<script>

    function onSuccessType(data) {        
        $("#modal_Loader1").html("");
        $("#myModal1").modal("hide");
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            GetAllHRQualification();
        }
        else {
            ShowMessage("error", data.Message)
        }
              
    }

    function onFailureType(data) {
        ShowMessage("error", "Error Occured");
    }

    function CloseModal() {
        $("#modal_Loader1").html("");
        $("#myModal1").modal("hide");
    }

</script>

@using (Ajax.BeginForm("AddQualification", "Academic", new AjaxOptions { OnFailure = "onFailureType", OnSuccess = "onSuccessType" }, new { id = "frmAddQualification" }))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group col-md-12 padding-0">
                <div class="col-sm-3 padding-0">
                </div>
                <div class="col-sm-9">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-1"></div>
                <div class="col-md-4">
                    <label class="label-form"><span class="required-field">*</span> Subject Name (EN):</label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.HRQualificationName_1, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.HRQualificationName_1)
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-1"></div>
                <div class="col-md-4">
                    <label class="label-form">Subject Name (AR):</label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.HRQualificationName_2, new { @class = "form-control"})
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="col-sm-12 margin_bottom">
                <div class="col-sm-1"></div>
                <div class="col-md-4">
                    <label class="label-form">Subject Name (FR):</label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.HRQualificationName_3, new { @class = "form-control"  })
                    
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.HRQualificationName_2, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.HRQualificationName_2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HRQualificationName_2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HRQualificationName_3, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.HRQualificationName_3, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HRQualificationName_3)
                </div>
            </div>*@


    </div>
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>