﻿@model HRMS.Entities.CertificateModel


@{
    Layout = null;
}
<script>

    function ValidateForm() {
    }

    $("#btnCancel").click(function () {
        // location.href = "/Academic/Index";
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");


            var id = $("#hdnEmployee").val();
            if (id != "") {

                getGridCertificate(id);
            }
            else { getGridCertificate(); }

        }
        else {
            ShowMessage("error", data.Message);
        }

    }
</script>

<div class="panel panel-default" id="divAcademic">

    @using (Ajax.BeginForm("EditCertificates", "Academic", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditCertificate" }))
    {
        @Html.HiddenFor(x => x.CertificateID)
        <input type="hidden" name="EmployeeID" id="EmployeeID" value="@ViewBag.empid" />
        <div class="panel-body">
            <div class="form-horizontal col-lg-12 col-md-12">
                @*<div class="form-group col-lg-12 col-md-12">
                        <label>Employee </label>
                        @Html.DropDownListFor(m => m.EmployeeID, (SelectList)ViewBag.Employee, "Select Employee", new { @class = "form-control", required = "required" })
                    </div>*@
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Name As In Degree:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.NameAsInDegree, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.NameAsInDegree)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Date:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.CertificationDate, new { @class = "form-control datepicker", required = "required" })
                        @Html.ValidationMessageFor(m => m.CertificationDate)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Certification Name: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.CertificationName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.CertificationName)
                    </div>
                </div>
                <div class="col-md-12 form-group padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Institute:</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group ">
                            @Html.DropDownListFor(m => m.HRInstituteID, (SelectList)ViewBag.Institute, "Select Institute", new { @class = "form-control selectpickerddl", required = "required" })
                            <span class="input-group-addon add-on">
                                <a href="javascript:void(0)" style="color:#ffffff" title="Add Institute" onclick="AddInstitute()">+ </a>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.HRInstituteID)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Country:</label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, "Select Country", new { @class = "form-control selectpickerddl", required = "required" })
                        @Html.ValidationMessageFor(m => m.CountryID)
                    </div>
                </div>
                <div class="form-group col-md-12 padding-0">
                    <div class="col-sm-3 padding-0">
                        <label class="label-form">Ministry Approved:</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.MinistryApproved, new { })
                                @Html.ValidationMessageFor(m => m.MinistryApproved)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnSubmit" onclick="ValidateForm();" class="btn btn-primary pull-right" value="Update" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    }
</div>
<script>

    //$("#GraduationDate").val($("#GraduationDate").val().substring(0, $("#GraduationDate").val().length - 11));

</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
