﻿@model List<HRMS.Entities.EmployeeDetailsModel>


@{
    ViewBag.Title = "HRMS - Qualification Details";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Qualification Details</li>
    </ul>
}
<input type="hidden" id="hdnEmployee" value="@ViewBag.empid" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-user"></span>&nbsp;&nbsp;
                    <b>
                        <span id="lblEmployeeName"></span>
                    </b>
                    <span style="margin-left:60px">
                        <b>
                            ID: <span id="lblEmployeeIDNo"></span>
                        </b>
                    </span>
                    <span style="margin-left:60px">
                        <b>
                            Position: <span id="lblPositon"></span>
                        </b>
                    </span>
                    <span style="margin-left:60px">
                        <b>
                            Department: <span id="lblDepartment"></span>
                        </b>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="col-sm-8 nopadding">
                            <div class="panel panel-default tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#tab-first" role="tab" data-toggle="tab" aria-expanded="true">Academic Details</a></li>
                                    <li class=""><a href="#tab-second" role="tab" data-toggle="tab" aria-expanded="false">Professional Certificates</a></li>
                                </ul>
                                <div class="panel-body tab-content">
                                    <div class="tab-pane active" id="tab-first">                                        
                                            <div class="panel panel-default ">
                                                <div class="panel-heading">                         
                                                    <h3 class="panel-title">Academic Details</h3> 
                                                    <ul class="panel-controls">
                                                        <li class="dropdown open">
                                                            <a href="javascript:void(0);" id="btn_addAcademic" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="panel-body">
                                                    @*<div class="row form-group">
                                                        <div class="col-md-12 nopadding">
                                                            <input type="button" value="Add" id="btn_addAcademic" class="btn btn-primary" />
                                                        </div>
                                                    </div>*@
                                                    <div class="table-responsive">
                                                        <table id="tbl_AcademicList" class="display table table-bordered table-striped" width="100%"></table>
                                                    </div>
                                                </div>    
                                            </div>                                                                           
                                    </div>
                                    <div class="tab-pane" id="tab-second">
                                        <div class="panel panel-default ">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Professional Certificates</h3>
                                                <ul class="panel-controls">
                                                    <li class="dropdown open">
                                                        <a href="javascript:void(0);" id="btn_addCertificate" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                @*<div class="row form-group">
                                                    <div class="col-md-12 nopadding">
                                                        <input type="button" value="Add" id="btn_addCertificate" class="btn btn-primary" />
                                                    </div>
                                                </div>*@
                                                <div class="table-responsive">
                                                    <table id="tbl_CertificateList" class="display table table-bordered table-striped" width="100%"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   
                               
                                </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl">
                                <div class="panel-heading">
                                    <input type="text" placeholder="Employee Name" class="form-control" ng-model="empname" />
                                </div>
                                <div class="panel-body list-group list-group-contacts emplist" ng-cloak>
                                    @*angular js start here*@

                                    <a href="#" class="list-group-item  emplistcontent" ng-repeat="x in names">
                                        <div class="row">
                                            <div class="col-sm-12 padding-0">
                                                <div class="col-sm-10 padding-0">
                                                    <span class="contacts-title contacts-title-emplist">{{ x.FullName }}</span>
                                                </div>
                                                <div class="col-sm-2 padding-0">
                                                    <div class="list-group-controls-emplist">
                                                        <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    @*angular js End here*@

                                </div>





                                @*//testing here*@
                                <br /><br /><br />
                                <div style="margin-top: 367px; padding-left: 20px; background: #F5F5F5; border-color: #E5E5E5; padding: 10px; ">
                                    <label ng-repeat="(list,enabled) in status" style="margin-left:6px">
                                        <input type="checkbox" ng-model="status[list]" ng-change="checkval()"> {{list}}
                                    </label>
                                    @*<p>colors: {{colors}}</p>*@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>








@section Scripts
{
    <script src="~/Scripts/Custom/Academic.js"></script>

    <script>
        var app = angular.module('myApp', ['ngCookies']);
        app.controller('customersCtrl', function ($scope, $http, $cookieStore, $window) {

            $scope.status = { 'Include Inactive': false, 'Inactive Only': false };

            var coockievalue = $cookieStore.get('Active');

            if (coockievalue == null) {
                // $scope.ActiveValue = '1';
                $cookieStore.put('Active', '1')

            }
            if ($cookieStore.get('Active').indexOf("1") > -1) {

                if ($cookieStore.get('Active').indexOf("0") > -1) {
                    $scope.status['Include Inactive'] = true;
                }
            }
            else if ($cookieStore.get('Active').indexOf("0") > -1) {

                $scope.status['Inactive Only'] = true;
            }

            var req = {
                method: 'GET',
                url: "@Url.Action("GetAllEmployee", "Employee")",
                headers: {
                    'Content-Type': undefined
                },
                params: { Active: $cookieStore.get('Active') }
            }

            $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            //  $http.get("@Url.Action("GetAllEmployee", "Employee")", { active: "1" })
            //   .success(function (response) { $scope.names = response; });






            @*$scope.hello = function () {
            $http.get("@Url.Action("GetAllEmployee", "Employee")")
        .success(function (response) { $scope.names = response.tt; });
        }*@


            //test here start 1

            //test here end

            //tes second
            $scope.checkval = function () {

                var cookVal = $cookieStore.get('Active');
                var param = '1';
                $cookieStore.put('Active', '1');

                if ($scope.status['Inactive Only'] == true) {

                    param = '0';
                    $cookieStore.put('Active', '0');



                }
                if ($scope.status['Include Inactive'] == true) {

                    param = '1,0';
                    $cookieStore.put('Active', '1,0');


                }
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmployee", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: param }
                }
                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            }
            $scope.$watch(function () {
                return $scope.empname;
            }, function (newValue, oldValue) {
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmpSearch", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: $cookieStore.get('Active'), value: newValue }

                }

                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            });

            //end here
        });
    </script>

    <script>
        //$(document).on("click", ".clickme", function () {


        //    var id = $(this).attr('id');
        //    LoadEmployeeDetails(id);
        //    getGridWorkexperience(id);
        //    $("#hdnEmployee").val(id);


        //});

        $(document).ready(function () {
            if (parseInt($("#hdnEmployee").val()) > 0) {
                var id = $("#hdnEmployee").val();
                LoadEmployeeDetails(id);
                //  getGridWorkexperience(id);
                getGridAcademic(id);
                getGridCertificate(id);
            }
            $("#btn_ExportToExcel").click(function () { ExportToExcel(); });
            $("#btn_ExportToPdf").click(function () { ExportToPdf(); });
        });

        $(document).on("dblclick", ".emplistcontent", function () {

            var id = $(this).find('.clickme').attr('id');
            LoadEmployeeDetails(id);
            getGridAcademic(id);
            getGridCertificate(id);
            $("#hdnEmployee").val(id);


        });

        $(document).on("click", ".emplistcontent", function () {
            var id = $(this).find('.clickme').attr('id');
            LoadEmployeeDetails(id);
            getGridAcademic(id);
            getGridCertificate(id);
            $("#hdnEmployee").val(id);
        });
    </script>
}

