﻿@*@using HRMS.Entities.Helpers*@
@model HRMS.Entities.PayDirectDepositModel
@{
    string DecimalFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
<script>

    function onFailure(arg) {
    }
    $(document).ready(function () {
        $("#BtnCancel").click(function () {
            $("#myModal3").modal("hide");
        });

        if ($("#AccountDate").val() == "") {
            $("#AccountDate").val('@DateTime.Now.ToString("dd/MM/yyyy")');
        }
        bindSelectpicker('.selectpickerddl');

    });
</script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>


<div class="panel panel-default" id="divBankInformation">
    @using (Ajax.BeginForm("Save", "BankInformation", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmBankInformation" }))
    {
        @Html.HiddenFor(model => model.DirectDepositID)
        @Html.HiddenFor(model => model.EmployeeID)
        <input type="hidden" id="IBanLength" value=@ViewBag.IBanLength />
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                </div>
                <div class="form-group col-lg-6 col-sm-6">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-lg-8 col-sm-8">
                    <label for="IsAccountNoUseAsIBAN"  class="label-form">
                        Use account no as UNI/IBAN number in WPS reports:&nbsp;   
                        @Html.CheckBoxFor(x => x.IsAccountNoUseAsIBAN, new { })                     
                    </label>
                    
                </div>

                <div class="col-lg-4 col-sm-4 padding-0">

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Account No  </label>
                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">Account Date </label>
                    @Html.TextBoxFor(model => model.AccountDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.AccountDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Bank Name </label>
                    <div class="input-group dropdownHide input-group-ddl">
                        @Html.DropDownListFor(model => model.BankID, Model.BankList, "Select Bank Name", new { @class = "form-control selectpickerddl", @required = "required" })
                        <span class="input-group-addon add-on input-group-span">
                            <a href="javascript:Add('Add Bank Name',33,'#BankID')" data-toggle="tooltip" title="Add New  Bank Name!" style="color:#ffffff">+</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.BankID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">Cancellation Date </label>
                    @Html.TextBoxFor(model => model.CancellationDate, new { @class = "form-control col-lg-8 datepicker" })
                    @Html.ValidationMessageFor(model => model.CancellationDate, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">Branch Name </label>
                    <div class="input-group dropdownHide input-group-ddl">
                        @Html.DropDownListFor(model => model.BranchID, Model.BranchList, new { @class = "form-control selectpickerddl" })
                        <span class="input-group-addon add-on input-group-span">
                            <a href="javascript:Add('Add Branch Name',34,'#BranchID')" data-toggle="tooltip" title="Add New  Branch Name!" style="color:#ffffff">+</a>
                        </span>
                    </div>

                    @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">Amount Blocked </label>
                    @Html.TextBoxFor(model => model.AmountBlocked, new { @class = "form-control", @Value = Model.AmountBlocked.ToString(DecimalFormat) })

                </div>

            </div>

            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">Category </label>
                    <div class="input-group dropdownHide input-group-ddl">
                        @Html.DropDownListFor(model => model.CategoryID, Model.CategoriesList, new { @class = "form-control selectpickerddl" })
                        <span class="input-group-addon add-on input-group-span">
                            <a href="javascript:Add('Add Category',35,'#CategoryID')" data-toggle="tooltip" title="Add New  Category!" style="color:#ffffff">+</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">UNI/IBAN number</label>
                    @Html.TextBoxFor(model => model.UniAccountNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UniAccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                    <label class="label-form">Account Type </label>
                    <div class="input-group dropdownHide input-group-ddl">
                        @Html.DropDownListFor(model => model.AccountTypeID, Model.AccountTypeList, new { @class = "form-control selectpickerddl" })
                        <span class="input-group-addon add-on input-group-span">
                            <a href="javascript:Add('Add Account Type',36,'#AccountTypeID')" data-toggle="tooltip" title="Add New  Account Type!" style="color:#ffffff">+</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.AccountTypeID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group"></div>
                <div class="form-group col-lg-6 col-sm-6">
                    <div class="col-sm-12 padding-0 padding-up-item">
                        <div class="col-sm-8 padding-0">
                            <label for="FirstSalaryBlocked" class="label-form">1st month salary blocked </label>
                        </div>
                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label>@Html.CheckBoxFor(model => model.FirstSalaryBlocked)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-lg-6 col-sm-6">
                    <label>Employee Name as in Bank </label>
                    @Html.TextBoxFor(model => model.EmpName, new { @class = "form-control charOnly", @required = "required" })
                    @Html.ValidationMessageFor(model => model.EmpName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group"></div>
                <div class="form-group col-lg-6 col-sm-6">
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-8 padding-0">
                            <label for="Active" class="label-form">
                                Default Account
                            </label>
                        </div>

                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label> @Html.CheckBoxFor(model => model.Active, new { @onclick = "checkDefaultAccount(this)" })</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12 lblForDdefaultAccount" style="display:none;">
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning! </strong><span id="lblTotalEmployeeNotinPayroll">After save current detail the existing bank accounts will updated to not default accounts.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" value="@(Model.DirectDepositID > 0?"Update":"Save")" onclick="return SaveBankDetails();" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }

</div>
<script src="~/Scripts/Custom/BankInformation/_Add.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">   
    function checkDefaultAccount(e) {         
        if ($(e).is(':checked'))
            $.ajax({
                type: 'GET',
                url: '/BankInformation/CheckDefaultAccount?EmployeeeId=' + $("#EmployeeID").val(),
                dataType: "json",
                success: function (data) {

                    if (data.isPresent) {
                        $(".lblForDdefaultAccount").show();
                    } else {
                        $(".lblForDdefaultAccount").hide();
                    }
                }
            });
        else {
            $(".lblForDdefaultAccount").hide();
        }
    }    
</script>