﻿@model HRMS.Entities.CompanyModel
@{ Layout = null;}

<script>
    function Start() {
        pageLoaderFrame();
    }
    function SucessCompany(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        getGrid();
        hideLoaderFrame();
    }

    function CountryIDchange(object) {
        var selectedItem = $(object).val();
        if (selectedItem != null) {
            var ddlCities = $("#City");
            //   var statesProgress = $("#cities-loading-progress");
            //     statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Employee/GetCityByCountryId",
                data: { "countryId": selectedItem },
                success: function (data) {
                    ddlCities.html('');
                    ddlCities.append($('<option></option>').val("").html("Select City"));
                    $.each(data, function (id, option) {
                        ddlCities.append($('<option></option>').val(option.id).html(option.name));
                    });
                    RefreshSelect(ddlCities);
                    // statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    // alert('Failed to retrieve states.');
                    // statesProgress.hide();
                }
            });
        }
        else {
            ddlCities.html('');
            ddlCities.append($('<option></option>').val("").html("Select City"));

        }
    }

    function AddCity(title, id, dropdownId) {
        if ($('#Country').val() != undefined && $('#Country').val() != "" && $('#Country').val() != "0") {
            $("#hdnDropDownReloadId").val(dropdownId);
            $("#hdnDropDownId").val(id);
            $("#modal_Loader").load("/Employee/AddNewCityForCountry?CountryID=" + $('#Country').val());
            $("#myModal").modal("show");
            $("#modal_heading").text(title);
        }
        else {
            $.MessageBox({
                buttonDone: "Ok",
                message: 'Please select Country First',
            });
            return;
        }
    }

    function Add(title, id, dropdownId) {
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader").load("/Employee/AddType/" + id);
        $("#myModal").modal("show");
        $("#modal_heading").text(title);


    }

    function SaveCompany() {
        var nameEN = $("#name").val();
        if (nameEN == "") {
            if ($("#collapseOne").hasClass('in')) {
                $("#frmAddCompany").submit();
            }
            else {
                $("#collapseOne").addClass('in');
                $("#frmAddCompany").submit();
            }
            if ($("#collapseThree").hasClass("in")) {
                $("#collapseThree").removeClass('in');
            }
        } else {
            if ($("#collapseOne").hasClass("in")) {
                if ($("#collapseTwo").hasClass("in")) {
                    $("#collapseTwo").removeClass('in');
                }
                if ($("#collapseThree").hasClass("in")) {
                    $("#collapseThree").removeClass('in');
                }
            }
            if ($("#collapseThree").hasClass("in")) {
                $("#collapseThree").removeClass('in');
            }
            $("#frmAddCompany").submit();
        }
    }

    function checkSchoolCompany(e) {
        if ($(e).is(":checked")) {
            $.ajax({
                type: 'POST',
                data: { checkSchoolOrgnizationId: checkSchoolOrgnizationId },
                url: '/Company/checkSchoolOrgnization',
                success: function (data) {
                    if (data.result == 'success')
                        $("#warningMessage").removeClass("hidden");
                },
                error: function (data) { }
            });
        }
        else {
            if (!($("#warningMessage").hasClass("hidden"))) {
                $("#warningMessage").addClass("hidden");
            }
        }


    }

</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("Save", "Company", new AjaxOptions { OnBegin = "Start", OnComplete = "SucessCompany" }, new { id = "frmAddCompany" }))
    {
        @Html.HiddenFor(m => m.CompanyId)
        @*@Html.HiddenFor(m => m.City, new { @id = "hdnCityId" })
            @Html.HiddenFor(m => m.Country, new { @id = "hiddenForCountry" })*@
        @Html.Hidden("hdnDropDownId");
        @Html.Hidden("hdnDropDownReloadId");
        <div class="panel-group" id="accordion" style="max-height: 450px;overflow-y: auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">NAME DETAILS</a>
                    </h4>
                </div>
                <div id="collapseOne" aria-expanded="true" class="collapse in">
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12 text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                        @if (Model == null)
                        {
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Company ID:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.AlternativeCompanyID, new { @class = "form-control" })
                                </div>
                            </div>
                        }
                        <div class="form-group col-sm-12">
                            <label class="label-form col-sm-4">
                                <span class="required-field">*</span> Organization Name (EN):
                            </label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.name)
                            </div>
                        </div>
                        @{
                            Html.EnableClientValidation(false);
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Organization Name (AR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Name_2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Organization Name (FR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Name_3, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Short Name (EN):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ShortName_1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Short Name (AR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ShortName_2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Short Name (FR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ShortName_3, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Campus Name (EN):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.CampusName_1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Campus Name (AR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.CampusName_2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Campus Name (FR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.CampusName_3, new { @class = "form-control" })
                                </div>
                            </div>
                         
                            Html.EnableClientValidation(true);
                        }
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">CONTACT DETAILS</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            Html.EnableClientValidation(false);
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Email ID:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Contact Person Name:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ContactPersonName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Address (EN):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Address (AR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Address (FR):
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Address_3, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Country:
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Country, (List<SelectListItem>)ViewBag.CountryList, new { @class = "form-control selectpickerddl", @data_live_search = "true", onchange = "CountryIDchange(this)" })
                                    @Html.ValidationMessageFor(m => m.Country)
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    City:
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        @Html.DropDownListFor(m => m.City, (List<SelectListItem>)ViewBag.CityList, new { @class = "form-control selectpickerddl" })
                                        <span class="input-group-addon add-on">
                                            <a href="javascript:AddCity('Add City',20,'#City')" data-toggle="tooltip" title="Add New  City!" style="color:#ffffff">+</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    P.O.BOX:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.POBOX, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Telephone 1:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Telephone 2:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Phone_2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Telephone 3:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Phone_3, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Fax 1:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Fax_1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Fax 2:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Fax_2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Fax 3:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Fax_3, new { @class = "form-control" })
                                </div>
                            </div>
                            Html.EnableClientValidation(true);
                        }
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">OTHER DETAILS</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            Html.EnableClientValidation(false);
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Principal/Manager:
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CompanyHead, (SelectList)ViewBag.Employee, "Select Principal/Manager", new { @class = "form-control selectpickerddl", @data_live_search = "true", required = "required" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Assistant 1:
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Assistant1, (SelectList)ViewBag.Employee, "Select Assistant 1", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Assistant 2:
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Assistant2, (SelectList)ViewBag.Employee, "Select Assistant 2", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Assistant 3:
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Assistant3, (SelectList)ViewBag.Employee, "Select Assistant 3", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Organization Code:
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.OrganizationCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4" for="SchoolCompany">School Organization:</label>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label>@Html.CheckBoxFor(m => m.SchoolCompany, new { @onclick = "checkSchoolCompany(this)" })</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 hidden" id="warningMessage">
                                <div class="alert alert-warning" role="alert">
                                    <strong>Warning!</strong><span id="lblTotalEmployeeNotinPayroll"> School organization is already exists, If you save then other records will uncheck for school organization.</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-4">
                                    Company Type:
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CompanyTypeID, (List<SelectListItem>)ViewBag.CompanyTypeList, new { @class = "form-control selectpickerddl", @data_live_search = "true", @id = "ddlCompanyType" })
                                    @Html.ValidationMessageFor(m => m.CompanyTypeID)

                                </div>
                            </div>
                         
                            Html.EnableClientValidation(true);
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="button" onclick="SaveCompany()" class="btn btn-primary pull-right" value="Save">
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

