﻿@{
    ViewBag.Title = "HRMS - Organizations Info";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Organizations Info</li>
    </ul>
}
@{
    HRMS.Entities.PermissionModel permissionModel = (HRMS.Entities.PermissionModel)Session["CompanyInfo"];
    List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;
    bool IsOtherPermission = otherPermissions.Where(x => x.OtherPermissionId == 21).Count() > 0 ? true : false;
    HRMS.Entities.General.MenuNavigationModel menuNavigationModel = ViewBag.MenuNavigationModelList;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-university"></span> Organizations</h3>
                @{
                    if (permissionModel.IsAddOnlyPermission && menuNavigationModel.IsAddCheckbox)
                    {
                        <ul class="panel-controls">
                            <li class="dropdown open">
                                <a href="javascript:void(0);" title="Add Organization" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                            </li>
                        </ul>
                    }
                }
            </div>
            <div class="panel-body">
                <div class="row">
                    @{
                        if (permissionModel.IsViewOnlyPermission)
                        {
                            if (IsOtherPermission == true)
                            {
                                <div id="exportIcon" class="col-sm-12 padding-0 margin_bottom">
                                </div>
                            }
                            <div class="col-md-12 padding-0">
                                <table id="tbl_company" class="display table table-bordered table-striped" width="100%"></table>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/Company.js"></script>

    <script>
        $(document).ready(function () {
            getGrid();
            $("#btn_add").click(function () {
                EditChannel(0);
            });
            //$("#btn_ExportToExcel").click(function () { ExportToExcel(); });
            //$("#btn_ExportToPdf").click(function () { ExportToPdf(); });
        });
    </script>
}

