﻿@model HRMS.Entities.CompanyModel
@{ Layout = null;}

<script>
    function Start() {
    }
    function SucessCompany(arg) {
    }

</script>

<div class="panel panel-default">
    <div class="panel-group" id="accordion" style="max-height: 450px;overflow-y: auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">NAME DETAILS</a>
                </h4>
            </div>
            <div id="collapseOne" aria-expanded="true" class="collapse in">
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Company ID:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.AlternativeCompanyID, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Organization Name (EN):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Organization Name (AR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Name_2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Organization Name (FR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Name_3, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Short Name (EN):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.ShortName_1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Short Name (AR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.ShortName_2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Short Name (FR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.ShortName_3, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Campus Name (EN):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.CampusName_1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Campus Name (AR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.CampusName_2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Campus Name (FR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.CampusName_3, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">CONTACT DETAILS</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Email ID:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.EmailId, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Contact Person Name:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.ContactPersonName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Address (EN):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Address1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Address (AR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Address2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Address (FR):
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Address_3, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Country:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.CountryName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            City:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.CityName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            P.O.BOX:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.POBOX, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Telephone 1:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Telephone 2:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Phone_2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Telephone 3:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Phone_3, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Fax 1:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Fax_1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Fax 2:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Fax_2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Fax 3:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.Fax_3, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">OTHER DETAILS</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Principal/Manager:
                        </label>
                        <div class="col-sm-7">
                            @ViewBag.CompanyHead
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Assistant 1:
                        </label>
                        <div class="col-sm-7">
                            @ViewBag.Assistant1
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Assistant 2:
                        </label>
                        <div class="col-sm-7">
                            @ViewBag.Assistant2
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Assistant 3:
                        </label>
                        <div class="col-sm-7">
                            @ViewBag.Assistant3
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            Organization Code:
                        </label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(m => m.OrganizationCode)
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label col-sm-5">
                            School Organization:
                        </label>
                        <div class="col-sm-7">
                            <div class="checkbox">
                                <label>@Html.CheckBoxFor(m => m.SchoolCompany, new { @disabled = "disabled" })</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden" id="warningMessage">
                        <div class="alert alert-warning" role="alert">
                            <strong>Warning!</strong><span id="lblTotalEmployeeNotinPayroll"> School organization is already exists, If you save then other records will uncheck for school organization.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" />
    </div>
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

