﻿@model HRMS.Entities.PaySlipSummary

<div class="form-horizontal col-lg-12 col-md-12">
    <div class="panel panel-default ">

        <div class="panel-body col-lg-12 col-md-12">

            <div id="divAllSlip" class="form-group col-lg-12 col-md-12" style="width:100%">
                <div class="col-md-12">
                    <label>
                        @Html.RadioButtonFor(m => m.paySlipType, 0, new { @checked = true })
                        All
                    </label>
                </div>
            </div>

            <div id="divEmployeeSlip" class="form-group col-lg-12 col-md-12" style="width:100%">
                <div class="col-md-5">
                    <label>
                        @Html.RadioButtonFor(m => m.paySlipType, 1)
                        Employee
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.EmployeeID, Model.EmployeeList, new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                </div>
            </div>

            <div id="divCategorySlip" class="form-group col-lg-12 col-md-12" style="width:100%">
                <div class="col-md-5">
                    <label>
                        @Html.RadioButtonFor(m => m.paySlipType, 2)
                        Category
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList, new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                </div>
            </div>
            <div id="divIncludeSundry" class="form-group col-lg-12 col-md-12" style="width:100%;display:none;">
                <div class="col-md-5">
                    <div class="checkbox">
                        <label style="font-weight:600">
                            <input id="isSundriesInclude" type="checkbox" />
                            Include Sundries
                        </label>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 pull-right" style="margin-left: 0px;">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" value="Download Word" id="paySlipPreview" />
                    <input type="button" class="btn btn-primary" value="Download PDF" id="btnpaySlipPDF" />
                    <input type="button" class="btn btn-primary" value="Send Mail" id="btnSendMail" />

                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        bindSelectpicker(".selectpickerddl");
        if ('@(ViewBag.templateID)' == "3") {
            $("#divIncludeSundry").show();
        }
        if ($('#tbl_LateDeduction > tbody > tr').find('input[type=checkbox]:checked').length > 1) {
            $('#divAllSlip').remove();
            $('#divCategorySlip').remove();
            $('#paySlipType').attr('checked', true);
        };
    });

    $("#paySlipPreview").click(function () {
        var value = $('input:radio[name=paySlipType]:checked').val();
        var isSundriesInclude = $("#isSundriesInclude").is(":checked");
        var whereID = 0;
        var cycleIds = [];
        if (value == 1) {
            var whereID = $("#EmployeeID").val();
        }
        else if (value == 2) {
            var whereID = $("#CategoryId").val();
        }

        $.each($("input[name='chkCycle']:checked"), function () {
            cycleIds.push($(this).val());
        });

        $.ajax({
            url: "/Payroll/CheckAllPaySlip?CycleID=" + cycleIds.toString() + "&PayslipTypeId=" + value + "&whereId=" + whereID,
            type: 'POST',
            data: {
                CycleID: cycleIds.toString(),
                PayslipTypeId: value,
                whereId: whereID
            },
            success: function (data) {
                if (data == true)
                    window.location.href = "/Payroll/ExportToDocPaySlip?CycleIDArray=" + cycleIds + "&PayslipTypeId=" + value + "&whereId=" + whereID + "&isSundriesInclude=" + isSundriesInclude;
                else
                    ShowMessage("error", "No data avaiable for selected cycle");
            },
            error: function () {
                ShowMessage("error", "Some techinal error occurred");
            },
        });
    });

    $("#btnSendMail").click(function () {

        var value = $('input:radio[name=paySlipType]:checked').val();
        var whereID = 0;
        var cycleIds = [];
        if (value == 1) {
            var whereID = $("#EmployeeID").val();
        }
        else if (value == 2) {
            var whereID = $("#CategoryId").val();
        }

        $.each($("input[name='chkCycle']:checked"), function () {
            cycleIds.push($(this).val());
        });

        $.ajax({
            url: '@Url.Content("/Payroll/CheckAllPaySlip")',
            type: 'POST',
            data: {
                CycleID: cycleIds.toString(),
                PayslipTypeId: value,
                whereId: whereID
            },
            success: function (data) {
                if (data == true)
                    SendMail(cycleIds.toString(), value, whereID);
                else
                    ShowMessage("error", "No data avaiable for selected cycle");
            },
            error: function () {
                ShowMessage("error", "Some techinal error occurred");
            },
        });
    });

    function SendMail(cycleIds, value, whereID) {        
        blockButton();
        confirmationOnSendMail(cycleIds, value, whereID);
    }

    function confirmationOnSendMail(cycleIds, value, whereID) {
        $.ajax({
            url: "/Payroll/confirmationOnSendMail",
            type: 'POST',
            data: {
                CycleIds: cycleIds.toString()
            },
            success: function (data) {
                if (data.isContinue)
                    sendMailConfirm(cycleIds, value, whereID);
                else {
                    $.MessageBox({ buttonDone: "Yes", buttonFail: "No", message: "Payslips are already send for selected cycle. Do you want to resend payslips?" }).done(function () {
                        sendMailConfirm(cycleIds, value, whereID);
                    }).fail(function () {
                        unBlockButton();
                    });
                }
            },
            error: function () {
                unBlockButton();
                ShowMessage("error", "Some techinal error occurred");
            },
        });
    }

    function sendMailConfirm(cycleIds, value, whereID) {

        blockUiById('addPaySalaryModal');

        $.ajax({
            url: "/Payroll/SendMailExportPayslipToPdf",
            type: 'POST',
            data: {
                CycleIDArray: cycleIds.toString(),
                PayslipTypeId: value,
                WhereID: whereID,
                isSundriesInclude: $("#isSundriesInclude").is(":checked")
            },
            success: function (data) {
                unBlockButton();
                unBlockUiById('addPaySalaryModal');
                if (data)
                    ShowMessage("success", "Payslip is send to work emails.");
                else
                    ShowMessage("error", "No data avaiable for selected cycle");
            },
            error: function () {
                unBlockButton();
                ShowMessage("error", "Some techinal error occurred");
            },
        });
    }

    function blockButton() {
        $('#paySlipPreview').prop('disabled', 'disabled');
        $('#btnSendMail').attr('disabled', 'disabled');
    }
    function unBlockButton() {
        $('#paySlipPreview').removeAttr('disabled', 'disabled');
        $('#btnSendMail').removeAttr('disabled', 'disabled');
    }

    $("#btnpaySlipPDF").click(function () {
        var value = $('input:radio[name=paySlipType]:checked').val();
        var isSundriesInclude = $("#isSundriesInclude").is(":checked");
        var whereID = 0;
        var cycleIds = [];
        if (value == 1) {
            var whereID = $("#EmployeeID").val();
        }
        else if (value == 2) {
            var whereID = $("#CategoryId").val();
        }

        $.each($("input[name='chkCycle']:checked"), function () {
            cycleIds.push($(this).val());
        });

        $.ajax({
            url: '@Url.Content("/Payroll/CheckAllPaySlip")',
            type: 'POST',
            data: {
                CycleID: cycleIds.toString(),
                PayslipTypeId: value,
                whereId: whereID
            },
            success: function (data) {
                if (data == true)
                    window.location.href = "/Payroll/ExportPayslipToPdf?CycleIDArray=" + cycleIds + "&PayslipTypeId=" + value + "&whereId=" + whereID + "&isSundriesInclude=" + isSundriesInclude;
                else
                    ShowMessage("error", "No data avaiable for selected cycle");
            },
            error: function () {
                ShowMessage("error", "Some techinal error occurred");
            },
        });
    });
    //    window.location.assign("/Payroll/ExportPayslipToPdf");


    //});
</script>