﻿@model HRMS.Entities.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Account - Log in";
    Layout = null;
}


<div class="login-container" id="divLoginContainer">
    <button type="button" class="close final_retreive_authontication_close" data-dismiss="modal" style="margin-right:7px; margin-top:4px;">
        <span aria-hidden="true" class="fa fa-times fa-1x"></span><span class="sr-only">Close</span>
    </button>
    <div class="login-box">
        @*<div class="login-logo"></div>*@
        <div class="lockscreen-container">
            <div class="lockscreen-box animated fadeInDown active" style="margin-top: -138px;">
                <div class="lsb-access">
                    <div class="lsb-box">
                        <div class="fa fa-lock"></div>
                        <div class="user">
                            <img src="@Url.Action("GetUserImage", "Employee", new { EmployeeId = ViewBag.UserId })" id="imgprofile" class="img-thumbnail profile-photo" />
                            <div class="user_signin animated fadeIn">
                                <div class="fa fa-sign-in"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lsb-form animated fadeInDown" style="margin-top: 15px !important;">
                    @using (Ajax.BeginForm("PayrollUserLogin", "Account", "", new AjaxOptions { OnBegin = "Start", OnSuccess = "SucessLogIn" }, new { id = "frmLogIn", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-12" style="width:130%!important">
                                <span id="permissionError" class="field-validation-error hidden"><span></span></span>
                            </div>
                        </div>
                        <div class="form-group sign-in">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username", @required = "required" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>                           
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-lock"></span>
                                    </div>
                                    @Html.PasswordFor(model => Model.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>                          
                        </div>
                        <input type="submit" class="hidden" />
                    }
                </div>

            </div>

        </div>
    </div>

</div>

<style>
    #payrollRetrievalModal .modal-body {
        /*position: relative;*/
        padding: 0px !important;
    }

    @@media screen and (max-width: 1400px) and (min-width: 1300px) {
        #payrollRetrievalModal .modal-dialog {
            width: 630px !important;
            margin-left: 343px !important;
        }
    }

    #payrollRetrievalModal .modal-content {
        border-width: 0px !important;
    }

    #divLoginContainer {
        height: 400px;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Content/assets/js/actions.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $("#Username").focus();

        setTimeout(function () {
            $("#permissionError").addClass("hide");
        }, 10000);
    });
    function ShowStatusMessage(text) {
        $("#divMessage").html(text);
    }

    // Hide top menu bar

    $('ul.nav.nav-pills').css('display', 'none');
    $('#sidebar').css('display', 'none');

    function Start() {
        var $form = $('form#frmLogIn');
        if ($form.valid()) {
            $.blockUI();
        }
    }
    function SucessLogIn(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        $.unblockUI();
        //  ShowMessage(arg.responseJSON.CssClass, arg.responseJSON.Message);
        if (data.Success == true) {
            $("#addPaySalaryModal").modal("hide");
            $.MessageBox({ buttonDone: "Yes", buttonFail: "No", message: "Retrieve final run will activate the pay cycle and you can run final again. IMPORTANT! you have to delete old JVs manually related to this pay cycle and new JVs will be created. Are you sure you want to continue?" }).done(function () {
                var cycleIds = [];
                $.each($("input[name='chkCycle']:checked"), function () {
                    cycleIds.push($(this).val());
                });
                $.ajax({
                    type: "POST",
                    url: "/Payroll/RetrieveFinalRun",
                    data: { CycleId: JSON.stringify(cycleIds) },
                    cache: false,
                    success: function (data) {
                        $("#payrollRetrievalModal").modal("hide");
                        $("#myModal").modal("hide");
                        ShowMessage(data.CssClass, data.Message);
                        //window.location.href = '/payroll/index';
                        window.location.reload();
                    }
                });
            }).fail(function () {
                $("#payrollRetrievalModal").modal("hide");
                $("#myModal").modal("hide");
            })
        }
        else {
            $("#permissionError").removeClass("hidden");
            $("#permissionError").removeClass("hide");
            $("#permissionError").text(data.Message);
        }

        // getGrid($("#Empid").val());
    }


</script>