﻿@model HRMS.Entities.TaxSetting
@{
    ViewBag.Title = "HRMS - Tax Setting";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Tax</li>

    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="panel panel-default" id="" style="">
                <div class="panel-heading">
                    <h3 class="panel-title">Tax Setting</h3>
                </div>
                @Html.HiddenFor(x => x.TaxForAll)
                @Html.HiddenFor(X => X.TaxForEmployee)
                @Html.HiddenFor(X => X.EnableJordanTax)
                @Html.HiddenFor(X => X.HideTaxPercentage)
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <div class="col-sm-5">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButton("radioAllEmployee", "", false, new { @Name = "taxforall" })
                                        Tax For All Employees
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-2">
                                    <label class="label-form">Tax</label>
                                </div>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.TaxPercentage, new { @class = "form-control inputPercentage", @type = "text", @data_Max = "100", @data_Min = "0" })
                                </div>
                                <div class="col-sm-3">
                                    <label class="label-form">%</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 padding-right-0">
                            <div class="col-sm-12">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButton("radioEachEmployee", "", false, new { @Name = "taxforall" })
                                        Tax For Each Employee
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 padding-left-0">
                            <div class="col-sm-1"></div>
                            @if (Model.EnableJordanTax)
                            {
                                <div class="col-sm-5 padding-left-0">
                                    <div class="col-sm-12">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("radioJordanTax", "", false, new { @Name = "taxforall" })
                                                Progressive Tax
                                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="As per Jordan tax law." class="information-icon fa fa-info-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-4">
                                <div class="col-sm-8 padding-right-item">
                                    <input type="button" id="btnSavePasiSetting" class="btn btn-primary" value="Preview" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary hidden" id="BtnPreview" value="Preview" />
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default" id="divPASIList" style="">
            <div class="panel-heading">
                <h3 class="panel-title">Tax List</h3>
            </div>
            <div class="panel-body pasiDiv">
                <div class="row">
                    <div class="col-md-12 padding-0">
                        <table id="tbl_PASITaxList" class="table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="">
                    <h3 class="panel-title" style=""> <span class="fa fa-adn"></span> Generate Tax Deductions</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12"></div>
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form" style="">Deduction Date: </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBox("txtEffectiveDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "DOB form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-2">
                                    <label class="label-form" style="">Cycle: </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddl_CyclesList", (List<SelectListItem>)ViewBag.CyclesList, "Select Cycle", new { @class = "form-control col-sm-6 selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <input type="submit" value="Generate" id="btn_Generate" class="btn btn-primary" style="margin-left:10px" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@section scripts{

    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/PASITax.js"></script>
}
