﻿@model HRMS.Entities.DailyAttendanceViewModel

@{
    Layout = null;
}

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<script>

    function ValidateForm() {
    }
    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        ShowMessage("info", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
            getGridDailyAttendanceView();
        }
        else {
            ShowMessage("success", data.Message);
        }
    }

</script>

<div class="panel panel-default" id="divDailyAttendance">
    @using (Ajax.BeginForm("AddDailyAttendanceView", "DailyAttendance", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddDailyAttendanceView" }))
    {

        <input type="hidden" id="PayLateTypeID" name="PayLateTypeID" value="1" />
        <div class="panel-body">
            <div class="form-group col-lg-12 col-md-12">
                <div class="col-sm-5">

                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12">
                <div class="col-sm-5">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Attendence Category:</label>
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.AttendanceCategory, (List<SelectListItem>)ViewBag.AttendanceCategory, "Select Attendence Category", new { @class = "form-control selectpickerddl", required = "required" })
                    @Html.ValidationMessageFor(m => m.AttendanceCategory)
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 showAfter">
                <div class="col-sm-5">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Employee:</label>
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.EmployeeID, (SelectList)ViewBag.Employee, "Select Employee", new { @class = "form-control selectpickerddl", required = "required", @data_live_search = "true", @onchange = "GetLateAndEarlyMinutes()" })
                    @Html.ValidationMessageFor(m => m.EmployeeID)
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 showAfter">
                <div class="col-sm-5">
                    <label class="label-form"><span class="required-field">*</span>&nbsp;Date:</label>
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.PayEmployeeAbsentDate, new { @class = "CurrentDate form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.PayEmployeeAbsentDate)
                </div>
            </div>
            <div id="tblAbsentContent" style="display:none">
                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form">Absent Type:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.PayAbsentTypeID, (SelectList)ViewBag.AbsentType, null, new { @class = "form-control longDropdownList selectpickerddl", required = "required" })
                        @Html.ValidationMessageFor(m => m.PayAbsentTypeID)
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form">Paid Type:</label>
                    </div>
                    <div class="col-md-6">
                        <label class="label-form" id="lblAbsentType"></label>
                        @Html.HiddenFor(m => m.LeaveTypeID)

                        @*, (SelectList)ViewBag.LeaveType, null, new { @class = "form-control longDropdownList selectpickerddl" })
                            @Html.ValidationMessageFor(m => m.LeaveTypeID)*@
                    </div>
                </div>
            </div>
            <div id="tblLateContent" style="display:none">

                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form">In Time:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.InTime, new { @class = "form-control timePicker12", @onchange = "GetLateAndEarlyMinutes()", type = "text" })
                        @Html.ValidationMessageFor(m => m.InTime)
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form">Out Time:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.OutTime, new { @class = "form-control timePicker12", @onchange = "GetLateAndEarlyMinutes()", type = "text" })
                        @Html.ValidationMessageFor(m => m.OutTime)
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Late Minutes:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.LateMinutes, new { @class = "form-control", Value = "0", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.LateMinutes)
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Early Minutes:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.EarlyMinutes, new { @class = "form-control", Value = "0", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.EarlyMinutes)
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-sm-5">
                        <label class="label-form">Late Reason:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.LateReason, new { @class = "form-control"})                        
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12 divStatus" style="display:none;">
                    <div class="col-sm-5">
                        <label class="label-form">Attendance Status:</label>
                    </div>
                    <div class="col-md-6">
                        <label class="lblstatus">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="button" id="btnSubmit" onclick="SaveDailyAttedanceForLateAndAbsent();" class="btn btn-primary pull-right" value="Save" />
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>

    }
</div>
<script>
    $(document).ready(function () {
        //$("#PayEmployeeAbsentDate").datepicker('setDate', new Date());
        $('#LateMinutes').attr('data-val', 'false');
        $('#EarlyMinutes').attr('data-val', 'false');
        $("#AttendanceCategory").change(function () {
            var AttendanceCategory = $("#AttendanceCategory").val();
            if (parseInt(AttendanceCategory) == 1) {
                $("#tblAbsentContent").show();
                $("#tblLateContent").hide();
                $(".showAfter").show();
            }
            if (parseInt(AttendanceCategory) == 2) {
                $("#tblLateContent").show();
                $("#tblAbsentContent").hide();
                $(".showAfter").show();
            }
            if (parseInt(AttendanceCategory) == 0) {
                $("#tblLateContent").hide();
                $("#tblAbsentContent").hide();
                $(".showAfter").hide();
            }
        });

        $('form#frmAddDailyAttendanceView').submit(function () {

        });
        bindSelectpicker('.selectpickerddl');

        $(".showAfter").hide();
        CheckAbsentTypeIs();
    });

    $("#PayAbsentTypeID").change(function () {
        CheckAbsentTypeIs();
    });

    function CheckAbsentTypeIs() {
        $.ajax({
            dataType: 'json',
            type: 'Get',
            data: { AbsentTypeId: $("#PayAbsentTypeID").val(), },
            url: '/DailyAttendance/CheckAbsentType',
            success: function (data) {
                $("#lblAbsentType").text(data.LeaveTypeName);
                $("#LeaveTypeID").val(data.LeaveTypeId);
            },
            error: function (data) { $.unblockUI(); }
        });
    }

    function SaveDailyAttedanceForLateAndAbsent() {
        var checkValidation = true;
        var AttendanceCategory = $("#AttendanceCategory").val();
        $('#LateMinutes').removeAttr('disabled');
        $('#EarlyMinutes').removeAttr('disabled');
        if (AttendanceCategory == 1 || AttendanceCategory == 6 || AttendanceCategory == 7 || AttendanceCategory == 8) {

        } else {
            if (!parseInt($('#PayLateTypeID').val()) > 0) {
                ShowMessage("error", "Please select late type");
                checkValidation = false;
            }
            else {
                if ($('#LateMinutes').val() == "") {
                    ShowMessage("error", "Please select late minutes");
                    checkValidation = false;
                } else {
                    if ($('#EarlyMinutes').val() == "") {
                        ShowMessage("error", "Please select early minutes");
                        checkValidation = false;
                    }
                }
            }
        }
        if (checkValidation) {
            if (AttendanceCategory == 1) {
                CheckEmployeeInLate()
            } else {
                CheckEmployeeInAbsent()
            }
        }
    }

    function CheckEmployeeInLate() {
        var selectedEmpId = $("#EmployeeID").val();
        var fromDate = $("#PayEmployeeAbsentDate").val();
        $.ajax({
            url: "/DailyAttendance/CheckEmployeeInLate",
            data: { EmpId: selectedEmpId, FromDate: fromDate, ToDate: fromDate },
            dataType: "json",
            type: "GET",
            success: function (data) {                
                if (data.isPresent) {
                    var message = "Employee is already absent on selected date, Do you want to remove and add new attendance?.";
                    ShowConfirmationForDailyAttedance(message);
                } else {
                    $("form#frmAddDailyAttendanceView").submit();
                }
            },
            error: function () {

            }
        })
    }

    function CheckEmployeeInAbsent() {
        var selectedEmpId = $("#EmployeeID").val();
        var fromDate = $("#PayEmployeeAbsentDate").val();
        $.ajax({
            url: "/DailyAttendance/CheckEmployeeInAbsent",
            data: { EmpID: selectedEmpId, FromDate: fromDate, ToDate: fromDate },
            dataType: "json",
            type: "GET",
            success: function (data) {               
                if (data.isPresent) {
                    var message = "Employee is already late in or early out on selected date, Do you want remove and add new attendance?.";
                    ShowConfirmationForDailyAttedance(message);
                }
                else {
                    $("form#frmAddDailyAttendanceView").submit();
                }
            },
            error: function () {

            }

        })
    }

    function ShowConfirmationForDailyAttedance(message) {
        $.MessageBox({
            buttonDone: "OK",
            buttonFail: "Cancel",
            message: message,
        }).done(function (data) {
            $("#LateMinutes").removeAttr("disabled");
            $("#LateMinutes").removeAttr("disabled");
            $("form#frmAddDailyAttendanceView").submit();
        });
    }

</script>

