﻿@using HRMS.Web.CommonHelper
@{
    ViewBag.Title = "HRMS - Daily Attendance";
    var todayDate = DateTime.Now;
    int dayOfWeek = (int)todayDate.DayOfWeek;
    DateTime fdayOfWeek = todayDate.AddDays(-dayOfWeek);
    DateTime edayOfWeek = fdayOfWeek.AddDays(6);
    DateTime firstDayOfMonth = ((new DateTime(todayDate.Year, todayDate.Month, 1)));
    DateTime lastDayOfMonth = (new DateTime(todayDate.Year, todayDate.Month, DateTime.DaysInMonth(todayDate.Year, todayDate.Month)));

    bool isAutoPosting = ((HRMS.Entities.AttPostingSetting)(ViewBag.GetAttPostingSetting)).IsAutoPostingDailyAttendance;

    List<HRMS.Entities.General.OtherPermissions> otherPermissions = ViewBag.PermissionList;
    bool ManualPostAttendance = otherPermissions.Where(x => x.OtherPermissionId == 8).Count() > 0 ? true : false;
    bool GetRecordAttendance = otherPermissions.Where(x => x.OtherPermissionId == 9).Count() > 0 ? true : false;
    bool TodayAttendance = otherPermissions.Where(x => x.OtherPermissionId == 10).Count() > 0 ? true : false;
    bool WeeklyAttendance = otherPermissions.Where(x => x.OtherPermissionId == 11).Count() > 0 ? true : false;
    bool MothlyAttendance = otherPermissions.Where(x => x.OtherPermissionId == 12).Count() > 0 ? true : false;
    bool FilterRecordByStatus = otherPermissions.Where(x => x.OtherPermissionId == 13).Count() > 0 ? true : false;
    bool ExportAttendanceData = otherPermissions.Where(x => x.OtherPermissionId == 14).Count() > 0 ? true : false;
    bool AddDailyAttendance = otherPermissions.Where(x => x.OtherPermissionId == 15).Count() > 0 ? true : false;
    bool ShowOnlyLoginUserAttendance = otherPermissions.Where(x => x.OtherPermissionId == 20).Count() > 0 ? false : true;
    bool IsPersonalOnly = (bool)ViewBag.IsPersonalOnly;
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Daily Attendance</li>
    </ul>
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-columns"></span> Daily Attendance</h3>
            @if (AddDailyAttendance)
            {
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" id="btn_addDailyAttendanceView" title="Add Daily Attendance" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                </ul>
            }
        </div>
        <div class="panel-body">
            <div id="spinner">
            </div>

            <div id="DivTEst" class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row" style="">
                                <div class="col-md-12">
                                    <fieldset class="different-section">
                                        <div class="col-sm-12">
                                            <h5><label style="">Filter By:</label></h5>
                                        </div>
                                        <div class="col-sm-12 margin_bottom padding-0">
                                            <div class="col-sm-2 equalCol-5">
                                                <label>From Date:</label>
                                                <input data-lastDayOfWeek="@(edayOfWeek.ToString(SettingsHelper.HRMSDateFormat))" data-firstDayOfWeek="@(fdayOfWeek.ToString(SettingsHelper.HRMSDateFormat))" data-lastDay="@(lastDayOfMonth.ToString(SettingsHelper.HRMSDateFormat))" data-firstDay="@(firstDayOfMonth.ToString(SettingsHelper.HRMSDateFormat))" data-today="@((DateTime.Now).ToString(SettingsHelper.HRMSDateFormat))" type="text" class="form-control datepickerFrom" value="@DateTime.Now.ToString(SettingsHelper.HRMSDateFormat)" id="txtFromDate" name="txtFromDate" style="" />
                                            </div>
                                            <div class="col-sm-2 equalCol-5">
                                                <label>To Date:</label>
                                                <input type="text" class="form-control datepickerTo" value="@DateTime.Now.ToString(SettingsHelper.HRMSDateFormat)" id="txtToDate" name="txtToDate" style=" " />
                                            </div>
                                            @if (IsPersonalOnly)
                                            {
                                                <div class="col-sm-2 equalCol-5">
                                                    <label>Organization:</label>
                                                    @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true", onchange = "CompanyIDChange(this);" })
                                                </div>
                                                <div class="col-sm-2 equalCol-5">
                                                    <label>Department:</label>
                                                    @Html.DropDownList("ddl_DeptList", (SelectList)ViewBag.DeptList, "Select Department", new { style = "", @class = "form-control selectpicker" })
                                                </div>
                                                @*<div class="col-sm-2 equalCol-5">
                                                        <label>Section:</label>
                                                        @Html.DropDownList("ddl_SectionList", (SelectList)ViewBag.SectionList, "Select Section", new { style = "", @class = "form-control selectpicker" })
                                                    </div>*@
                                                <div class="col-sm-2 equalCol-5">
                                                    <label>Employee:</label>
                                                    @Html.DropDownList("ddl_EmpList", (SelectList)ViewBag.EmployeeList, "Select Employee", new { sstyle = "", @class = "form-control selectpicker", @data_live_search = "true" })
                                                </div>
                                            }
                                        </div>

                                        <div class="col-sm-12 margin_bottom padding-0">
                                            <br />
                                            <div class="col-sm-12">
                                                @if (GetRecordAttendance)
                                                {
                                                    <input type="button" id="BtnGetReport" value="Get Record" class="btn btn-primary col-sm-2" style="margin-right: 10px; width:140px;" />
                                                }
                                                @if (TodayAttendance)
                                                {
                                                    <input id="btnDaily" type="button" value="Today Attendance" class="btn btn-primary col-sm-2" style="margin-right: 10px; width:140px; " />
                                                }
                                                @if (WeeklyAttendance)
                                                {
                                                    <input id="btnWeekly" type="button" value="Weekly Attendance" class="btn btn-primary col-sm-2" style="margin-right: 10px; width:150px;" />
                                                }
                                                @*@if (MothlyAttendance)
                                                    {
                                                        <input id="btnMonthly" type="button" value="Monthly Attendance" class="btn btn-primary col-sm-2" style="width:150px;" />
                                                    }*@


                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                @Html.DropDownList("ddl_PayCycle", (SelectList)ViewBag.PayCycle, new { required = "required", @class = "hidden" })
                                <input type="button" style="display:none" id="BtnGetFilteredReport" value="Get Report" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px">
                            @*<h3>Inline Form Sample</h3>*@
                            <div class="form-group"></div>
                            <div class="row text-center margin_bottom" id="divAttendance">
                                <div class="col-md-12">
                                    <div class="margin_bottom" style="height: 100px; width: 80px; float: left; border: solid 1px #808080; font-size: 11px;margin-right:5px; " id="DivStatus">
                                        <div style="height: 20px; width: 78px; background-color: #337AB7">
                                            <label id="LblCalendarMonth" style="color:white;margin-left:0px">Total Present</label>
                                        </div>
                                        <span></span>
                                        <h1 id="LblCalendarDate" style="color: black; margin-left: 0px"> </h1>
                                    </div>
                                    @if (FilterRecordByStatus)
                                    {
                                        @*<div class="margin_bottom" style="height: 100px; width: 75px; float: left; margin-right: 5px; font-size: 11px;">
                                                <div style="height: 20px; width: 75px; background-color: #1B0E60; cursor: pointer; padding: 1px 3px 1px 3px;" onclick="getGridDailyAttendanceViewByStatus(0);"><span style="color: white;  cursor: pointer" id="lblstatusspan0">Didn't Arrive</span> </div>
                                                <h1><label id="lblstatus0" style="font-size: 25px;"></label></h1>
                                            </div>*@

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #00FF01; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(1);"><span id="lblstatusspan1" style="color: white; cursor: pointer; ">On Time</span> </div>
                                            <h1><label id="lblstatus1" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #FE0000; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(2);"><span style="color: white;  cursor: pointer" id="lblstatusspan2">Absent</span> </div>
                                            <h1><label id="lblstatus2" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #5bc0de; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(3);"><span style="color: white;  cursor: pointer;" id="lblstatusspan3">Late In</span> </div>
                                            <h1><label id="lblstatus3" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #f0ad4e; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(4);"><span style="color: white; cursor: pointer;" id="lblstatusspan4">Early Out</span> </div>
                                            <h1><label id="lblstatus4" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #d9534f; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(5);"><span style="color: white; cursor: pointer" id="lblstatusspan5">Holiday</span> </div>
                                            <h1><label id="lblstatus5" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #0E4BB4; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(6);"><span style="color: white;  cursor: pointer;" id="lblstatusspan6">Vacation</span> </div>
                                            <h1><label id="lblstatus6" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #428E39; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(7);"><span style="color: white;  cursor: pointer" id="lblstatusspan7">Off Day</span> </div>
                                            <h1><label id="lblstatus7" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 75px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 75px; background-color: #520D4E; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(8);"><span style="color: white; cursor: pointer" id="lblstatusspan8">Late&Early</span> </div>
                                            <h1><label id="lblstatus8" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 60px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 60px; background-color: #F137A0; cursor: pointer; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(10);"><span style="color: white; cursor: pointer;" id="lblstatusspan10">Extra Day </span> </div>
                                            <h1><label id="lblstatus10" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 80px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 80px; background-color: #E63D01; padding: 2px;" onclick="getGridDailyAttendanceViewByStatus(11);"><span style="color: white;  cursor: pointer;" id="lblstatusspan11">Didn't Sign In</span> </div>
                                            <h1><label id="lblstatus11" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 90px; float: left; margin-right: 5px; font-size: 10px">
                                            <div onclick="getGridDailyAttendanceViewByStatus(9);" style="height: 20px; width: 90px; background-color: #2ca2b5; cursor: pointer; padding: 2px;"><span style="color: white; cursor: pointer; " id="lblstatusspan9">Didn't Sign Out</span> </div>
                                            <h1><label id="lblstatus9" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 113px; float: left; margin-right: 5px; font-size: 10px">
                                            <div onclick="getGridDailyAttendanceViewByStatus(12);" style="height: 20px; width: 113px; background-color: #ad4a93; cursor: pointer; padding: 2px;"><span style="color: white; cursor: pointer; " id="lblstatusspan12">Late & Didn't Sign Out</span> </div>
                                            <h1><label id="lblstatus12" style="font-size: 25px;margin-left: 15px;"></label></h1>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="margin_bottom" style="height: 100px; width: 75px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 75px; background-color: #1B0E60; padding: 1px 3px 1px 3px;"><span style="color: white;" id="lblstatusspan0">Didn't Arrive</span> </div>
                                            <h1><label id="lblstatus0" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #00FF01; padding: 2px;"><span id="lblstatusspan1" style="color: white;">On Time</span> </div>
                                            <h1><label id="lblstatus1" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #FE0000; padding: 2px;"><span style="color: white;" id="lblstatusspan2">Absent</span> </div>
                                            <h1><label id="lblstatus2" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #5bc0de; padding: 2px;"><span style="color: white;" id="lblstatusspan3">Late In</span> </div>
                                            <h1><label id="lblstatus3" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #f0ad4e; padding: 2px;"><span style="color: white;" id="lblstatusspan4">Early Out</span> </div>
                                            <h1><label id="lblstatus4" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #d9534f; padding: 2px;"><span style="color: white;" id="lblstatusspan5">Holiday</span> </div>
                                            <h1><label id="lblstatus5" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #0E4BB4; padding: 2px;"><span style="color: white;  cursor: pointer;" id="lblstatusspan6">Vacation</span> </div>
                                            <h1><label id="lblstatus6" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 70px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 70px; background-color: #428E39; padding: 2px;"><span style="color: white;" id="lblstatusspan7">Off Day</span> </div>
                                            <h1><label id="lblstatus7" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 75px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 75px; background-color: #520D4E; padding: 2px;"><span style="color: white;" id="lblstatusspan8">Late&Early</span> </div>
                                            <h1><label id="lblstatus8" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 60px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 60px; background-color: #F137A0; padding: 2px;"><span style="color: white;" id="lblstatusspan10">Extra Day </span> </div>
                                            <h1><label id="lblstatus10" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 80px; float: left; margin-right: 5px; font-size: 11px;">
                                            <div style="height: 20px; width: 80px; background-color: #E63D01; padding: 2px;"><span style="color: white;" id="lblstatusspan11">Didn't Sign In</span> </div>
                                            <h1><label id="lblstatus11" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 90px; float: left; margin-right: 5px; font-size: 10px">
                                            <div style="height: 20px; width: 90px; background-color: #2ca2b5; padding: 2px;"><span style="color: white;" id="lblstatusspan9">Didn't Sign Out</span> </div>
                                            <h1><label id="lblstatus9" style="font-size: 25px;"></label></h1>
                                        </div>

                                        <div class="margin_bottom" style="height: 100px; width: 113px; float: left; margin-right: 5px; font-size: 10px">
                                            <div style="height: 20px; width: 113px; background-color: #ad4a93; padding: 2px;"><span style="color: white;" id="lblstatusspan12">Late & Didn't Sign Out</span> </div>
                                            <h1><label id="lblstatus12" style="font-size: 25px;margin-left: 15px;"></label></h1>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="row" id="divEmpAtt">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Employee Attendance List</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                @{
                                                    if (isAutoPosting)
                                                    {
                                                        <div class="alert alert-info custom-alert" role="alert">
                                                            Employee attendance will post automatically everyday.
                                                        </div>
                                                    }
                                                }
                                                <div class="col-md-12" style="margin-bottom:10px">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4 padding-0">
                                                        <label id="LblRecordsHeader" style="font-weight:bold;font-size:14px"> </label>
                                                    </div>
                                                    @if (ExportAttendanceData)
                                                    {
                                                        <div class="col-md-4 pull-right padding-0">
                                                            <div class="col-md-7 pull-right padding-0">
                                                                <div class="col-md-2 pull-right">
                                                                    <span onclick="TableToExport('Pdf')" title="Export to Pdf" class="fa fa-file-pdf-o fa-2x text-danger cursorPointer icon-Export"></span>
                                                                </div>
                                                                <div class="col-md-2 pull-right">
                                                                    <span onclick="TableToExport('Excel')" title="Export to Excel" class="fa fa-file-excel-o fa-2x text-success cursorPointer icon-Export"></span>
                                                                </div>
                                                                <div class="col-md-2 pull-right" style="font:bold; text-align:center; font:normal; font-family:Arial">
                                                                    <span onclick="TableToExport('Word')" class="fa fa-file-word-o fa-2x text-Primary-label cursorPointer icon-Export"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table id="tbl_DailyAttendanceViewList" class="display table table-bordered table-striped" width="100%"></table>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 padding-0">
                                                    <div class="col-sm-1 padding-0">
                                                        <span style="background-color:#D6DFFB; padding:9px; float:left; margin-top:6px; width:17%;"></span>
                                                    </div>
                                                    <div class="col-sm-11 padding-0">
                                                        <label class="label-form">These records are already posted.</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-0">
                                                <div class="col-sm-6 padding-0">
                                                    <div class="col-sm-1 padding-0">
                                                        <span style="background-color:#F7CDCD; padding:9px; float:left; width:17%; margin-top:6px;"></span>
                                                    </div>
                                                    <div class="col-sm-11 padding-0">
                                                        <label class="label-form">Joinng date of employees are after the above attendance.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-sm-12 center-text-align">
                                    @if (ManualPostAttendance)
                                    {
                                        <div class="col-sm-2">
                                            <select class="form-control selectpicker" id="DDLFilterStatus">
                                                <option value="" selected="selected">Please Select Status</option>
                                                <option value="2">Absent</option>
                                                <option value="3">Late In</option>
                                                <option value="4">Early Out</option>
                                                <option value="10">Extra Day</option>
                                                <option value="11">Didn't Sign In</option>
                                                <option value="9">Didn't Sign Out</option>
                                                <option value="12">Late & Didn't Sign Out</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <input id="btnPostRecords" type="button" value="Post Records" class="btn btn-primary" />
                                        </div>
                                    }
                                    @if (ManualPostAttendance)
                                    {
                                        if (IsPersonalOnly)
                                        {
                                            <div class="col-sm-9" style="margin-top: 7px;">
                                                <label id="LblRecordsNotPosted0" style="margin-right: 60px;margin-left:10px"></label>
                                                <label id="LblRecordsNotPosted1" style="margin-right: 50px;"></label>
                                                <label id="LblRecordsNotPosted2"></label>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (IsPersonalOnly)
                                        {
                                            <div class="col-sm-12">
                                                <label id="LblRecordsNotPosted0" style="margin-right: 60px;margin-left:10px"></label>
                                                <label id="LblRecordsNotPosted1" style="margin-right: 50px;"></label>
                                                <label id="LblRecordsNotPosted2"></label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/DailyAttendanceView.js"></script>
}


<script type="text/javascript">

</script>
