﻿@model HRMS.Entities.DepartmentModel
@using HRMS.Entities;
@{
    Layout = null;
    string L = "";
    string R = "";
    if (CultureHelper.IsRightToLeft())
    {
        L = "lftrds";
        R = "ritrds";
    }
}
<style>
    body {
        min-height: 650px;
    }
</style>
<script>
    $(function () {

    })
    function Start() {
    }
    function Sucess(arg) {
        $("#myModal").modal("hide");
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        getGrid();
    }
</script>
<div class="panel panel-default">
    @*<div id="addeditform">*@
    @using (Ajax.BeginForm("Save", "Department", new AjaxOptions { OnComplete = "Sucess" }, new { @id = "DepartmentForm" }))
    {
        @Html.HiddenFor(m => m.DepartmentId)
        @Html.Hidden("hdnDepartmentEmployeeIds", new { @id = "hdnDepartmentEmployeeIds" })
        @Html.Hidden("DepartmentLeaderID", 0)

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">DEPARTMENT DETAILS</a>
                    </h4>
                </div>
                <div id="collapseOne" aria-expanded="true" class="collapse in">

                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-12">
                            <div class="col-sm-12 text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Organization:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CompanyId, (SelectList)ViewBag.Company, "Select Organization", new { @class = "form-control selectpickerddl" })
                                    @Html.ValidationMessageFor(m => m.CompanyId)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-0 ">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Description:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Department Name (En):</label>
                                </div>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DepartmentName_1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DepartmentName_1)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Start Date:</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon add-on cal @R"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.StartDate)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Department Name (Ar):</label>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(m => m.DepartmentName_2, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Shift:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.ShiftID, (SelectList)ViewBag.Shift, "Select Shift", new { @class = "form-control selectpickerddl" })
                                    @Html.ValidationMessageFor(m => m.ShiftID)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Department Name (Fr):</label>
                                </div>

                                <div class="col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(m => m.DepartmentName_3, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Short Code:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ShortCode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @{ Html.EnableClientValidation(false); }
                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Assistant 1:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Assistant1, (SelectList)ViewBag.Employee, "Select Assistant", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Head of Department:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.DepartmentHead, (SelectList)ViewBag.Employee, "Select Head of Department", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 margin_bottom">
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Assistant 3:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Assistant3, (SelectList)ViewBag.Employee, "Select Assistant3", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Assistant 2:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.Assistant2, (SelectList)ViewBag.Employee, "Select Assistant2", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @{ Html.EnableClientValidation(true); }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> DEPARTMENT EMPLOYEES</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="divDepartmentEmployees"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>

    }
</div>
<script>
    $(document).ready(function () {
        var startdate = $("#StartDate").val();
        if ($("#CompanyId").val() != null && $("#CompanyId").val() > 0) {
            GetDepartmentEmployee();
        }
        bindSelectpicker('.selectpickerddl');
        var tempEmpId = [];
        $("#DepartmentForm").submit(function () {
            $.each($("#Div_Department_Employee > a"), function (ind, item) {
                tempEmpId.push($(item).attr("data-EmployeeId"));
            })
            $("#hdnDepartmentEmployeeIds").val(tempEmpId.join(","));
            return true;
        });
        $("#CompanyId").change(function () {
            var locid = $("#DepartmentId").val();
            var cmdid = $(this).val();
            if (locid != null && cmdid != null) {
                $("#divDepartmentEmployees").load("/DepartmentEmployee/Index?Id=" + locid + "&companyId=" + cmdid);
            }
        });
        $(document).on('change', '#CompanyId', function () {
            var selectList1 = "<option value=\"\">Select Assistant</option>";
            var selectList2 = "<option value=\"\">Select Assistant2</option>";
            var selectList3 = "<option value=\"\">Select Assistant3</option>";
            var selectList4 = "<option value=\"\">Select Head of Department </option>";
            var selectList5 = "<option value=\"\">Select Shift </option>";
            var locid = $("#DepartmentId").val();
            var cmdid = $(this).val();
            $.ajax({
                type: 'get',
                url: '/Department/LoadEmployeeAndShiftForDepartmentByCompanyId',
                data: { companyId: cmdid },
                success: function (data) {
                    $.each(data.EmployeeList, function (key, value) {
                        selectList1 += '<option value=' + value.value + '>' + value.Text + ' </option>';
                        selectList2 += '<option value=' + value.value + '>' + value.Text + ' </option>';
                        selectList3 += '<option value=' + value.value + '>' + value.Text + ' </option>';
                        selectList4 += '<option value=' + value.value + '>' + value.Text + ' </option>';
                    });
                    $.each(data.Shifts, function (key, value) {
                        selectList5 += '<option value=' + value.value + '>' + value.Text + ' </option>';
                    });
                    $("#Assistant1").html();
                    $("#Assistant1").html(selectList1);
                    $("#Assistant2").html();
                    $("#Assistant2").html(selectList2);
                    $("#Assistant3").html();
                    $("#Assistant3").html(selectList3);
                    $("#DepartmentHead").html();
                    $("#DepartmentHead").html(selectList4);
                    $("#ShiftID").html();
                    $("#ShiftID").html(selectList5);
                    RefreshSelect("#Assistant1");
                    RefreshSelect("#Assistant2");
                    RefreshSelect("#Assistant3");
                    RefreshSelect("#DepartmentHead");
                    RefreshSelect("#ShiftID");
                    $("#divDepartmentEmployees").load("/DepartmentEmployee/Index?Id=" + locid + "&companyId=" + cmdid);

                }
            });
        });
    });

    function GetDepartmentEmployee() {
        var locid = $("#DepartmentId").val();
        var cmdid = $("#CompanyId").val();
        if (locid != null && cmdid != null) {
            $("#divDepartmentEmployees").load("/DepartmentEmployee/Index?Id=" + locid + "&companyId=" + cmdid);
        }
    }
</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
