﻿@model HRMS.Entities.MedicalMainModel
@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        var id = $("#EmployeeID").val();
        $("#hdnEmployee_ID").val(id);
    });

    function ValidateForm() {

    }

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        // TODO: make me pretty
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            var id = $("#hdnEmployee_ID").val();
            getGridMedicalAlert(id);
        }
        else {
            ShowMessage("error", data.Message)
        }
    }

</script>
<div class="panel panel-default">
    @using (Ajax.BeginForm("AddMedicalAlert", "EMedical", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddMedicalAlert" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(x => x.EmployeeID)
            @Html.HiddenFor(x => x.EmployeeMedicalAlertID)
            <div class="col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">                         
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Alert(English): </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.MedicalAlert, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.MedicalAlert)
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label class="label-form">Alert(Arabic): </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.MedicalAlertAr, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.MedicalAlertAr)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer form-group">
            @if (Model.EmployeeMedicalAlertID > 0)
            {
                <input type="submit" value="Update" class="btn btn-primary pull-right" />
            }
            else
            {
                <input type="submit" value="Save" class="btn btn-primary pull-right" />
            }
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
    <input type="hidden" id="hdnEmployee_ID" />
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>