﻿@model HRMS.Entities.MedicalHistoryModel

@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        var id = $("#EmployeeID").val();
        $("#hdnEmployee_ID").val(id);
        //$('#EmployeeHealthHistoryDate').datepicker({
        //    format: 'mm/dd/yyyy'
        //});
        //if ($("#EmployeeHealthHistoryDate").val() == "") {
        //    $("#EmployeeHealthHistoryDate").datepicker('setDate', new Date());
        //}
    });
    function ValidateForm() {
    }
    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });
    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        // TODO: make me pretty
        ShowMessage("error", error)
    }
    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            var id = $("#hdnEmployee_ID").val();
            getGridMedicalHistory(id);
        }
        else {
            ShowMessage("error", data.Message)
        }
    }
</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("AddMedicalHistory", "EMedical", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddInsdependence" }))
    {
        @Html.HiddenFor(x => x.EmployeeID)
        @Html.HiddenFor(x => x.EmployeeHealthHistoryID)
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 padding-0 margin_bottom">
                    <div class="col-sm-3">
                         
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padding-0 margin_bottom">
                    <div class="col-sm-3">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;History Date: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.EmployeeHealthHistoryDate, new { @class = "form-control datepicker", required = "required" })
                        @Html.ValidationMessageFor(m => m.EmployeeHealthHistoryDate)
                    </div>
                </div>
                <div class="col-sm-12 padding-0 margin_bottom">
                    <div class="col-sm-3">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Description: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control ", required = "required" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
                <div class="col-sm-12 padding-0 margin_bottom">
                    <div class="col-sm-3">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Action/Result: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Action, new { @class = "form-control ", required = "required" })
                        @Html.ValidationMessageFor(m => m.Action)
                    </div>
                </div>
                <div class="col-sm-12 padding-0 margin_bottom">
                    <div class="col-sm-3">
                        <label class="label-form">Note: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", rows = 6 })
                        @Html.ValidationMessageFor(m => m.Note)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer form-group">
            @if (Model.EmployeeHealthHistoryID > 0)
            {
                <input type="submit" value="Update" class="btn btn-primary pull-right" onclick="ValidateForm();" />
            }
            else
            {
                <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="ValidateForm();" />
            }
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>
<input type="hidden" id="hdnEmployee_ID" />

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>