﻿@model HRMS.Entities.MedicalMainModel


@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">E-Medical File</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - E-Medical File";
}
@*site employee list using anjular js*@
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
@*End here*@
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    @if (Model.EmployeeID > 0)
                    {
                        <h3 class="panel-title"><span class="fa fa-user"></span>&nbsp;&nbsp; <b>@ViewBag.EmployeeName </b> <span style="margin-left:60px">  <b> ID: @ViewBag.AlternativeId</b> </span> <span style="margin-left:60px">  <b>Position: @ViewBag.Positon </b></span><span style="margin-left:60px">  <b>Department: @ViewBag.Department</b> </span> </h3>
                    }
                    else
                    {
                        <h3 class="panel-title"><span class="fa fa-user"></span>&nbsp;&nbsp; <b> </b> <span style="margin-left:60px">  <b> ID:</b> </span> <span style="margin-left:60px">  <b>Position:</b></span><span style="margin-left:60px">  <b>Department:</b> </span> </h3>
                    }
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <div class="panel panel-default tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab-first" role="tab" data-toggle="tab" aria-expanded="true">Main Information</a></li>
                                <li class=""><a href="#tab-second" role="tab" data-toggle="tab" aria-expanded="false">History / Vaccination</a></li>
                            </ul>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab-first">
                                    <div class="panel-group accordion">
                                        @*<table style="width:100%;">*@
                                        <div class="panel panel-default">
                                            @using (Ajax.BeginForm("AddMedicalMain", "EMedicalController", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddMedicalMain" }))
                                            {

                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapsHistory">Medical Information</a>
                                                    </h4>
                                                </div>
                                                @Html.HiddenFor(x => x.EmployeeID)
                                                @Html.HiddenFor(x => x.EmployeeMedicalMainID)
                                                <div id="collapsHistory" class="panel-body panel-body-open">
                                                    <div class="col-sm-12 padding-0">
                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3">
                                                               
                                                            </div>
                                                            <div class="col-sm-9 padding-0">
                                                                <div class="col-sm-6 padding-0 text-right">
                                                                    <span class="required-field">*</span>&nbsp;Indicate required fields
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3">
                                                                <label class="label-form">Height:</label>
                                                            </div>
                                                            <div class="col-sm-9 padding-0">
                                                                <div class="col-sm-6 nopadding">
                                                                    @Html.TextBoxFor(m => m.Height, new { required = "required", @class = "form-control" })
                                                                    @Html.ValidationMessageFor(m => m.Height)
                                                                </div> <span class="hintText"> cm</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3">
                                                                <label class="label-form">Weight:</label>
                                                            </div>
                                                            <div class="col-sm-9 padding-0">
                                                                <div class="col-sm-6 nopadding">
                                                                    @Html.TextBoxFor(m => m.Weight, new { required = "required", @class = "form-control" })
                                                                    @Html.ValidationMessageFor(m => m.Weight)
                                                                </div> <span class="hintText">kg</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3">
                                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Blood Type:</label>
                                                            </div>
                                                            <div class="col-sm-9 padding-0">
                                                                <div class="col-sm-6 padding-0">
                                                                    <div class="input-group input-group-ddl">
                                                                        @Html.DropDownListFor(m => m.Blood, (SelectList)ViewBag.BloodTypeList, "Select Blood Type", new { @class = "form-control selectpicker", required = "required" })
                                                                        <span class="input-group-addon add-on input-group-span">
                                                                            <a href="javascript:Add('Add Blood Type',40,'#Blood')" data-toggle="tooltip" title="Add New  Blood Type!" style="color:#ffffff">+</a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                @Html.ValidationMessageFor(m => m.Blood)
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3">
                                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Right Eye Sight:</label>
                                                            </div>
                                                            <div class="col-sm-9 padding-0">
                                                                <div class="col-sm-6 padding-0">
                                                                    @Html.TextBoxFor(m => m.RightEye, new { @class = "form-control", required = "required" })
                                                                    @Html.ValidationMessageFor(m => m.RightEye)
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3">
                                                                <label class="label-form"><span class="required-field">*</span>&nbsp;Left Eye Sight:</label>
                                                            </div>
                                                            <div class="col-sm-9 padding-0">
                                                                <div class="col-sm-6 padding-0">
                                                                    @Html.TextBoxFor(m => m.LeftEye, new { @class = "form-control", required = "required" })
                                                                    @Html.ValidationMessageFor(m => m.LeftEye)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 margin_bottom">
                                                            <div class="col-sm-3"></div>
                                                            <div class="col-sm-9 padding-0">
                                                                <input type="submit" onclick="ValidateForm();" class="btn btn-primary col-sm-2" value="Save" style="margin-right:5px" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#collapsMedicalAlert">Medical Alerts</a>
                                                </h4>
                                                <ul class="panel-controls">
                                                    <li class="dropdown open">
                                                        <a href="javascript:void(0);" title="Add Medical Alert" id="btn_addMedicalalerts" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="collapsMedicalAlert" class="panel-body">
                                                
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table id="tbl_MedicalMainAlerts" class="display table table-bordered table-striped"></table>
                                                    </div>
                                                </div>
                                            </div>
                                            @*</table>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-second">
                                    <div class="panel-group accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#collapseOne">History</a>
                                                </h4>
                                                <ul class="panel-controls">
                                                    <li class="dropdown open">
                                                        <a href="javascript:void(0);" title="Add History" id="btn_addMedicalHistory" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="collapseOne" class="panel-body panel-body-open">
                                                
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table id="tbl_MedicalHistory" class="display table table-bordered table-striped"></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#collapseTwo">Vaccination</a>
                                                </h4>
                                                <ul class="panel-controls">
                                                    <li class="dropdown open">
                                                        <a href="javascript:void(0);" title="Add Vaccination" id="btn_addMedicalVaccination" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="collapseTwo" class="panel-body">
                                                
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table id="tbl_MedicalVaccination" class="display table table-bordered table-striped"></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl">
                            <div class="panel-heading">
                                <input type="text" placeholder="Employee Name" class="form-control" ng-model="empname" />
                            </div>
                            <div class="panel-body list-group list-group-contacts emplist" ng-cloak>
                                @*angular js start here*@

                                <a href="#" class="list-group-item  emplistcontent" ng-repeat="x in names">
                                    @*<span class="contacts-title contacts-title-emplist">{{' ('+ x.EmployeeAlternativeID +') '+ '  ' + x.FirstName +' '+ x.LastName}}</span>
                                        <div class="list-group-controls-emplist">
                                            <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-sm-12 padding-0">
                                            <div class="col-sm-10 padding-0">
                                                <span class="contacts-title contacts-title-emplist">{{ x.FullName}}</span>
                                            </div>
                                            <div class="col-sm-2 padding-0">
                                                <div class="list-group-controls-emplist">
                                                    <button class="btn btn-primary btn-rounded-emplist clickme" id='{{x.EmployeeId}}' my-directive><span class="fa fa-pencil"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                @*angular js End here*@

                            </div>
                            @*//testing here*@
                            <br /><br /><br />
                            <div style="margin-top: 367px; padding-left: 20px; background: #F5F5F5; border-color: #E5E5E5; padding: 10px; ">
                                <label ng-repeat="(list,enabled) in status" style="margin-left:6px">
                                    <input type="checkbox" ng-model="status[list]" ng-change="checkval()"> {{list}}
                                </label>
                                @*<p>colors: {{colors}}</p>*@<p></p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hdnEmployee_ID" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {

    <script>
        var app = angular.module('myApp', ['ngCookies']);
        app.controller('customersCtrl', function ($scope, $http, $cookieStore, $window) {

            $scope.status = { 'Include Inactive': false, 'Inactive Only': false };

            var coockievalue = $cookieStore.get('Active');

            if (coockievalue == null) {
                // $scope.ActiveValue = '1';
                $cookieStore.put('Active', '1')

            }
            if ($cookieStore.get('Active').indexOf("1") > -1) {

                if ($cookieStore.get('Active').indexOf("0") > -1) {
                    $scope.status['Include Inactive'] = true;
                }
            }
            else if ($cookieStore.get('Active').indexOf("0") > -1) {

                $scope.status['Inactive Only'] = true;
            }

            var req = {
                method: 'GET',
                url: "@Url.Action("GetAllEmployee", "Employee")",
                headers: {
                    'Content-Type': undefined
                },
                params: { Active: $cookieStore.get('Active') }
            }

            $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            //  $http.get("@Url.Action("GetAllEmployee", "Employee")", { active: "1" })
            //   .success(function (response) { $scope.names = response; });






            @*$scope.hello = function () {
            $http.get("@Url.Action("GetAllEmployee", "Employee")")
        .success(function (response) { $scope.names = response.tt; });
        }*@


            //test here start 1

            //test here end

            //tes second
            $scope.checkval = function () {

                var cookVal = $cookieStore.get('Active');
                var param = '1';
                $cookieStore.put('Active', '1');

                if ($scope.status['Inactive Only'] == true) {

                    param = '0';
                    $cookieStore.put('Active', '0');



                }
                if ($scope.status['Include Inactive'] == true) {

                    param = '1,0';
                    $cookieStore.put('Active', '1,0');


                }
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmployee", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: param }
                }
                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            }
            $scope.$watch(function () {
                return $scope.empname;
            }, function (newValue, oldValue) {
                var req = {
                    method: 'GET',
                    url: "@Url.Action("GetAllEmpSearch", "Employee")",
                    headers: {
                        'Content-Type': undefined
                    },
                    params: { Active: $cookieStore.get('Active'), value: newValue }

                }

                $http(req).success(function (response) { $scope.names = response; }).error(function () { });
            });

            //end here
        });
    </script>
    <script>
        $(document).ready(function () {

            $("form#frmAddMedicalMain").submit(function () {
                if (parseInt($("#EmployeeID").val()) > 0 && $("#EmployeeID").val() !== undefined) {
                    return true;
                }
                else {
                    ShowMessage("error", "Please select employee.")
                    return false;                    
                }
            })


            if ($("#EmployeeID").val() != "" && $("#EmployeeID").val() != 0) {
                var id = $("#EmployeeID").val();
                LoadEmployeeDetails(id);
                $("#hdnEmployee_ID").val(id);
                //getGridMedicalMain(id);
                getGridMedicalVaccination(id);
                getGridMedicalHistory(id);
                getGridMedicalAlert(id);
                setDropDown();
            }



        });


        $(document).on("click", ".emplistcontent", function () {

            var id = $(this).find('.clickme').attr('id');
            //   var id = $(this).attr('id');
            $("hdnEmployee_ID").val(id);
            window.location.href = '/EMedical/Index/' + id;


        });
        $(document).on("dblclick", ".emplistcontent", function () {


            var id = $(this).find('.clickme').attr('id');
            //   var id = $(this).attr('id');
            $("hdnEmployee_ID").val(id);
            window.location.href = '/EMedical/Index/' + id;



        });


        function Add(title, id, dropdownId) {
            $("div.tooltip").hide();
            $("#hdnDropDownReloadId").val(dropdownId);
            $("#hdnDropDownId").val(id);
            $("#modal_Loader").load("/Employee/AddType/" + id);
            $("#myModal").modal("show");
            $("#modal_heading").text(title);
        }

        function ValidateForm() {

        }


        function onFailure(xhr, status, error) {

            console.log("xhr", xhr);
            console.log("status", status);

            // TODO: make me pretty
            ShowMessage("error", error)
        }

        function onSuccess(data, status, xhr) {

            console.log("data", data);
            console.log("status", status);
            console.log("xhr", xhr);

            if (data.Success == true) {
                ShowMessage("success", data.Message)
                //  $("#myModal").modal("hide");
                //    getGridAbsentLateInEarlyOut($("#EmployeeID").val());

            }
            else {
                ShowMessage("error", data.Message)
            }
        }

    </script>


    <script src="~/Scripts/Custom/Emedical.js"></script>
}
