﻿@model HRMS.Entities.ProfileModel



@{
    Layout = null;

}
<style>
    td {
        padding: 5px;
    }
</style>

@section Scripts
{

   
    <script>

        //$(document).ready(function () {
        //    alert("checked items");
        //    checkeitems();
        //});


       
       

    </script>
}

<div class="panel panel-default">
    @using (Ajax.BeginForm("Save", "Profile", new AjaxOptions { OnBegin = "Start", OnComplete = "Sucess" }, new { id = "frmProfile" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProfileId)
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.checkids)

            <table id="chkTable">
                <tr><td>
                        <label>Profile Name: </label></td><td>@Html.TextBoxFor(m => m.ProfileName, new { @class = "form-control" })</td><td>@Html.ValidationMessageFor(m => m.ProfileName)</td>
                </tr>
                <tr>
                <td><label>Session Timeout (Minutes):</label></td>
                <td>@Html.TextBoxFor(m => m.SessionTimeout, new { @class = "form-control" })</td><td>@Html.ValidationMessageFor(m => m.SessionTimeout)</td></tr>
                <tr><td><label>Days Access: </label></td></tr>
                <tr><td>All</td><td>@Html.CheckBox("All", new { @id = "8", onchange = "allCheckedDyas()" })</td></tr>
                <tr><td>Monday</td><td>@Html.CheckBox("Monday", new { @id = "1", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>
                <tr><td>Tuesday</td><td>@Html.CheckBox("Tuesday", new { @id = "2", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>
                <tr><td>Wednesday</td><td>@Html.CheckBox("Wednesday", new { @id = "3", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>
                <tr><td>Thursday</td><td>@Html.CheckBox("Thursday", new { @id = "4", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>
                <tr><td>Friday</td><td>@Html.CheckBox("Friday", new { @id = "5", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>
                <tr><td>Saturday</td><td>@Html.CheckBox("Saturday", new { @id = "6", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>
                <tr><td>Sunday</td><td>@Html.CheckBox("Sunday", new { @id = "7", @class = "no_of_days", onchange = "checkedChanged()" })</td></tr>


            </table>


        </div>

        <div class="panel-footer">

            <input type="submit" value="Save" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-danger pull-left" data-dismiss="modal" />
        </div>

    }
</div>

@*<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery-ui.min.js"></script>*@
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
