﻿@model HRMS.Entities.Forms.ExpenseClaimRequestModel
@using HRMS.Entities.Forms
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Expense Claim Request</li>
    </ul>
}
@{
    ViewBag.Title = "Expense Claim Request";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Expense Claim Request (Request ID : @ViewBag.RequestID)
                    </h3>
                </div>
                <div class="pull-right">
                    @if (!ViewBag.IsReadOnlyView)
                    {
                        <ul class="panel-controls">

                            <li class="dropdown open">
                                <a class="btnadd" id="btnAddRow" onclick="AddDataRow()" title="Add New Record"><span class="fa fa-plus"></span></a>
                            </li>
                        </ul>

                    }
                     <a href="javascript:void(0);" title="Update Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                     <a href="javascript:void(0);" title="Back To All Requests List" id="btnBackToAllRequests" class="btn btn-info btn-rounded btn-condensed btn-sm btnBackToAllRequest"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>
                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 9, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                    </fieldset>
                </div>
                <br />
                <form id="frmExpenseClaimRequest">
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.FormProcessID)
                    @Html.Hidden("FormId", (object)ViewBag.FormId)
                    @Html.Hidden("CompanyId", (object)ViewBag.CompanyId)
                    @Html.Hidden("NoOfDecimalPlaces", (int)ViewBag.NoOfDecimalPlaces)
                    @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
                    @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })
                    <div id="expenseClaimRequest" class="row">
                        @Html.Partial("_ExpenseClaimDetail", Model)
                    </div>
                    <br />
                    <div class="row">
                        <fieldset class="fieldset-Section" style="margin-top:0px !important">
                            <legend class="legend-border"><label class="label-form" style="font-size:12px !important">Total Expense</label></legend>

                            <div class="form-group col-sm-12 pull-right">
                                <div class="col-md-4 label-form"><label>@Html.DisplayNameFor(m => m.TotalExpenseAmountAED)</label> &nbsp; <span id="totalExpense"> @Model.TotalExpenseAmountAED</span></div>
                            </div>
                        </fieldset>
                    </div>         
                    <br />
                </form>
                <div class="row">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Update Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>Update</button>
                    <button type="button" title="Back To All Requests List" id="btnBackToAllRequests" class="btn btn-rounded btn-info btnBackToAllRequest"><i class="fa fa-arrow-left"></i> All Requests List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/UpdateDetails/ExpenseClaimRequest.js"></script>
}



