﻿@model HRMS.Entities.EmployeeTrainingModel

@{
    Layout = null;
}
@{
    string AmountFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
<script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script>
</script>
<style>
    .dropdown-menu.inner.selectpicker {
        width: 300px;
    }
</style>

<div id="CourseModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="CourseModal_heading"></h4>
            </div>
            <div class="modal-body">
                <div id="CourseModal_Loader"></div>
            </div>
        </div>
    </div>
</div>

<div id="TrainingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="TrainingModal_heading"></h4>
            </div>
            <div class="modal-body">
                <div id="TrainingModal_Loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    @using (Ajax.BeginForm("SaveEmployeeTraining", "ProfessionalTraining", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { @id = "EmployeeTrainingForm" }))
    {
        @Html.HiddenFor(m => m.EmployeeTrainingID)
        @Html.Hidden("SelecteFeild")
        @Html.Hidden("hdnDropDownId");
        @Html.Hidden("hdnDropDownReloadId");
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Training Details</a>
                    </h4>
                </div>
                <div id="collapseOne" aria-expanded="true" class="collapse in">
                    <div class="col-sm-12 panel-body">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-12 text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding: 0px">
                            <div class="form-group col-lg-12 col-sm-12" id="divCourse">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Course Title:</label>
                                </div>

                                <div class="col-sm-8">
                                    <div class="input-group input-group-ddl">
                                        @Html.DropDownListFor(m => m.CourseTitle, (List<SelectListItem>)ViewBag.Course, new { @class = "form-control selectpickerddl", @required = "required" })
                                        <span class="input-group-addon add-on input-group-span">
                                            <a href="javascript:void(0)" style="color:#ffffff" title="Add New Course!" onclick="Add('Add Course Title', 22, '#CourseTitle')">+ </a>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.CourseTitle)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Start Date:</label>
                                </div>

                                <div class="col-sm-8 dropdownHid">
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "TxtBox form-control datepickerFrom ", @required = "required" })
                                    @Html.ValidationMessageFor(x => x.StartDate)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;End Date:</label>
                                </div>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.EndDate, new { @class = "TxtBox form-control datepickerTo", @required = "required" })
                                    @Html.ValidationMessageFor(x => x.EndDate)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Start Time:</label>
                                </div>

                                <div class="col-sm-8">

                                    @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control timePicker12", type = "text", @required = "required" })
                                    @Html.ValidationMessageFor(x => x.StartTime)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;End Time:</label>
                                </div>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control timePicker12", type = "text", @required = "required" })
                                    @Html.ValidationMessageFor(x => x.EndTime)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Cost:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Cost, new { @class = "TxtBox form-control numberType", @type = "number" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Trainer:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Trainee, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label for="Deductable" class="">
                                        Deductable:
                                    </label>
                                </div>
                                <label class="col-sm-6 "> @Html.CheckBoxFor(m => m.Deductable)</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding: 0px">

                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Location:</label>
                                </div>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Location, new { @class = "TxtBox form-control", @required = "required" })
                                    @Html.ValidationMessageFor(x => x.Location)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Allowance:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBox("Allowance", Model.Allowance.ToString(AmountFormat), new { @class = "TxtBox form-control numberType", @type = "number" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Results:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Results, new { @class = "TxtBox form-control", @type = "number" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Note:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Note, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;Country:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CountryId, (List<SelectListItem>)ViewBag.CountryList, new { @class = "form-control selectpickerddl", @required = "required", @data_live_search = "true" })
                                    @Html.ValidationMessageFor(x => x.CountryId)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12" id="divCourse">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form"><span class="required-field">*</span>&nbsp;City:</label>
                                </div>

                                <div class="col-sm-8">
                                    <div class="input-group input-group-ddl">
                                        @Html.DropDownListFor(m => m.CityId, (List<SelectListItem>)ViewBag.CityList, new { @class = "form-control selectpickerddl", @required = "required" })
                                        <span class="input-group-addon add-on input-group-span">
                                            <a href="javascript:void(0)" style="color:#ffffff" title="Add New Course!" onclick="AddCity('Add City', 20, '#CityId')">+</a>
                                        </span>
                                    </div>
                                   @Html.ValidationMessageFor(x => x.CityId)
                                </div>
                            </div>
                           
                            <div class="form-group col-lg-12 col-sm-12" id="divtotal">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">Total:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBox("Total", Model.Total.ToString(AmountFormat), new { @class = "TxtBox form-control numberType", @type = "number", @required = "required" })
                                    @Html.ValidationMessageFor(x => x.Total)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div class="col-sm-4 padding-0">
                                    <label for="isComplete" class="">
                                        Completed:
                                    </label>
                                </div>
                                <label class="col-sm-6">
                                     @Html.CheckBoxFor(m => m.isComplete)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Employee List</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse ">
                    <div class="col-sm-12 margin_bottom"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-2 padding-0">
                            <label class="label-form">Department:</label>
                        </div>
                        <div class="col-sm-6">
                            @Html.DropDownList("Departmentddl", (List<SelectListItem>)ViewBag.Department, new { @class = "form-control selectpickerddl", onchange = "loadEmployeeByDepartment()" })
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label><input type="checkbox" onclick="SelectAllEmployee(this)" />Select All Employee</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h5><span id="nonDepartmentEmployeetotal"></span></h5>
                        <div class="panel panel-default" style="margin-bottom:10px;">
                            <div class="panel-heading">
                                <input type="text" onkeyup="SearchHtml('Div_Department_Employee', this, '#Div_Department_Employee > a', '.employeeName')" id="txtSearch1" class="form-control" placeholder="Search Employee" style="" />
                            </div>

                            <div id="Div_Department_Employee" class="panel-body list-group list-group-contacts emplist" style="min-height:50px; max-height:250px;">
                                @foreach (var item in Model.employeeDetailsModelList)
                                {
                                    <a href="#" class="list-group-item  emplistcontent list-group-item-condensed liemployeenotindepartment padding-0">
                                        <div class="row">
                                            <div class="col-sm-12 padding-0 ">
                                                <div class="padding-left-item padding-right-item pull-left">
                                                    <div class="list-group-controls-emplist" style="padding-top:5px;">
                                                        @if (item.IsPresent)
                                                        {
                                                            <input type="checkbox" checked="checked" class="empchklist" data-type="Present" data-name="@(item.EmployeeName)" value="@item.EmployeeID" id="Employee_@(item.EmployeeID)" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" data-name="@(item.EmployeeName)" class="empchklist" data-type="NotPresent" value="@item.EmployeeID" id="Employee_@(item.EmployeeID)" />
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-sm-11 padding-0">
                                                    <label for="Employee_@(item.EmployeeID)"><span class="contacts-title contacts-title-emplist employeeName">@item.EmployeeName</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary pull-right" onclick="ValidateForm();" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    var SelectedEmployeejson = [];
    $("#CountryId").change(function () {
        var selectedItem = $(this).val();
        var ddlStates = $("#CityId");
        var statesProgress = $("#states-loading-progress");
        statesProgress.show();
        if (parseInt(selectedItem) > 0) {
            $.ajax({
                cache: false,
                type: "GET",
                url: "/ProfessionalTraining/GetCityByCountryId",
                data: { "countryId": selectedItem },
                success: function (data) {
                    ddlStates.html('');
                    ddlStates.append($('<option></option>').val("0").html("Select"));
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                    $('#CityId').selectpicker('refresh');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.MessageBox({
                        buttonDone: "Ok",
                        message: 'Failed to retrieve states.',
                    });
                    statesProgress.hide();
                }
            });
        }
    });

    $(document).on('keyup', '#txtSearch1', function () {
        var searchText = $(this).val().toLowerCase();
        $('.empchklist > tbody td').each(function () {
            var currentLiText = $(this).find('label').text().toLowerCase(),
                showCurrentLi = currentLiText.indexOf(searchText) !== -1;
            $(this).toggle(showCurrentLi);
        });
        //bindSelectpicker('.select');
    });
    $(document).ready(function () {
        $('.timePicker12').timepicker({
            showMeridian: true,
            showInputs: true,
        });
        $('.employeeSelected').click(function () {
            $(this).attr('data-modified', 'yes');
        });
        bindSelectpicker('.selectpickerddl');
        //validator = $('#EmployeeTrainingForm').customValidation();
        $('form#EmployeeTrainingForm').submit(function () {
            createSelectedEmployeeJson();
        });
        //validator = new ApplyCustomValidation("#EmployeeTrainingForm");
        //validator.ValidationResult();
    });
    function createSelectedEmployeeJson() {
        var isModified = '';
        var isSelected = '';
        var ProfessionalTrainingID = '';
        $.each($('#Div_Department_Employee input[type="checkbox"]'), function (ind, item) {
            if ($(this).is(':checked')) {
                ProfessionalTrainingID = $(this).attr('data-professionalTrainingID');
                SelectedEmployeejson.push({
                    EmployeeID: $(this).val()
                });
            }
        });
        //alert(JSON.stringify(SelectedEmployeejson));
        $("#SelecteFeild").val(JSON.stringify(SelectedEmployeejson));
    }
    function Add(title, id, dropdownId) {
        $("div.tooltip").hide();
        $("#hdnDropDownReloadId").val(dropdownId);
        $("#hdnDropDownId").val(id);
        $("#modal_Loader2").load("/Employee/AddType/" + id);
        $("#myModal2").modal("show");
        $("#modal_heading2").text(title);
    }

    function loadEmployeeByDepartment() {

        var departmentId = $("#Departmentddl").val();
        var TrainingId = $("#EmployeeTrainingID").val();
        if (parseInt(departmentId) > -1) {
            $.ajax({
                cache: false,
                type: "GET",
                url: "/ProfessionalTraining/GetEmployeeByDepartment",
                data: { "DepartmentId": departmentId, "TrainingId": TrainingId },
                success: function (data) {
                    var html = '';
                    if (data.length > 0) {
                        $.each(data, function (ind, item) {
                            var checkBoxText = "";
                            if (item.IsPresent)
                                checkBoxText = '<input class="empchklist" type="checkbox" checked  data-name="' + item.EmployeeName + '" value="' + item.EmployeeID + '" id="Employee_' + item.EmployeeID + '" />';
                            else
                                checkBoxText = '<input class="empchklist" type="checkbox"  data-name="' + item.EmployeeName + '" value="' + item.EmployeeID + '" id="Employee_' + item.EmployeeID + '" />';

                            html = html + '<a href="#" class="list-group-item  emplistcontent list-group-item-condensed liemployeenotindepartment padding-0">'
                                            + '<div class="row">'
                                                + '<div class="col-sm-12 padding-0 ">'
                                                    + '<div class="padding-left-item padding-right-item pull-left">'
                                                        + '<div class="list-group-controls-emplist" style="padding-top:5px;">'
                                                        + checkBoxText
                                                        + '</div>'
                                                    + '</div>'
                                                    + '<div class="col-sm-11 padding-0">'
                                                        + '<label for="Employee_' + item.EmployeeID + '"><span class="contacts-title contacts-title-emplist employeeName">' + item.EmployeeName + '</span></label>'
                                                    + '</div>'
                                                + '</div>'
                                            + '</div>'
                                           + '</a>';
                        });
                    } else {
                        html = html + '<a href="#" class="list-group-item  emplistcontent list-group-item-condensed liemployeenotindepartment padding-0">'
                                           + '<div class="row">'
                                               + '<div class="col-sm-12 padding-0 ">'
                                                   + '<div class="padding-left-item padding-right-item pull-left">'
                                                       + '<div class="list-group-controls-emplist" style="padding-top:5px;">'
                                                       + '</div>'
                                                   + '</div>'
                                                   + '<div class="col-sm-11 padding-0">'
                                                       + '<label for="Employee_"><span class="contacts-title contacts-title-emplist employeeName">No employee in selected department.</span></label>'
                                                   + '</div>'
                                               + '</div>'
                                           + '</div>'
                                          + '</a>';
                    }
                    $("#Div_Department_Employee").html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }
    }

    function SelectAllEmployee(e) {
        if ($(e).is(":checked")) {
            $("#Div_Department_Employee input[type='checkbox']").prop("checked", true);
        } else {
            $("#Div_Department_Employee input[type='checkbox']").prop("checked", false);
        }
    }
</script>