﻿@model HRMS.Entities.EmployeeTrainingModel
@{
    Layout = null;
}
@{
    string AmountFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
<script>

    //$(document).on('keyup', '#txtSearch1', function () {

    //    var searchText = $(this).val().toLowerCase();

    //    $('.empchklist > li').each(function () {

    //        var currentLiText = $(this).find('label').text().toLowerCase(),
    //            showCurrentLi = currentLiText.indexOf(searchText) !== -1;

    //        $(this).toggle(showCurrentLi);

    //    });
    //});

</script>


<div class="panel panel-default" id="divBankInformation">
    <div class="panel-body">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOneView">Training Details</a>
                    </h4>
                </div>
                <div id="collapseOneView" aria-expanded="true" class="collapse in">
                    <div class="col-sm-12" style="margin: 20px 0px 20px 0px;">
                        <div class="col-sm-6">
                            <div class="form-group col-lg-12 col-sm-12" id="divCourse">
                                <label class="col-sm-6">Course Title:</label>
                                <div class="col-sm-6">
                                    <div class="input-group ">
                                        @*2019-02-13 , Task#9521 related bugs commented *@
                                       @*@Html.DisplayFor(m => m.CourseTitle, new { @class = "form-control" })*@                                       
                                        @Html.DisplayFor(m => m.HRCourseName_1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Start Date: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.StartDate, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">End Date: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.EndDate, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Start Time: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.StartTime, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">End Time: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.EndTime, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Cost: </label>
                                <div class="col-sm-6">
                                    @*@Html.DisplayFor(m => m.Cost, new { @class = "TxtBox form-control"})*@
                                    @Convert.ToDecimal(@Model.Cost).ToString(AmountFormat)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Trainer:</label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.Trainee, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Start Time:</label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.StartTime, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">
                                    Deductable:
                                </label>
                                <label class="col-sm-6"> @Html.CheckBoxFor(m => m.Deductable, new { @disabled = "disabled" })</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Location: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.Location, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Allowance: </label>
                                <div class="col-sm-6">
                                    @*@Html.DisplayFor(m => m.Allowance, new { @class = "TxtBox form-control" })*@
                                    @Model.Allowance.ToString(AmountFormat)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Results: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.Results, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Note: </label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.Note, new { @class = "TxtBox form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">Country:</label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.CountryName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">City:</label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.CityName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12" id="divtotal">
                                <label class="col-sm-6">Total: </label>
                                <div class="col-sm-6">
                                    @*@Html.DisplayFor(m => m.Total, new { @class = "TxtBox form-control" })*@
                                    @Model.Total.ToString(AmountFormat)
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">End Time:</label>
                                <div class="col-sm-6">
                                    @Html.DisplayFor(m => m.EndTime, new { @class = "TxtBox form-control" })
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-sm-12">
                                <label class="col-sm-6">
                                    Completed:
                                </label>
                                <label class="col-sm-6">
                                     @Html.CheckBoxFor(m => m.isComplete, new { @disabled = "disabled" })
                                </label>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoView">Employee List</a>
                       
                    </h4>
                </div>
                <div id="collapseTwoView" class="panel-collapse collapse">
                  
                        <div class="row">
                            <div class="col-md-12 padding-up-item padding-down-item ">
                                <div class="panel panel-default ">
                                    <div class="panel-body">
                                        <div class="col-md-12 margin_bottom">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                                <input type="text" id="txtSearch1" class="form-control" placeholder="Search Employee" style="" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin_bottom">
                                            <div class="panel panel-default">
                                                <div class="panel-body padding-up-item padding-down-item">
                                                    <div class="panel-maxHeight-200">
                                                        <table class="table table-bordered table-striped empchklist">
                                                            <tbody>
                                                                @foreach (var item in Model.employeeDetailsModelList)
                                                                {
                                                                    if (item.IsPresent)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input class="employeeSelected" data-modified="no" disabled="disabled" data-type="Present" type="checkbox" data-professionalTrainingID="@item.ProfessionalTrainingID" id="@item.EmployeeID" checked="checked" name="EmployeeChkBox" />
                                                                                <label for="@item.EmployeeID" class="list-label"> @item.EmployeeName</label>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />

    </div>
</div>

<script>
    $(document).on('keyup', '#txtSearch1', function () {

        var searchText = $(this).val().toLowerCase();

        $('.empchklist > tbody td').each(function () {

            var currentLiText = $(this).find('label').text().toLowerCase(),
                showCurrentLi = currentLiText.indexOf(searchText) !== -1;

            $(this).toggle(showCurrentLi);

        });
    });
</script>