﻿@model HRMS.Entities.PDRP.DropInsModel
@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    int rowno = 0;
    int prittr = 0;
    int readoly = 0;
    //*** Naresh 2020-03-17 Allow to edit dropins based on origin
    if (Model.DropInEmployeeModel.RequesterID != Model.DropInEmployeeModel.SuperviserID && !ViewBag.AllowCreateDropIns)
    {
        readoly = 1;
    }
    if (Model.DropInEmployeeModel.ReqStatusID == 4)
    {
        readoly = 1;
    }

    //*** F4
    if (ViewBag.ValidatingAnnualAppraisal ==PDRPDropInsXMLResources.GetResource("Validation1")) 
    {
        readoly = 1;

    }
    if (Model.EmpCurrentCompanyID != 0 && Model.EmpCurrentCompanyID != Model.DropInEmployeeModel.CompanyID)
    {
        readoly = 1;
    }
}
<style>
    .wid180 {
        width: 120px !important;
    }
</style>
<div class="col-lg-12 padding-0">

    <table id="tblDropInProficiencyLevel" class="table  table-bordered  marginles">

        <tr style="background-color:#F0F4F9">
            <th class="col-sm-10 center-text-align" colspan="2">
                
                @PDRPDropInsXMLResources.GetResource("ProficiencyLevels30ofoverallscore")
            </th>

            <th class="col-sm-2 center-text-align" colspan="2">
                <span class="required-field">*</span>&nbsp;@PDRPDropInsXMLResources.GetResource("Score")
                
            </th>

        </tr>

        @if (Model.DropInProficiencyLevel != null)
        {
            foreach (var app in ViewBag.ProficiencyGroupName)
            {

                prittr = 0;

                foreach (var ProficiencyLevel in Model.DropInProficiencyLevel.Where(x => x.ProficiencyGroupID == app.ProficiencyGroupID))
                {
                    <tr>

                        @if (prittr == 0)
                        {
                            <th class="col-sm-4" style="background-color:#F8FAFC" rowspan="@Model.DropInProficiencyLevel.Where(x => x.ProficiencyGroupID == app.ProficiencyGroupID).Count()">
                                <label class=@(CultureHelper.IsRightToLeft() ? "rtlaln" : "")>
                                    @app.ProficiencyGroupName
                                </label>
                            </th>
                        }

                        <th class="col-sm-6">
                            <div class="col-sm-12"> <label class="padding-0 marginles @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">@ProficiencyLevel.ProficiencyDetail</label></div>

                            <br />
                            <div class="col-sm-12">
                                @Html.ValidationMessageFor(m => m.DropInProficiencyLevel[rowno].ProficiencyScore)
                            </div>
                        </th>

                        @if (Model.DropInProficiencyLevel[rowno].IsRadioOption == 1 ) //*** F6
                        {

                            <th class="col-sm-1 center-text-align">
                                @Html.HiddenFor(m => m.DropInProficiencyLevel[rowno].ProficiencyID)
                                @Html.HiddenFor(m => m.DropInProficiencyLevel[rowno].IsRadioOption)
                                @Html.HiddenFor(m => m.DropInProficiencyLevel[rowno].CompanyIDs)
                                @Html.RadioButtonFor(i => i.DropInProficiencyLevel[rowno].ProficiencyScore, "0", @readoly == 0 ? new { id = "ProficiencyScoreradioYes"+@rowno, @value = 0 } : (object)new { id = "ProficiencyScoreradioYes" + @rowno, @value = 0, @disabled = "disabled" })
                                @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("Yes"), new { @for = "ProficiencyScoreradioYes" + @rowno })
                              
                            </th>
                            <th class="col-sm-1 center-text-align">

                                @Html.RadioButtonFor(i => i.DropInProficiencyLevel[rowno].ProficiencyScore, "1", @readoly == 0 ? new { id = "ProficiencyScoreradioNo" + @rowno, @value = 1 } : (object)new { id = "ProficiencyScoreradioNo" + @rowno, @value = 1, @disabled = "disabled" })
                                @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("No"), new { @for = "ProficiencyScoreradioNo" + @rowno })
                                
                            </th>
                        }
                        else
                        {
                            <th class="col-sm-2 center-text-align" colspan="2">
                                @Html.HiddenFor(m => m.DropInProficiencyLevel[rowno].ProficiencyID)
                                @Html.DropDownListFor(m => m.DropInProficiencyLevel[rowno].ProficiencyScore
                                                                  , new SelectList(ViewBag.DropInsRatingScaleWeightages, "Value", "Text", Model.DropInProficiencyLevel[rowno].ProficiencyScore)
                                                                  , PDRPDropInsXMLResources.GetResource("SelectScore")
                                                                  , @readoly == 0 ? new
                                                                  {
                                                                      @class = "selectpicker wid180",
                                                                      @data_live_search = "true",
                                                                      @id = "ProficiencyScore",


                                                                  } : (object)new
                                                                  {
                                                                      @class = "selectpicker wid180",
                                                                      @data_live_search = "true",
                                                                      @id = "ProficiencyScore",

                                                                      @disabled = "disabled"

                                                                  })
                            </th>
                        }
                    </tr>

                    prittr++;
                    rowno++;
                }

            }
        }
        <tr style="background-color:#FFF">
            <th class="col-sm-10 " colspan="2">
                <label class="col-sm-12 left padding-0 marginles">@PDRPDropInsXMLResources.GetResource("Total")</label>
            </th>

            <th class="col-sm-2" colspan="2">
                @Html.HiddenFor(m => m.ProficiencyScoreTotal)
                @Html.HiddenFor(m => m.ProficiencyScoreFormula)
                <div id="divProficiencyScoreTotal" class="wid180">
                    @Model.ProficiencyScoreTotal
                </div>
            </th>

        </tr>
        <tr style="background-color:#FFF">
            <th class="col-sm-10 " colspan="2">
                <label class="col-sm-12 left padding-0 marginles">@PDRPDropInsXMLResources.GetResource("OverallScore")</label>
            </th>

            <th class="col-sm-2" colspan="2">
                @Html.HiddenFor(m => m.ProficiencyScoreOverall)
                <div id="divProficiencyScoreOverall" class="wid180">
                    @Model.ProficiencyScoreOverall
                </div>
            </th>

        </tr>




    </table>



</div>
<div class="col-lg-12  padding-0">
    <table class="table table-striped table-fixed-width">
        <tr>
            <td class="col-sm-4  padding-0"><label class="col-sm-12"><span class="required-field">*</span>&nbsp;@PDRPDropInsXMLResources.GetResource("Targets")</label></td>
            <td class="col-sm-8">
                <div class="divGender col-sm-5">
                    @Html.RadioButtonFor(i => i.Targets, "0", @readoly == 0 ? new { id = "radioYes", @value = 0 } : (object)new { id = "radioYes", @value = 0, @disabled = "disabled" })
                    @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("Yes"), new { @for = "radioYes" })

                    @Html.RadioButtonFor(i => i.Targets, "1", @readoly == 0 ? new { id = "radioNo", @value = 1 } : (object)new { id = "radioNo", @value = 1, @disabled = "disabled" })
                    @Html.Label(PDRPCommonXMLResources.GetCommonPDRPResource("No"), new { @for = "radioNo" })


                    @Html.ValidationMessageFor(m => m.Targets)


                </div>
            </td>
            <td class="col-sm-2" style="padding-top:5px"></td>
        </tr>
    </table>


</div>
<div class="col-lg-12 padding-0">
    <label class="col-sm-12  padding-0 marginles">
        <span class="required-field">*</span>&nbsp;@PDRPDropInsXMLResources.GetResource("PerviousTargets")
    </label>
    @*//*** F4*@
    @Html.TextAreaFor(m => m.PreviousTargets, @readoly == 0 ? new { @class = "col-sm-12 padding-0  margin_bottom", @disabled = "disabled" } : (object)new { @class = "col-sm-12 padding-0  margin_bottom", @disabled = "disabled" })
</div>
<div class="col-lg-12 padding-0">
    <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPDropInsXMLResources.GetResource("Outlinerequiredaction")@Html.ValidationMessageFor(m => m.Outline)</label>
    @Html.TextAreaFor(m => m.Outline, @readoly == 0 ? new { @class = "col-sm-12 padding-0 margin_bottom" } : (object)new { @class = "col-sm-12 padding-0 margin_bottom", @disabled = "disabled" })
</div>
<div class="col-lg-12 padding-down-item  padding-0">
    <label class="col-sm-12 padding-0 marginles"><span class="required-field">*</span>&nbsp;@PDRPDropInsXMLResources.GetResource("Feedback")@Html.ValidationMessageFor(m => m.Feedback)</label>
    @Html.TextAreaFor(m => m.Feedback, @readoly == 0 ? new { @class = "col-sm-12 padding-0 margin_bottom" } : (object)new { @class = "col-sm-12 padding-0 margin_bottom", @disabled = "disabled" })
</div>



