﻿@model HRMS.Entities.Employee
@{
//HRMS.Entities.PermissionModel objEmpPermissionModel = new HRMS.Entities.PermissionModel();
//objEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["EmployeePermission"];
//bool IsEmployeePageRequest = (bool)Session["IsEmployeePageRequest"];
//List<HRMS.Entities.General.OtherPermissions> otherPermissions = (List<HRMS.Entities.General.OtherPermissions>)Session["otherPermissions"];
//bool canAddEmployee = otherPermissions.Where(x => x.OtherPermissionId == 23).Count() > 0 ? true : false;
//bool canEditEmployee = otherPermissions.Where(x => x.OtherPermissionId == 24).Count() > 0 ? true : false;
//HRMS.Entities.PermissionModel objViewEmpPermissionModel = new HRMS.Entities.PermissionModel();
//objViewEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["ViewEmployeeProfilePermission"];
}
@*<div class="panel-body">
    <div class="text-center" id="user_image">
        <h3>
            <span class="fa fa-user"></span> Employee Profile
            @{
                if (IsEmployeePageRequest && objEmpPermissionModel.IsMainNavigationPermission && !(objViewEmpPermissionModel.IsViewOnlyPermission))
                {
                    if (canEditEmployee)
                    {
            <a class='btn btn-success btn-rounded btn-condensed btn-sm' onclick='EditChannel(@Model.employeeDetailsModel.EmployeeID)' title='Edit Employee'><i class='fa fa-pencil'></i> </a>
            }
            if (canAddEmployee)
                {
            <a class='btn btn-primary btn-rounded btn-condensed btn-sm' onclick='EditChannel(0)' title='Add Employee'>
                <i class='fa fa-plus fa-1x'></i>
            </a>
            }
                    }
                }
        </h3>
        <img src="@Url.Action("GetUserImage", "ViewEmployeeProfile", new { EmployeeId = Model.employeeDetailsModel.EmployeeID })" id="imgprofile" class="img-thumbnail profile-photo" />
    </div>
</div>
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-12 col-xs-12">

            <a href="#" onclick="ChangePassword(@Model.employeeDetailsModel.EmployeeID);" class="btn btn-danger btn-block btn-rounded">Change Password</a>
            @if (Model.employeeDetailsModel.ProfileImage != "" && Model.employeeDetailsModel.ProfileImage != null)
            {
                <a href="#" onclick="UploadImage(@Model.employeeDetailsModel.EmployeeID);" id="changeimglnk" class="btn btn-primary btn-block btn-rounded">Change Image</a>
                <a href="#" onclick="RemoveImage(@Model.employeeDetailsModel.EmployeeID);" id="removeimglnk" class="btn btn-primary btn-block btn-rounded">Remove Image</a>
            }
            else
            {
                <a href="#" onclick="UploadImage(@Model.employeeDetailsModel.EmployeeID);" id="changeimglnk" class="btn btn-primary btn-block btn-rounded">Upload Image</a>
                <a href="#" onclick="RemoveImage(@Model.employeeDetailsModel.EmployeeID);" id="removeimglnk" style="display:none;" class="btn btn-primary btn-block btn-rounded">Remove Image</a>
            }
        </div>
    </div>
    @Html.HiddenFor(m => m.employeeDetailsModel.EmployeeID, new { @class = "hdnEmployeeID" })

</div>*@
@*@if (IsEmployeePageRequest && objEmpPermissionModel.IsMainNavigationPermission && !(objViewEmpPermissionModel.IsViewOnlyPermission))
        {
    <div class="panel-body  form-group-separated">
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <h3><span class="fa fa-info-circle"></span> Shortcuts</h3>
                <div class="panel-body list-group border-bottom">
                    <a href="#" onclick="AddDependent();" class="list-group-item"><span class="glyphicon glyphicon-star"></span> Add Dependent</a>
                    <a href="#" onclick="AddEmployeeLeaveRequest();" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Add Leave Request</a>
                    <a href="#" onclick="AddPastEmployment('0')" class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span> Add Past Employment</a>
                    <a href="#" onclick="AddInternalEmployment('0')" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Add Internal Employment</a>
                    <a href="/Employee/AddExpenseReport" class="list-group-item hidden"><span class="glyphicon glyphicon-menu-right"></span>Add Expense Report</a>
                    <a href="#" onclick="AddEmegencyContact()" class="list-group-item"><span class="glyphicon glyphicon-phone"></span> Add Emergency Contact</a>
                    <a href="#" onclick="AddOtherAddress()" class="list-group-item "><span class="glyphicon glyphicon-home"></span> Add Other Address</a>
                    <a href="#" onclick="ChangeFamily()" class="list-group-item "><span class="glyphicon glyphicon-user "></span> Attach Family</a>
                    <a href="#" onclick="CheckFamilyOutstandingBalance()" class="list-group-item "><span class="fa fa-money"></span> Family Outstanding Balance</a>
                </div>
            </div>
        </div>
    </div>
    }*@


