﻿@model HRMS.Entities.Forms.KPIsListModel

@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    //ViewBag.Title = "HRMS – " + PDRPDropInsXMLResources.GetResource("Title");
    //*** Naresh 2020-03-17 Fetch title based on the page being loaded
    string titleMyDropIns = PDRPDropInsXMLResources.GetResource("Title");
    string mode = "";
    if (Session["MyDropIn"] != null && !String.IsNullOrEmpty(Session["MyDropIn"].ToString()))
    {
        mode = Session["MyDropIn"].ToString();
        if (Session["MyDropIn"].ToString().Equals("Yes"))
        {
            titleMyDropIns = PDRPDropInsXMLResources.GetResource("TitleMyDropIns");
        }
        else if (Session["MyDropIn"].ToString().Equals("Admin"))
        {
            titleMyDropIns = PDRPDropInsXMLResources.GetResource("TitleAdminDropIns");
        }
    }
    ViewBag.Title = "HRMS – " + titleMyDropIns;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
<style>
    .c {
        text-align: center;
    }
</style>
<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        <li class="active">@titleMyDropIns</li>
    </ul>
}
<!-- END BREADCRUMB -->


<div class="row">
    @Html.Hidden("culture", culture)
    @Html.Hidden("PageMode", mode)
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <h3 class="panel-title  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                        <span class="fa fa-cubes custom-margin"></span>@titleMyDropIns
                    </h3>
                </div>
                <div class="col-md-4 text-center @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2 @(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">

                </div>
            </div>

            <div class="panel-body">
                <div class="row margin_bottom @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                    <div class="col-sm-12 padding-1">
                        <div class="col-sm-4 form-group pull-left padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-4 padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                    <label class="label-form">@PDRPDropInsXMLResources.GetResource("KPIYears")</label>
                                </div>
                                <div class="col-sm-8 input-group">
                                    @Html.DropDownListFor(m => m.KPIYears, (SelectList)ViewBag.KPIYears, PDRPDropInsXMLResources.GetResource("SetYear"), new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlKPIYear" })
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.Mode == "Admin")
                        {
                            <div class="col-sm-4 form-group pull-left padding-0 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, "Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true", @onchange = "CompanyIDChange(this)" })

                                    </div>
                                </div>
                            </div>

                        }
                        <div class="col-sm-4 padding-0">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-7">
                                    <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.Mode == "Admin")
                                    {
                        <div class="col-sm-12 padding-1">
                            <div class="form-group col-sm-4 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Employee Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.Employee, "Select Employee Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>



            </div>
            <div class="row form-horizontal" id="divDropIns">
                <hr />
                <div class="col-lg-12 innerdiv center-text-align padding-0 marginles" style="padding-bottom: 0px !important;">
                    <label class="label-form red padding-0 marginles" style="margin-top: 0px;" id="lblKPI"></label>
                </div>
                <div class="col-lg-12 innerdiv">
                    <div class="col-sm-12 margin_bottom padding-0">

                        <table id="tbl_employee" class="table table-bordered table-striped" style="" width="100%"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
                                    {
    <link href="~/Content/Messagebox.css" rel="stylesheet" />
    <script src="~/Scripts/messagebox.js"></script>
    <script>
        $(document).ready(function () {
                                            //$("#exportIcon").html(getExportIcon("1", "ExportToExcel()", "ExportToPdf
                                            getGrid();

            $("#btnTextClear").click(function () {
                $('#txtSearch').val("");
                                                getGrid();
                                            });
            $("#btnTextSearch").click(function () {

                                                getGrid();
                                            });
                                        });
    </script>

    <script src="~/Scripts/Custom/PDRP/DropIns.js"></script>

    @* *** Multi Language Datatable*@
    @*<script src="~/Content/jquery-3.3.1.js"></script>*@
    @*<script src="~/Content/LangDataTable/jquery.dataTables.min.js"></script>*@

}

