﻿@model HRMS.Entities.PDRP.DropInsModel

@using HRMS.Entities.Common;
@using HRMS.Entities;
@{
    ViewBag.Title = "HRMS - " + PDRPDropInsXMLResources.GetResource("Title2");
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    string mode = "DropInManage";
    if (Session["MyDropIn"] != null)
    {
        mode = Session["MyDropIn"].ToString();
        if (mode == "Yes")
        {
            mode = "MyDropIns";
        }
        else if (mode == "Admin")
        {
            mode = "AdminDropIns";
        }
    }

}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/MultiLang/style.css" /> @**** F8*@
@Html.HiddenFor(m => m.DropInEmployeeModel.RequesterID)


@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Home")</a></li>
        @*<li><a href="/Employee/ListEmployee">Employee List</a></li>*@
        <li class="active"> @PDRPDropInsXMLResources.GetResource("Title2")</li>
    </ul>
}
@{
    //*** F4
    int IsEditable = 1;
    string ErrMessage = "";
    if (ViewBag.ValidatingAnnualAppraisal == PDRPDropInsXMLResources.GetResource("Validation1"))
    {
        IsEditable = 0;
    }
    //Transfered Company
    if (Model.EmpCurrentCompanyID != 0 && Model.EmpCurrentCompanyID != Model.DropInEmployeeModel.CompanyID)
    {
        IsEditable = 0;

    }
}

@Html.Hidden("culture", culture)
@using (Ajax.BeginForm("DropInFormSave", "DropIns", new AjaxOptions { OnBegin = "Start", OnComplete = "UpdateKPIs" }, new { id = "DropInsForm" }))
{
    <div class="page-content-wrap viewProfile">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-sm-5 padding-0  @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            @Html.Hidden("IsEditable", IsEditable)
                            <h3 class="panel-title @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                                <span class="fa fa-user"></span>
                                @PDRPDropInsXMLResources.GetResource("Title2")  @(Model.DropInEmployeeModel.RequestID != "" ? "[" + @PDRPCommonXMLResources.GetCommonPDRPResource("RequestID") + " - " + @Model.DropInEmployeeModel.RequestID + "]" : "")
                            </h3>

                        </div>
                        <div class="col-sm-5 @(CultureHelper.IsRightToLeft() ? "rtlaln" : "")">
                            @if (@ViewBag.Formula == "")
                            {
                                <label class="red">@PDRPDropInsXMLResources.GetResource("Validation2")</label>
                            }
                        </div>
                        <div class="col-sm-2  @(CultureHelper.IsRightToLeft() ? "lftaln" : " pull-right")">
                            <div class="">
                                <div id="TopButtons" class="col  padding-0  @(CultureHelper.IsRightToLeft() ? "lftaln" : "rtlaln")">
                                    @if (@ViewBag.Formula != "")
                                    {
                                        if (IsEditable == 1) //*** F4
                                        {
                                            <a href="javascript:void(0);" title="@PDRPCommonXMLResources.GetCommonPDRPResource("Save")" id="tbtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                                            <a href="javascript:void(0);" title="@PDRPCommonXMLResources.GetCommonPDRPResource("Submit")" id="tbtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit btnSave"><i class="fa fa-check"></i></a>
                                        }
                                    }
                                    <a href="javascript:void(0);" title="Back to Teacher Staff List" onclick="BackToTaskList()" id="tbtnBack" style="margin-left: 3px;" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            @{ Html.RenderAction("GetDropInsEmployeeInformation", new { formID = 38, DropInsModel = Model }); }

                        </div>
                        <div class="row">

                            @{ Html.RenderAction("GetDropInsProficiencyLevel", new { formID = 31, DropInsModel = Model }); }

                        </div>
                        @if (Model.DropInEmployeeModel.ReqStatusID == 4 && IsEditable == 1)//*** F4
                        {
                            if (Model.DropInEmployeeModel.RequesterID == Model.DropInEmployeeModel.SuperviserID || ViewBag.AllowCreateDropIns)
                            {
                                if (Model.EmployeeAcknowledgedDropIn)
                                {
                                    <div class="row">
                                        <div class="col-lg-12 center-text-align">
                                            <div class="col-lg-12 innerdiv center-text-align marginles padding-0 red" style="margin-bottom:0px !important; font-weight:bold;">
                                                @PDRPDropInsXMLResources.GetResource("Validation3")
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="panel-footer">

                        <div class="col-lg-4">

                            <div class="form-group " style="float: inherit;">

                                @Html.HiddenFor(m => m.isAddMode)
                                @Html.HiddenFor(m => m.DropInEmployeeModel.ReqStatusID, new { @id = "ReqStatusID" })
                                @if (@ViewBag.Formula != "" && @ViewBag.Formula != null && IsEditable == 1)//*** F4
                                {
                                    if (Model.DropInEmployeeModel.ReqStatusID < 4)
                                    {
                                        if (Model.DropInEmployeeModel.RequesterID == Model.DropInEmployeeModel.SuperviserID || ViewBag.AllowCreateDropIns)
                                        {
                                            //if (Model.isAddMode == "1" || Model.isAddMode == "2") //*** Create
                                            //{
                                            <button type="submit" title="Save" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> @PDRPCommonXMLResources.GetCommonPDRPResource("Save")</button>
                                            //}

                                            //if (Model.isAddMode == "2") //*** Modify
                                            //{
                                            <button title="Submit" id="btnSubmit" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-check"></i>@PDRPCommonXMLResources.GetCommonPDRPResource("Submit") </button>
                                            //}
                                            //else //*** View
                                            //{

                                            //}
                                        }
                                    }
                                }
                                <a href="javascript:void(0);" title="Back To Task List" id="btnBack" data-mode="@mode" onclick="BackToTaskList()" class=" btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i>&nbsp;@PDRPCommonXMLResources.GetCommonPDRPResource("Cancel") </a>

                            </div>
                        </div>

                        <div class="col-lg-4" style="float: inherit;">
                            @Html.HiddenFor(m => m.DropInEmployeeModel.SuperviserID)
                            @if (Model.DropInEmployeeModel.ReqStatusID < 4 && IsEditable == 1)//*** F4
                            {
                                if (Model.DropInEmployeeModel.RequesterID == Model.DropInEmployeeModel.SuperviserID || ViewBag.AllowCreateDropIns)
                                {
                                    //if (Model.isAddMode != "1")
                                    //{
                                    @Html.CheckBoxFor(m => m.EmployeeAcknowledgedDropIn, new { @class = "form-group ", @id = "chkEmployeeAcknowledgedDropIn", @style = "margin: 5px; margin-top: 8px;" })

                                    @Html.Label(PDRPDropInsXMLResources.GetResource("EmployeeAcknowledgesDropIn"), new { @for = "chkEmployeeAcknowledgedDropIn" })
                                    ////}
                                }
                            }
                        </div>
                        <div class="col-lg-4" style="float: inherit;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body  form-group">
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12 padding-0">

                                        @{ Html.RenderAction("GetDropInsProficiencyLevel", new { formID = 31, DropInsModel = Model }); }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>
                                }

<script>
    function Start() {
        pageLoaderFrame();
        //$("#btnSave").hide(500);
    }
    function UpdateKPIs(arg) {
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal3").modal("hide");
        hideLoaderFrame();
        var isAddMode = $("#isAddMode").val();
        if (isAddMode == 3) {

            $("#isAddMode").val("2");
        }

        if (arg.responseJSON.result == "success") {          
            if (arg.responseJSON.resultMode == "3")
                setTimeout(function () { location.href = "/FormsTaskList/Index/" }, 500);
            else
                setTimeout(function () { location.href = "/PDRP/DropIns/DropInForm/" }, 500);
        }

    }






</script>


@section scripts
{
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    @*<script src="~/Scripts/Custom/Employee.js"></script>*@
    <script src="~/Scripts/Custom/PDRP/DropIns.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.timePicker12').timepicker({
                showMeridian: true,
                showInputs: true,
                minuteStep: 5,
                defaultTime: null
            });
            //$('#txtVisitDate').datepicker();
            //$('#txtVisitDate').datepicker('setValue', today);

        });
    </script>
}



