﻿
@*@model HRMS.Entities.General.PayBanksModel*@

@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });
    $('#txtComments').on("input", function () {   
        var maxlength = $(this).attr("maxlength");
        var currentLength = $(this).val().length;
        var noofcharsleft;
        var id = $(this).attr("id");
        if (currentLength >= maxlength) {
            $('#lblCharsLeft_' + id).text("(0 chars left out of " + maxlength + ")");
        } else {
            noofcharsleft = maxlength - currentLength;
            $('#lblCharsLeft_' + id).text("(" + noofcharsleft + " chars left out of " + maxlength + ")");
        }
    });
    function onFailure(xhr, status, error) {

        console.log("xhr", xhr);
        console.log("status", status);

        // TODO: make me pretty
        ShowMessage("error", error);
    }

    function onSuccess(data, status, xhr) {

        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);

        if (data.Success == true) {
            ShowMessage("success", data.Message);
            $("#myModal").modal("hide");
           // getGridBankDetails();
        }
        else {
            ShowMessage("error", data.Message);
        }
    }
</script>
<div class="panel panel-default" id="divReleaseComments">

    @*@Html.HiddenFor(x => x.BankID)*@
    <div class="panel-body">
        <div class="form-horizontal col-lg-12 col-md-12">
            <div class="form-group col-md-12 padding-0">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">

                            <label class="label-form" style="font-size:12px !important">
                                <span class="required-field">*</span>&nbsp;
                                @Html.DisplayName("Comments")
                            </label>
                            <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                        </legend>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-12">@Html.TextArea("Comments", new { @class = "form-control calculatecharsleft1", @maxlength = 2000, @id = "txtComments" })</div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" id="btnRelease" class="btn btn-primary pull-right" value="Release Request"  onclick="UpdateReleaseR1Request()"/>
            <input type="button" id="btnCancel" class="btn btn-primary pull-left" value="Cancel" />
        </div>
    </div>
</div>
@section Scripts
{
   <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
 
}



