﻿@model List<HRMS.Entities.Forms.ReleaseR1RequestModel>
@using HRMS.Entities.Forms;
<table id="tblReleaseR1Request" class="display table table-bordered table-striped table-fixed-width" width="100%">
    <thead>
        <tr>
            <th class="text-wrap width-5per">
                R1 Request ID
            </th>
            <th class="text-wrap width-5per">
                Profile Request ID
            </th>
            <th class="text-wrap">
                Profile Request Status
            </th>
            <th class="text-wrap width-20per">
                Organization Name
            </th>
            <th class="text-wrap width-5per">
                Employee ID
            </th>
            <th class="text-wrap width-10per">
                Employee Name
            </th>
            <th class="text-wrap">
                Release Status
            </th>
            <th class="text-wrap">
                Release Comments
            </th>
            <th class="text-wrap">
                Released By
            </th>
            <th class="nowrap">
                Released Date
            </th>
            <th class="text-wrap width-5per">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="javascript:void(0);" onclick="OpenFromRequest(@item.FormProcessID,@item.FormID);">@item.R1RequestID</a></td>
                <td><a href="javascript:void(0);" onclick="OpenFromRequest(@item.ProfileFormProcessID,4);">@item.ProfileRequestID</a></td>
                <td>@item.ProfileRequestStatus</td>
                <td>@item.CompanyName</td>
                <td>@item.EmployeeID</td>
                <td>@item.EmployeeName</td>
                <td>@item.Status</td>
                <td>@item.R1ReleaseComments</td>
                <td>@item.R1ReleasedByName</td>
                <td>@item.R1ReleasedOn</td>
                <td>
                    @if (!item.IsReleased)
                    {                      
                        @*<a href="javascript:void(0);" onclick='UpdateReleaseR1Request(@item.R1RequestID,@item.FormProcessID,@item.FormID)' title="Release R1 Request" class="btn btn-primary btn-rounded btn-condensed btn-sm">
                            <i class="fa fa-unlock-alt"></i>
                        </a>*@
                        <a href="javascript:void(0);" onclick='AddReleaseComments(@item.EmployeeProfileCreationID,@item.R1RequestID);' title="Release R1 Request" class="btn btn-primary btn-rounded btn-condensed btn-sm">
                            <i class="fa fa-unlock-alt"></i>
                        </a>
                    }
                </td>
              
            </tr>
        }
    </tbody>

</table>
