﻿@model List<HRMS.Entities.Forms.ReleaseR1RequestModel>
@{
    ViewBag.Title = "HRMS - Release R1 Request List";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Release R1 Request List</li>
    </ul>
}
<style type="text/css">

    .width-5per {
        width: 5% !important;
    }


    .width-10per {
        width: 10% !important;
    }
    .width-15per {
        width: 15% !important;
    }

    .width-20per {
        width: 20% !important;
    }
    .nowrap { white-space: nowrap; }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="hidden" id="hdnReleaseProfileID" value="0" />
                <input type="hidden" id="hdnR1RequestID" value="0" />
                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>
                        Release R1 Request List
                    </h4>
                </div>
                <div class="col-sm-4">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-sm-4 pull-right">

                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-3 padding-0">
                                <label class="label-form">
                                    Select Request:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownListFor(m => m[0].R1RequestID, (SelectList)ViewBag.R1RequestList, " Select Request", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlReleaseR1Request" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                    </div>
                </div>

            </div>
            <div class="row padding-0">
                <hr>
                <div class="form-horizontal innerdiv">
                    <div class="col-sm-12" id="EmployeeReleaseGrid">
                        @Html.Partial("_EmployeeReleaseList", Model)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div></div>

@section Scripts
{
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/ReleaseR1Request.js"></script>
}


