﻿@model HRMS.Entities.Forms.ExitInterviewRequestModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Exit Interview Request</li>
    </ul>
}
@{
    ViewBag.Title = "Exit Interview Request";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Exit Interview Request
                    </h3>
                </div>

                <div class="pull-right">
                    <a href="javascript:void(0);" title="Save Request" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                    <a href="javascript:void(0);" title="Separated List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <form id="frmExitInterviewRequest">
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.FormProcessID)
                    @Html.HiddenFor(m => m.EmployeeID)
                    @Html.HiddenFor(m => m.CompanyID)

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 30, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID }); }
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font">Request Information </span>
                            </legend>
                            <div class="col-sm-12">
                                <div class="col-sm-12 form-group">
                                    <p class="paragraph-font-13">
                                        We would appreciate you taking your time to answer the following questions as honest and constructive as possible.
                                        Your feedback is of vital importance to us to help support improvement initiatives and will assist us in analyzing
                                        our employee’s turnover. This questionnaire will be treated as “Highly Confidential” and will Not be part of your personal file.
                                        Thank you.
                                    </p>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label class="label-form">
                                        What is primary reason to leave Bukhatir Group?
                                    </label>
                                    <br />
                                    @foreach (var reason in Model.ExitInterviewReasonOptionList)
                                    {
                                        <div class="col-sm-3">
                                            <label class="label-form">
                                                @Html.CheckBox("chkReason", false, new { @class = "checkbox-inline primaryreason", @id = "ChkReason_" + reason.PrimaryReasonID, @data_PrimaryReasonID = @reason.PrimaryReasonID })
                                                @reason.PrimaryReasonName
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-12">
                                    <label class="label-form">
                                        @Html.DisplayNameFor(m => m.OtherOptionsToStay)&nbsp;
                                    </label>
                                    <label class="label-form">
                                        @Html.RadioButton("rdOtherOptionsToStay", "Yes", new { @class = "checkbox-inline OtherOptionsToStayIsEnable", @id = "rdOtherOptionsToStayEnable" })
                                        <span>Yes</span>
                                    </label>&nbsp;
                                    <label class="label-form">
                                        @Html.RadioButton("rdOtherOptionsToStay", "No", new { @class = "checkbox-inline OtherOptionsToStayIsEnable", @id = "rdOtherOptionsToStayDisable", @checked = "checked" })
                                        <span>No</span>
                                    </label>
                                </div>
                                <div class="col-sm-12 form-group">
                                    @Html.TextAreaFor(m => m.OtherOptionsToStay, new { @class = "form-control", @maxlength = 3000, @id = "txtOtherOptionsToStay" })
                                    @Html.ValidationMessageFor(m => m.OtherOptionsToStay, null, new { @class = "OtherOptionsToStay" })
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="row">
                        <div class="table-responsive">
                            <table id="tblSupervisorManager" class="table table-striped table-bordered table-fixed-width" width="100%">
                                <thead>
                                    <tr class="info">
                                        <th class="col-sm-4">
                                            What did you think of your supervisor / Manager?
                                        </th>
                                        @foreach (var ratingOption in Model.ExitInterviewRatingOptionList)
                                        {
                                            <th class="col-sm-1 text-center"> @ratingOption.RatingOptionName</th>
                                        }

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var supervisorOption in Model.ExitInterviewSupervisorOptionList)
                                    {
                                        <tr>
                                            <td data-SupOptionID="@supervisorOption.SupOptionID"> @supervisorOption.SupOptionName</td>
                                            @foreach (var ratingOption in Model.ExitInterviewRatingOptionList)
                                            {
                                                <td class="text-center">
                                                    @if (ratingOption.RatingOptionID == 0)
                                                    {
                                                        @Html.RadioButton("rdSupRatingOption_" + @supervisorOption.SupOptionID, false, new { @class = "checkbox-inline SupRatingOption", @id = "rdSupRatingOption_" + ratingOption.RatingOptionID, @data_RatingOptionID = @ratingOption.RatingOptionID, @data_SupOptionID = @supervisorOption.SupOptionID, @checked = "checked" })
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("rdSupRatingOption_" + @supervisorOption.SupOptionID, false, new { @class = "checkbox-inline SupRatingOption", @id = "rdSupRatingOption_" + ratingOption.RatingOptionID, @data_RatingOptionID = @ratingOption.RatingOptionID, @data_SupOptionID = @supervisorOption.SupOptionID })
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table id="tblJobOption" class="table table-striped table-bordered table-fixed-width" width="100%">
                                <thead>
                                    <tr class="info">
                                        <th class="col-sm-4">
                                            How would you rate the following in relation to your job?
                                        </th>
                                        @foreach (var ratingOption in Model.ExitInterviewRatingOptionList)
                                        {
                                            <th class="col-sm-1 text-center"> @ratingOption.RatingOptionName</th>
                                        }

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var jobOption in Model.ExitInterviewJobOptionList)
                                    {
                                        <tr>
                                            <td data-JobOptionID="@jobOption.JobOptionID"> @jobOption.JobOptionName</td>
                                            @foreach (var ratingOption in Model.ExitInterviewRatingOptionList)
                                            {
                                                <td class="text-center">
                                                    @if (ratingOption.RatingOptionID == 0)
                                                    {
                                                        @Html.RadioButton("rdJobRatingOption_" + @jobOption.JobOptionID, false, new { @class = "checkbox-inline JobRatingOption", @id = "rdJobRatingOption_" + ratingOption.RatingOptionID, @data_RatingOptionID = @ratingOption.RatingOptionID, @data_JobOptionID = @jobOption.JobOptionID, @checked = "checked" })
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("rdJobRatingOption_" + @jobOption.JobOptionID, false, new { @class = "checkbox-inline JobRatingOption", @id = "rdJobRatingOption_" + ratingOption.RatingOptionID, @data_RatingOptionID = @ratingOption.RatingOptionID, @data_JobOptionID = @jobOption.JobOptionID })
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table id="tblCompanyServiceOption" class="table table-striped table-bordered table-fixed-width" width="100%">
                                <thead>
                                    <tr class="info">
                                        <th class="col-sm-4">
                                            How would you rate the below Company Services/benifits?
                                        </th>
                                        @foreach (var ratingOption in Model.ExitInterviewRatingOptionList)
                                        {
                                            <th class="col-sm-1 text-center"> @ratingOption.RatingOptionName</th>
                                        }

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var serviceOption in Model.ExitInterviewServiceOptionList)
                                    {
                                        <tr>
                                            <td data-ServiceOptionID="@serviceOption.ServiceOptionID"> @serviceOption.ServiceOptionName</td>
                                            @foreach (var ratingOption in Model.ExitInterviewRatingOptionList)
                                            {
                                                <td class="text-center">
                                                    @if (ratingOption.RatingOptionID == 0)
                                                    {
                                                        @Html.RadioButton("rdServiceRatingOption_" + @serviceOption.ServiceOptionID, false, new { @class = "checkbox-inline ServiceRatingOption", @id = "rdServiceRatingOption_" + ratingOption.RatingOptionID, @data_RatingOptionID = @ratingOption.RatingOptionID, @data_ServiceOptionID = @serviceOption.ServiceOptionID, @checked = "checked" })
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("rdServiceRatingOption_" + @serviceOption.ServiceOptionID, false, new { @class = "checkbox-inline ServiceRatingOption", @id = "rdServiceRatingOption_" + ratingOption.RatingOptionID, @data_RatingOptionID = @ratingOption.RatingOptionID, @data_ServiceOptionID = @serviceOption.ServiceOptionID })
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                @Html.DisplayNameFor(m => m.OtherBenefitsOffer)&nbsp;
                            </label>
                            <label class="label-form">
                                @Html.RadioButton("rdOtherBenefitsOffer", "Yes", new { @class = "checkbox-inline OtherBenefitsOfferIsEnable", @id = "rdOtherBenefitsOfferEnable" })
                                <span>Yes</span>
                            </label>&nbsp;
                            <label class="label-form">
                                @Html.RadioButton("rdOtherBenefitsOffer", "No", new { @class = "checkbox-inline OtherBenefitsOfferIsEnable", @id = "rdOtherBenefitsOfferDisable", @checked = "checked" })
                                <span>No</span>
                            </label>
                            @Html.TextAreaFor(m => m.OtherBenefitsOffer, new { @class = "form-control", @maxlength = 3000, @id = "txtOtherBenefitsOffer" })
                            @Html.ValidationMessageFor(m => m.OtherBenefitsOffer, null, new { @class = "OtherBenefitsOffer" })
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                @Html.DisplayNameFor(m => m.JobLeastInterest)&nbsp;
                            </label>
                            @Html.TextAreaFor(m => m.JobLeastInterest, new { @class = "form-control", @maxlength = 3000, @id = "txtJobLeastInterest" })
                            @Html.ValidationMessageFor(m => m.JobLeastInterest)
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                @Html.DisplayNameFor(m => m.JobMostInterest)&nbsp;
                            </label>
                            @Html.TextAreaFor(m => m.JobMostInterest, new { @class = "form-control", @maxlength = 3000, @id = "txtJobMostInterest" })
                            @Html.ValidationMessageFor(m => m.JobMostInterest)
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                @Html.DisplayNameFor(m => m.NewJobGoodCompany)&nbsp;
                            </label>
                            <label class="label-form">
                                @Html.RadioButton("rdNewJobGoodCompany", "Applicable", new { @class = "checkbox-inline NewJobGoodCompanyIsEnable", @id = "rdNewJobGoodCompanyEnable" })
                                <span>Applicable</span>
                            </label>&nbsp;
                            <label class="label-form">
                                @Html.RadioButton("rdNewJobGoodCompany", "Not Applicable", new { @class = "checkbox-inline NewJobGoodCompanyIsEnable", @id = "NewJobGoodCompanyDisable", @checked = "checked" })
                                <span>Not Applicable</span>
                            </label>
                            @Html.TextAreaFor(m => m.NewJobGoodCompany, new { @class = "form-control", @maxlength = 3000, @id = "txtNewJobGoodCompany" })
                            @Html.ValidationMessageFor(m => m.NewJobGoodCompany, null, new { @class = "NewJobGoodCompany" })
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                @Html.DisplayNameFor(m => m.NewSalaryAndPosition)&nbsp;
                            </label>
                            @Html.TextAreaFor(m => m.NewSalaryAndPosition, new { @class = "form-control", @maxlength = 3000, @id = "txtNewSalaryAndPosition" })
                            @Html.ValidationMessageFor(m => m.NewSalaryAndPosition)
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                Would you recommend Bukhatir Group to a friend as a place  to work  for?&nbsp;
                            </label>
                            <label class="label-form">
                                @Html.RadioButton("rdGroupRecommendation", "Yes", new { @class = "checkbox-inline GroupRecommendationIsEnable", @id = "rdGroupRecommendationEnable" })
                                <span>Yes</span>
                            </label>&nbsp;
                            <label class="label-form">
                                @Html.RadioButton("rdGroupRecommendation", "No", new { @class = "checkbox-inline GroupRecommendationIsEnable", @id = "rdGroupRecommendationDisable", @checked = "checked" })
                                <span>No</span>
                            </label>
                            @Html.TextAreaFor(m => m.GroupRecommendation, new { @class = "form-control", @maxlength = 3000, @id = "txtGroupRecommendation" })
                            @Html.ValidationMessageFor(m => m.GroupRecommendation, null, new { @class = "GroupRecommendation" })
                        </div>
                    </div>

                    <div class="row padding-down-item">
                        <div class="col-sm-12 form-group">
                            <label class="label-form">
                                @Html.DisplayNameFor(m => m.ShareOtherThoughts)&nbsp;
                            </label>
                            @Html.TextAreaFor(m => m.ShareOtherThoughts, new { @class = "form-control", @maxlength = 3000, @id = "txtShareOtherThoughts" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <p class="paragraph-bigger-font">
                                We wish you the best of luck for your future endeavors and thank you for your contributions
                                you have made to Bukhatir Group during your term of employment. Good Luck!
                            </p>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Save Request" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                    <button type="button" title="Separated List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Separated List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/ExitInterviewRequest.js"></script>
}