﻿@{
    ViewBag.Title = "HRMS - All Requests";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">All Requests</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>

                        All Requests
                    </h4>
                </div>
                <div class="col-sm-5">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-2">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <label class="label-form">
                                            Request ID:
                                        </label>
                                    </div>
                                    <div class="col-sm-7">
                                        @Html.TextBox("txtRequestID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-5">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4">
                                        <label class="label-form">
                                            Select Request Form:
                                        </label>
                                    </div>
                                    <div class="col-sm-8 padding-0">
                                        @Html.DropDownList("ddlForm", (SelectList)ViewBag.FormList, "All Forms", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-5">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4">
                                        <label class="label-form">
                                            Select Request Status:
                                        </label>
                                    </div>
                                    <div class="col-sm-8 padding-0">
                                        @Html.DropDownList("ddlRequestStatus", new List<SelectListItem>
                                           {
                                           new SelectListItem{Text="Pending", Value="1" },
                                           new SelectListItem{Text="Rejected", Value="3"},
                                           new SelectListItem{Text="Completed", Value="4"},
                                           }, "Select Status", new { @class = "form-control selectpicker selectpickerddl" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="getGrid();">
                    </div>
                </div>

            </div>
            <div class="row form-horizontal">
                <hr>
                <div class="col-sm-12 innerdiv" id="divContent">
                    <table id="tblAllRequestsList" class="display table table-bordered table-striped" width="100%"></table>
                </div>

            </div>
        </div>
    </div>

</div>


@section Scripts
{
    <script src="~/Scripts/Custom/Forms/AllRequests.js"></script>
}
