﻿@model HRMS.Entities.WPSModel

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">WPS</li>
    </ul>
}
@{
    ViewBag.Title = "WPS";
}


<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="page-title"><span class="fa fa-text-width"> </span> WPS</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-sm-8"><h3 class="panel-title">Banks</h3></div>
                                <div class="col-xs-4">
                                    <label class="checkbox pull-right">
                                        <input id="chkAllBank" type="checkbox" value="" />
                                        Select All
                                    </label>
                                </div>

                            </div>
                            <div class="panel-body wps-panel-height">
                                <table id="tblBankList" class="table table-striped">
                                    @foreach (var item in Model.BankList)
                                    {
                                        <tr>
                                            <td class="col-sm-11">@item.BankName_1</td>
                                            <td class="col-sm-1"><input type="checkbox" value="@item.BankID" /></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-sm-12 "><h3 class="panel-title">Select Template</h3></div>
                            </div>
                            <div class="panel-body wps-panel-height">
                                @if (!ViewBag.IsHideExtraFilter)
                                {
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label class="col-sm-3">
                                            Select Organization:
                                        </label>
                                        <div class="col-sm-9 dropdownHide">
                                            @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, "All Organizations", new { @class = "form-control selectpicker", id = "ddlCompany" })
                                        </div>
                                    </div>
                                }
                                <div class="form-group col-lg-12 col-sm-12">
                                    <label class="col-sm-3">Select Cycle: </label>
                                    <div class="col-sm-9 dropdownHide">
                                        @Html.DropDownListFor(model => model.CycleID, new SelectList(Model.CycleList, "PayCycleID", "PayCycleName_1"), "Select Cycle", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.CycleID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-lg-12 col-sm-12">
                                    <label class="col-sm-3">Select Template: </label>
                                    <div class="col-sm-9 dropdownHide">
                                        @Html.DropDownListFor(model => model.TemplateID, new SelectList(Model.TemplatesList, "TemplateID", "TemplateName"), "Select Template", new { @class = "form-control selectpicker" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.TemplateID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-12 col-sm-12">
                                    <label class="col-sm-3">Select Pay Category: </label>
                                    <div class="col-sm-9 dropdownHide">
                                        @Html.DropDownListFor(model => model.CategoryID, Model.CategoriesList, "All Pay Categories", new { @class = "form-control selectpicker ddlCategory" })
                                    </div>
                                </div>
                                @if (!ViewBag.IsHideExtraFilter)
                                {
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label class="col-sm-3">Select Group By: </label>
                                        <div class="col-sm-9 dropdownHide">
                                            @Html.DropDownList("ddlGroupBy", new List<SelectListItem>
                                                                   {
                                                                    new SelectListItem{Text="Pay Category", Value="1" },
                                                                    new SelectListItem{Text="Pay Bank", Value="2"},
                                                                   }, "Select Group By", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlGroupBy" })

                                        </div>
                                    </div>
                                }
                                <div id="divTemplate2Fields">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label class="col-sm-3">Establish Number </label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.EstablishNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.EstablishNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label class="col-sm-3">Bank Code Employer </label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.BankCodeEmployer, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BankCodeEmployer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-sm-3"></div>*@
                                <div class="form-group col-sm-12 text-center">

                                    <input id="btnPreview" type="button" value="Preview" class="btn btn-primary margin-right" />


                                    <input id="btnExcel" type="button" value="Export To Excel" class="btn btn-primary margin-right" />


                                    <input id="btnPDF" type="button" value="Export To PDF" class="btn btn-primary hide" />
                                    <input id="btnSIF" type="button" value="Export To SIF" class="btn btn-primary hide" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="tbl_TemplateList" class="display table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <link href="~/Content/Messagebox.css" rel="stylesheet" />
    <script src="~/Scripts/messagebox.js"></script>
    <script src="~/Scripts/Custom/WPS.js"></script>

}
