﻿@model HRMS.Entities.Forms.HiringR1ReplacementViewModel
@{
    ViewBag.Title = "HRMS - Hiring R1 Budgeted Replacement";

}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Hiring R1 Budgeted Replacement</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-8 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Hiring R1 Budgeted Replacement
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 3, requestDate = Model.HiringR1ReplacementModel.CreatedOn, employeeID = Model.HiringR1ReplacementModel.RequesterEmployeeID, isAddMode = false, formProcessid = Model.HiringR1ReplacementModel.FormProcessID }); }
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">

                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Hiring Details:
                            </span>

                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ReplacementEmployee)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.ReplacementEmployee, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form"> @Html.LabelFor(m => m.HiringR1ReplacementModel.CompanyID)</label>
                                    </div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.CompanyName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.AcademicYearID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AcademicYearName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.EmploymentModeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmploymentModeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.RecCategoryID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecCategoryName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.EmployeeJobCategoryID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmployeeJobCategoryName, new { @class = "form-control" })</span></div>
                                </div>
                                 <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.UserTypeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.UserTypeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.DepartmentID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.DepartmentName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ProjectData)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.ProjectData, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.HMEmployeeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HMEmployeeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.HMDesignation)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.HMDesignation, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.PositionLocation)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.PositionLocation, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.HeadCount)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.HeadCount, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.JobGradeName)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.JobGradeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ReportingEmployeeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ReportingEmployeeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.MinExpRequired)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.MinExpRequired, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.SourceID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.SourceName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.RecruitFromID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitFromName, new { @class = "form-control" })</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.PositionID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PositionTitle, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.SalaryRangesID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.SalaryRanges, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ActualBudget)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.ActualBudget, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.VehicleToolTrade)</label></div>

                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.VehicleToolTrade != null && (bool)Model.HiringR1ReplacementModel.VehicleToolTrade)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }

                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ContractStatus)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.ContractStatus, new { @class = "form-control" })</span></div>
                                </div>
                                @if (Model.HiringR1ReplacementModel.ContractStatus == "Family")
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.FamilySpouse)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.FamilySpouse, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.AnnualAirTicket)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.AnnualAirTicket != null && (bool)Model.HiringR1ReplacementModel.AnnualAirTicket)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.AirfareFrequencyID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareFrequencyName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.AirfareClassID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareClassName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.HealthInsurance)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.HealthInsurance != null && (bool)Model.HiringR1ReplacementModel.HealthInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.LifeInsurance)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.LifeInsurance != null && (bool)Model.HiringR1ReplacementModel.LifeInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.SalikTag)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.SalikTag != null && (bool)Model.HiringR1ReplacementModel.SalikTag)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.HiringR1ReplacementModel.SalikTag != null && (bool)Model.HiringR1ReplacementModel.SalikTag)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.SalikAmount)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.SalikAmount, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.PetrolCard)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.PetrolCard != null && (bool)Model.HiringR1ReplacementModel.PetrolCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.HiringR1ReplacementModel.PetrolCard != null && (bool)Model.HiringR1ReplacementModel.PetrolCard)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.PetrolCardAmount)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.PetrolCardAmount, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ParkingCard)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.HiringR1ReplacementModel.ParkingCard != null && (bool)Model.HiringR1ReplacementModel.ParkingCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.HiringR1ReplacementModel.ParkingCard != null && (bool)Model.HiringR1ReplacementModel.ParkingCard)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ParkingAreas)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HiringR1ReplacementModel.ParkingAreas, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form"> @Html.LabelFor(m => m.HiringR1ReplacementModel.DivisionID) </label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.DivisionName, new { @class = "form-control" })
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.JobDescriptionFileID)</label></div>
                                    <div class="col-sm-8">
                                        <a id="PreviewFile_JD" href="javascript:void(0);" onclick="OpenFilePreview('HiringR1Replacement',@Model.HiringR1ReplacementModel.JobDescriptionFileID);"><span class="label-form">@Model.JobDescriptionFileName</span></a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.OrgChartFileID)</label></div>
                                    <div class="col-sm-8">
                                        <a id="PreviewFile_OC" href="javascript:void(0);" onclick="OpenFilePreview('HiringR1Replacement',@Model.HiringR1ReplacementModel.OrgChartFileID);"><span class="label-form">@Model.OrgChartFileName</span></a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.HiringR1ReplacementModel.ManPowerFileID)</label></div>
                                    <div class="col-sm-8">
                                        <a id="PreviewFile_MP" href="javascript:void(0);" onclick="OpenFilePreview('HiringR1Replacement',@Model.HiringR1ReplacementModel.ManPowerFileID);"><span class="label-form">@Model.ManPowerFileName</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="row">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.HiringR1ReplacementModel.FormProcessID }); }
                </div>
                <br />
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    @if (Session["IsR1Release"] != null && ((bool)Session["IsR1Release"]))
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Release List</button>
                    }
                    else
                    {
                        <button type="button" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>

