﻿@using HRMS.Entities;
@model List<ReportBuilderModel>

@if (Model.Count > 0)
{
    <div class="row">
        <div class="list-group border-bottom">
            @foreach (var item in Model)
            {
                @*<a href='#' class='list-group-item' fieldId="@item.PayReportBuilderSavedReportsID">
                        @if (item.ReportName.Trim() != "")
                        {
                            <span>@item.ReportName</span>
                        }
                        else
                        {
                            <span> &nbsp;</span>
                        }

                    </a>*@
                <div class="col-sm-12 list-group-item cursorPointer" fieldId="@item.PayReportBuilderSavedReportsID">
                    <div class="col-sm-8 padding-0 padding-right-item">
                        @if (item.ReportName.Trim() != "")
                    {
                            <span>@item.ReportName</span>
                        }
                        else
                        {
                            <span> &nbsp;</span>
                        }
                    </div>

                    <div class="Report-list-controls col-sm-4 padding-0">
                        <button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-space pull-right" onclick='DeleteSavedReport(@item.PayReportBuilderSavedReportsID);'><span class="fa fa-times"></span></button>
                        <button class="btn btn-success btn-rounded btn-condensed btn-sm btn-space pull-right" onclick='EditSavedReport(@item.PayReportBuilderSavedReportsID);'><span class="fa fa-pencil"></span></button>
                        
                    </div>

                </div>

            }
        </div>
    </div>
}
