﻿@using HRMS.Entities;
@model List<ReportBuilderFieldsModel>

@if (Model.Count > 0)
{
    <div id="nestable" class="dd">
        <ol class="dd-list">
            @foreach (var item in Model)
            {
                <li data-id="@item.PayReportBuilderFieldsID" class="dd-item list-group-item" fieldId="@item.PayReportBuilderFieldsID">
                    <div class="dd-handle">@item.description</div>
                    <div class="list-group-controls Report-list-controls">
                        <button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-space" onclick='RemoveField(@item.PayReportBuilderFieldsID);'><span class="fa fa-times"></span></button>
                    </div>
                </li>
            }
        </ol>
    </div>
}

<script>   
    $(function () {
        $("#nestable").nestable({ group: 1 });
    });     
    $(document).ready(function() {       
        GetGroupByClauseValues();
    });  
</script>