﻿@using HRMS.Entities;
@model ReportBuilderModel
@{
    ViewBag.Title = "HRMS - Report Builder";
}

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>



@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Report Builder</li>
    </ul>
}

<div class="row" id="reportBuilderDiv">
    <div class="col-md-12">
        <h4 class="page-title"><span class="glyphicon glyphicon-folder-close"></span> Report Builder</h4>
        @Html.HiddenFor(m => m.PayReportBuilderSavedReportsID, new { id = "hdnReportID" })
        @Html.HiddenFor(m => m.PayReportBuilderSavedReportsWhere, new { id = "hdnOldWhere" })
        <input id="hdnOldSqlWhereCondition" value="@Model.PayReportBuilderSavedReportsWhere" type="hidden" name="hdnOldSqlWhereCondition" />
        <input id="hdnOldWhereDescription" value="@Model.WhereDescription" type="hidden" name="hdnOldWhereDescription" />

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Report Fields</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Available</h3>
                            <div class="panel panel-default" ng-app="myApp" ng-controller="reportsFieldsCtrl">
                                <div class="panel-heading">
                                    <input type="text" placeholder="Search" class="form-control" ng-model="reportFieldsList" />
                                </div>
                                <div class="panel-body list-group list-group-contacts reportFieldsList" ng-cloak>
                                    @*angular js start here*@
                                    <a href="#" class="list-group-item  reportFieldsListContent" ng-repeat="x in fields" fieldId="{{x.PayReportBuilderFieldsID}}">
                                        <span class="title">{{x.description}}</span>
                                        <div class="list-group-controls Report-list-controls">
                                            >>
                                            @*<button class="btn btn-primary btn-rounded clickme" id='{{x.PayReportBuilderFieldsID}}' my-directive><span class="fa fa-pencil"></span></button>*@
                                        </div>
                                    </a>
                                    @*angular js End here*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <h3 class="panel-title">Selected</h3>
                                <button class="btn btn-danger btn-rounded btn-condensed btn-sm btn-space pull-right" onclick='RemoveSelected();'><span class="fa fa-times"></span></button>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body SelectedFields" id="divSelectedFields">
                                    @{ Html.RenderPartial("_SelectedFieldsList", Model.SelectedFieldsList); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Reports</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        <h3 class="panel-title">Save New</h3>
                    </div>
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-8 form-group">
                            <div class="checkbox">
                                <label>
                                    @{
                                        HRMS.Entities.ViewModel.UserContextViewModel objUserContextViewModel = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
                                        if (objUserContextViewModel != null)
                                        {
                                            if (objUserContextViewModel.UserId == Model.UserID)
                                            {
                                                @Html.CheckBox("chkForMeOnly", true, new { id = "chkForMeOnly", @checked = "checked" })
                                            }
                                            else
                                            {
                                                @Html.CheckBox("chkForMeOnly", false, new { id = "chkForMeOnly" })
                                            }
                                        }
                                    }
                                    For Me Only
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <button id="btnSaveReport" class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                    <div class="col-sm-12 SavedReports" id="divSavedReports">
                        @{ Html.RenderPartial("_SavedReportsList", Model.SavedReportList); }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-default form-horizontal">
                <div class="panel-heading">
                    <h3 class="panel-title">Where and Order</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 form-group padding-0">
                        <div class="col-sm-2 control-label text-left">
                            @Html.Label("lblWhere", "Where", new { id = "lblWhere" })
                            <div class="ddlWhereConditionOperators-class">
                                @Html.DropDownList("ddlWhereConditionOperators", Model.WhereConditionOperators, new { @class = "form-control selectpicker" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownList("ddlAllFieldsList", Model.AllFieldsList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("ddlLogicalOperators", Model.LogicalOperators, new { @class = "form-control selectpicker" })
                        </div>
                        <div class="col-sm-3" id="ddlWhereConditionId">
                            @Html.DropDownList("ddlWhereConditionValues", Model.WhereConditionValues, new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                        <div class="col-sm-3" id="txtWhereConditionId">
                            @Html.TextBox("txtWhereConditionValue", "", new { id = "txtWhereConditionValue", @class = "form-control" })
                        </div>
                        <div class="col-sm-1">
                            <button type="button" id="btnAdd" value="Add" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="panel panel-default form-group WhereConditions" id="divWhereConditions">
                            @{ Html.RenderPartial("_WhereConditionList", Model.WhereConditionsList);}
                        </div>
                    </div>
                    <div class="col-sm-12 form-group padding-0" id="divOldWhereCondition">
                        <div class="col-sm-12">
                            @Html.CheckBox("chkOldWhereCondition", false, new { id = "chkOldWhereCondition" })
                            <span>@Model.WhereDescription</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group padding-0">
                        <div class="col-sm-2">
                            <div class="checkbox">

                                @if (Model.OrderBy > 0)
                                {
                                    <label>@Html.CheckBox("chkOrderBy", true, new { id = "chkOrderBy" }) Order By</label>
                                }
                                else
                                {
                                    <label>@Html.CheckBox("chkOrderBy", false, new { id = "chkOrderBy" }) Order By</label>
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.OrderBy, Model.AllFieldsList, new { id = "ddlOrderByList", @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                        <div class="col-sm-2">
                            <div class="checkbox">
                                @if (Model.GroupBy > 0)
                                {
                                    <label>@Html.CheckBox("chkGroupBy", true, new { id = "chkGroupBy" }) Group By</label>
                                }
                                else
                                {
                                    <label>@Html.CheckBox("chkGroupBy", false, new { id = "chkGroupBy" }) Group By</label>
                                }

                            </div>
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.GroupBy, Model.AllGroupByClauseList, new { id = "ddlGroupByList", @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default form-horizontal">
                <div class="panel-heading">
                    <h3 class="panel-title">Report Details</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 padding-0 margin_bottom">
                        <div class="col-sm-4 form-group text-left control-label">

                        </div>
                        <div class="col-sm-8 form-group">
                            <div class="text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-0 margin_bottom">
                        <div class="col-sm-4 form-group text-left control-label">
                            <span class="required-field">*</span>&nbsp;Report Title
                        </div>
                        <div class="col-sm-8 form-group">
                            @Html.TextBoxFor(m => m.ReportName, new { id = "txtReportTitle", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-4 form-group">
                            @Html.RadioButton("rbType", "portrait", new { id = "chkPortrait", @checked = "checked" }) <span>Portrait</span>
                        </div>
                        <div class="col-sm-8 form-group">
                            @Html.RadioButton("rbType", "landscape", new { id = "chkLandscape" }) <span>Landscape</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4 form-group">
                        </div>
                        <div class="col-sm-8 form-group">
                            <button type="button" id="btnPreview" value="Preview" class="btn btn-primary">Preview</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', ['ngCookies']);
    app.controller('reportsFieldsCtrl', function ($scope, $http, $cookieStore, $window) {

        var req = {
            method: 'GET',
            url: "@Url.Action("GetReportFieldsData", "ReportBuilder")",
            headers: {
                'Content-Type': undefined
            }
        }

        $http(req).success(function (response) { $scope.fields = response; }).error(function () { });

        $scope.$watch(function () {
            return $scope.reportFieldsList;
        },
        function (newValue, oldValue) {
            var req = {
                method: 'GET',
                url: "@Url.Action("GetReportFieldsDataSearch", "ReportBuilder")",
                headers: {
                    'Content-Type': undefined
                },
                params: { value: newValue }
            }

            $http(req).success(function (response) { $scope.fields = response; }).error(function () { });
        });
    });
</script>

@section Scripts
{
    <script src="~/Scripts/Custom/ReportBuilder.js"></script>
    <script src="~/Content/assets/js/plugins/nestable/jquery.nestable.js"></script>
}