﻿@model HRMS.Entities.MOETitleModel
@{ Layout = null;}



<script>
    /* Datepicker */
    $('.DOB').datepicker({
        dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '-100:+100',
        buttonImage: "../../Content/images/calender-icon.png",
        showOn: "both",
        buttonImageOnly: true,
        //maxDate: new Date()
        maxDate: -1,
        autoclose: true,
        buttonImageText: "Calendar"
    });

    function Start() {
        $.blockUI();
    }

    function SucessCompany(arg) {
        $.unblockUI();
        ShowMessage(arg.responseJSON.result, arg.responseJSON.resultMessage);
        $("#myModal").modal("hide");
        getGrid();
    }

    var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;

    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

</script>

<div class="panel panel-default">

    @using (Ajax.BeginForm("Save", "MOETitle", new AjaxOptions { OnBegin = "Start", OnComplete = "SucessCompany" }))
    {

        <div class="panel-body">
            @Html.HiddenFor(m => m.MOETitleID, new { @class = "hiddenMOETitleID" })
            <div class="form-horizontal col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.MOETitleName_1, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        @Html.TextBoxFor(m => m.MOETitleName_1, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.MOETitleName_1)
                    </div>

                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.MOETitleName_2, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        @Html.TextBoxFor(m => m.MOETitleName_2, new { @class = "form-control" })                       
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.MOETitleName_3, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        @Html.TextBoxFor(m => m.MOETitleName_3, new { @class = "form-control" })                       
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.MOETitleShortName_1, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        @Html.TextBoxFor(m => m.MOETitleShortName_1, new { @class = "form-control" })                       
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.MOETitleShortName_2, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        @Html.TextBoxFor(m => m.MOETitleShortName_2, new { @class = "form-control" })                       
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.MOETitleShortName_3, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-8 col-xs-12 space">
                        @Html.TextBoxFor(m => m.MOETitleShortName_3, new { @class = "form-control" })                       
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="@(Model.MOETitleID > 0?"Update":"Save")" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>