﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.InterimProbationRequestModel
@{
    ViewBag.Title = "HRMS - Employee Interim Probation Request";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Interim Probation Request</li>
    </ul>
}

<div class="row">
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.RequesterEmployeeID)
    @Html.Hidden("hdnformProcessID", (object)ViewBag.formProcessID)
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-5 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-user"></span>
                        Employee Interim Probation Request
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-5"></div>
                <div class="pull-right">
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 43, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = (int)ViewBag.formProcessID }); }
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0" style="margin-bottom: 5px;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Employee Details:
                            </span>

                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Employee ID:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.EmployeeID)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Company:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.CompanyName)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Department:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.DepartmentName_1)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Project:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.ProjectName)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Probation Period (Month):</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.ProbationPeriod)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Line Manager:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.LineManagerName)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Type Of Evaluation:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@ViewBag.lstEvaluationType</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Employee Name:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.EmployeeName)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Position Title:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.PositionTitle)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Email:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.Email)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Grade:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.JobGradeName_1)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">End Date:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.ProbationEndDate)</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">Line Manager Designation:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="label-form">@Html.DisplayFor(m => m.ManagerDesignation)</label>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0" style="margin-top:10px">
                    <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                        <thead>
                            <tr>
                                <th colspan="3">Rating Scale</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List
                            <InterimProbationRatingScaleModel>
                                )ViewBag.lstRatingScaleModel)
                            {
                                <tr>
                                    <td>@item.RatingScaleCode</td>
                                    <td>@item.RatingScaleName_1</td>
                                    <td>@item.RatingScaleDetail</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                        <thead>
                            <tr>
                                <th colspan="2">JOB EVALUATION</th>
                                <th style="text-align:center">Rating Scale</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List
                            <InterimProbationJobEvaluationModel>
                                )ViewBag.lstJobEvaluation)
                            {
                                <tr>
                                    <td>@item.JobEvaluationName_1</td>
                                    <td>@item.JobEvaluationDetail</td>
                                    <td class="text-center ddlRating">
                                        @foreach (var ratingIds in (List<InterimProbationRatingScaleModel>
                                            )ViewBag.lstRatingScaleModel)
                                        {
                                            if (@item.RatingScaleID == @ratingIds.RatingScaleID)
                                            {
                                                <span>@ratingIds.RatingScaleCode</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                        <thead>
                            <tr>
                                <th colspan="2">Code Of Conduct</th>
                                <th style="text-align:center">Rating Scale</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List
                            <InterimProbationCodeOfConductModel>
                                )ViewBag.lstCodeOfConduct)
                            {
                                <tr>
                                    <td>@item.CodeOfConductName_1</td>
                                    <td>@item.CodeOfConductDetail</td>
                                    <td class="text-center ddlRating">
                                        @foreach (var ratingIds in (List<InterimProbationRatingScaleModel>
                                            )ViewBag.lstRatingScaleModel)
                                        {
                                            if (@item.RatingScaleID == @ratingIds.RatingScaleID)
                                            {
                                                <span>@ratingIds.RatingScaleCode</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                        <thead>
                            <tr>
                                <th colspan="2">Others</th>
                                <th style="text-align:center">Rating Scale</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List
                            <InterimProbationOthersModel>
                                )ViewBag.lstOthersOption)
                            {
                                <tr>
                                    <td>@item.OthersOptionName_1</td>
                                    <td>@item.OthersOptionDetail</td>
                                    <td class="text-center ddlRating">
                                        @foreach (var ratingIds in (List<InterimProbationRatingScaleModel>
                                            )ViewBag.lstRatingScaleModel)
                                        {
                                            if (@item.RatingScaleID == @ratingIds.RatingScaleID)
                                            {
                                                <span>@ratingIds.RatingScaleCode</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                        <thead>
                            <tr>
                                <th colspan="2">Final Rating</th>
                                <th style="text-align:center">Rating Scale</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Overall Evaluation Of Employee (Final Rating)</td>
                                <td>Overall Evaluation Of Employee (Final Rating)</td>
                                <td class="text-center ddlRating">
                                    <span>@ViewBag.FinalRatingCode</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <label class="label-form col-sm-12"><b>PERFORMANCE IMPROVEMENT PLAN/TRAINING:</b></label>
                    <label class="label-form col-sm-12 padding-top-0">Please identify specific measures and corresponding time frames that will improve performance.Please include educational or training opportunities, which could assist in developing work performance.</label>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <label class="label-form col-sm-12"><b>What does this employee need to do to get confirmed in next 90 days?</b></label>
                    @Html.DisplayFor(m => m.EmployeeConfirmedDetails, new { @class = "col-sm-12" })
                </div>

                <div class="form-group col-sm-12 padding-0">
                    <label class="label-form col-sm-12"><b>Line Manager's Comments</b></label>
                    @Html.DisplayFor(m => m.LineManagerComments, new { @class = "col-sm-12" })
                </div>

             
                <div class="form-group col-sm-12 padding-0">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                </div>

            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    .ddlRating {
        width: 180px;
    }
</style>

