﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.PassportWithdrawalRequestModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Passport Withdrawal Request</li>
    </ul>
}
@{
    ViewBag.Title = "Passport Withdrawal Request";
    bool isDisabled = Model.ReqStatusID == (int)RequestStatus.Rejected ? true : false;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Passport Withdrawal Request (Request ID : @ViewBag.RequestID)
                    </h3>
                </div>
                <div class="pull-right">           
                    @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                    {
                        <a href="javascript:void(0);" title="Re-Submit Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                        <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                    }                                       
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <form id="frmPassportWithdrawalRequest">
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.FormProcessID)
                    @Html.Hidden("FormId", (object)ViewBag.FormId)
                    @Html.Hidden("CompanyId", (object)ViewBag.CompanyId)
                    @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 12, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Passport Details:
                                </span>

                            </legend>
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PassportReasonID)</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.PassportReasonID, (SelectList)ViewBag.PassportReasonList, " Select Passport Reason", isDisabled ? new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlPassportReason" } : (object)new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlPassportReason", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.PassportReasonID)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.OtherReason)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.OtherReason, isDisabled ? new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.OtherReason, null, new { @class = "OtherReason" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.WithdrawalDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.WithdrawalDate, isDisabled ? new { @class = "DOB form-control" } : (object)new { @class = "DOB form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.WithdrawalDate)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PassportReturnDate)</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.PassportReturnDate, isDisabled ? new { @class = "DOB form-control" } : (object)new { @class = "DOB form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.PassportReturnDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-sm-12 form-group padding-0" style="margin-top:0px !important">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label id="lblComments" class="label-form" style="font-size:12px !important">@Html.DisplayNameFor(m => m.Comments)</label>
                                <label id="lblCommentCharsLeft" class="label-form" style="font-size:12px !important"> </label>
                            </legend>
                            @*<div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>*@

                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextArea("txtComments", new { @class = "form-control calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>

                        <div class="row">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                        </div>
                    </div>

                </form>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left"> 
                    @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                    {
                    <button type="button" title= "Re-Submit Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>Re-Submit Request </button>
                    }
                    else
                    {
                        <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                        <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                    }                    
                    <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/PassportWithdrawalRequest.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
}