﻿@model HRMS.Entities.Forms.PassportWithdrawalRequestModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Passport Withdrawal Request</li>
    </ul>
}
@{
    ViewBag.Title = "Passport Withdrawal Request";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Passport Withdrawal Request (Request ID : @ViewBag.RequestID)
                    </h3>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body form-horizontal ">
                <form id="frmPassportWithdrawalRequest">
                    @Html.HiddenFor(m => m.ID)

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 12, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Passport Details:
                                </span>

                            </legend>
                            <div class="col-sm-12">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.PassportReasonID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @{var PassportReasonList = ((SelectList)ViewBag.PassportReasonList).FirstOrDefault(r => r.Value == Model.PassportReasonID.ToString());}
                                            @if (PassportReasonList != null)
                                            {
                                                <span class="label-form"> @PassportReasonList.Text</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.OtherReason)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.OtherReason)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.WithdrawalDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.WithdrawalDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.PassportReturnDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.PassportReturnDate)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                    </div>

                </form>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Forms/PassportWithdrawalRequest.js"></script>
}