﻿@model HRMS.Entities.DevelopmentGoalActionSteps

@{
    Layout = null;
    var IsSampleView = ViewData["IsSampleView"] != null ? Convert.ToBoolean(ViewData["IsSampleView"]) : false;
    int CurrentRecord = ViewData["CurrentRecord"] != null ? Convert.ToInt32(ViewData["CurrentRecord"]) : 1;
    bool IsMyPlanScreen = ViewData["IsMyPlanScreen"] != null ? Convert.ToBoolean(ViewData["IsMyPlanScreen"]) : false;
}

<div class="@string.Format("row margin_bottom {0}", IsSampleView == true ? "hide" : string.Empty)" data-isSampleView="@IsSampleView.ToString().ToLower()" data-id="attachmentblock">
    @*<div class="row margin_bottom" data-isSampleView="@IsSampleView">*@

    <div class="col-md-12 form-group padding-0">
        <div class="table-responsive">
            <div class="dataTables_wrapper no-footer">
                <table id="ActionSteps" class="table table-striped table-bordered table-fixed-width dataTable no-footer" role="grid" aria-describedby="tblExpenseClaimRequest_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="col-sm-11" tabindex="0" aria-controls="ActionSteps" rowspan="1" colspan="1" aria-label="
                        *&amp;nbsp; Total (AED)
                    : activate to sort column ascending">
                                <span class="required-field" style="@string.Format("display:{0}", IsSampleView == false  && CurrentRecord ==0 ? "inline-block" :"none")">*</span>&nbsp;
                                Action Step
                            </th>
                            <th class="text-center col-sm-1" tabindex="0" aria-controls="tblExpenseClaimRequest" rowspan="1" colspan="1" aria-label="
                            Action
                        : activate to sort column ascending">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="@string.Format("rowId_{0}",CurrentRecord.ToString())" data-actionid="@Model.ID" data-developmentgoalId="@Model.DevelopmentGoalID" class="edit1 even" data-rowid="@CurrentRecord" data-rowtype="attachmentdatarow">
                            <td>
                                <textarea type="text" placeholder="actionDescription" class="form-control accomplishments" cols="20" name="item.Accomplishments" rows="1" id="actionDescription">@Model.ActionStepDescription</textarea>
                                <div class="hide" id="actionDescriptionError">
                                    <span class="field-validation-error">
                                        <span>This field is mandatory</span>
                                    </span>
                                </div>
                            </td>
                            <td class="text-center padding-0">
                                <div class="text-center assetaction">
                                    @if (!IsMyPlanScreen)
                                    {
                                        <a class="btn btn-primary btn-rounded btn-condensed glyphicon" onclick="AddMoreActionSteps();">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    @if (CurrentRecord > 0 || IsSampleView == true)
                                    {
                                        <a class="btn padding-0" onclick="return Remove($(this));"><span class="btn btn-primary btn-rounded btn-condensed glyphicon glyphicon-trash"></span></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
