﻿@model HRMS.Entities.Forms.AllFormsFilesModel

@{
    Layout = null;
    var IsSampleView = ViewData["IsSampleView"] != null ? Convert.ToBoolean(ViewData["IsSampleView"]) : false;
    int CurrentRecord = ViewData["CurrentRecord"] != null ? Convert.ToInt32(ViewData["CurrentRecord"]) : 1;
    int DevelopmentGoalNoteID = ViewData["ID"] != null ? Convert.ToInt32(ViewData["ID"]) : 0;
    string note = ViewData["DetailNote"] != null ? Convert.ToString(ViewData["DetailNote"]) : string.Empty;
    bool IsMyPlanScreen = ViewData["IsMyPlanScreen"] != null ? Convert.ToBoolean(ViewData["IsMyPlanScreen"]) : false;
}

<div class="@string.Format("row margin_bottom {0}", IsSampleView == true ? "hide" : string.Empty)" data-isSampleView="@IsSampleView.ToString().ToLower()" data-id="attachmentblock">
    @*<div class="row margin_bottom" data-isSampleView="@IsSampleView">*@

    <div class="col-md-12 form-group padding-0">
        <div class="table-responsive">
            <div class="dataTables_wrapper no-footer">
                <table id="tblExpenseClaimRequest" class="table table-striped table-bordered table-fixed-width dataTable no-footer" role="grid" aria-describedby="tblExpenseClaimRequest_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class=" col-sm-5" tabindex="0" aria-controls="tblExpenseClaimRequest" rowspan="1" colspan="1" aria-label="
                        *&amp;nbsp;   Attachment
                    : activate to sort column ascending">
                                <span class="required-field" style="@string.Format("display:{0}", IsSampleView == false  && CurrentRecord ==0 ? "inline-block" :"none")">*</span>&nbsp;
                                Attachment
                            </th>
                            <th class=" col-sm-6" tabindex="0" aria-controls="tblExpenseClaimRequest" rowspan="1" colspan="1" aria-label="
                        *&amp;nbsp; Total (AED)
                    : activate to sort column ascending">
                                <span class="required-field" style="@string.Format("display:{0}", IsSampleView == false  && CurrentRecord ==0 ? "inline-block" :"none")">*</span>&nbsp;
                                Notes
                            </th>
                            <th class="text-center col-sm-1" tabindex="0" aria-controls="tblExpenseClaimRequest" rowspan="1" colspan="1" aria-label="
                            Action
                        : activate to sort column ascending">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="@string.Format("rowId_{0}",CurrentRecord.ToString())" data-fileid="@Model.FileID" data-goalnotedetailid="@DevelopmentGoalNoteID" class="edit1 even" data-rowid="@CurrentRecord" data-rowtype="attachmentdatarow">
                            <td>
                                <div class="input-group">
                                    <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                        <span style="@string.Format("display:{0}", Model.FileID == 0 ? "none" :"block")" class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_Attachment"> </span><div id="file_caption_id_Attachment">@String.Format("{0}", !string.IsNullOrEmpty(Model.FileName) ? Model.FileName : "No file choosen") </div>
                                    </div>
                                    <div class="input-group-btn">
                                        <button style="@string.Format("display:{0}", Model.FileID > 0 ? "block" :"none")" type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_Attachment" onclick="RemoveDocument('Attachment', 'JobDescriptionFileID',this)"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>

                                        <div class="btn btn-primary btn-file" id="divBrowse_Attachment" style="@string.Format("display:{0}", Model.FileID == 0 ? "block" :"none")">
                                            <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_Attachment" class="Attachment">
                                        </div>
                                    </div>
                                </div>

                                <div class="hide" id="attachmentErrorFile">
                                    <span class="field-validation-error">
                                        <span>This field is mandatory</span>
                                    </span>
                                </div>
                                <span id="txtuploadedMsgAdd_Attachment" style="margin-top: 3px;display:none;"> </span>
                                <div id="divPreview_Attachment">
                                    <a id="PreviewFile" href="#" onclick="OpenFilePreview('DevelopmentPlan',@Model.FileID);">@Model.FileName</a>
                                </div>
                                <input type="hidden" value="0" id="hdnDeletedFileUpload_Attachment" />
                            </td>
                            <td>
                                <textarea type="text" placeholder="Note" class="form-control accomplishments" cols="20" name="item.Accomplishments" rows="1" id="note">@note</textarea>
                                <div class="hide" id="attachmentErrorNote">
                                    <span class="field-validation-error">
                                        <span>This field is mandatory</span>
                                    </span>
                                </div>
                            </td>
                            <td class="text-center padding-0">
                                <div class="text-center assetaction">
                                    @if (!IsMyPlanScreen)
                                    {
                                        <a class="btn btn-primary btn-rounded btn-condensed glyphicon" onclick="AddMore();">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    @if (CurrentRecord > 1 || IsSampleView == true)
                                    {
                                        <a class="btn padding-0" onclick="return Remove($(this));"><span class="btn btn-primary btn-rounded btn-condensed glyphicon glyphicon-trash"></span></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
