﻿<div class="row">
    <div class="col-sm-12">
        <fieldset class="fieldset-Section">
            <legend class="legend-border">
                <span class="label-control legend-title-font">Section 2: Job Competencies</span>
                
            </legend>
            <div class="col-lg-12 form-group">
                <table id="tblJobCompetenciesFormC" class="table  table-bordered alternatecolor"></table>
            </div>
        </fieldset>
    </div>
</div>

