﻿ @*@model HRMS.Entities.DevelopmentPlanPDRPModel
    @using HRMS.Entities.PDRP;*@
    @{
        int isEditable = 1;
        //if (Model.FullFormMode <= 1)
        //{
        //    if (Model.EmployeeBasedGroup == false)
        //    {
        //        isEditable = 0;
        //    }
        //}
        //if (Model.IsFullSignOffForm) //*** At Final State with Employee
        //{
        //    isEditable = 0;
        //}
        //if (Model.IsAddMode == false)
        //{
        //    isEditable = 0;
        //}
        int Rowno = 1;
    } 
 


<div class="row margin_bottom">
    <div class="col-sm-12">
        <fieldset>
            <legend>Section 2: Business Targets</legend>
            <div class="col-lg-12 form-group">
                <table class="table  table-bordered alternatecolor">
                    <thead>
                        <tr>
                            <td class="col-md-1 ">Sr No.</td>
                            <td class="col-md-4">Business Targets</td>
                            <td class="col-md-3">Accomplishments</td>
                            <td class="col-md-1 ">Weight</td>
                            <td class="col-md-1">Rating</td>
                            <td class="col-md-1">Score</td>
                            <td class="col-md-1 ">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="businesstargetandweightsection" data-businesstargetid="61">
                            <td>1</td>
                            <td>
                                <p>Test</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p>44</p>
                            </td>
                            <td>
                                <p>5</p>
                            </td>
                            <td>
                                <div class="font-Bold">
                                    <p>2.20</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <a>Add</a>
                            </td>
                        </tr>
                        <tr class="businesstargetandweightsection" data-businesstargetid="62">
                            <td class="">2</td>
                            <td>
                                <p>Test second</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p>40</p>
                            </td>
                            <td>
                                <p>5</p>
                            </td>
                            <td class="">
                                <div id="divScore" class="font-Bold">
                                    <p>2.00</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <a>Add</a>
                            </td>
                        </tr>
                        <tr class="businesstargetandweightsection" data-businesstargetid="63">
                            <td class="">3</td>
                            <td></td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p>10</p>
                            </td>
                            <td>
                                <p>2</p>
                            </td>
                            <td class="">
                                <div id="divScore" class="font-Bold">
                                    <p>0.20</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <a>Add</a>
                            </td>
                        </tr>
                        <tr class="businesstargetandweightsection" data-businesstargetid="64">
                            <td class="">4</td>
                            <td></td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p>6</p>
                            </td>
                            <td>
                                <p>1</p>
                            </td>
                            <td class="">
                                <div id="divScore" class="font-Bold">
                                    <p>0.06</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <a class="btn">Add</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="2">
                                <span class=""> Total Kpi 100 %</span>
                            </td>
                            <td>
                                100%
                            </td>
                            <td></td>
                            <td>
                                <div id="divBusinessTargetsTota">
                                    4.46
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Section 3: Core Competencies
            </legend>
            <div class="col-lg-12 form-group">
                <table id="tblProfessionalCompetenciesFormC" class="table  table-bordered alternatecolor">
                    <thead>
                        <tr>
                            <td class="col-md-1 ">Sr no.</td>
                            <td class="col-md-9">Professional Competencies</td>
                            <td class="col-md-1 ">Rating</td>
                            <td class="col-sm-1"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clsProfessionalCompetencies">
                            <td class="">1</td>
                            <td>
                                <b>Communication </b>
                                <span>
                                    Communication demonstrates an understanding of the view of others. Communicates in a real and logical manner using appropriate language. Listens attentively to views an issues of others.
                                    Adapts appropriate methods of communication for each situation. Conveys and receives information effectively and builds positive working relationships. Body language is positive and open. Written communication is
                                    professional and business appropriate.
                                </span>
                            </td>

                            <td>
                                <p>2</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(2,1,'Communication');">Add</a></td>
                        </tr>
                        <tr class="clsProfessionalCompetencies">
                            <td class="">2</td>
                            <td>
                                <b>Decision Making </b>
                                <span>
                                    Is able to analyze situations, diagnose problems, identify the key issues, establish and evaluate alternative courses of action and produce a logical, practical and accetable solution. Is able to make
                                    effective decisions on day-to-day basis, taking ownership of decisions, demonstrating sound judgement in escalating issues where necessary.

                                </span>
                            </td>

                            <td>
                                <p>1</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(2,2,'Decision Making');">Add</a></td>
                        </tr>
                        <tr class="clsProfessionalCompetencies">
                            <td class="">3</td>
                            <td>
                                <b> </b>
                                <span>
                                    Diligently attends to details and pursues quality in accomplishing tasks. Performs tasks with care and is thorough. Makes few errors, Checks work to ensure accuracy and
                                    completeness. Reviews work before submitting. Is alert and takes care of details that easy to overlook or dismiss as unimportant.

                                </span>Quality Orientation and Accuracy
                            </td>

                            <td>
                                <p>2</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(2,3,'Quality Orientation and Accuracy');">Add</a></td>
                        </tr>
                        <tr class="clsProfessionalCompetencies">
                            <td class="">4</td>
                            <td>
                                <b>Initiative </b>
                                <span>

                                    Identifies what needs to be done and dose it before being asked or before the situation requires it. Does more than what is normally required in a situation. Seeks out others involved in a situation to learn
                                    their perspectives. Takes independent action to change the direction of events. Comes up with new ideas to alter current operational processes that may be old or infective. Goes the extra mile and is keen to be part
                                    of projects within the company that may be beyond expectations from him/her.

                                </span>
                            </td>

                            <td>
                                <p>1</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,4,'Initiative');">Add</a></td>
                        </tr>
                        <tr class="clsProfessionalCompetencies">
                            <td class="">5</td>
                            <td>
                                <b>Technical skills </b>
                                <span>

                                    demonstrates depth of knowlege and skill in technical area. Effectively applies technical knowledge to solve range of problems. Processes strong knowledge and skill in their technical area.
                                    Develops technical solutions to new or highly complex problems that can not be solved using existing methods or approaches. Stays informed about changes in their area of experties/knowledge.

                                </span>
                            </td>

                            <td>
                                <p>1</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,5,'Technical skills');">Add</a></td>
                        </tr>

                        <tr>
                            <td colspan="2" class="text-right">Total</td>
                            <td class="text-right">
                                <div id="divProfessionalTotalScore">
                                    1.40
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


                <table id="tblBehavioralCompetenciesFormC" class="table  table-bordered alternatecolor">
                    <thead>
                        <tr>
                            <td class="col-md-1 ">Sr no.</td>
                            <td class="col-md-9">Behavioral Competencies</td>
                            <td class="col-md-1">Rating</td>
                            <td class="col-sm-1"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clsBehavioralCompetencies">
                            <td class="">1</td>
                            <td>
                                <b>Team Work </b>
                                <span>

                                    Works cooperatively and flexibly with other members of the team with a full understanding of the role to be played as a team member to acheive a common goal. Acts in a supportive manner to the
                                    team. Encourages team unity through sharing information or experties, working together to solve problems, and putting team success first.

                                </span>
                            </td>

                            <td>
                                <p>2</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,2,'Set KPIs');">Add</a></td>
                        </tr>
                        <tr class="clsBehavioralCompetencies">
                            <td class="">2</td>
                            <td>
                                <b>Planning and Organizing </b>
                                <span>

                                    Plans and organizes their own work through a clear understanding of their objectives and targets. planning, organising and/or monitoring one's own work and ensures achievement of
                                    desired results. Requires little follow up and keeps mmanger informed of progress. Identifies what resources and people are required to get the work done and plans these well in advance - not last minute.

                                </span>
                            </td>
                            <td>
                                <p>1</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,2,'Set KPIs');">Add</a></td>
                        </tr>
                        <tr class="clsBehavioralCompetencies">
                            <td class="">3</td>
                            <td>
                                <b>Adaptibility/Flexibility </b>
                                <span>

                                    Is open to different and new ways of doing things and is willing to modify their preffered way of doing things, Demonstrates openeness to new organizational structures, procedures and
                                    technology. Switches to a different strategy when an initialy seelcted one is unsuccessfull. is open other people's point of view - adapts easly to organizational changes.

                                </span>
                            </td>
                            <td>
                                <p>1</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,2,'Set KPIs');">Add</a></td>
                        </tr>
                        <tr class="clsBehavioralCompetencies">
                            <td class="">4</td>
                            <td>
                                <b>Self Confidence </b>
                                <span>

                                    Has faith in one's own ideas and capalibility to be successfull and is willing to stand by their point of view if it is logical. Is confident of own ability to accomplish goals, Presents themselves crisply and
                                    impressively. Is willing to speak to the right person, or group at the right time, when he/she disagrees with decision a strategy. Approaches challenging tasks with a "can-do" attitude.

                                </span>
                            </td>

                            <td>
                                <p>2</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,2,'Set KPIs');">Add</a></td>
                        </tr>
                        <tr class="clsBehavioralCompetencies">
                            <td class="">5</td>
                            <td>
                                <b>Creativity and Innovation</b>
                                <span>

                                    Develops fresh ideas that provide solutions to all types of workplace challanges. Sees old problems in new ways and has new approaches to solving those problems. Contibutes original
                                    ideas in brainstorming sessions. Finds ways to turn the ideas into reality. Experiments with new ideas, methodologies, and procedures. Is wiling to try new ways of doing things.

                                </span>
                            </td>
                            <td>
                                <p>2</p>
                            </td>
                            <td class="text-center"><a onclick="GetDevelopmentGoalFormData(3,2,'Set KPIs');">Add</a></td>
                        </tr>

                        <tr>
                            <td colspan="2" class="text-right">Total</td>
                            <td class="text-right">
                                <div id="divBehavioralTotalScore">
                                    1.00
                                </div>

                                <input data-val="true" data-val-required="The BehavioralCompetenciesAVG field is required." name="FormCKPIModel.BehavioralCompetenciesAVG" type="hidden" value="1.00" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            @*<div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-12 padding-0">
                            <label class="label-form">Comments if applicable</label>
                        </div>
                        <div class="col-sm-12 padding-0">
                            <textarea class="form-control" cols="20"  name="FormCKPIModel.CompetenciesComments" rows="3">test</textarea>
                        </div>
                    </div>
                </div>*@
        </fieldset>
    </div>
</div>


