﻿@model HRMS.Entities.DevelopmentPlanPDRPModel
@using HRMS.Entities.PDRP;
@using HRMS.Entities.Common;
@using HRMS.Entities;
@if (Model.AppraisalKPIsListModel != null && Model.AppraisalKPIsListModel.AppraisalKPIsModel !=null && Model.AppraisalKPIsListModel.AppraisalKPIsModel.Count > 0)
{
    if (Model.AppraisalKPIsListModel != null && Model.AppraisalKPIsListModel.AppraisalKPIsModel != null && Model.AppraisalKPIsListModel.AppraisalKPIsModel.Any())
    {
        <div class="row margin_bottom">
            <div class="col-sm-12">
                <fieldset class="fieldset-Section">
                    <legend class="legend-border">
                        <span class="label-control legend-title-font">
                            Section 2: Set KPIs (50%)
                        </span>
                    </legend>

                    <div class="col-lg-12  form-group">
                        <table class="table  table-bordered alternatecolor">
                            <thead>
                                <tr>
                                    <td class="col-sm-1 ">
                                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIOrder)
                                    </td>

                                    <td class="col-sm-1 brd c">
                                         @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIAreaEng)
                                    </td>
                                    <td class="col-sm-1 brd c">
                                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIAreaArab)
                                    </td>
                                    <td class="col-sm-2 brd c">
                                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIDescriptionEng)
                                    </td>

                                    <td class="col-sm-2 brd c">
                                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIDescriptionArab)
                                    </td>
                                    <td class="col-sm-1 ">
                                        @Html.DisplayNameFor(m => m.AppraisalKPIsListModel.AppraisalKPIsModel[0].KPIWeightage) %
                                    </td>
                                    <td class="col-sm-1 ">
                                        @PDRPAnnualAppraisalXMLResources.GetResource("Accomplishments")
                                    </td>
                                    <td class="col-sm-1 ">
                                        @PDRPAnnualAppraisalXMLResources.GetResource("Rating")
                                    </td>
                                    <td class="col-sm-1 ">
                                        @PDRPAnnualAppraisalXMLResources.GetResource("Score")
                                    </td>
                                    <td class="col-sm-1 text-center">Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowcounter = 1;
                                }
                                @foreach (var app in Model.AppraisalKPIsListModel.AppraisalKPIsModel.Where(app => !string.IsNullOrEmpty(app.KPIYear)))
                                {
                                    <tr class="@string.Format("{0}", app.Ratings <=3 ? "bg-lred" : string.Empty)">
                                        <td class="col-sm-1">
                                            <p class="col-sm-12">
                                                @(rowcounter++)
                                            </p>
                                        </td>
                                        <td class="col-sm-1 brd">
                                            <p class="brword">
                                                @app.KPIAreaEng
                                            </p>

                                        </td>
                                        <td class="col-sm-1 brd">
                                            <p class="brword">
                                                @app.KPIAreaArab
                                            </p>

                                        </td>
                                        <td class="col-sm-2 brd">
                                            <p class="brword">
                                                @app.KPIDescriptionEng
                                            </p>

                                        </td>
                                        <td class="col-sm-2 brd">
                                            <p class="brword">
                                                @app.KPIDescriptionArab
                                            </p>
                                        </td>
                                        <td class="col-sm-1">

                                            <p class="brword">
                                                @app.KPIWeightage
                                            </p>
                                        </td>
                                        <td class="col-sm-1">
                                            <label class="brword">
                                                @app.Accomplishments
                                            </label>
                                        </td>
                                        <td class="col-sm-1">
                                            <p class="brword">
                                                @app.Ratings
                                            </p>

                                        </td>
                                        <td class="col-sm-1">
                                            <p class="brword">
                                                @app.Score
                                            </p>
                                        </td>
                                        <td class="col-sm-1 text-center"><a class="btn"  onclick="GetDevelopmentGoalFormData(2,'@app.KPIId','Set KPIs','@app.KPIAreaEng',@Model.AnnualAppraisalID,0,true);">Add</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </fieldset>
            </div>
        </div>
    }
    <div class="row margin_bottom">
        <div class="col-sm-12">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-control legend-title-font">Section 3: Drop In Evaluation (30%)</span>

                </legend>
                <div class="col-lg-12  form-group">
                    <table class="table  table-bordered alternatecolor">
                        <thead>
                            <tr>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Sr")
                                </td>

                                <td class="col-sm-5 brd c">
                                    KPI
                                </td>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Weight")
                                </td>
                                <td class="col-sm-2 ">
                                    @PDRPCommonXMLResources.GetCommonPDRPResource("Comments")
                                </td>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Rating")
                                </td>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Score")
                                </td>
                                <td class="col-sm-1 text-center">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="@string.Format("{0}", Model.AppraisalTeachingModel.DropInRating <=3 ? "bg-lred" : string.Empty)">
                                <td class="col-sm-1">
                                    <p class="col-sm-12">
                                        1
                                    </p>
                                </td>
                                <td class="col-sm-5 brd">
                                    <a class="brword">
                                        @PDRPAnnualAppraisalXMLResources.GetResource("DropInsEvaluation")
                                    </a>

                                </td>
                                <td class="col-sm-1 brd">
                                    <p class="brword">
                                        30%
                                    </p>

                                </td>
                                <td class="col-sm-2 brd">
                                    <p class="brword">
                                        @Model.AppraisalTeachingModel.DropInComment
                                    </p>

                                </td>
                                <td class="col-sm-1">
                                    <p class="brword">
                                        @Model.AppraisalTeachingModel.DropInRating
                                    </p>

                                </td>
                                <td class="col-sm-1">
                                    <p class="brword">
                                        @Model.AppraisalTeachingModel.DropInScoreOverall
                                    </p>
                                </td>
                                <td class="col-sm-1 text-center">
                                    <a class="btn" onclick="GetDevelopmentGoalFormData(2,0,'Drop In Evaluation','@PDRPAnnualAppraisalXMLResources.GetResource("DropInsEvaluation")', @Model.AnnualAppraisalID,0,true);">Add</a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row margin_bottom">
        <div class="col-sm-12">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-control legend-title-font">Section 4: Lesson Observation Evaluation (20%)</span>

                </legend>
                <div class="col-lg-12  form-group">
                    <table class="table  table-bordered alternatecolor">
                        <thead>
                            <tr>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Sr")
                                </td>

                                <td class="col-sm-5 brd c">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Observations")
                                </td>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Weight")
                                </td>
                                <td class="col-sm-2 ">
                                    @PDRPCommonXMLResources.GetCommonPDRPResource("Comments")
                                </td>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Rating")
                                </td>
                                <td class="col-sm-1 ">
                                    @PDRPAnnualAppraisalXMLResources.GetResource("Score")
                                </td>
                                <td class="col-sm-1 text-center"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="@string.Format("{0}", Model.AppraisalTeachingModel.ObservEvlRating <=3 ? "bg-lred" : string.Empty)">
                                <td class="col-sm-1">
                                    <p class="col-sm-12">
                                        1
                                    </p>
                                </td>
                                <td class="col-sm-5 brd">
                                    <a class="brword">
                                        @PDRPAnnualAppraisalXMLResources.GetResource("LessonObservationEvaluation")
                                    </a>

                                </td>
                                <td class="col-sm-1 brd">
                                    <p class="brword">
                                        20%
                                    </p>

                                </td>
                                <td class="col-sm-2 brd">
                                    <p class="brword">
                                        @(Model.AppraisalTeachingModel.ObservEvlComment)
                                    </p>

                                </td>
                                <td class="col-sm-1">
                                    <p class="brword">
                                        @(Model.AppraisalTeachingModel.ObservEvlRating)
                                    </p>

                                </td>
                                <td class="col-sm-1">
                                    <p class="brword">
                                        @(Model.AppraisalTeachingModel.ObservEvlScoreOverall)
                                    </p>
                                </td>
                                <td class="col-sm-1 text-center"><a class="btn" onclick="GetDevelopmentGoalFormData(2,0,'Lesson Observation Evaluation','@PDRPAnnualAppraisalXMLResources.GetResource("Observations")', @Model.AnnualAppraisalID,0,true);">Add</a></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
}
else 
{
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-control legend-title-font">No Recrods Found</span>

                </legend>
                <div class="col-lg-12 form-group field-validation-error text-center">
                    PDRP data not exists for the above employee.
                </div>
            </fieldset>
        </div>
    </div>
}
