﻿@model HRMS.Entities.DevelopmentPlanPDRPModel
@using HRMS.Entities.PDRP;
@{
    bool showNoMessageText = true;
    int sectionCounter = 1;
    int rowcounter = 1;
    double score = 0;
}
@if (Model != null && Model.FormKPIModelList != null && Model.FormKPIModelList.Count() > 0)
{
    showNoMessageText = false;
    <div class="row margin_bottom">
        <div class="col-sm-12">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-control legend-title-font">@String.Format("Section {0}: Business Targets", ++sectionCounter)</span>
                </legend>
                <div class="col-lg-12 form-group">
                    <table class="table  table-bordered alternatecolor">
                        <thead>
                            <tr>
                                <td class="col-md-1 ">Sr No.</td>
                                <td class="col-md-4">Business Targets</td>
                                <td class="col-md-3">Accomplishments</td>
                                <td class="col-md-1 ">Weight</td>
                                <td class="col-md-1">Rating</td>
                                <td class="col-md-1">Score</td>
                                <td class="col-md-1 text-center">Action</td>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                rowcounter = 1;
                            }
                            @foreach (var kpiDetail in Model.FormKPIModelList.Where(m => m.Weight > 0))
                            {
                                <tr class="@string.Format("businesstargetandweightsection {0}", kpiDetail.Rating <=3 ? "bg-lred" : string.Empty)" data-businesstargetid="61">
                                    <td>@(rowcounter++)</td>
                                    <td>
                                        <p>@kpiDetail.BusinessTargetDetails</p>
                                    </td>
                                    <td>
                                        <p>@kpiDetail.Accomplishments</p>
                                    </td>
                                    <td>
                                        <p>@kpiDetail.Weight</p>
                                    </td>
                                    <td>
                                        <p>@kpiDetail.Rating</p>
                                    </td>
                                    <td>
                                        <div class="font-Bold">
                                            <p>@kpiDetail.Score</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a onclick="GetDevelopmentGoalFormData(2,'@kpiDetail.KPIId','Business Targets','@kpiDetail.BusinessTargetDetails',@Model.AnnualAppraisalID,0,true);" class="btn">Add</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    @{
                                        var TotalWeight = Model.FormKPIModelList.Select(s => s.Weight).Sum();
                                        double totalWeightPercentage = (TotalWeight == null) ? 0 : ((Convert.ToDouble(TotalWeight) / 100) * 100);
                                    }
                                    <span class="pull-right font-Bold"> Total Kpi @totalWeightPercentage %</span>
                                </td>

                                <td>
                                    100%
                                </td>
                                <td></td>
                                <td class="text-right">
                                    <div id="divBusinessTargetsTota">
                                        @Model.FormKPIModelList.Select(s => s.Score).Sum()
                                    </div>
                                </td>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
}
@if (Model.ProfessionalCompetencies != null && Model.ProfessionalCompetencies.Any() || (Model.BehavioralCompetencies != null && Model.BehavioralCompetencies.Any()))
{
    showNoMessageText = false;
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-control legend-title-font">@String.Format("Section {0}: Core Competencies", ++sectionCounter)</span>

                </legend>
                <div class="col-lg-12 form-group">

                    @if (Model.ProfessionalCompetencies != null && Model.ProfessionalCompetencies.Any())
                    {
                        rowcounter = 1;
                        score = 0;
                        <table id="tblProfessionalCompetenciesFormC" class="table  table-bordered alternatecolor">
                            <thead>
                                <tr>
                                    <td class="col-md-1 ">Sr no.</td>
                                    <td class="col-md-9">Professional Competencies</td>
                                    <td class="col-md-1 ">Rating</td>
                                    <td class="col-sm-1 text-center">Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProfessionalCompetencies item in Model.ProfessionalCompetencies)
                                {
                                    Double.TryParse(item.Score, out score);
                                    <tr class="@string.Format("clsProfessionalCompetencies {0}", score <=3 ? "bg-lred" : string.Empty)">
                                        <td class="">@(rowcounter++)</td>
                                        <td>
                                            <b>@item.CompetencyName_1 </b>
                                            <span>
                                                @item.CompetencyDescription_1
                                            </span>
                                        </td>
                                        <td>
                                            <p>@item.Score</p>
                                        </td>
                                        <td class="text-center"><a class="btn" onclick="GetDevelopmentGoalFormData(2,'@item.CompetencyID','Professional Competencies','@item.CompetencyName_1',@Model.AnnualAppraisalID,0,true);">Add</a></td>
                                    </tr>

                                    }

                                </tbody>
                        </table>
                    }
                    @if (Model.BehavioralCompetencies != null && Model.BehavioralCompetencies.Any())
                    {
                        rowcounter = 1;
                        score = 0;

                        <table id="tblBehavioralCompetenciesFormC" class="table  table-bordered alternatecolor">
                            <thead>
                                <tr>
                                    <td class="col-md-1 ">Sr no.</td>
                                    <td class="col-md-9">Behavioral Competencies</td>
                                    <td class="col-md-1">Rating</td>
                                    <td class="col-sm-1 text-center">Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BehavioralCompetencies competency in Model.BehavioralCompetencies)
                                {
                                    Double.TryParse(competency.Score, out score);
                                    <tr class="@string.Format("clsBehavioralCompetencies {0}", score <=3 ? "bg-lred" : string.Empty)">
                                        <td class="">@(rowcounter++)</td>
                                        <td>
                                            <b>@competency.CompetencyName_1 </b>
                                            <span>
                                                @competency.CompetencyDescription_1
                                            </span>
                                        </td>

                                        <td>
                                            <p> @competency.Score</p>
                                        </td>
                                        <td class="text-center"><a class="btn" onclick="GetDevelopmentGoalFormData(2,'@competency.CompetencyID','Behavioral Competencies','@competency.CompetencyName_1',@Model.AnnualAppraisalID,0,true);">Add</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }

                </div>

            </fieldset>
        </div>
    </div>

}
@if (showNoMessageText)
{
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-control legend-title-font">No Recrods Found</span>

                </legend>
                <div class="col-lg-12 form-group field-validation-error text-center">
                    PDRP data not exists for the above employee.
                </div>
            </fieldset>
        </div>
    </div>
}
