﻿<div class="row margin_bottom">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Section 2: Set KPIs (50%)
            </legend>
            <div class="col-lg-12  form-group">
                <table class="table  table-bordered alternatecolor">
                    <thead>
                        <tr>
                            <td class="col-sm-1 ">
                                No
                            </td>

                            <td class="col-sm-1 brd c">
                                <span class="required-field">*</span>&nbsp; KPI Area (English)
                            </td>
                            <td class="col-sm-1 brd c">
                                KPI Area (Arabic)
                            </td>
                            <td class="col-sm-2 brd c">
                                KPI Description (English)
                            </td>

                            <td class="col-sm-2 brd c">
                                KPI Description (Arabic)
                            </td>
                            <td class="col-sm-1 ">
                                Weightage %
                            </td>
                            <td class="col-sm-1 ">
                                Accomplishments
                            </td>
                            <td class="col-sm-1 ">
                                Rating
                            </td>
                            <td class="col-sm-1 ">
                                Score
                            </td>
                            <td class="col-sm-1">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="col-sm-1">
                                <p class="col-sm-12">
                                    1
                                </p>
                            </td>
                            <td class="col-sm-1 brd">
                                <p class="brword">
                                    ASD
                                </p>

                            </td>
                            <td class="col-sm-1 brd">
                                <p class="brword">

                                </p>

                            </td>
                            <td class="col-sm-2 brd">
                                <p class="brword">

                                </p>

                            </td>
                            <td class="col-sm-2 brd">
                                <p class="brword">

                                </p>

                            </td>


                            <td class="col-sm-1">

                                <p class="brword">
                                    50
                                </p>
                            </td>
                            <td class="col-sm-1">
                                <label class="brword">
                                    SDG
                                </label>
                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    4
                                </p>

                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    100.00
                                </p>
                            </td>
                            <td class="col-sm-1 text-center"><a data-toggle="modal" data-target="#myModal" onclick="GetDevelopmentGoalFormData(3,2,'Set KPIs');" class="btn">Add</a></td>
                        </tr>
                        <tr class="">
                            <td class="col-sm-1">
                                <p class="col-sm-12">
                                    2
                                </p>
                            </td>
                            <td class="col-sm-1 brd">
                                <p class="brword">
                                    ASD
                                </p>

                            </td>
                            <td class="col-sm-1 brd">
                                <p class="brword">

                                </p>

                            </td>
                            <td class="col-sm-2 brd">
                                <p class="brword">

                                </p>

                            </td>
                            <td class="col-sm-2 brd">
                                <p class="brword">

                                </p>
                            </td>
                            <td class="col-sm-1">

                                <p class="brword">
                                    50
                                </p>
                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    SDG
                                </p>
                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    4
                                </p>
                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    100.00
                                </p>
                            </td>
                            <td class="col-sm-1 text-center"><a data-toggle="modal" data-target="#myModal" onclick="GetDevelopmentGoalFormData(3,4,'Lesson Observation Evaluation');">Add</a></td>
                        </tr>
                        <tr>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-5" colspan="4"><label class="col-sm-12 text-right">Total % on KPI:</label></td>
                            <td class="col-sm-1">100%</td>
                            <td class="col-sm-2" colspan="2"><lable class="col-sm-12 text-right">Set KPI Final Score</lable></td>
                            <td class="col-sm-1">
                                <div id="divTotalKPIScore">
                                    150.00
                                </div>
                            </td>
                            <td class="col-sm-1"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<div class="row margin_bottom">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Section 3: Drop In Evaluation (30%)
            </legend>
            <div class="col-lg-12  form-group">
                <table class="table  table-bordered alternatecolor">
                    <thead>
                        <tr>
                            <td class="col-sm-1 ">
                                Sr.
                            </td>

                            <td class="col-sm-5 brd c">
                                KPI
                            </td>
                            <td class="col-sm-1 ">
                                Weightage %
                            </td>
                            <td class="col-sm-2 ">
                                Comments
                            </td>
                            <td class="col-sm-1 ">
                                Rating
                            </td>
                            <td class="col-sm-1 ">
                                Score
                            </td>
                            <td class="col-sm-1"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="col-sm-1">
                                <p class="col-sm-12">
                                    1
                                </p>
                            </td>
                            <td class="col-sm-5 brd">
                                <a class="brword">
                                    Drop-Ins Evaluation
                                </a>

                            </td>
                            <td class="col-sm-1 brd">
                                <p class="brword">
                                    30%
                                </p>

                            </td>
                            <td class="col-sm-2 brd">
                                <p class="brword">
                                    SDG
                                </p>

                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    2
                                </p>

                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    78.28
                                </p>
                            </td>
                            <td class="col-sm-1 text-center">
                                <a onclick="GetDevelopmentGoalFormData(3,3,'Drop In Evaluation');">Add</a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<div class="row margin_bottom">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Section 4: Lesson Observation Evaluation (20%)
            </legend>
            <div class="col-lg-12  form-group">
                <table class="table  table-bordered alternatecolor">
                    <thead>
                        <tr>
                            <td class="col-sm-1 ">
                                Sr.
                            </td>

                            <td class="col-sm-5 brd c">
                                Observation
                            </td>
                            <td class="col-sm-1 ">
                                Weightage %
                            </td>
                            <td class="col-sm-2 ">
                                Comments
                            </td>
                            <td class="col-sm-1 ">
                                Rating
                            </td>
                            <td class="col-sm-1 ">
                                Score
                            </td>
                            <td class="col-sm-1"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="col-sm-1">
                                <p class="col-sm-12">
                                    1
                                </p>
                            </td>
                            <td class="col-sm-5 brd">
                                <a class="brword">
                                    Lesson Observation Evaluation
                                </a>

                            </td>
                            <td class="col-sm-1 brd">
                                <p class="brword">
                                    20%
                                </p>

                            </td>
                            <td class="col-sm-2 brd">
                                <p class="brword">
                                    SDG
                                </p>

                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    5
                                </p>

                            </td>
                            <td class="col-sm-1">
                                <p class="brword">
                                    100.00
                                </p>
                            </td>
                            <td class="col-sm-1 text-center"><a onclick="GetDevelopmentGoalFormData(3,4,'Lesson Observation Evaluation');">Add</a></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
