﻿@model HRMS.Entities.DevelopmentGoalModel
@using HRMS.Entities
@{
    ViewBag.Title = "HRMS - Development Goal Form";
    var activeDevelopmentGoals = ViewBag.DevelopmentGoals != null ? (List<DevelopmentGoalViewModel>)ViewBag.DevelopmentGoals : new List<DevelopmentGoalViewModel>();
    Model.RequestedDate = DateTime.Now;
    bool IsMyPlanScreen = ViewBag.IsMyPlanScreen != null ? Convert.ToBoolean(ViewBag.IsMyPlanScreen) : false;
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/DevelopmentPlan/Index">Development Plans</a></li>
        @if (Model.ID == 0)
        {
            <li><a href="/DevelopmentPlan/DevelopmentGoalPDRP">Development Goal</a></li>
        }
        <li class="active">Development Goal Form</li>
    </ul>

}
<div class="page-content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-8 padding-1">
                        <h3 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            @string.Format("Development Goal Form {0}", !string.IsNullOrEmpty(Model.RequestNumber) ? "[Request ID: " + Model.RequestNumber + "]" : string.Empty)
                        </h3>
                    </div>
                    <div class="@string.Format("pull-right {0}",IsMyPlanScreen == true? "col-sm-1 " : "col-sm-2")">
                        <div class="col-lg-12">
                            @if (!IsMyPlanScreen)
                            {
                            <div id="TopButtons" class="col-lg-10 padding-0 right-text-align">
                                <a href="javascript:void(0);" title="Submit Development Plan" id="btnSavebtnDevelopmentGoal" class="btn btn-primary btn-rounded btn-condensed btn-sm btn-submit btnSave"><i class="fa fa-check"></i></a>
                            </div>
                            }
                            <div class="col-lg-2 padding-0">
                                <a href="@string.Format("{0}", Model.ID ==0 ? "/DevelopmentPlan/DevelopmentGoalPDRP" : "/developmentplan/index")" title="@string.Format("{0}", Model.ID==0 ? "Back to Development Plans" :"Back To Development Plan" )" style="margin-left: 3px;" class=" btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmDevelopmentGoalFromSave" }))
                {
                    <div id="developmentGoalSection">
                        @Html.HiddenFor(m => m.ID)
                        @Html.HiddenFor(m => m.EmployeeID)
                        @Html.HiddenFor(m => m.RequesterEmployeeID)
                        @Html.HiddenFor(m => m.CompanyId)
                        @Html.HiddenFor(m => m.DepartmentID, new { @Value = 10 })
                        @Html.HiddenFor(m => m.DPCategoryID)
                        @Html.HiddenFor(m => m.SectionRecordID)
                        @Html.HiddenFor(m => m.SectionName)
                        @Html.HiddenFor(m => m.EmployeeEmail, new { @Value = "prashant@fraction.tech" })
                        @Html.HiddenFor(m => m.ReqStatusID, new { @Value = 1 })
                        @Html.HiddenFor(m => m.TrainingStatus, new { @Value = "Active" })
                        @Html.HiddenFor(m => m.SecondLMEmployeeID, new { @Value = 0 })
                        @Html.HiddenFor(m => m.PositionID)
                        @Html.HiddenFor(m => m.RequestedDate)
                        @Html.HiddenFor(m => m.AnnualAppraisalID)
                        @Html.HiddenFor(m => m.JobDesignationCompetencyID)
                        <div class="panel-body">
                            <fieldset class="fieldset-Section">
                                <legend class="legend-border">
                                    <span class="label-control legend-title-font">Development Goal Information:</span>
                                </legend>
                                <div class="row margin_bottom">
                                    @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 49, requestDate = DateTime.Now, employeeID = Model.EmployeeID, isAddMode = true, formProcessId = 0 }); }
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 margin_bottom panel-body">
                            <fieldset class="fieldset-Section">
                                <legend class="legend-border">
                                    <span class="label-control legend-title-font"> Development Goal Details:</span>
                                </legend>
                                <div class="row margin_bottom form-group padding-0">
                                    <div class="col-sm-6 padding-1">
                                        <div class="col-sm-12  form-group ">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Goal Name:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.GoalName, new { @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "GoalName", placeholder = "Goal Name", required = "required", })
                                                @Html.ValidationMessageFor(m => m.GoalName)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group ">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Goal Description:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.GoalDescription, new { @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "GoalDescription", placeholder = "Goal Description", required = "required" })
                                                @Html.ValidationMessageFor(m => m.GoalDescription)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Tie to KPI/Competency:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.KPICompetency, new { @id = "kpicompetency", @readonly = "readonly", @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "KPICompetency", placeholder = "Tie to KPI/Competency", required = "required" })
                                                @Html.ValidationMessageFor(m => m.KPICompetency)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Learning Category:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.LearningCategoryId, (SelectList)ViewBag.LearningCategory, "Select Learning Category", new { @class = "form-control selectpicker selectpickerddl", @name = "ddlLearningCategory" })
                                                @Html.ValidationMessageFor(m => m.LearningCategoryId)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Activity Title:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.ActivityTitleId, (SelectList)ViewBag.TrainingCompetencies, "Select Training Competencies", new { @class = "form-control selectpicker selectpickerddl", @name = "ddlTrainingCompetencies" })
                                                @Html.ValidationMessageFor(m => m.ActivityTitleId)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                                <div class="col-sm-4 ">
                                                    <span class="required-field">*</span>&nbsp;
                                                    Activity Format:
                                                </div>
                                                <div class="col-sm-8">
                                                    @Html.DropDownListFor(m => m.ActivityFormatId, (SelectList)ViewBag.TrainingActivityFormat, "Select Activity Format", new { @class = "form-control selectpicker selectpickerddl", @name = "ddlActivityFormat" })
                                                    @Html.ValidationMessageFor(m => m.ActivityFormatId)
                                                </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Description:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.Description, new { @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "Description", placeholder = "Description", required = "required" })
                                                @Html.ValidationMessageFor(m => m.Description)
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-sm-6 padding-1">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4 ">
                                                <span class="required-field">*</span>&nbsp;
                                                Start Date:
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "datepickerc form-control", required = "required", autocomplete = "off", data_oldvalue = string.IsNullOrEmpty(Model.StartDate) ? string.Empty : Model.StartDate })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.StartDate)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Completion Date:
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                    @Html.TextBoxFor(m => m.CompletionDate, new { @class = "datepickerc  form-control ", required = "required", autocomplete = "off" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.CompletionDate)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Status of Development Goal:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.StatusID, (SelectList)ViewBag.StatusofDevelopmentGoal, "Select Development Goal Status", new { @class = "form-control selectpicker selectpickerddl", @name = "ddlDevelopmentGoal" })
                                                @Html.ValidationMessageFor(m => m.StatusID)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 margin_bottom">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Cost (if any):
                                                </div>
                                                <div class="col-sm-8 ">
                                                    @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @cols = "20", @rows = "1", @name = "Cost", placeholder = "Cost (if any)", data_d = "Please enter numeric value" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Success Measure:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.SuccessMeasures, new { @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "SuccessMeasures", placeholder = "Success Measure", required = "required" })
                                                @Html.ValidationMessageFor(m => m.SuccessMeasures)
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Support and Resources:
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.SupportAndResources, new { @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "SupportAndResources", placeholder = "Support and Resources", required = "required" })
                                                @Html.ValidationMessageFor(m => m.SupportAndResources)
                                            </div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-4">
                                                <span class="required-field">*</span>&nbsp;
                                                Suggested Provider (if any):
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.SuggestedProvider, new { @class = "col-sm-12 form-control accomplishments", @cols = "20", @rows = "1", @name = "SuggestedProvider", placeholder = "Suggested Provider (if any)", required = "required" })
                                                @Html.ValidationMessageFor(m => m.SuggestedProvider)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin_bottom padding-1">
                                    <fieldset class="fieldset-Section" id="developmentgoalactions" data-totalrecrods="@(Model.DevelopmentGoalActionSteps.Count ==0 ? 1 : Model.DevelopmentGoalActionSteps.Count)">
                                        <legend class="legend-border">
                                            <span class="label-control legend-title-font">Action Step Description</span>
                                        </legend>
                                        @Html.Partial("_ActionSteps", Model, new ViewDataDictionary() { { "IsSampleView", false }, { "IsMyPlanScreen", IsMyPlanScreen } })
                                    </fieldset>
                                </div>

                                <div class="row margin_bottom padding-1">
                                    <fieldset class="fieldset-Section" id="attachmentDiv" data-totalrecrods="@(Model.Attachments.Count ==0 ? 1 : Model.Attachments.Count)">
                                        <legend class="legend-border">
                                            <span class="label-control legend-title-font">Notes</span>
                                        </legend>
                                        @Html.Partial("_DevelopmentGoalAttachments", Model, new ViewDataDictionary() { { "IsSampleView", false }, { "IsMyPlanScreen", IsMyPlanScreen } })
                                    </fieldset>
                                </div>
                                <div class="col-sm-12 padding-0 mrgB5px hide">
                                    <div class="col-sm-7 text-right">
                                        <input type="button" class="btn-default btn mrgR5P" onclick="AddMore();" value="Add More">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="form-group pull-left">
                            @if (!IsMyPlanScreen)
                            {
                                <button type="button" title="Submit Request" id="btnSaveDevelopmentGoal" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>
                            }
                                <a href="@string.Format("{0}", Model.ID ==0 ? "/DevelopmentPlan/DevelopmentGoalPDRP" : "/developmentplan/index")" title="@string.Format("{0}", Model.ID==0 ? "Back to Development Plans" :"Back To Development Plan" )" style="margin-left: 3px;" class=" btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i>&nbsp;Back To List </a>

                                @if (ViewBag.FormProcessID != null && !string.IsNullOrEmpty(ViewBag.FormProcessID) && int.Parse(ViewBag.FormProcessID) > 0)
                                {
                                    <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                                    <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                                }
                            </div>
                    </div>

                }
                <div id="attachmentSampleDiv" class="hide">
                    @Html.Partial("_DevelopmentGoalAttachments", Model, new ViewDataDictionary() { { "IsSampleView", true },{ "IsMyPlanScreen",IsMyPlanScreen } })
                </div>

                <div id="developmentGoalActionsSampleDiv" class="hide">
                    @Html.Partial("_ActionSteps", Model, new ViewDataDictionary() { { "IsSampleView", true },{ "IsMyPlanScreen" , IsMyPlanScreen}})
                </div>
                @if (activeDevelopmentGoals.Any())
                {
                    var srNumber = 1;
                    <div class="row margin_bottom padding-1">
                        <div class="panel-body">
                            <fieldset class="fieldset-Section">
                                <legend class="legend-border">
                                    <span class="label-form legend-title-font">
                                        Active Developmet Goals
                                    </span>

                                </legend>
                                <div class="row margin_bottom">
                                    <div class="dataTables_wrapper no-footer">
                                        <table class="table  table-bordered alternatecolor dataTable no-footer" role="grid" aria-describedby="tblFormAssignmentGrid_info">
                                            <thead>
                                                <tr role="row">
                                                    <td class="sorting_asc">Sr. No</td>
                                                    <td class="sorting">Emp ID</td>
                                                    <td class="sorting">Employee Name</td>
                                                    <td class="sorting">Request No.</td>
                                                    <td class="sorting">Development Goal Name</td>
                                                    <td class="sorting">Learning Category</td>
                                                    <td class="sorting">Goal Category</td>
                                                    <td class="sorting">Start Date</td>
                                                    <td class="sorting">End Date</td>
                                                    <td class="sorting">Status</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var goal in activeDevelopmentGoals)
                                                {
                                                    <tr class="row1 odd" role="row">
                                                        <td><a class='btn' onclick="@string.Format("{0}", "ViewDevelopmentPlanDetail(" + goal.ID + "," + goal.CompanyID + "," + goal.OracleNumber +  ")")">@string.Format("Goal {0}", (srNumber++).ToString())</a></td>
                                                        <td>@goal.OracleNumber</td>
                                                        <td>@goal.EmployeeName</td>
                                                        <td>@goal.RequestNumber</td>
                                                        <td>@goal.GoalName</td>
                                                        <td>@goal.LearningCategory</td>
                                                        <td>@goal.CategoryName_1</td>
                                                        <td>@(goal.StartDate.HasValue == false ? string.Empty : goal.StartDate.Value.ToString("dd/MM/yyy"))</td>
                                                        <td>@(goal.CompletionDate.HasValue == false ? string.Empty : goal.CompletionDate.Value.ToString("dd/MM/yyy"))</td>
                                                        <td>@goal.StatusName_1</td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="hidden">
                                            <div class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 11 entries</div>
                                            <div class="dataTables_paginate paging_simple_numbers">
                                                <a class="paginate_button previous disabled" aria-controls="tblFormAssignmentGrid" data-dt-idx="0" tabindex="0">Previous</a>
                                                <span>
                                                    <a class="paginate_button current" aria-controls="tblFormAssignmentGrid" data-dt-idx="1" tabindex="0">1</a>
                                                    <a class="paginate_button " aria-controls="tblFormAssignmentGrid" data-dt-idx="2" tabindex="0">2</a>
                                                </span>
                                                <a class="paginate_button next" aria-controls="tblFormAssignmentGrid" data-dt-idx="3" tabindex="0">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                }

                <div class="panel-footer hidden">
                    <div class="col-sm-1">
                        <input type="button" class="btn btn-primary" value="Approve">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="/Scripts/Custom/DevelopmentPlan/DevelopmentPlan.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var IsMyPlanScreen = @IsMyPlanScreen.ToString().ToLower();
            debugger;
            if (IsMyPlanScreen) {
                $("#developmentGoalSection input[type='text'],#developmentGoalSection select,#developmentGoalSection textarea").each(function () {
                    $(this).attr("disabled", "disabled");
                    $(this).addClass("disabled");
                });
            }
            InitCreateDevelopmentPlanGoalForm();
            //jQuery.validator.methods["date"] = function (value, element) { return true; }
        });
    </script>
}
