﻿@model HRMS.Entities.DevelopmentGoalModel
@{
    ViewBag.Title = "HRMS - Development Goal";
}
@section Breadcrumb
{
<ul class="breadcrumb">
    <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="/DevelopmentPlan/Index">Development Plans</a></li>
    <li class="active">Development Goal</li>
</ul>
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/Custom.css" />
<div class="page-content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-8 padding-1">
                        <h3 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Development Goal
                        </h3>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <div class="col-lg-12 pull-right">
                            <div class="col-lg-2 padding-0 pull-right">
                                <a href="/developmentplan/index" title="Back to Development Plans" style="margin-left: 3px;" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body form-horizontal">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 1: Employee Information
                            </span>
                        </legend>
                        <div class="row margin_bottom">
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 49, requestDate = DateTime.Now, employeeID = Model.EmployeeID, isAddMode = true, formProcessId = 0 }); }
                        </div>
                    </fieldset>
                </div>
                <div class="row padding-15">
                    <div class="col-sm-6  mrgB5px">
                        <div class="col-sm-4 padding-0 ">
                            <label class="label-form mrgR10px">
                                Goal Category:
                            </label>
                        </div>
                        <div class="col-sm-8 padding-0">
                            <select class="form-control selectpicker" id="ddlCategories" name="ddlPerformanceGroup" data-container="body" onchange="GetGoalForm();">
                                <option value="">Please Select</option>
                                <option value="1">Job Description</option>
                                <option value="2">PDRP</option>
                                <option value="3">DISC</option>
                                <option value="4">General Competencies</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="hide" id="jobCompetencieDiv">
                    @Html.Partial("_JobCompetencie")
                </div>
                <div class="hide" id="teachingDiv">
                    @Html.Partial("_Teaching")
                </div>
                <div class="hide" id="nonTeachingDiv">
                    @*@Html.Partial("_NonTeaching")*@
                </div>
                <div class="panel-footer">
                    <div class="col-lg-4">
                        <div class="form-group ">
                            <a href="/developmentplan/index" title="Back To Development Goal List" class=" btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i>&nbsp;Back To List</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal Popup.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts
{
    <script src="/Scripts/Custom/DevelopmentPlan/DevelopmentPlan.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            InitCreateDevelopmentPlanGoalForm();
        });
    </script>
}

