﻿
@{
    ViewBag.Title = "HRMS - Development Plan Management";
}
<link rel="stylesheet" type="text/css" id="theme" href="~/Content/Custom.css" />
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Development Goal Form</li>
    </ul>

}
<div class="page-content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-4 padding-1">
                        <h3 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Development Plan Management
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <div class="div-center">

                            <a class="profile-control-left filter-icon">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="panel-body form-horizontal">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Filter Records:
                            </span>
                        </legend>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0 ">
                                        <label class="label-form">Organization Name:</label>
                                    </div>
                                    <div class="col-sm-8 padding-0">
                                        @*@Html.DropDownList("ddlCompany", (SelectList)new SelectList(), "Select Company", new { @class = "form-control selectpicker", @data_live_search = "true", onchange = "BindDepartments(this);" })*@

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <input type="button" id="btnSearch" class="btn btn-primary" style="width:165px;" value="Preview">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <hr>
                <div class="row margin_bottom  padding-1">
                    <div class="col-lg-12 form-group">
                        <div class="dataTables_wrapper no-footer">
                            <table id="tblDevelopmentPlanGrid" class="table  table-bordered alternatecolor dataTable no-footer" role="grid" aria-describedby="tblFormAssignmentGrid_info"></table>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="panel-footer hidden">
                    <div class="col-sm-1 ">
                        <input type="button" class="btn btn-primary" value="Approve">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script src="/Scripts/Custom/DevelopmentPlan/DevelopmentPlan.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            InitMyDevelopmentPlanList();
        });
    </script>
}


<div class="panel panel-default" id="divDevelopmentPlans" style="display:none">
    <div class="panel-body">
        <div class="row">
            <table id="tblAllDevelopmentPlans" class="table table-bordered table-striped" style="" width="100%"></table>


        </div>
        <div class="margin_bottom"></div>
    </div>
</div>