﻿@model HRMS.Entities.TaxSetting
@{
    ViewBag.Title = "HRMS - Social Security";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Social Security</li>

    </ul>
}
<div class="row">    
    @Html.HiddenFor(X => X.HideTaxPercentage)
    <div class="col-md-12">
        <div class="panel panel-default" id="divPASIList" style="">
            <div class="panel-heading">
                <h3 class="panel-title">Social Security List</h3>
            </div>
            <div class="panel-body pasiDiv">
                <div class="row">
                    <div class="col-md-12 padding-0">
                        <table id="tbl_SocialSecurity" class="table table-bordered table-striped" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="">
                    <h3 class="panel-title" style=""> <span class="fa fa-adn"></span> Generate Social Security Deductions</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12"></div>
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form" style="">Deduction Date: </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBox("txtEffectiveDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "DOB form-control" })
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-2">
                                    <label class="label-form" style="">Cycle: </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddl_CyclesList", (List<SelectListItem>)ViewBag.CyclesList, "Select Cycle", new { @class = "form-control col-sm-6 selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <input type="submit" value="Generate" id="btn_Generate" class="btn btn-primary" style="margin-left:10px" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="modal_no_head" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">                    
                    <p>Pay Deductions are already generated for some employees under selected checkbox.</p>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12">
                        <div class="col-sm-4"  onclick='Regenerate(1);'><button type="button" class="btn btn-default pull-left">Regenerate for all</button></div>
                        <div class="col-sm-4 padding-left-0" onclick='Regenerate(0);'><button type="button" class="btn btn-default">Exclude already generated employees</button></div>
                        <div class="col-sm-4"><button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>  </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>        
</div>
@section scripts{

    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>    
    <script src="~/Scripts/Custom/Social Security/SocialSecurity.js"></script>
}
