﻿@model HRMS.Entities.Forms.PendingJoiningRequestModel
@{
    ViewBag.Title = "HRMS - Pending Joining Requests";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Pending Joining Requests</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div id="ddlEmployee" class="hidden">
            @ViewBag.Employee
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>
                        Pending Joining Requests
                    </h4>
                </div>
                <div class="col-sm-5">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
             

            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="row">
                        <div class="form-group col-sm-12 padding-0">

                            <div class="col-sm-4">
                                <label class="col-md-4 label-form">
                                    Select Organization
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, " Select Organization", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany", @onchange = "CompanyIDChange(this)" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-md-5 label-form">
                                    Select Employee
                                </label>
                                <div class="col-sm-7 padding-0">
                                    @Html.DropDownListFor(m => m.EmployeeId, (SelectList)ViewBag.Employee, " Select Employee  ", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee2" })
                                </div>
                            </div>
                            <div class="col-sm-3 padding-0">
                                <label class="col-md-5 label-form">
                                    Select Category
                                </label>
                                <div class="col-sm-7 padding-0">
                                    @Html.DropDownListFor(m => m.UserTypeId, (SelectList)ViewBag.UserType, " Select Category", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCategory" })
                                </div>
                            </div>

                            <div class="col-sm-1 pull-right">
                                <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="GetData(1)">
                            </div>


                        </div>
                    </div>                 
                </div>

            </div>
            <div class="row padding-0">
                <hr>
                <div class="form-horizontal innerdiv">
                    <div class="col-sm-12" id="divContent">
                        <table id="tblJoiningList" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/Forms/PendingJoiningRequest.js"></script>
}




