﻿@using HRMS.Entities
@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.CompOffPreApprovalModel
@using System.Globalization
@{
    ViewBag.Title = "Compensatory Off Pre Approval";  
    bool bPastDate = true;
    bPastDate = (DateTime.ParseExact(Model.WorkingDate, ModelHelpers.HRMSDateFormat, CultureInfo.InvariantCulture) - DateTime.Today.Date).TotalDays < 0;
   
}

@section Breadcrumb
    {
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Compensatory Off Pre Approval</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCompOffPreApprovalForm" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-offset-3 col-sm-6 padding-0 cursorPointer" style="display:none" id="warningMessage">
                <div id="CompOffPreApprovaltWarningBox" class="alert alert-danger" role="alert">
                    <button id="btnCompOffPreApprovalWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span id="lblCompOffPreApprovalNotification"></span>
                </div>
            </div>
            <div class="panel panel-default">
                <input id="txtFormProcessId" type="hidden" value="@Model.FormProcessID" />
                <input id="txtformInstanceId" type="hidden" value="@Model.ID" />
                <input id="txtEmployeeId" type="hidden" value="@Model.EmployeeID" />
                <input id="txtCompanyId" type="hidden" value="@Model.CompanyID" />
                <input id="txtIsSaved" type="hidden" value="1" />              
                <div class="panel-heading">
                    <div class="col-sm-8 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-cubes"></span> Compensatory Off Pre Approval
                        </h3>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0);" title="Update Request" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o updateIcon"></i></a>
                        <a href="javascript:void(0);" title="Back To All Requests List" id="btnBackToAllRequests" class="btn btn-info btn-rounded btn-condensed btn-sm btnBackToAllRequest"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>
                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 8, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = Model.IsAddMode, formProcessId = Model.FormProcessID }); }
                        </fieldset>
                    </div>
                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Comp-Off Pre Approval Details:
                                </span>
                            </legend>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-12 padding-0">
                                    <div class="col-sm-6">
                                        <label class="col-sm-5 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.WorkingDate)</label>

                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.WorkingDate, new { @class = "DOB form-control", @id = "txtWorkingDate" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.WorkingDate)
                                        </div>
                                    </div>
                                    @if (bPastDate)
                                    {
                                        <div class="col-sm-6">
                                            <label class="col-sm-5 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AdditionalWorkingHours)</label>
                                            <div class="col-sm-7">
                                                @Html.TextBoxFor(m => m.AdditionalWorkingHours, new { min = "0", max = "12", @class = "form-control", @id = "txtAdditionalWorkingHours" })
                                                @Html.ValidationMessageFor(m => m.AdditionalWorkingHours)
                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (bPastDate)
                                {
                                    <div class="form-group col-sm-12 padding-0">
                                        <div class="col-sm-6">
                                            <label class="col-sm-5 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.TimeSheetFileID)</label>
                                            @{
                                                var itemTF = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.TimeSheetFileID);
                                                if (itemTF != null && itemTF.FileName != null)
                                                {
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                @if (itemTF.FileName.Length > 15)
                                                                {
                                                                    <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_TF">@itemTF.FileName.Substring(0, 15)</span><div id="file_caption_id_TF"></div>
                                                                }
                                                                else
                                                                {
                                                                    <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_TF">@itemTF.FileName.ToString()</span><div id="file_caption_id_TF"></div>
                                                                }
                                                                <input type="hidden" value="@Model.TimeSheetFileID" id="hdnFileUpload_TF" />
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_TF" onclick="RemoveDocument('TF', 'TimeSheetFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_TF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_TF"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_TF" class="PreviewName">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.TimeSheetFileID);">@itemTF.FileName</a>
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_TF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_TF" />
                                                        <input type="hidden" value="@Model.TimeSheetFileID" id="hdnFileUpload_TF" />
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_TF"></span><div id="file_caption_id_TF"></div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_TF" onclick="RemoveDocument('TF', 'TimeSheetFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" id="divBrowse_TF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_TF"></div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" value="@Model.TimeSheetFileID" id="hdnFileUpload_TF" />
                                                        <span id="txtuploadedMsgAdd_TF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                        <div id="divPreview_TF" class="PreviewName">
                                                        </div>
                                                        <input id="hdnDeletedFileUpload_TF" type="hidden" value="0" />
                                                        <input id="hdnFileUpload_TF" type="hidden" value="@Model.TimeSheetFileID" />
                                                    </div>

                                                } }

                                        </div>

                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                    @if (!string.IsNullOrEmpty(Convert.ToString(Model.FormProcessID)) && int.Parse(Model.FormProcessID.ToString()) > 0)
                    {
                        <div class="row">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">

                        <button type="button" title="Update Request" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i>Update</button>
                        <button type="button" title="Back To All Requests List" id="btnBackToAllRequests" class="btn btn-rounded btn-info btnBackToAllRequest"><i class="fa fa-arrow-left"></i> All Requests List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                }

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    $jquery = jQuery.noConflict(true);

    $jquery("#fu_TF").change(function () {
        $jquery("#txtIsSaved").val("0");
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_TF").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_TF").text("");
                $jquery("#divBrowse_TF").hide();
                //$jquery("#btnUploadAdd_JD").show();
                $jquery("#btnRemove_TF").show();
                $jquery("#file_caption_name_TF").show();
                $jquery("#file_caption_id_TF").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_TF").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_TF').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_TF").val('0');
            }
            else {
                $jquery("#txtuploadedMsgAdd_TF").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_TF").hide();
                $jquery("#divAddInforamtionDialog_TF").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_TF").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_TF").hide();
            $jquery("#divAddInforamtionDialog_TF").hide();
        }
    });



</script>

@section Scripts
    {
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/UpdateDetails/CompOffPreApprovalForm.js"></script>
}


