﻿@model HRMS.Entities.AbsentModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script>

    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');

    });

    function ValidateForm() {
    }

    $("#btnCancel").click(function () {
        // location.href = "/Absent/Index";
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        // TODO: make me pretty
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");

            var isDateSelected = $("#isDateSelected").val();
            if (isDateSelected == "true") {
                var d1 = $("#txtStartDate").val();
                var d2 = $("#txtToDate").val();
                getGridAbsentFilterByDate(d1, d2);
            }
            else {
                getGridAbsent($("#EmployeeID").val());
            }

        }
        else {
            ShowMessage("error", data.Message)
        }
    }
    function UpdateAbsent() {
        var selectedId = $("#EmployeeID").val();
        if (selectedId == "")
            ShowMessage("error", "Please select employee");
        else {
            var fromDate = $("#PayEmployeeAbsentFromDate").val();
            CheckEmployeeInLate(selectedId, fromDate, fromDate, function (data) {
                if (data) {
                    $.MessageBox({
                        buttonDone: "OK",
                        buttonFail: "Cancel",
                        message: "Employees with selected date is already present with late and early module, Do you want delete from late and early module",
                    }).done(function (data) {
                        $("#frmEditAbsent").submit();
                    });
                } else {
                    $("#frmEditAbsent").submit();
                }
            });
        }
    }
</script>
<div class="panel panel-default" id="divAbsentLate">
    @using (Ajax.BeginForm("EditAbsent", "Absent", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditAbsent" }))
    {
        @Html.HiddenFor(x => x.EmployeeID)
        @Html.HiddenFor(x => x.PayEmployeeAbsentID)
        @Html.Hidden("hdnFromDate", Model.PayEmployeeAbsentFromDate)
        <div class="panel-body">
            <div class="form-group col-sm-12">
                <div class="col-sm-11">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">Employee:</label>
                <div class="col-sm-8">
                    <label class="label-form padding-left-0">
                        @ViewBag.Employee
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Absent From:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.PayEmployeeAbsentFromDate, new { @class = "form-control datepicker", required = "required" })
                    @Html.ValidationMessageFor(m => m.PayEmployeeAbsentFromDate)
                </div>
            </div>
            <div class="form-group col-lg-12 col-sm-12 hidden">
                <label class="col-sm-3 label-form">Absent To:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.PayEmployeeAbsentToDate, new { @class = "form-control datepicker", required = "required" })
                    @Html.ValidationMessageFor(m => m.PayEmployeeAbsentToDate)
                </div>
            </div>
            <div class="form-group col-lg-12 col-sm-12" style="margin-bottom:0px">
                <label class="col-sm-3 label-form"><span class="required-field">*</span>&nbsp;Absent Type:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.PayAbsentTypeID, (SelectList)ViewBag.AbsentType, "Select Absent Type", new { @class = "form-control selectpickerddl", required = "required" })
                    @Html.ValidationMessageFor(m => m.PayAbsentTypeID)
                    <label id="LEavePaymentType" class="hidden"> </label>
                </div>
            </div>
            <div class="form-group col-lg-12 col-sm-12" style="margin-bottom:0px">
                <label class="col-sm-3 label-form">Paid Type:</label>
                <div class="col-sm-8">                   
                    <label class="label-form" id="lblAbsentType"></label>
                    @Html.HiddenFor(m => m.AbsentPaidTypeID)

                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form" for="IsMedicalCertificateProvided">
                    Med. Cert.:
                </label>
                <div class="col-sm-8">
                    <label class="label-form padding-left-0">
                        @Html.CheckBoxFor(m => m.IsMedicalCertificateProvided, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.IsMedicalCertificateProvided)
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 label-form">
                    Notes:
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="panel-footer form-group">
            <input type="button" value="Update" class="btn btn-primary pull-right" onclick="UpdateAbsent()" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>

    }
</div>
<script>
    //$("#PayEmployeeAbsentFromDate").val($("#PayEmployeeAbsentFromDate").val().substring(0, $("#PayEmployeeAbsentFromDate").val().length - 9));

    //$("#PayEmployeeAbsentToDate").val($("#PayEmployeeAbsentToDate").val().substring(0, $("#PayEmployeeAbsentToDate").val().length - 9));

    $(document).ready(function () {

        CheckAbsentTypeIs();
        $("#PayAbsentTypeID").change(function () {
            CheckAbsentTypeIs();
        });
    });


    function CheckAbsentTypeIs() {
        $.ajax({
            dataType: 'json',
            type: 'Get',
            data: { AbsentTypeId: $("#PayAbsentTypeID").val(), },
            url: '/DailyAttendance/CheckAbsentType',
            success: function (data) {
                $("#lblAbsentType").text(data.LeaveTypeName);
                $("#LeaveTypeID").val(data.LeaveTypeId);
            },
            error: function (data) { $.unblockUI(); }
        });
    }
</script>
