﻿@{
    Layout = null;
}
 
<div>
    <table id="tbl_LabourList" class="display table table-bordered table-striped"></table>
</div>

<input type="hidden" value="@ViewBag.empid.ToString()" id="hidSelectedEMP" name="hidSelectedEMP" />

 




 