﻿@model HRMS.Entities.Forms.SalaryRangesModel
@{
    Layout = null;
}
<script>
</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<div class="panel panel-default" id="divPayAddition">
    <div class="panel-body">
        <div class="col-md-12 form-group padding-0">
            <div id="SalaryRangeTable">
                <table id="salaryrange-table" class="table table-striped table-bordered table-fixed-width">
                    <thead>
                        <tr>
                            <th class="hidden">
                               CompanyId
                            </th>
                            <th>
                                Company
                            </th>
                            <th class="hidden">
                                PositionId
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Min Salary
                            </th>
                            <th>
                                Max Salary
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="rowId_0" class="edit0">
                            <td class="hidden"></td>
                            <td><div>@Html.DropDownList("ddlCompanies", (SelectList)ViewBag.Company, "Select Company", new { @class = "form-control selectpickerddl", @data_live_search = "true", @data_CompaniesId = "", onchange = "CompanyIDChange(this,'ddlPositions');" })</div></td>
                            <td class="hidden"></td>
                            <td><div>@Html.DropDownList("ddlPositions", (SelectList)ViewBag.position, "Select Position", new { @class = "form-control selectpickerddl", @data_live_search = "true", @data_PositionsId = "" })</div></td>
                            <td><div><input class="form-control txtInput txtMinSalary" id="txtMinSalary" type="number" /></div></td>
                            <td><div><input class="form-control txtInput txtMaxSalary" id="txtMaxSalary" type="number" /></div></td>
                            <td class="center-text-align padding-0">
                                <div class="center-text-align">
                                    <button type="button" id="btnRowSave" class="tableButton" onclick="saveRow(this)">
                                        <img style="width:16px;" src="/Content/images/tick.ico" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
    <div class="panel-footer">
        <input type="button" id="btnsave" class="btn btn-primary pull-right" value="Save" onclick="SaveMultipleSalary()" />
        <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" aria-label="Close" />
    </div>
    </div>