﻿@model HRMS.Entities.Forms.SalaryRangesModel
@{
    ViewBag.Title = "HRMS - Salary Range Management";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Salary Range Management</li>
    </ul>
}
<style>
    .paddingtop0 {
        padding-top: 0px;
    }

    hr {
        border: none;
        border-top: 1px dotted;
        height: 1px;
        width: 100%;
        padding: 0px;
    }

    .innerdiv {
        padding-top: 0px;
        padding-left:22px!important;
        padding-right: 20px!important;
        padding-bottom: 12px!important;
    }

    .tablediv {
        width: 100%;
        overflow-x: scroll;
        /*padding-top: 5px;*/
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div id="ddlCompany" class="hidden">
            @ViewBag.Companies
        </div>
        <div id="ddlPosition" class="hidden">
            @ViewBag.Positions
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>
                        Salary Range Management
                    </h4>
                </div>
                <div class="col-sm-4">
                    <div class="div-center">
                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" id="btn_addMultipleSalary" title="Add Multiple Salary Range" class="btnadd"><span class="fa fa-plus-circle fa-1x"></span></a>
                            <a href="javascript:void(0);" onclick="EditAll();" title="Edit All" id="btn_addHoliday" class="btnadd"><span class="fa fa-pencil"></span></a>
                            <a href="javascript:void(0);" onclick="SaveAll(this)" title="Save All" id="btn_addHoliday" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            <a href="javascript:void(0);" onclick="RefreshAll()" title="Refresh All" id="btn_addHoliday" class="btnadd"><span class="fa fa-refresh"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-11 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, "Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompanyFilter", onchange = "CompanyIDChange(this);" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Position Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(m => m.PositionID, (SelectList)ViewBag.Position, "Select Position Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlPositionFilter" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 padding-0">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="GetData(1)">
                    </div>
                </div>

            </div>
            <div class="row form-horizontal">
                <hr>
                <div class="col-sm-12 innerdiv" id="divContent">
                    <table id="tblSalaryRangesList" class="display table table-bordered table-striped" width="100%"></table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/Forms/SalaryRanges.js"></script>
}
