﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.CerficateRequestFormModel
@{
    ViewBag.Title = "Certificate Request";
    bool isDisabled = Model.ReqStatusID == (int)RequestStatus.Rejected ? true : false;
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Certificate Request</li>
    </ul>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCertificateRequestForm" }))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                @Html.Hidden("hdnCertificateType", (object)ViewBag.CertificateTypeId, new { @id = "hdnCertificateType" })
                @Html.Hidden("hdnFormProcessID", (object)ViewBag.FormProcessID, new { @id = "hdnFormProcessID" })
                @Html.Hidden("hdnCertificateRequestID", (object)ViewBag.CertificateRequestID, new { @id = "hdnCertificateRequestID" })
                @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })

                <div class="panel-heading">
                    <div class="col-sm-8 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-cubes"></span>
                            @ViewBag.FormName
                            @if (ViewBag.RequestID != null && ViewBag.RequestID != '0')
                            {

                                <span>(Request ID : @ViewBag.RequestID)</span>
                            }
                        </h3>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="pull-right">
                        @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <a href="javascript:void(0);" title="Re-Submit" id="btnUpdate" class="btn btn-primary btn-rounded btn-condensed btn-sm btnUpdate"><i class="fa fa-floppy-o"></i></a>
                        }
                        else if (ViewBag.FormProcessID != null && !string.IsNullOrEmpty(ViewBag.FormProcessID) && int.Parse(ViewBag.FormProcessID) > 0)
                        {
                            <a href="javascript:void(0);" title="Approve Request" id="btnApprove" class="btn btn-success btn-rounded btn-condensed btn-sm btnApprove"><i class="fa fa-check"></i></a>
                            <a href="javascript:void(0);" title="Reject Request" id="btnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                        }
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = (int)ViewBag.FormId, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = (object)ViewBag.FormProcessID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Certificate Details:
                                </span>
                            </legend>
                            @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                            {
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group col-sm-12 padding-0">
                                            <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CertificateTypeID)</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.CertificateTypeID, (SelectList)ViewBag.CertificateType, " Select Certificate Type", isDisabled ? new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCertificateType" } : (object)new { @class = "form-control selectpicker", @disabled = "disabled", @data_live_search = "true", @id = "ddlCertificateType" })
                                                @Html.ValidationMessageFor(m => m.CertificateTypeID)
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 padding-0">
                                            <label class="col-sm-4 label-form"><span class="required-field">&nbsp;*</span>&nbsp;@Html.DisplayNameFor(m => m.PassportFileID)</label>
                                            @{
                                                var itemPF = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.PassportFileID);
                                                if (itemPF != null && itemPF.FileName != null)
                                                {
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                @if (itemPF.FileName.Length > 15)
                                                                {
                                                                    <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_PF">@itemPF.FileName.Substring(0, 15)</span><div id="file_caption_id_PF"></div>
                                                                }
                                                                else
                                                                {
                                                                    <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_PF">@itemPF.FileName.ToString()</span><div id="file_caption_id_PF"></div>
                                                                }
                                                                <input type="hidden" value="@Model.PassportFileID" id="hdnFileUpload_PF" />

                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_PF" onclick="RemoveDocument('PF', 'PassportFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_PF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_PF"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_PF" class="PreviewName">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.PassportFileID);">@itemPF.FileName</a>
                                                            <input type="hidden" value="@Model.PassportFileID" id="hdnFileUpload_PF" />
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_PF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_PF" />
                                                        <input type="hidden" value="@Model.PassportFileID" id="hdnFileUpload_PF" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_PF"></span><div id="file_caption_id_PF"></div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_PF" onclick="RemoveDocument('PF', 'PassportFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" id="divBrowse_PF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_PF"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_PF" class="PreviewName">
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_PF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_PF" />
                                                        <input type="hidden" value="0" id="hdnFileUpload_PF" />
                                                    </div>
                                                }
                                            }

                                        </div>

                                        <div class="form-group col-sm-12 padding-0">
                                            <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RequestPurpose)</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.RequestPurpose, new { @class = "form-control", @id = "txtRequestPurpose" })
                                                @Html.ValidationMessageFor(m => m.RequestPurpose)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group col-sm-12 padding-0" id="divCertificateReason">
                                            <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CertificateReasonID)</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.CertificateReasonID, (SelectList)ViewBag.CertificateReason, " Select Salary Certificate Reason", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCertificateReason" })
                                                @Html.ValidationMessageFor(m => m.CertificateReasonID)
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 padding-0">
                                            <label class="col-sm-4 label-form"><span class="required-field">&nbsp;*</span>&nbsp;@Html.DisplayNameFor(m => m.VisaFileID)</label>
                                            @{
                                                var itemVF = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.VisaFileID);
                                                if (itemVF != null && itemVF.FileName != null)
                                                {
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                @if (itemVF.FileName.Length > 15)
                                                                {
                                                                    <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_VF">@itemVF.FileName.Substring(0, 15)</span><div id="file_caption_id_VF"></div>
                                                                }
                                                                else
                                                                {
                                                                    <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_VF">@itemVF.FileName.ToString()</span><div id="file_caption_id_VF"></div>
                                                                }
                                                                <input type="hidden" value="@Model.VisaFileID" id="hdnFileUpload_VF" />

                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_VF" onclick="RemoveDocument('VF', 'VisaFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_VF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_VF"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_VF" class="PreviewName">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.VisaFileID);">@itemVF.FileName</a>
                                                            <input type="hidden" value="@Model.VisaFileID" id="hdnFileUpload_VF" />
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_VF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_VF" />
                                                        <input type="hidden" value="@Model.VisaFileID" id="hdnFileUpload_VF" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_VF"></span><div id="file_caption_id_VF"></div>
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_VF" onclick="RemoveDocument('VF', 'VisaFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                                <div class="btn btn-primary btn-file" id="divBrowse_VF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_VF"></div>
                                                            </div>
                                                        </div>
                                                        <div id="divPreview_VF" class="PreviewName">
                                                        </div>
                                                        <span id="txtuploadedMsgAdd_VF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                        <input type="hidden" value="0" id="hdnDeletedFileUpload_VF" />
                                                        <input type="hidden" value="0" id="hdnFileUpload_VF" />
                                                    </div>
                                                }
                                            }
                                        </div>

                                        <div class="form-group col-sm-12 padding-0">
                                            <label class="col-sm-4 label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.BankNameAddress)</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.BankNameAddress, new { @class = "form-control", @id = "txtBankNameAddress" })
                                                @Html.ValidationMessageFor(m => m.BankNameAddress)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12">
                                    <div class="col-sm-6 alternatecolor">
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">@Html.DisplayNameFor(m => m.CertificateTypeID)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form">@Html.DisplayFor(m => m.CertificateTypeName)</span>
                                            </div>
                                        </div>
                                        @if (Model.CertificateReasonID > 0)
                                        {
                                            <div class="form-group col-sm-12" id="divCertificateReason">
                                                <div class="col-sm-4">
                                                    <label class="label-form">@Html.DisplayNameFor(m => m.CertificateReasonID)</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <span class="label-form">@Html.DisplayFor(m => m.CertificateReasonName)</span>
                                                </div>

                                            </div>
                                        }
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">@Html.DisplayNameFor(m => m.RequestPurpose)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form">
                                                    @Html.DisplayFor(m => m.RequestPurpose)
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 alternatecolor">
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">@Html.DisplayNameFor(m => m.PassportFileID)</label>
                                            </div>
                                            @{
                                                var itemPF = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.PassportFileID);
                                                if (itemPF != null && itemPF.FileName != null)
                                                {
                                                    <div class="col-sm-8">
                                                        <span class="label-form">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.PassportFileID);">@itemPF.FileName</a>
                                                        </span>
                                                    </div>
                                                }
                                            }

                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">@Html.DisplayNameFor(m => m.VisaFileID)</label>
                                            </div>
                                            @{
                                                var itemVF = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.VisaFileID);
                                                if (itemVF != null && itemVF.FileName != null)
                                                {
                                                    <div class="col-sm-8">
                                                        <span class="label-form">
                                                            <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.VisaFileID);">@itemVF.FileName</a>
                                                        </span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="label-form">@Html.DisplayNameFor(m => m.BankNameAddress)</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <span class="label-form">
                                                    @Html.DisplayFor(m => m.BankNameAddress)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control" style="font-size:12px !important">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </span>
                                <label id="lblCommentCharsLeft" class="label-control" style="font-size:12px !important"> </label>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                        <div class="row">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = (object)ViewBag.FormProcessID }); }
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">
                        @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <button type="button" title="Re-Submit" id="btnUpdate" class="btn btn-rounded btn-primary btnUpdate"><i class="fa fa-floppy-o"></i> Re-Submit</button>
                        }
                        else if (ViewBag.FormProcessID != null && !string.IsNullOrEmpty(ViewBag.FormProcessID) && int.Parse(ViewBag.FormProcessID) > 0)
                        {
                            <button type="button" title="Approve Request" id="btnApprove" class="btn btn-rounded btn-success btnApprove"><i class="fa fa-check"></i> Approve</button>
                            <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                        }
                        <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    $jquery = jQuery.noConflict(true);

    $jquery("#fu_PF").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_PF").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_PF").text("");
                $jquery("#divBrowse_PF").hide();
                //$jquery("#btnUploadAdd_JD").show();
                $jquery("#btnRemove_PF").show();
                $jquery("#file_caption_name_PF").show();
                $jquery("#file_caption_id_PF").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_PF").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_PF').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_PF").val('0');
            }
            else {
                $jquery("#txtuploadedMsgAdd_PF").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_PF").hide();
                $jquery("#divAddInforamtionDialog_PF").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_PF").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_PF").hide();
            $jquery("#divAddInforamtionDialog_PF").hide();
        }
    });

    $jquery("#fu_VF").change(function () {
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_VF").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {

                $jquery("#txtuploadedMsgAdd_VF").text("");
                $jquery("#divBrowse_VF").hide();
                //$jquery("#btnUploadAdd_JD").show();
                $jquery("#btnRemove_VF").show();
                $jquery("#file_caption_name_VF").show();
                $jquery("#file_caption_id_VF").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_VF").val("2");
                var file = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_VF').append('<a href="' + file + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_VF").val('0');
            }
            else {
                $jquery("#txtuploadedMsgAdd_VF").text("Maximum 2MB file size is allowed to upload.");
                $jquery("#btnUploadAdd_VF").hide();
                $jquery("#divAddInforamtionDialog_VF").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_VF").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            $jquery("#btnUploadAdd_VF").hide();
            $jquery("#divAddInforamtionDialog_VF").hide();
        }
    });

</script>
@section Scripts
{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/CertificateRequestForm.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
}



















