﻿@model HRMS.Entities.Forms.CerficateRequestFormModel
@{
    ViewBag.Title = "Certificate Request";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Certificate Request</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-8 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        @ViewBag.FormName
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 19, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = false, formProcessId = Model.FormProcessID }); }
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Certificate Details:
                            </span>
                        </legend>
                        <div class="col-sm-12">

                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.DisplayNameFor(m => m.CertificateTypeID)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.CertificateTypeName)</span>
                                    </div>
                                </div>
                                @if (Model.CertificateReasonID > 0)
                                {
                                    <div class="form-group col-sm-12" id="divCertificateReason">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.DisplayNameFor(m => m.CertificateReasonID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.CertificateReasonName)</span>
                                        </div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.DisplayNameFor(m => m.RequestPurpose)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.RequestPurpose)</span>
                                    </div>
                                </div>                                
                            </div>

                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.DisplayNameFor(m => m.PassportFileID)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_OL" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.PassportFileID);">@Model.PassportFileName</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.DisplayNameFor(m => m.VisaFileID)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            <a id="PreviewFile_OL" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.VisaFileID);">@Model.VisaFileName</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form">@Html.DisplayNameFor(m => m.BankNameAddress)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="label-form">@Html.DisplayFor(m => m.BankNameAddress)</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-sm-12 padding-0">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>



