﻿@using HRMS.Web.CommonHelper
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <h3 class="panel-title">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    Filters
                </h3>
            </div>
            <div class="col-sm-10">
                <div class="div-center">
                    <div class="">
                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="panel-body form-horizontal padding-bottom-0" id="divMainReportViewer">
        @if (((string)ViewBag.PageId).ToLower() == "employeedailyattendance")
        {
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="chkListReport" style="font-size:12px;" class="label-text col-sm-4 padding-0">
                        List Report:
                    </label>
                    <label class="label-text padding-0 col-sm-1">
                        @Html.CheckBox("chkListReport")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label for="EmployeRecordByPage" style="font-size:12px;" class="label-text">
                        Switch Employee Records By Page:
                        @Html.CheckBox("EmployeRecordByPage", new { @disabled = "disabled" })
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label style="font-size:12px;" class="label-text">
                        Posted Only:
                        @Html.CheckBox("chkPostedOnly")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label style="font-size:12px;" class="label-text">
                        Detail Reports:
                        @Html.CheckBox("chkDetailReports")
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Department:
                    </label>
                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Section:
                    </label>
                    @Html.DropDownList("ddlSectionList", (List<SelectListItem>)ViewBag.SectionList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        From Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        To Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Shift:
                    </label>
                    @Html.DropDownList("ddlShiftList", (List<SelectListItem>)ViewBag.ShiftList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Supervisor Name:
                    </label>
                    @Html.DropDownList("ddlSuperVisorList", (List<SelectListItem>)ViewBag.supervisiorlist, null, new { @class = "form-control selectpicker", @data_live_search = "true", @onchange = "BindEmployee()" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Employee Name:
                    </label>
                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                </div>
                <div class="form-group col-sm-3" style="padding:30px 0px 0px 15px">
                    <label class="label-text">
                        @Html.CheckBox("chkInactiveOnly", new { @class = "employeeStatusChk", @datatype = "inActive", @onclick = "BindEmployee()" })
                        Inactive Only
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="chkDailyAttTemplate1" style="font-size:12px;" class="label-text col-sm-4 padding-0">
                        Template 1:
                    </label>
                    <label class="label-text padding-0 col-sm-1">
                        @Html.CheckBox("chkDailyAttTemplate1", new { @disabled = "disabled" })
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">                  
                </div>                                
                <div class="form-group col-sm-3">
                </div>
                <div class="form-group col-sm-3">
                </div>
            </div>
        }

        @if (((string)ViewBag.PageId).ToLower() == "monthlyattendancesummary")
        {
            <div class="row">
                <div class="form-group col-sm-3">
                    <label style="font-size:12px;" class="label-text">
                        Posted Only:
                        @Html.CheckBox("chkPostedOnly")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Department:
                    </label>
                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Section:
                    </label>
                    @Html.DropDownList("ddlSectionList", (List<SelectListItem>)ViewBag.SectionList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Month:
                    </label>
                    @Html.DropDownList("ddlMonths", (SelectList)ViewBag.MonthsList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Year:
                    </label>
                    @Html.DropDownList("ddlYears", (SelectList)ViewBag.YearsList, null, new { @class = "form-control selectpicker" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Shift:
                    </label>
                    @Html.DropDownList("ddlShiftList", (List<SelectListItem>)ViewBag.ShiftList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Employee Name:
                    </label>
                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                </div>
                <div class="form-group col-sm-3" style="padding:30px 0px 0px 15px">
                    <label class="label-text">
                        @Html.CheckBox("chkInactiveOnly", new { @class = "employeeStatusChk", @datatype = "inActive", @onclick = "BindEmployee()" })
                        Inactive Only
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        &nbsp;
                    </label>
                    <div class="col-sm-12 padding-0">
                        <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                    </div>
                </div>
            </div>
        }

        @if (((string)ViewBag.PageId).ToLower() == "dailyattendancebystatus")
        {
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Status:
                    </label>
                    <div class="multi-Select multiddl ddlStatusList">
                        <select id="ddlStatus" multiple="multiple" class="form-control">
                            <option value="1" selected="selected">On Time</option>
                            <option value="2" selected="selected">Absent</option>
                            <option value="3" selected="selected">Late In</option>
                            <option value="4" selected="selected">Early Out</option>
                            <option value="8" selected="selected">Late In & Early Out</option>
                            <option value="8D" selected="selected">Late In & Early Out Detail</option>
                            <option value="13" selected="selected">Didn't Sign In</option>
                            <option value="9" selected="selected">Didn't Sign Out</option>
                            <option value="10" selected="selected">Extra Day</option>
                            <option value="11" selected="selected">Late in (with LI&EO)</option>
                            <option value="12" selected="selected">Early Out (with LI&EO)</option>
                        </select>
                    </div>

                </div>
                <div class="form-group col-sm-3" style="padding-top:30px;">
                    <label style="font-size:12px; " class="label-text">
                        Posted Only:
                        @Html.CheckBox("chkPostedOnly")
                    </label>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Department:
                    </label>
                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Section:
                    </label>
                    @Html.DropDownList("ddlSectionList", (List<SelectListItem>)ViewBag.SectionList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        From Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        To Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Shift:
                    </label>
                    @Html.DropDownList("ddlShiftList", (List<SelectListItem>)ViewBag.ShiftList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Employee Name:
                    </label>
                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                </div>
                <div class="form-group col-sm-3" style="padding:30px 0px 0px 15px">
                    <label class="label-text">
                        @Html.CheckBox("chkInactiveOnly", new { @class = "employeeStatusChk", @datatype = "inActive", @onclick = "BindEmployee()" })
                        Inactive Only
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        &nbsp;
                    </label>
                    <div class="col-sm-12 padding-0">
                        <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                    </div>
                </div>
            </div>
        }
        @if (((string)ViewBag.PageId).ToLower() == "lateandearlyminutes")
        {
            <div class="row">
                <div class="form-group col-sm-3">
                    <label style="font-size:12px;" class="label-text">
                        Posted Only:
                        @Html.CheckBox("chkPostedOnly")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Department:
                    </label>
                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Section:
                    </label>
                    @Html.DropDownList("ddlSectionList", (List<SelectListItem>)ViewBag.SectionList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        From Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        To Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Shift:
                    </label>
                    @Html.DropDownList("ddlShiftList", (List<SelectListItem>)ViewBag.ShiftList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Employee Name:
                    </label>
                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                </div>
                <div class="form-group col-sm-3" style="padding:30px 0px 0px 15px">
                    <label class="label-text">
                        @Html.CheckBox("chkInactiveOnly", new { @class = "employeeStatusChk", @datatype = "inActive", @onclick = "BindEmployee()" })
                        Inactive Only
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        &nbsp;
                    </label>
                    <div class="col-sm-12 padding-0">
                        <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                    </div>
                </div>
            </div>
        }

        @if (((string)ViewBag.PageId).ToLower() == "workinghours")
        {
            <div class="row">
                <div class="form-group col-sm-3">
                    <label style="font-size:12px;" class="label-text">
                        Posted Only:
                        @Html.CheckBox("chkPostedOnly")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Department:
                    </label>
                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Section:
                    </label>
                    @Html.DropDownList("ddlSectionList", (List<SelectListItem>)ViewBag.SectionList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        From Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        To Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Shift:
                    </label>
                    @Html.DropDownList("ddlShiftList", (List<SelectListItem>)ViewBag.ShiftList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Employee Name:
                    </label>
                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                </div>
                <div class="form-group col-sm-3" style="padding:30px 0px 0px 15px">
                    <label class="label-text">
                        @Html.CheckBox("chkInactiveOnly", new { @class = "employeeStatusChk", @datatype = "inActive", @onclick = "BindEmployee()" })
                        Inactive Only
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        &nbsp;
                    </label>
                    <div class="col-sm-12 padding-0">
                        <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                    </div>
                </div>
            </div>
        }

        @if (((string)ViewBag.PageId).ToLower() == "workingdays")
        {
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="chkListReport" class="label-text col-sm-4 padding-0">
                        List Report:
                    </label>
                    <label class="label-text padding-0 col-sm-1">
                        @Html.CheckBox("chkListReport")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label for="chkPostedOnly" class="label-text col-sm-4 padding-0">
                        Posted Only:
                    </label>
                    <label class="label-text padding-0 col-sm-1">
                        @Html.CheckBox("chkPostedOnly")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label for="chkDetailReports" class="label-text col-sm-4 padding-0">
                        Detail Reports:
                    </label>
                    <label class="label-text padding-0 col-sm-1">
                        @Html.CheckBox("chkDetailReports")
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label for="chkTemplate1" class="label-text col-sm-4 padding-0">
                        Template 1:
                    </label>
                    <label class="label-text padding-0 col-sm-1">
                        @Html.CheckBox("chkTemplate1")
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Department:
                    </label>
                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Section:
                    </label>
                    @Html.DropDownList("ddlSectionList", (List<SelectListItem>)ViewBag.SectionList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        From Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        To Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Select Shift:
                    </label>
                    @Html.DropDownList("ddlShiftList", (List<SelectListItem>)ViewBag.ShiftList, null, new { @class = "form-control selectpicker" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Employee Name:
                    </label>
                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                </div>
                <div class="form-group col-sm-3" style="padding:30px 0px 0px 15px">
                    <label class="label-text">
                        @Html.CheckBox("chkInactiveOnly", new { @class = "employeeStatusChk", @datatype = "inActive", @onclick = "BindEmployee()" })
                        Inactive Only
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        &nbsp;
                    </label>
                    <div class="col-sm-12 padding-0">
                        <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                    </div>
                </div>
            </div>
        }

        @if (((string)ViewBag.PageId).ToLower() == "attendancestatistics")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4">
                            <label class="label-form">
                                Employee Name:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, null, new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-5">
                            <label class="label-form">
                                From Date:
                            </label>
                        </div>
                        @*<div class="col-sm-2"></div>*@
                        <div class="col-sm-7 padding-right-0">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-3">
                            <label class="label-form">
                                To Date:
                            </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-4">
                            <div class="col-sm-4">
                                <label class="label-form">
                                    Sort by:
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control selectpicker" id="ddlOrderBy">
                                    <option value="asc">Percentage in ascending</option>
                                    <option value="desc">Percentage in descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="col-sm-5">
                                <label class="label-form" for="PercentageBasedOndays">
                                    Percentage based on days:
                                </label>
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox">
                                    <label>@Html.CheckBox("PercentageBasedOndays", false)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="col-sm-7">
                            </div>
                            <div class="col-sm-1">
                                <input type="button" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlStatus').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });
</script>
