﻿
@{
    string reportType = (string)ViewBag.DedctionReport;
    ViewBag.Title = "HRMS - Absent Deduction" + reportType + " Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Absent Deductable@(reportType) Report</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">           
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Start Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        <input id="txtStartDate" type="text" class="datepickerFrom form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                    </div>
                </div>
                <div class="form-group col-sm-3  ">
                    <label class="label-text">
                        To Date:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        <input id="txtToDate" type="text" class="datepickerTo form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Sort By:
                    </label>
                    <div>
                        <select class="form-control selectpicker" id="ddlOrderBy">
                            <option value="1">Employee ID</option>
                            <option value="2">Employee Name</option>
                            <option value="3">Attendance Date</option>
                            @if (!(reportType == ""))
                            {
                                <option value="4">Deduction Amount</option>
                                <option value="5">Total Salary</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2 ">
                    <label class="alinMiddle label-text" style="margin-top:25px;">
                        <input id="chkConfiremed" type="checkbox" value="">
                        Confirmed/Posted Only
                    </label>
                </div>
                <div class="form-group col-sm-1">
                    <br />
                    <input @(reportType == "" ? "id=btnAbsentDeduction" : "id=btnAbsentDeductionWithSalary") type="button" class="btn btn-primary" value="Preview" />
                </div>
            </div>
        </div>
        <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Report/DeductionReport.js"></script>
}
