﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Absent Undeductable Report</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Absent Undeductable Report";
}

<div class="col-sm-12">
    <div id="" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Filters</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                  
                    <div class="col-sm-12">
                        <div class="col-sm-1 label-form">
                            <label class="label-control">From Date: </label>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon add-on">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                @Html.TextBox("txtStartDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "DOB form-control" })
                            </div>
                        </div>
                        <div class="col-sm-1 label-form">
                            <label class="control-label">To Date: </label>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon add-on">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                @Html.TextBox("txtToDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "DOB form-control" })
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <input type="button" id="btnAbsentUnDeduction" value="Preview" class="btn btn-primary" id="btnPreview" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Report/DeductionReport.js"></script>
}
<script type="text/javascript">
    var dateYear = '@DateTime.Now.Year';
    var dateMonth = '@DateTime.Now.Month';
</script>