﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Accommodation Report</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Accommodation Report";
}
<div class="row">
    <div class="col-sm-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Filters
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 padding-0">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">
                                        Academic Year:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddlAcademicYear", (SelectList)ViewBag.AcademicYear, "All Academic Year", new { @class = "form-control selectpicker" })
                                </div>
                            </div>
                            <div class="col-sm-4 padding-0">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">
                                        Select Employee:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddlEmployee", (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control selectpicker",@data_live_search="true" })
                                </div>
                            </div>
                            <div class="col-sm-4 padding-0">
                                <input type="button" id="btnPreviewAccommodationReport" class="btn btn-primary" value="Preview">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="overflow:auto;width:100%">
            <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/Report/AccommodationReport.js"></script>
}
