﻿@using System.Web.UI.WebControls;
@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "HRMS - Staff Document Details";
}


<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Staff Document Details</li>
    </ul>
}
<!-- END BREADCRUMB -->
<div class="col-sm-12" id="divStireport">
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px">
        @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
        {
            Actions =
            {
                GetReportSnapshot = "GetDetailStaffReporting",
                ViewerEvent = "ViewerEvent"
            },
            Height = 700,
            Appearance =
            {
                ScrollbarsMode = true
            },
            Toolbar =
            {
                ViewMode = StiWebViewMode.WholeReport,
                ShowCurrentPageControl = false,
                ShowViewModeButton = false
            },
            Server = { RequestTimeout = 60 }
        })
    </div>
</div>