﻿
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Distribution by Section</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Employee Distribution by Section";
}
<div class="row">
    <div class="col-sm-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Filters
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4 padding-0">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">
                                        Section:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="multi-Select multiddl SectionList">
                                        <select multiple id="ddlSection" name="ddlSection" class="form-control">
                                            @{ 

                                                foreach (var item in (SelectList)ViewBag.Section)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                            }
                                        </select>                                         
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 padding-0">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-8">
                                    <input type="button" id="btnPreviewEmployeeDistributionSectionReport" class="btn btn-primary" value="Preview">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="overflow:auto;width:100%">
            <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
        </div>
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlSection').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
        //PreviewReport();
    });
</script>
@section scripts
{
    <script src="~/Scripts/Custom/Report/EmployeeReport.js"></script>
}