﻿@using HRMS.Web.CommonHelper
@{
    ViewBag.Title = "Employee General Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee General Report</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <label class="label-form col-sm-4">
                            Select Employee:
                        </label>
                        <div class="col-sm-8 padding-0 multi-Select multiddl ddlEmployee">
                            <select multiple="multiple" id="ddlEmployeeList" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.emplist)
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="label-form  col-sm-4">
                            From Date:
                        </label>
                        <div class="col-sm-8 padding-0">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control DOB" value='@(DateTime.Now.ToString(SettingsHelper.HRMSDateFormat))' id="txtFromDate" name="txtFromDate" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="label-form  col-sm-4">
                            To Date:
                        </label>
                        <div class="col-sm-8 padding-0">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control DOB" value='@(DateTime.Now.ToString(SettingsHelper.HRMSDateFormat))' id="txtToDate" name="txtToDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4" style="padding-left:0px!important;">
                            <label class="label-form" for="chkDisplayHeader">
                                Remove Header:
                            </label>
                        </div>
                        <div class="col-sm-8 padding-0">
                            <input id="chkDisplayHeader" type="checkbox" style="margin-top:10px;" />
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4" style="padding-left:0px!important;">
                            <label class="label-form" for="chkDisplayFooter">
                                Remove Footer:
                            </label>
                        </div>
                        <div class="col-sm-8 padding-0">
                            <input id="chkDisplayFooter" type="checkbox" style="margin-top:10px;" />
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="label-form col-sm-4" for="chkReportAr">
                            Report (AR):
                        </label>
                        <div class="col-sm-4 padding-0">
                            <input id="chkReportAr" type="checkbox" style="margin-top:10px;" />
                        </div>
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-3" style="padding-left: 15px !important;">
                            <input id="btnGetReport" type="button" class="btn btn-primary" value="Preview" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default hidden" id="reportPanel">
            <div class="panel-body reportsDiv col-md-12" id="reportsDiv">
                <iframe src="" id="reportsIframe" width="100%" height="950"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script type="text/javascript">
        $jquery = jQuery.noConflict(true);
        $jquery(document).ready(function () {
            $jquery('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
        });

        $("#btnGetReport").click(function () {
            var EmpIds = getSelectedIds('.ddlEmployee').join(',');
            var fromDate = $("#txtFromDate").val();
            var toDate = $("#txtToDate").val();
            var IsDisplayHeader = $("#chkDisplayHeader").is(":checked");
            var IsDisplayFooter = $("#chkDisplayFooter").is(":checked");
            var chkReportAr = $("#chkReportAr").is(":checked");
            globalFunctions.previewCRReport('/Reporting/LoadEmployeeGeneralReport?EmpIds=' + EmpIds + '&fromDate=' + fromDate + '&toDate=' + toDate + '&IsDisplayHeader=' + IsDisplayHeader + '&IsDisplayFooter=' + IsDisplayFooter + '&chkReportAr=' + chkReportAr);
        });


    </script>
}