﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Gratuity Report</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Employee Gratuity Report";
}

<div class="row">
    <div class="col-sm-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Filters
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form">
                                        Department:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddlDepartmentList", (List<SelectListItem>)ViewBag.DepartmentList, new { @class = "form-control selectpicker" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form">
                                        Employee Name:
                                    </label>
                                </div>
                                <div class="col-sm-8 multi-Select multiddl">
                                    @Html.DropDownList("ddlEmployeeList", (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form">
                                        Employee Id:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBox("txtEmpId", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4">
                                    <label class="label-form">
                                        Sorting:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddlSortingList", new List<SelectListItem> { new SelectListItem { Text = "Employee Name Asc", Value = "1" }, new SelectListItem { Text = "Employee Name Desc", Value = "2" } }, new { @class = "form-control selectpicker" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-8">
                                    <input type="button" onclick="PreviewReport()" id="btnPreviewAttendanceReport" class="btn btn-primary" value="Preview">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="overflow-y:hidden;width:100%">
            @Html.Hidden("PageId")
            <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
        </div>
    </div>
</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<script>
    function PreviewReport() {
        var DeptId = $("#ddlDepartmentList").val();
        var EmpId = getSelectedIds('.multi-Select').join(',');
        var txtEmpId = $("#txtEmpId").val();
        var asendingId = $("#ddlSortingList").val();
        if (txtEmpId != "") {
            EmpId = txtEmpId;
        }
        var text = "/Reporting/EmployeeGratuitySettlementReportviewer?EmployeeId=" + EmpId + "&departmentId=" + DeptId + "&order=" + asendingId;;
        //$('#reportframe').attr('src', encodeURI(text));
        $('#LoadReportDiv').load(encodeURI(text));
    }

    $jq14 = jQuery.noConflict(true);
    $jq14(document).ready(function () {
        $jq14('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });

</script>

