﻿@using HRMS.Web.CommonHelper
@{
    ViewBag.Title = "HRMS - Employee Absent And Late Records";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Absent And Late Records</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <label class="label-form col-sm-4">
                            Select Employee:
                        </label>
                        <div class="col-sm-8 padding-0 multi-Select multiddl ddlEmployee">
                            <select multiple="multiple" id="ddlEmployeeList" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.emplist)
                                {
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-sm-3 padding-0">
                            <label class="label-form">
                                From Date:
                            </label>
                        </div>
                        <div class="col-sm-9 padding-0">
                            <div class="input-group padding-0">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control DOB" value='@(DateTime.Now.ToString(SettingsHelper.HRMSDateFormat))' id="txtFromDate" name="txtFromDate" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-sm-3 padding-left-0">
                            <label class="label-form">
                                To Date:
                            </label>
                        </div>
                        <div class="col-sm-9 padding-left-0">
                            <div class="input-group padding-0">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control DOB" value='@(DateTime.Now.ToString(SettingsHelper.HRMSDateFormat))' id="txtToDate" name="txtToDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-md-4">
                        <div class="col-sm-4  padding-0">
                            <label class="label-form" for="chkDisplayHeader"> Remove Header:</label>
                        </div>
                        <div class="col-sm-8 padding-0">
                            <div class="checkbox">
                                <label>@Html.CheckBox("chkDisplayHeader", false)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-sm-3 padding-0">
                            <label class="label-form" for="chkDisplayFooter">
                                Remove Footer:
                            </label>
                        </div>
                        <div class="col-sm-9 padding-0">
                            <div class="checkbox">
                                <label>@Html.CheckBox("chkDisplayFooter", false)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-sm-3 padding-0">
                        </div>
                        <div class="col-sm-9 padding-0">
                            <input id="btnEmployeeAbsentAndLateRecordsReport" type="button" class="btn btn-primary" value="Preview" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });

    $jquery("#btnEmployeeAbsentAndLateRecordsReport").click(function () {
        var chkReportAR = $("#chkReportAR").is(":checked") == true ? false : true;
        var IsDisplayHeader = $("#chkDisplayHeader").is(":checked") == true ? false : true;
        var IsDisplayFooter = $("#chkDisplayFooter").is(":checked") == true ? false : true;
        var EmployeeIds = getSelectedIds('.ddlEmployee').join(',');
        var txtFromDate = $("#txtFromDate").val();
        var txtToDate = $("#txtToDate").val();
        var url = "/Reporting/EmployeeAbsentAndLateLetterReportViewerEN?EmployeeIds=" + EmployeeIds + "&txtFromDate=" + txtFromDate + "&txtToDate=" + txtToDate + "&IsDisplayHeader=" + IsDisplayHeader + "&IsDisplayFooter=" + IsDisplayFooter;

        $jquery("#LoadReportDiv").load(url);
    });


</script>