﻿
@{
    ViewBag.Title = "HRMS - Employee Final Settlement Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Final Settlement Report</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-4">
                        <label class="label-form col-sm-4">
                            Employee Name:
                        </label>
                        <div class="col-sm-8 padding-0 multi-Select multiddl">
                            <select multiple="multiple" id="ddlEmployeeList" name="ddlEmployeeList" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.EmployeeList)
                                {
                                    <option value="@item.Value" selected >@item.Text</option>
                                }
                                 
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <label class="label-form padding-left-0 padding-right-0">
                            Direct Cheque Deposit:
                            @Html.CheckBox("chkisDirectCheque", new { @style = "margin-top:0px;margin-left:14px;" })
                        </label>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="button" id="btnEmpFinalSettlmentRepo" class="btn btn-primary" value="Preview" onclick="PreviewReport('Report')" />
                    </div>
                </div>
            </div>
        </div>
        <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script>
    function PreviewReport(type) {
        var EmpId = getSelectedIds('.multi-Select').join(',');
        var isChecked = $("#chkisDirectCheque").is(":checked");
        var text = "/Reporting/EmployeeFinalSettlementReportViewer?employeeIds=" + EmpId + "&isDirectcheque=" + isChecked;
        $('#LoadReportDiv').load(encodeURI(text));
    }

    $jq14 = jQuery.noConflict(true);
    $jq14(document).ready(function () {
        $jq14('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });

</script>