﻿@using HRMS.Web.CommonHelper
@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "HRMS - Employee No of Excuses";
}


<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee No of Excuses</li>
    </ul>
}

<style>
    .stiMvcViewerReportPanel {
        overflow-x: auto !important;
        width: 100%;
        display: inline-block;
    }
</style>



<!-- END BREADCRUMB -->
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            From Date:
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("txtFromDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerFrom required" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            To Date:
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("txtToDate", DateTime.Now.ToString(SettingsHelper.HRMSDateFormat), new { @class = "form-control datepickerTo required" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            Select Employee:
                        </label>
                        <div class="col-sm-8 padding-0 multi-Select multiddl ddlEmployee">
                            <select multiple="multiple" id="ddlEmployeeList" class="form-control">
                                @foreach (var item in (SelectList)ViewBag.EmployeeList)
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            Sort by:
                        </label>
                        <div class="col-sm-8 padding-0">
                            <select id="ddlSortBy" class="form-control selectpicker">
                                <option value="EmployeeName">Employee Name</option>
                                <option value="EmployeeID">Employee ID</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-3">
                        <div class="form-group">
                            <label for="chkDetailsReport" class="label-form col-sm-4">
                                Detail Report:
                            </label>
                            <div class="col-sm-8">
                                @Html.CheckBox("chkDetailsReport", new { @style = "margin-top:8px", @onclick = "DetailckeckClick()" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            Select Case:
                        </label>
                        <div class="col-sm-8">
                            <select id="ddlSelectCase" class="form-control selectpicker">
                                <option value="">All</option>
                                <option value="Ex Absence">No of Ex Absence </option>
                                <option value="Ex Non Absence">No of Non Ex Absence</option>
                                <option value="Ex Late In">No of Ex Late in</option>
                                <option value="Non Ex Late In">No of Non Ex Late in</option>
                                <option value="Ex Early Out">No of Ex Early out</option>
                                <option value="Non Ex Early Out">No of Non Ex Early out</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="button" id="btnExcuseReport" class="btn btn-primary" value="Preview" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {

        $jquery('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
        DetailckeckClick();
    });

</script>
<script>
    $jquery("#btnExcuseReport").click(function () {
        var detailsReport = $("#chkDetailsReport").is(":checked") == true ? true : false;
        var employeeIds = getSelectedIds('.ddlEmployee').join(',');
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        var sortBy = $("#ddlSortBy").val();
        var selectCase = $("#ddlSelectCase").val();
        var url = "/Reporting/EmployeeNoOfExcusesReportViewer?FromDate=" + fromDate + "&ToDate=" + toDate + "&EmployeeIds=" + employeeIds + "&Sortby=" + encodeURIComponent(sortBy) + "&SelectCase=" + encodeURIComponent(selectCase) + "&DetailsReport=" + detailsReport;
        $jquery("#LoadReportDiv").load(url);
    });

    function DetailckeckClick() {
        if ($("#chkDetailsReport").is(":checked")) {
            DisabledSelect('#ddlSelectCase', false);
        } else {
            DisabledSelect('#ddlSelectCase', true);
        }
    }
</script>