﻿@{
    ViewBag.Title = "HRMS - All Reports";
    HRMS.DataAccess.DBHelper objDBHelper = new HRMS.DataAccess.DBHelper();
    HRMS.Entities.ViewModel.UserContextViewModel userContext = new HRMS.Entities.ViewModel.UserContextViewModel();
    userContext = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
    List<HRMS.Entities.General.MenuNavigationModel> objMenuNavigationModelList = new List<HRMS.Entities.General.MenuNavigationModel>();
    objMenuNavigationModelList = objDBHelper.GetMenuNavigationList().Where(x => userContext.Permisssion.Contains(x.MainNavigationSubCategoryId) == true).Select(x => x).ToList();
    int printreportMenuID = 0;
    if (objMenuNavigationModelList.Where(x => x.MainNavigationSubCategoryName.ToLower() == "all reports").Count() > 0)
    {
        printreportMenuID = objMenuNavigationModelList.Where(x => x.MainNavigationSubCategoryName.ToLower() == "all reports").First().MainNavigationSubCategoryId;
    }
    var reportList = objMenuNavigationModelList.Where(x => x.MainNavigationId== printreportMenuID && x.URL.ToLower() != "letter report" && x.URL.ToLower() != "graphical report").OrderBy(x => x.SortingOrder).ThenBy(x => x.MainNavigationSubCategoryName).ToList();
    var OtherReports= objMenuNavigationModelList.Where(x => x.URL.ToLower() == "letter report").OrderBy(x => x.MainNavigationId).ToList();
    var graphicalReports = objMenuNavigationModelList.Where(x => x.URL.ToLower() == "graphical report").OrderBy(x => x.MainNavigationId).ToList();
    List<int> LoadedReportIds = new List<int>();
}
<link href="~/Content/assets/css/jstree/jstree.min.css" rel="stylesheet" />
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">All Reports</li>
    </ul>
}
<a target="_blank" href="#" id="templink"></a>
<div id="jsTreeMainDiv" class="row col-sm-12">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">All Reports</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <h3><span class="fa fa-list"></span>Print Reports</h3>
                    <div class="push-down-20 reportJsTree">
                        <ul>
                            @foreach (var parentNav in reportList)
                            {
                                var parentlink = parentNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");
                                if (objMenuNavigationModelList.Where(x => x.MainNavigationId == parentNav.MainNavigationSubCategoryId).Count() > 0)
                                {
                                    <li class="noLink">
                                        @Html.Raw(parentlink.Trim())
                                        <ul>
                                            @foreach (var childNav in objMenuNavigationModelList.Where(x => x.MainNavigationId == parentNav.MainNavigationSubCategoryId))
                                            {
                                                var childlink = childNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");

                                                <li>@Html.Raw(childlink.Trim())</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @Html.Raw(parentlink.Trim())
                                    </li>
                                }
                            }
                        </ul>
                    </div>              
                </div>
                <div class="col-sm-4">
                    <h3><span class="fa fa-list"></span>Letter Reports</h3>
                    <div class="push-down-20 reportJsTree">
                        <ul>
                            @foreach (var parentNav in OtherReports)
                            {

                                var parentlink = parentNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");

                                var ChildNodes = OtherReports.Where(m => m.MainNavigationId == parentNav.MainNavigationSubCategoryId).ToList();
                                if (ChildNodes.Count() == 0)
                                {
                                    if (!LoadedReportIds.Contains(parentNav.MainNavigationSubCategoryId))
                                    {
                                        <li>
                                            @Html.Raw(parentlink.Trim())
                                        </li>
                                    }


                                }
                                else
                                {

                                    <li class="noLink">
                                        @Html.Raw(parentlink.Trim())
                                        @{
                                            LoadedReportIds.Add(parentNav.MainNavigationSubCategoryId);
                                        }
                                           
                                        <ul>
                                            @foreach (var childNav in ChildNodes)
                                            {
                                                var childlink = childNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");

                                                <li>@Html.Raw(childlink.Trim())</li>
                                                LoadedReportIds.Add(childNav.MainNavigationSubCategoryId);
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3><span class="fa fa-list"></span>Graphical Reports</h3>
                    <div class="push-down-20 reportJsTree">
                        <ul>
                            @{
                              LoadedReportIds = new List<int>();
                            }
                            
                                @foreach (var parentNav in graphicalReports)
                                {

                                    var parentlink = parentNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");

                                    var ChildNodes = graphicalReports.Where(m => m.MainNavigationId == parentNav.MainNavigationSubCategoryId).ToList();
                                    if (ChildNodes.Count() == 0)
                                    {
                                        if (!LoadedReportIds.Contains(parentNav.MainNavigationSubCategoryId))
                                        {
                                            <li>
                                                @Html.Raw(parentlink.Trim())
                                            </li>
                                        }
                                    }
                                    else
                                    {

                                        <li class="noLink">
                                            @Html.Raw(parentlink.Trim())
                                            @{
                                                LoadedReportIds.Add(parentNav.MainNavigationSubCategoryId);
                                            }

                                            <ul>
                                                @foreach (var childNav in ChildNodes)
                                                {
                                                    var childlink = childNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");

                                                    <li>@Html.Raw(childlink.Trim())</li>
                                                    LoadedReportIds.Add(childNav.MainNavigationSubCategoryId);
                                                }
                                            </ul>
                                        </li>
                                                    }
                                                }
</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Content/assets/js/plugins/jstree/jstree.js"></script>
    <script>

        $(document).ready(function () {
            $(".reportJsTree").find("a").attr("onclick", "ShowLink(this)");
            $(".reportJsTree").find("a").find("span.fa").attr("class", "fa fa-file-text");
            $(".reportJsTree").jstree({
            });
            $(".reportJsTree").bind("select_node.jstree", function (event, data) {
                // data.inst is the tree object, and data.rslt.obj is the node
                return  data.instance.toggle_node(data.node);
            });
        });

        function ShowLink(e) {
            //ShowMessage('success', $(e).attr('href')); noLink
            if (!$(e).closest('li').hasClass("noLink")) {
                $('#templink').attr('href', $(e).attr('href'));
                document.getElementById("templink").click();
            }
        }
    </script>

}