﻿
@{
    ViewBag.Title = "HRMS - Jordan Income Tax Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Jordan Income Tax Report</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body form-horizontal padding-bottom-0">
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <label class="label-form col-sm-4">
                            Select Employee:
                        </label>
                        <div class="col-sm-8 padding-0 multi-Select multiddl ddlEmployee">
                            <select multiple="multiple" id="ddlEmployeeList" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.emplist)
                                {
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-2">
                            <label class="label-form">
                                Sorting:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <select id="ddlSortBy" class="form-control selectpicker">
                                <option value="ASC">Employee Name Ascending</option>
                                <option value="DESC">Employee Name Descending</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <input id="btnIncomeTaxReport" type="button" class="btn btn-primary" value="Preview" />
                        </div>
                    </div>
                </div>               
            </div>

        </div>
    </div>
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    //
    $jquery = jQuery.noConflict(true);
    $jquery(document).ready(function () {
        $jquery('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });

    $jquery("#btnIncomeTaxReport").click(function () {       
        var sortBy = $("#ddlSortBy").val();       
        var EmployeeIds = getSelectedIds('.ddlEmployee').join(',');      
        var url = "/Reporting/JordanIncomeTaxReportViewer?EmployeeIds=" + EmployeeIds + "&sortBy=" + sortBy;
        $jquery("#LoadReportDiv").load(url);
    });    

</script>