﻿
@{
    ViewBag.Title = "HRMS - Pay Deduction Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Pay Deduction Report</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-3">
                    <label class="label-text" >
                        Deduction type
                    </label>
                    @Html.DropDownList("deductionddl", (List<SelectListItem>)ViewBag.DeductionList, new { @class = "selectpicker form-control" })
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-text">
                        Start Date
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        <input id="txtStartDate" type="text" class="datepickerFrom form-control valid" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                    </div>
                </div>
                <div class="form-group col-sm-3  ">
                    <label class="label-text">
                        To Date
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        <input id="txtToDate" type="text" class="datepickerTo form-control valid" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <br />
                    <input id="btnPayDeduction" type="button" class="btn btn-primary" value="Preview" />
                </div>
            </div>
        </div>
        <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Report/DeductionReport.js"></script>
}
