﻿@using System.Web.UI.WebControls;
@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "HRMS - Payroll Varification Report";
}


<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Payroll Varification Report</li>
    </ul>
}

<!-- END BREADCRUMB -->

<div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px">
    @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReportSnapshot = "GetPayrollVarificationReport",
        ViewerEvent = "ViewerEvent"
    },
    Height = 700,
    Appearance =
    {
        ScrollbarsMode = true
    },
    Toolbar =
    {
        ViewMode = StiWebViewMode.WholeReport,
        ShowCurrentPageControl = false,
        ShowViewModeButton = false
    },
    Server = { RequestTimeout = 60 }
})
</div>
