﻿
@{
    ViewBag.Title = "HRMS - Professional Development Report";
    //DateTime startDate = DateTime.Now;
    //string sStartDate = new DateTime(startDate.Year, startDate.Month, 1).ToString("dd/MM/yyyy");
    //string sEndtDate = new DateTime(startDate.Year, startDate.Month, 1).AddMonths(1).AddDays(-1).ToString("dd/MM/yyyy");
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Professional Development Report</li>
    </ul>
}
<style>
    .margintop5 {
        margin: 5px 10px 0px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
                @*<input type="hidden" id="hdnStartDate" value="@sStartDate" />
                    <input type="hidden" id="hdnEndDate" value="@sEndtDate" />*@
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label class="label-form">
                                Training:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownList("ddlTraning", (SelectList)ViewBag.Training, "All", new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label class="label-form">
                                Country:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownList("ddlContry", (SelectList)ViewBag.Country, "All", new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label class="label-form">
                                Employee:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.EmployeeList, "All", new { @class = "form-control selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label class="label-form">
                                From Date:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("txtFromDate", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("dd/MM/yyyy"), new { @class = "form-control datepickerFrom required" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label class="label-form">
                                To Date:
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("txtToDate", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1).ToString("dd/MM/yyyy"), new { @class = "form-control datepickerTo required" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label for="chkTotalHour" class="label-form checkBox-label">
                                Show Total Hours:

                            </label>

                        </div>
                        <div class="col-sm-8 padding-0">
                            <label class="label-text padding-0 margintop5">
                                @Html.CheckBox("chkTotalHour")
                            </label>

                        </div>

                    </div>
                </div>
                <div class="col-sm-12 padding-0">

                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-0">
                            <label for="chkByTraining" class="label-form">
                                Report By Training:
                            </label>
                        </div>
                        <div class="col-sm-8 padding-0">
                            <label class="label-text padding-0 margintop5">
                                @Html.CheckBox("chkByTraining")
                            </label>
                           

                        </div>
                    </div>
                    <div class="col-sm-1">
                        <input type="button" id="btnEmployeeTraining" class="btn btn-primary pull-right" value="Preview" />
                    </div>

                    <div class="col-sm-7">
                    </div>

                    </div>

            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="divStireport">
        <div id="LoadReportDiv" class="col-md-12 padding-0 report-container" style="max-height:1250px; min-height:300px;"></div>
    </div>
    <div class="col-md-12" id="divCrReport">
        <div class="panel panel-default hidden" id="reportPanel">
            <div class="panel-body reportsDiv col-md-12" id="reportsDiv">
                <iframe src="" id="reportsIframe" width="100%" height="950"></iframe>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Report/AcademicReport.js"></script>
}