﻿@using System.Web.UI.WebControls;
@using Stimulsoft.Report.Mvc;
@{
    Layout = null;
}
<!-- END BREADCRUMB -->
@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReportSnapshot = (string)ViewBag.ActionUrl,
        ViewerEvent = "ViewerEvent"
    },
    Height = 700,
    Appearance =
    {
        ScrollbarsMode = true
    },
    Toolbar =
    {
        ViewMode = StiWebViewMode.WholeReport,
        ShowCurrentPageControl = false,
        ShowViewModeButton = false
    },
    Server = { RequestTimeout = 600 }
})
<style type="text/css">
    /*.stiMvcViewerMenu table tbody tr td {
        font-size: 12px !important;
    }

    .stiMvcViewerClearAllStyles {
        font-size: 12px !important;
    }

    .stiMvcViewerParentMenu {
        width: 206px !important;
    }*/
</style>
<script type="text/javascript">

</script>