﻿

@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "HRMS - Salary Report Based On Cycle";
}


<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Salary Report Based On Cycle</li>
    </ul>
}

<style>
    .stiMvcViewerReportPanel {
        overflow-x: auto !important;
        width: 100%;
        display: inline-block;
    }
</style>



<!-- END BREADCRUMB -->
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">


                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            Pay Cycle:
                        </label>
                        <div class="col-sm-8 padding-0 ddlPayCycle">
                            @Html.DropDownList("ddlPayCycle", (SelectList)ViewBag.Paycyle, new { @class = "form-control selectpicker", @onchange = "javascript:GetEmployeeByCycleID()" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-form col-sm-4">
                            Select Employee:
                        </label>
                          <div id="LoadAsPerCycleId">           

                          </div>

                        </div>
                    <div class="form-group col-sm-2">
                        <label class="label-form padding-left-0 padding-right-0 checkBox-label">
                            Arabic Report:
                            <input id="chkArabic" type="checkbox" />
                        </label>
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="button" id="btnPreviewReport" class="btn btn-primary" value="Preview" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<script>
    $(document).ready(function () {      
        GetEmployeeByCycleID();
    });
    $jquery = jQuery.noConflict(true);
    $jquery("#btnPreviewReport").click(function () {

        var employeeIds = getSelectedIds('.ddlEmployee').join(',');
        var cycleId = $("#ddlPayCycle").val();
        var url = "/Reporting/SalaryReportBasedOnCycleViewer?EmployeeIds=" + employeeIds + "&CycleId=" + cycleId + "&IsReportArabic=" + $("#chkArabic").is(":checked");
        $jquery("#LoadReportDiv").load(url);
    });
 
    function GetEmployeeByCycleID()
    {       
        var cycleId = $("#ddlPayCycle").val();
        var url = "/Reporting/SalaryReportAsPerCycle?CycleId=" + cycleId;
        $jquery("#LoadAsPerCycleId").load(url);        
    }
</script>