﻿@model List<string>
@{
    int countModel = Model.Count();
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Salary Statement Detail Report</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Employee Salary Revision Report";
}

<div class="row ">
    <div class="col-md-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-8 padding-0">
                            <div class="col-sm-4 form-group padding-0">
                                <label class="label-form padding-left-0 padding-right-0" for="chkisIncludeInactive">
                                    Include Inactive Employee(s):
                                    <input type="checkbox" id="chkisIncludeInactive" onclick="IncludeIncativeEmployee(this)" name="chkisIncludeInactive" style="margin-top:0px;margin-left:56px;">
                                </label>
                            </div>
                            <div class="col-sm-4 form-group padding-0">
                                <label class="label-form padding-left-0 padding-right-0" for="chkisIncludeSalIncEmployee">
                                    Only salary Increment Employee(s):
                                    <input type="checkbox" id="chkisGetIncrementedSalaryEmployee" onclick="GetIncrementedSalaryEmployee(this)" name="chkisIncludeSalIncEmployee" style="margin-top:0px;margin-left:56px;">
                                </label>
                            </div>
                            <div class="col-sm-4 form-group padding-0">
                                <label class="label-form padding-left-0 padding-right-0" for="chkisIncludeJoinInLastMonth">
                                    Last Month Joining Employee(s):
                                    <input type="checkbox" id="chkisIncludeEmpJoinInLastMonth" onclick="GetEmployeeInJoinInLastMonth(this)" name="chkisIncludeJoinInLastMonth" style="margin-top:0px;margin-left:56px;">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3 padding-0">
                                    <label class="label-form">Select Employee:</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="multi-Select multiddl">
                                        <select multiple="multiple" id="ddlEmployeeList" name="ddlEmployeeList" class="form-control">
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var item in (List<SelectListItem>)ViewBag.ActiveEmployee)
                                                {
                                                    <option value="@item.Value" @(Model.Exists(value => value == item.Value) ? "selected=true" : "")>@item.Text</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var item in (List<SelectListItem>)ViewBag.ActiveEmployee)
                                                {
                                                    <option selected value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 padding-0">
                        <div class="col-sm-4 padding-0">
                            <input type="button" value="Preview" class="btn btn-primary pull-left" id="btnStatment" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default hidden" id="reportPanel">
            <div class="panel-body reportsDiv col-md-12" id="reportsDiv">
                <iframe src="" id="reportsIframe" width="100%" height="950"></iframe>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    //
    $jq14 = jQuery.noConflict(true);
    $jq14(document).ready(function () {

        $jq14('#ddlEmployeeList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
        if ('@countModel' > 0) {
            //PreviewReport();
        }
        //PreviewReport();
        //$jq14('.multiSelect .btn-group, .multiSelect .multiselect').css({ 'width': '100%' })
    });

</script>


@section scripts{
    <script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Report/SalaryRevisionReport.js"></script>
}

<style>
    .multiselect-container > li {
        min-height: 25px;
    }
</style>