﻿
@{
    ViewBag.Title = "HRMS - Salaries By Section Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Salaries By Section Report</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-2">
                        <h3 class="panel-title">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Filters
                        </h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="div-center">
                            <div class="">
                                <a class="profile-control-left filter-icon">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <label class="label-form col-sm-4">
                            Select Section:
                        </label>
                        <div class="col-sm-8 padding-0 multi-Select multiddl ddlSection">
                            <select multiple="multiple" id="ddlSectionList" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.SectionList)
                                {
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-sm-4 padding-left-0">
                            <label class="label-form">
                                Select Organization:
                            </label>
                        </div>
                        <div class="col-sm-8 padding-0 multi-Select multiddl ddlOrganization">
                            <select multiple="multiple" id="ddlOrganizationList" class="form-control">
                                @foreach (var item in ViewBag.OrganizationList)
                                {
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                }
                            </select>
                        </div>                       
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="col-sm-3 padding-0">
                            
                        </div>
                        <div class="col-sm-9 padding-0">
                            <input id="btnPaySlipStatementReport" type="button" class="btn btn-primary" value="Preview" />
                        </div>
                    </div>
                </div>              
            </div>

        </div>
    </div>
    <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);    
    $jquery(document).ready(function () {
        $jquery('#ddlSectionList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });
    $jquery(document).ready(function () {
        $jquery('#ddlOrganizationList').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
    });

    $jquery("#btnPaySlipStatementReport").click(function () {                      
        var SectionId = getSelectedIds('.ddlSection').join(',');
        var OrganizationIds = getSelectedIds('.ddlOrganization').join(',');
        var url = "/Reporting/SalariesBySectionReportViewer?SectionId=" + SectionId + "&OrganizationIds=" + OrganizationIds;

        $jquery("#LoadReportDiv").load(url);
    });


</script>