﻿

@{
    ViewBag.Title = "HRMS - Staff Qualification Report";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Staff Qualification Report</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-3">
                        <label class="label-text">
                            Employee Name:
                        </label>
                        @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.EmployeeList, "All", new { @class = "form-control selectpicker", @data_live_search = "true" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-text">
                            Nationality:
                        </label>
                        @Html.DropDownList("ddlNationality", (SelectList)ViewBag.Nationality, "All", new { @class = "form-control selectpicker", @data_live_search = "true" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-text">
                            Category:
                        </label>
                        @Html.DropDownList("ddlJobCategory", (SelectList)ViewBag.JobCategory, "All", new { @class = "form-control selectpicker", @data_live_search = "true" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-text col-sm-12">
                            &nbsp;
                        </label>
                        <input type="button" id="btnStaffQualifiaction" class="btn btn-primary" value="Get Report" />
                    </div>
                </div>
            </div>
        </div>
        <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Report/AcademicReport.js"></script>
}






