﻿@{
    ViewBag.Title = "HRMS - Employee Credentials";
}


<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Credentials</li>
    </ul>
}
<!-- END BREADCRUMB -->
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-2">
                        <label class="label-form">Select Employee:</label>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="multi-Select multiddl multiEmployee">
                            @*@Html.DropDownList("EmployeeListddl", (SelectList)ViewBag.EmployeeList, "All Employee", new { @class = "form-control", @multiple = "multiple", required = "required" })*@
                            <select multiple="multiple" id="EmployeeListddl" name="EmployeeListddl" class="form-control">
                                @foreach (var item in (SelectList)ViewBag.EmployeeList)
                                {
                                    <option selected  value="@item.Value">@item.Text</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="button" value="Get Report" onclick="GetReport();" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
    </div>
</div>
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<script>
    function GetReport() {

        var employeeids = getSelectedIds(".multiEmployee").join();
        if (employeeids != "") {
            $("#LoadReportDiv").load("/Reporting/StaffPasswordDetailReportingViewer?EmployeeId=" + employeeids);
        }
    }
</script>

<script type="text/javascript">
    $jQuery = jQuery.noConflict(true);
    $jQuery(document).ready(function () {

        $("#EmployeeListddl option:contains(All Employee)").attr('selected', 'selected');
        $jQuery('#EmployeeListddl').multiselect({ enableFiltering: false, enableCaseInsensitiveFiltering: true, maxHeight: '300', includeSelectAllOption: true });
        //GetReport();
    });
</script>