﻿
<style type="text/css">
    .stiMvcViewerReportPanel {
        min-height: 500px !important;
    }

    .stiMvcViewerToolBarTable, .stiMvcViewerClearAllStyles {
        font-size: 12px !important;
    }
</style>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#reportframe").attr("src", "/Reporting/StaffResponsibiltiesReportingViewer?staffTypeId=1");//Admin
    });

    function GetReport() {
        var staffTypeId = $("#ddlStaffTypeList").val();
        $("#reportframe").attr("src", "/Reporting/StaffResponsibiltiesReportingViewer?staffTypeId=" + staffTypeId);
    }
</script>
<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Staff Responsibilities</li>
    </ul>
}
<!-- END BREADCRUMB -->
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-2" style="padding: 7px 0 0 0 !important;">
            <label>Select Staff Type:</label>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("ddlStaffTypeList", (SelectList)ViewBag.StaffTypeList, null, new { @class = "form-control", required = "required" })
        </div>
        <div class="col-md-2">
            <input type="button" value="Get Report" onclick="GetReport();" class="form-control" />
        </div>
    </div>
</div>
<div>
    <iframe id="reportframe" width="100%" frameborder="0" height="1200"></iframe>
</div>
