﻿@using System.Web.UI.WebControls;
@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "HRMS - Total Staff Report";
}


<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Total Staff Report</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 padding-0">
                    <div class="form-group col-sm-3">
                        <div class="radio">
                            <label>
                                @Html.RadioButton("radioDepartmentEmployee", "", true, new { @Name = "totalEmployee" })
                                Total Staff By Department
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="radio">
                            <label>
                                @Html.RadioButton("radioQualificationEmployee", "", false, new { @Name = "totalEmployee" })
                                Total Staff By Qualification
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <input id="btnTotalSatffReport"  type="button" class="btn btn-primary" value="Preview" />
                    </div>

                </div>

            </div>
        </div>
        <div id="LoadReportDiv" class="col-sm-12 report-container padding-0" style="max-height:1150px"></div>
    </div>
</div>
<!-- END BREADCRUMB -->
@section Scripts
{
    <script src="~/Scripts/Custom/Report/MinistryReport.js"></script>
}