﻿@{
    ViewBag.Title = "WPS - Monthly Salary Report";
}
<!-- START BREADCRUMB -->
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">WPS - Monthly Salary Report</li>
    </ul>
}

<!-- END BREADCRUMB -->
<div class="row">
    <div class="col-sm-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Filters
                    </h3>
                    <ul class="panel-controls">                      
                        <li>
                            <a href="javascript:void(0);" class="btnadd toggle" data-toggle="exportTable" title="Download Excel"><span class="fa fa-download"></span></a>
                        </li>
                    </ul>
                </div>             
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12 padding-0">
                            <div class="col-sm-4">
                                <div class="col-sm-5 padding-0">
                                    <label class="label-form">
                                        Select Organization:
                                    </label>
                                </div>
                                <div class="col-sm-7 padding-0 multi-Select multiddl ddlCompany">
                                    <select multiple="multiple" id="ddlCompanyList" class="form-control">
                                        @foreach (var item in ViewBag.Company)
                                        {
                                            <option selected="selected" value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>                             
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-5">
                                    <label class="label-form">
                                        Select Pay Cycle:
                                    </label>
                                </div>
                                <div class="col-sm-7 padding-0">
                                    @Html.DropDownList("ddlPayCycle", (SelectList)ViewBag.PayCycleList, " Select All", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlPayCycle" })                                
                                </div>
                            </div>                          
                            <div class="col-sm-2">
                                <button type="button" id="wPSMonthlySalaryReportPreview" class="btn btn-primary">Preview</button>
                            </div>
                            <div class="col-md-2 pull-right hidden" id="exportTable" >
                                <a href="#" class="list-group-item" onClick="WPSMonthlySalaryReportExport()"><img src='/Content/assets/img/icons/xls.png' width="24" /> Export to Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
           
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default hidden" id="reportPanel">
            <div class="panel-body reportsDiv col-md-12" id="reportsDiv">
                <iframe src="" id="reportsIframe" width="100%" height="950"></iframe>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/Report/WPSMonthlySalaryReport.js"></script>
    

