﻿@model HRMS.Entities.PositionModel



@*<script src="~/Scripts/jquery.validate.min.js"></script>*@

@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

    <script>
        //var timer
        function Add(title, id, dropdownId) {

            $("#hdnDropDownReloadId").val(dropdownId);
            $("#hdnDropDownId").val(id);
            $("#modal_Loader").load("/Employee/AddType/" + id);
            $("#myModal").modal("show");
            $("#modal_heading").text(title);


        }

        function ValidateForm() {
            $("#hidFormSubmissionInitiatorIdentity").val("btnSubmit");
            //$("#acrdPositionDetails").attr("class", "");
            //$("#acrdJobInfromation").attr("class", "");
            $("#collapseOne").attr("class", "panel-body panel-body-open");
            $("#collapseOne").css("display", "block");
            $("#collapseTwo").attr("class", "panel-body panel-body-open");
            $("#collapseTwo").css("display", "block");

            if ($("#frmAddPosition").valid()) {

            }
        }
        function ValidateFormAndNewEntry() {
            $("#hidFormSubmissionInitiatorIdentity").val("btnSubmitAndNew");
            $("#collapseOne").attr("class", "panel-body panel-body-open");
            $("#collapseOne").css("display", "block");
            $("#collapseTwo").attr("class", "panel-body panel-body-open");
            $("#collapseTwo").css("display", "block");

            if ($("#frmAddPosition").valid()) {
                AddPosition();
            }
            else {
                e.preventDefault();
            }
        }
        $("#btnCancel").click(function () {
            $("#myModal").modal("hide");
        });

        function onFailure(xhr, status, error) {

            console.log("xhr", xhr);
            console.log("status", status);

            // TODO: make me pretty
            alert(error);
        }

        function onSuccess(data, status, xhr) {

            console.log("data", data);
            console.log("status", status);
            console.log("xhr", xhr);
            if (data.Success == true) {
                if (data.InitiatorIdentity == "btnSubmit") {

                    ShowMessage("success", data.Message);
                    setTimeout(function () { location.href = "/Position/Index" }, 3000);
                    // $("#myModal").modal("hide");
                    // getGrid();
                }
                else if (data.InitiatorIdentity == "btnSubmitAndNew") {
                    ShowMessage("success", data.Message);
                    setTimeout(function () { location.href = "/Position/AddPosition" }, 3000);
                    // $("#myModal").modal("hide");
                    // getGrid();
                    // timer = setInterval(AddPosition,1000);
                }
            }
            else {
                ShowMessage("error", data.Message);
            }

        }


        function AddNewJobFamily() {
            $("#divNewJobFamily").css("display", "block");
            $("#divNewJobFamilyFrench").css("display", "block");
        }

        function CancelAddPosition() {
            location.href = "/Position/Index";
        }
    </script>
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Add Position</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Add Position";
}

@using (Ajax.BeginForm("AddPosition", "Position", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmAddPosition" }))
{
    <input type="hidden" id="hdnDropDownId" />
    <input type="hidden" id="hdnDropDownReloadId" />
    <div class="row form-horizontal">
        <div class="col-sm-12 margin_bottom">

            <input type="submit" id="btnSubmit" onclick="ValidateForm();" class="btn btn-primary" value="Save" />
            <input type="submit" id="btnSubmitAndNew" onclick="ValidateFormAndNewEntry()" class="btn btn-primary" value="Save & New" />
            <input type="button" id="btnCancel" onclick="CancelAddPosition()" class="btn btn-primary" value="Cancel" />
            <input type="hidden" value="" id="hidFormSubmissionInitiatorIdentity" name="hidFormSubmissionInitiatorIdentity" />
        </div>
        <div class="col-sm-12 margin_bottom">
            <div class="bs-example">
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapseOne">POSITION DETAILS</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-body panel-body-open" style="display: block;">
                            <div class="col-sm-12 padding-0 margin_bottom">
                                <div class="form-group col-sm-6">
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12 text-right">
                                        <span class="required-field">*</span>&nbsp;Indicate required fields
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Organization Name: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, " Select Organization Name  ", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany" })
                                        @Html.ValidationMessageFor(m => m.CompanyID)
                                    </div>

                                </div>

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Position Title (En): </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.PositionTitle)
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form">Position Title (Ar): </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionTitle_2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PositionTitle_2)
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form">Position Title (Fr): </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionTitle_3, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PositionTitle_3)
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form">Active: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>@Html.CheckBoxFor(m => m.IsActive)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form">Short Code: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionCode, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3"><label for="IsAcademic" class="label-form">SIS Access: </label></div>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>@Html.CheckBoxFor(m => m.IsAcademic)</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    
                                </div>
                            </div>

                            <div class="col-sm-6">

                                @*<div class="form-group col-sm-12" id="DivEstablished" >
                <label class="col-sm-3">Established: </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Established, new { @class = "datepicker" })

                </div>
            </div>*@
                                @*<div class="form-group col-sm-12">
                <label class="col-sm-3">Available: </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Available, new { @class = "datepicker", required = "required" })

                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3">End Date: </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.EndDate, new { @class = "datepicker" })

                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3">Number of Planned Incumbents: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.IncumbentsNumber, new { @class = "form-control" })

                </div>
            </div>*@

                            </div>

                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapseTwo">JOB INFORMATION</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-body" style="height:280px">

                            <div class="col-sm-12">                            

                                @*<div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Department: </label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.DepartmentID, (SelectList)ViewBag.Department, "Select Department", new { @class = "form-control selectpicker", required = "required" })
                                        @Html.ValidationMessageFor(m => m.DepartmentID)
                                    </div>
                                </div>*@
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form">Job Family:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group dropdownHide">
                                            @Html.DropDownListFor(m => m.JobFamilyID, (List<SelectListItem>)ViewBag.JobFamily, new { @class = "form-control selectpicker" })
                                            <span class="input-group-addon add-on">
                                                <a href="javascript:Add('Add Job Family',45,'#JobFamilyID')" data-toggle="tooltip" title="Add New Job Family!" style="color:#ffffff">+</a>
                                            </span>
                                        </div>
                                    </div>
                                    @*<label class="col-sm-2"></label>
                                        <div class="col-sm-6 ">
                                            <input type="text" class="form-control" placeholder="إضافة عائلية وظيفة جديدة" name="newJobFamily" id="newJobFamily" style="display:none;">
                                            <input type="text" class="form-control" placeholder="Ajouter famille nouvel emploi" name="newJobFamilyFrench" id="newJobFamilyFrench" style="display:none;">
                                        </div>*@
                                    @Html.ValidationMessageFor(m => m.JobFamilyID)
                                </div>
                                <div class="form-group col-sm-12" id="divNewJobFamily" style="display:none">
                                    <label class="col-sm-2">&nbsp;</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="إضافة عائلية وظيفة جديدة" name="newJobFamily" id="newJobFamily">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" id="divNewJobFamilyFrench" style="display:none">
                                    <label class="col-sm-2">&nbsp;</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Ajouter famille nouvel emploi" name="newJobFamilyFrench" id="newJobFamilyFrench">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Reg/Temp:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group ">
                                            @Html.DropDownListFor(m => m.Reg_TempID, (SelectList)ViewBag.RegTemp, "Select Regular/Temporary", new { @class = "form-control selectpicker", required = "required" })
                                            <span class="input-group-addon add-on">
                                                <a href="javascript:Add('Add Reg/Temp',50,'#Reg_TempID')" data-toggle="tooltip" title="Add New Reg/Temp!" style="color:#ffffff">+</a>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Reg_TempID)
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form">Employment Type:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.EmploymentTypeID, (SelectList)ViewBag.Employment, "Select Employment Type", new { @class = "form-control selectpicker" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


