﻿@model HRMS.Entities.PositionModel


@{
    @*<style>
            label {
                text-align: right;
            }

            #btnCancel {
                /*background-color: #ccc !important;
                color: black !important;
                border: 1px solid black !important;*/
                font-weight: bold !important;
            }
        </style>*@
}
@section scripts{

    <script src="~/Scripts/Custom/Position.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>


    <script>
        function Add(title, id, dropdownId) {
            $("div.tooltip").hide();
            $("#hdnDropDownReloadId").val(dropdownId);
            $("#hdnDropDownId").val(id);
            $("#modal_Loader").load("/Employee/AddType/" + id);
            $("#myModal").modal("show");
            $("#modal_heading").text(title);
        }

        $(document).ready(function () {
            $('.datepicker1').datepicker({
                format: 'dd/mm/yyyy',
                changeMonth: true,
                changeYear: true,
                yearRange: '-100:+100',
                buttonImage: "../../Content/images/calender-icon.png",
                showOn: "both",
                buttonImageOnly: true,
                //maxDate: new Date()
                //  maxDate: -1,
                buttonImageText: "Calendar"
            });


        });
        function ValidateForm() {
            $("#hidFormSubmissionInitiatorIdentity").val("btnSubmit");
            //$("#acrdPositionDetails").attr("class", "");
            //$("#acrdJobInfromation").attr("class", "");
            //$("#collapseOne").attr("class", "in");
            //$("#collapseTwo").attr("class", "in");
            $("#collapseOne").attr("class", "panel-body panel-body-open");
            $("#collapseOne").css("display", "block");
            $("#collapseTwo").attr("class", "panel-body panel-body-open");
            $("#collapseTwo").css("display", "block");
            if ($("#frmEditPosition").valid()) {

            }
        }

        $("#btnCancel").click(function () {
            location.href = "/Position/Index";
            // $("#myModal").modal("hide");
        });

        function onFailure(xhr, status, error) {

            console.log("xhr", xhr);
            console.log("status", status);

            $.MessageBox({
                buttonDone: "Ok",
                message: error,
            });
        }

        function onSuccess(data, status, xhr) {

            console.log("data", data);
            console.log("status", status);
            console.log("xhr", xhr);
            if (data.Success == true) {
                if (data.InitiatorIdentity = "btnSubmit") {
                    ShowMessage("success", data.Message);
                    setTimeout(function () { location.href = "/Position/Index" }, 3000);
                    // $("#myModal").modal("hide");
                    //getGrid();
                }
                //else if (data.InitiatorIdentity = "btnSubmitAndNew") {
                //    alert(data.Message);
                //    // $("#myModal").modal("hide");
                //    getGrid();
                //    // timer = setInterval(AddPosition,1000);
                //}
            }
            else {
                ShowMessage("error", data.Message);
            }

        }


    </script>


}


@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Edit Position</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Edit Position";
}




@using (Ajax.BeginForm("EditPosition", "Position", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditPosition" }))
{
    <div class="row form-horizontal">

        <div class="col-sm-12 margin_bottom">
            @*<input type="button" id="btnAddJobDescription" onclick="AddJobDescription(@Model.PositionID);" class="btn btn-primary" value="Add Job Description" />*@
            <input type="submit" id="btnSubmit" onclick="ValidateForm();" class="btn btn-primary" value="Update" />
            @*<input type="submit" id="btnSubmitAndNew" class="btn btn-primary" value="Save & New" />*@
            <a href="/Position/Index" id="btnCancel" class="btn btn-primary"><b>Cancel</b></a>
            <input type="hidden" value="" id="hidFormSubmissionInitiatorIdentity" name="hidFormSubmissionInitiatorIdentity" />
        </div>
        @Html.HiddenFor(x => x.PositionID)
      
        <div class="col-sm-12 margin_bottom">
            <div class="bs-example">
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapseOne">POSITION DETAILS</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-body panel-body-open">
                            <div class="col-sm-12 padding-0 margin_bottom">
                                <div class="form-group col-sm-6">
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12 text-right">
                                        <span class="required-field">*</span>&nbsp;Indicate required fields
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Organization Name: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, " Select Organization Name  ", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany" })
                                        @Html.ValidationMessageFor(m => m.CompanyID)
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3"><label class=" label-form"><span class="required-field">*</span>&nbsp;Position Title (En): </label></div>

                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.PositionTitle)
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3"><label class="label-form">Position Title (Ar): </label></div>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionTitle_2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PositionTitle_2)
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class=" label-form">Position Title (Fr): </label>
                                    </div>

                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionTitle_3, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PositionTitle_3)
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class=" label-form">Active: </label>
                                    </div>

                                    <div class="col-sm-9">
                                        @*@Html.DropDownListFor(m => m.StatusID, (SelectList)ViewBag.Status, "Select Status", new { @class = "form-control selectpicker", required = "required" })
            @Html.ValidationMessageFor(m => m.StatusID)*@
                                        <div class="checkbox">
                                            <label>@Html.CheckBoxFor(m => m.IsActive)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label class=" label-form">Short Code: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PositionCode, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-3">
                                        <label for="IsAcademic" class="label-form">SIS Access:</label>
                                    </div>

                                    <div class="col-sm-9">
                                        <div class="checkbox"><label>@Html.CheckBoxFor(m => m.IsAcademic)</label></div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    
                                </div>
                            </div>



                            @*<div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group col-sm-12">
                    <label class="col-sm-4">Position Title: </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.PositionTitle)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-4">Position Short Code: </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PositionCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PositionCode)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-4">Description: </label>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", required = "required", maxlength = "485", rows = "8" })
                        <span style="text-align: right; margin-bottom: 10px; color: #999;font-size:10px">Character Limit: 485</span>
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group col-sm-12">
                    <label class="col-sm-4">Status: </label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.StatusID, (SelectList)ViewBag.Status, "Select Status", new { @class = "form-control selectpicker", required = "required" })
                        @Html.ValidationMessageFor(m => m.StatusID)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-4">Established: </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Established, new { @class = "datepicker1 form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.Established)
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-sm-4">Is Academic: </label>
                    <div class="col-sm-8">
                        @Html.CheckBoxFor(m => m.IsAcademic)
                        @Html.ValidationMessageFor(m => m.IsAcademic)
                    </div>
                </div>
            </div>
        </div>*@

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapseTwo">JOB INFORMATION</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-body">

                            <div class="col-sm-12">                             

                                @*<div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Department:</label>
                                    </div>
                                     
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.DepartmentID, (SelectList)ViewBag.Department, "Select Department", new { @class = "form-control selectpicker", required = "required" })
                                        @Html.ValidationMessageFor(m => m.DepartmentID)
                                    </div>
                                </div>*@
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form">Job Family:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group ">
                                            @Html.DropDownListFor(m => m.JobFamilyID, (List<SelectListItem>)ViewBag.JobFamily, new { @class = "form-control selectpicker" })
                                            <span class="input-group-addon add-on">
                                                <a href="javascript:Add('Add Job Family',45,'#JobFamilyID')" data-toggle="tooltip" title="Add New Job Family!" style="color:#ffffff">+</a>
                                            </span>
                                        </div>
                                    </div>
                                    @*<label class="col-sm-2"></label>
                                        <div class="col-sm-6 ">
                                            <input type="text" class="form-control" placeholder="إضافة عائلية وظيفة جديدة" name="newJobFamily" id="newJobFamily" style="display:none;">
                                            <input type="text" class="form-control" placeholder="Ajouter famille nouvel emploi" name="newJobFamilyFrench" id="newJobFamilyFrench" style="display:none;">
                                        </div>*@
                                    @Html.ValidationMessageFor(m => m.JobFamilyID)
                                </div>


                                <div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form"><span class="required-field">*</span>&nbsp;Reg/Temp:</label>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.Reg_TempID, (SelectList)ViewBag.RegTemp, "Select Regular/Temporary", new { @class = "form-control selectpicker", required = "required" })
                                        @Html.ValidationMessageFor(m => m.Reg_TempID)
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-2">
                                        <label class="label-form">Employment Type:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.EmploymentTypeID, (SelectList)ViewBag.Employment, "Select Employment Type", new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(m => m.EmploymentTypeID)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}