﻿@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Position</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS - Position";
}

<style>
    /*.modal-open .modal {

        overflow-y: hidden;
    }*/
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4">
                    <h3 class="panel-title"><span class="fa fa-tags"></span> Position</h3>
                </div>
                <div class="col-sm-5">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" title="Add Position" id="btn_add" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row" id="">
                    <div class="col-sm-10 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2 padding-1">
                        <div class="col-sm-1 padding-0"></div>
                        <div class="col-sm-6 padding-0">
                            <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="GetData(1)">
                        </div>
                        <div id="exportIcon" class="col-sm-5 padding-0 margin_bottom"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-12 innerdiv">
                    <table id="tbl_PositionList" class="display table table-bordered table-striped" width="100%"></table>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/Custom/Position.js"></script>
    <script>
        $(document).ready(function () {
            getGrid();
            $("#btnSearch").click(function () { getGrid(); });
            $("#btn_ExportToExcel").click(function () { ExportToExcel(); });
            $("#btn_ExportToPdf").click(function () { ExportToPdf(); });
            $('#collapseOne').css("display", "block");
            $("#exportIcon").html(getExportIcon("1", "ExportToExcel()", "ExportToPdf()"));
        });
    </script>
}