﻿@model HRMS.Entities.PositionModel
@{
    Layout = null;
}


@{
    HRMS.DataAccess.DBHelper objDBHelper = new HRMS.DataAccess.DBHelper();
    HRMS.DataAccess.DepartmentDB objDepartmentDB = new HRMS.DataAccess.DepartmentDB();
    HRMS.Entities.ViewModel.UserContextViewModel objUserContextViewModel = new HRMS.Entities.ViewModel.UserContextViewModel();
    objUserContextViewModel = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
}

@*@section Scripts
    {*@
<script src="~/Scripts/Custom/Position.js"></script>
@*}*@






@*<div class="row">
        <div class="col-md-12">

            <input type="button" id="btnEdit" onclick="EditPosition(@Model.PositionID)" class="btn btn-primary" value="Edit" style=" margin-left: 5px;"/>

            <a href="/Position/Index" id="btnCancel" class="btn btn-primary">Ok</a>
            <input type="hidden" value="" id="hidFormSubmissionInitiatorIdentity" name="hidFormSubmissionInitiatorIdentity" />
        </div>
    </div>*@

<div class="panel panel-default" id="divBankInformation">
    <div class="panel-body">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">POSITION DETAILS</a>
                    </h4>
                </div>
                @*<div id="collapseOne" class="panel-collapse collapse ">*@
                <div class="panel-collapse collapse in" id="collapseOne">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="col-md-4">Organization Name: </label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.CompanyName, new { @class = "form-control", required = "required" })
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-4">Position Title (En): </label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.PositionTitle, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-4">Position Title (Ar): </label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.PositionTitle_2, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-4">Position Title (Fr): </label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.PositionTitle_3, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-4">Short Code: </label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.PositionCode, new { @class = "form-control" })
                                </div>
                            </div>


                            @*<div class="form-group col-md-12">
            <label class="col-md-7" style="text-align:left">Number of Planned Incumbents: </label>
            <div class="col-md-5">
                @Html.DisplayFor(m => m.IncumbentsNumber, new { @class = "form-control",@style="float:left;" })
            </div>
        </div>*@


                            <div class="form-group col-md-12">
                                <label class="col-md-4">Active: </label>
                                <div class="col-md-8">
                                    @Html.DisplayFor(m => m.IsActive)
                                </div>
                            </div>

                            @*<div class="form-group col-md-12">
            <label class="col-md-4">Available: </label>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Available, new { @class = "datepicker", required = "required" })
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-4">End Date: </label>
            <div class="col-md-8">
                @Html.DisplayFor(m => m.EndDate, new { @class = "datepicker" })
            </div>
        </div>*@
                            <div class="form-group col-md-12">
                                <label class="col-md-4">SIS Access: </label>
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.IsAcademic)
                                </div>
                            </div>




                        </div>


                    </div>

                    </div>
            </div>


            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> JOB INFORMATION</a>
                    </h4>
                </div>
                

                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Department: </label>
                                    <div class="col-md-8">
                                        @objDepartmentDB.GetAllDepartmentByCompanyId(objUserContextViewModel.CompanyId).Where(x => x.DepartmentId == Model.DepartmentID).Select(x => x.DepartmentName_1).SingleOrDefault()
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Job Family: </label>
                                    <div class="col-md-8">
                                        @objDBHelper.GetJobFamilyList().Where(x => x.JobFamilyID == Model.JobFamilyID).Select(x => x.JobFamilyName).SingleOrDefault()
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Reg/Temp: </label>
                                    <div class="col-md-8">
                                        @objDBHelper.GetRegTempList().Where(x => x.Reg_TempID == Model.Reg_TempID).Select(x => x.Reg_TempName).SingleOrDefault()
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Employment Type:</label>
                                    <div class="col-md-8">
                                        @objDBHelper.GetEmploymentTypeList().Where(x => x.EmploymentTypeID == Model.EmploymentTypeID).Select(x => x.EmploymentTypeName).SingleOrDefault()
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />
    </div>
</div>