﻿@model HRMS.Entities.ShortLeaveModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<script>

    $(function () {
        bindSelectpicker('.selectpickerddl');
    });

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        // TODO: make me pretty
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            var d1 = $("#txtStartDate").val();
            var d2 = $("#txtToDate").val();
            var id = $("#ddl_EmpList").val();
            getGridShortLeaveLateInEarlyOut(id, d1, d2);
        }
        else {
            ShowMessage("error", data.Message)
        }
    }

    function EditLateAndEarly() {
        $("#EarlyMinutes").removeAttr("disabled");
        $("#LateMinutes").removeAttr("disabled");
        $("#frmEditLateAndEarly").submit();
    }

</script>

<div class="panel panel-default" id="AddAbsentLate">
    @using (Ajax.BeginForm("EditShortLeave", "ShortLeave", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditLateAndEarly" }))
    {
        @Html.HiddenFor(x => x.ShortLeaveID)
        <div class="panel-body">
            @*<table style="width:100%;">*@
            <div class="form-group col-sm-12">
                <div class="col-sm-11">
                    <div class="text-right">
                        <span class="required-field">*</span>&nbsp;Indicate required fields
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">Employee:</label>
                <div class="col-sm-8">
                    <label class="label-form padding-left-0">
                        @*@ViewBag.Employee*@
                        @Html.DisplayFor(m => m.FullName)
                        @Html.ValidationMessageFor(m => m.FullName)
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    <span class="required-field">*</span> Leave Date:
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(m => m.LeaveDate, new { @class = "form-control datepickerTo required" })
                        @Html.ValidationMessageFor(m => m.LeaveDate)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    <span class="required-field">*</span> Leave Time:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="As per approved by school." class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-clock-o" style="font-size:18px"></span></span>
                        @Html.TextBoxFor(m => m.LeaveTime, new { @class = "form-control timePicker12 required", @onchange = "CalculateLateminutes('EarlyMinutes')", type = "text", required = "required" })
                        @Html.ValidationMessageFor(m => m.LeaveTime)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    <span class="required-field">*</span> Return Time:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="As per approved by school." class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-clock-o" style="font-size:18px"></span></span>
                        @Html.TextBoxFor(m => m.ReturnTime, new { @class = "form-control timePicker12 required", @onchange = "CalculateLateminutes('LateMinutes')", type = "text", required = "required" })
                        @Html.ValidationMessageFor(m => m.ReturnTime)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Actual Leave Time:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="When employee actually leave the school." class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-clock-o" style="font-size:18px"></span></span>
                        @Html.TextBoxFor(m => m.ActualLeaveTime, new { @class = "form-control timePicker12 required", @onchange = "CalculateLateminutes('EarlyMinutes')", type = "text" })
                        @Html.ValidationMessageFor(m => m.ActualLeaveTime)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Actual Return Time:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="When employee actually back to the school." class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-clock-o" style="font-size:18px"></span></span>
                        @Html.TextBoxFor(m => m.ActualReturnTime, new { @class = "form-control timePicker12 required", @onchange = "CalculateLateminutes('LateMinutes')", type = "text" })
                        @Html.ValidationMessageFor(m => m.ActualReturnTime)
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Late Minutes:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Late Minutes = (Return Time - Actual Return Time)" class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LateMinutes, new { @class = "form-control ", @Disabled = "Disabled" })
                    @Html.ValidationMessageFor(m => m.LateMinutes)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Early Minutes:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Early Minutes = (Leave Time - Actual Leave Time)" class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.EarlyMinutes, new { @class = "form-control", @Disabled = "Disabled" })
                    @Html.ValidationMessageFor(m => m.EarlyMinutes)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Notes:
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form" for="ReturnNextDay">
                    Return Next Day:
                </label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(m => m.ReturnNextDay)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer form-group">
            <input type="button" id="btnCancel" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
            <input type="button" onclick="EditLateAndEarly()" class="btn btn-primary pull-right" value="Save" />
        </div>
    }
</div>