﻿@{
    Layout = null;
}


 
<div class="row">
    <table id="tbl_MunicipalityList" class="display table table-bordered table-striped" width="100%"></table>
    <input type="hidden" value="@ViewBag.empid.ToString()" id="hidSelectedEMP" name="hidSelectedEMP" />
</div>

