﻿@model HRMS.Entities.EmployeeBasedHierarchyModel
@{
    var empList = Model.EmployeeHierarchyModelList.Select(x => new { x.EmployeeID, x.EmployeeAlternativeID, x.EmployeeName, x.DepartmentName,x.CompanyName }).Distinct().ToList();
}
<style>
    .dataTables_wrapper
    {
        float:left;
        width:auto !important;
    }
   
</style>
<div class="table-responsive">
    <table id="tbl_employeeHierchy" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Emp ID</th>
                <th>Employee Name</th>
                <th>Department</th>

                @foreach (var group in @Model.WorkFlowGroupModelList)
                {
                    <th>@group.GroupName</th>
                }
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in empList)
            {
            <tr data-EmployeeId="@item.EmployeeID">
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.EmployeeAlternativeID

                </td>
                <td>
                    @item.EmployeeName
                </td>
                <td>
                    @item.DepartmentName
                </td>
                @foreach (var group in Model.WorkFlowGroupModelList)
                {
                    var mangerList = Model.EmployeeHierarchyModelList.Where(x => x.EmployeeID == item.EmployeeID && x.GroupID == group.GroupID).Select(r =>
                    new
                    {
                        r.ManagerName,
                        r.ManagerID
                    }).FirstOrDefault();
                    <td class="manger" data-ManagerId="@(mangerList==null?"": mangerList.ManagerID.ToString())" data-GroupId="@group.GroupID">
                        @(mangerList == null ? "" : mangerList.ManagerName)

                    </td>
                }
                <td class="action text-nowrap">
                    <a class='btn btn-success btn-rounded btn-condensed btn-sm' onclick='EditHeirarchy(this,@item.EmployeeID )' title='Edit'><i class='fa fa-pencil'></i> </a>
                    @*<a class='btn btn-danger btn-rounded btn-condensed btn-sm' onclick='DeleteEmployeeHierachy(this, @item.EmployeeID)' title='Delete'><i class='fa fa-times'></i> </a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>