﻿@model HRMS.Entities.EmployeeBasedHierarchyModel
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Employee Based Hierarchy</li>
    </ul>
}
@{
    ViewBag.Title = "HRMS-Employee Based Hierarchy";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <h3 class="panel-title"><span class="fa fa-retweet"></span> Employee Based Hierarchy</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" onclick="EditAll();" title="Edit All" id="btn_editAll" class="btnadd"><span class="fa fa-pencil"></span></a>
                            <a href="javascript:void(0);" onclick="SaveAllEmployeeHierarchy()" title="Save All" id="btn_saveAll" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            <a href="javascript:void(0);" onclick="RefreshAll()" title="Refresh All" id="btn_refreshAll" class="btnadd"><span class="fa fa-refresh"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Hidden("hdnCountWorkFlowGroup", (int)ViewBag.CountWorkFlowGroup)
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-12 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-4 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true", onchange = "CompanyIDChange(this);" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-4 padding-0">
                                        <label class="label-form">
                                            Department Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Department, "Select Department Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlDepartment" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 padding-0">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-7">
                                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="loadEmployeeHierchyData()">
                                    </div>
                                    <div id="exportIcon" class="col-sm-5 padding-0 margin_bottom"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-1">
                        <div class="form-group col-sm-4 padding-0">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-4 padding-0">
                                    <label class="label-form">
                                        Employee Name:
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.Employee, "Select Employee Name", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee" })

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8 padding-0">

                        </div>
                    </div>

                </div>

            </div>

            <div class="row  form-horizontal">

                <div id="EmployeeList" class="hidden">
                    @ViewBag.EmployeeList
                </div>
                <hr>


                <div id="employeeHierachy" class="col-md-12 innerdiv">
                    @Html.Partial("_EmployeeHierarchyGrid", Model)

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Custom/EmployeeBasedHierarchy.js"></script>
}

