﻿@model HRMS.Entities.PayAddition
@{
    string DecimalFormat = HRMS.Web.CommonHelper.CommonHelper.GetAmountFormat();
}
@{ Layout = null;}
<script>
    function Start() {
        $.blockUI();
    }
    function SucessCompany(arg) {
        $.unblockUI();
        if (arg.responseJSON.Success) {
            if (arg.responseJSON.CssClass == "Request") {
                customShowMessage("information", arg.responseJSON.Message, 40000, "center");
            } else {
                ShowMessage("success", arg.responseJSON.Message);
            }
        } else {
            ShowMessage("error", arg.responseJSON.Message);
        }

        $("#myModal").modal("hide");
        getGrid($("#Empid").val());
    }
    function ShowAdditionType() {
        //LoadEmployeeDetails($("#Empid").val())
        $("#addPaySalaryModal_Loader").html("");
        $("#addPaySalaryModal_Loader").load("/PaySalaryAllowance/EditAdditioinAllowance/-1", function () {
            $("#addPaySalaryModal").modal("show");
            $("#addPaySalaryModal_heading").text('Add Pay Addition');
            bindSelectpicker('.selectpickerddl');
            bindPositiveOnly(".numberOnly");
            
            $("#btnSalaryAllowance").click(function () {
                var salaryAllowanceName = $("#PaySalaryAllowanceName_1").val().trim();
                var hiddensalaryAllowanceName = $("#hdnPaySalaryAllowanceName_1").val().trim();
                if (!(hiddensalaryAllowanceName == salaryAllowanceName)) {
                    $.ajax({
                        dataType: 'json',
                        type: 'POST',
                        data: { salaryAllowanceName: salaryAllowanceName },
                        url: '/PaySalaryAllowance/CheckSalaryAllowance',
                        success: function (data) {
                            if (data == false)
                                $("#frmPaySalaryAllowance").submit();
                            else
                                ShowMessage("error", "Salary allowance name is aready present, please try different name");
                        },
                        error: function (data) { }
                    });
                }
                else
                    $("#frmPaySalaryAllowance").submit();
            });

            $("#frmPaySalaryAllowance").submit(function () {
                var returnType = false;
                if (typeof ($("#AccountCode").val()) === "string" && $("#AccountCode").val().length > 1) {
                    returnType = true;
                } else {
                    if (parseInt($("#AccountCode").val()) > 0) {
                        returnType = true;
                    } else {
                        if ($("#AccountCode").val().length == 0)
                            $("span[data-valmsg-for=AccountCode]").removeClass("field-validation-valid").addClass("field-validation-error").html("<span for='AccountCode' class=''>This field is required.</span>");
                        else
                            $("span[data-valmsg-for=AccountCode]").removeClass("field-validation-valid").addClass("field-validation-error").html("<span for='AccountCode' class=''>Invalid Account code</span>");
                        returnType = false;
                    }
                }

                if (typeof ($("#VacationAccountCode").val()) === "string" && $("#VacationAccountCode").val().length > 1) {
                    returnType = true;
                } else {
                    if (parseInt($("#VacationAccountCode").val()) > 0) {
                        returnType = true;
                    } else {
                        if ($("#VacationAccountCode").val().length == 0)
                            $("span[data-valmsg-for=VacationAccountCode]").removeClass("field-validation-valid").addClass("field-validation-error").html("<span for='VacationAccountCode' class=''>This field is required.</span>");
                        else
                            $("span[data-valmsg-for=VacationAccountCode]").removeClass("field-validation-valid").addClass("field-validation-error").html("<span for='VacationAccountCode' class=''>Invalid Vacation code</span>");

                        returnType = false;
                    }
                }
                return returnType;

            })




        });
       
    }
    var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;

    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

    function CalculateExtraDays() {
        var extraDays = $("#ExtraDays").val();
        var employeeid = $('#Empid').val();
        var additionDate = $('#AdditionDate').val();
        $("#OverTimeExtratxt").val('');
        $("#OverTime").val('');
        //  alert(employeeid);
        if (extraDays != "" && !isNaN(extraDays)) {
            $.ajax({
                type: 'GET',
                data: { extraHours: extraDays, EmployeeID: employeeid },
                url: '/PayAddition/CalculateExtraDays?extraDays=' + extraDays + '&EmployeeID=' + employeeid + '&AdditionDate=' + additionDate,
                success: function (data) {
                    if (data.result == "success") {
                        $("#txtExtraHoursAmount").val(data.resultMessage);
                        $("#Amount").val(data.resultMessage);
                        $("#OverTime").val("");
                        $("#OverTimeExtratxt").val("")
                        $("#txtOverTimeAmount").val("");
                        $("#txtOverTimeAmountExtra").val("");
                    }
                    else
                        ShowMessage(data.result, data.resultMessage);
                },
                error: function (data) { }
            });
        } else {
            ShowMessage("error", "Please enter extra hours.");
        }
    }

    function CalculateOverTime(type) {
        var OverTime = "";
        if (type == "Normal"){
            OverTime = $("#OverTime").val();
            $("#OverTimeExtratxt").val('');
            $("#ExtraDays").val('');
        }            
        else {
            OverTime = $("#OverTimeExtratxt").val();
            $("#OverTime").val('');
            $("#ExtraDays").val('');
        }
            

        var employeeid = $('#Empid').val();
        var additionDate = $('#AdditionDate').val();
        if (OverTime != "" && !isNaN(OverTime)) {
            $.ajax({
                type: 'GET',
                url: '/PayAddition/CalculateOverTime?OverTime=' + OverTime + '&EmployeeID=' + employeeid + '&AdditionDate=' + additionDate + '&Type=' + type,
                success: function (data) {
                    if (data.result == "success") {
                        $("#Amount").val(data.resultMessage);
                        $("#ExtraHours").val("");
                        $("#txtExtraHoursAmount").val("");
                        if (type == "Normal") {
                            $("#txtOverTimeAmount").val(data.resultMessage);
                            $("#txtOverTimeAmountExtra").val("");
                            $("#OverTimeExtratxt").val("");
                        } else {
                            $("#txtOverTimeAmountExtra").val(data.resultMessage);
                            $("#txtOverTimeAmount").val("");
                            $("#OverTime").val("");
                        }

                    }
                    else
                        ShowMessage(data.result, data.resultMessage);
                },
                error: function (data) { }
            });
        } else {
            if (type == "Normal")
                ShowMessage("error", "Please enter over time hours.");
            else
                ShowMessage("error", "Please enter over time extra hours.");

        }
    }

    function CalTotal() {
        var txtFirstNumberValue = document.getElementById('txtExtraHoursAmount').value;
        var txtSecondNumberValue = document.getElementById('txtOverTimeAmount').value;
        var result = parseFloat(txtFirstNumberValue) + parseFloat(txtSecondNumberValue);
        if (!isNaN(result)) {
            document.getElementById('Amount').value = result;
        }
    }

    $(document).ready(function () {
        //  $("#txtExtraHoursAmount").val("");
        LoadEmployeeDetails($('#Empid').val());
        $("#ExtraHours").blur(function () {
            if ($(this).val() == "")
                $("#txtExtraHoursAmount").val("");
        });
        $("#OverTime").blur(function () {
            if ($(this).val() == "")
                $("#txtOverTimeAmount").val("");
        });
        $('#ExtraHours').keypress(function (e) {
            var a = [];
            var k = e.which;

            for (var i = 48; i < 58; i++)
                a.push(i);

            if (!(a.indexOf(k) >= 0))
                e.preventDefault();
        });

        $('#OverTime').keypress(function (e) {
            var a = [];
            var k = e.which;

            for (var i = 48; i < 58; i++)
                a.push(i);

            if (!(a.indexOf(k) >= 0))
                e.preventDefault();
        });
        bindPositiveOnly("#Amount");
    });
</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>


@{ 
    string Message = "Calculation = (Per day salary * No. of Days)";
    if (ViewBag.DayFixAmount != "0")
    {
        Message= "Calculation = ("+ @ViewBag.DayFixAmount + " (Amount) * No. of Days)";
    }
}
<div class="panel panel-default" id="divPayAddition">
    @using (Ajax.BeginForm("Save", "PayAddition", new AjaxOptions { OnBegin = "Start", OnComplete = "SucessCompany" }, new { id = "frmPayAddition" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.CompanyId)
            <div id="frmAdd" class="form-horizontal col-lg-12 col-md-12 nopadding">
                @Html.Hidden("EmployeeID", null, new { @class = "hiddenEmployeeID" })
                @Html.HiddenFor(m => m.PayAdditionID, new { @class = "hiddenPayAdditionID" })
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">

                        </div>

                        <div class="form-group col-sm-6">
                            <div class="text-right">
                                <span class="required-field">*</span>&nbsp;Indicate required fields
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.PaySalaryAllowanceID, new { @class = "label-form" })<span>:</span>
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.PaySalaryAllowanceID, (List<SelectListItem>)ViewBag.SalaryAllowanceList, new { @class = "form-control selectpickerddl" })
                                <span class="input-group-addon add-on">
                                    <a href="javascript:void(0)" style="color:#ffffff" title="Add Addition Type" onclick="ShowAdditionType()">+ </a>
                                </span>

                            </div>
                            @Html.ValidationMessageFor(m => m.PaySalaryAllowanceID)
                        </div>

                        <div class="form-group col-sm-6">
                            <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.AdditionDate, new { @class = "label-form" })<span>:</span>
                            @if (Model.PayAdditionID == 0)
                            {
                                @Html.TextBoxFor(m => m.AdditionDate, new { @class = "form-control CurrentDate" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.AdditionDate, new { @class = "form-control datepicker" })
                            }
                            @Html.ValidationMessageFor(m => m.AdditionDate)
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group col-sm-6" style="clear:both">
                            @Html.LabelFor(m => m.ExtraDays, new { @class = "label-form" })<span>:</span>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="@Message" class="information-icon fa fa-info-circle"></span>
                            @Html.TextBoxFor(m => m.ExtraDays, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ExtraDays)
                        </div>

                        <div class="form-group col-sm-6 calcbtndiv">
                            <label class="col-sm-12 label-form">&nbsp;</label>
                            <div class="col-sm-3 padding-0">
                                <a name="btnExtraHours" id="btnExtraHours" class="btn btn-default btn-rounded btn-condensed btn-sm" title="@Message" onclick="CalculateExtraDays();"><i class="fa fa-building-o"></i></a>
                            </div>
                            <div class="col-sm-9 padding-0">
                                <input type="text" class="form-control" id="txtExtraHoursAmount" disabled="disabled" value="0">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="label-form">Overtime Hours (x @Model.OverTimeExtra.ToString())</label><span>:</span>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Calculation = ((Per hour salary * @Model.OverTimeExtra.ToString()) * No. of Hours)" class="information-icon fa fa-info-circle"></span>
                            @Html.TextBoxFor(m => m.OverTime, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OverTime)
                        </div>

                        <div class="form-group col-sm-6 calcbtndiv">
                            <label class="col-sm-12 label-form">&nbsp;</label>
                            <div class="col-sm-3 padding-0">
                                <a name="btnOverTimeExtra" id="btnOverTimeExtra" class="btn btn-default btn-rounded btn-condensed btn-sm" title="Calculation = ((Per hour salary * @Model.OverTimeExtra.ToString())* No. of Hours)" onclick="CalculateOverTime('Normal');"><i class="fa fa-building-o"></i></a>
                            </div>
                            <div class="col-sm-9 padding-0">
                                <input type="text" class="form-control" id="txtOverTimeAmount" disabled="disabled" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="label-form">Overtime Hours (x @Model.OverTimeExtra1.ToString())</label><span>:</span>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Calculation = ((Per hour salary *  @Model.OverTimeExtra1.ToString()) *  No. of Hours)" class="information-icon fa fa-info-circle"></span>
                            @Html.TextBox("OverTimeExtratxt", "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OverTimeExtra)
                        </div>
                        <div class="form-group col-sm-6 calcbtndiv">
                            <label class="col-sm-12 label-form">&nbsp;</label>
                            <div class="col-sm-3 padding-0">
                                <a name="btnOverTime" id="btnOverTime" class="btn btn-default btn-rounded btn-condensed btn-sm" title="Calculation = ((Per hour salary * @Model.OverTimeExtra1.ToString()) *  No. of Hours)" onclick="CalculateOverTime('Extra');"><i class="fa fa-building-o"></i></a>
                            </div>
                            <div class="col-sm-9 padding-0">
                                <input type="text" class="form-control" id="txtOverTimeAmountExtra" disabled="disabled" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.Amount, new { @class = "label-form" })<span>:</span>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Value = Model.Amount.ToString(DecimalFormat) })
                            @Html.ValidationMessageFor(m => m.Amount)
                        </div>

                        <div class="form-group col-sm-6">
                            @Html.LabelFor(m => m.Description, new { @class = "label-form" })<span>:</span>
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            @Html.LabelFor(m => m.IsActive, new { @class = "label-form" })<span>:</span>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>@Html.CheckBoxFor(m => m.IsActive)</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnsave" class="btn btn-primary pull-right" value="@(Model.PayAdditionID > 0 ? "Update": "Save")" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" aria-label="Close" />
        </div>
    }

</div>