﻿@{
    Layout = null;
}

@model HRMS.Entities.LeaveReason

<div class="panel panel-default">
    @using (Ajax.BeginForm("SaveLeaveReason", "LeaveType", new AjaxOptions { OnComplete = "Sucess" }))
    {
        @Html.HiddenFor(m => m.ID)

        <div class="panel-body">

            <div class="form-horizontal col-sm-12">
                <div class="form-group col-sm-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        
                    </div>
                    <div class="col-sm-8">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Termination Reason (En):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LeaveReason_1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LeaveReason_1)
                    </div>
                </div>
                <div class="form-group col-sm-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Termination Reason (Ar):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LeaveReason_2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LeaveReason_2)
                    </div>
                </div>
                <div class="form-group col-sm-12 padding-0">
                    <div class="col-sm-4 padding-0">
                        <label class="label-form">Termination Reason (Fr):</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LeaveReason_3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LeaveReason_3)
                    </div>
                </div>


            </div>

        </div>

        <div class="panel-footer">

            <input type="submit" value="@(Model.ID > 0?"Update":"Save")" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
