﻿@{
    ViewBag.Title = "HRMS - Leave Type";
}

<style type="text/css">
    #tbl_LeaveType th, tbl_LeaveType td {
        vertical-align: top;
    }
</style>

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Leave Type</li>
    </ul>
}
<div class="row">
    <div class="col-md-12 margin_bottom">
        <input type="button" value="Add" id="btn_add" class="btn btn-primary" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-sitemap"></span> Leave Type</h3>
                <div class=" pull-right">
                    <button id="btnTextSearch" class="btn btn-primary " style="margin-right:2px"> <span class="glyphicon glyphicon-search"></span></button>
                    <button type="button" id="btnTextClear" class="btn btn-primary " style="margin-right:5px"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
                <div class="col-md-4  pull-right">
                    <input type="text" id="txtSearch" placeholder="Search Leave Type" class="form-control " />
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tbl_LeaveType" class="display table table-bordered table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/Custom/LeaveType.js"></script>

    <style>
        .dataTable {
            width: 100% !important;
        }

        .page-content {
            height: auto !important;
        }
    </style>
}




