﻿@{
    ViewBag.Title = "HRMS - Short Leave Request";
    var isPersonalPermission = Convert.ToBoolean(ViewBag.IsPersonalOnly);
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Short Leave Request</li>
    </ul>
}

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="page-title"><span class="fa fa-filter"></span>  Date Filter</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="col-sm-4 label-form">
                            <label class="label-control">From Date: </label>
                        </div>
                        <div class="col-sm-8 pull-left input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            @Html.TextBox("txtStartDate", DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"), new { @class = "form-control datepickerFrom" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-4 label-form">
                            <label class="control-label">To Date: </label>
                        </div>
                        <div class="col-sm-8 pull-left input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            @Html.TextBox("txtToDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control datepickerTo" })
                        </div>
                    </div>
                    @if (!isPersonalPermission)
                    {
                        <div class="col-sm-4">
                            <div class="col-sm-4 label-form">
                                <label class="control-label">Select Employee: </label>
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("ddl_EmpList", (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    }
                    <div class="col-sm-2">
                        <div class="col-sm-8 pull-right">
                            <input type="button" value="Get Records" class="btn btn-primary" id="btnGetShortLeaveRecords" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-folder-close"></span> Short Leave Request</h3>
                <ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" id="btn_addShortLeaveLateInEarlyOut" title="Add Short Leave" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="exportIcon" class="col-sm-12 padding-0 margin_bottom">

                    </div>
                </div>
                <div class="col-sm-12 nopadding">
                    <div class="table-responsive">
                        <table id="tbl_ShortLeaveInEarlyOutList" class="table table-bordered table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Custom/ShortLeaveRequest.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

    <script>
        $(document).ready(function () {
            var id = $("#ddl_EmpList").val();
            var d1 = $("#txtStartDate").val();
            var d2 = $("#txtToDate").val();
            $("#exportIcon").html(getExportIcon("1", "ExportToExcel()", "ExportToPdf()"));
            getGridShortLeaveLateInEarlyOut(id, d1, d2);
        });

    </script>
}