﻿@model HRMS.Entities.ShortLeaveRequestModel

@{
    Layout = null;
}

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        // TODO: make me pretty
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            var d1 = $("#txtStartDate").val();
            var d2 = $("#txtToDate").val();
            var id = $("#ddl_EmpList").val();
            getGridShortLeaveLateInEarlyOut(id, d1, d2);
        }
        else {
            ShowMessage("error", data.Message)
        }
    }

</script>

<div class="panel panel-default">
    @using (Ajax.BeginForm("ReviewShortLeaveRequest", "ShortLeaveRequest", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmReview" }))
    {
        @Html.HiddenFor(x => x.ShortLeaveID)
        @Html.HiddenFor(x => x.ActualLeaveTime)
        @Html.HiddenFor(x => x.ActualReturnTime)
        @Html.HiddenFor(x => x.EmployeeID)
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Employee Name:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@ViewBag.Employee</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Leave Date:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@Model.LeaveDate</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Created On:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@Model.CreatedOn</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Leave Time:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@Model.LeaveTime</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Return Time:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@Model.ReturnTime</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padding-0">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Leave Reason:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@Model.Comments</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label class="label-form">Returning Next Day:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="label-form">@Html.CheckBoxFor(m => m.ReturnNextDay, new { disabled = "disabled" })</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="padding-left:10px">
                    <div class="col-sm-4 label-form">
                        <label class="control-label">Select Approval Status:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.ApprovalStatus, (List<SelectListItem>)ViewBag.ApprovalStatusList, new { @class = "form-control selectpickerddl", @required = "required" })
                    </div>
                </div>
                <div class="form-group col-sm-12" style="padding-left:10px">
                    <div class="col-sm-4 label-form">
                        <label class="control-label">Review Notes:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(m => m.ReviewNote, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary pull-right" />
        </div>
    }
</div>

