﻿@model HRMS.Entities.ShortLeaveRequestModel
@{
    /**/

    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>

<script>

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });

    $(".leavetime-punches ul li").click(function () {
        $(".leavetime-punches ul li").removeClass("active");
        $(this).addClass("active");
        $("#ActualLeaveTime").val($(this).find('span').text());
        CalculateLateminutes('EarlyMinutes');
    });

    $(".returntime-punches ul li").click(function () {
        $(".returntime-punches ul li").removeClass("active");
        $(this).addClass("active");
        $("#ActualReturnTime").val($(this).find('span').text());
        CalculateLateminutes('LateMinutes');
    });

    function onFailure(xhr, status, error) {
        console.log("xhr", xhr);
        console.log("status", status);
        ShowMessage("error", error)
    }

    function onSuccess(data, status, xhr) {
        console.log("data", data);
        console.log("status", status);
        console.log("xhr", xhr);
        if (data.Success == true) {
            ShowMessage("success", data.Message)
            $("#myModal").modal("hide");
            var d1 = $("#txtStartDate").val();
            var d2 = $("#txtToDate").val();
            var id = $("#ddl_EmpList").val();
            getGridShortLeaveLateInEarlyOut(id, d1, d2);
        }
        else {
            ShowMessage("error", data.Message)
        }
    }

    function EditLateAndEarly() {
        $("#EarlyMinutes").removeAttr("disabled");
        $("#LateMinutes").removeAttr("disabled");
        $("#frmEditLateAndEarly").submit();
    }

</script>
<style type="text/css">
    .leavetime-punches ul li, .returntime-punches ul li {
        margin-right: 5px;
        cursor: pointer;
    }

        .leavetime-punches ul li span.label-info, .returntime-punches ul li span.label-info {
            background-color: #3fbae4;
        }

        .leavetime-punches ul li.active span.label-info, .returntime-punches ul li.active span.label-info {
            background-color: lightgreen;
        }
</style>
<div class="panel panel-default" id="AddAbsentLate">
    @using (Ajax.BeginForm("UpdateActualTimes", "ShortLeaveRequest", new AjaxOptions { OnFailure = "onFailure", OnSuccess = "onSuccess" }, new { id = "frmEditLateAndEarly" }))
    {
        List<string> employeePunches = ViewBag.EmployeePunches;
        @Html.HiddenFor(x => x.ShortLeaveID)
        @Html.HiddenFor(x => x.ApprovalStatus)
        <div class="panel-body">
            <div class="form-group col-sm-4">
                <label class="col-sm-6 label-form">
                    Leave Time:
                </label>
                <div class="col-sm-6 label-form">
                    <label id="LeaveTime">@Html.DisplayFor(m => m.LeaveTime, new { @class = "form-control" })</label>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-6 label-form">
                    Return Time:
                </label>
                <div class="col-sm-6 label-form">
                    <label id="ReturnTime">@Html.DisplayFor(m => m.ReturnTime, new { @class = "form-control" })</label>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="col-sm-9 label-form" for="ReturnNextDay">
                    Returning Next Day:
                </label>
                <div class="col-sm-2 ">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(m => m.ReturnNextDay, new { @Disabled = "Disabled" })</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Actual Leave Time:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="When employee actually leave the school." class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group leavetime-punches">
                        @{
                            if (employeePunches.Count > 0)
                            {
                                <ul class="panel-controls">
                                    @foreach (var item in employeePunches)
                                    {
                                        var activeClass = item == Model.ActualLeaveTime ? "active" : "";
                                        <li class="label-control @activeClass"><span class="label label-info">@item</span></li>
                                    }
                                </ul>
                                @Html.HiddenFor(m => m.ActualLeaveTime)
                            }
                            else
                            {
                                <span class="input-group-addon add-on"><span class="fa fa-clock-o" style="font-size:18px"></span></span>
                                @Html.TextBoxFor(m => m.ActualLeaveTime, new { @class = "form-control timePicker12", @onchange = "CalculateLateminutes('EarlyMinutes')", type = "text" })
                                @Html.ValidationMessageFor(m => m.ActualLeaveTime)
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Actual Return Time:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="When employee actually back to the school." class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group returntime-punches">
                        @{
                            if (employeePunches.Count > 0)
                            {
                                <ul class="panel-controls">
                                    @foreach (var item in employeePunches)
                                    {
                                        var activeClass = item == Model.ActualReturnTime ? "active" : "";
                                        <li class="label-control @activeClass"><span class="label label-info">@item</span></li>
                                    }
                                </ul>
                                @Html.HiddenFor(m => m.ActualReturnTime)
                            }
                            else
                            {
                                <span class="input-group-addon add-on"><span class="fa fa-clock-o" style="font-size:18px"></span></span>
                                @Html.TextBoxFor(m => m.ActualReturnTime, new { @class = "form-control timePicker12", @onchange = "CalculateLateminutes('LateMinutes')", type = "text" })
                                @Html.ValidationMessageFor(m => m.ActualReturnTime)
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Late Minutes:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Late Minutes = (Return Time - Actual Return Time)" class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LateMinutes, new { @class = "form-control ", @Disabled = "Disabled", required = "required" })
                    @Html.ValidationMessageFor(m => m.LateMinutes)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form">
                    Early Minutes:
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Early Minutes = (Leave Time - Actual Leave Time)" class="information-icon fa fa-info-circle"></span>
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.EarlyMinutes, new { @class = "form-control", @Disabled = "Disabled", required = "required" })
                    @Html.ValidationMessageFor(m => m.EarlyMinutes)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-4 label-form" for="Status">
                    Status:
                </label>
                <div class="col-sm-8">
                    <label id="Status" class="label-form">@Html.DisplayFor(m => m.Status, new { @class = "form-control control-label" })</label>
                </div>
            </div>
        </div>
        <div class="panel-footer form-group">
            <input type="button" id="btnCancel" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
            <input type="button" onclick="EditLateAndEarly()" class="btn btn-primary pull-right" value="Save" />
        </div>
    }
</div>