﻿@model HRMS.Entities.ShortLeaveRequestModel

@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Employee Name:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@ViewBag.Employee</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Leave Date:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.LeaveDate</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Created On:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.CreatedOn</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Leave Time:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.LeaveTime</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Return Time:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.ReturnTime</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Actual Leave Time:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.ActualLeaveTime</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Actual Return Time:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.ActualReturnTime</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Late Minutes:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.LateMinutes</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Early Minutes:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.EarlyMinutes</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 padding-0">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Leave Reason:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Model.Comments</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <label class="label-form">Returning Next Day:</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="label-form">@Html.CheckBoxFor(m => m.ReturnNextDay, new { disabled = "disabled" })</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" value="Close" class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close" />
    </div>
</div>
