﻿@model HRMS.Entities.LeaveBalanceAddition
@{Layout = null;}

<script>
    $(document).ready(function () {
        var vtcategoryid = $("#hdnVTCategoryID").val();
        if(vtcategoryid!=null && vtcategoryid!=undefined && parseFloat(vtcategoryid)>0)
        {
            EnableDisableDaysFields(parseFloat(vtcategoryid));
        }
    });
 

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide");
    });
    $('#Comments').on("input", function () {
        var maxlength = $(this).attr("maxlength");
        var currentLength = $(this).val().length;
        var noofcharsleft;
        var id = $(this).attr("id");
        if (currentLength >= maxlength) {
            $('#lblCharsLeft_' + id).text("(0 chars left out of " + maxlength + ")");
        } else {
            noofcharsleft = maxlength - currentLength;
            $('#lblCharsLeft_' + id).text("(" + noofcharsleft + " chars left out of " + maxlength + ")");
        }
    });
    </script>

<div id="LeaveBalanceAdditionAddEditPannel" class="panel panel-default">
    @using (Ajax.BeginForm("UpdateLeaveBalanceAdditionData", "LeaveBalanceAddition", new AjaxOptions { OnSuccess = "Sucess" }))
    {
        @Html.HiddenFor(m => m.LeaveAdditionID)
        @Html.HiddenFor(m => m.VTCategoryID)
        @Html.Hidden("hdnVTCategoryID", Model.VTCategoryID, new { @id = "hdnVTCategoryID" })
        @Html.HiddenFor(m => m.IsAddMode)
        <div class="panel-body">

            <div class="col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-8">
                        <div class="text-right">
                            <span class="required-field">*</span>&nbsp;Indicate required fields
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Select Employee:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => x.EmployeeID, (SelectList)ViewBag.EmployeeList, "Select Employee Name", new { @class = "form-control selectpicker", @data_live_search = "true" })
                        @Html.ValidationMessageFor(m => m.EmployeeID)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;Leave Type:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => x.VacationTypeID, (List<SelectListItem>)ViewBag.VacationType, "Select Vacation Type", new { @class = "form-control selectpicker" })
                        @Html.ValidationMessageFor(m => m.VacationTypeID)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;FullPaid Days:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.FullPaidDays, new { min = "0", @class = "form-control numberOnly", @id = "txtFullPaidDays" })
                        @Html.ValidationMessageFor(m => m.FullPaidDays)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;HalfPaid Days:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.HalfPaidDays, new { min = "0",  @class = "form-control numberOnly", @id = "txtHalfPaidDays" })
                        @Html.ValidationMessageFor(m => m.HalfPaidDays)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <label class="label-form"><span class="required-field">*</span>&nbsp;UnPaid Days:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.UnPaidDays, new { min = "0", @class = "form-control numberOnly", @id = "txtUnPaidDays" })
                        @Html.ValidationMessageFor(m => m.UnPaidDays)
                    </div>
                </div>
                <div class="form-group col-sm-12">                
                    <div class="col-sm-12">                       
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label class="label-form" style="font-size:12px !important">
                                    @Html.DisplayName("Comments")
                                </label>
                                <label id="lblCharsLeft_Comments" class="label-form" style="font-size:12px !important"> </label>
                            </legend>
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control calculatecharsleft1", @maxlength = 2000, @id = "Comments" })
                            @Html.ValidationMessageFor(m => m.Comments)
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" onclick="@(Model.LeaveAdditionID > -1 ?"Update":"Save")" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        bindSelectpicker('.selectpickerddl');
        bindSelectpicker('.selectpicker');
    });
    function Sucess(arg) {
        $("#myModal").modal("hide");
        ShowMessage(arg.result, arg.resultMessage);
        loadLeaveBalanceAdditionGrid();
    }
</script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>