﻿
@{
    ViewBag.Title = " Leave Balance Adjustment";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active"> Leave Balance Adjustment</li>
    </ul>
}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-4">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>
                            Leave Balance Adjustment
                        </h4>
                    </div>
                    <div class="col-sm-5">
                        <div class="div-center">
                            <a class="profile-control-left filter-icon">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 pull-right">
                        <ul class="panel-controls">
                            <li class="dropdown open">
                                <a href="javascript:void(0);" title="Add Leave Balance" id="btnAddLeaveBalance" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="panel-body form-horizontal">
                    <div class="row" id="">
                        <div class="col-sm-11 padding-1">
                            <div class="col-sm-12 padding-0">
                                <div class="form-group col-sm-6 padding-0">
                                    <div class="col-sm-12 padding-0">
                                        <div class="col-sm-3 padding-0">
                                            <label class="label-form">
                                                Select Employee:
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.EmployeeList, "Select Employee Name", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12 padding-0">
                                        <div class="col-sm-4 padding-0">
                                            <label class="label-form">
                                                Select Leave Type:
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("ddlVacationType", (SelectList)ViewBag.VacationType, "Select Vacation Type", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 padding-0">
                            <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                        </div>
                    </div>

                </div>
                <div class="row form-horizontal">
                    <hr>

                    <div class="col-sm-12 innerdiv" id="divContent">
                        <table id="tblLeaveBalanceAddition" class="display table table-bordered table-striped" width="100%"></table>
                    </div>

                </div>
            </div>
        </div>

    </div>


@section Scripts
{
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js" type="text/javascript"></script>
<script src="~/Scripts/Custom/LeaveBalanceAddition.js"></script>

}
