﻿@using HRMS.Entities;
@model IEnumerable<UserRolePermissions>
@{
    bool IsDashboard = (Boolean)ViewBag.IsDashboard;
    int UserRoleId = (Int32)ViewBag.UserRoleId;
}

<table id="tbl_permissionDataList" class="table table-striped table-bordered">
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-11">
                    <label class="label-form" for="selectall">Module Permission for @item.ModuleName</label>
                </td>
                <td class="col-md-1 text-center">
                    <input type="checkbox" id='selectall_@item.ModuleID' data-actnavid="@item.ActNavigationID" data-moduleid="@item.ModuleID" class="chkPermission" @(item.IsFullPermssion == true ? "checked" : "") @(IsDashboard == true ? "disabled" : "") @(UserRoleId == 1 ? "disabled" : "") data-permissionid="0" title="Full Module Permission For @item.ModuleName" data-action='selectAll' onchange="updateAllPermission($(this)) ">
                </td>
            </tr>
            if (item.IsViewPermssion != null)
            {
                <tr>
                    <td class="col-md-11">
                        <label class="label-form" for="isView_@item.ModuleID">View Permission for @item.ModuleName</label>
                    </td>
                    <td class="col-md-1 text-center">
                        <input type="checkbox" class="chkPermission" data-actnavid="@item.ActNavigationID" data-moduleid="@item.ModuleID" data-permissionid="1" id="isView_@item.ModuleID" @(item.IsViewPermssion == true ? "checked" : "") @(UserRoleId == 1 ? "disabled" : "") title="View Permission For @item.ModuleName" data-action='View' onchange="updatePermission($(this)) ">
                    </td>
                </tr>

            }
            if (item.IsAddPermssion != null)
            {
                <tr>
                    <td class="col-md-11">
                        <label class="label-form" for="isAdd_@item.ModuleID">Add Permission for @item.ModuleName</label>
                    </td>
                    <td class="col-md-1 text-center">
                        <input type="checkbox" class="chkPermission" data-actnavid="@item.ActNavigationID" data-moduleid="@item.ModuleID" data-permissionid="2" id="isAdd_@item.ModuleID" @(item.IsAddPermssion == true ? "checked" : "") @(UserRoleId == 1 ? "disabled" : "") title="Add Permission For @item.ModuleName" data-action='Add' onchange="updatePermission($(this)) ">
                    </td>
                </tr>

            }
            if (item.IsUpdatePermssion != null)
            {
                <tr>
                    <td class="col-md-11">
                        <label class="label-form" for="isUpdate_@item.ModuleID">Update Permission for @item.ModuleName</label>
                    </td>
                    <td class="col-md-1 text-center">
                        <input type="checkbox" class="chkPermission" data-actnavid="@item.ActNavigationID" data-moduleid="@item.ModuleID" data-permissionid="3" id="isUpdate_@item.ModuleID" @(item.IsUpdatePermssion == true ? "checked" : "") @(UserRoleId == 1 ? "disabled" : "") title="Update Permission For @item.ModuleName" data-action='Update' onchange="updatePermission($(this)) ">
                    </td>
                </tr>

            }
            if (item.IsDeletePermssion != null)
            {
                <tr>
                    <td class="col-md-11">
                        <label class="label-form" for="isDelete_@item.ModuleID">Delete Permission for @item.ModuleName</label>
                    </td>
                    <td class="col-md-1 text-center">
                        <input type="checkbox" class="chkPermission" data-actnavid="@item.ActNavigationID" data-moduleid="@item.ModuleID" data-permissionid="4" id="isDelete_@item.ModuleID" @(item.IsDeletePermssion == true ? "checked" : "") @(UserRoleId == 1 ? "disabled" : "") title="Delete Permission For @item.ModuleName" data-action='Delete' onchange="updatePermission($(this)) ">
                    </td>
                </tr>
            }
            if (item.lstOtherPermissions.Count() > 0)
            {
                foreach (var oth in item.lstOtherPermissions)
                {
                    <tr>
                        <td class="col-md-11">
                            <label class="label-form" for="isOtherPermission_@oth.OtherPermissionId">@oth.OtherPermissionName </label>
                        </td>
                        <td class="col-md-1 text-center">
                            <input type="checkbox" class="chkPermission OtherPermission" data-actnavid="@item.ActNavigationID" data-moduleid="@item.ModuleID" data-permissionid="@oth.OtherPermissionId" id="isOtherPermission_@oth.OtherPermissionId" @(oth.IsPermitted == true ? "checked" : "") @(UserRoleId == 1 ? "disabled" : "") data-action='Other' onchange="updatePermission($(this)) ">
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        var value = $("#SearchId").val().toLowerCase();
        $("#tbl_permissionDataList tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>