﻿@using HRMS.Entities;
@model List<UserRoleModel>
@{ Layout = null;}
<div id="panel-userRoleinfo">
    <div class="panel panel-inner panel-userrolecustom">
        <div class="panel-heading">
            @*<h3 class="panel-title">User Role</h3>*@
            <div class="dataTables_filter">
                <input type="search" id="SearchRoleId" class="form-control " placeholder="Search User Role..." aria-controls="Div_UserRoles">
            </div>
            <ul class="panel-controls">
                <li class="dropdown open">
                    <a href="javascript:void(0);" title="Add User Role" id="btn_addUserRole" class="btnadd"><span class="fa fa-plus fa-1x"></span></a>
                </li>
            </ul>
        </div>
        <div class="panel-body" style="height:440px; overflow-y:auto;">
            <div id="Div_UserRoles" class="list-group list-group-contacts" style="border-bottom:1px solid #ddd; border-radius:3px;">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var g in Model)
                    {
                        { Html.RenderPartial("_UserRole", g); }
                        
                    }
                }
                else
                {
                    <a href="#" data-EmployeeId="NoEmployee" class="list-group-item  emplistcontent list-group-item-condensed">
                        <div class="row">
                            <div class="col-sm-12 padding-0">
                                <div class="col-sm-10 padding-0">
                                    <span class="contacts-title contacts-title-emplist employeeName">No Roles.</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


