﻿@model HRMS.Entities.UserRoleModel

    <a data-id='{ "RoleId":"@Model.UserRoleId"}' href="#" class="list-group-item">
        <span class="contacts-title">@Model.UserRoleName</span>
        @if (Model.EmployeeJobCategoryName != "-")
        {
            <p>@Model.EmployeeJobCategoryName</p>
        }

        @if (Model.UserRoleId != 1 && Model.EmployeeJobCategoryID == null)
        {
            <div class="list-group-controls">
                <button class="btn btn-danger btn-rounded" onclick="DeleteUserRole('@Model.UserRoleId')"><span class="fa fa-times"></span></button>

                <span style="display:none">@Model.UserRoleId</span>
            </div>
        }
        @*<div class="row" style="cursor:pointer !important;">
            <div class="col-sm-12 padding-0">
                <div class="col-sm-10">
                    <div class="">
                        <label class="contacts-title contacts-title-emplist" style="margin: 4px 0 0 0; cursor:pointer !important;">
                            <span class="employeeName">@Model.UserRoleName</span>
                        </label>
                    </div>
                </div>
                @if (Model.UserRoleId != 1 && Model.EmployeeJobCategoryID == null)
                {
                    <div class="col-sm-1 padding-0">
                        <div class="btn btn-danger btn-rounded btn-condensed btn-sm" onclick="DeleteUserRole('@Model.UserRoleId')" style="margin: 5px 0 3px 6px; padding: 1px 5px;">
                            <i class="fa fa-times"></i>
                        </div>
                        <span style="display:none">@Model.UserRoleId</span>
                    </div>
                }
            </div>
        </div>*@
    </a>
