﻿@model HRMS.Entities.UserRoleModel
@{ Layout = null;}
<script>
    function Start() {
        pageLoadingFrame("show");
    }

    function Sucess(arg) {
        pageLoadingFrame("hide");
        ShowMessage(arg.responseJSON.CssClass, arg.responseJSON.Message);
        $("#myModal").modal("hide");
        $("#divUserRoles").html("");
        $("#divUserRoles").load("/UserRole/ShowUserRoles");
    }

    $(document).ready(function () {
        bindSelectpicker(".selectpickerddl");
    });

</script>
<div class="panel panel-default">
    @using (Ajax.BeginForm("AddUserRole", "UserRole", new AjaxOptions { OnBegin = "Start", OnComplete = "Sucess" }))
    {
        <div class="panel-body">

            <div class="form-horizontal col-sm-12">

                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.UserRoleName, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.UserRoleName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserRoleName)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-5">
                        <span class="required-field">*</span>&nbsp;@Html.LabelFor(m => m.EmployeeJobCategoryID, new { @class = "label-form" })
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(m => m.EmployeeJobCategoryID, (SelectList)ViewBag.JobCategoryList, "Select Job Category", new { @class = "form-control selectpicker selectpickerddl", @data_live_search = "true", @id = "ddlJobCategoryID" })
                        @Html.ValidationMessageFor(m => m.EmployeeJobCategoryID)

                    </div>
                </div>


            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary pull-right" />
            <input type="button" value="Cancel" class="btn btn-primary pull-left" data-dismiss="modal" />
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
