﻿@using HRMS.Entities;
@{
    ViewBag.Title = "HRMS - User Roles";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">User Roles</li>
    </ul>
}
<link href="~/Content/assets/css/easyuitree.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-user"></span> User Roles</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3" id="divUserRoles">
                    @Html.Partial("_RolePermissionIndex", (List<UserRoleModel>)ViewBag.lstUserRoleModel)
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-6">@Html.Partial("_ModuleTree")</div>
                    <div class="col-sm-6">
                        <div class="panel panel-inner panel-userrolecustom">
                            <div class="panel-heading">
                                <h3 class="panel-title">Permissions</h3>
                                <div class="dataTables_filter">
                                    <label>Search:<input type="search" id="SearchId" class="form-control " placeholder="" aria-controls="tbl_permissionDataList"></label>
                                </div>
                            </div>
                            <div class="panel-body panel-body-table table-responsive  panel-rolepermissioncustom" id="panel-permissioninfo" style="height:440px; overflow-y:auto;">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Content/assets/js/plugins/jquery.easyui.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.easyui.jsonloader.min.js"></script>
    <script src="~/Scripts/Custom/UserRole.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SearchId").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tbl_permissionDataList tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#SearchRoleId").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#Div_UserRoles a").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <style>
        body.tooltip-f {
            overflow-y: hidden;
        }
        .dataTables_filter {
            border-bottom: 0px;
            padding: 0px 0px 0px;
            float: left;
        }
        .btn.btn-rounded {
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            padding: 0px 5px;
        }

        .list-group-controls {
            top: 8px;
        }
    </style>
}
