﻿@model IList<HRMS.Entities.PDRP.AnnualAppraisalReverceData>

<div class="col-lg-12 form-group padding-0">

    <table id="tblAnnualAppraisalSettingGrid" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="">Request No</td>
                <td class="">Organization Name</td>
                <td class="">Employee ID</td>
                <td class="">Employee Name</td>
                <td class="">Department</td>                
                <td class="">Year</td>
                <td class="">Action</td>
                
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr data-employeeid="@item.EmployeeID">
                
                        <td>@item.RequestId</td>
                        <td>@item.CompanyName</td>
                        <td>@item.EmployeeAlternativeID</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.DepartmentName_1</td>
                        
                        


                        <td>@item.Year</td>
                        <td class="center-text-align">
                            @if (item.PeriodId == 1)
                            {
                                if (item.IsReversed == "1")
                                {
                                <label>REVERSED</label>
                                }
                                else if (item.ReqStatusId == 3)
                                {
                                    <label>REJECTED</label>
                                }
                                else if (item.Cnt == 1 && item.ReqStatusId == 1)
                                {
                                    <label>Yet to Start</label>
                                }
                                else
                                {
                                    if (item.MidIsReversed == "" || item.MidIsReversed == "1")
                                    {
                                        <button type="submit" title="Submit" id="btnReverce" class="btn btn-rounded btn-primary btnReverce" onclick="ReverseTask(@item.FormID,@item.FormInstanceID,@item.PerformanceGroupId,)"> Reverse Workflow</button>
                                    }
                                    else if (item.FullIsReversed == "0")
                                    {
                                        <label>Reverse Full-year First!</label>
                                    }
                                    else if (item.MidIsReversed == "0")
                                    {
                                        <label>Reverse Mid-year First!</label>
                                    }
                                }
                            }
                            else if (item.PeriodId == 2)
                            {
                                if (item.MidIsReversed == "1")
                                {
                                    <label>REVERSED</label>
                                }
                                else if (item.ReqStatusId == 3)
                                {
                                    <label>REJECTED</label>
                                }
                                @*else if (item.Cnt == 1 && item.ReqStatusId == 1)
                                {
                                    <label>Yet to Start</label>
                                }*@
                                else
                                {
                                    if (item.FullIsReversed == "" || item.FullIsReversed == "1")
                                    {
                                        <button type="submit" title="Submit" id="btnReverce" class="btn btn-rounded btn-primary btnReverce" onclick="ReverseTask(@item.FormID,@item.FormInstanceID,@item.PerformanceGroupId,)"> Reverse Workflow</button>
                                    }
                                    else if (item.FullIsReversed == "0")
                                    {
                                        <label>Reverse Full-year First!</label>
                                    }
                                    @*<button type="submit" title="Submit" id="btnReverce" class="btn btn-rounded btn-primary btnReverce" onclick="ReverseTask(@item.FormID,@item.FormInstanceID,@item.PerformanceGroupId,)"> Reverse Workflow</button>*@
                                }
                            }
                            else if (item.PeriodId == 3)
                            {
                                if (item.FullIsReversed == "1")
                                {
                                    <label>REVERSED</label>
                                }
                                else if (item.ReqStatusId == 3)
                                {
                                    <label>REJECTED</label>
                                }
                                @*else if (item.Cnt == 1 && item.ReqStatusId == 1)
                                {
                                        <label>Yet to Start</label>
                                }*@
                                else
                                {

                                    <button type="submit" title="Submit" id="btnReverce" class="btn btn-rounded btn-primary btnReverce" onclick="ReverseTask(@item.FormID,@item.FormInstanceID,@item.PerformanceGroupId,)"> Reverse Workflow</button>
                                    
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>


</div>


<br />







