﻿@model IList<HRMS.Entities.PDRP.AnnualAppraisalProcessModel>

<div class="col-lg-12 form-group padding-0">

    <table id="tblAnnualAppraisalSettingGrid" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="center-text-align sorting_disabled"><input type=checkbox id=chkSelevctAll onclick=SelectAll()></td>
                <td>EMP ID</td>
                <td>Employee Name</td>
                <td>Performance Group</td>
                <td>Is Goals Setting Submitted ?</td>
                <td>Is Mid Year Process Submitted ?</td>
                <td>Is Full Year <br />Process Submitted ?</td>
                <td>Year</td>
                <td>Performance Evaluation Start Date</td>
                <td>Performance Evaluation Due Date</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr data-employeeid="@item.EmployeeID" data-ismidyearappraisalsubmitted="@item.IsMidYearAppraisalSubmitted" data-goalsettingid="@item.GoalSettingId">
                <td style="text-align:center">
                    <div class="checkbox">
                        <label>
                            @*<input class="YNClass" id="chkEmployeeId" type="checkbox" @(item.IsFullYearAppraisalSubmitted ? "disabled" : (item.IsGoalSubmitted ? "" : item.PerformanceGroupId < 4 ? "disabled" : "")) data-employeeid="@item.EmployeeID" data-companyid="@item.CompanyId" />*@

                            @{
                                int chkDissabled = 0;
                                int intchecked = 0;

                                if (item.PeriodId == 1) //*** Mid
                                {
                                    if (item.EvaluationStartDate.Length > 0)
                                    {
                                        intchecked = 1;
                                        chkDissabled = 1;
                                    }
                                    else
                                    {
                                        if (item.IsGoalSubmitted)
                                        {
                                            intchecked = 0;
                                            chkDissabled = 0;
                                        }
                                        else
                                        {
                                            if (item.PerformanceGroupId == 4)
                                            {
                                                intchecked = 0;
                                                chkDissabled = 0;
                                            }
                                            else
                                            {
                                                intchecked = 0;
                                                chkDissabled = 1;
                                            }


                                        }
                                    }
                                }
                                else if (item.PeriodId == 2)     //*** Full
                                {
                                    if (item.EvaluationStartDate.Length > 0)
                                    {
                                        intchecked = 1;
                                        chkDissabled = 1;
                                    }
                                    else
                                    {
                                        if (item.IsGoalSubmitted && item.IsMidYearAppraisalSubmitted)
                                        {
                                            intchecked = 0;
                                            chkDissabled = 0;
                                        }
                                        else
                                        {
                                            if (item.PerformanceGroupId == 4 && item.IsMidYearAppraisalSubmitted)
                                            {
                                                intchecked = 0;
                                                chkDissabled = 0;
                                            }
                                            else
                                            {
                                                intchecked = 0;
                                                chkDissabled = 1;
                                            }

                                        }
                                    }
                                }
                            }
                            <input class="YNClass" id="chkEmployeeId" type="checkbox"
                                   @(chkDissabled == 1 ? "disabled" : "")
                                   @(intchecked == 1 ? "checked" : "")
                                   data-employeeid="@item.EmployeeID" data-companyid="@item.CompanyId" data-goalsettingid="@item.GoalSettingId" />

                            @*<input class="YNClass" id="chkEmployeeId" type="checkbox"
                           @(item.EvaluationStartDate.Length > 0 ? "checked" : "" )
                           @(item.EvaluationStartDate.Length > 0 ? "disabled" : (item.PeriodId == 1 && item.PerformanceGroupId < 4 && item.IsGoalSubmitted ? "" : (item.PeriodId == 2 && item.PerformanceGroupId < 4 && item.IsGoalSubmitted && item.IsMidYearAppraisalSubmitted ? "" : (item.PeriodId == 1 && item.PerformanceGroupId == 4 && item.IsGoalSubmitted ? "" : "disabled"))))
                           (item.PeriodId= =2 && item.PerformanceGroupId < 4 && item.IsMidYearAppraisalSubmitted ? "" :"")
                    (item.PerformanceGroupId == 4 ? "" : "disabled")))
                    data-employeeid="@item.EmployeeID" data-companyid="@item.CompanyId"  data-goalsettingid="@item.GoalSettingId" />*@
                        </label>
                    </div>
                </td>
                <td>@item.EmployeeAlternativeID</td>
                <td>@item.EmployeeName</td>
                <td>
                    @Html.DropDownListFor(x => item.PerformanceGroupId
                                        , new SelectList(ViewBag.PerformanceGroup, "Value", "Text", item.PerformanceGroupId)
                                        , new
                                        {
                                            @class = "form-control selectpicker selectpickerddl performcacegroup",
                                            @data_live_search = "true",
                                            @id = "PerformanceGroupId",
                                            @data_employeeid = item.EmployeeID,
                                            @data_goalsettingid = item.GoalSettingId,
                                            @disabled = "true"
                                        })
                </td>
                <td>@(item.PerformanceGroupId == 4 ? "--" : item.IsGoalSubmitted ? "Yes" : "No")</td>
                @*<td>@((item.IsMidYearAppraisalSubmitted ? "Yes" : item.EvaluationStartDate.Length > 0 ? "Initiated" : "No"))</td>*@
                <td>@((item.IsMidYearAppraisalSubmitted ? "Yes" : item.MidEvaluationStartDate.Length > 0 ? "Initiated" : "No"))</td>
                @*<td>@((item.EvaluationStartDate.Length > 0 && item.PeriodId == 2) ? "--" : (item.IsFullYearAppraisalSubmitted ? "Yes" : "No"))</td>*@
                <td>@((item.IsFullYearAppraisalSubmitted ? "Yes" : (item.FullEvaluationStartDate.Length > 0 ? "Initiated" : "No")))</td>


                <td>@item.Year</td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(x => item.EvaluationStartDate, item.EvaluationStartDate.Length == 0 ? new { @class = "form-control datepicker evaluationStartDate", @autocomplete = "off" } : (object)new { @class = "form-control datepicker evaluationStartDate", @autocomplete = "off", @disabled = "disabled" })
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                        @Html.TextBoxFor(x => item.EvaluationDueDate, item.EvaluationDueDate.Length == 0 ? new { @class = "form-control datepicker evaluationDueDate", @autocomplete = "off" } : (object)new { @class = "form-control datepicker evaluationDueDate", @autocomplete = "off", @disabled = "disabled" })
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>

    </table>


</div>


<br />







