﻿@model HRMS.Entities.PDRP.GoalSettingModel
@using HRMS.Entities.PDRP;
@{
    int isEditable = 1;
    if (Model.FullFormMode <= 1)
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1)
            //*** F21 Removed on Request if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                isEditable = 0;
            }
        }
    }
    if (Model.IsFullSignOffForm) //*** At Final State with Employee
    {
        isEditable = 0;
    }
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }
    int Rowno = 1;

    int intMidOver = 1;

    if (Model.IsMidSignOffForm) //*** Dissable Goal & Mid values at Full yer
    {
        intMidOver = 0;
    }
}
<div class="col-lg-12 form-group">

    <table id="tblProfessionalCompetenciesFormD" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-md-2 center-text-align">Sr no.</td>
                <td class="col-md-8" colspan="2">Competencies</td>
				<td class="col-md-1 center-text-align">Mid-Year Rating</td>
                <td class="col-md-1 center-text-align">Full year Rating</td>
            </tr>
        </thead>
        <tbody>


            @foreach (ProfessionalCompetencies item in Model.ProfessionalCompetencies.Where(x => x.CompetencyTypeID == 1))
            {
                <tr class="clsProfessionalCompetencies">
                    <td class="col-md-2 center-text-align">@Rowno</td>
                    <td class="col-md-2">@item.CompetencyName_1</td>
                    <td class="col-md-10">
                        <span>

                            @item.CompetencyDescription_1

                        </span>
                    </td>
                    <td class="col-md-1">
                        @Html.HiddenFor(m => m.ProfessionalCompetencies[Rowno - 1].No)
                        @Html.DropDownListFor(m => m.ProfessionalCompetencies[Rowno - 1].Score
                                              , new SelectList(ViewBag.AppraisalNonTeachDetailsRatingScaleWeightagesList, "Value", "Text", Model.ProfessionalCompetencies[Rowno - 1].Score)
                                               , "--Select--"
                                              , (isEditable == 1 && intMidOver==1) ? new
                                              {
                                                  @class = "selectpicker wid182",
                                                  @data_live_search = "true",
                                                  @id = "MidProficiencyScore",
                                                  @type = "number",
                                                  @data_competencyid = item.CompetencyID


                                              }
                                              : (object)new
                                              {
                                                  @class = "selectpicker wid182",
                                                  @data_live_search = "true",
                                                  @id = "MidProficiencyScore",
                                                  @type = "number",
                                                  @disabled = true,
                                                  @data_competencyid = item.CompetencyID


                                              })
                    </td>
                    <td class="col-md-1">
                        @Html.HiddenFor(m => m.ProfessionalCompetencies[Rowno-1].No)
                        @Html.DropDownListFor(m => m.ProfessionalCompetencies[Rowno - 1].FullScore
                                              , new SelectList(ViewBag.AppraisalNonTeachDetailsRatingScaleWeightagesList, "Value", "Text", Model.ProfessionalCompetencies[Rowno - 1].FullScore)
                                              , "--Select--"
                                              , (isEditable == 1) ? new
                                              {
                                                  @class = "selectpicker wid181",
                                                  @data_live_search = "true",
                                                  @id = "FullProficiencyScore",
                                                  @type = "number",
                                                  @data_competencyid = item.CompetencyID


                                              }
                                              : (object)new
                                              {
                                                  @class = "selectpicker wid181",
                                                  @data_live_search = "true",
                                                  @id = "FullProficiencyScore",
                                                  @type = "number",
                                                  @disabled = true,
                                                  @data_competencyid = item.CompetencyID


                                              })
                    </td>
                </tr>
                {
                    Rowno++;
                }
            }
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">
                    <div id="divMidProfessionalTotalScore">
                        @Html.DisplayFor(m => m.FormDModel.MidProfessionalCompetenciesAVG)
                    </div>

                    @Html.HiddenFor(m => m.FormDModel.MidProfessionalCompetenciesAVG, new { @id = "MidProfessionalTotalScore" })
                </td>
                <td class="text-right">
                    <div id="divFullProfessionalTotalScore">
                        @Html.DisplayFor(m => m.FormDModel.FullProfessionalCompetenciesAVG)
                    </div>

                    @Html.HiddenFor(m => m.FormDModel.FullProfessionalCompetenciesAVG, new { @id = "FullProfessionalTotalScore" })
                </td>
            </tr>
        </tbody>
    </table>


</div>
<div class="form-group">
    <div class="col-sm-12">
        <div class="col-sm-12 padding-0">
            <label class="label-form">Comments if applicable</label>
        </div>
        <div class="col-sm-12 padding-0">
            <!--@Html.TextAreaFor(x => x.FormDModel.CompetenciesComments, @*Model.IsMidSignOffForm*@ (isEditable == 1) ? new { @class = "form-control", @id = "CompetenciesComments", @rows = 3 } : (object)new { @class = "form-control", @id = "CompetenciesComments", @rows = 3, @disabled = true })-->
            @Html.TextAreaFor(x => x.FormDModel.CompetenciesComments,new { @class = "form-control", @id = "CompetenciesComments", @rows = 3, @disabled = true })
        </div>
    </div>
</div>




