﻿@model HRMS.Entities.PDRP.GoalSettingModel
@{
    string FormState = Model.FormABusinessTargetsModel.FormState;

}
@{

    int isEditable = 1;
    if (Model.FullFormMode <= 1)
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1)
            //*** F21 Removed on Request if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                isEditable = 0;
            }
        }
    }
    //*** F24 LM Comment and Employee Comment
    //if (Model.IsFullSignOffForm) //*** At Final State with Employee
    //{
    //    isEditable = 0;
    //}
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }
    //*** F24 LM Comment and Employee Comment
    int IsLineManager = 0;
    int IsEmployee = 0;
    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID == 3)
    {
        IsLineManager = 1;
    }
    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID == 1)
    {
        IsEmployee = 1;
    }
}
@Html.Hidden("IsFLineManager", IsLineManager)
@Html.Hidden("IsFEmployee", IsEmployee)
<div class="form-group col-sm-12 padding-0">
    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form">Employee Self Evaluation</label>
        </div>
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;My Three Key Achivements</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormBKPIModel.MyThreeKeyAchivements
                , (isEditable == 1 && IsEmployee == 1) ? new { @class = "form-control", @id = "MyThreeKeyAchivements", @rows = 3 } : (object)new { @class = "form-control", @id = "MyThreeKeyAchivements", @rows = 3, @disabled = true })
        </div>
    </div>

    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;My Two Development Areas</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormBKPIModel.MyTwoDevelopmentAreas
                , (isEditable == 1 && IsEmployee == 1) ? new { @class = "form-control", @id = "MyTwoDevelopmentAreas", @rows = 3 } : (object)new { @class = "form-control", @id = "MyTwoDevelopmentAreas", @rows = 3, @disabled = true })
        </div>
    </div>

    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Employee Comments on Full Year Performance</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormBKPIModel.EmployeeCommentsonFullYearPerformance
                , (isEditable == 1 && IsEmployee == 1) ? new { @class = "form-control", @id = "EmployeeCommentsonFullYearPerformance", @rows = 3 } : (object)new { @class = "form-control", @id = "EmployeeCommentsonFullYearPerformance", @rows = 3, @disabled = true })
        </div>
    </div>

    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form">Line Manager Evaluation and Comments</label>
        </div>
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Strengths</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormBKPIModel.Strengths
                , (isEditable == 1 && IsLineManager == 1) ? new { @class = "form-control", @id = "Strengths", @rows = 3 } : (object)new { @class = "form-control", @id = "Strengths", @rows = 3, @disabled = true })
        </div>
    </div>
    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Training Needs</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormBKPIModel.FullTrainingNeeds
                 , (isEditable == 1 && IsLineManager == 1) ? new { @class = "form-control", @id = "FullTrainingNeeds", @rows = 3 } : (object)new { @class = "form-control", @id = "FullTrainingNeeds", @rows = 3, @disabled = true })
        </div>
    </div>
    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Line Manager Comments on Full Year Performance</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormBKPIModel.LineManagerCommentsonFullYearPerformance
                , (isEditable == 1 && IsLineManager == 1) ? new { @class = "form-control", @id = "LineManagerCommentsonFullYearPerformance", @rows = 3} : (object)new { @class = "form-control", @id = "LineManagerCommentsonFullYearPerformance", @rows = 3, @disabled = true })
        </div>
    </div>
</div>