﻿@model HRMS.Entities.PDRP.GoalSettingModel
@using HRMS.Entities.PDRP;
@{
    int isEditable = 1;
    if (Model.FullFormMode <= 1)
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1)
            //*** F21 Removed on Request if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                isEditable = 0;
            }
        }
    }
    if (Model.IsFullSignOffForm) //*** At Final State with Employee
    {
        isEditable = 0;
    }
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }
    int Rowno = 1;
}
<div class="col-lg-12 form-group">

    <table id="tblCoreCompetencies" class="table  table-bordered alternatecolor">
        <thead>
            <tr>


                <td class="col-md-1 center-text-align">Sr no.</td>
                <td class="col-md-11">Competencies</td>
                <td class="col-md-1 center-text-align">Rating</td>


            </tr>
        </thead>
        <tbody>
            @foreach (ProfessionalCompetencies item in Model.ProfessionalCompetencies.Where(x => x.CompetencyTypeID == 1))
            {
                <tr class="clsProfessionalCompetencies">
                    <td class="center-text-align">@Rowno</td>
                    <td>
                        <b>@item.CompetencyName_1:</b>
                        <span>
                            <i>
                                @item.CompetencyDescription_1
                            </i>
                        </span>
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.ProfessionalCompetencies[Rowno-1].No)
                        @Html.DropDownListFor(m => m.ProfessionalCompetencies[Rowno-1].Score
                                              , new SelectList(ViewBag.AppraisalNonTeachDetailsRatingScaleWeightagesList, "Value", "Text", Model.ProfessionalCompetencies[Rowno-1].Score)
                                              ,"---Select---"
                                              , (isEditable == 1) ? new
                                              {
                                                  @class = "selectpicker wid182",
                                                  @data_live_search = "true",
                                                  @id = "ProficiencyScore",
                                                  @type = "number",
                                                  @data_competencyid = item.CompetencyID


                                              }
                                              : (object)new
                                              {
                                                  @class = "selectpicker wid182",
                                                  @data_live_search = "true",
                                                  @id = "ProficiencyScore",
                                                  @type = "number",
                                                  @disabled = true,
                                                  @data_competencyid = item.CompetencyID


                                              })
                    </td>

                </tr>
                {
                    Rowno++;
                }
            }
            

            <tr>
                <td colspan="2" class="text-right">Total</td>
                <td class="text-right">
                    <div id="divProfessionalTotalScore">
                        @Html.DisplayFor(m => m.FormABusinessTargetsModel.ProfessionalCompetenciesAVG)
                    </div>

                    @Html.HiddenFor(m => m.FormABusinessTargetsModel.ProfessionalCompetenciesAVG, new { @id = "ProfessionalTotalScore" })
                </td>
            </tr>



        </tbody>
    </table>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <div class="col-sm-12 padding-0">
            <label class="label-form">Comments if applicable</label>
        </div>
        <div class="col-sm-12 padding-0">
            <!--@Html.TextAreaFor(x => x.FormABusinessTargetsModel.CompetenciesComments, (isEditable == 1) ? new { @class = "form-control", @id = "CompetenciesComments", @rows = 3 } : (Object)new { @class = "form-control", @id = "CompetenciesComments", @rows = 3, @disabled = true })-->
            @Html.TextAreaFor(x => x.FormABusinessTargetsModel.CompetenciesComments, new { @class = "form-control", @id = "CompetenciesComments", @rows = 3, @disabled = true })
        </div>
    </div>
</div>
