﻿@model HRMS.Entities.PDRP.GoalSettingModel

@{
    var count = Model.FormCKPIModelList.Count();
    var remainingCount = 5 - count;
    var no = 1;
    double? TotalWeight = 0;
    double totalWeightPercentage = 0.0;
    var businessTargetDetailsCount = Model.FormCKPIModelList.Count();
    bool isSaved = businessTargetDetailsCount > 0 ? true : false;
    int rowno = 0;
    var FormState = Model.FormABusinessTargetsModel.FormState;
    int isEditable = 1;
    if (Model.FullFormMode <= 1)
    {
        if (Model.EmployeeBasedGroup == false)
        {
            if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1)
            //*** F21 Removed on Request if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
            {
                isEditable = 0;
            }
        }
    }
    if (Model.IsFullSignOffForm) //*** At Final State with Employee
    {
        isEditable = 0;
    }
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }
}
<style>
    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100px !important;
    }
</style>
@*@{
        string FormState = Model.FormCKPIModel.FormState;
        if (FormState == "Mid Year LMS")
        {
            FormState = FormState + " EM";
        }
    }*@
<div id="divBusinessTargets" class="col-lg-12 form-group">
    @Html.Hidden("isSaved", isSaved)
    <table id="tblBusinessTargets" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                <td class="col-md-1 center-text-align">Sr No.</td>
                <td class="col-md-5">Business Targets</td>
                <td class="col-md-3">Accomplishments</td>
                <td class="col-md-1 center-text-align">Weight %</td>
                <td class="col-md-1">Rating</td>
                <td class="col-md-1">Score</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.FormCKPIModelList)
                {
                    if (item.Weight > 0)
                    {

                        <tr class="businesstargetandweightsection" data-businesstargetid=@item.KPIId>
                            <td class="center-text-align">@no</td>
                            <td>
                                @Html.TextAreaFor(x => item.BusinessTargetDetails, @*FormState.Contains("EM")*@ new { @class = "col-sm-12 form-control businesstarget", @rows = 3, @disabled = true })
                            </td>
                            <td>
                                @*@Html.TextAreaFor(x => item.Accomplishments, FormState == "Full Year EP SIGN" ? new { @class = "col-sm-12 form-control accomplishments", @rows = 3, @disabled = true } : Model.IsSignOffForm ? new { @class = "col-sm-12 form-control accomplishments", @rows = 3, @disabled = true } : (object)new { @class = "col-sm-12 form-control accomplishments", @rows = 3 })*@
                                @Html.TextAreaFor(x => item.Accomplishments, (isEditable == 1) ? new { @class = "col-sm-12 form-control accomplishments", @rows = 3 } : (object)new { @class = "col-sm-12 form-control accomplishments", @rows = 3, @disabled = true })

                            </td>
                            <td>
                                @*Naresh 2020-02-27 Business Target & Weight are disabled*@
                                @Html.TextBoxFor(x => item.Weight, @*FormState.Contains("EM")*@ new { @class = "col-sm-12 form-control weight", @type = "number", @disabled = true })
                            </td>

                            <td>
                                @Html.DropDownListFor(m => item.Rating
                                            , new SelectList(ViewBag.AppraisalNonTeachDetailsRatingScaleWeightagesList, "Value", "Text", item.Rating)
                                            ,"---Select---"
                                            , (isEditable == 1) ? new
                                            {
                                                @class = "selectpicker wid180",
                                                @data_live_search = "true",
                                                @id = "ProficiencyScore",
                                                @type = "number",
                                                @rows = 3
                                            } : (object)new
                                            {
                                                @class = "selectpicker wid180",
                                                @data_live_search = "true",
                                                @id = "ProficiencyScore",
                                                @type = "number",
                                                @disabled = true

                                            })
                            </td>
                            <td class="right-text-align">
                                <div id="divScore" class="font-Bold">
                                    @Html.DisplayFor(x => item.Score)
                                </div>
                                @*@Html.TextBoxFor(x => item.Score, (isEditable == 1) ? new { @class = "col-sm-12 form-control Score" }  : (object)new { @class = "col-sm-12 form-control Score", @disabled = true })*@
                                @Html.HiddenFor(x => item.Score, new { @class = "col-sm-12 form-control Score" })
                            </td>
                            @*}*@
                        </tr>
                        {
                            no++;
                            rowno++;
                            if (item.Weight != null)
                            {
                                TotalWeight = TotalWeight + item.Weight;
                            }
                        }
                    }


                }
            }
    </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2">
                    @{
                        totalWeightPercentage = (TotalWeight == null) ? 0 : ((Convert.ToDouble(TotalWeight) / 100) * 100);
                    }
                    <span class="pull-right font-Bold"> Total Kpi @totalWeightPercentage %</span>
                </td>

                <td>
                    100%
                </td>
                <td></td>
                <td class="text-right">
                    <div id="divBusinessTargetsTota">
                        @Html.DisplayFor(m => m.FormCKPIModel.BusinessTargetsTota)
                    </div>
                    @Html.HiddenFor(m => m.FormCKPIModel.BusinessTargetsTota, new { @id = "BusinessTargetsTota" })
                </td>

            </tr>

        </tfoot>
    </table>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <div class="col-sm-12 padding-0">
            <label class="label-form">Comments if applicable</label>
        </div>
        <div class="col-sm-12 padding-0">
            @Html.TextAreaFor(x => x.FormCKPIModel.KPIsComments, @*FormState.Contains("EM")*@ new { @class = "form-control", @id = "businessTargetComments", @rows = 3, @disabled = true })
        </div>
    </div>
</div>
