﻿@model HRMS.Entities.PDRP.GoalSettingModel
@{
    string FormState = "";
    if (Model.FormABusinessTargetsModel.FormState != null)
    {
        FormState = Model.FormABusinessTargetsModel.FormState;
    }
    if (Model.FormDModel.FormState != null)
    {
        FormState = Model.FormDModel.FormState;
    }
    //if (FormState == "Mid Year LMS")
    //{
    //    FormState = FormState + " EM";
    //}

    int isEditable = 1;
    if (Model.MidFormMode <= 1)
    {
        if (Model.EmployeeBasedGroup == false)
        {
            isEditable = 0;
        }
    }
    //*** F24 LM Comment and Employee Comment
    //if (Model.IsMidSignOffForm) //*** At Final State with Employee
    //{
    //    isEditable = 0;
    //}
    if (Model.IsAddMode == false)
    {
        isEditable = 0;
    }
    //*** F24 LM Comment and Employee Comment

    int IsLineManager = 0;
    int IsEmployee = 0;
    if (Model.IsFullyear==false)
    {
        if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID == 3)
        {
            IsLineManager = 1;
        }
        if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID == 1)
        {
            IsEmployee = 1;
        }
    }
}
@Html.Hidden("IsLineManager", IsLineManager)
@Html.Hidden("IsEmployee", IsEmployee)
<div class="form-group col-sm-12 padding-0">
    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form">Line Manager Evaluation and Comments</label>
        </div>
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Strengths</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormDModel.LineManagerEvaluationComments, (isEditable == 1 && IsLineManager == 1) ? new { @class = "form-control", @id = "lineManagerEvaluationComments", @rows = 3 } : (object)new { @class = "form-control", @id = "lineManagerEvaluationComments", @rows = 3, @disabled = true })
            
        </div>
    </div>

    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Training Needs</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormDModel.TrainingNeeds, (isEditable == 1 && IsLineManager == 1) ? new { @class = "form-control", @id = "TrainingNeeds", @rows = 3 } : (object)new { @class = "form-control", @id = "TrainingNeeds", @rows = 3, @disabled = true })
        </div>
    </div>

    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Line Manager Comments on Mid Year Performance</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormDModel.LineManagerMidYearPerformanceComments, (isEditable == 1 && IsLineManager == 1) ? new { @class = "form-control", @id = "lineManagerMidYearPerformanceComments", @rows = 3 } : (object)new { @class = "form-control", @id = "lineManagerMidYearPerformanceComments", @rows = 3, @disabled = true })
        </div>
    </div>

    <div class="form-group col-sm-12 padding-0">
        <div class="col-sm-12">
            <label class="label-form"><span class="required-field">*</span>&nbsp;Employee Comments on Mid Year Performance</label>
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.FormDModel.EmployeeMidYearPerformanceComments, (isEditable == 1 && IsEmployee == 1) ? new { @class = "form-control", @id = "employeeMidYearPerformanceComments", @rows = 3 } : (object)new { @class = "form-control", @id = "employeeMidYearPerformanceComments", @rows = 3, @disabled = true })
        </div>
    </div>
</div>