﻿@{
    ViewBag.Title = "HRMS - Workflow Reversal (Non-Teaching)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset.scheduler-border {
        border: solid 3px #DDD !important;
        padding: 0 10px 10px 10px;
        border-bottom: none;
    }

    legend.legendGoalSetting {
        width: auto;
        border-bottom: none;
    }
</style>

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Workflow Reversal</li>
    </ul>
}


<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="col-sm-4 padding-0">
                <h4 class="panel-title">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Workflow Reversal
                </h4>
            </div>
            <div class="col-sm-4">
                <div class="div-center">

                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
            <div class="col-md-2 pull-right">
                @*<ul class="panel-controls">
                    <li class="dropdown open">
                        <a href="javascript:void(0);" title="Submit" id="btnSubmit" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                    </li>
                   
                </ul>*@
            </div>
            <div class="col-sm-4 pull-right">
            </div>
        </div>
        <div class="panel-body form-horizontal">
            <fieldset class="fieldset-Section">
                <legend class="legend-border">
                    <span class="label-form legend-title-font">
                        Filter Records:
                    </span>

                </legend>

                <div class="row margin_bottom">
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    <span class="required-field">*</span> &nbsp;Year:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlKPIYear", (SelectList)ViewBag.KPIYears, "Select Year", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlKPIYear" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    <span class="required-field">*</span> &nbsp;Document Type:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlPeriod", new List<SelectListItem>
                                    {

                                    new SelectListItem{Text="Setting Goals Approval", Value="1" },
                                    new SelectListItem{Text="Setting Mid Year Approval", Value="2" },
                                    new SelectListItem{Text="Setting Full Year Approval", Value="3" }
                                    }, "Select Document Type", new { @class = "form-control selectpicker selectpickerddl" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="button" id="btnSearch" class="btn btn-primary" style="width:165px;" value="Preview">
                    </div>
                </div>
               
                <div class="row margin_bottom">
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Organization Name:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                   
                </div>





            </fieldset>
            
        </div>


        <div class="row">

            <hr>
            <div class="row col-sm-12 form-horizontal">
                <div id="divAnnualAppraisalSettings">

                </div>

            </div>


        </div>
        
    </div>
</div>


<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/PDRP/AnnualAppraisalReversal.js"></script>
@*<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>*@


