﻿@{
    ViewBag.Title = "HRMS - Annual Appraisal Process (Non-Teaching)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset.scheduler-border {
        border: solid 3px #DDD !important;
        padding: 0 10px 10px 10px;
        border-bottom: none;
    }

    legend.legendGoalSetting {
        width: auto;
        border-bottom: none;
    }
</style>

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Performance Evaluation Initialization Form</li>
    </ul>
}


        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-4 padding-0">
                        <h4 class="panel-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Performance Evaluation Initialization Form
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="div-center">

                            <a class="profile-control-left filter-icon">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-2 pull-right">
                        <ul class="panel-controls">
                            <li class="dropdown open">
                                <a href="javascript:void(0);" title="Submit" id="btnSubmit" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            </li>
                            @*Naresh 2020-02-26 Cancel button not required*@
                        </ul>
                    </div>
                    <div class="col-sm-4 pull-right">
                    </div>
                </div>
                <div class="panel-body form-horizontal">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Employees
                            </span>

                        </legend>

                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        @*Naresh 2020-02-26 * removed*@
                                        <label class="label-form">
                                            Year:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.DropDownList("ddlKPIYear", (SelectList)ViewBag.KPIYears, "Select Year", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlKPIYear" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        @*Naresh 2020-02-26 * removed*@
                                        <label class="label-form">
                                            Period:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.DropDownList("ddlPeriod" ,new List<SelectListItem>
                                            {
                                            new SelectListItem{Text="Mid Year", Value="1",Selected=true },
                                            new SelectListItem{Text="Full Year", Value="2" }
                                            }, "Select Period", new { @class = "form-control selectpicker selectpickerddl" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <span class="required-field">*</span>&nbsp;<label class="label-form">
                                            Evaluation Start Date:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("EvaluationStartDate", null, new { @class = "form-control datepickerFrom", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <span class="required-field">*</span>&nbsp;<label class="label-form">
                                            Evaluation Due Date:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        <div class="input-group">
                                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBox("EvaluationDueDate", null, new { @class = "form-control datepickerTo", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <label class="label-form">
                                            Evaluation Process Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.TextBox("EvaluationProcessName", null, new { @class = "form-control ProcessName",@id= "ProcessName" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 pull-right">
                                <input type="button" id="btnApplyToAll" class="btn btn-primary" style="width:165px;" value="Apply to all selections">
                            </div>
                        </div>





                    </fieldset>
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Filter By
                            </span>

                        </legend>

                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-5 padding-0">
                                        <label class="label-form">
                                            Select Organization:
                                        </label>
                                    </div>
                                    <div class="col-sm-7 padding-0">
                                        @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Company", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin_bottom">
                            <div class="col-sm-4 padding-1">

                                <div class="col-sm-5  padding-0">
                                    <label class="label-form">Form D Category:</label>
                                </div>
                                <div class="col-sm-7 padding-0">
                                    <div class="checkbox">
                                        <label><input class="YNClass1" type="checkbox" id="FormDCategory" name="FormDCategory" /></label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 pull-right">
                                <input type="button" id="btnSearch" style="width:165px;" class="btn btn-primary" value="Preview">
                            </div>
                        </div>


                    </fieldset>
                </div>


                <div class="row">

                    <hr>
                    <div class="row col-sm-12 form-horizontal">
                        <div id="divAnnualAppraisalSettings">

                        </div>

                    </div>


                </div>
                <div class="panel-footer">
                    <div class="pull-left">
                        @*Naresh 2020-02-26 Cancel button not required*@
                        <div class="col-sm-5">
                            @*Naresh 2020-02-26 Added icon for design*@
                            <button type="submit" title="Submit" id="btnSubmit" class="btn btn-rounded btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/PDRP/AnnualAppraisalProcess.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    

