﻿@model HRMS.Entities.PDRP.AnnualAppraisalProcessModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Full Year Appraisal Form";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Annual Performance Evaluation Form</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h4 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Annual Performance Evaluation Form
                    </h4>
                </div>
            </div>
            @Html.HiddenFor(m => m.MidYearAppraisalFormModel.ID, new { @id = "MidYearAppraisalFormModelId" })
            @Html.HiddenFor(m => m.EmployeeID)
            @Html.HiddenFor(m => m.YearId)
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.IsSubmitForLM)
            @Html.HiddenFor(m => m.RequestId)
            @Html.HiddenFor(m => m.AnnualAppraisalProcessId)
            @Html.HiddenFor(m => m.PerformanceGroupId)
            @Html.HiddenFor(m => m.PeriodId)
            @Html.Hidden("FormSubmit")
            < div class="panel-body form-horizontal">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 1: Employee Information
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterEmployeeInfoDetails", new { formID = 40, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeId, isAddMode = Model.IsAddMode, formProcessId = 0 }); }
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 2: Over All Rating Scales
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetOverAllRatingScalesDetails"); }
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 3: Business Targets
                            </span>
                        </legend>
                        @Html.Partial("_BusinessTargetsMidYearAppraisalForm", Model)
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 4: Core Competencies
                            </span>
                        </legend>
                        @Html.Partial("_CoreCompetenciesMidYearAppraisalForm", Model)
                    </fieldset>
                </div>
                @if (Model.PeriodId == 2)
            {
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label id="lblCharsLeft_txtComments" class=" label-form" style="font-size:12px !important">Section 5: Evaluation Summary</label>
                            </legend>
                            <div class="col-lg-12">
                                <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                                    <tr>
                                        <th class="col-sm-8 ">
                                            
                                        </th>

                                        <th class="col-sm-4 ">
                                           Overall Score
                                        </th>                                       
                                    </tr>
                                    <tr>
                                        <th class="col-sm-8">
                                            Business Targets / Objectives -60%
                                        </th>

                                        <th class="col-sm-4">
                                            <div id="divTotalScore1">
                                                @Html.DisplayFor(m => m.MidYearAppraisalFormModel.BusinessTargetsTota)
                                            </div>
                                            @Html.HiddenFor(m => m.MidYearAppraisalFormModel.BusinessTargetsTota, new { @id= "TotalScore1" })
                                        </th>


                                    </tr>
                                    <tr>
                                        <th class="col-sm-8">
                                            Competencies
                                        </th>

                                        <th class="col-sm-4">
                                            <div id="divBehavioralTotalScore1">
                                                @Html.DisplayFor(m => m.MidYearAppraisalFormModel.CompetenciesAVG)
                                            </div>
                                            @Html.HiddenFor(m => m.MidYearAppraisalFormModel.BehavioralCompetenciesAVG, new { @id = "BehavioralTotalScore1" })
                                        </th>


                                    </tr>
                                    <tr>
                                        <th class="col-sm-8 text-right">
                                            Overall Appraisal Score
                                        </th>
                                        <th class="col-sm-4">
                                            <div id="divOverallScore">
                                                @Html.DisplayFor(m => m.MidYearAppraisalFormModel.OverallAppraisalScore)
                                            </div>
                                            @Html.HiddenFor(m => m.MidYearAppraisalFormModel.OverallAppraisalScore ,new { @id= "OverallAppraisalScore" })
                                            @*@Html.HiddenFor(m => m.OverallScore)*@
                                            @Html.HiddenFor(m => m.OverallScoreFormula)
                                        </th>
                                        
                                    </tr>
                                </table>

                            </div>

                        </fieldset>
                    </div>



                }
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 6: Mid Year Appraisal
                            </span>
                        </legend>
                        @Html.Partial("_MidYearAppraisalDetails", Model)
                    </fieldset>
                </div>
                @if (Model.PeriodId == 2)
                {
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Section 7: Full Year Appraisal
                                </span>
                            </legend>
                            @Html.Partial("_FullYearAppraisalDetails", Model)
                        </fieldset>
                    </div>
                }
            </div>

            <div class="panel-footer" style="margin-top:25px">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="form-group center-text-align">
                        @if (Model.MidYearAppraisalFormModel.ApproverEmployeeID == Model.RequesterEmployeeId)
                        {
                            <button type="submit" title="Submit Request" id="preFullbtnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Save</button>

                            if (Model.IsSignOffForm)
                            {
                                <button title="Submit Request" id="preFullbtnSignOff" class="btn btn-rounded btn-primary btnEmpSignOffSubmit"><i class="fa fa-floppy-o"></i>Sign Off </button>
                            }
                            else
                            {
                                <button title="Submit Request" id="preFullbtnSubmit" class="@(Model.IsSubmitForLM ? "btn btn-rounded btn-primary btnLMSubmit" : "btn btn-rounded btn-primary btnSubmit")"><i class="fa fa-floppy-o"></i>Submit </button>
                            }
                        }
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i> Cancel</a>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/PDRP/MidYearAppraisalForm.js"></script>

