﻿@model HRMS.Entities.PDRP.GoalSettingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HRMS - Annual Performance Evaluation Form A";
}
@{


}
@section Breadcrumb
{
<ul class="breadcrumb">
    <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
    <li class="active">Annual Performance Evaluation Form A</li>
</ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h4 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Annual Performance Evaluation Form A [Request ID - @Model.RequestId]
                    </h4>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="pull-right">

                    @{
                    int isEditable = 1;
                    if (Model.FullFormMode <= 1)
                    {
                    if (Model.EmployeeBasedGroup == false)
                    {
                    //  F21 Removed on Requestif (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                    //{
                    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1)
                    //if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                    {
                    isEditable = 0;
                    }
                    //}
                    }
                    }
                    //*** F3
                    if (Model.IsFullSignOffForm)
                    {
                    isEditable = 0;
                    }
                    if (Model.IsAddMode == false)
                    {
                    isEditable = 0;
                    }
                    //***F3, F21
                    if (Model.RequesterEmployeeId != ViewBag.UserID && Model.ReqStatusId == 3) //** F3
                    {
                    Model.IsAddMode = false;
                    isEditable = 0;
                    }
                    string ErrMessage = "";
                    if (Model.CurrCompanyId != Model.CompanyId)
                    {

                    ErrMessage = "This employee is Transferred";
                    }
                    //*** F10
                    if (Model.MidIsReversed == "1" || Model.MidReqStatusID < 4)
                    {
                    ErrMessage = "Mid-Year is in REVERSED State";
                    isEditable = 0;
                    Model.IsAddMode = false;
                    }
                    }
                    @if (Model.IsAddMode == true)
                    {
                    if (Model.IsFullSignOffForm)
                    {

                    <a href="javascript:void(0);" title="Sign Off" id="tprebtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i></a>
                    }
                    else
                    {
                    if (isEditable == 1)
                    {
                    <a href="javascript:void(0);" title="Save" id="tprebtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                    }
                    if (Model.ReqStatusId == 3) //** F3
                    {
                    //<a href="javascript:void(0);" title="Re-Submit Request" id="tbtnReSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnReSubmit"><i class="fa fa-repeat"></i></a>
                    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID == 1)
                    //*** F21 Commented if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID == Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                    {
                    <a href="javascript:void(0);" title="Re-Submit Request" id="tbtnReSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnReSubmit"><i class="fa fa-repeat"></i></a>
                    }
                    }
                    else
                    {
                    <a href="javascript:void(0);" title="Submit" id="tprebtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSubmit" )"><i class="fa fa-check"></i></a>
                    //*** F22 On request
                    //if (Model.RequesterEmployeeId != ViewBag.UserID)
                    //if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                    //{
                    //    <a href="javascript:void(0);" title="Reject Request" id="tbtnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                    //}
                    }

                    //*** F21 if (Model.RequesterEmployeeId != ViewBag.UserID)
                    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                    {
                    <a href="javascript:void(0);" title="Reject Request" id="tbtnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                    }



                    }
                    }
                    else
                    {
                    if (Model.FullFormMode == 2)
                    {
                    if (Model.RequesterEmployeeId == ViewBag.UserID && Model.CurrCompanyId == Model.CompanyId)
                    {
                    <a href="javascript:void(0);" title="Sign Off" id="tprebtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i></a>
                    }
                    }
                    }
                    <a href="javascript:void(0);" title="Back To Task List" onclick="BackToTaskList()" id="tbtnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>

            </div>
            @Html.HiddenFor(m => m.FormABusinessTargetsModel.ID, new { @id = "AnnualGoalSettingFormAId" })
            @Html.HiddenFor(m => m.EmployeeID)
            @Html.HiddenFor(m => m.YearId)
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.IsSubmitForLM)
            @Html.HiddenFor(m => m.RequestId)
            @Html.HiddenFor(m => m.GoalSettingId)
            @Html.HiddenFor(m => m.FormProcessID)
            @Html.HiddenFor(m => m.FormProcessID, new { id = "hdnformProcessID" })
            @Html.HiddenFor(m => m.RequesterEmployeeId)
            @Html.HiddenFor(m => m.ID)

            @Html.HiddenFor(m => m.FormABusinessTargetsModel.FormState, new { @id = "FormState" })
            @Html.HiddenFor(m => m.PerformanceGroupId)
            @Html.HiddenFor(m => m.FormABusinessTargetsModel.FormSubmit, new { @id = "FormSubmit" })
            @Html.HiddenFor(m => m.ReqStatusId)@* *** F3*@

            @Html.Hidden("isEditable", isEditable)
            @Html.HiddenFor(m => m.IsFullyear)
            <label class="col-lg-12 paddingTop center-text-align" style="color:red;">@ErrMessage</label>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 1: Employee Information
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterEmployeeInfoDetails", new { CurrPeriod = 3, GoalSettingModel = Model, RequestID = Model.RequestId, YearID = Model.YearId, formID = 36, requestDate = Model.CreatedOn, employeeID = Model.EmployeeID, isAddMode = Model.IsAddMode, formProcessId = 0, grade = Model.FormABusinessTargetsModel.JobGrade }); }
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 2: Over All Rating Scales
                            </span>

                        </legend>
                        @*@{ Html.RenderAction("GetOverAllRatingScalesDetails"); }*@
                        @**** F2*@
                        @{ Html.RenderAction("GetOverAllRatingScalesDetails", "GoalSetting", new { YearID = Model.YearId, CompanyID = Model.CompanyId, GoalSettingId = Model.GoalSettingId, PerformanceGroupId = 1 }); }
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 3: Business Targets
                            </span>
                        </legend>
                        @Html.Partial("_FullBusinessTargetsFormA", Model)
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 4: Core Competencies
                            </span>
                        </legend>
                        @Html.Partial("_FullCoreCompetenciesFormA", Model)
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <label id="lblCharsLeft_txtComments" class=" label-form" style="font-size:12px !important">Section 5: Evaluation Summary</label>
                        </legend>
                        <div class="col-lg-12">
                            <table id="tblKPIs" class="table table-striped table-bordered table-fixed-width">
                                <tr>
                                    <th class="col-sm-8 ">

                                    </th>

                                    <th class="col-sm-4 ">
                                        Overall Score
                                    </th>
                                </tr>
                                <tr>
                                    <th class="col-sm-8">
                                        Business Targets / Objectives -70%
                                    </th>

                                    <th class="col-sm-4">
                                        <div id="divBusinessTargetsTota1">
                                            @Html.DisplayFor(m => m.FormABusinessTargetsModel.BusinessTargetsTota)
                                        </div>
                                        @Html.HiddenFor(m => m.FormABusinessTargetsModel.BusinessTargetsTota, new { @id = "BusinessTargetsTota1" })
                                    </th>


                                </tr>
                                <tr>
                                    <th class="col-sm-8">
                                        Competencies 30%
                                    </th>

                                    <th class="col-sm-4">
                                        <div id="divProfessionalTotalScore1">
                                            @Html.DisplayFor(m => m.FormABusinessTargetsModel.ProfessionalCompetenciesAVG)
                                        </div>
                                        @Html.HiddenFor(m => m.FormABusinessTargetsModel.ProfessionalCompetenciesAVG, new { @id = "ProfessionalTotalScore1" })
                                    </th>


                                </tr>
                                <tr>
                                    <th class="col-sm-8 text-right">
                                        Overall Appraisal Score
                                    </th>
                                    <th class="col-sm-4">
                                        <div id="divOverallScore">
                                            @Html.DisplayFor(m => m.FormABusinessTargetsModel.OverallAppraisalScore)
                                        </div>
                                        @Html.HiddenFor(m => m.FormABusinessTargetsModel.OverallAppraisalScore, new { @id = "OverallAppraisalScore" })
                                        @*@Html.HiddenFor(m => m.OverallScore)*@
                                        @Html.HiddenFor(m => m.OverallScoreFormula)
                                    </th>

                                </tr>
                            </table>

                        </div>

                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 6: Mid Year Appraisal
                            </span>
                        </legend>
                        @Html.Partial("_MidYearAppraisalDetailsA", Model)
                    </fieldset>
                </div>
                @*@if (Model.FormABusinessTargetsModel.PeriodId == 2)
                {*@
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 7: Full Year Appraisal
                            </span>
                        </legend>
                        @Html.Partial("_FullYearAppraisalDetailsA", Model)
                    </fieldset>
                </div>
                @*}*@
                @*//*** F24 Need to show in Signing off also so remove this condition*@
                @*@if (Model.FullFormMode < 2) //*** No need to show on signing off page
                {*@
                @if (Model.IsAddMode == true)
                {

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">

                            <label class="label-form" style="font-size:12px !important">
                                @Html.DisplayNameFor(m => m.Comments)
                            </label>
                            <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                        </legend>
                        <div class="form-group">
                            <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                        </div>
                    </fieldset>
                </div>

                }
                @*}*@
            </div>
            @*@if (Model.FormMode > 0 && Model.FormMode < 2)
            {*@
            @*Naresh 2020-02-26 Added condition not to show the approver history to employee being evaulated*@
            @**** F12 Danny Modify - Need to show at Signing off Page for Employee *@
            @*//*** F21*@
            @*//*** F25 To show approver history all time other than First time*@
            @if (Model.FullFormMode >= 2 || (Model.FormABusinessTargetsModel.ID > 0 && (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1 || Model.PDRPA1UserAndCurrentUserDetails.TaskCount > 1)))
            //@if (Model.MidFormMode >= 2 || (Model.FormABusinessTargetsModel.ID > 0 && Model.RequesterEmployeeId != ViewBag.UserID))
            {
            <div class="form-group col-sm-12" style="margin-top: -10px !important;">
                @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
            </div>
            }
            @*}*@
            <div class="panel-footer" style="margin-top:25px">
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.FormMode)
                        @Html.HiddenFor(m => m.MidFormMode)
                        @Html.HiddenFor(m => m.FullFormMode)

                        @if (Model.IsAddMode == true)
                        {
                            if (Model.IsFullSignOffForm)
                            {
                        <button title="Sign Off" id="prebtnSubmit" class="btn btn-rounded btn-primary btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i>Sign Off </button>
                            }
                            else
                            {
                                if (isEditable == 1)
                                {
                        <button type="submit" title="Save" id="prebtnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                                }
                                //*** Class "btnLMSubmit","btnSubmit" used to identify LM Submiting the form or Employee Submiting the form. Check .js file.
                                //<button title="Submit Request" id="prebtnSubmit" class="@(Model.IsSubmitForLM ? "btn btn-rounded btn-primary btnLMSubmit" : "btn btn-rounded btn-primary btnSubmit")"><i class="fa fa-floppy-o"></i>Submit </button>

                                if (Model.ReqStatusId == 3)//*** F3
                                {
                                    //<button type="button" title="Re-Submit Request" id="prebtnReSubmit" class="btn btn-rounded btn-primary btnReSubmit"><i class="fa fa-repeat"></i> Re-Submit</button>
                                    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID == 1) //*** F21
                                                                                                   //if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID == Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                    {
                                        <button type="button" title="Re-Submit Request" id="prebtnReSubmit" class="btn btn-rounded btn-primary btnReSubmit"><i class="fa fa-repeat"></i> Re-Submit</button>
                                    }
                                }
                                else
                                {
                                    <button title="Submit" id="prebtnSubmit" class="btn btn-rounded btn-primary btnSubmit"><i class="fa fa-check"></i>Submit </button>
                                    //if (Model.RequesterEmployeeId != ViewBag.UserID)
                                    //*** F22 On request if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                    if (Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID != 1) //***F22 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                    {

                                        <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                                    }
                                }



                            }
                        }
                        else
                        {
                            if (Model.FullFormMode == 2)
                            {
                                if (Model.RequesterEmployeeId == ViewBag.UserID && Model.CurrCompanyId == Model.CompanyId)
                                {
                        <button title="Sign Off" id="prebtnSubmit" class="btn btn-rounded btn-primary btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i>Sign Off </button>
                                }
                            }
                        }
                        <button type="submit" title="Cancel" id="btnCancel" class="btn btn-rounded btn-info"><i class="fa fa-arrow-left"></i> Cancel</button>

                    </div>
                </div>
                <div class="col-lg-4">
                </div>

            </div>


        </div>
    </div>
</div>
<script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/PDRP/FullYearAppraisalFormA.js"></script>

