﻿@model HRMS.Entities.PDRP.GoalSettingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HRMS - Annual Performance Evaluation Form D";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Annual Performance Evaluation Form D</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h4 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Annual Performance Evaluation Form D [Request ID - @Model.RequestId]
                    </h4>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="pull-right">

                    @{
                        int isEditable = 1;
                        if (Model.MidFormMode <= 1)
                        {
                            if (Model.EmployeeBasedGroup == false)
                            {
                                if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID)  //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                {
                                    isEditable = 0;
                                }
                            }
                        }
                        //*** F3
                        if (Model.IsMidSignOffForm)
                        {
                            isEditable = 0;
                        }
                        if (Model.IsAddMode == false)
                        {
                            isEditable = 0;
                        }
                        ////*** F3
                        ////if (Model.RequesterEmployeeId != ViewBag.UserID && Model.ReqStatusId == 3) //** F3
                        ////{
                        ////    Model.IsAddMode = false;
                        ////    isEditable = 0;
                        ////}
                        string ErrMessage = "";
                        if (Model.CurrCompanyId != Model.CompanyId)
                        {

                            ErrMessage = "This employee is Transferred";
                        }
                        //*** F10
                        if (Model.IsReversed == "1" || (Model.GolReqStatusID > 0 && Model.GolReqStatusID < 4))
                        {
                            ErrMessage = "Goal setting is in REVERSED State";
                            isEditable = 0;
                            Model.IsAddMode = false;
                        }
                    }
                    @if (Model.IsAddMode == true)
                    {
                        if (Model.IsMidSignOffForm)
                        {

                            <a href="javascript:void(0);" title="Sign Off" id="tprebtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i></a>
                        }
                        else
                        {
                            if (isEditable == 1)
                            {
                                <a href="javascript:void(0);" title="Save" id="tprebtnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                            }
                            if (Model.ReqStatusId == 3) //** F3
                            {
                                //if (ViewBag.A1User == ViewBag.UserID) //** Naresh 2020-03-02 Re-submit option will only be displayed to A1
                                if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID == Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                {
                                    <a href="javascript:void(0);" title="Re-Submit Request" id="tbtnReSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnReSubmit"><i class="fa fa-repeat"></i></a>
                                }
                            }
                            else
                            {
                                <a href="javascript:void(0);" title="Submit" id="tprebtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSubmit" )"><i class="fa fa-check"></i></a>
                                if (Model.RequesterEmployeeId != ViewBag.UserID)
                                {
                                    <a href="javascript:void(0);" title="Reject Request" id="tbtnReject" class="btn btn-danger btn-rounded btn-condensed btn-sm btnReject"><i class="fa fa-times"></i></a>
                                }
                            }


                        }
                    }
                    else
                    {
                        if (Model.FormMode == 2)
                        {
                            if (Model.RequesterEmployeeId == ViewBag.UserID && Model.CurrCompanyId == Model.CompanyId)
                            {
                                <a href="javascript:void(0);" title="Sign Off" id="tprebtnSubmit" class="btn btn-primary btn-rounded btn-condensed btn-sm btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i></a>
                            }
                        }
                    }
                    <a href="javascript:void(0);" title="Back To Task List" onclick="BackToTaskList()" id="tbtnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>

            </div>

            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.FormDModel.FormState, new { @id = "FormState" })

            @Html.HiddenFor(m => m.FormDModel.ID, new { @id = "AnnualGoalSettingFormDId" })
            @Html.HiddenFor(m => m.EmployeeID)
            @Html.HiddenFor(m => m.YearId)
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.IsSubmitForLM)
            @Html.HiddenFor(m => m.RequestId)
            @Html.HiddenFor(m => m.GoalSettingId)
            @Html.HiddenFor(m => m.FormProcessID)
            @Html.HiddenFor(m => m.FormProcessID, new { id = "hdnformProcessID" })
            @Html.HiddenFor(m => m.RequesterEmployeeId)

            @Html.HiddenFor(m => m.PerformanceGroupId)
            @Html.HiddenFor(m => m.ReqStatusId)@* *** F3*@

            @Html.Hidden("isEditable", isEditable)
            <label class="col-lg-12 paddingTop center-text-align" style="color:red;">@ErrMessage</label>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 1: Employee Information
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterEmployeeInfoDetails", new { CurrPeriod = 2, GoalSettingModel = Model, RequestID = Model.RequestId, YearID = Model.YearId, formID = 35, requestDate = Model.CreatedOn, employeeID = Model.EmployeeID, isAddMode = Model.IsAddMode, formProcessId = 0, grade = Model.FormDModel.JobGrade }); }
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 2: Over All Rating Scales
                            </span>

                        </legend>
                        @*@{ Html.RenderAction("GetOverAllRatingScalesDetails"); }*@
                        @**** F2*@
                        @{ Html.RenderAction("GetOverAllRatingScalesDetails", "GoalSetting", new { YearID = Model.YearId, CompanyID = Model.CompanyId, GoalSettingId = Model.GoalSettingId, PerformanceGroupId = 3 }); }
                    </fieldset>
                </div>

                @*<div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Section 3:Key Performance Indicators
                                </span>
                            </legend>
                            @Html.Partial("_MidKPIsFormC", Model)
                        </fieldset>
                    </div>*@

                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 3: Professional and Behavioural Competencies
                            </span>
                        </legend>
                        @Html.Partial("_MidCoreCompetenciesFormD", Model)
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Section 4: Mid Year Appraisal
                            </span>
                        </legend>
                        @Html.Partial("_MidYearAppraisalDetailsD", Model)
                    </fieldset>
                </div>
                @*@if (Model.MidFormMode < 2) //*** No need to show on signing off page
                {*@
                    @if (Model.IsAddMode == true)
                    {

                        <div class="row">
                            <fieldset class="fieldset-Section">
                                <legend class="legend-border">

                                    <label class="label-form" style="font-size:12px !important">
                                        @Html.DisplayNameFor(m => m.Comments)
                                    </label>
                                    <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                                </legend>
                                <div class="form-group">
                                    <div class="col-sm-12">@Html.TextAreaFor(m => m.Comments, new { @class = "form-control CheckKeyReleaseComments calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                                </div>
                            </fieldset>
                        </div>

                    }
                @*}*@
            </div>
            @*@if (Model.FormMode > 0 && Model.FormMode < 2)
                {*@
            @*Naresh 2020-03-12 Added condition not to show the approver history to employee being evaulated*@
            @**** F12 Danny Modify - Need to show at Signing off Page for Employee *@
            @if (Model.MidFormMode >= 2 || (Model.FormDModel.ID > 0 && Model.RequesterEmployeeId != ViewBag.UserID))
            {
                <div class="form-group col-sm-12" style="margin-top: -10px !important;">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                </div>
                        }
                        @*}*@
                        <div class="panel-footer" style="margin-top:25px">
                            <div class="col-lg-4">
                                <div class="form-group">

                                    @*@if (Model.FormDModel.FormState.Contains("Mid Year LMS"))
                                        {

                                            <button title="Submit Request" id="LMMidbtnSign" class="btn btn-rounded btn-primary  btnEmpSignOffSubmit"><i class="fa fa-floppy-o"></i>Sign Off </button>

                                        }
                                        else if (Model.FormDModel.FormState.Contains("Mid Year EM"))
                                        {

                                        }
                                        else
                                        {
                                            <button type="submit" title="Submit Request" id="LMMidbtnSave" class="btn btn-rounded btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                                            <button title="Submit Request" id="LMMidbtnSubmit" class="btn btn-rounded btn-primary"><i class="fa fa-floppy-o"></i>Submit</button>
                                        }

                                        <button type="submit" title="Submit Request" id="btnCancel" class="btn btn-rounded btn-primary "><i class="fa fa-floppy-o"></i> Cancel</button>*@
                                    @Html.HiddenFor(m => m.FormMode)
                                    @Html.HiddenFor(m => m.MidFormMode)

                                    @if (Model.IsAddMode == true)
                                    {
                                        if (Model.IsMidSignOffForm)
                                        {
                                            <button title="Sign Off" id="prebtnSubmit" class="btn btn-rounded btn-primary btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i>Sign Off </button>
                                        }
                                        else
                                        {
                                            if (isEditable == 1)
                                            {
                                                <button type="submit" title="Save" id="prebtnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                                            }

                                            if (Model.ReqStatusId == 3)//*** F3
                                            {
                                                //if (ViewBag.A1User == ViewBag.UserID) //** Naresh 2020-03-02 Re-submit option will only be displayed to A1
                                                if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID == Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                                {
                                                    <button type="button" title="Re-Submit Request" id="prebtnReSubmit" class="btn btn-rounded btn-primary btnReSubmit"><i class="fa fa-repeat"></i> Re-Submit</button>
                                                }
                                            }
                                            else
                                            {
                                                <button title="Submit" id="prebtnSubmit" class="btn btn-rounded btn-primary btnSubmit"><i class="fa fa-check"></i>Submit </button>
                                                //if (Model.RequesterEmployeeId != ViewBag.UserID)
                                                if (Model.PDRPA1UserAndCurrentUserDetails.A1UserGroupID != Model.PDRPA1UserAndCurrentUserDetails.CurUserGroupID) //***F20 Reject Button remove for A1 but not for A3 if A1 & A3 are same users
                                                {

                                                    <button type="button" title="Reject Request" id="btnReject" class="btn btn-rounded btn-danger btnReject"><i class="fa fa-times"></i> Reject</button>
                                                }
                                            }


                                        }
                                    }
                                    else
                                    {
                                        if (Model.MidFormMode == 2)
                                        {
                                            if (Model.RequesterEmployeeId == ViewBag.UserID && Model.CurrCompanyId == Model.CompanyId)
                                            {
                                                <button title="Sign Off" id="prebtnSubmit" class="btn btn-rounded btn-primary btnEmpSignOffSubmit"><i class="fa fa-sign-out"></i>Sign Off </button>
                                            }
                                        }
                                    }




                                    <button type="submit" title="Cancel" id="btnCancel" class="btn btn-rounded btn-info"><i class="fa fa-arrow-left"></i> Cancel</button>
                                </div>
                            </div>

                            <div class="col-lg-4">
                            </div>

                            <div class="col-lg-4">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
            <script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
            <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
            <script src="~/Scripts/Custom/PDRP/MidYearAppraisalFormD.js"></script>

