﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.ClearanceRequestModel
@{
    ViewBag.Title = "HRMS - Clearance Request";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Clearance Request</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmClearanceRequest" }))
{
    <div class="row">
        @Html.Hidden("hdnFormProcessID", (object)ViewBag.formProcessID, new { @id = "hdnFormProcessID" })
        @Html.Hidden("hdnUserCompanyID", (object)ViewBag.UserCompanyID, new { @id = "hdnUserCompanyID" })
        @Html.HiddenFor(m => m.CompanyID)
        @Html.HiddenFor(m => m.EmployeeID)
        @Html.HiddenFor(m => m.ID)
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-user"></span>
                        Clearance Request
                    </h3>
                    <div class="pull-right">
                       @if (Model.IsUserExistsInGroup)
                       {
                        <a href="javascript:void(0);" title="Save Request" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                       }                         
                        <a href="javascript:void(0);" title="Back To Separation List" id="btnBack" onclick="BackToSeparationList()" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 14, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID }); }
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Employee Details:</span>
                            </legend>
                            <div class="col-sm-12">
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.EmployeeID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.EmployeeID)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.CompanyName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.CompanyName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.ProjectName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.ProjectName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.JobGradeName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.JobGradeName)</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.LineManager)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.LineManager)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 alternatecolor">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.EmployeeName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.EmployeeName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.DepartmentName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.DepartmentName)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.PositionTitle)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.PositionTitle)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.MobileNumber)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.MobileNumber)</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form">@Html.LabelFor(m => m.NationalityName)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="label-form">@Html.DisplayFor(m => m.NationalityName)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12 padding-0" style="margin-bottom: 0px;">
                        <table class="display table table-bordered table-striped" width="100%" data-toggle="table" data-cache="false" data-height="299">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Description</th>
                                    <th style="text-align:center">N/A</th>
                                    <th style="text-align:center">Yes</th>
                                    <th style="text-align:center;width:200px;">Amount (AED)</th>
                                    <th style="text-align:center">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ClearanceRequestOptionsModel)
                                {
                                    <tr>
                                        <td data-optionid="@item.ClearanceOptionID">@item.GroupName</td>
                                        <td><span class="required-field">*</span> @item.ClearanceOptionName_1</td>
                                        <td style="text-align:center">
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="NAClass" onclick="ChangeOptionAction(this,1)" @(item.IsExistInGroup? "" : "disabled" )/></label>
                                            </div>
                                        </td>
                                        <td style="text-align:center">
                                            <div class="checkbox">
                                                <label><input class="YNClass" type="checkbox" onclick="ChangeOptionAction(this,2)" @(item.IsExistInGroup? "" : "disabled" )/></label>
                                            </div>
                                        </td>
                                        <td style="text-align:center;"><input type="number" class="form-control DecimalOnly" value="" id="IdAmount_@item.ClearanceOptionID" @(item.IsExistInGroup? "" : "disabled" )/></td>
                                        <td style="text-align:center"><input type="text" class="form-control Remarks" @(item.IsExistInGroup? "" : "disabled" )/></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-sm-12 padding-0">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <label class="label-form" style="font-size:12px !important">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </label>
                                <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                            </legend>                         
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextArea("txtComments", new { @class = "form-control calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">
                        @if (Model.IsUserExistsInGroup)
                        {
                            <button type="button" title="Save Request" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                        }                         
                        <button type="button" title="Back To Task List" id="btnBack" onclick="BackToTaskList()" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/ClearanceRequest.js"></script>
}

<style>
    .ddlRating {
        width: 180px;
    }
</style>