﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.NocRequestModel

@{
    ViewBag.Title = "HRMS - NOC Request";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">NOC Request</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "NocRequestFrom" }))
{
    <div class="row">
        @Html.Hidden("hdnCompanyId",(object)ViewBag.CompanyId)
        <div class="col-sm-12">
            <div class="col-lg-offset-3 col-sm-6 padding-0 cursorPointer" style="display:none" id="warningMessage">
                <div id="NOCRequestWarningBox" class="alert alert-danger" role="alert">
                    <button id="btnNOCRequestWarningBoxClose" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span id="lblNOCRequestNotification"></span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-5 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-user"></span>
                            NOC Request
                        </h3>
                    </div>
                    <div class="col-sm-5"></div>
                    <div class="pull-right">
                        <button href="javascript:void(0);" title="Submit" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></button>
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-control legend-title-font"> Instructions: </span>
                            </legend>
                            <div class="form-group col-sm-12">
                                <label class="label-form col-sm-12">
                                    This form should be submitted at least two days before the required date.
                                </label>
                                <label class="label-form col-sm-12">
                                    Applicants on Free Zone Visa should apply two weeks in advance.
                                </label>
                            </div>
                        </fieldset>

                    </div>
                    <div class="row">
                        <fieldset class="fieldset-Section">

                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 11, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddMode = Model.IsAddMode, formProcessId = 0 }); }
                        </fieldset>
                    </div>
                    @*<div class="col-sm-12" style="margin-top: 15px;margin-bottom: 40px;">*@

                    @*</div>*@
                    <div class="row">
                        <fieldset class="fieldset-Section">

                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    NOC Request Details:
                                </span>

                            </legend>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.NOCReasonID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.NOCReasonID, (List<SelectListItem>)ViewBag.lstNOCRequestReason, "Select Noc Request Reason", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                            @Html.ValidationMessageFor(m => m.NOCReasonID)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.OtherReason)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @if (Model.NOCReasonID == 7)
                                            {
                                                @Html.TextBoxFor(m => m.OtherReason, new { @class = "form-control" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.OtherReason, new { @class = "form-control", @disabled = "disabled" })
                                            }
                                            @Html.ValidationMessageFor(m => m.OtherReason)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showddls">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span>Purpose of Visit</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.PurposeOfVisit, new List<SelectListItem>
                                            {
                                             new SelectListItem{Text="Personal", Value="1" },
                                             new SelectListItem{Text="Business Travel", Value="2"},
                                            }, " Select", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlPurposeOfVisit" })
                                            @Html.ValidationMessageFor(m => m.PurposeOfVisit)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> Travel Expense Borne By</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.TravelExpenseBorneBy, new List<SelectListItem>
                                            {
                                            new SelectListItem{Text="Company", Value="1" },
                                            new SelectListItem{Text="Employee ", Value="2 "},
                                            new SelectListItem{Text="Overseas Inviter", Value="3"},
                                            }, " Select", new { @class = "form-control selectpicker selectpickerddl", @id = "ddlTravelExpenseBorneBy" })
                                            @Html.ValidationMessageFor(m => m.TravelExpenseBorneBy)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="ApprovedBusinessTravelUploadFile">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4"> <label class="label-form"><span class="required-field">*</span> Approved Business Travel Form</label></div>
                                        @{
                                            var itemBT = Model.certificateRequest.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.ApprovedBusinessTravelFormId);
                                            if (itemBT != null && itemBT.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemBT.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_BT">@itemBT.FileName.Substring(0, 15)</span><div id="file_caption_id_BT"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_BT">@itemBT.FileName.ToString()</span><div id="file_caption_id_BT"></div>
                                                            }
                                                            <input type="hidden" value="@Model.ApprovedBusinessTravelFormId" id="hdnFileUpload_BT" />

                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_BT" onclick="RemoveDocument('BT', 'ApprovedBusinessTravelFormId')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_BT"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_BT"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_BT" class="PreviewName">
                                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.ApprovedBusinessTravelFormId);">@itemBT.FileName</a>
                                                        <input type="hidden" value="@Model.ApprovedBusinessTravelFormId" id="hdnFileUpload_BT" />
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_BT" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_BT" />
                                                    <input type="hidden" value="@Model.ApprovedBusinessTravelFormId" id="hdnFileUpload_BT" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_BT"></span><div id="file_caption_id_BT"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_BT" onclick="RemoveDocument('BT', 'ApprovedBusinessTravelFormId')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_BT"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_BT"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_BT" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_BT" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_BT" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_BT" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.CertificateAddressee)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.CertificateAddressee, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CertificateAddressee)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.CountryID)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CountryID, (SelectList)ViewBag.Country, "Select Country", new { @data_live_search = "true", @class = "form-control selectpickerddl" })
                                            @Html.ValidationMessageFor(m => m.CountryID)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.NOCLanguage)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.NOCLanguage, (List<SelectListItem>)ViewBag.NOCLanguage, "Select NOC Language", new { @class = "form-control selectpickerddl", @data_live_search = "true" })
                                            @Html.ValidationMessageFor(m => m.NOCLanguage)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form" for="FreeZoneVisa">@Html.LabelFor(m => m.FreeZoneVisa)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.FreeZoneVisa)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.RequiredDate)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control DOB", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.RequiredDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="label-form"><span class="required-field">*</span> @Html.LabelFor(m => m.DateOfTravel)</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <div class="input-group">
                                                    <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                                    @Html.TextBoxFor(m => m.DateOfTravel, new { @class = "form-control DOB", required = "required" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.DateOfTravel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4"> <label class="label-form"><span class="required-field">*</span> @Html.DisplayNameFor(m => m.certificateRequest.PassportFileID)</label></div>
                                        @{
                                            var itemPF = Model.certificateRequest.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.certificateRequest.PassportFileID);
                                            if (itemPF != null && itemPF.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemPF.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_PF">@itemPF.FileName.Substring(0, 15)</span><div id="file_caption_id_PF"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_PF">@itemPF.FileName.ToString()</span><div id="file_caption_id_PF"></div>
                                                            }
                                                            <input type="hidden" value="@Model.certificateRequest.PassportFileID" id="hdnFileUpload_PF" />

                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_PF" onclick="RemoveDocument('PF', 'PassportFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_PF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_PF"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_PF" class="PreviewName">
                                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.certificateRequest.PassportFileID);">@itemPF.FileName</a>
                                                        <input type="hidden" value="@Model.certificateRequest.PassportFileID" id="hdnFileUpload_PF" />
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_PF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_PF" />
                                                    <input type="hidden" value="@Model.certificateRequest.PassportFileID" id="hdnFileUpload_PF" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_PF"></span><div id="file_caption_id_PF"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_PF" onclick="RemoveDocument('PF', 'PassportFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_PF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_PF"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_PF" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_PF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_PF" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_PF" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4"> <label class="label-form"><span class="required-field">*</span> @Html.DisplayNameFor(m => m.certificateRequest.VisaFileID)</label></div>
                                        @{
                                            var itemVF = Model.certificateRequest.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.certificateRequest.VisaFileID);
                                            if (itemVF != null && itemVF.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemVF.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_VF">@itemVF.FileName.Substring(0, 15)</span><div id="file_caption_id_VF"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_VF">@itemVF.FileName.ToString()</span><div id="file_caption_id_VF"></div>
                                                            }
                                                            <input type="hidden" value="@Model.certificateRequest.VisaFileID" id="hdnFileUpload_VF" />

                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_VF" onclick="RemoveDocument('VF', 'VisaFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_VF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_VF"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_VF" class="PreviewName">
                                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview('CertificateRequestForm',@Model.certificateRequest.VisaFileID);">@itemVF.FileName</a>
                                                        <input type="hidden" value="@Model.certificateRequest.VisaFileID" id="hdnFileUpload_VF" />
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_VF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_VF" />
                                                    <input type="hidden" value="@Model.certificateRequest.VisaFileID" id="hdnFileUpload_VF" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_VF"></span><div id="file_caption_id_VF"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_VF" onclick="RemoveDocument('VF', 'VisaFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_VF"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_VF"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_VF" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_VF" class="field-validation-error" style="margin-top: 3px;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_VF" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_VF" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>




                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Salary Details:
                                </span>

                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextAreaFor(x => x.SalaryDetail, new { @class = "form-control", @id = "salaryDetail" })</div>
                                <div class="col-sm-12">@Html.ValidationMessageFor(m => m.SalaryDetail)</div>
                            </div>
                          
                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester/Approver Comments:
                                </span>
                                <span id="lblCharsLeft_txtComments" class="label-form legend-title-font"> </span>

                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">@Html.TextArea("txtComments", new { @class = "form-control calculatecharsleft", @maxlength = 2000, @id = "txtComments" })</div>
                            </div>
                        </fieldset>

                        @*</div>
                </div>
            </div>*@
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">
                        <button type="button" title="Submit" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit </button>
                        <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/FormsCommon.js"></script>
    <script src="~/Scripts/Custom/Forms/NocRequest.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
}
