﻿@model HRMS.Entities.EmployeeDetailsModel

<style>
    .file-preview-frame {
        text-align: center;
        margin: 0px 0px 0px 124px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body form-horizontal">
        <div class="form-group col-sm-12">
            <div class="col-sm-12 text-right">
                <span class="required-field">*</span>&nbsp;Indicate required fields
            </div>
        </div>
        <div class="col-sm-12 ">
            @Html.HiddenFor(m => m.EmployeeID)
            <div class="col-sm-2 padding-0">

            </div>
            <div class="form-group col-md-10" style="display:none;" id="previewL">
                <div class="file-input">
                    <div class="file-preview">
                        <div class="close fileinput-remove text-right" onclick="ClosePriview()">×</div>
                        <div class="file-preview-thumbnails">
                            <div class="file-preview-frame" id="preview-1528347699027-0">
                                <img src="" id="LlogoId" class="file-preview-image" style="width:auto;height:160px;">
                            </div>
                        </div>
                        <div class="clearfix"></div>   <div class="file-preview-status text-center text-success"></div>
                    </div>
                </div>
                <span id="LargeLogoSuceessID" class="text-success"></span>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-2 padding-0">
                    <label class="label-form">
                        <span class="required-field">*</span> Select Photo:
                    </label>
                </div>
                <div class="col-sm-10 padding-0">
                    <div class="input-group">
                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name"></span><div id="file_caption_id"></div>
                        </div>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="RemoveL" onclick="ClosePriview()">
                                <i class="glyphicon glyphicon-ban-circle"></i> Remove
                            </button>
                            <div class="btn btn-primary btn-file">
                                <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse …
                                <input type="file" multiple="" class="file" data-preview-file-type="any" id="ProfilePictureId" data-mode="profile"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" onclick="SubmitButtonOnclick();" class="btn btn-primary pull-right" value="Save">
        <input type="button" value="Cancel" onclick="DeleteLogo()" class="btn btn-primary pull-left" data-dismiss="modal" />
    </div>
</div>

<script>

    $(document).on('change', '#ProfilePictureId', function () {
        var tmppath = window.URL.createObjectURL(event.target.files[0]);
        var file_name = event.target.files[0].name;
        var fileName = ""
        var fileExtention = file_name.split('.')[1];
        if ((fileExtention.toLowerCase() == "png") || (fileExtention.toLowerCase() == "jpg") || (fileExtention.toLowerCase() == "jpeg") || (fileExtention.toLowerCase() == "gif")) {
            if (file_name.indexOf("(") >= 0) {
                fileName = file_name.split('(')[0];
            }
            else {
                fileName = file_name.split('.')[0];
            }
            GetImageCropper(tmppath, "LargeLogo", fileName, fileExtention);
        }
        else {
            ShowMessage("error", "Only jpg, jpeg, png, gif file format allow.");
        }
        $("#ProfilePictureId").val(null);
    });

    function GetImageCropper(id, chkImageFor, fileName, fileExtention) {
        var imageCropperUrl = "/Employee/GetImageCropper?id=" + id + "&chkImageFor=" + chkImageFor + "&fileName=" + fileName + "&fileExtention=" + fileExtention;
       $("#modal_Loader").load(imageCropperUrl, function (response, status, xhr) {
            if (status == "success") {
                bindSelectpicker('.selectpickerddl');
                $("#myModal").modal("show");
                $("#modal_heading").text('Crop Image');
                $(".modal-dialog").attr("style", "width:800px;");
            }
        });
    }

    function SubmitButtonOnclick() {
        var selectedFile = $("#file_caption_id").html();
        var EmployeeId = $('#EmployeeID').val();
        var base64String = $("#LlogoId").attr('src');
        if (selectedFile == "") {
            ShowMessage("error", "Please browse the logo.");
        }
        else {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                data: { base64String: base64String, EmployeeId: EmployeeId },
                url: '/ViewEmployeeProfile/UploadProfileImage',
                success: function (data) {
                    $("#myModal3").modal("hide");
                    ShowMessage("success", data.message);
                    location.reload();
                },
                error: function (data) { }
            });
        }
    }

    function ClosePriview() {
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/GeneralControl/DeleteImage',
            success: function (data) {
                $("#previewL").hide();
                $("#RemoveL").hide();
                $("#file_caption_name").hide();
                $("#file_caption_id").html('');
            },
            error: function (data) { }
        });
    }

    function DeleteLogo() {
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/GeneralControl/DeleteImage',
            success: function (data) {
                $("#myModal3").modal("hide");
            },
            error: function (data) { }
        });
    }

    function UploadComplete(evt, result) {
        if (evt.target.statusText == "true") {
            $("#myModal").modal("hide");
            ShowMessage("success", "Profile image uploaded successfully");
            setTimeout(function () { location.reload(); }, 1500)
        }
        else {
            $("#myModal").modal("hide");
            ShowMessage("error", "Technical error has occurred");
        }
    }

</script>
