﻿@model HRMS.Entities.EmployeeAddressInfoModel

<table border="1" class="display table table-bordered table-striped">
     
    <tr>
        <td>@Html.LabelFor(m => m.ApartmentNo)</td>
        <td>@Html.DisplayFor(m => m.ApartmentNo)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AddressLine)</td>
        <td>@Html.DisplayFor(m => m.AddressLine)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AddressLine1_2)</td>
        <td>@Html.DisplayFor(m => m.AddressLine1_2)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AddressLine1_3)</td>
        <td>@Html.DisplayFor(m => m.AddressLine1_3)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AddressLine2)</td>
        <td>@Html.DisplayFor(m => m.AddressLine2)</td>
    </tr>
    
    <tr>
        <td>@Html.LabelFor(m => m.AddressLine2_2)</td>
        <td>@Html.DisplayFor(m => m.AddressLine2_2)</td>
    </tr>
   
    <tr>
        <td>@Html.LabelFor(m => m.AddressLine2_3)</td>
        <td>@Html.DisplayFor(m => m.AddressLine2_3)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Street)</td>
        <td>@Html.DisplayFor(m => m.Street)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PoBox)</td>
        <td>@Html.DisplayFor(m => m.PoBox)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.CountryID)</td>
        <td>@Html.DisplayFor(m => m.CountryName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.StateID)</td>
        <td>@Html.DisplayFor(m => m.StateName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.CityID)</td>
        <td>@Html.DisplayFor(m => m.CityName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AreaId)</td>
        <td>@Html.DisplayFor(m => m.AreaName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PostCode)</td>
        <td>@Html.DisplayFor(m => m.PostCode)</td>
    </tr>
</table>