﻿@model HRMS.Entities.PayDirectDepositModel

<table border="1" class="display table table-bordered table-striped">
    <tr style="display:none">
        <td>@Html.LabelFor(m => m.DirectDepositID)</td>
        <td>@Html.DisplayFor(m => m.DirectDepositID)</td>
    </tr>
    <tr style="display:none">
        <td>@Html.LabelFor(m => m.BankID)</td>
        <td>@Html.DisplayFor(m => m.BankID)</td>
    </tr>
    <tr style="display:none">
        <td>@Html.LabelFor(m => m.AccountTypeID)</td>
        <td>@Html.DisplayFor(m => m.AccountTypeID)</td>
    </tr>
    <tr>
        <td><label> Account Number </label>  </td>
        <td>@Html.DisplayFor(m => m.AccountNumber)</td>
    </tr>
    <tr style="display:none">
        <td>@Html.LabelFor(m => m.CategoryID)</td>
        <td>@Html.DisplayFor(m => m.CategoryID)</td>
    </tr>
    <tr style="display:none">
        <td>@Html.LabelFor(m => m.BranchID)</td>
        <td>@Html.DisplayFor(m => m.BranchID)</td>
    </tr>
    <tr>
        <td><label> Amount Blocked </label> </td>
        <td>@Html.DisplayFor(m => m.AmountBlocked)</td>
    </tr>
    <tr>
        <td><label> Account  Date </label> </td>
        <td>@Html.DisplayFor(m => m.AccountDate)</td>
    </tr>

    <tr>
        <td><label> Cancellation Date </label></td>
        <td>@Html.DisplayFor(m => m.CancellationDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Active)</td>
        <td>@Html.CheckBoxFor(m => m.Active, new { disabled = "disabled" })</td>
    </tr>
    <tr>
        <td><label> First Salary Blocked </label></td>
        <td>@Html.CheckBoxFor(m => m.FirstSalaryBlocked, new { disabled = "disabled" })</td>
    </tr>

    <tr>
        <td><label> Bank Name </label></td>
        <td>@Html.DisplayFor(m => m.payBankModel.BankName_1)</td>
    </tr>
    <tr>
        <td><label> Branch Name </label></td>
        <td>@Html.DisplayFor(m => m.payBankBranchModel.BranchName_1)</td>
    </tr>
    <tr>
        <td><label> Account Type </label></td>
        <td>@Html.DisplayFor(m => m.payAccountTypesModel.AccountTypeName_1)</td>
    </tr>
    <tr>
        <td><label> Category </label></td>
        <td>@Html.DisplayFor(m => m.payCategoriesModel.CategoryName_1)</td>

        
    </tr>
</table>




