﻿@model List<HRMS.Entities.ChildrenDetails>
@{
    HRMS.Entities.PermissionModel objEmpPermissionModel = new HRMS.Entities.PermissionModel();
    objEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["EmployeePermission"];
    HRMS.Entities.PermissionModel objViewEmpPermissionModel = new HRMS.Entities.PermissionModel();
    objViewEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["ViewEmployeeProfilePermission"];
    bool IsEmployeePageRequest = (bool)Session["IsEmployeePageRequest"];
}

<div class="list-group list-group-contacts border-bottom">
    @if (Model.Count == 0)
    {
        <div href="#" class="list-group-item col-md-12">
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-6 padding-0">
                    </div>
                    <div class="col-md-6">

                        <div class="control-label alinMiddle">
                            <label>
                                No Children Found!
                            </label>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div href="#" class="list-group-item col-md-12">
                @*<div class="col-md-2">
                        <div class="list-group-status status-online"></div>
                        <div class="profile-image">
                            <img src="~/Content/assets/img/user3.jpg" class="pull-left" alt="Profle Pic">
                        </div>

                    </div>*@
                <div class="col-md-10">
                    <div class="col-md-12 margin_bottom">
                        <div class="col-md-8 padding-0">
                            <label style="font-size: 13px;">Student Id: @item.AlternativeID </label>
                        </div>
                        @if (IsEmployeePageRequest && objEmpPermissionModel.IsMainNavigationPermission && !(objViewEmpPermissionModel.IsViewOnlyPermission))
                        {
                            <div class="col-md-4">
                                <label>
                                    Add To Dependant:
                                    <input type="checkbox" style="margin-top:4px;margin-left:14px;" @(item.IsAddedtoDependent == true ? "checked" : "" ) id="chkAddedtoDependent" onchange="AddChildrenToDependant(this,@item.StudentID)" />
                                </label>
                            </div>
                        }
                    </div>
                    <div class="col-md-12 padding-0">
                        <div class="col-md-8">
                            <span class="contacts-title">@item.NameAsInPassport_1</span>
                        </div>

                        @*<div class="col-md-4 padding-0">

                                <label class="label-form">
                                    Add To Dependant:
                                    @if (item.IsAddedtoDependent)
                                    {
                                    <input type="checkbox" style="margin-top:0px;margin-left:14px;" checked id="chkAddedtoDependent" onchange="AddChildrenToDependant(this,@item.StudentID)" />
                                    }
                                    else
                                    {
                                    <input type="checkbox" style="margin-top:0px;margin-left:14px;" id="chkAddedtoDependent" onchange="AddChildrenToDependant(this,@item.StudentID)" />
                                    }

                                </label>

                            </div>*@
                    </div>

                    <div class="col-md-4">
                        <p>Gender: @item.GenderName_1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Date Of Birth: @item.BirthDate2</p>
                    </div>
                    <div class="col-md-4">
                        <p>Grade: @item.GradeName_1 @item.SectionName_1</p>
                    </div>



                </div>
            </div>
        }
    }
</div>








