﻿@model List<HRMS.Entities.EmployeeDependantModel>
@{
    HRMS.Entities.PermissionModel objEmpPermissionModel = new HRMS.Entities.PermissionModel();
    objEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["EmployeePermission"];
    bool IsEmployeePageRequest = (bool)Session["IsEmployeePageRequest"];
    List<HRMS.Entities.General.OtherPermissions> otherPermissions = (List<HRMS.Entities.General.OtherPermissions>)Session["otherPermissions"];
    bool canAddEmployee = otherPermissions.Where(x => x.OtherPermissionId == 23).Count() > 0 ? true : false;
    bool canEditEmployee = otherPermissions.Where(x => x.OtherPermissionId == 24).Count() > 0 ? true : false;
    HRMS.Entities.PermissionModel objViewEmpPermissionModel = new HRMS.Entities.PermissionModel();
    objViewEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["ViewEmployeeProfilePermission"];
    var LoginUserId = ViewBag.UserId;
    int employeeId = 0;
    if (Session["EmployeeListID"] != null && int.TryParse(Session["EmployeeListID"].ToString(), out employeeId))
    {
        
    }
}

<table border="1" class="display table table-bordered table-striped">
    <thead>
        <tr>
            <th class="hidden">DependantId</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Relation</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (HRMS.Entities.EmployeeDependantModel item in Model)
        {
            <tr id="@item.DependantId">
                <td class="hidden">@item.DependantId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.RelationshipName</td>
                <td>@item.CountryName</td>
                <td>
                    <a class="btn btn-default btn-rounded btn-condensed btn-sm" onclick="ViewDependentDetails(@item.DependantId)" title="View Details"><i class="fa fa-eye "></i></a>
                    @if ((IsEmployeePageRequest && objEmpPermissionModel.IsMainNavigationPermission)
          || (!IsEmployeePageRequest && !objViewEmpPermissionModel.IsViewOnlyPermission && employeeId == LoginUserId))
                    {
                        <a class="btn btn-success btn-rounded btn-condensed btn-sm" onclick="EditDependent(@item.DependantId)" title="Edit"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-rounded btn-condensed btn-sm" onclick="DeleteEmployeeDependant(@item.DependantId)" title="Delete"><i class="fa fa-times"></i> </a>
                    }
                </td>
            </tr>
        }
    }
</table>



