﻿@model HRMS.Entities.EmployeeDetailsModel

<table border="1" class="display table table-bordered table-striped">
    <tr>
        <td><label class="label-form">Organization Name: </label></td>
        <td>@Html.DisplayFor(m => m.CompanyName)</td>
    </tr>
    <tr>
        <td><label class="label-form">Employee ID: </label></td>
        <td>@Html.DisplayFor(m => m.EmployeeAlternativeID)</td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.FirstName_1)
        </td>
        <td>
            @*@Html.DisplayFor(m => m.NameTitle)*@
            @Html.DisplayFor(m => m.FirstName_1)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SurName_1)
        <td>@Html.DisplayFor(m => m.SurName_1)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.MiddleName_1)
        <td>@Html.DisplayFor(m => m.MiddleName_1)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BirthDate)
        <td>@Html.DisplayFor(m => m.BirthDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.GenderID)
        <td>
            @Html.DisplayFor(m => m.GenderName)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.NationalityID)
        <td>
            @Html.DisplayFor(m => m.NationalityID)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.MaritalStatusID)
        <td>
            @Html.DisplayFor(m => m.MaritalStatusName)
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;">@Html.LabelFor(m => m.HomeLanguageID)
        <td>
            <table class="tableSpokenLanguages">
                @{
                    foreach (HRMS.Entities.SpokenLanguages item in Model.SpokenLanguages) 
                    {
                        <tr>
                            <td><label for="@item.LanguageName" name="@item.LanguageName">@(item.LanguageName)</label></td>
                            <td>@item.DisplayLanguages</td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>



</table>