﻿@model List<HRMS.Entities.EmployeeCoursedepartment>

<table id="tblCourseDepartment" border="1"  class="display table table-bordered table-striped">
    <thead>
        <tr>            
            <th>Course Name</th>
            <th>Course Department Name</th>      
            <th>Grade Name</th>            
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (HRMS.Entities.EmployeeCoursedepartment item in Model)
        {
            <tr>               
                <td>@item.CourseName_1</td>
                <td>@item.CourseDepartmentName_1</td>
                <td>@item.GradeNameEn</td>
            </tr>
        }
    }

</table>
