﻿@model List<HRMS.Entities.InternalEmploymentModel>

<table id="tblInternalemployment" border="1" class="display table table-bordered table-striped">
    <thead>
        <tr>
            <th class="hidden">InternalEmploymentID</th>
            <th>Position</th>
            <th>Department</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (HRMS.Entities.InternalEmploymentModel item in Model)
        {
            <tr id="@item.InternalEmploymentID">
                <td class="hidden">@item.InternalEmploymentID</td>
                <td>@item.PositionName</td>
                <td>@item.DepartmentName</td>
                <td>@item.LocationName</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Comments</td>
            </tr>
        }
    }

</table>

