﻿@model HRMS.Entities.EmployeeContactModel
@{
    var i = 1;
    var j = 1;
    var k = 1;
}

<table border="1" class="display table table-bordered table-striped">
    <tr>
        <td style="vertical-align:top;"><label for="Email" name="Email">Emails:</label></td>
        <td style="padding: 0px;">
            <table style="width: 100%; margin-bottom: 0px;">
                @foreach (var item in Model.EmployeeMultipleEmails)
                {
                    <tr>
                        <td style=" @string.Format("width:30%;padding-left:8px;padding-bottom:5px; border-right:2px dotted #ddd; {0}",i!=Model.EmployeeMultipleEmails.Count() ? "border-bottom:2px dotted #ddd;" : "" ) ">
                            <label for="@item.EmailTypeName" name="@item.EmailTypeName">@(item.EmailTypeName)</label>
                        </td>
                        <td style="@string.Format("width:70%;padding-bottom:5px;  {0}",i!=Model.EmployeeMultipleEmails.Count() ? "border-bottom:2px dotted #ddd;" : "" )">&nbsp; @item.EmailName</td>
                    </tr>
                    i++;
                }
            </table>
        </td>
    </tr>

    <tr>
        <td style="vertical-align: top;"><label for="IM" name="IM">IM Contact:</label></td>
        <td style="padding: 0px;">
            <table style="width:100%;margin-bottom:0px;">
                @foreach (var item in Model.EmployeeMultipleIMs)
                {
                    <tr>
                        <td style="width:30%;padding-left:8px;padding-bottom:5px;padding-top:5px; border-right:2px dotted #ddd;">
                            <label for="@item.IMTypeName" name="@item.IMTypeName">@(item.IMTypeName)</label>
                        </td>
                        <td style="width:70%;padding-bottom:5px;padding-top:5px;">&nbsp; @item.IMName</td>
                    </tr>
                }
            </table>
        </td>
    </tr>

    <tr>
        <td style="vertical-align:top;"><label for="Phone" name="Phone">Phone Numbers:</label></td>
        <td style="padding: 0px;">
            <table style="width:100%;margin-bottom:0px;">
                @foreach (var item in Model.EmployeeMultipleContacts)
                {

                    <tr>
                        <td style=" @string.Format("width:30%;padding-left:8px;padding-bottom:5px; border-right:2px dotted #ddd; {0}",j!=Model.EmployeeMultipleContacts.Count() ? "border-bottom:2px dotted #ddd;" : "" ) ">
                            <label for="@item.ContactTypeName" name="@item.ContactTypeName">@(item.ContactTypeName)</label>
                        </td>
                        <td style="@string.Format("width:70%;padding-bottom:5px; {0}",j!=Model.EmployeeMultipleContacts.Count() ? "border-bottom:2px dotted #ddd;" : "" )">&nbsp; @item.Contact</td>
                    </tr>
                    j++;
                }
            </table>
        </td>
    </tr>
</table>
