﻿@model List<HRMS.Entities.PastEmploymentModel>

<table id="tblPastEmployment" border="1"  class="display table table-bordered table-striped">
    <thead>
        <tr>
            <th class="hidden">PastEmploymentID</th>
            <th>Company</th>
            <th>Department</th>
            <th>Position</th>            
            <th>Role</th>
            <th>References</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (HRMS.Entities.PastEmploymentModel item in Model)
        {
            <tr id="@item.PastEmploymentID">
                <td class="hidden">@item.PastEmploymentID</td>
                <td>@item.CompanyName</td>
                <td>@item.Department</td>
                <td>@item.Position</td>                
                <td>@item.Role</td>
                <td>@item.EmpReferences</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Comments</td>
                
            </tr>
        }
    }

</table>

