﻿@model HRMS.Entities.EmploymentInformation

<table border="1" class="display table table-bordered table-striped">
   
    <tr>
        <td>@Html.LabelFor(m => m.DepartmentID)</td>
        <td>@Html.DisplayFor(m => m.DepartmentName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PositionID)</td>
        <td>@Html.DisplayFor(m => m.PositionName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SuperviserID)</td>
        <td>@Html.DisplayFor(m => m.SupervisorName)</td>
    </tr>  
    <tr>
        <td>@Html.LabelFor(m => m.HireDate)</td>
        <td>@Html.DisplayFor(m => m.HireDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ResignationDate)</td>
        <td>@Html.DisplayFor(m => m.ResignationDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.EmployeeContractTerms)</td>
        <td>@Html.DisplayFor(m => m.EmployeeContractTerms)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.NoticePeriod)</td>
        <td>@Html.DisplayFor(m => m.NoticePeriod)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.EmployementMode)</td>
        <td>@Html.DisplayFor(m => m.EmploymentModeName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.JobTitleID)</td>
        <td>@Html.DisplayFor(m => m.JobTitleName)</td>
    </tr>   
    <tr>
        <td>@Html.LabelFor(m => m.isOverseasrecruited)</td>
        <td>@(Model.isOverseasrecruited==true?"Yes":"No")</td>
    </tr>
</table>