﻿@model HRMS.Entities.Employee
@{
    ViewBag.Title = "HRMS - Employee List > Employee Profile";
    HRMS.Entities.PermissionModel permissionModel = (HRMS.Entities.PermissionModel)Session["BankPermission"];
    bool PersonalIdentityPermission = (bool)Session["PersonalIdentityPermission"];
    HRMS.Entities.PermissionModel ObjEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["EmployeePermission"];
    bool IsEmployeePageRequest = (bool)Session["IsEmployeePageRequest"];
    HRMS.Entities.PermissionModel objViewEmpPermissionModel = new HRMS.Entities.PermissionModel();
    objViewEmpPermissionModel = (HRMS.Entities.PermissionModel)Session["ViewEmployeeProfilePermission"];
    var LoginUserId = ViewBag.UserId;
    bool isWithEmpPermission = false;
    if ((IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission)
        || (!IsEmployeePageRequest && !objViewEmpPermissionModel.IsViewOnlyPermission && Model.employeeDetailsModel.EmployeeID == LoginUserId))
    {
        isWithEmpPermission = true;
    }
}
@Html.HiddenFor(m => m.employeeDetailsModel.EmployeeID, new { @id = "hdnEmployeeId" })


@section Breadcrumb
        {
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        @if (IsEmployeePageRequest)
        {
            <li><a href="/Employee/ListEmployee">Employee List</a></li>
            <li class="active">Employee Profile</li>
        }
        else
        {
            <li class="active">My Profile</li>
        }
    </ul>
}

@*<input type="checkbox" class="hidden" id="isWithEmpPermission" @(IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission == true && !(objViewEmpPermissionModel.IsViewOnlyPermission) ? "checked" : "") />*@
<input type="checkbox" class="hidden" id="isWithEmpPermission" @(isWithEmpPermission ? "checked" : "") />
<div class="page-content-wrap viewProfile">
    <div class="row">
        <div class="col-md-3">
            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="form-group">
                        <div class="col-md-12">
                            @{ Html.RenderPartial("_ViewProfileDetails", Model);}
                        </div>
                    </div>
                    <div class="panel-body  form-group-separated" style="background-color: white;">
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <h3><span class="fa fa-user"></span>  Account Information</h3>

                                @{ Html.RenderPartial("_ViewAccountDetails", Model.employeeAccountInfoModel);}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <div class="panel panel-default tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#PersonalInformation" data-toggle="tab">Personal Information</a></li>
                            @if (PersonalIdentityPermission)
                            {
                                <li><a href="#PersonalIdentity" data-toggle="tab">Personal Identity</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane panel-body active padding-bottom-0 EmpInfoDiv" id="PersonalInformation">
                                @{ Html.RenderPartial("_ViewPersonalDetails", Model.employeeDetailsModel);}
                            </div>
                            @if (PersonalIdentityPermission)
                            {
                                <div class="tab-pane panel-body EmpInfoDiv" id="PersonalIdentity">
                                    @{ Html.RenderPartial("_ViewPersonalIdentityDetails", Model.employeePersonalIdentityInfoModel);}
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#AddressInformation" data-toggle="tab">Address Information</a></li>
                            @if (permissionModel.IsViewOnlyPermission)
                            {
                                <li><a href="#BankDetails" data-toggle="tab">Bank Details</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane panel-body active EmpInfoDiv" id="AddressInformation">
                                @{ Html.RenderPartial("_ViewAddressDetails", Model.employeeAddressInfoModel);}
                            </div>
                            @if (permissionModel.IsViewOnlyPermission)
                            {
                                <div class="tab-pane panel-body EmpInfoDiv" id="BankDetails">
                                    @{ Html.RenderPartial("_ViewBankDetails", Model.payDirectDepositModel);}
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <div class="panel panel-default tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#ContactInformation" data-toggle="tab">Contact Information</a></li>
                            <li><a href="#DependentInformation" data-toggle="tab">Dependent Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane panel-body active EmpInfoDiv" id="ContactInformation">
                                @{ Html.RenderPartial("_ViewContactDetails", Model.employeeContactModel);}
                            </div>

                            <div class="tab-pane panel-body EmpInfoDiv" id="DependentInformation" style="overflow:auto;">
                                <div style="overflow:auto;">
                                    @{ Html.RenderPartial("_ViewDependentDetails", Model.employeeDependentModel);}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#EmploymentInformation" data-toggle="tab">Employment Information</a></li>
                            <li><a href="#CourseDepartmentInfo" data-toggle="tab">Assigned Courses</a></li>
                        </ul>
                        <div class="tab-content EmpInfoDiv">
                            <div class="tab-pane panel-body active" id="EmploymentInformation">
                                @{ Html.RenderPartial("_ViewEmploymentDetails", Model.employmentInformation);}
                            </div>
                            <div class="tab-pane panel-body" id="CourseDepartmentInfo" style="overflow:auto;">
                                <div style="overflow:auto;">
                                    @{ Html.RenderPartial("_ViewEmployeeCourseDepartment", Model.lstEmpCourseDepartment);}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default tabs">
                <ul class="nav nav-tabs TabEmployee">
                    <li class="active listTab"><a href="#tab1" data-toggle="tab" aria-expanded="false">Internal Employment</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="true">Past Employments</a></li>
                    @*<li class=""><a href="#tab3" data-toggle="tab" aria-expanded="false">Children</a></li>*@
                </ul>

                <div class="tab-content">
                    <div class="tab-pane panel-body active divOverFlow" id="tab1">
                        @*@{ Html.RenderPartial("_ViewInternalEmploymentDetails", Model.employeeInternalEmploymentModel);}*@
                        @if (IsEmployeePageRequest && ObjEmpPermissionModel.IsMainNavigationPermission && !(objViewEmpPermissionModel.IsViewOnlyPermission))
                        {
                            <div id="exportIconInternalEmployment" class="col-sm-12 padding-0 margin_bottom">
                            </div>
                        }
                        <table class="table table-bordered table-striped" id="tbl_InternalEmploymentTable"></table>
                    </div>
                    <div class="tab-pane panel-body divOverFlow" id="tab2">
                        <table class="table table-bordered table-striped" id="tbl_PastEmploymentTable"></table>
                        @*@{ Html.RenderPartial("_ViewPastEmployments", Model.employeePastEmploymentModel);}*@
                    </div>
                    @*<div class="tab-pane panel-body divOverFlow" id="tab3">
                            @{ Html.RenderPartial("_ViewChildrenDetails", Model.childrenList);}
                        </div>*@
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">




</script>


@section scripts
{
    <script src="~/Scripts/Custom/Employee.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var divInternalEmploymentContent = getExportIcon("1", "ExportToExcelInternalEmployee()", "ExportToPdfInternalEmployee()", "ExportToWordInternalEmployee()") + "<div class='pull-right' style='margin-right:30px; margin-top:3px;' ><label class='label-text' style='line-height: normal'><input type='checkbox' id='addCurrentPosition' />&nbsp;&nbsp;Add Current Position In Export</label></div>";
            $("#exportIconInternalEmployment").html(divInternalEmploymentContent)
        });
    </script>
}



