﻿@model HRMS.Entities.Forms.CompanyBasedHierarchyModel
@{
    ViewBag.Title = "HRMS - Organization Based Hierarchy";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Organization Based Hierarchy</li>
    </ul>
}
<div class="row">
    <div class="col-sm-12">
        <div id="ddlEmployee" class="hidden">
            @ViewBag.Employee
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-4">
                    <h4 class="panel-title">
                        <i class="glyphicon glyphicon-retweet" aria-hidden="true"></i>
                        Organization Based Hierarchy
                    </h4>
                </div>
                <div class="col-sm-5">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-sm-3 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" onclick="EditAll();" title="Edit All" id="btn_addHoliday" class="btnadd"><span class="fa fa-pencil"></span></a>
                            <a href="javascript:void(0);" onclick="SaveAll(this)" title="Save All" id="btn_addHoliday" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                            <a href="javascript:void(0);" onclick="RefreshAll()" title="Refresh All" id="btn_addHoliday" class="btnadd"><span class="fa fa-refresh"></span></a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="panel-body form-horizontal">
                <div class="row" id="">
                    <div class="col-sm-10 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, " Select Organization Name  ", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompany" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Approver Group:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.GroupID, (SelectList)ViewBag.Group, " Select Approver Group ", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlGroup" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 padding-0">

                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="GetData(1)">
                        </div>
                        <div id="exportIcon" class="col-sm-4 padding-0 margin_bottom margin-right"></div>
                    </div>
                </div>

            </div>
            <div class="row padding-0">

                <hr>
                <div class="form-horizontal innerdiv">
                    <div class="col-sm-12" id="divContent">
                        <table id="tblCompanyList" class="display table table-bordered table-striped" width="100%"></table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/Custom/Forms/CompanyHeirarchy.js"></script>
}
