﻿@using HRMS.Entities.Forms
@model HRMS.Entities.Forms.R1UnBudgetedReplacementModel
@{
    ViewBag.Title = "HRMS - Hiring R1 UnBudgeted Replacement";  
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Hiring R1 UnBudgeted Replacement</li>
    </ul>
}

<style>
    .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
        display: block;
    }

    .commentsdiv {
        padding-top: 2px;
        height: 150px;
        overflow-y: scroll;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmHiringR1Replacement" }))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                @Html.Hidden("hdnFormProcessID", (object)ViewBag.FormProcessID, new { @id = "hdnFormProcessID" })
                @Html.Hidden("hdnR1ReplacementID", (object)ViewBag.hdnR1ReplacementID, new { @id = "hdnR1ReplacementID" })
                @Html.Hidden("hdnRequestInitialize", (object)ViewBag.RequestInitialize, new { @id = "hdnRequestInitialize" })
                @Html.Hidden("hdnSalaryRangesID", (object)ViewBag.SalaryRangesID, new { @id = "hdnSalaryRangesID" })
                @Html.Hidden("hdnReqStatusID", Model.ReqStatusID, new { @id = "hdnReqStatusID" })
                @Html.Hidden("hdnRequesterEmployeeID", Model.RequesterEmployeeID, new { @id = "hdnRequesterEmployeeID" })
                @Html.Hidden("hdnMaximumSalary", 0, new { @id = "hdnMaximumSalary" })
                @Html.HiddenFor(m => m.JobDescriptionFileID, new { @id = "hdnJobDescriptionFileID" })
                @Html.HiddenFor(m => m.OrgChartFileID, new { @id = "hdnOrgChartFileID" })
                @Html.HiddenFor(m => m.ManPowerFileID, new { @id = "hdnManPowerFileID" })
                @Html.HiddenFor(m => m.IsReplacementRecord)
                @Html.HiddenFor(m => m.ID, new { @id = "hdnReplacementID" })
                @Html.Hidden("hdnSalaryRanges", Model.SalaryRanges, new { @id = "hdnSalaryRanges" })              
                <div class="panel-heading">
                    <div class="col-sm-8 padding-0">
                        <h3 class="panel-title">
                            <span class="fa fa-cubes"></span>
                            Hiring R1 UnBudgeted Replacement
                            @if (ViewBag.RequestID != null && ViewBag.RequestID != '0')
                            {
                                <span>(Request ID : @ViewBag.RequestID)</span>
                            }
                        </h3>
                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="pull-right">
                        @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <a href="javascript:void(0);" title="Re-Submit Request" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" title="Submit Request" id="btnSave" class="btn btn-primary btn-rounded btn-condensed btn-sm btnSave"><i class="fa fa-floppy-o"></i></a>
                        }
                        <a href="javascript:void(0);" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <fieldset class="fieldset-Section">

                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Requester Details:
                                </span>

                            </legend>
                            @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 29, requestDate = Model.CreatedOn, employeeID = Model.RequesterEmployeeID, isAddmode = false, formProcessId = (object)ViewBag.FormProcessID }); }
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="fieldset-Section">

                            <legend class="legend-border">
                                <span class="label-form legend-title-font">
                                    Hiring Details:
                                </span>

                            </legend>
                            <div class="col-sm-12">
                                <div class="col-sm-6">

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ReplacedEmployeeID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ReplacedEmployeeID, (SelectList)ViewBag.employeeList, " Select Replace Employee", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee" })
                                            @Html.ValidationMessageFor(m => m.ReplacedEmployeeID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.CompanyID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.Company, " Select Company", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlCompanyList" })
                                            @Html.ValidationMessageFor(m => m.CompanyID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AcademicYearID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.AcademicYearID, (SelectList)ViewBag.Year, " Select Year", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlAcademicYear" })
                                            @Html.ValidationMessageFor(m => m.AcademicYearID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.EmploymentModeID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.EmploymentModeID, (SelectList)ViewBag.EmploymentType, " Select Employment Type", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmploymentMode" })
                                            @Html.ValidationMessageFor(m => m.EmploymentModeID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RecCategoryID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.RecCategoryID, (SelectList)ViewBag.Category, " Select Recruit Category", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlRecCategory" })
                                            @Html.ValidationMessageFor(m => m.RecCategoryID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.EmployeeJobCategoryID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.EmployeeJobCategoryID, (SelectList)ViewBag.JobCategoryList, " Select Job Category", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlJobCategoryID" })
                                            @Html.ValidationMessageFor(m => m.EmployeeJobCategoryID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.UserTypeID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.UserTypeID, (SelectList)ViewBag.UserType, " Select User Type", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlUserType" })
                                            @Html.ValidationMessageFor(m => m.UserTypeID)
                                        </div>
                                    </div>

                                    <div class="form-group  col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.DepartmentID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.DepartmentID, (SelectList)ViewBag.Department, " Select Department", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlDepartment" })
                                            @Html.ValidationMessageFor(m => m.DepartmentID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.ProjectData)</label></div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.ProjectData, new { @class = "form-control", @id = "txtProjectData" })</div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.HMEmployeeID)</label></div>
                                        <div id="divHiringManager" class="col-sm-8">
                                            @Html.DropDownListFor(m => m.HMEmployeeID, (SelectList)ViewBag.HiringMangr, " Select Hiring Manager", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlHMEmploye" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.HMDesignation)</label></div>
                                        <div class="col-sm-8">@Html.TextBox("txtPosition", (string)ViewBag.Position, new { @class = "form-control", @readonly = "readonly" })</div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.PositionLocation)</label></div>
                                        <div class="col-sm-8">@Html.TextBoxFor(m => m.PositionLocation, new { @class = "form-control", @id = "txtPositionLocation" })</div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.HeadCount)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.HeadCount, new { @class = "form-control NumberOnly", @type = "number", @id = "txtHeadCount", @min = "1", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(m => m.HeadCount)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.JobGradeID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.JobGradeID, (SelectList)ViewBag.JobGrade, " Select Job Grade", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlJobGrade" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.ReportingEmployeeID)</label></div>
                                        <div class="col-sm-8">@Html.DropDownListFor(m => m.ReportingEmployeeID, (SelectList)ViewBag.HiringMangr, " Select Reporting To", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlReportingEmploye" })</div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.MinExpRequired)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.MinExpRequired, new { @class = "form-control", @type = "number", @id = "txtMinExpRequired" })
                                            @Html.ValidationMessageFor(m => m.MinExpRequired)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SourceID)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SourceID, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="N/A", Value="0" },
                                      new SelectListItem{Text="Advertisement", Value="1"},
                                      new SelectListItem{Text="Agency", Value="2"},
                                      new SelectListItem{Text="Job Portal", Value="3"},
                                      new SelectListItem{Text="Internal reference", Value="4"},
                                      new SelectListItem{Text="Company Databank", Value="5"},
                                      new SelectListItem{Text="Any other", Value="6"}
                                     }, " Select Source",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlSource" })
                                            @Html.ValidationMessageFor(m => m.SourceID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.RecruitFromID)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.RecruitFromID, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="N/A", Value="0" },
                                      new SelectListItem{Text="Locally", Value="1"},
                                      new SelectListItem{Text="Overseas", Value="2"},
                                     }, " Select Recruit From ",
                                    new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlRecruitFrom" })
                                            @Html.ValidationMessageFor(m => m.RecruitFromID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">&nbsp;@Html.DisplayNameFor(m => m.DivisionID)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.DivisionID, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="N/A", Value="0" }
                                     }, " Select Division",
                                      new { @class = "form-control selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PositionID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.PositionID, (SelectList)ViewBag.PositionTitle, " Select Position Title", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlPosition" })
                                            @Html.ValidationMessageFor(m => m.PositionID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SalaryRangesID)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SalaryRanges, (SelectList)ViewBag.SalaryRanges, " Select Salary Ranges", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlSalaryRanges" })
                                            @Html.ValidationMessageFor(m => m.SalaryRanges)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ActualBudget)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ActualBudget, new { @class = "form-control DecimalOnly", @type = "number", @id = "txtActualBudget", @min = "0" })
                                            @Html.ValidationMessageFor(m => m.ActualBudget)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.VehicleToolTrade)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.VehicleToolTrade, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="Yes", Value="true" },
                                      new SelectListItem{Text="No", Value="false"},
                                     }, " Select Vehicle Tool Trade",
                                    new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlVehicleToolTrade" })
                                            @Html.ValidationMessageFor(m => m.VehicleToolTrade)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ContractStatus)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ContractStatus, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="Single", Value="Single" },
                                      new SelectListItem{Text="Family", Value="Family"},
                                     }, " Select Contract Status",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlContractStatus" })
                                            @Html.ValidationMessageFor(m => m.ContractStatus)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" id="divSpouse">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.FamilySpouse)</label></div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.FamilySpouse, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="Self & Spouse ", Value="Self & Spouse" },
                                      new SelectListItem{Text="Self & Spouse+1  ", Value="Self & Spouse+1"},
                                      new SelectListItem{Text="Self & Spouse+2", Value="Self & Spouse+2"},
                                      new SelectListItem{Text="Self & Spouse+3 ", Value="Self & Spouse+3"},
                                      new SelectListItem{Text="Self & Spouse+4", Value="Self & Spouse+4"},
                                      new SelectListItem{Text="Self+1", Value="Self+1"},
                                      new SelectListItem{Text="Self+2", Value="Self+2"},
                                      new SelectListItem{Text="Self+3", Value="Self+3"},
                                      new SelectListItem{Text="Self+4", Value="Self+4"},

                                     }, " Select Family Spouse",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlFamilySpouse" })
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AnnualAirTicket)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.AnnualAirTicket, new List<SelectListItem>
                                     {
                                      new SelectListItem{Text="Yes", Value="true" },
                                      new SelectListItem{Text="No", Value="false"},
                                     }, " Select Annual Ticket",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlAnnualAirTicket" })
                                            @Html.ValidationMessageFor(m => m.AnnualAirTicket)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AirfareFrequencyID)</label></div>

                                        <div class="col-sm-8">
                                            @*@Html.DropDownListFor(m => m.AirfareFrequencyID, new List<SelectListItem>
                                                {
                                                 new SelectListItem{Text="N/A", Value="0" },
                                                 new SelectListItem{Text="Not Applicable", Value="1"},
                                                 new SelectListItem{Text="Annual", Value="2"},
                                                 new SelectListItem{Text="Every 2 years", Value="3"},
                                                }, " Select Air Ticket Frequency",
                                                   new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlAirfareFrequency" })*@
                                            @Html.DropDownListFor(m => m.AirfareFrequencyID, (SelectList)ViewBag.EmployeeAirfareFrequencyList, " Select Air Ticket Frequency", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlAirfareFrequency" })
                                            @Html.ValidationMessageFor(m => m.AirfareFrequencyID)

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.AirfareClassID)</label></div>

                                        <div class="col-sm-8">
                                            @*@Html.DropDownListFor(m => m.AirfareClassID, new List<SelectListItem>
                                                 {
                                                    new SelectListItem{Text="N/A", Value="0" },
                                                    new SelectListItem{Text="Economy Class", Value="1" },
                                                    new SelectListItem{Text="Bussiness Class", Value="2"}
                                                }, " Select Air Fare Class",
                                                new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlAirfareClass" })*@
                                            @Html.DropDownListFor(m => m.AirfareClassID, (SelectList)ViewBag.EmployeeAirfareClassesList, " Select Air Fare Class", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlAirfareClass" })
                                            @Html.ValidationMessageFor(m => m.AirfareClassID)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.HealthInsurance)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.HealthInsurance, new List<SelectListItem>
                                         {
                                          new SelectListItem{Text="Yes", Value="true" },
                                          new SelectListItem{Text="No", Value="false"},
                                         }, " Select Health Insurance",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlHealthInsurance" })
                                            @Html.ValidationMessageFor(m => m.HealthInsurance)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.LifeInsurance)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.LifeInsurance, new List<SelectListItem>
                                         {
                                          new SelectListItem{Text="Yes", Value="true" },
                                          new SelectListItem{Text="No", Value="false"},
                                         }, " Select Life Insurance",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlLifeInsurance" })
                                            @Html.ValidationMessageFor(m => m.LifeInsurance)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.SalikTag)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SalikTag, new List<SelectListItem>
                                         {
                                          new SelectListItem{Text="Yes", Value="true" },
                                          new SelectListItem{Text="No", Value="false"},
                                         }, " Select Salik Tag",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlSalikTag" })
                                            @Html.ValidationMessageFor(m => m.SalikTag)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" id="divSalikTag">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.SalikAmount)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.SalikAmount, new { @class = "form-control DecimalOnly", @id = "txtSalikAmount" })
                                            @Html.ValidationMessageFor(m => m.SalikAmount)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.PetrolCard)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.PetrolCard, new List<SelectListItem>
                                         {
                                          new SelectListItem{Text="Yes", Value="true" },
                                          new SelectListItem{Text="No", Value="false"},
                                         }, " Select Petrol Card",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlPetrolCard" })
                                            @Html.ValidationMessageFor(m => m.PetrolCard)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" id="divPetrolCard">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.PetrolCardAmount)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.PetrolCardAmount, new { @class = "form-control DecimalOnly", @id = "txtPetrolCardAmount", @min = "0" })
                                            @Html.ValidationMessageFor(m => m.PetrolCardAmount)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ParkingCard)</label></div>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ParkingCard, new List<SelectListItem>
                                         {
                                          new SelectListItem{Text="Yes", Value="true" },
                                          new SelectListItem{Text="No", Value="false"},
                                         }, " Select Parking Card",
                                        new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlParkingCard" })
                                            @Html.ValidationMessageFor(m => m.ParkingCard)
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" id="divParking">
                                        <div class="col-sm-4"><label class="label-form">@Html.DisplayNameFor(m => m.ParkingAreas)</label></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ParkingAreas, new { @class = "form-control", @id = "txtParkingAreas" })
                                            @Html.ValidationMessageFor(m => m.ParkingAreas)
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.JobDescriptionFileID)</label></div>
                                        @{
                                            var itemJD = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.JobDescriptionFileID);
                                            if (itemJD != null && itemJD.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemJD.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_JD">@itemJD.FileName.Substring(0, 15)</span><div id="file_caption_id_JD"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_JD">@itemJD.FileName.ToString()</span><div id="file_caption_id_JD"></div>
                                                            }


                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_JD" onclick="RemoveDocument('JD', 'JobDescriptionFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_JD"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_JD"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_JD" class="PreviewName">
                                                        <a id="PreviewFile" href="javascript:void(0);" onclick="OpenFilePreview(@Model.JobDescriptionFileID);">@itemJD.FileName</a>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_JD" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_JD" />
                                                    <input type="hidden" value="@Model.JobDescriptionFileID" id="hdnFileUpload_JD" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_JD"></span><div id="file_caption_id_JD"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_JD" onclick="RemoveDocument('JD', 'JobDescriptionFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_JD"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_JD"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_JD" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_JD" class="field-validation-error" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_JD" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_JD" />
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.OrgChartFileID)</label></div>
                                        @{

                                            var itemOC = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.OrgChartFileID);
                                            if (itemOC != null && itemOC.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemOC.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_OC">@itemOC.FileName.Substring(0, 15)</span><div id="file_caption_id_OC"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_OC">@itemOC.FileName.ToString()</span><div id="file_caption_id_OC"></div>
                                                            }
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_OC" onclick="RemoveDocument('OC', 'OrgChartFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_OC"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_OC"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_OC" class="PreviewName">
                                                        <a id="PreviewFile_OC" href="javascript:void(0);" onclick="OpenFilePreview(@Model.OrgChartFileID);">@itemOC.FileName</a>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_OC" style="margin-bottom: 15px;display:block;"> </span>
                                                    <a id="uploadedFile_OC" href="" style="display:none"></a>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_OC" />
                                                    <input type="hidden" value="@Model.OrgChartFileID" id="hdnFileUpload_OC" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_OC"></span><div id="file_caption_id_OC"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_OC" onclick="RemoveDocument('OC', 'OrgChartFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_OC"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_OC"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_OC" class="PreviewName">
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_OC" class="field-validation-error" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_OC" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_OC" />
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-4"><label class="label-form"><span class="required-field">*</span>&nbsp;@Html.DisplayNameFor(m => m.ManPowerFileID)</label></div>
                                        @{
                                            var itemMP = Model.AllFormsFilesModelList.FirstOrDefault(x => x.FileID == Model.ManPowerFileID);
                                            if (itemMP != null && itemMP.FileName != null)
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            @if (itemMP.FileName.Length > 15)
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_MP">@itemMP.FileName.Substring(0, 15)</span><div id="file_caption_id_MP"></div>
                                                            }
                                                            else
                                                            {
                                                                <span class="glyphicon glyphicon-file kv-caption-icon" id="file_caption_name_MP">@itemMP.FileName.ToString()</span><div id="file_caption_id_MP"></div>
                                                            }
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" id="btnRemove_MP" onclick="RemoveDocument('MP', 'ManPowerFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" style="display:none;" id="divBrowse_MP"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_MP"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_MP" class="PreviewName">
                                                        <a id="PreviewFile_MP" href="javascript:void(0);" onclick="OpenFilePreview(@Model.ManPowerFileID);">@itemMP.FileName</a>
                                                    </div>
                                                    <span id="txtuploadedMsgAdd_MP" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_MP" />
                                                    <input type="hidden" value="@Model.ManPowerFileID" id="hdnFileUpload_MP" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                                            <span class="glyphicon glyphicon-file kv-caption-icon" style="display:none;" id="file_caption_name_MP"></span><div id="file_caption_id_MP"></div>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button" style="display:none;" id="btnRemove_MP" onclick="RemoveDocument('MP','ManPowerFileID')"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                                            <div class="btn btn-primary btn-file" id="divBrowse_MP"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input type="file" multiple="" name="file" id="fu_MP"></div>
                                                        </div>
                                                    </div>
                                                    <div id="divPreview_MP" class="PreviewName"></div>
                                                    <span id="txtuploadedMsgAdd_MP" class="field-validation-error" style="margin-bottom: 15px;display:block;"> </span>
                                                    <input type="hidden" value="0" id="hdnDeletedFileUpload_MP" />
                                                    <input type="hidden" value="0" id="hdnFileUpload_MP" />
                                                </div>
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset class="fieldset-Section">
                            <legend class="legend-border">

                                <label class="label-form" style="font-size:12px !important">
                                    @Html.DisplayNameFor(m => m.Comments)
                                </label>
                                <label id="lblCharsLeft_txtComments" class="label-form" style="font-size:12px !important"> </label>
                            </legend>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control calculatecharsleft", @maxlength = 2000, @id = "txtComments" })
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    @if (Model.FormProcessID > 0)
                    {
                        <div class="form-group col-sm-12" style="margin-top: -10px !important;">
                            @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.FormProcessID }); }
                        </div>
                                }
                </div>
                <div class="panel-footer">
                    <div class="form-group pull-left">
                        @if (Model.ReqStatusID == (int)RequestStatus.Rejected)
                        {
                            <button type="button" title="Re-Submit Request" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Re-Submit Request</button>
                        }
                        else
                        {
                            <button type="button" title="Submit Request" id="btnSave" class="btn btn-rounded btn-primary btnSave"><i class="fa fa-floppy-o"></i> Submit</button>
                        }
                        <button type="button" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/js/plugins/form/jquery.form.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $jquery = jQuery.noConflict(true);

    $jquery("#fu_JD").change(function () {
        $('#divPreview_JD').html('');
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_JD").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_JD").text("");
                $jquery("#divBrowse_JD").hide();
                //$jquery("#btnUploadAdd_JD").show();
                $jquery("#btnRemove_JD").show();
                $jquery("#file_caption_name_JD").show();
                $jquery("#file_caption_id_JD").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_JD").val("2");
                var fileJD = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_JD').append('<a href="' + fileJD + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_JD").val('0');

            }
            else {
                $jquery("#txtuploadedMsgAdd_JD").text("Maximum 2MB file size is allowed to upload.");
                //   $jquery("#btnUploadAdd_JD").hide();
                $jquery("#divAddInforamtionDialog_JD").hide();
                $jquery("#divPreview_JD").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_JD").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            //  $jquery("#btnUploadAdd_JD").hide();
            $jquery("#divAddInforamtionDialog_JD").hide();
        }
    });
    $jquery("#fu_OC").change(function () {
        $('#divPreview_OC').html('');
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_OC").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_OC").text("");
                $jquery("#divBrowse_OC").hide();
                //$jquery("#btnUploadAdd_OC").show();
                $jquery("#btnRemove_OC").show();
                $jquery("#file_caption_name_OC").show();
                $jquery("#file_caption_id_OC").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_OC").val("2");
                var fileOC = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_OC').append('<a href="' + fileOC + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_OC").val('0');
            }
            else {
                $jquery("#txtuploadedMsgAdd_OC").text("Maximum 2MB file size is allowed to upload.");
                // $jquery("#btnUploadAdd_OC").hide();
                $jquery("#divAddInforamtionDialog_OC").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_OC").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            // $jquery("#btnUploadAdd_OC").hide();
            $jquery("#divAddInforamtionDialog_OC").hide();
        }
    });
    $jquery("#fu_MP").change(function () {
        $('#divPreview_MP').html('');
        var file = this.files[0];
        fileName = file.name;
        size = file.size;
        type = file.type;
        var fileNameExt = file.name.substr(fileName.lastIndexOf('.') + 1);
        $jquery("#txtuploadedMsgAdd_MP").css("color", "red");

        if ($jquery.inArray(fileNameExt.toLowerCase(), validExtensions) != -1) {
            if (size <= 2097152) {
                $jquery("#txtuploadedMsgAdd_MP").text("");
                $jquery("#divBrowse_MP").hide();
                //$jquery("#btnUploadAdd_MP").show();
                $jquery("#btnRemove_MP").show();
                $jquery("#file_caption_name_MP").show();
                $jquery("#file_caption_id_MP").html(fileName.substring(0, 15));
                $jquery("#chkFileUpload_MP").val("2");
                var fileMP = URL.createObjectURL(event.target.files[0]);
                $jquery('#divPreview_MP').append('<a href="' + fileMP + '" target="_blank">' + event.target.files[0].name + '</a>');
                $("#hdnDeletedFileUpload_MP").val('0');
            }
            else {
                $jquery("#txtuploadedMsgAdd_MP").text("Maximum 2MB file size is allowed to upload.");
                //$jquery("#btnUploadAdd_MP").hide();
                $jquery("#divAddInforamtionDialog_MP").hide();
            }
        }
        else {
            $jquery("#txtuploadedMsgAdd_MP").text("Only JPG,JPEG,PNG,GIF,PDF,XLS,XLSX,PPT,PPTX,DOC and DOCX extension files are allowed to upload.");
            // $jquery("#btnUploadAdd_MP").hide();
            $jquery("#divAddInforamtionDialog_MP").hide();
        }
    });

</script>

@section Scripts
{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Forms/R1UnBudgetedReplacement.js"></script>
}
