﻿@model HRMS.Entities.Forms.HiringR1UnBudgetedReplacementViewModel
@{
    ViewBag.Title = "HRMS - Hiring R1 UnBudgeted Replacement";

}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Hiring R1 UnBudgeted Replacement</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-sm-8 padding-0">
                    <h3 class="panel-title">
                        <span class="fa fa-cubes"></span>
                        Hiring R1 UnBudgeted Replacement
                        <span>(Request ID : @Model.RequestID)</span>
                    </h3>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-info btn-rounded btn-condensed btn-sm btnBack"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <fieldset class="fieldset-Section">
                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Requester Details:
                            </span>

                        </legend>
                        @{ Html.RenderAction("GetRequesterInfoDetails", new { formID = 29, requestDate = Model.R1UnBudgetedReplacementModel.CreatedOn, employeeID = Model.R1UnBudgetedReplacementModel.RequesterEmployeeID, isAddMode = false, formProcessId = Model.R1UnBudgetedReplacementModel.FormProcessID }); }
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="fieldset-Section">

                        <legend class="legend-border">
                            <span class="label-form legend-title-font">
                                Hiring Details:
                            </span>

                        </legend>
                        <div class="col-sm-12">
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ReplacementEmployee)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.ReplacementEmployee, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="label-form"> @Html.LabelFor(m => m.R1UnBudgetedReplacementModel.CompanyID)</label>
                                    </div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.CompanyName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.AcademicYearID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AcademicYearName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.EmploymentModeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmploymentModeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.RecCategoryID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecCategoryName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.EmployeeJobCategoryID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.EmployeeJobCategoryName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.UserTypeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.UserTypeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.DepartmentID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.DepartmentName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ProjectData)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.ProjectData, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.HMEmployeeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.HMEmployeeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.HMDesignation)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.HMDesignation, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.PositionLocation)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.PositionLocation, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.HeadCount)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.HeadCount, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.JobGradeName)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.JobGradeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ReportingEmployeeID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.ReportingEmployeeName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.MinExpRequired)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.MinExpRequired, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.SourceID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.SourceName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.RecruitFromID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.RecruitFromName, new { @class = "form-control" })</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 alternatecolor">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.PositionID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.PositionTitle, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.SalaryRangesID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.SalaryRanges, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ActualBudget)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.ActualBudget, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.VehicleToolTrade)</label></div>

                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.VehicleToolTrade != null && (bool)Model.R1UnBudgetedReplacementModel.VehicleToolTrade)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }

                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ContractStatus)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.ContractStatus, new { @class = "form-control" })</span></div>
                                </div>
                                @if (Model.R1UnBudgetedReplacementModel.ContractStatus == "Family")
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.FamilySpouse)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.FamilySpouse, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.AnnualAirTicket)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.AnnualAirTicket != null && (bool)Model.R1UnBudgetedReplacementModel.AnnualAirTicket)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.AirfareFrequencyID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareFrequencyName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.AirfareClassID)</label></div>
                                    <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.AirfareClassName, new { @class = "form-control" })</span></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.HealthInsurance)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.HealthInsurance != null && (bool)Model.R1UnBudgetedReplacementModel.HealthInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.LifeInsurance)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.LifeInsurance != null && (bool)Model.R1UnBudgetedReplacementModel.LifeInsurance)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.SalikTag)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.SalikTag != null && (bool)Model.R1UnBudgetedReplacementModel.SalikTag)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.R1UnBudgetedReplacementModel.SalikTag != null && (bool)Model.R1UnBudgetedReplacementModel.SalikTag)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.SalikAmount)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.SalikAmount, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.PetrolCard)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.PetrolCard != null && (bool)Model.R1UnBudgetedReplacementModel.PetrolCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.R1UnBudgetedReplacementModel.PetrolCard != null && (bool)Model.R1UnBudgetedReplacementModel.PetrolCard)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.PetrolCardAmount)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.PetrolCardAmount, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ParkingCard)</label></div>
                                    <div class="col-sm-8">
                                        @if (Model.R1UnBudgetedReplacementModel.ParkingCard != null && (bool)Model.R1UnBudgetedReplacementModel.ParkingCard)
                                        {
                                            <span class="label-form">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label-form">No</span>
                                        }
                                    </div>
                                </div>
                                @if (Model.R1UnBudgetedReplacementModel.ParkingCard != null && (bool)Model.R1UnBudgetedReplacementModel.ParkingCard)
                                {
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ParkingAreas)</label></div>
                                        <div class="col-sm-8"><span class="label-form">@Html.DisplayFor(m => m.R1UnBudgetedReplacementModel.ParkingAreas, new { @class = "form-control" })</span></div>
                                    </div>
                                }
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form"> @Html.LabelFor(m => m.R1UnBudgetedReplacementModel.DivisionID) </label></div>
                                    <div class="col-sm-8">
                                        <span class="label-form">
                                            @Html.DisplayFor(m => m.DivisionName, new { @class = "form-control" })
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.JobDescriptionFileID)</label></div>
                                    <div class="col-sm-8">
                                        <a id="PreviewFile_JD" href="javascript:void(0);" onclick="OpenFilePreview('HiringR1Replacement',@Model.R1UnBudgetedReplacementModel.JobDescriptionFileID);"><span class="label-form">@Model.JobDescriptionFileName</span></a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.OrgChartFileID)</label></div>
                                    <div class="col-sm-8">
                                        <a id="PreviewFile_OC" href="javascript:void(0);" onclick="OpenFilePreview('HiringR1Replacement',@Model.R1UnBudgetedReplacementModel.OrgChartFileID);"><span class="label-form">@Model.OrgChartFileName</span></a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-4"><label class="label-form">@Html.LabelFor(m => m.R1UnBudgetedReplacementModel.ManPowerFileID)</label></div>
                                    <div class="col-sm-8">
                                        <a id="PreviewFile_MP" href="javascript:void(0);" onclick="OpenFilePreview('HiringR1Replacement',@Model.R1UnBudgetedReplacementModel.ManPowerFileID);"><span class="label-form">@Model.ManPowerFileName</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="row">
                    @{ Html.RenderAction("GetFormsApprovalHistory", new { formProcessID = Model.R1UnBudgetedReplacementModel.FormProcessID }); }
                </div>
                <br />
            </div>
            <div class="panel-footer">
                <div class="form-group pull-left">
                    <button type="button" onclick="BackToTaskList();" title="Back To Task List" id="btnBack" class="btn btn-rounded btn-info btnBack"><i class="fa fa-arrow-left"></i> Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

