﻿@{
    ViewBag.Title = "Certificate Printing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Certificate Printing</li>
    </ul>
}


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <h3 class="panel-title"><span class="fa fa-user"></span>  Certificate Printing</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a class="profile-control-left filter-icon">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 padding-0">
                        <div class="col-sm-12 padding-0">
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Organization Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlOrganization", (SelectList)ViewBag.Company, " Select Organization Name", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="col-sm-12 padding-0">
                                    <div class="col-sm-3 padding-0">
                                        <label class="label-form">
                                            Employee Name:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlEmployee", new List<SelectListItem>(), " Select Employee", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 padding-1">
                        <div class="col-sm12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <input type="button" id="btnSearch" class="btn btn-primary" value="Preview" onclick="loadCertificatePrintingGrid()">
                            </div>
                            <div id="exportIcon" class="col-sm-7 padding-0 margin_bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-sm-12 innerdiv">
                    <table id="tblCertificatePrintingGrid" class="table table-bordered table-striped" style="" width="100%"></table>
                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/Forms/CertificatePrinting.js"></script>
