﻿@model IList<HRMS.Entities.PDRP.FormAssignmentModel>

<div class="col-lg-12 form-group">

    <table id="tblFormAssignmentGrid" class="table  table-bordered alternatecolor">
        <thead>
            <tr>
                @*Company Name, EmpID, Employee Name, Department, Designation, Line Manager, Email*@
                <td>Company Name</td>
                <td>EMP ID</td>
                <td>Employee Name</td>
                <td>Department</td>
                <td>Designation</td>
                <td>Line Manager</td>
                <td>Email</td>
                <td>Update</td>
                <td>Performance Group</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr class="row1">
                <td>@item.CompanyName</td>
                <td>@item.EmployeeAlternativeID</td>
                <td>@item.EmployeeName</td>
                <td>@item.DepartmentName</td>
                <td>@item.Designation</td>
                <td>@item.LineManager</td>
                <td>@item.Email</td>
                <td class="center-text-align">
                    @Html.CheckBox("chUpdate", new { @id = "chUpdate", @class = "ch" })
                </td>
                <td>
                    @Html.DropDownListFor(x => item.PerformanceGroupId
                                         , new SelectList(ViewBag.PerformanceGroup, "Value", "Text", item.PerformanceGroupId)
                                         , new
                                         {
                                             @class = "form-control selectpicker selectpickerddl performcacegroup",
                                             @data_live_search = "true",
                                             @id = "PerformanceGroupId",
                                             @data_employeeid = item.EmployeeID,
                                             @data_id = item.ID
                                         })
                </td>
            </tr>
                }
            }
        </tbody>

    </table>


</div>



<br />





