﻿
@{
    ViewBag.Title = "PDRP Form Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Form Assignment</li>
    </ul>
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4 padding-1">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Form Assignment
                    </h3>
                </div>
                <div class="col-sm-4">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-md-2 pull-right">
                    <ul class="panel-controls">
                        <li class="dropdown open">
                            <a href="javascript:void(0);" title="Approve" id="btnApprove" class="btnadd"><span class="fa fa-floppy-o"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 pull-right">
                </div>
            </div>
            <div class="panel-body">
                <div class="row margin_bottom">
                    <div class="col-sm-5 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Organization Name:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " Select Organization", new { @class = "form-control selectpicker", @data_live_search = "true", @onchange= "CompanyIDChange(this)" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Department:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Department, "Select Department", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlDepartment" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row margin_bottom">

                    <div class="col-sm-5 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Line Manager:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlLineManager", (SelectList)ViewBag.LineManager, " Select Line Manager", new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-5 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Performance Group:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlPerformanceGroup", new List<SelectListItem>
                                           {
                                           new SelectListItem{Text="Form A", Value="1" },
                                           new SelectListItem{Text="Form B", Value="2"},
                                           new SelectListItem{Text="Form C", Value="3"},
                                            new SelectListItem{Text="Form D", Value="4"},
                                           }, "Select Performance Group", new { @class = "form-control selectpicker selectpickerddl" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 pull-right" style="margin-left: 15px;">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                    </div>
                </div>

            </div>
            <hr>
            <div class="row margin_bottom">
                <div class="col-sm-12 padding-1">
                    <div class="col-sm-12 margin_bottom padding-0">
                        <div id="divFormsAssignment">

                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-sm-1"> @*Naresh 2020-02-26 Added icon for design*@
                    <button type="submit" title="Approve" id="btnApprove" class="btn btn-rounded btn-primary"><i class="fa fa-floppy-o"></i> Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/PDRP/FormAssignment.js"></script>