﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/assets/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="error-container">
        <div class="error-code">ERROR</div>
        @*<div class="error-text">page not found</div>*@
        <div class="error-subtext">@Model.Exception.Message. Please wait a moment and try again or use action below.</div>
        <div class="error-actions">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-info btn-block btn-lg" href="@Url.Action("Index","Home")">Back to dashboard</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-block btn-lg" onclick="history.back();">Previous page</a>
                </div>
            </div>
        </div>
        @*<div class="error-subtext">Or you can use search to find anything you need.</div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" placeholder="Search..." class="form-control" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</body>
</html>









	

