﻿@{

    Layout = null;

    if (Session["currentUser"] != null)
    {

        Layout = "/Views/Shared/_Layout.cshtml";

    }
    else
    {
        Layout = "/Views/Shared/_LayoutAnonymous.cshtml";
    }
}

<h2>Error</h2>

@if (TempData["errMessage"] != "" && TempData["errMessage"] != null)
{
    <div class="form-horizontal col-md-12">
        <div class="col-md-2"></div>
        <div class="text-danger col-md-9">@TempData["errMessage"]</div>
    </div>
    <br /> <br />
}




