﻿@{
    Layout = null;
}

 
<div>
    <table id="tbl_EmiratesList" class="display table table-bordered table-striped"></table>
</div>

<input type="hidden" value="@ViewBag.empid.ToString()" id="hidSelectedEMP" name="hidSelectedEMP" />

<script type="text/javascript">
    document.getElementById("btn_addEmirates").setAttribute("onclick", "AddEmirates('@ViewBag.DocTypeName.ToString()')");
</script>




