﻿
@{
    ViewBag.Title = "Expense Claim Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_info {
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h4 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Expense Claim Status Report
                    </h4>
                </div>
                <div class="col-sm-4">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row margin_bottom">
                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Enter Request ID:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.TextBox("RequestID", "", new { @class = "form-control", @type = "number" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Select Organization:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, " All Organizations", new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Select Department:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Department, " All Department", new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Select Request Status:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.DropDownList("ddlCurrentStatus", new List<SelectListItem>
                                         {
                                          new SelectListItem{Text="All Status", Value="0" },
                                          new SelectListItem{Text="Pending", Value="1"},
                                          new SelectListItem{Text="Rejected", Value="3"},
                                          new SelectListItem{Text="Completed", Value="4"},
                                         },
                                         new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin_bottom">
                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Select Date From:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0 input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("FromDate", null, new { @class = "form-control DOB" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Select Date To:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0 input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                @Html.TextBox("ToDate", null, new { @class = "form-control DOB" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                            </div>
                            <div class="col-sm-7 padding-0">
                                <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
            <div class="row form-horizontal" id="divDownloadExcel">
                <hr>
                <div class="row innerdiv col-md-12">
                    <ul class="panel-controls">
                        <li>
                            <a href="javascript:void(0);" class="btnadd toggle" data-toggle="exportTable" title="Download Excel"><span class="fa fa-download"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="row innerdiv col-md-12" id="exportTable" style="display: none;margin-bottom: -24px;margin-top: -7px;">
                    <br />
                    <div class="row" style="margin-right: -10px;">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <a href="#" class="list-group-item" onClick="ExportToExcel()"><img src='/Content/assets/img/icons/xls.png' width="24" /> Download Excel</a>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row form-horizontal">
                <div class="row innerdiv">
                    <div class="table-responsive">
                        <table id="tblExpenseClaimStatusReportGrid" class="table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/FormsReporting/ExpenseClaimStatusReport.js"></script>
<script src="~/Scripts/Custom/FormsReporting/FormsReporting.js"></script>