﻿@{
    ViewBag.Title = "HRMS - Forms Reports";
    HRMS.DataAccess.DBHelper objDBHelper = new HRMS.DataAccess.DBHelper();
    HRMS.Entities.ViewModel.UserContextViewModel userContext = new HRMS.Entities.ViewModel.UserContextViewModel();
    userContext = (HRMS.Entities.ViewModel.UserContextViewModel)Session["userContext"];
    List<HRMS.Entities.General.MenuNavigationModel> objMenuNavigationModelList = new List<HRMS.Entities.General.MenuNavigationModel>();
    objMenuNavigationModelList = objDBHelper.GetMenuNavigationList();
    int mainNavSubCategoryID = 0;
    if (objMenuNavigationModelList.Where(x => userContext.Permisssion.Contains(x.MainNavigationSubCategoryId) == true && x.URL.ToLower() == "forms reports").Count() > 0)
    {
        mainNavSubCategoryID = objMenuNavigationModelList.Where(x => x.URL.ToLower() == "forms reports").First().MainNavigationSubCategoryId;
    }
    var reportList = objMenuNavigationModelList.Where(x => x.MainNavigationId == mainNavSubCategoryID).OrderBy(x => x.SortingOrder).ThenBy(x => x.MainNavigationSubCategoryName).ToList();
    var formstypeList = objMenuNavigationModelList.Where(x=>x.MainNavigationId == mainNavSubCategoryID).Select(x => x.URL).Distinct();

    List<int> LoadedReportIds = new List<int>();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/assets/css/jstree/jstree.min.css" rel="stylesheet" />
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Forms/Reporting"><i class="fa fa-home"></i>Forms Reports</a></li>
        <li class="active">Forms Reports</li>
    </ul>
}
<a target="_blank" href="#" id="templink"></a>
<div id="jsTreeMainDiv" class="row col-sm-12">
    <div class="col-sm-12">
        <div id="" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forms Reports</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                   @foreach (var fType in formstypeList)
                   {
                   //  var t= fType.
                    <h3><span class="fa fa-list"></span>@fType</h3>
                    <div class="push-down-20 reportJsTree">
                        <ul>
                            @foreach (var parentNav in reportList.Where(x => x.URL == fType).ToList())
                            {
                                var parentlink = parentNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");
                                if (objMenuNavigationModelList.Where(x => x.MainNavigationId == parentNav.MainNavigationSubCategoryId).Count() > 0)
                                {
                                    <li class="noLink">
                                        @Html.Raw(parentlink.Trim())
                                        <ul>
                                            @foreach (var childNav in objMenuNavigationModelList.Where(x => x.MainNavigationId == parentNav.MainNavigationSubCategoryId))
                                            {
                                                var childlink = childNav.MainNavigationSubCategoryHTMLLink.Replace("<li>", "").Replace("</li>", "");
                                                <li>@Html.Raw(childlink.Trim())</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @Html.Raw(parentlink.Trim())
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                   }
                </div>
               
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Content/assets/js/plugins/jstree/jstree.js"></script>
    <script>

        $(document).ready(function () {
            $(".reportJsTree").find("a").attr("onclick", "ShowLink(this)");
            $(".reportJsTree").find("a").find("span.fa").attr("class", "fa fa-file-text");
            $(".reportJsTree").jstree({
            });
            $(".reportJsTree").bind("select_node.jstree", function (event, data) {
                // data.inst is the tree object, and data.rslt.obj is the node
                return  data.instance.toggle_node(data.node);
            });
        });

        function ShowLink(e) {
            //ShowMessage('success', $(e).attr('href')); noLink
            if (!$(e).closest('li').hasClass("noLink")) {
                $('#templink').attr('href', $(e).attr('href'));
                document.getElementById("templink").click();
            }
        }
    </script>

}
