﻿
@{
    ViewBag.Title = "HRMS - Leave Accrual Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Leave Accrual Report</li>
    </ul>
}
<style>
    .dataTables_wrapper {
        float: left;
        width: auto;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-sm-4 padding-0">
                    <h4 class="panel-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Leave Accrual Report
                    </h4>
                </div>
                <div class="col-sm-4">
                    <div class="div-center">

                        <a class="profile-control-left filter-icon">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row margin_bottom">
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Select Organization:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.DropDownList("ddlOrganization", (SelectList)ViewBag.Company, " All Organizations", new { @class = "form-control selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    Select Department:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Department, "All Department", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlDepartment" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    Select Employee:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.DropDownList("ddlEmployee", (SelectList)ViewBag.Employee, "All Employees", new { @class = "form-control selectpicker", @data_live_search = "true", @id = "ddlEmployee" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-1 pull-right">
                            <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                        </div>*@

                </div>
                <div class="row margin_bottom">
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-4 padding-0">
                                <label class="label-form">
                                    From Date:
                                </label>
                            </div>
                            <div class="col-sm-8 padding-0">
                                @Html.TextBox("FromDate", null, new { @class = "form-control DOB", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-1">
                        <div class="col-sm-12 padding-0">
                            <div class="col-sm-5 padding-0">
                                <label class="label-form">
                                    To Date:
                                </label>
                            </div>
                            <div class="col-sm-7 padding-0">
                                @Html.TextBox("ToDate", null, new { @class = "form-control DOB", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 padding-1">
                        <div class="col-sm-12 padding-0">

                        </div>
                    </div>
                    <div class="col-sm-1 pull-right">
                        <input type="button" id="btnSearch" class="btn btn-primary" value="Preview">
                    </div>

                </div>
            </div>
            <div class="row form-horizontal">
                <hr>
                <div class="row innerdiv">
                    <div id="exportIcon" class="col-sm-12 padding-0 margin_bottom">
                        <div class="pull-right" style="padding-right:6px;">
                            <span onclick="ExportToExcel()" title="Export to Excel" class="fa fa-file-excel-o fa-1x text-success cursorPointer icon-Export"></span>
                        </div>
                    </div>
                </div>
                <div class="row innerdiv">
                    <div class="table-responsive">
                        <table id="tblLeaveAccrualGrid" class="table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/Custom/LaunchDatepicker.js"></script>
<script src="~/Scripts/Custom/FormsReporting/LeaveAccrualReport.js"></script>
<script src="~/Scripts/Custom/FormsReporting/FormsReporting.js"></script>